/* CSS Document */
html{

}

body{
/*	font-family: 'Roboto Condensed', sans-serif; */
/*	width: 100%;*/
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJv3rz5zwjjgzgiIiKMYAEYB8RmROaABAARVA/IbgZ16QAAAABJRU5ErkJggg==) 
	repeat;
    color: #545454;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

/*
footer{
	margin-top: 2em;
}
*/

ol>li{
display:block;
}

ol>li:before{
content:counters(item,".") ". ";
counter-increment:item
}
ol{
counter-reset:item
}

input[type="checkbox"]{
	margin: 0px;
}

.action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0.5rem;
  }

.explanation{
	margin-bottom: 1rem;
}
.content-hidden {
	display: none;
	visibility: hidden;
}

.content-show {
	visibility: visible;
	display: block;
}
