/* CSS Document */
html{

}

body{
/*	font-family: 'Roboto Condensed', sans-serif; */
/*	width: 100%;*/
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJv3rz5zwjjgzgiIiKMYAEYB8RmROaABAARVA/IbgZ16QAAAABJRU5ErkJggg==) 
	repeat;
    color: #545454;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

/*
footer{
	margin-top: 2em;
}
*/

ol>li{
display:block;
}

ol>li:before{
content:counters(item,".") ". ";
counter-increment:item
}
ol{
counter-reset:item
}

input[type="checkbox"]{
	margin: 0px;
}

.action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0.5rem;
  }

.explanation{
	margin-bottom: 1rem;
}
.content-hidden {
	display: none;
	visibility: hidden;
}

.content-show {
	visibility: visible;
	display: block;
}

.card {

  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  color: #272727;
  text-align: center;

  border-radius: 2px; }
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0;
    text-align: center; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: #ffab40;
    /*margin-right: 1.3rem;*/
    transition: color 0.3s ease;
    /*text-transform: uppercase;*/
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; }

.tabs-content > .content{
  padding-left: 13rem;
}
.colorred{
  color: red;
}
.colorblue{
  color: blue;
}

.coloryellow{
  color: yellow;
}

.colorgreen{
  color: green;
}
