extends ../layouts/html_layout.jade

block title
	title= site_title + " Креатив"

block content
	div.row: div.large-12.columns: h2 Креатив
	div.row: div.large-12.columns
		h3 Сайтостроение
		ol Инструментарий
			li
				a(href="http://prismjs.com" target="_blank") PrismJS 
				| - выделение кода на странице
			li
				a(href="https://github.com/kokes/nbviewer.js" target="_blank") nbviewer.js 
				| - компиляция jupyter notebook прямо в браузере на странице
			li
				a(href="https://pugjs.org/" target="_blank") Официальный сайт PugJS 
				| - препроцессор pug
			li 
				a(href="http://brackets.io" target="_blank") Brackets 
				| - pедактор кода (HTML, CSS, Javascript)
			li
				a(href="http://ghbtns.com/" target="_blank") Кнопки 
				| (fork, watch) для github

			li
				a(href="http://microjs.com/" target="_blank") microjs 
				| Коллекция минималистичных библиотек Javascript
			li 
				a(href="http://www.javascripting.com/" target="_blank") javascripting.com 
				| База библиотек Javascript
			li
				a(href="http://www.jointjs.com/demos/erd" target="_blank") jointjs  
				| Javascript библтотека. Платная. Для создания диаграмм и т.п. 
		ol Хостинг
			li 
				a(href="https://www.digitalocean.com/community/tutorials" target="_blank") DigitalOcean		

		ol Локальные бесплатные сервера для разработки
			li
				a(href="http://open-server.ru" target="_blank") Open-Server 
				| Русскоязычный. Поддерживает php8, Composer 
			li 
				a(href="https://www.appservnetwork.com" target="_blank") AppServ 
				| Поддерживает php7	
			li
				a(href="http://www.zend.com/en/products/server/developer-editions-comparison" target="_blank") Zend Server 
				| Бесплатно для сертифицированных специалистов, студентов, преподавателей и для открытых пректов.
				
		h3 Видео, аудио
		ol Аудиоредакторы
			li
				a(href="https://www.audacityteam.org/" target="_blank") Audacityteam 
				| Русскоязычный интерфейс, бесплатный
		ol Видеоредакторы
			li
				a(href="https://www.openshot.org/" target="_blank") Openshot 
				| Русскоязычный интерфейс, бесплатный