extends ../layouts/html_layout.jade

block title
	title= site_title + " Сайтостроение"

block content
	div.row: div.large-12.columns: h2 Сайтостроение
	div.row: div.large-12.columns
		h3 Полезные ресурсы
		ol Инструментарий
			li
				a(href="http://jade-lang.com") Jade 
				| - препроцессор jade
			li 
				a(href="http://brackets.io") Brackets 
				| - pедактор кода (HTML, CSS, Javascript)
			li
				a(href="http://htmllinks.ru") Каталог 
				| ссылок по теме HTML, CSS, Javascript
			li: a(href="http://ghbtns.com/") Кнопки (fork, watch) для github 
		