extends ../layouts/code_layout.jade

block title
	title= site_title + " Полезное"
	

block content
	div.row
		div.column.text-center
			h3 Полезное

	div.grid-container.fluid.text-center
		div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-3
			div.cell.small-4.callout.primary
				a(href="../lv/index.html") Латышский язык
			//div.cell.small-4.callout.primary
				a(href="rutracker.html") Трекер помошник
			div.cell.small-4.callout.primary
				a(href="htmllinks.html") Сайтостроение
			div.cell.small-4.callout.primary
				a(href="utorrent.html") Работа с utorrent
		div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-3
			div.cell.small-4.callout.primary
				a(href="../gr/index.html") Греческий язык
			div.cell.small-4.callout.primary
				a(href="../english/index.html") Английский язык
	div.row
