extends layouts/layout.pug

block title
	title= site_title + "Смалкайс Альвина-Мария Карловна"

block content
	h1 Смалкайс Альвина Мария Карловна.
	figure.text-center
		<img src="images/Alvina.png" width = "404" height = "640" itemprop="image" alt="Photo of Смалкайс Альвина"/>
		<img src="images/Alvina-CER.jpg" width = "404" height = "640" itemprop="image" alt="Photo of Смалкайс Альвина"/>
	<div itemscope itemtype="https://schema.org/Person">
		<span itemprop="name">Смалкайс Альвина</span>
		<br>Имя: <span itemprop="givenName">Альвина Мария</span> <!-- имя -->
		<br>Фамилия: <span itemprop="familyName">Смалкайс</span> <!-- фамилия -->
		<br>Отчество: <span itemprop="additionalName">Карловна</span> <!-- отчество -->
		<br>Пол: <span itemprop="gender">женский</span>
		<br>Национальность: <span itemprop="nationality">латышка</span>

		<br>Братья и сестры:
			<div  itemprop="sibling" itemscope itemtype="https://schema.org/Person">
				<a href=".html" itemprop="url">_</a>:
			</div>

		<br>Супруг:
		<div itemprop="spouse" itemscope itemtype="https://schema.org/Person">Смалкайс <a href="Hugo.html" itemprop="url">Хуго</a> Рейнголд Петрович</div>
		<br>Дочь:
			<div itemprop="children" itemscope itemtype="https://schema.org/Person">Смалкайс <a href="mirdza.html" itemprop="url">Мирдза</a> Рейнгольдовна</div>

	</div>