extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_15.png"><img src="images/foto_15.png" width = "404" height = "640"></a>
		<a href="images/foto_15-CER.jpg"><img src="images/foto_15-CER.jpg" width = "404" height = "640"></a>
		figcaption Смалкайс Рейнгольд Петрович
