extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_10.png"><img src="images/foto_10.png" width = "404" height = "640"></a>
		<a href="images/foto_10-CER.jpg"><img src="images/foto_10-CER.jpg" width = "404" height = "640"></a>
		figcaption Слева на право: неиз, неиз, неиз, Барильникова(Смалкайс) Мирдза Рейнгольдовна, неиз