extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_68.jpeg"><img src="images/foto_68.jpeg" width = "404" height = "640"></a>
		<a href="images/foto_68-CE.jpg"><img src="images/foto_68-CE.jpg" width = "404" height = "640"></a>
		figcaption 
		<a href="foto_68_2.html">оборот</a>