extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_41.png"><img src="images/foto_41.png" width = "640" height = "640"></a>
		<a href="images/foto_41-CER.jpg"><img src="images/foto_41-CER.jpg" width = "640" height = "640"></a>
		figcaption Слева на право: неиз, неиз, Рейнгольд, Альвина
