extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_24.png"><img src="images/foto_24.png" width = "640" height = "404"></a>
		<a href="images/foto_24-CER.jpg"><img src="images/foto_24-CER.jpg" width = "640" height = "404"></a>
		figcaption Смалкайс Рейнгольд Петрович
		<a href="foto_24_2.html">оборот</a>
