extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_14.png"><img src="images/foto_14.png" width = "404" height = "640"></a>
		<a href="images/foto_14-CER.jpg"><img src="images/foto_14-CER.jpg" width = "404" height = "640"></a>
		figcaption Барильников Григорий Григорьевич 15 июля 1926 года
		<a href="foto_14_2.html">оборот</a>