extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_11.png"><img src="images/foto_11.png" width = "404" height = "640"></a>
		<a href="images/foto_11-CER.jpg"><img src="images/foto_11-CER.jpg" width = "404" height = "640"></a>
		figcaption первая в первом ряду Барильникова(Смалкайс) Мирдза Рейнгольдовна