extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_37.png"><img src="images/foto_37.png" width = "404" height = "640"></a>
		<a href="images/foto_37-CE.jpg"><img src="images/foto_37-CE.jpg" width = "404" height = "640"></a>
		figcaption Коля
		<a href="foto_37_2.html">оборот</a>
