extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_16.png"><img src="images/foto_16.png" width = "404" height = "640"></a>
		<a href="images/foto_16-CER.jpg"><img src="images/foto_16-CER.jpg" width = "404" height = "640"></a>
		figcaption Смалкайс Рейнгольд Петрович 12 октября 1924 года
		<a href="foto_16_2.html">оборот</a>
