extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_27.png"><img src="images/foto_27.png" width = "404" height = "640"></a>
		<a href="images/foto_27-CER.jpg"><img src="images/foto_27-CER.jpg" width = "404" height = "640"></a>
		figcaption Мирдза, Смалкайс Рейнгольд Петрович(Хуго), Альвина 
