extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_35_2.png"><img src="images/foto_35_2.png" width = "404" height = "640"></a>
		figcaption Рита и Коля оборотная сторона
