extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_23_2.png"><img src="images/foto_23_2.png" width = "640" height = "404"></a>
		figcaption Смалкайс Рейнгольд Петрович оборотная сторона
