extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_31_2.png"><img src="images/foto_31_2.png" width = "640" height = "640"></a>
		figcaption Алфред Карлович Хелманис и его жена Амалия оборотная сторона
