extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_28.png"><img src="images/foto_28.png" width = "640" height = "640"></a>
		<a href="images/foto_28-CER.jpg"><img src="images/foto_28-CER.jpg" width = "640" height = "640"></a>
		figcaption Алфред Карлович Хелманис(родной брат Альвины), сын Алфреда Олаф, жена Алфреда Амалия
		<a href="foto_28_2.html">на оборотную</a>
