extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_9.png"><img src="images/foto_9.png" width = "404" height = "640"></a>
		<a href="images/foto_9-CER.jpg"><img src="images/foto_9-CER.jpg" width = "404" height = "640"></a>
		figcaption Слева на право: Смалкайс Альвина-Мария Карловна и ее дочь Барильникова(Смалкайс) Мирдза Рейнгольдовна