extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_98.jpg"><img src="images/foto_98.jpg" width = "640" height = "640"></a>
		<a href="images/foto_98-CE.jpg"><img src="images/foto_98-CE.jpg" width = "640" height = "640"></a>
		figcaption Альвина с сестрой