extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/foto_17.png"><img src="images/foto_17.png" width = "202" height = "320"></a>
		<a href="images/foto_17-CER.jpg"><img src="images/foto_17-CER.jpg" width = "202" height = "320"></a>
		figcaption Смалкайс Рейнгольд Петрович 

