extends layouts/layout.pug

block title
	title= site_title + " Семейный фотоальбом"
block content
	h2.font-effect-shadow-multiple Семейный фотоальбом.
	figure.text-center
		<a href="images/Mirdza-CE.jpg"><img src="images/Mirdza-CE.jpg" width = "404" height = "640"></a>
		figcaption 