extends ../layouts/html_layout.jade

block title
	title= site_title + " Все о AI. Ссылки."

block content
	h2.font-effect-shadow-multiple Все о AI. Ссылки
	article.grid-container
		ol
			li Текстовые генеративные сети
				ol
				
					+mli('en', "out", 'https://lmstudio.ai/', 'lmstudio.ai', 'Оболочка, которая позволяет устанавливать текстовые сети локально. ', "icon")
					+mli('en', "out", 'https://chat.openai.com/', 'chatGPT', 'Официальный сайт. ', "icon")
					+mli('en', "out", 'https://bard.google.com/', 'bard', 'Официальный сайт. ', "icon")
					
					li Copy.ai
						ol
							+mli('en', "out", 'https://www.copy.ai/', 'copy.ai', 'Официальный сайт.', "icon")
							+mli('en', "out", 'https://www.youtube.com/@CopyAI/videos', 'videos', 'Очень много обучающих.', "youtube")
					+mli('en', "out", 'https://claude.ai/', 'claude.ai', 'Официальный сайт.', "icon")
					+mli('en', "out", 'https://mistral.ai/', 'mistral.ai', 'mistral 7B. Официальный сайт.', "icon")
					+mli('en', "out", 'https://quillbot.com/', 'quillbot.com', 'Официальный сайт.', "icon")

			
			li Генеративные сети изображений
				ol
					+mli('ru', "my", 'InterestingPrompts.html', "промты", "", "icon")
					+mli('en', "out", 'https://www.bing.com/images/create', 'DALL·E 3', 'В Binq бесплатный ограниченный допуск', "")
					+mli('en', "out", 'https://www.midjourney.com/', 'Midjourney', "Text to Image. Самый раскрученный проект.", "icon")
					li 
						Stable Diffusion
							ol
								+mli('ru', "my", 'StableDiffusion.html', "Stable Diffusion", "", "")
						+mli('ru', "my", 'StableCascade.html', "Stable Cascade", "Бесплатная. Работает на ComfyUI.", "")
						+mli('ru', "my", 'HyperSD.html', "Hyper-SD", "Бесплатная. Работает на ComfyUI.", "")
						+mli('ru', "my", '', "Turbo", "Бесплатная. Работает на ComfyUI.", "")
			li Аудио генеративные сети
				ol
					+mli('en', "my", 'https://elevenlabs.io/', "elevenlabs.io", "Генерация речи на многих языках.", "") 
			li Видео генеративные сети
				ol
					+mli('en', "out", 'https://runwayml.com/', 'RunWayML', 'Text to Video. Image to Video. Video to Video.', "icon")
					+mli('en', "out", 'https://pikalabs.org/', 'pikalabs.org', 'Text to Video. Image to Video. Video to Video.', "icon")
			li Сервисы
				ol
					+mli('en', "out", 'https://playgroundai.com/', 'playgroundai.com', 'Text to Image. Движок: Stable Diffusion', "icon")
					li Leonardo.AI
						ol
							+mli('en', "out", 'https://Leonardo.Ai/', 'Leonardo.Ai', 'Text to Image. Движок: Stable Diffusion и др.', "icon")
							+mli('en', "out", 'https://www.youtube.com/@leonardo.ai_community/videos', 'videos', 'Видео обучение, обзоры, новости', "youtube")
					+mli('en', "out", 'https://lensgo.ai/', 'Lensgo.ai', 'Text to Image. Image to Image. Движок: ?', "icon")
					+mli('en', "out", 'https://dust.tt/', 'dust.tt', 'Агрегатор', "icon")
					+mli('en', "out", 'https://fengmyshui.com/', 'fengmyshui.com', 'Агрегатор. Движок: MJ + SDXL, Midjourney, Stable Diffusion', "icon")
					+mli('en', "out", 'https://clipdrop.co/', 'clipdrop.co', 'by stability', "icon")
					+mli('en', "out", "https://pinokio.computer/", "pinokio.computer", "Виртуальная машина для простого инсталирования на нее нейронок", "icon")
			li Фирмы
				ol
					li stability.ai
						ol
							li
					li OpenAI
			li Сайты
				ol
					+mli('en', "out", 'https://stable-diffusion-art.com/', 'stable-diffusion-art', 'Stable Diffusion. Обучение установке, настройке. Промпты.', "icon")
			li Youtube
				ol
					+mli('ru', "out", 'https://www.youtube.com/@neur0mania', 'neur0mania', 'Канал о нейросетях. Обзор новинок. Новости.', "")
			li Программирование
				ol
					+mli('en', "out", 'https://github.com/xtekky/gpt4free', 'gpt4free', 'Python. Использование API ChatGPT бесплатно через сторонние сервисы', "github")
					
			li Теория
				ol
					+mli('en', "out", 'https://upscale.wiki/wiki/Main_Page', 'Upscale.wiki', "База алгоритмов. Теория.", "wiki")
