extends ../layouts/html_layout.jade

block title
	title= site_title + " Workflows"

block content
	h2.font-effect-shadow-multiple Workflows
	article.grid-container
		div.grid-x
			table
				thead
					tr
						td Ноды для ComfyUI
						td промпты
						td метадата
						td изображение
				tbody
					tr
						td Ноды.
							| <br> <kbd>Eff. Loader SDXL</kbd>
							| <br> <kbd>KSampler SDXL (Eff.)</kbd>
							| <br> <kbd>LoRA Stacker</kbd>
							| <br> <kbd>ImpactWildcardProcessor</kbd>
							| <br> <kbd>HighRes-Fix Script</kbd>
							| <br> <kbd>Image Save</kbd>
						td 
						td
						td
							img(src="workflows/comfiui_workfow_default_v1.png" width="200" height="200")
					tr
						td Ноды.
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd>Global Seed (Inspire)</kbd>
							| <br> <kbd>Image Save</kbd>
						td 
							| <u>positive</u>: a caribbean river flowing through a 
							| unexplored ecosystem, overgrown, jungle, 
							| digital painting, fantasy landscape,
							| <br><u>negative</u>: text, watermark, 
						td
							| <br>model: CHEYENNE_v16
							| <br>VAE: sdxl_vae
							| <br>LoRA: inkArtXL_1.2: 0.5
							| <br>steps: 25
							| <br>cfg: 5.0
							| <br>sampler: dpmpp_2m
							| <br>scheduler: karras
							| <br>seed: 2504429663
						td
							img(src="workflows/jungle_v1.png" width="300" height="200")
							| <br> 1152x896
					tr
						td Ноды.
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd>Global Seed (Inspire)</kbd>
							| <br> <kbd>Image Save</kbd>
						td 
							| <u>positive</u>: a village, somber, mellow, atmospheric,   
							| golden hour light, blooming flowers, 
							| calm, intricate, depth of field, deep colors,
							| <br><u>negative</u>: text, watermark, 
						td
							| <br>model: SDXLFaetastic_v24 
							| <br>VAE: sdxl_vae
							| <br>LoRA:&nbsp;EldritchComicsXL1.2:&nbsp;0.5
							| <br>LoRA: SDXLFaeTastic2400: 0.5
							| <br>steps: 20
							| <br>cfg: 4.0
							| <br>sampler: dpmpp_2m
							| <br>scheduler: karras
							| <br>seed: 2882461285
						td
							img(src="workflows/village_v1.png" width="300" height="200")
							| <br> 1152x896
					tr
						td Ноды.
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd>Global Seed (Inspire)</kbd>
							| <br> <kbd>Image Save</kbd>
						td 
							| <u>positive</u>: summer, oil painting, cute dolphins, crashing wave, sunrise,   
							| adorable, vintage, art, fairytale, ultra highly detailed,
							| mystical, luminism, vibrant colors, complex background, atmospheric lighting,
							| <br><u>negative</u>: text, watermark, signature, 
						td
							| <br>model: Juggernaut_XL_v9
							| <br>VAE: sdxl_vae
							| <br>LoRA: xl_more_art-full_v1: 0.5
							| <br>steps: 20
							| <br>cfg: 4.0
							| <br>sampler: dpmpp_2m
							| <br>scheduler: karras
							| <br>seed: 1933522074
						td
							img(src="workflows/dolphins_v1.png" width="300" height="200")
							| <br> 1152x896
					tr
						td Ноды.
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd></kbd>
							| <br> <kbd>Global Seed (Inspire)</kbd>
							| <br> <kbd>Image Save</kbd>
						td 
							| <u>positive</u>: 1white running anthropomorphic rabbit (with blue eyes:1.15),    
							| with a red vest, (background a rabbit hole:1.4), in a forest, 
							| from Alice in Wonderland, art by John Tenniel, rim light, ink art, line art, extremely detailed,
							| <br><u>negative</u>: text, watermark, rabbits, clocks, 
						td
							| <br>model: realcartoonXL_v6
							| <br>VAE: sdxl_vae
							| <br>LoRA: xl_more_art-full_v1: 0.5
							| <br>steps: 25
							| <br>cfg: 8.0
							| <br>sampler: euler
							| <br>scheduler: normal
							| <br>seed: 312557323
						td(width="300" height="200")
							img(src="workflows/white_rabbit_v1.png" )
							| <br> 1152x896
							
		+mli('en', "my", 'workflows/FaceDetailerWorkflow.json', "Face Detailer ", "workflow | 28.05.2024", "")
		+mli('en', "my", 'workflows/FaceCorectionWorkflow.json', "Face Corection ", "workflow | 28.05.2024", "")
		+mli('en', "out", 'https://comfyworkflows.com/profile/41d507c5-bdcf-424b-9b75-a3cc2ea9049d', "HowDo?", "Разное.", "icon")

		