extends ../layouts/html_layout.jade

block title
	title= site_title + " ComfyUI и Hyper-SD"

block content
	h2.font-effect-shadow-multiple ComfyUI и Hyper-SD
	article.grid-container
		div.grid-x
		h4 Установка
		ol
			li Скачать c <a href="https://huggingface.co/stabilityai/stable-cascade/tree/main/comfyui_checkpoints">huggingface.co</a>
				ol
					li stable_cascade_stage_c.safetensors
					li stable_cascade_stage_b.safetensors
			li Сохранить их папку <kbd>ComfyUI/models/checkpoints</kbd>
		h4 Workflow
		ol
			+mli('en', "out", 'https://huggingface.co/ByteDance/Hyper-SD/tree/main/comfyui', "huggingface.co", "официальный репозиторий", "github")

		h4 Ссылки
		ol
			+mli('en', "out", 'https://hyper-sd.github.io/', "Hyper-SD", "официальный репозиторий", "github")
