extends ../layouts/html_layout.jade

block title
	title= site_title + " Интересные вещи в сети"

block content
	div.row: div.large-12.columns: h1 Интересные вещи в сети
	div.row: div.large-12.columns
		ol
			li: strong: a(href='sailing.html') Яхтинг.
			li: strong: a(href="diving/diving.html") Дайвинг
			li: strong: a(href="arduino_links.html") Все о Arduino. Ссылки.			
			li SBC (single board computer)
				ol
					li: strong: a(href="raspberrypi.html") Все о Raspberry Pi			
			li Распаковщики на youtube.
				ol
					li 
						a(href='https://www.youtube.com/channel/UC6Qc64l8agxZEHN_EtAZekg') Просто Посылка Из Китая.
					li
						a(href='https://www.youtube.com/channel/UC0fMl-FpIznL85RjoaTtuXQ') Китай Г.
					li
						a(href='https://www.youtube.com/channel/UCYW-kMHw2NFiBJpz-jzVzcA') Китай в SHOPe.
					li
						a(href='https://www.youtube.com/channel/UCxd8XmTKC7KI9sRl6QzV44A') Hot China.
					li
						a(href='https://www.youtube.com/channel/UC-uoNpA7ielDmPsW33hX0YQ') EZ: Необычно, интересно, выгодно.						
			li Магазины в которых я покупаю/покупал разное:
				ol
					li 
						a(href='https://livolo.ru.aliexpress.com/store/500715') LIVOLO. Дистаннционные: диммеры, розетки, выключатели.
					li 
						a(href='https://yougle.ru.aliexpress.com/store/409201') YOUGLE store. Веревочки, замочки. Для туризма и активностей.
					li 
						a(href='https://broadlink.ru.aliexpress.com/store/1156023') BroadLink Store. Товары для умного дома.
			// li 
				a(href='sbc.html') SBC (single board computer)
			li 
				a(href='https://www.oppia.org') Oppia. 
				|  Обучение с помощью экспертной системы. Написан на питоне. Можно самому составлять программу обучения не имея навыков в программировании. Есть статистика по обучающимся, которая позволяет улучшать систему обучения.
			li
				a(href='http://alexnisnevich.github.io/untrusted/') Untrusted.
				|  Игра, где интерактивно изменяя javascript код нужно решать головоломки.
			li
				a(href='http://coursera.abbyy-ls.com/ru') Переведем coursera!
				|  Перевод онлайн курсов на русский язык.
			li
				a(href='http://www.ted.com/talks/browse?language=ru') TED.com.
				|  На русском языке.
			li
				a(href='https://news.ycombinator.com') Hacker News.
				|  Хакерские новости.
			li
				a(href='http://gabrielecirulli.github.io/2048/') Игра 2048.
			li
				a(href='http://data.mos.ru') Портал открытых данных.
				|  Города Москвы.
			li
				a(href='http://hub.opengovdata.ru') (1)  
				a(href='https://hubofdata.ru/') (2)
				| Хаб открытых данных.
			li
				a(href='http://www.quantumplayground.net/#/home') Квантовая онлайн песочница
				|  от Google. 
				a(href='http://habrahabr.ru/post/246483/') Статья
				|  на Хабре.
			li: a(href='http://ncase.me/polygons/') Разделение
				|  визуально и доходчиво. Достойно перевода на русский язык.
			li 
				| Создание сайта проекта или организации на 
				a(href='https://pages.github.com/')  pages.githab.com.
			li
				| Много материала про поиск пути и других алгоритмах для напиания игр. Много ссылок.
				a(href='http://www.redblobgames.com/')  Red Blob Games.
			li
				| Сервис для создания своих опросов и тестов, которые можно встраивать на свой сайт и по которым ведется минимальная статистика 
				a(href='http://gistroll.com/rolls')  Gistroll.com.
			li
				| Визуализатор регулярных выражений на javascript 
				a(href='http://jex.im/regulex/#!embed=false&flags=&re=^%28a|b%29*%3F%24')  regulex.
			li
				| Игры и головоломки на разных платформах
				ol
					li
						a(href='http://www.codemoo.com/index2.html') CodeMoo
						|  - головоломки для изучающих java.
					li
						a(href='https://www.codehunt.com/') Code Hunt
						|  - головоломки для программистов на java или C#.
					li
						a(href='https://www.codecombat.com/') CodeCombat
						|  - головоломки для программистов на python, javascript и т.п. Есть мультиплеер.
					li
						a(href='http://regexcrossword.com/') Regex Crossword
						|  - кросворд на тему регулярных выражений.
					li
						a(href='http://uzer.com.ua/cross/') Crossword
						|  - кросворд на тему регулярных выражений. Сверстан на CSS3. 
						a(href='http://habrahabr.ru/post/175847/') Статья
						|  на хабре
					li
						a(href='http://elevatorsaga.com/') Elevator Saga
						|  - головоломки для программистов на javascript.
				li
					a(href='http://www.ggp.org') GGP.org.
					ol
						li
							a(href='http://alloyggp.blogspot.ru/') Alloy GGP blog
						li
							a(href='http://www.ggp.org/cs227b/player.html') Parametric Player
						li
							a(href='http://tiltyard.ggp.org/') Tiltyard
							| . Сервер для игр.
						li
							a(href='https://docs.google.com/document/d/1Rm_sjou46e4FlbrheCaoig21CkV0eJPexavRhT09YUA/edit') Как создать
							|  своего игрока.
				li
					| Ежемесячные программистско математические 
					a(href='http://domino.research.ibm.com/Comm/wwwr_ponder.nsf/pages/index.html') головоломки-задачи
					|  от IBM.