extends ../layouts/html_layout.jade

block title
	title= site_title + " Интересные вещи в сети"

block content
	div.row: div.large-12.columns: h1 Интересные вещи в сети
	div.row: div.large-12.columns
		ol
			li
				span.flag_ru &nbsp;
				a(href='../bridge/bridge.html') <i class="far fa-eye"></i> 
				| Спортивный бридж.
			li
				span.flag_ru &nbsp;
				a(href='../chess/chess1.html') <i class="far fa-eye"></i> 
				| Шахматы.
			li
				span.flag_ru &nbsp;
				a(href='sailing.html') <i class="far fa-eye"></i> 
				| Яхтинг.
			li 
				span.flag_ru &nbsp;
				a(href="../diving/diving.html") <i class="far fa-eye"></i> 
				| Дайвинг
			li 
				span.flag_ru &nbsp;
				a(href="arduino_links.html") <i class="far fa-eye"></i> 
				| Все о Arduino. Ссылки.			
			li SBC (single board computer)
				ol
					li
						span.flag_ru &nbsp; 
						a(href="raspberrypi.html") <i class="far fa-eye"></i> 
						| Все о Raspberry Pi			
			li Распаковщики на youtube.
				ol
					li 
						a(href='https://www.youtube.com/channel/UC6Qc64l8agxZEHN_EtAZekg') Просто Посылка Из Китая.
					li
						a(href='https://www.youtube.com/channel/UC0fMl-FpIznL85RjoaTtuXQ') Китай Г.
					li
						a(href='https://www.youtube.com/channel/UCYW-kMHw2NFiBJpz-jzVzcA') Китай в SHOPe.
					li
						a(href='https://www.youtube.com/channel/UCxd8XmTKC7KI9sRl6QzV44A') Hot China.
					li
						a(href='https://www.youtube.com/channel/UC-uoNpA7ielDmPsW33hX0YQ') EZ: Необычно, интересно, выгодно.						
			li Магазины в которых я покупаю/покупал разное:
				ol
					li 
						a(href='https://livolo.ru.aliexpress.com/store/500715'): i.fas.fa-external-link-alt  LIVOLO. 
						|&nbsp;Дистаннционные: диммеры, розетки, выключатели.
					li 
						a(href='https://yougle.ru.aliexpress.com/store/409201'): i.fas.fa-external-link-alt   YOUGLE store.
						|&nbsp;Веревочки, замочки. Для туризма и активностей.
					li 
						a(href='https://broadlink.ru.aliexpress.com/store/1156023'): i.fas.fa-external-link-alt BroadLink Store.
						|&nbsp; Товары для умного дома.
			// li 
				a(href='sbc.html') SBC (single board computer)
			li
				span.flag_en &nbsp;
				a(href='https://www.oppia.org') Oppia. 
				|  Обучение с помощью экспертной системы. Написан на питоне. Можно самому составлять программу обучения не имея навыков в программировании. Есть статистика по обучающимся, которая позволяет улучшать систему обучения.

			li
				span.flag_ru &nbsp;
				a(href='http://coursera.abbyy-ls.com/'): i.fas.fa-external-link-alt &nbsp;Переведем coursera!
				|  Перевод онлайн курсов на русский язык. Закрыт в 2017 году.
			li
				span.flag_ru &nbsp;
				a(href='http://www.ted.com/talks/browse?language=ru'): i.fas.fa-external-link-alt &nbsp;TED.com.
				|  На русском языке.
			li
				span.flag_en &nbsp;
				a(href='https://news.ycombinator.com'): i.fas.fa-external-link-alt &nbsp;Hacker News.
				|  Хакерские новости.
			li
				a(href='http://gabrielecirulli.github.io/2048/'): i.fas.fa-external-link-alt &nbsp;Игра 2048.
			li
				span.flag_ru &nbsp;
				a(href='http://data.mos.ru'): i.fas.fa-external-link-alt &nbsp;Портал открытых данных.
				|  Города Москвы.
			li
				span.flag_ru &nbsp;
				a(href='http://hub.opengovdata.ru') (1)  
				a(href='https://hubofdata.ru/') (2)
				| Хаб открытых данных.
			li
				a(href='http://www.quantumplayground.net/#/home') Квантовая онлайн песочница
				|  от Google.
				span.flag_ru 
				a(href='http://habrahabr.ru/post/246483/') Статья
				|  на Хабре.
			li
				span.flag_en
				a(href='http://ncase.me/polygons/') Разделение
				|  визуально и доходчиво. Достойно перевода на русский язык.
			li 
				| Создание сайта проекта или организации на 
				a(href='https://pages.github.com/')  pages.githab.com.
			li
				a(href='http://www.redblobgames.com/'): i.fas.fa-external-link-alt &nbsp;Red Blob Games.
				| Много материала про поиск пути и других алгоритмах для напиания игр. Много ссылок.
				

			li
				| Визуализатор регулярных выражений на javascript 
				a(href='http://jex.im/regulex/#!embed=false&flags=&re=^%28a|b%29*%3F%24')  regulex.
			li
				| Игры и головоломки на разных платформах
				ol
					li
						span.flag_en &nbsp;
						a(href='https://luden.io/wtl/'): i.fas.fa-external-link-alt &nbsp; while True: learn()
						|  - игра про машинное обучение.
					li
						span.flag_en &nbsp;
						a(href='http://www.codemoo.com/index2.html'): i.fas.fa-external-link-alt &nbsp; CodeMoo
						|  - головоломки для изучающих java.
					li
						span.flag_en &nbsp;
						a(href='https://www.codehunt.com/'): i.fas.fa-external-link-alt &nbsp; Code Hunt
						|  - головоломки для программистов на java или C#.
					li
						span.flag_en &nbsp;
						a(href='https://www.codecombat.com/'): i.fas.fa-external-link-alt &nbsp; CodeCombat
						|  - головоломки для программистов на python, javascript и т.п. Есть мультиплеер.
					li
						span.flag_en &nbsp;
						a(href='http://regexcrossword.com/'): i.fas.fa-external-link-alt &nbsp; Regex Crossword
						|  - кросворд на тему регулярных выражений.
					li
						span.flag_en &nbsp;
						a(href='http://uzer.com.ua/cross/'): i.fas.fa-external-link-alt &nbsp; Crossword
						|  - кросворд на тему регулярных выражений. Сверстан на CSS3. 
						a(href='http://habrahabr.ru/post/175847/') Статья
						|  на хабре
					li
						span.flag_en &nbsp;
						a(href='http://elevatorsaga.com/'): i.fas.fa-external-link-alt &nbsp; Elevator Saga
						|  - головоломки для программистов на javascript.
					li
						span.flag_en &nbsp;
						a(href='https://tic.computer/'): i.fas.fa-external-link-alt &nbsp; TIC-80
						|  - можно программировать игру в стиле ретро 80-х.
						
					li
						span.flag_ru &nbsp;
						a('http://www.cross-plus-a.ru/crosslines.html'): i.fas.fa-external-link-alt &nbsp; Игра крослайнс.
						|  И много описаний правил других головоломок.
					li
						span.flag_ru &nbsp;
						a('https://store.steampowered.com/app/365450/Hacknet/'): i.fas.fa-external-link-alt &nbsp; Игра hacknet.
						|  Бывает раздают бесплатно.
					li
						span.flag_en &nbsp;
						a('https://colobot.info/'): i.fas.fa-external-link-alt &nbsp; Colobot.
						|  Обучение программированию.					
					li
						span.flag_en &nbsp;
						a(href='http://alexnisnevich.github.io/untrusted/') Untrusted.
						|  Игра, где интерактивно изменяя javascript код нужно решать головоломки.					
				li
					a(href='http://www.ggp.org') GGP.org.
					ol
						li
							a(href='http://alloyggp.blogspot.ru/') Alloy GGP blog
						li
							a(href='http://www.ggp.org/cs227b/player.html') Parametric Player
						li
							a(href='http://tiltyard.ggp.org/') Tiltyard
							| . Сервер для игр.
						li
							a(href='https://docs.google.com/document/d/1Rm_sjou46e4FlbrheCaoig21CkV0eJPexavRhT09YUA/edit') Как создать
							|  своего игрока.
				li
					| Ежемесячные программистско математические 
					a(href='http://domino.research.ibm.com/Comm/wwwr_ponder.nsf/pages/index.html') головоломки-задачи
					|  от IBM.