extends ../layouts/html_layout.jade

block title
	title= site_title + " Интересные вещи в сети"

block content
	h2.font-effect-shadow-multiple Интересные вещи в сети
	h3 Содержание
	article.grid-container
		ol
			+mli("ru","my", "../family_tree/photoalbum/index.html", "absolem.info", "Семейное дерево.")
			+mli("ru","my", "../bridge/bridge.html", "absolem.info", "Спортивный бридж.")
			//-+mli("ru","my", "../chess/chess1.html", "absolem.info", "Шахматы.")
			+mli("ru","my", "sailing.html", "absolem.info", "Яхтинг.")
			+mli("ru","my", "../diving/diving.html", "absolem.info", "Дайвинг.")
			+mli("ru","my", "arduino_links.html", "absolem.info", "Все о Arduino. Ссылки.")
			+mli("ru","my", "ipsc_links.html", "absolem.info", "Практическая стрельба.")
			li SBC (single board computer)
				ol
					+mli("ru","my", "raspberrypi.html", "absolem.info", "Все о Raspberry Pi.")

			li Анимационные короткометражные фильмы на youtube.
				ol
					li 
						a(href='https://www.youtube.com/watch?v=07d2dXHYb94') Pip 
						| Southeastern Guide Dogs
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=UT-mA673hLs') "Green Light" by Seongmin Kim 
						| CGMeetup
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=j6PbonHsqW0') The Egyptian Pyramids 
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=38y_1EWIE9I') Snack Attack 
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=YDXOioU_OKM') The Maker 
						| Zealous Creative
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=Oo4KXZVApsQ') Father and Daughter - by M. Dudok de Wit 
						| KIS KIS - keep it short
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=J2J4eareIIg') The OceanMaker 
						| Mighty Coconut
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=jEjUAnPc2VA') Pigeon: Impossible 
						| Mighty Coconut
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=c88QE6yGhfM') Catch It 
						| ESMA Movies
						| перевод не требуется
						a(href='https://www.kinopoisk.ru/film/1044451/') <img class="postImg" alt="pic" src="https://rating.kinopoisk.ru/1044451.gif">
						a(href='https://www.imdb.com/title/tt5461558/') <img class="postImg" alt="pic" src="http://bluebird-hd.org/imdb/imdb_tt5461558.gif">
					li 
						a(href='https://www.youtube.com/watch?v=IRFDpD3pgv8') "Don't Feed These Animals" by Nebula Studios 
						| CGMeetup
						| перевод не требуется
					li 
						a(href='https://www.youtube.com/watch?v=fzrfrXhE-w4') Sam 
						| Mickael Bonfill 2014
						| перевод не требуется
					li
						a(href='https://www.youtube.com/watch?v=WjqiU5FgsYc') The Present 
						| The Present 2014
						| english 
						a(href='https://www.kinopoisk.ru/film/931417/') <img class="postImg" alt="pic" src="https://rating.kinopoisk.ru/931417.gif">
						a(href='https://www.imdb.com/title/tt3682556') <img class="postImg" alt="pic" src="http://bluebird-hd.org/imdb/imdb_tt3682556.gif">
			li Распаковщики на youtube.
				ol
					+mli("ru","out", "https://www.youtube.com/channel/UC6Qc64l8agxZEHN_EtAZekg", "", "Просто Посылка Из Китая.")
					+mli("ru","out", "https://www.youtube.com/channel/UC0fMl-FpIznL85RjoaTtuXQ", "", "Китай Г.")
					+mli("ru","out", "https://www.youtube.com/channel/UCYW-kMHw2NFiBJpz-jzVzcA", "", "Китай в SHOPe.")
					+mli("ru","out", "https://www.youtube.com/channel/UCxd8XmTKC7KI9sRl6QzV44A", "", "Hot China.")
					+mli("ru","out", "https://www.youtube.com/channel/UC-uoNpA7ielDmPsW33hX0YQ", "", "EZ: Необычно, интересно, выгодно.")

			// li 
				a(href='sbc.html') SBC (single board computer)
			+mli("en","out", "https://www.oppia.org", "Oppia.", "Обучение с помощью экспертной системы. Написан на питоне. Можно самому составлять программу обучения не имея навыков в программировании. Есть статистика по обучающимся, которая позволяет улучшать систему обучения.")
			+mli("ru","out", "https://www.ted.com/talks/browse?language=ru", "TED.com.", "На русском языке.")
			+mli("en","out", "https://news.ycombinator.com", "Hacker News.", "Хакерские новости.")
			+mli("en","out", "https://gabrielecirulli.github.io/2048/", "Игра 2048.", "Исходный код")
			+mli("en","out", "https://data.mos.ru", "Портал открытых данных.", "Города Москвы.")
			+mli("en","out", "http://ncase.me/polygons/", "Разделение.", "визуально и доходчиво. Есть перевод на русский.")
			+mli("en","out", "https://pages.github.com/", "pages.githab.com.", "Создание сайта проекта или организации.")
			+mli("en","out", "https://www.quantumplayground.net/#/home", "от Google.", "Квантовая онлайн песочница.")
			+mli("ru","out", "https://habrahabr.ru/post/246483/", "Статья.", "на Хабре про квантовую песочницу.")
			+mli("ru","out", "https://hub.opengovdata.ru", "opengovdata.ru", "Хаб открытых данных.")
			+mli("ru","out", "https://hubofdata.ru/", "hubofdata.ru", "Хаб открытых данных.")
			+mli("en","out", "https://www.redblobgames.com/", "Red Blob Games", "Много материала про поиск пути и других алгоритмах для напиания игр. Много ссылок.")
			+mli("en","out", "https://jex.im/regulex/", "regulex.", "Визуализатор регулярных выражений на javascript.")

			li
				| Игры и головоломки на разных платформах
				ol
					+mli("en","out", "https://luden.io/wtl/", "while True: learn()", "игра про машинное обучение. $")
					+mli("en","out", "https://www.codemoo.com/index2.html", "CodeMoo", "головоломки для изучающих java.")
					+mli("en","out", "https://www.codehunt.com/", "Code Hunt", "головоломки для программистов на java или C#.")
					+mli("en","out", "https://www.codecombat.com/", "CodeCombat", "головоломки для программистов на python, javascript и т.п. Есть мультиплеер.")
					+mli("en","out", "https://regexcrossword.com/", "Regex Crossword", "кросворд на тему регулярных выражений.")
					+mli("en","out", "https://elevatorsaga.com/", "Elevator Saga", "головоломки для программистов на javascript.")
					+mli("ru","out", "https://www.cross-plus-a.ru/crosslines.html", "Игра крослайнс.", "И много описаний правил других головоломок.")
					+mli("en","out", "https://alexnisnevich.github.io/untrusted/", "Untrusted.", "Игра, где интерактивно изменяя javascript код нужно решать головоломки.")
					+mli("en","out", "https://colobot.info/", "Colobot.", "Обучение программированию. Похоже устарело.")
					+mli("en","out", "https://uzer.com.ua/cross/", "Crossword", "кросворд на тему регулярных выражений. Сверстан на CSS3.")
					+mli("ru","out", "https://habrahabr.ru/post/175847/", "Статья", "на хабре об игре Crossword")
					+mli("ru","out", "https://store.steampowered.com/app/365450/Hacknet/", "Игра hacknet.", "Бывает раздают бесплатно.")

			li
				a(href='http://www.ggp.org') GGP.org.
				ol
					+mli("en","out", "http://alloyggp.blogspot.ru/", "", "Alloy GGP blog")
					+mli("en","out", "http://www.ggp.org/cs227b/player.html", "", "Parametric Player")
					+mli("en","out", "http://tiltyard.ggp.org/", "Tiltyard", "Сервер для игр.")
					+mli("en","out", "https://docs.google.com/document/d/1Rm_sjou46e4FlbrheCaoig21CkV0eJPexavRhT09YUA/edit", "", "Как создать своего игрока.")
			+mli("en","out", "http://domino.research.ibm.com/Comm/wwwr_ponder.nsf/pages/index.html", "IBM", "Ежемесячные программистско математические головоломки-задачи")
