extends ../layouts/html_layout.jade

block title
	title= site_title + " ComfyUI"

block content
	h2.font-effect-shadow-multiple ComfyUI ноды, которые я использую
	article.grid-container
		div.grid-x
		ol
			+mli('en', "out", 'https://ltdrdata.github.io/', "ltdrdata.github.io", "ComfyUI Nodes Info", "github")
		h4 <a href="https://github.com/pythongosssss/ComfyUI-Custom-Scripts">pythongosssss</a>|Checkpoint Loder
		p Add Node->Loders-><kbd>Checkpoint Loder</kbd> 
		p Add Node->essentials-><kbd>🔧 Draw Text</kbd>
			|<br> шрифты которые хотим использовать нужно поместить в папку <kbd>ComfyUI\custom_nodes\ComfyUI_essentials\fonts</kbd>
			| 
		p <kbd>ImageCompositeMasked</kbd> использую совместно с 🔧 Draw Text
		p Add Node->mask-><kbd>Convert Mask to Image</kbd> - для визуализации маски совместно с Preview Image
		p Add Node->image-><kbd>Preview Image</kbd>
		h4 <a href="https://github.com/WASasquatch/was-node-suite-comfyui">WAS node suite</a>
		p Image Save - позволяет указывать папку и маску для имени сохраняемого файла
		h4 <a href="https://github.com/ltdrdata/ComfyUI-Impact-Pack">Impact Pack</a>
		p ImpactWildcardProcessor - 		
		h4 <a href="https://github.com/rgthree/rgthree-comfy">rgthree</a>
		p Lora Loder Stack (rgthree) - загрузка и включение до 4 Lora.
		
		p При использовании пакета pythongosssss. Workflows сохраняются в папку "YOUComfyUI\ComfyUI\pysssss-workflows"
		
		h4 <a href="https://github.com/kijai/ComfyUI-SUPIR">kijai ComfyUI-SUPIR</a>
		
		h4 <a href="https://github.com/jags111/efficiency-nodes-comfyui">jags111 Efficiency nodes</a>
		p <kbd>Eff. Loader SDXL</kbd>
		p <kbd>KSampler SDXL (Eff.)</kbd>
		h4 <a href="https://github.com/christian-byrne/img2txt-comfyui-nodes">christian byrne | img2txt</a>
		p Differential Diffusion
		
		p <kbd>Color Correct</kbd>
		ol
			+mli('en', "out", 'https://github.com/TheMistoAI/ComfyUI-Anyline', "TheMistoAI", "ComfyUI-Anyline", "github")
			+mli('en', "out", 'https://github.com/kijai/ComfyUI-IC-Light', "kijai", "ComfyUI-IC-Light", "github")
			+mli('en', "out", 'https://github.com/chrisgoringe/cg-use-everywhere', "chrisgoringe", "cg-use-everywhere", "github")
			+mli('en', "out", 'https://github.com/cubiq/ComfyUI_FaceAnalysis', "cubiq", "FaceAnalysis", "github")
			+mli('en', "out", 'https://github.com/Nuked88/ComfyUI-N-Sidebar', "Nuked88", "ComfyUI-N-Sidebar", "github")


		p * Quick Posing
			p - Mixamo - https://www.mixamo.com/
			p - PoserManiacs - https://www.posemaniacs.com/
			p - PoseMyArt - https://www.posemy.art/
		p * Mistoline line controlnet (and TEED line preprocessor)
			p - Mistoline: https://huggingface.co/TheMistoAI/Mis...
			p - Teed: Controlnet Aux
		ol 
			+mli('en', "out", 'https://github.com/Suzie1/ComfyUI_Guide_To_Making_Custom_Nodes/wiki', "Suzie1", "Guide To Making Custom Nodes in ComfyUI", "github")

		
		h3 Nodes for Video
		ol
			+mli('en', "out", 'https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved', "Kosinkadink", "ComfyUI-AnimateDiff-Evolved", "github")
			+mli('en', "out", 'https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet', "Kosinkadink", "ComfyUI-Advanced-ControlNet", "github")
			+mli('en', "out", 'https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite', "Kosinkadink", "ComfyUI-VideoHelperSuite", "github")
			+mli('en', "out", 'https://github.com/melMass/comfy_mtb', "melMass", "comfy_mtb", "github")


			+mli('en', "out", 'https://github.com/Fannovel16/ComfyUI-Frame-Interpolation', "Fannovel16", "ComfyUI-Frame-Interpolation", "github")


