extends ../layouts/html_layout.jade

block title
	title= site_title + " ComfyUI"

block content
	h2.font-effect-shadow-multiple ComfyUI ноды, которые я использую
	article.grid-container
		div.grid-x
		h4 <a href="https://github.com/pythongosssss/ComfyUI-Custom-Scripts">pythongosssss</a>|Checkpoint Loder
		p Add Node->Loders-><kbd>Checkpoint Loder</kbd> 
		p Add Node->essentials-><kbd>🔧 Draw Text</kbd>
		p <kbd>ImageCompositeMasked</kbd> использую совместно с 🔧 Draw Text
		p Add Node->mask-><kbd>Convert Mask to Image</kbd> - для визуализации маски совместно с Preview Image
		p Add Node->image-><kbd>Preview Image</kbd>
		h4 <a href="https://github.com/WASasquatch/was-node-suite-comfyui">WAS node suite</a>
		p Image Save - позволяет указывать папку и маску для имени сохраняемого файла
		h4 <a href="https://github.com/ltdrdata/ComfyUI-Impact-Pack">Impact Pack</a>
		p ImpactWildcardProcessor - 		
		h4 <a href="https://github.com/rgthree/rgthree-comfy">rgthree</a>
		p Lora Loder Stack (rgthree) - загрузка и включение до 4 Lora.
		
		p При использовании пакета pythongosssss. Workflows сохраняются в папку "YOUComfyUI\ComfyUI\pysssss-workflows"
		
		h4 <a href="https://github.com/kijai/ComfyUI-SUPIR">kijai ComfyUI-SUPIR</a>
		
		h4 <a href="https://github.com/jags111/efficiency-nodes-comfyui">jags111 Efficiency nodes</a>
		p <kbd>Eff. Loader SDXL</kbd>
		p <kbd>KSampler SDXL (Eff.)</kbd>
		h4 <a href="https://github.com/christian-byrne/img2txt-comfyui-nodes">christian byrne | img2txt</a>
		