extends ../layouts/html_layout.jade

block title
	title= site_title + " ПДД Missouri"

block content
	h2.font-effect-shadow-multiple ПДД Missouri
	article.grid-container
		div.grid-x
		div When passing a vehicle that has just parked parallel to the road, you should <u>assume the driver will open the door as you approach</u>. Use extra caution when driving near parked vehicles.
		div A driver approaching a flashing red traffic signal must: <u>Stop befor entering the intersection</u>.
		div Signs that are colored orange are: <u>Work zone signs</u>.
		div If two drivers arrive at the same time to a four-way intersection controlled by stop signs: <u>The driver on the right has the right-of-way</u>.
		div When two vehicles enter an intersection from different highways at the same time, which vehicle must yield the right-of-way? <u>The vehicle on the left</u>.
		div Which of the following commonly causes traffic accidents? <u>All of the above</u>.
		div If you are driving on the interstate and pass your exit, you should: <u>Continue driving and use the next exit.</u>.
		div An arrow painted on the pavement means: <u>Drivers in the proper lane must make the movement indicated by the arrow while following directions indicated by traffic signals</u>.
		div You are waiting in the intersection to complete a left turn. You should: <u>Signal and keep your wheels straight</u>.
		div A driver can legally pass on the right side of another vehicle: <u>If the vehicle is waiting to turn left and there is an available passing lane</u>.
		div When you are being tailgated: <u>All of the above</u>.
		div Roads freeze quickly when they are: <u>Shaded</u>.
		div If your vehicle begins to skid, you should: <u>Turn your steering wheel in the direction you want to go</u>.
		div The amount of space you need to cross traffic depends on the: <u>Road conditions, weather conditions, and oncoming traffic</u>.
		div Do not pass: <u>On a hill or curve; When school bus lights are flashing; When approaching an intersection</u>.
		div On slippery roads, you should: <u>Slow down</u>.
		div A “No standing” sign at a certain location means: <u>You may stop temporarily only to pickup or discharge passengers</u>.
		div A flashing yellow light at an intersection means that you should: <u>Slow down and proceed with care</u>.
		
		
		
		
		
		hr
		div 
			img(src="images/yield.png" width="50") 
			|&nbsp;This sign means: Slow down and be prepared to stop if necessary.
		div 
			img(src="images/curve_ahead_right.png" width="50") 
			|&nbsp;This sign means: The road ahead curves right, then left.
		div 
			img(src="images/no_u_turn.png" width="50") 
			|&nbsp;This sign means: U-turns are prohibited.
		div 
			img(src="images/hill.png" width="50") 
			|&nbsp;This sign means: Upcoming hill.
		div 
			img(src="images/no_turn.png" width="50") 
			|&nbsp;This sign means: No U-turn.
		div 
			img(src="images/lane_ends.png" width="50") 
			|&nbsp;This sign means: Lane ends.
		div 
			img(src="images/do_not_enter.png" width="50") 
			|&nbsp;This sign is used to prevent: Entrances from the wrong direction on one-way streets and expressway ramps..
		div 
			img(src="images/slippery_when_wet.png" width="50") 
			|&nbsp;This sign means: The road will be slippery when wet.
		div 
			img(src="images/speed_limit_55.png" width="50") 
			|&nbsp;This road sign means: The maximum legal speed on the roadway is 55 mph.
		div 
			img(src="images/progress_exit_only.png" width="100") 
			|&nbsp;If you see this sign above your lane, you: Must exit the freeway, if you stay in your current lane.
		div 
			img(src="images/stop.png" width="50") 
			|&nbsp;This road sign means: You must come to a complete stop.
			
			