extends ../layouts/html_layout.jade

block title
	title= site_title + " ПДД Missouri"

block content
	h2.font-effect-shadow-multiple ПДД Missouri
	article.grid-container
		div.grid-x
		div When passing a vehicle that has just parked parallel to the road, you should <u>assume the driver will open the door as you approach</u>. Use extra caution when driving near parked vehicles.
		div A driver approaching a flashing red traffic signal must: <u>Stop befor entering the intersection</u>.
		div Signs that are colored orange are: <u>Work zone signs</u>.
		div Signs indicating areas of public recreation are: <u>Brown</u>.
		div If two drivers arrive at the same time to a four-way intersection controlled by stop signs: <u>The driver on the right has the right-of-way</u>.
		div When two vehicles enter an intersection from different highways at the same time, which vehicle must yield the right-of-way? <u>The vehicle on the left</u>.
		div Which of the following commonly causes traffic accidents? <u>All of the above</u>.
		div If you are driving on the interstate and pass your exit, you should: <u>Continue driving and use the next exit.</u>.
		div An arrow painted on the pavement means: <u>Drivers in the proper lane must make the movement indicated by the arrow while following directions indicated by traffic signals</u>.
		div You are waiting in the intersection to complete a left turn. You should: <u>Signal and keep your wheels straight</u>.
		div A driver can legally pass on the right side of another vehicle: <u>If the vehicle is waiting to turn left and there is an available passing lane</u>.
		div When you are being tailgated: <u>All of the above</u>.
		div Roads freeze quickly when they are: <u>Shaded</u>.
		div If your vehicle begins to skid, you should: <u>Turn your steering wheel in the direction you want to go</u>.
		div The amount of space you need to cross traffic depends on the: <u>Road conditions, weather conditions, and oncoming traffic</u>.
		div Do not pass: <u>On a hill or curve; When school bus lights are flashing; When approaching an intersection</u>.
		div On slippery roads, you should: <u>Slow down</u>.
		div A “No standing” sign at a certain location means: <u>You may stop temporarily only to pickup or discharge passengers</u>.
		div A flashing yellow light at an intersection means that you should: <u>Slow down and proceed with care</u>.
		div When driving in rain, you must: <u>use low beam headlights</u>.
		div To avoid being in a truck or bus driver’s blind spot, you should: <u>Avoid driving alongside them and avoid tailgating.</u>.
		div When parking your vehicle downhill on a two-way street: <u>Turn your wheels to the right</u>.
		div Passing is prohibited: *On hills and curves. *At intersections. *At railroad crossings. <u>All of the above.</u>.
		div When entering a highway from an entrance ramp, you should generally: <u>Accelerate to the speed of traffic</u>.
		div Crossbuck signs indicate: <u>Railroad crossings</u>.
		div A red flashing traffic light has the same meaning as a: <u>Stop sign</u>.
		div When encountering an aggressive driver, you should: <u>Avoid eye contact, slow down, and let them pass.</u>.
		div If a vehicle using high beams comes toward you, you should look toward ____ of the road. <u>The right side</u>.
		div A license plate frame: <u>Should not cover any information on the plate</u>.
		div If an oncoming driver is heading toward you in your lane, you should: <u>Blow your horn, steer right, and brake</u>.
		div You are approaching an intersection when the traffic light changes from green to solid yellow. You should: <u>Stop before entering the intersection, unless you are too close to stop safely.</u>.
		div A single broken yellow line down the center of a two-lane road indicates: <u>Lanes are moving in opposite directions and drivers are permitted to pass when it is safe to do so</u>.
		div At an intersection with a stop sign, you should stop and: <u>Look left first, then right, then left again.</u>.
		div A regulatory sign containing a red circle with a slash through the middle indicates: <u>That an action is forbidden</u>.
		div What are the colors of signs that tell you the distance to the next exit on a highway? <u>Green with white letters</u>.
		div For a driver with an intermediate license, driving restrictions include: *That a seat belt must be worn by the driver. *That seat belts must be worn by all passengers. *A curfew between 1:00 a.m and 5:00 a.m.<u>All of the above.</u>.
		div What is a "No zone?" <u>The blind spot of a large vehicle</u>.
		div A diamond-shaped sign: <u>Warns of existing or possible hazards</u>.
		div “Highway hypnosis” is a driving condition that can result from: <u>Staring at the roadway for long periods of time</u>.
		div When entering a highway from an entrance ramp, you should generally: <u>Accelerate to the speed of traffic</u>.
		div When approaching a railroad crossing warning sign: <u>Be prepared to stop if a train is nearby</u>.
		div A speed restriction sign: <u>Shows a recommended speed for a curve or turn</u>.

		div You should be cautious when passing a bicycle because: <u>The cyclist may have to swerve into traffic to avoid an object on the road</u>.
		div Shortly before your driver or nondriver license expires, the Driver License Bureau will mail a renewal reminder postcard to: <u>The most current address on your driver record</u>.
		div You are driving on a highway divided by two solid yellow lines. You may: <u>Cross these lines only to make a left turn into or from an alley, private road, or driveway.</u>.
		div To be safe when crossing a railroad, you should: <u>Listen, look both ways, and then proceed if it is safe to do so</u>.
		div Which is the most common cause of traffic crashes? <u>Human error</u>.
		div Allow a larger space cushion than usual when stopping: <u>On an incline</u>.
		div After stopping for a school bus that is unloading children: <u>Watch for children walking along the side of the road</u>.
		div If you need to drive in foggy weather: <u>Turn on your low beam headlights</u>.
		div When driving in fog: <u>Use your low beams</u>.
		div What is the first thing you should adjust, if needed, when you get into a car to drive? <u>Your seat</u>.
		div A solid yellow line on your side of the centerline means: <u>Do not pass</u>.
		div Lanes of traffic moving in the same direction are divided by ____ lines. <u>White</u>.
		div Two solid yellow lines on the pavement mean: <u>Passing is not allowed</u>.
		div Traffic signals sometimes display arrows to control turns from specific lanes. A solid yellow arrow: <u>Has the same meaning as a circular yellow traffic light</u>.
		div A white cloth tied to a radio antenna or a door handle indicates: <u>A vehicle breakdown</u>.
		div You should adjust your lap belt so that it is buckled: <u>Low and snug across the hips</u>.
		div Which light indicates that turns are permitted but not protected? <u>A flashing yellow arrow</u>.
		div Driving at night with parking lights instead of headlights: <u>Is not allowed</u>.
		div When you proceed straight ahead on a solid green light, you must: <u>Not enter the intersection if it is blocked</u>.
		div As the percentage of alcohol in your blood increases, you become more: <u>Inpaired</u>.
		div How do seat belts help you when you drive? <u>They keep you behind the wheel if you are hit from the side</u>.
		div Signs indicating areas of public recreation are: <u>Brown</u>.
		div Pentagonal signs indicate: <u>School zones</u>.
		hr
		H4 Numbers
		div Front door windows on a vehicle may be tinted to no more than: <u><b>65</b> percent light blockage</u>.
		div The minimum and maximum speed limits on Missouri interstate highways are: <u><b>40</b> mph and <b>70</b> mph</u>.
		div If you are convicted of Driving While Intoxicated (DWI) for the first time, you will: <u>Lose your license for <b>90</b> days.</u>.
		div A point accumulation advisory letter will be sent to you if you: <u>Accumulate a total of four points in <b>12</b> months</u>.
		div When a person buys a vehicle, they must title the vehicle within: <u><b>30</b> days.</u>.
		div In Missouri, it is illegal for an adult driver to operate a motor vehicle with a minimum blood alcohol concentration (BAC) of: <u><b>0.08</b> percent</u>.
		div When making a right or left turn, a driver should signal ____ in advance of the turn. <u><b>100</b> feet</u>.
		div Roads become very slippery: <u>For the first <b>10 to 15</b> minutes of a rainstorm</u>.
		div If you are a new Missouri resident, you must register your vehicle within: <u><b>30</b> days</u>.
		div A conviction of obtaining a driver's license by misrepresentation will result in the following points on your driver record: <u><b>12</b> points</u>.
		div A second offense of speeding or passing in a work zone carries an additional fine of at least: <u><b>300</b></u>.
		div Driving with both hands on the steering wheel approximately in the 8 o'clock and 4 o'clock positions: <u>??</u>.
		div In a heavy rain, tires can lose all traction with the road at about: <u><b>55</b> mph</u>.
		div In a heavy rain, tires can lose all traction with the road at about: <u><b>55</b> mph</u>.
		div In a heavy rain, tires can lose all traction with the road at about: <u><b>55</b> mph</u>.
		hr
		
		
		div 
			img(src="images/keep_right.png" width="50") 
			|&nbsp;This sign means: Keep to the side indicated by the arrow.
		div 
			img(src="images/keep_right.png" width="50") 
			|&nbsp;This sign means: Keep right.
		div 
			img(src="images/divided_highway_road_ends.png" width="50") 
			|&nbsp;This sign means: Divided highway ends.
		div 
			img(src="images/hospital_emergency_services_to_the_right.png" width="50") 
			|&nbsp;This sign means: Hospital ahead and to the right.
		div 
			img(src="images/yield.png" width="50") 
			|&nbsp;This sign means: Slow down and be prepared to stop if necessary.
		div 
			img(src="images/curve_ahead_right.png" width="50") 
			|&nbsp;This sign means: The road ahead curves right, then left.
		div 
			img(src="images/no_u_turn.png" width="50") 
			|&nbsp;This sign means: U-turns are prohibited.
		div 
			img(src="images/steep_downgrade.png" width="50") 
			|&nbsp;This sign means: Steep downgrade.
		div 
			img(src="images/hill.png" width="50") 
			|&nbsp;This sign means: Upcoming hill.
		div 
			img(src="images/no_turn.png" width="50") 
			|&nbsp;This sign means: No U-turn.
		div 
			img(src="images/lane_ends.png" width="50") 
			|&nbsp;This sign means: Lane ends.
		div 
			img(src="images/do_not_enter.png" width="50") 
			|&nbsp;This sign is used to prevent: Entrances from the wrong direction on one-way streets and expressway ramps..
		div 
			img(src="images/slippery_when_wet.png" width="50") 
			|&nbsp;This sign means: The road will be slippery when wet.
		div 
			img(src="images/connecticut-roundabout_circle.png" width="50") 
			|&nbsp;This sign means: Roundabout ahead.
		div 
			img(src="images/narrow_bridge_2.png" width="50") 
			|&nbsp;This sign means: The bridge ahead may be too narrow to meet or pass a truck..
		div 
			img(src="images/speed_limit_55.png" width="50") 
			|&nbsp;This road sign means: The maximum legal speed on the roadway is 55 mph.
		div 
			img(src="images/progress_exit_only.png" width="100") 
			|&nbsp;If you see this sign above your lane, you: Must exit the freeway, if you stay in your current lane.
		div 
			img(src="images/stop.png" width="50") 
			|&nbsp;This road sign means: You must come to a complete stop.
		div 
			img(src="images/one_way.png" width="50") 
			|&nbsp;This road sign means: One-way traffic.
		div 
			img(src="images/pedestrian_crossing.png" width="50") 
			|&nbsp;This road sign means: Pedestrian crossing.
		div 
			img(src="images/warning.png" width="50") 
			|&nbsp;A yellow and black diamond-shaped sign: Warns you about conditions on or near the road.
		div 
			img(src="images/pedestrian_crossing_2.png" width="50") 
			|&nbsp;This road sign means: Pedestrian crossing ahead.
		div 
			img(src="images/merging_traffic.png" width="50") 
			|&nbsp;This road sign means: Merge.
		div 
			img(src="images/side_road.png" width="50") 
			|&nbsp;This road sign means: Side road.
		div 
			img(src="images/four_way_intersection.png" width="50") 
			|&nbsp;This road sign means: A four-way intersection is ahead.
		div 
			img(src="images/one_way.png" width="50") 
			|&nbsp;This road sign means: One-way traffic.
		div 
			img(src="images/one_way.png" width="50") 
			|&nbsp;This road sign means: One-way traffic.
		div 
			img(src="images/one_way.png" width="50") 
			|&nbsp;This road sign means: One-way traffic.
		ol
			+mli('en', "out", 'https://dmv-practice-test.com/Missouri/car/practice-test-1', 'dvm-practice-test.com', 'Официальный сайт. Пробные тесты', "icon")
			+mli('en', "out", 'https://driversprep.com/missouri/', 'driversprep.com', 'Пробные тесты', "icon")

			
			+mli('en', "out", 'https://dor.mo.gov/pdf/Questions.pdf', 'dor.mo.gov', 'Официальный сайт. Пробные тесты', "pdf")