extends ../layouts/html_layout.jade

block title
	title= site_title + " Яхтинг"

block content
	div.row: div.large-12.columns: h1 Яхтинг
	div.row: div.large-12.columns
		ol
			li Ассоциации
				ol
					li 
						a(href='http://www.rya.org.uk') RYA 
						| - The Royal Yachting Association
					li: a(href='http://issa-schools.org/') ISSA
					li: a(href='https://asa.com/') IYT
					li: a(href='https://asa.com/') ASA - American Sailing Association
			li Школы
				ol
					li: a(href='http://gosailing.ru') Яхтенная школа GoSailing
					li: a(href='http://www.go-og.ru') Яхтенная школа Олега Гончаренко
					li: a(href='http://www.7winds.school') Семь ветров
					li: a(href='http://skippers.ru/') Skippers.ru - Все в одном
					li: a(href='http://open-sail.ru') Яхтенная школа Open-Sail
					li: a(href='http://sailingtime.ru') Яхтенная школа SailingTime					
					li: a(href='http://www.ru-sailing.ru') Яхтенная школа, яхт-клуб Ru-Sailing					
					
			li Регаты
				ol
					li: a(href='http://firstbyfirst.ru/') FirstByFirst
			li Магазины, аренда и т.п.
				ol
					li: a(href='http://www.spartak.ws') Яхт клуб Спартак (Москва)
					li: a(href='http://www.gaetana-marine.com') Gaetana marine
					li: a(href='http://sailband.com') SailBand.com - Аренда. Черногория (Бар).
					li: a(href='http://simplesail.com') SimpleSail.com - Аренда. Черногория (Будва, Монтэнэгро).
					li: a(href='http://www.atlas-yacht.ru') Яхтенное агентство «ATLAS»						
			li Литература
				ol
					li 
						a(href='http://rutracker.org/forum/viewtopic.php?t=4219689') Сборник
						| RYA Competent Crew/Day Skipper/Yachtmaster/Motor Cruising [1991-2005, PDF, RUS/ENG]
			li Тусовка
				ol
					li: a(href='http://mtelegraph.com') Ежедневные морские новости.
					li: a(href='http://www.seaexpo.ru') SeaExpo
					li: a(href='http://forum.katera.ru/') Форум журнала катера и яхты
			li Теория
				ol
					li: strong: a(href='sailing_teory.html') конспект	
		p.
			Важно знать "Международные Правила Предупреждения Столкновений Судов в море", 1972 г.	
			