extends ../layouts/html_layout.jade

block title
	title= site_title + " Яхтинг. Теория"

block content
	div.row: div.large-12.columns: h1 Яхтинг. Теория
	div.row: div.large-12.columns
		img( src="../images/dp.gif" alt="Схема плоскостей корабля")
		div
			| <strong>Диаметральная плоскость (ДП)</strong> - вертикальная продольная плоскость симметрии, разделяющая судно (не то которое под койкой) на правую и левую 
			| половины. Пересечение ДП с наружными поверхностями корпуса дает на боковой проекции линии киля, форштевня, ахтерштевня и палубы.
		div <strong>Основная плоскость(ОП)</strong> - горизонтальная плоскость, касательная к линии киля (самой нижней кромки обшивки на судне) в его нижней точке.
		div <strong>Основная линия (ОЛ)</strong> - линия пересечения ОП с ДП.
		div
			| <strong>Плоскость мидель-шпангоута (миделя)</strong> - вертикальная поперечная плоскость, проходящая посредине длины судна, обычно через наиболее полное 
			| поперечное сечение.
		div
			<strong>Галс</strong> — движение судна относительно ветра. Различают левый (ветер дует в левый борт /англ. port side) и правый (ветер дует в правый борт/ англ. starboard) галсы. При расхождении парусных судов в ситуации пересечения курсов судно, идущее левым галсом, обязано уступить судну, идущему правым галсом, для избежания столкновения.
		div
			<strong>Фарва́тер</strong> (голл. vaarwater, от varen — плыть и water — вода) — судовой ход, безопасный в навигационном отношении и обозначенный на местности и/или карте проход по водному пространству, характеризующийся достаточными глубинами и отсутствием препятствий для судоходства, например, затопленных судов, рифов и мин.		

