extends ../layouts/html_layout.jade

block title
	title= site_title + " Все о Stable Diffusion"

block content
	h2.font-effect-shadow-multiple Все о Stable Diffusion
	article.grid-container
		ol
			li Основное
				ol
					+mli('en', "out", 'https://stability.ai/', 'stability.ai', ' Stable Diffusion, Stable Audio, Beluga', "icon")
					+mli('en', "out", 'https://stable-diffusion-art.com/', 'stable-diffusion-art', ' Stable Diffusion tutorial', "icon")
					+mli('en', "out", 'https://deliberate.pro/', 'deliberate', 'Модель для Stable Diffusion от Христ', "icon")
					+mli('en', "out", 'https://learn.thinkdiffusion.com/', 'learn.thinkdiffusion.com', 'Статьи, обучение, модели', "icon")
					+mli('en', "out", 'https://www.gate2ai.com/prompts-midjourney', 'gate2ai.com', 'prompts-midjourney', "icon")


					//-li Low-Rank Adaptation of Large Language Models (LoRA) 
			+mli('ru', "my", 'trainingLoRA.html', "тренировка LoRA", "", "")
			+mli('ru', "my", 'models.html', "Модели", "", "")
		ol
			li Интерфейсы
				ol
					li AUTOMATIC1111
						ol
							+mli('en', "out", 'https://github.com/AUTOMATIC1111/stable-diffusion-webui', "AUTOMATIC1111", "официальный репозиторий", "github")
					+mli('ru', "my", 'comfyui_begin.html', "ComfyUI", "обучение, шаблоны", "")

					li Forge
						ol
							+mli('en', "out", 'https://github.com/lllyasviel/stable-diffusion-webui-forge', "ForgeUI", "официальный репозиторий", "github")
					li Next
						ol
							+mli('en', "out", 'https://github.com/vladmandic/automatic', "SD.Next", "официальный репозиторий", "github")

						
					+mli('en', "out", 'https://github.com/Stability-AI/StableSwarmUI', "StableSwarmUI", "", "github")
					li Fooocus
						ol
							+mli('en', "out", 'https://github.com/lllyasviel/Fooocus', "Fooocus", "официальный репозиторий", "github")
					li InvokeAI
						ol
							+mli('en', "out", 'https://github.com/invoke-ai/InvokeAI', "InvokeAI", "официальный репозиторий", "github")
			ol
			li Статьи
				ol
					+mli('en', "out", 'https://minimaxir.com/', "Max Woolf's Blog", "", "icon")
					+mli('en', "out", 'https://jalammar.github.io/illustrated-stable-diffusion/', "The Illustrated Stable Diffusion", "", "icon")
					+mli('en', "out", 'https://strikingloo.github.io/stable-diffusion-vs-dalle-2', "Stable Diffusion: Prompt Guide and Examples", "", "icon")
					+mli('en', "out", 'https://civitai.notion.site/SDXL-1-0-Training-Overview-4fb03d5b4cbf482ebe13ffef7bcb8ead', "SDXL 1.0 Training Overview", "", "icon")


			li Видео
				ol
					+mli('en', "out", "https://www.youtube.com/watch?v=RT--PjAiu9Q", "Обучение. LoRA модели.", "", "youtube")
					+mli('en', "out", "https://www.youtube.com/@sedetweiler", "Scott Detweiler", "", "youtube")
					+mli('en', "out", "https://www.youtube.com/@OlivioSarikas", "Olivio Sarikas", "", "youtube")
					+mli('en', "out", "https://www.youtube.com/@latentvision", "latent vision", "Канал от создателя IPAdapter_plus", "youtube")
					+mli('ru', "out", "https://www.youtube.com/@StableDiff/videos", "StableDif | Stable Diffusion | Automatic 1111", "", "youtube")
					+mli('ru', "out", "https://www.youtube.com/watch?v=Afw-Edl61w0", "Replicart", "Stable diffusion: что такое VAE?", "youtube")