extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Общие вопросы
		ul
			//-li
				a(href="abc.html" target="_blank") Алфавит.
			li
				a(href="pronunciation.html" target="_blank") Произношение.
			li
				a(href="numerals.html" target="_blank") Числительные. 
			li
				a(href="languages.html" target="_blank") Языки. Национальности. Страны.
			//-li
				a(href="days_of_the_week.html" target="_blank") Дни недели. Месяцы. Времена года.
			li
				a(href="time.html" target="_blank") Время.
				| 
			li
				a(href="notes.html" target="_blank") Мои заметки по языку.
			li
				a(href="../gramática/gramática.html" target="_blank") <b>Грамматика</b>. 
			li <u>Словарь</u>
				ol
					li 
						a(href="../diccionario/dic_mar.html" target="_blank") Море. Океан. 
						|| 
						a(href="../diccionario/test_dic_mar.html" target="_blank") Тест.
					li
						a(href="../diccionario/dic_colors.html" target="_blank") Цвета.
						|| 
						a(href="../diccionario/test_dic_colors.html" target="_blank") Тест.
					li 
						a(href="../diccionario/dic_verbos_1.html" target="_blank") Глаголы-1. 
						|| 
						a(href="../diccionario/dic_verbos_2.html" target="_blank") Глаголы-2. 
						|| 
						a(href="../diccionario/dic_verbos_3.html" target="_blank") Глаголы-3. 
						|| 
						a(href="../diccionario/dic_verbos_4.html" target="_blank") Глаголы-4. 
						|| 
						//-a(href="../diccionario/test_dic_verbos.html" target="_blank") Тест.
					li
						a(href="../diccionario/dic_escuela.html" target="_blank") Образование. Школа. Институт.
						|| 
						//-a(href="../diccionario/test_dic_escuela.html" target="_blank") Тест.
					li
						a(href="../diccionario/dic_básico.html") К курсу по историям.
					li
						a(href="../diccionario/dic_.html") .
					li
						a(href="../game/dic_game.html") Игра. Слова на тему море.
			li <u>Диалоги</u> | Diálogos
				ol
					li 
						a(href="../diálogos/dialog1.html") Знакомство. ¿Cómo te llamas? / ¿Cómo se llama? Как тебя зовут? / Как вас зовут?
					//-li
						a(href="../diálogos/dialog2.html") Trabajo y estudios. Учеба и работа.
					li
						a(href="../diálogos/dialog_piso.html") El piso. Квартира.
					li
						a(href="../diálogos/dialog_alojamiento.html") Alojamiento. Гостиница. Хостел.
					//-li
						a(href="../diálogos/dialog_gastos.html") Gastos e ingresos. Доходы и расходы.
					li
						a(href="../diálogos/dialog_salud.html") Salud. Здоровье.
					li
						a(href="../diálogos/dialog_la_familia.html") La familia. Семья.
					li
						a(href="../diálogos/dialog_oficina.html") En la oficina. В офисе.
					li
						a(href="../diálogos/dialog001.html") Диалог 001. 
		h3 Видео 
			span.h6.subheader sitcom
		ul
			li 
				a(href="../sitcom/Capitulo_1_Presentaciones.html" target="_blank") Capitulo 01 — Presentaciones. Знакомство.
			li 
				a(href="../sitcom/Capitulo_2_Saludos.html" target="_blank") Capitulo 02 — Saludos. Приветствие.
			li 
				a(href="../sitcom/Capitulo_3_Nacionalidades.html" target="_blank") Capitulo 03 — Nacionalidades. .
			li 
				a(href="../sitcom/Capitulo_14_En_el_restaurante.html" target="_blank") Capitulo 14 — En el restaurante. В ресторане.
			li 
				a(href='../sitcom/Capitulo 04 — La familia.html' target='_blank') Capitulo 04 — La familia. Семья.
			li 
				a(href='../sitcom/Capitulo 05 — Objetos y acciones cotidianas.html' target='_blank') Capitulo 05 — Objetos y acciones cotidianas. Повседневные предметы и действия.
			li 
				a(href='../sitcom/Capitulo 06 — La casa.html' target='_blank') Capitulo 06 — La casa. Дом.
			li 
				a(href='../sitcom/Capitulo 07 — Las profesiones.html' target='_blank') Capitulo 07 — Las profesiones
			li 
				a(href='../sitcom/Capitulo 08 — Las horas.html' target='_blank') Capitulo 08 — Las horas
			li 
				a(href='../sitcom/Capitulo 09 — Planes y obligaciones.html' target='_blank') Capitulo 09 — Planes y obligaciones
			li 
				a(href='../sitcom/Capitulo 10 — No tenemos asistenta.html' target='_blank') Capitulo 10 — No tenemos asistenta
			li 
				a(href='../sitcom/Capitulo 11 — Aqui hace demasiado calor.html' target='_blank') Capitulo 11 — Aqui hace demasiado calor
			li 
				a(href='../sitcom/Capitulo 12 — Que ropa te pones.html' target='_blank') Capitulo 12 — Que ropa te pones
			li 
				a(href='../sitcom/Capitulo 13 — En el mercado.html' target='_blank') Capitulo 13 — En el mercado
			li 
				a(href='../sitcom/Capitulo 14 — En el restaurante.html' target='_blank') Capitulo 14 — En el restaurante
			li 
				a(href='../sitcom/Capitulo 15 — En el hotel.html' target='_blank') Capitulo 15 — En el hotel
			li 
				a(href='../sitcom/Capitulo 16 — En la ciudad.html' target='_blank') Capitulo 16 — En la ciudad
			li 
				a(href='../sitcom/Capitulo 17 — Deportes y estados animicos.html' target='_blank') Capitulo 17 — Deportes y estados animicos
			li 
				a(href='../sitcom/Capitulo 18 — No me encuentro bien.html' target='_blank') Capitulo 18 — No me encuentro bien
			li 
				a(href='../sitcom/Capitulo 19 — Comprar regalos.html' target='_blank') Capitulo 19 — Comprar regalos
			li 
				a(href='../sitcom/Capitulo 20 — Vamos a cocinar.html' target='_blank') Capitulo 20 — Vamos a cocinar
			li 
				a(href='../sitcom/Capitulo 21 — Hablamos de politica.html' target='_blank') Capitulo 21 — Hablamos de politica
			li 
				a(href='../sitcom/Capitulo 22 — Internet.html' target='_blank') Capitulo 22 — Internet
			li 
				a(href='../sitcom/Capitulo 23 — Una entrevista de trabajo.html' target='_blank') Capitulo 23 — Una entrevista de trabajo
			li 
				a(href='../sitcom/Capitulo 24 — Buscando piso.html' target='_blank') Capitulo 24 — Buscando piso
			li 
				a(href='../sitcom/Capitulo 25 — Nos vamos de viaje.html' target='_blank') Capitulo 25 — Nos vamos de viaje
			li 
				a(href='../sitcom/Capitulo 26 — Los estudios y los recuerdos.html' target='_blank') Capitulo 26 — Los estudios y los recuerdos
			li 
				a(href='../sitcom/Capitulo 27 — El aspecto de la gente.html' target='_blank') Capitulo 27 — El aspecto de la gente
			li 
				a(href='../sitcom/Capitulo 28 — Paseando por Madrid.html' target='_blank') Capitulo 28 — Paseando por Madrid
			li 
				a(href='../sitcom/Capitulo 29 — Campo o ciudad.html' target='_blank') Capitulo 29 — Campo o ciudad
			li 
				a(href='../sitcom/Capitulo 30 — Nuestro dia a dia.html' target='_blank') Capitulo 30 — Nuestro dia a dia
		h3 Песни
		ol
			li 
				a(href="../canciones/Manu_Chao_Me_Gustas_Tu.html" target="_blank") Manu Chao - Me Gustas Tu 
			li 
				a(href="../canciones/Bailando.html" target="_blank") Enrique Iglesias - Bailando ft. Descemer Bueno, Gente De Zona.
			li 
				a(href="../canciones/Ricky_Martin_Adiós.html" target="_blank") Ricky Martin - Adiós.
			li 
				a(href="../canciones/Ricky_Martin_A_quien_quiera_escuchar.html" target="_blank") Ricky Martin - A quien quiera escuchar.
			li 
				a(href="../canciones/Ricky_Martin_Ácido_Sabor.html" target="_blank") Ricky Martin - Ácido Sabor. (2022)
			li Natalia Oreiro
				ol
					li 
						a(href="../canciones/Natalia_Oreiro_Huracán.html" target="_blank") Natalia Oreiro - Huracán
					li 
						a(href="../canciones/Natalia_Oreiro_Uruguay.html" target="_blank") Natalia Oreiro - Uruguay
		h3 Фильмы
		ol
			li Argentina, 1985, 2022. Аргентина, 1985.
			li El robo del siglo, 2020. Афера века.
			li Gilda, no me arrepiento de este amor, 2016. Джильда. 
			li Mi obra maestra, 2018. Шедевр.
			li
		h3 Сериалы
		ol
			li Santa Evita, 2022. Святая Эвита. 
		h3 Сайты
		ul 
			li
				a(href="https://www.collinsdictionary.com/dictionary/english-spanish" target="_blank") collinsdictionary.com 
				| Игры
			li
				a(href="https://context.reverso.net/translation/" target="_blank") reverso.net 
				| Примеры с контекстом
				
			li
				a(href="https://tutesp.ru/" target="_blank") tutesp.ru 
				| Самоучитель испанского языка. Мне понравился.
				
			li
				a(href="https://proespanol.ru/" target="_blank") proespanol.ru 
				| Много информации, но немного устарел.
			li
				a(href="https://iespanol.ru/" target="_blank") iespanol.ru 
				| Много информации, но немного устарел. Тесты онлайн. Грамматика испанского.
			li 
				a(href="" target="_blank") _
				| Ссылки по испанскому языку
			li
				a(href="https://hispablog.ru/" target="_blank") hispablog.ru 
				| Блог испанского языка.
			li
				a(href="https://www.profedeele.es/" target="_blank") profedeele.es 
				| Обучение и тесты
			li
				a(href="https://www.dyshlevaya.com/" target="_blank") dyshlevaya.com 
				| Дышлевая - личный сайт
			li
				a(href="https://www.studyspanish.ru/" target="_blank") studyspanish.ru 
				| Есть теория. Есть тесты
			li
				a(href="https://ru.wiktionary.org/wiki/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5:%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D1%87%D0%B0%D1%81%D1%82%D0%BE%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%B8%D1%81%D0%BF%D0%B0%D0%BD%D1%81%D0%BA%D0%B8%D1%85_%D1%81%D0%BB%D0%BE%D0%B2_1-1000" target="_blank") 1-1000 Частых испанских слов 
				| Есть ссылки на разбор слов.
			li
				a(href="https://rutracker.net/forum/viewtopic.php?t=4335091" target="_blank") Адаптированные книги и аудиокниги на испанском языке 
				| rutracker.net.
			
		h3 Обучение онлайн
		ul 
			li
				a(href="https://www.duolingo.com/" target="_blank") duolingo.com 
				| Уроки по испанскому языку
			li 
				span.flag_en &nbsp;
				A(HREF="https://www.gutenberg.org/" target="_blank") gutenberg.org 
				| Gutenberg project бесплатная библиотека книг на разных языках. Есть испанский
			li 
				a(href="https://quizlet.com/ru" target="_blank") quizlet.com 
				| Карточки</a> + игры, схемы.
			
			li <A HREF="https://books.google.com/ngrams" target="_blank">Google Ngrams</A>
			li <A HREF="https://www.clozemaster.com/" target="_blank">Clozemaster</A>
			li <A HREF="https://www.google.com/docs/about/" target="_blank">Google Docs</A>
			
		h3(class="font-effect-shadow-multiple") Youtube короткометражки
		ol 
			li
				a(href="https://www.youtube.com/watch?v=joAb83GTpbM" target="_blank") Cocodrilo - Cortometraje 
				| Крокодильчик
			li
				a(href="https://www.youtube.com/@Borntofilmmaking1987/videos" target="_blank") Andrea Casaseca 
				| канал
			li
				a(href="https://www.youtube.com/watch?v=8If34bHvRj8" target="_blank") ¿Me perdonas? 
				| Cortometraje. Ivandra Films
			li
				a(href="https://www.youtube.com/watch?v=hPPSZ36C6as" target="_blank") ANA & BruNo  
				| 
			li
				a(href="https://www.youtube.com/watch?v=ZiNFXntWOJw" target="_blank") Rockalingua  
				| Некоторые цвета и счет до 10. Музыкальный мультфильм.
			
		<h3 class="font-effect-shadow-multiple">Youtube каналы</h3>
		ol 
			li
				a(href="https://www.youtube.com/@PeppaPigEspanolLatinoOficial/videos" target="_blank") Peppa Pig Español 
				| Свинка Пеппа на испанском
			li
				a(href="https://www.youtube.com/@SpanishPlayground" target="_blank") Spanish Playground 
				| Сериал "Buene Gente". Уроки. Английский.
				
			li
				a(href="https://www.youtube.com/@KidsFirstEspanolLatino/videos" target="_blank") Kids First - Español Latino 
				| Последнее всё про Свинку Пеппа на испанском
			li
				a(href="https://www.youtube.com/@KidsTVEspanolLatino/videos" target="_blank") Kids TV Español Latino - Canciones Infantiles 
				| Детские мультики на испанском
		<h3 class="font-effect-shadow-multiple">Youtube ролики</h3>
		ol
			<li><A HREF="https://www.youtube.com/watch?v=nEWe8j3RMtY&list=PLyhXDeW_WjhAsHY7gtjKzxIh26MU3gX5F&ab_channel=Aprenderespa%C3%B1olonline">Диалоги</A> с субтитрами на русском</li>
			<li><A HREF=""></A></li>
		<h3 class="font-effect-shadow-multiple">Статьи. Заметки.</h3>
		ol
			li
				a(href="https://www.diezminutos.es/teleprograma/series-tv/g32765114/series-netflix-espanolas-buenas-maraton/" target="_blank") diezminutos.es 
				| 38 испанских сериалов на Netflix
			li _

		h3(class="font-effect-shadow-multiple") Курсы на сайте Alison.com
		ol
			li _
		h3(class="font-effect-shadow-multiple") Тесты онлайн
		ol
			li
				a(href="https://www.tiatula.com/tests_nivel/" target="_blank") tiatula.com 
				| Тесты по всем категориям
			li 