extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Общие вопросы
		ul
			//-li
				a(href="abc.html" target="_blank") Алфавит.
			li
				a(href="pronunciation.html" target="_blank") Произношение.
			li
				a(href="numerals.html" target="_blank") Числительные. 
			li
				a(href="languages.html" target="_blank") Языки. Национальности. Страны.
			//-li
				a(href="days_of_the_week.html" target="_blank") Дни недели. Месяцы. Времена года.
			li
				a(href="time.html" target="_blank") Время.
				| 
			li
				a(href="notes.html" target="_blank") Мои заметки по языку.
			li
				a(href="../gramática/gramática.html" target="_blank") <b>Грамматика</b>. 
			li <u>Словарь</u>
				ol
					li 
						a(href="../diccionario/dic_mar.html" target="_blank") Море. Океан. 
						|| 
						a(href="../diccionario/test_dic_mar.html" target="_blank") Тест.
					li
						a(href="../diccionario/dic_colors.html" target="_blank") Цвета.
						|| 
						a(href="../diccionario/test_dic_colors.html" target="_blank") Тест.
					li 
						a(href="../diccionario/dic_verbos_1.html" target="_blank") Глаголы-1. 
						|| 
						a(href="../diccionario/dic_verbos_2.html" target="_blank") Глаголы-2. 
						|| 
						a(href="../diccionario/dic_verbos_3.html" target="_blank") Глаголы-3. 
						|| 
						a(href="../diccionario/dic_verbos_4.html" target="_blank") Глаголы-4. 
						|| 
						a(href="../diccionario/test_dic_verbos.html" target="_blank") Тест.
					li
						a(href="../diccionario/dic_escuela.html" target="_blank") Образование. Школа. Институт.
						|| 
						a(href="../diccionario/test_dic_escuela.html" target="_blank") Тест.
					li
						a(href=".html") 
			li <u>Диалоги</u> | Diálogos
				ol
					li 
						a(href="../diálogos/dialog1.html") Знакомство. ¿Cómo te llamas? / ¿Cómo se llama? Как тебя зовут? / Как вас зовут?
					//-li
						a(href="../diálogos/dialog2.html") Trabajo y estudios. Учеба и работа.
					li
						a(href="../diálogos/dialog_piso.html") El piso. Квартира.
					//-li
						a(href="../diálogos/dialog_alojamiento.html") Alojamiento. Гостиница. Хостел.
					//-li
						a(href="../diálogos/dialog_gastos.html") Gastos e ingresos. Доходы и расходы.
					li
						a(href="../diálogos/dialog_salud.html") Salud. Здоровье.
					li
						a(href="../diálogos/dialog_oficina.html") En la oficina. В офисе.
					li
						a(href="../diálogos/dialog001.html") Диалог 001. 
		h3 Песни
		ol
			li 
				a(href="../canciones/Manu_Chao_Me_Gustas_Tu.html" target="_blank") Manu Chao - Me Gustas Tu 
			li 
				a(href="../canciones/Bailando.html" target="_blank") Enrique Iglesias - Bailando ft. Descemer Bueno, Gente De Zona.
			li 
				a(href="../canciones/Ricky_Martin_Adiós.html" target="_blank") Ricky Martin - Adiós.
			li 
				a(href="../canciones/Ricky_Martin_A_quien_quiera_escuchar.html" target="_blank") Ricky Martin - A quien quiera escuchar.
			li 
				a(href="../canciones/Ricky_Martin_Ácido_Sabor.html" target="_blank") Ricky Martin - Ácido Sabor. (2022)
			
		h3 Сайты
		ul 
			li
				a(href="https://www.collinsdictionary.com/dictionary/english-spanish" target="_blank") collinsdictionary.com 
				| Игры
			li
				a(href="https://context.reverso.net/translation/" target="_blank") reverso.net 
				| Примеры с контекстом
				
			li
				a(href="https://tutesp.ru/" target="_blank") tutesp.ru 
				| Самоучитель испанского языка. Мне понравился.
				
			li
				a(href="https://proespanol.ru/" target="_blank") proespanol.ru 
				| Много информации, но немного устарел.
			li
				a(href="https://iespanol.ru/" target="_blank") iespanol.ru 
				| Много информации, но немного устарел. Тесты онлайн. Грамматика испанского.
			li 
				a(href="" target="_blank") _
				| Ссылки по испанскому языку
			li
				a(href="https://hispablog.ru/" target="_blank") hispablog.ru 
				| Блог испанского языка.
			li
				a(href="https://www.profedeele.es/" target="_blank") profedeele.es 
				| Обучение и тесты
			li
				a(href="https://www.dyshlevaya.com/" target="_blank") dyshlevaya.com 
				| Дышлевая - личный сайт
			li
				a(href="https://www.studyspanish.ru/" target="_blank") studyspanish.ru 
				| Есть теория. Есть тесты
			li
				a(href="https://ru.wiktionary.org/wiki/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5:%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D1%87%D0%B0%D1%81%D1%82%D0%BE%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%B8%D1%81%D0%BF%D0%B0%D0%BD%D1%81%D0%BA%D0%B8%D1%85_%D1%81%D0%BB%D0%BE%D0%B2_1-1000" target="_blank") 1-1000 Частых испанских слов 
				| Есть ссылки на разбор слов.
			li
				a(href="https://rutracker.net/forum/viewtopic.php?t=4335091" target="_blank") Адаптированные книги и аудиокниги на испанском языке 
				| rutracker.net.
			
		h3 Обучение онлайн
		ul 
			li
				a(href="https://www.duolingo.com/" target="_blank") duolingo.com 
				| Уроки по испанскому языку
			li 
				span.flag_en &nbsp;
				A(HREF="https://www.gutenberg.org/" target="_blank") gutenberg.org 
				| Gutenberg project бесплатная библиотека книг на разных языках. Есть испанский
			li 
				a(href="https://quizlet.com/ru" target="_blank") quizlet.com 
				| Карточки</a> + игры, схемы.
			
			li <A HREF="https://books.google.com/ngrams" target="_blank">Google Ngrams</A>
			li <A HREF="https://www.clozemaster.com/" target="_blank">Clozemaster</A>
			li <A HREF="https://www.google.com/docs/about/" target="_blank">Google Docs</A>
		<h3 class="font-effect-shadow-multiple">Youtube каналы</h3>
		ol 
			li
				a(href="https://www.youtube.com/@PeppaPigEspanolLatinoOficial/videos" target="_blank") Peppa Pig Español 
				| Свинка Пеппа на испанском
			li
				a(href="https://www.youtube.com/@KidsFirstEspanolLatino/videos" target="_blank") Kids First - Español Latino 
				| Последнее всё про Свинку Пеппа на испанском
			li
				a(href="https://www.youtube.com/@KidsTVEspanolLatino/videos" target="_blank") Kids TV Español Latino - Canciones Infantiles 
				| Детские мультики на испанском
		<h3 class="font-effect-shadow-multiple">Youtube ролики</h3>
		ol
			<li><A HREF="https://www.youtube.com/watch?v=nEWe8j3RMtY&list=PLyhXDeW_WjhAsHY7gtjKzxIh26MU3gX5F&ab_channel=Aprenderespa%C3%B1olonline">Диалоги</A> с субтитрами на русском</li>
			<li><A HREF=""></A></li>
		<h3 class="font-effect-shadow-multiple">Статьи. Заметки.</h3>
		ol
			li
				a(href="https://www.diezminutos.es/teleprograma/series-tv/g32765114/series-netflix-espanolas-buenas-maraton/" target="_blank") diezminutos.es 
				| 38 испанских сериалов на Netflix
			li _

		h3(class="font-effect-shadow-multiple") Курсы на сайте Alison.com
		ol
			li _
		h3(class="font-effect-shadow-multiple") Тесты онлайн
		ol
			li
				a(href="https://www.tiatula.com/tests_nivel/" target="_blank") tiatula.com 
				| Тесты по всем категориям
			li 