extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Мои заметки по языку.
		p Предлоги в испанском языке всегда стоят в начале вопроса, перед вопросительным словом: ¿<b>En</b> que barrio vives?, ¿<b>De</b> dónde eres?
		p Выражение ¿Cuánto es? Сколько это стоит? обычно используется не для того, чтобы узнать стоимость продукта, а чтобы выяснить, сколько надо заплатить за покупки.
		p Важно различать следующие слова
		table(class="table-simple")
			tbody
				tr
					td dé
					td форма глагола dar
					td de
					td предлог
				tr
					td sí
					td да
					td si
					td ли, если
				tr
					td él
					td он
					td el
					td артикль
				tr
					td tú 
					td ты
					td tu 
					td твой
				tr
					td mí 
					td меня, мне
					td mi
					td мой
				tr
					td té
					td чай
					td te
					td тебя, тебе
				tr
					td sé
					td я знаю
					td se
					td возвр. мест., себя
				tr
					td más
					td более
					td mas 
					td но 
				tr
					td sólo
					td только
					td solo
					td единственный
		
		table(class="table-simple")
			tbody
				tr
					td de 
					td предлог
					td указывает на принадлежность
					td 
						| es el hijo <b>de</b> un amigo mío
					td
						| он сын моего друга
				tr
					td el, la 
					td артикль
					td
					td
					td
				tr
					td que 
					td союз
					td что, который
					td dice <b>que</b> no quiere estudiar
					td он говорит, что не хочет учиться
				tr
					td y 
					td союз
					td и
					td
					td
					
				tr
					td en 
					td предлог
					td в, на
					td vivo <b>en</b> el segundo piso
					td я живу <b>на</b> втором этаже
				tr
					td un 
					td артикль
					td 
					td era <b>un</b> hombre simpático
					td он был хорошим человеком
				tr
					td ser 
					td глагол
					td быть, являться
					td
					td
				tr
					td a 
					td предлог
					td
					td
					td
				tr
					td él
					td местоимение
					td он
					td <b>él</b> es bastante simpático
					td <b>он</b> очень милый
				tr
					td lo 
					td артикль
					td 
					td
					td
				tr
					td no 
					td частица 
					td отрицание
					td <b>no</b> tiene dinero
					td у него <b>нет</b> денег
				tr
					td su 
					td прилагательное (фамильярное)
					td его, ее, их, твое
					td ¿Quién era? ¿<b>Su</b> hermana? ¿<b>Su</b> amiga?
					td Кто был? <b>Его</b> сестра? <b>Ее</b> друг?
				tr
					td haber 
					td глагол
					td
					td
					td
				tr
					td con 
					td 
					td 
					td
					td
				tr
					td por 
					td 
					td 
					td
					td
				tr
					td para 
					td 
					td 
					td
					td
				tr
					td mí 
					td местоимение
					td меня
					td
					td
				tr
					td lo 
					td 
					td 
					td
					td
				tr
					td tener 
					td глагол
					td иметь
					td
					td
				tr
					td como 
					td 
					td 
					td
					td
				tr
					td estar 
					td глагол
					td быть, находиться
					td él <b>está</b> en el trabajo
					td он на работе
				tr
					td me 
					td
					td 
					td
					td
				tr
					td más 
					td 
					td 
					td
					td