extends ../layouts/html_layout.jade

block title
	title= site_title + " Настольные игры"

block content
	div.row: div.large-12.columns: h1 Настольные игры
	div.row: div.large-12.columns
		ol
			li
				a(href="LITS_rules.pdf") <i class="far fa-file-pdf"></i> Правила игры 
				| 'Сражение на тетрамино' 
		div Если вы хотите поделиться информацией по какой либо из представленных выше игре пишите мне на почту.

