extends ../layouts/html_layout.jade

block title
	title= site_title + " Настольные игры"

block content
	div.row: div.large-12.columns: h1 Настольные игры
	div.row: div.large-12.columns
		ol
			li
				a(href="#") Правила игры 'Сражение на тетрамино' 

