extends ../layouts/html_layout.jade

block title
	title= site_title + " Настольные игры"

block content
	div.row: div.large-12.columns: h1 Настольные игры
	div.row: div.large-12.columns
		ol
			li
				a(href="LITS_rules.pdf") <i class="far fa-file-pdf"></i> Правила игры 
				| 'Сражение на тетрамино' 
			// Hive - Улей.
			// Играть можно на http://www.boardspace.net/english/about_hive.html и https://boardgamearena.com
			// Правила на официальном сайте https://www.gen42.com/ https://www.gen42.com/download/rules/hive/Hive_Russian_Rules.pdf
			// Канал на youtube https://www.youtube.com/channel/UCDNTTMCjtY7zRhB6VI6L37A/videos
			// http://www.csc.kth.se/utbildning/kth/kurser/DD143X/dkand13/Group5Roberto/final/Andreas.Brytting.Johan.Nygren.report.pdf
			// http://www.ultraboardgames.com/hive/links.php
			li
				a(href="Cinco_rules_ru.pdf") <i class="far fa-file-pdf"></i> Правила игры 
				| 'Синко(Cinco)' 
		div Если вы хотите поделиться информацией по какой либо из представленных выше игре пишите мне на почту.
		a(href="prestige.html") Правила расчета престижа на сайте boardgamearena

