- var site_title = "ABSOLEM.INFO";
doctype
html(lang="ru")
	head
		title= site_title
		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1.0")
		meta( name="description" content="Семенова Андрей Вячеславович. Личный сайт" )
		meta( name="author" content="Семенова Андрей Вячеславович" )
		meta( name="keywords" content="Absolem,HTML5,CSS3,Робототехника,Python,Трейдинг" )
		meta( name="copyright" content="Семенова Андрей Вячеславович" )
		link( rel="shortcut icon" href="/caterpillar.png" )
		link( rel="stylesheet" href="css/mainstyle.css" type="text/css" media="all" )
		link( rel="stylesheet" href="css/foundation.css" type="text/css" media="all" )
		link( rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" media="all")

	body
		div.grid-container.fluid
			div.cell.small-4
				div
					h1: strong= site_title
				div
					p.text-right "Знать, чтобы предвидеть, предвидеть, чтобы действовать" - Огюст Конт

		div.grid-container.fluid.text-center
			div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-4
				div.cell.small-4.callout.primary
					a(href="IQTestPaper/canvas.html") Головоломка на протыкание бумаги 
					<span class="label success"><i class="fi-widget"></i>обновлено в 2024!</span>
				div.cell.small-4.callout.primary
					a(href="sportprogramming/programming_index.html") <i class="fas fa-code"></i> Программирование
					<span class="label success"><i class="fi-widget"></i>актуально</span>

				div.cell.small-4.callout.primary
					a(href="cooking/index.html") <i class="fas fa-mortar-pestle"></i> Информация по кулинарии
					<span class="label success"><i class="fi-widget"></i>актуально</span>
				//-div.cell.small-4.callout.primary
					a(href="math/index.html") <i class="fas fa-graduation-cap"></i> Математика
				div.cell.small-4.callout.primary
					a(href="trading/index.html") <i class="fas fa-chart-line"></i> Инвестирование 
					<span class="label success"><i class="fi-widget"></i>популярно!</span>
				//-div.cell.small-4.callout.primary
					a(href="ipsc/index.html") <i class="fas fa-shield-alt"></i> Практическая стрельба
				div.cell.small-4.callout.primary
					a(href="entertainment/index.html") <i class="fas fa-gamepad"></i> Развлечения 
					<span class="label success"><i class="fi-widget"></i>актуально</span>
					//<span class="label alert"><i class="fi-widget"></i>устарело!</span>
				//-div.cell.small-4.callout.primary
					a(href="betting/index.html") <i class="far fa-money-bill-alt"></i> Ставки на спорт
					<span class="label alert"><i class="fi-widget"></i>устарело!</span>

				div.cell.small-4.callout.primary
					a(href="useful/useful_index.html") <i class="fas fa-user-ninja"></i> Полезно 
					<span class="label success"><i class="fi-widget"></i>актуально</span>
				div.cell.small-4.callout.primary
					a(href="interest/interest.html") <i class="fas fa-ellipsis-h"></i> Интересно 
					<span class="label success"><i class="fi-widget"></i>актуально</span>
			ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.text-center
				//li: div.callout.panel: a(href="userscripts/userscripts.html") Userscripts
				//li: div.callout.panel: a(href="astronomy/index.html") Astronomy
 
				//li: div.callout.panel: a(href="photo/index.html") Информация по фотографии
				
		hr
		div.grid-container.fluid.text-center
			div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-4
				div.cell.small-4.callout.primary
					a(href="cybersecurity/cybersecurity.html") <i class="fas fa-user-secret"></i> Информационная безопасность 
					<span class="label alert"><i class="fi-widget"></i>устарело!</span>
				div.cell.small-4.callout.primary
					a(href="links.html") <i class="fas fa-link"></i> Ссылки 
					<span class="label alert"><i class="fi-widget"></i>устарело!</span>
				div.cell.small-4.callout.primary
					a(href="robots/index.html") <i class="fas fa-robot"></i> Роботы 
					<span class="label alert"><i class="fi-widget"></i>устарело!</span>
					
					
		footer
			div.grid-container.fluid.text-center
				div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-3
					div.cell.small-4
						a(href="https://validator.w3.org/check?uri=referer")
							img(src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics")

					div.cell.small-4
						a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
							img(alt="Лицензия Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png")
						p © 2001 - 2024
						div: small Это произведение, автор которого — 
							a(href="about/about_main.html") Андрей Семенов
						div: small Доступно на условиях 
							a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") лицензии 
							| Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная.
					div.cell.small-4
						a(rel="license" href="http://freedomdefined.org")
							img(alt="freedomdefined" style="border-width:0" src="images/seal.png")