- var site_title = "ABSOLEM.INFO";
doctype
html(lang="ru")
	head
		title= site_title
		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1.0")			
		meta( name="description" content="Семенова Андрей Вячеславович. Личный сайт" )
		meta( name="author" content="Семенова Андрей Вячеславович" )
		meta( name="keywords" content="Absolem,HTML5,CSS3,Робототехника,Python,Трейдинг" )
		meta( name="copyright" content="Семенова Андрей Вячеславович" )
		link( rel="shortcut icon" href="/favicon.ico" )
		link( rel="stylesheet" href="css/mainstyle.css" type="text/css" media="all" )
		link( rel="stylesheet" href="css/foundation.css" type="text/css" media="all" )			
		//script( src="../js/prefixfree.min.js" )
		//script( src="../js/modernizr-2.7.0.dev.js" )
		//script( src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
		//script( src="../js/functions.js" )
		//link( rel="stylesheet" href="../css/googlecode.css" )
		//link( href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&amp;subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'" )
	body
		div.row
			div.large-4.columns
				h1: strong= site_title
			div.large-4.columns
				br
				p "Знать, чтобы предвидеть, предвидеть, чтобы действовать" - Огюст Конт
		div.row
		div.row
			ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.text-center
				li: div.callout.panel: a(href="programming_index.html") Программирование
				li: div.callout.panel: a(href="links.html") Ссылки				
				li: div.callout.panel: a(href="robots/index.html") Роботы
				//li: div.callout.panel: a(href="cooking/index.html") Информация по кулинарии												
				li: div.callout.panel: a(href="diving/diving.html") Дайвинг
				//li: div.callout.panel: a(href="entertainment/index.html") Развлечения
				li: div.callout.panel: a(href="math/index.html") Математика				
				//li: div.callout.panel: a(href="userscripts/userscripts.html") Userscripts
				//li: div.callout.panel: a(href="astronomy/index.html") Astronomy
				li: div.callout.panel: a(href="trading/index.html") Инвестирование 
				//li: div.callout.panel: a(href="photo/index.html") Информация по фотографии
				li: div.callout.panel: a(href="ipsc/index.html") Практическая стрельба
				//li: div.callout.panel: a(href="useful_index.html") Полезно
				li: div.callout.panel: a(href="interest/interest.html") Интересно
				li: div.callout.panel: a(href="betting/index.html") Ставки на спорт
		div.row
			//div.large-10.columns.text-center
			div.large-2.medium-2.columns
				a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
					img(alt="Лицензия Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png")
			div.large-1.medium-1.columns						
				a(rel="license" href="http://freedomdefined.org")
					img(alt="freedomdefined" style="border-width:0" src="images/seal.png")
		div.row
			div.large-6.medium-centered.columns: p: small
				|Это произведение, автор которого — 
				span(xmlns:cc="http://creativecommons.org/ns#", property="cc:attributionName") Андрей Семенов
				, доступно на условиях 
				a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") 
					лицензии Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная.			