extends layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h2: strong Полезное
	div.row: div.large-12.columns

		div.row
			ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.text-center
				li: div.callout.panel: a(href="useful/rutracker.html") Трекер помошник				
				li: div.callout.panel: a(href="useful/htmllinks.html") Сайтостроение
				li: div.callout.panel: a(href="useful/utorrent.html") Работа с utorrent				

