extends ../layouts/html_layout.jade

block title
	title= site_title + " Греческий язык"

block content
	h2.font-effect-shadow-multiple Греческий язык
	article.grid-container
		h3 Общие вопросы
		ol
			+mli("ru","my", "tutorial_1.html", "Урок 1.", "Алфавит", "")

		h3 Сайты
		ol 
			li
				a(href="http://www.hecucenter.ru/ru/") hecucenter.ru 
				| «Греческий культурный центр» в Москве.
			li
				a(href="https://www.greekmos.ru/") greekmos.ru 
				| Московское общество греков.
			li
				a(href="https://rusgreek.ru/") Греки России.
			li
				a(href="https://www.foundalis.com/lan/greek.htm") foundalis.com 
			li
				a(href="https://www.lexigram.gr/") lexigram.gr.
			li
				a(href="https://el.wiktionary.org/wiki") el.wiktionary.org.
			li
				a(href="https://greeklanguage.gr/") greeklanguage.gr 
				| Центр греческого языка
			li
				a(href="https://kleis.gr/links/") kleis.gr 
				| Ссылки по греческому языку
			li
				a(href="https://www.greek-language.gr/greekLang/index.html") www.greek-language.gr 
				| Центр греческого языка
		h3 Обучение онлайн
		ol 
			li
				a(href="https://www.duolingo.com/") duolingo.com 
				| Уроки по греческому языку
			li
				a(href="http://www.kypros.org/LearnGreek/") kypros.org 
				| Уроки по греческому языку
				