extends ../layouts/html_layout.jade

block title
	title= site_title + " Греческий язык"

block content
	h2.font-effect-shadow-multiple Урок 1. Алфавит
	article.grid-container
		h3 Общие вопросы
		div εερξχζψ ά, έ, ή, ί, ό, ύ, ώ Ά, Έ, Ή, Ί, Ό, Ύ, Ώ ϊ
		table(style = "width:75%")
			tr
				th номер
				th( style = "width:25%") буква
				th название
				th русское название
				th произношение
			tr
				td 1
				td Α α
				td άλφα
				td альфа
				td 		
					<audio controls>
					<source src="audio\alpha.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 2
				td Β β
				td βητα
				td вита
				td 
					<audio controls>
					<source src="audio\beta.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 3
				td Γ γ
				td γαμα
				td гамма
				td 
					<audio controls>
					<source src="audio\gamma.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 4
				td Δ δ
				td δελτα
				td дельта
				td 
					<audio controls>
					<source src="audio\delta.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 5
				td Ε ε
				td εψιλον
				td эпсилон
				td 
					<audio controls>
					<source src="audio\epsilon.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 6
				td Ζ ζ
				td ζητα
				td зита
				td 
					<audio controls>
					<source src="audio\zeta.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 7
				td Η η
				td ητα
				td ита
				td 
					<audio controls>
					<source src="audio\eta.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 8
				td Θ θ
				td θητα
				td фита
				td 
					<audio controls>
					<source src="audio\theta.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 9
				td Ι ι
				td γιωτα
				td йота
				td 
					<audio controls>
					<source src="audio\iota.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 10
				td Κ κ
				td καπα
				td каппа
				td 
					<audio controls>
					<source src="audio\kappa.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 11
				td Λ λ
				td λαμδα
				td ламда
				td 
					<audio controls>
					<source src="audio\lambda.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 12
				td Μ μ
				td μι
				td ми
				td 
					<audio controls>
					<source src="audio\mu.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 13
				td Ν ν
				td νι
				td ни
				td 
					<audio controls>
					<source src="audio\nu.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 14
				td Ξ ξ
				td ξι
				td кси
				td 
					<audio controls>
					<source src="audio\ksi.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 15
				td Ο ο
				td ομικρον
				td омикрон
				td 
					<audio controls>
					<source src="audio\omicron.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 16
				td Π π
				td πι
				td пи
				td 
					<audio controls>
					<source src="audio\pi.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 17
				td Ρ ρ
				td ρο
				td ро
				td 
					<audio controls>
					<source src="audio\rho.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 18
				td Σ σ
				td σιγμα
				td сигма
				td 
					<audio controls>
					<source src="audio\sigma.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 19
				td Τ τ
				td ταυ
				td таф
				td 
					<audio controls>
					<source src="audio\tau.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 20
				td Υ υ
				td υψιλον
				td ипсилон
				td 
					<audio controls>
					<source src="audio\upsilon.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 21
				td Φ φ
				td φι
				td фи
				td 
					<audio controls>
					<source src="audio\phi.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 22
				td Χ χ
				td χι
				td хи
				td 
					<audio controls>
					<source src="audio\chi.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 23
				td Ψ ψ
				td ψι
				td пси
				td 
					<audio controls>
					<source src="audio\psi.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
			tr
				td 24
				td Ω ω
				td ωμεγα
				td омега
				td 
					<audio controls>
					<source src="audio\omega.wav" type="audio/wav">
						Your browser does not support the audio element.
					</audio>
		h3 Ссылки по теме
		ol 
			li
				Greek for you 
				a(href="https://www.youtube.com/watch?v=x5WtE8WrpLY") видео Алфавит.
			li
				Greek for you 
				a(href="https://rogokizobilija.blogspot.com/2014/10/blog-post.html") блог Алфавит.
				