extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Python
	article.grid-container
		ol
			li
				| Конспект теории по питону
				ol
					+mli("ru", "my", "python_abc.html", "Урок", "Работа с библиотекой abc(Abstract Base Classes)")
					+mli("ru", "my", "python_doctest.html", "Урок", "Работа с библиотекой doctest")
					+mli("ru", "my", "python_re.html", "Урок", "Работа с регулярными выражениями")
					+mli("ru", "my", "python_venv.html", "Урок", "Работа с виртуальным окружением в питоне с версии 3.4")
					+mli("ru", "my", "statistics_main.html", "Урок", "Статистика на python")
					+mli("ru", "my", "pythonistic.html", "Урок", "Питонистический код")
					+mli("ru", "my", "python_testing.html", "Урок", "Вопросы тестирования на python")
					+mli("ru", "my", "brython_test.html", "ТЕСТ", "Работа питона в браузере")
					+mli("ru", "my", "quiz_n_0001.html", "ТЕСТ", "Quiz по python")
					+mli("ru", "my", "python_faq.html", "Урок", "Вопросы и ответы по python")
					+mli("ru", "my", "python_queue.html", "Урок", "Работа с библиотекой Queue на python")
					+mli("ru", "my", "../python_patterns/python_patterns.html", "Раздел", "Шаблоны проектирования на python")

			li Литература по python на <strong>русском языке</strong>
				ol
					li
						a(href="https://rutracker.org/forum/viewtopic.php?t=5478453") [rutracker] 2017. Изучаем программирование на Python
					li
						a(href="https://rutracker.org/forum/viewtopic.php?t=5554491") [rutracker] 2018. Python для сложных задач: наука о данных и машинное обучение
					li
						a(href="https://rutracker.org/forum/viewtopic.php?t=5595625") [rutracker] 2018. Чистый Питон
					li
						a(href="http://wombat.org.ua/AByteOfPython/") Укус Питона
					li
						a(href="http://ru.diveintopython.net/") В глубь языка Питон
					li
						a(href="https://github.com/whitehorn/Scientific_graphics_in_python") Электронный учебник
						| - пособие по научной графике в python. Библиотека matplotlib.

			li Дайджесты
				ol
					+mli("en", "out", "https://dataelixir.com", "", "DataElixir")
					+mli("en", "out", "http://highscalability.com/", "", "Highscalability")
					+mli("en", "out", "https://www.kdnuggets.com/", "", "KDnuggets")
					+mli("en", "out", "https://www.datasciencecentral.com/", "", "datasciencecentral")

			li Анализ изображений (OpenCV, ...)
				ol
					li
						a(href="http://www.learnopencv.com/") LearnOpenCV.com
						| код - https://github.com/spmallick/learnopencv
					li
						a(href="http://www.cs.uregina.ca/Links/class-info/325/PythonPictures/") Манипуляция с изображением
					li
						a(href="https://tutorialsplay.com/opencv/") Просты примеры использования OpenCV

			li Нейронные сети
				ol
					li
						a(href="http://outlace.com/") Крутой блог
					li
						a(href="http://habrahabr.ru/post/271563/") Нейросеть в 11 строчек на Python [RUS]
					li
						a(href="https://www.tensorflow.org/") Tensorflow
						| - Библиотека от Google
					li
						a(href="https://www.youtube.com/playlist?list=PLiaHhY2iBX9hdHaRr6b7XevZtgZRa1PoU") Миникурс по нейронным сетям [ENG]
						a(href="https://github.com/stephencwelch/Neural-Networks-Demystified") код
					li
						a(href="http://keras.io/") keras
						| - надстройка над theano и tensorflow
					li
						a(href="http://www.wildml.com/2015/09/implementing-a-neural-network-from-scratch/") нейронная сеть начальный уровень
					li
						a(href="http://www.wildml.com/") Блог по нейронным сетям и машинному обучению
					li
						a(href="http://karpathy.github.io/neuralnets/") Курс для начинающих	[ENG]
						a(href="http://habrahabr.ru/company/paysto/blog/244723/") перевод
					li
						a(href="http://sebastianraschka.com/Articles/2015_singlelayer_neurons.html") Как работают алгоритмы машинного обучения (часть 1). Искусственные нейроны и однослойные нейронные сети
					li
						a(href="https://habrahabr.ru/company/paysto/blog/246093/") перевод по нейронным сетям
					li
						a(href="http://www.deeplearning.net/tutorial/contents.html") deeplearning.net
					li
						a(href="http://neuralnetworksanddeeplearning.com/index.html") блог

			li Генетические алгоритмы
				ol
					+mli("en", "out", "http://lethain.com/genetic-algorithms-cool-name-damn-simple/", "Статья", "Генетический алгоритм")

					li
						a(href="http://outlace.com/Simple-Genetic-Algorithm-in-15-lines-of-Python/") Генетический алгоритм

			li Статьи по python на английском языке
				ol
					+mli("en", "out", "http://github.com/rouseguy/intro2stats", "Код", "введение в статистику на Python", "github")

			li Сайты
				ol
					+mli("ru", "out", "https://pythonworld.ru/", "pythonworld.ru", "Питон 3 для начинающих", "")
					+mli("ru", "out", "https://asvetlov.blogspot.ru/", "Блог", " Андрея Светлова", "")
					+mli("en", "out", "https://pythonadventures.wordpress.com/", "blog", "Python Adventures Blog", "")
					+mli("ru", "out", "https://www.cyberforum.ru/python/", "cyberforum.ru", "Форум по питону ", "")

			li Бесплатные среды разработки
				ol
					li
						a(href="https://pythonhosted.org/spyder/") Spyder
						|;
						a(href="https://github.com/spyder-ide/spyder") Spyder github
					li PyCharm
					li Winq IDE 101
					//li
						a(href='matrix_main.html') Работа с матрицами на python
