extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h2: strong Python
	div.row: div.large-12.columns
		ol
			li
				| Конспект теории по питону
				ol
					li: strong: a(href='python_doctest.html') Работа с библиотекой doctest
					li: strong: a(href='python_re.html') Работа с регулярными выражениями
					li: strong: a(href='python_venv.html') Работа с виртуальным окружением в питоне с версии 3.4
					li: strong: a(href='kivy_main.html') Работа с библиотекой Kivy
					li: strong: a(href='statistics_main.html') Статистика на python
					li: strong: a(href='pythonistic.html') Питонистический код					
					li: strong: a(href='brython_test.html') Работа питона в браузере - ТЕСТ
					li: strong: a(href='quiz_n_0001.html') Quiz по python - ТЕСТ				
					li: strong: a(href='python_faq.html') Вопросы и ответы по python

			li Литература по python на <strong>русском языке</strong>
				ol
					li  
						a(href="http://wombat.org.ua/AByteOfPython/") Укус Питона
					li 
						a(href="http://ru.diveintopython.net/") В глубь языка Питон
					li  
						a(href="https://github.com/whitehorn/Scientific_graphics_in_python") Электронный учебник 
						| - пособие по научной графике в python. Библиотека matplotlib.
			li Статьи по python на английском языке
				ol
					li  
						a(href="http://github.com/rouseguy/intro2stats") введение в статистику на Python												

			li Сайты
				ol
					li: a(href="http://pythonworld.ru/") Питон 3 для начинающих [RUS]
					li: a(href="http://asvetlov.blogspot.ru/") Блог Андрея Светлова [RUS]
					li: a(href="https://pythonadventures.wordpress.com/") Python Adventures Blog [EN]
					li: a(href="http://security-corp.org/infosecurity/crypto/") Статьи по криптографии [RUS]
					li: a(href="http://www.cyberforum.ru/python/") Форум по питону [RUS]

			li Бесплатные среды разработки
				ol
					li  
						a(href="https://pythonhosted.org/spyder/") Spyder 
						|; 
						a(href="https://github.com/spyder-ide/spyder") Spyder github
					li PyCharm
					li Winq IDE 101
					//li
						a(href='matrix_main.html') Работа с матрицами на python