extends ../layouts/code_layout.jade

block content
	div.row: div.large-12.columns: h4: strong Работа с библиотекой Kivy
	div.row: div.large-12.columns
		p.
			<p>Небольшой кусочек <a href="http://lifeapps.ru/blog/kivy/">документации</a> на русском.
			<p><a href="https://github.com/inclement/kivycrashcourse">Видео Crash course</a> видео + примеры на английском.
			<p><a href="http://pythonmobile.blogspot.ru">Видео курс</a> + код на английском.			