extends ../layouts/code_layout.jade

block title
	title= site_title + " Абстрактный класс"
	

block content
	div.row
		div.columns.large-1 &nbsp;
		div.columns.large-8
			h2 Работа с модулем abc(Abstract Base Classes)
			div.callout(data-closable)
				h3 <i class="far fa-file-code"></i> abc - абстрактный базовый класс

				button.close-button(aria-label="Dismiss alert" type="button" data-close): i.fas.fa-times





			div.callout(data-closable)
				h3 <i class="fas fa-link"></i> Ссылки
				ol
					li 
						a(href="https://pymotw.com/3/abc/"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> pymotw.com. ABC
					li 
						a(href="https://www.python-course.eu/python3_abstract_classes.php"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> python-course.eu. Python3 abstract classes.
					li 
						a(href="https://www.python.org/dev/peps/pep-3119/"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> PEP 3119 -- Introducing Abstract Base Classes
					li 
						a(href="https://docs.python.org/3/library/abc.html"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> docs.python.org. abc — Abstract Base Classes
					li 
						a(href="https://docs.python.org/3/library/collections.abc.html#module-collections.abc"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> docs.python.org. abc — module - collections.abc
					li 
						a(href="https://dbader.org/blog/abstract-base-classes-in-python"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> dbader.org. Abstract Base Classes in Python

					li 
						a(href="http://masnun.rocks/2017/04/15/interfaces-in-python-protocols-and-abcs/"): i.fas.fa-external-link-alt
						|&nbsp;<span class='flag_en'></span>&nbsp;<i class="fas fa-book-open" style="color:grey;"></i> Interfaces in Python: Protocols and ABCs					
					
				button.close-button(aria-label="Dismiss alert" type="button" data-close): i.fas.fa-times
		div.columns.large-3 &nbsp;