extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h2 Вопросы тестирования на python
	div.row: div.large-12.columns
		ol
			li
				| Сайты по теме тестирования
				ol
					li: a(href='http://pythontesting.net/') Pythontesting.net
					li: a(href='http://pythonhosted.org/testing/') Обзор средств тестирования
			li
				| Статьи и т.п.
				ol
					li: strong: a(href='python_doctest.html') Работа с библиотекой doctest
					li: a(href='http://www.blog.pythonlibrary.org/2016/07/20/an-intro-to-coverage-py/') Введение в покрытие кода тестами
					li: a(href='http://docs.python-guide.org/en/latest/writing/tests/') Написание тестов
										
									
