extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h2: strong Вопросы и ответы по python
	div.row: div.large-12.columns
		ol
			li
				| Где можно пройти бесплатное тестирование по python?
				ol
					li: a(href='https://certification.mail.ru/tests/') Сертификация от IT.mail.ru
					li на сайте 
						a(href='http://upwork.com') upwork