extends ../layouts/code_layout.jade

block title
	title= site_title + " Работа с библиотекой Queue на python"
	

block content
	div.row
		div.column.text-center
			h3 Работа с библиотекой Queue на python

	div.row
		div.columns.large-3 &nbsp;
		div.columns.large-6
			div.callout(data-closable)
				h4 Ссылки:
				ol
					li Очереди
						ol
							li: a(href="http://www.learn4master.com/programming-language/python/python-queue-for-multithreading") Python Queue examples
							li: a(href="http://www.learn4master.com/programming-language/python/python-multi-thread-example") python multi thread example
							li: a(href="https://stackoverflow.com/questions/18998520/python-threading-queue-producer-consumer-with-thread-safe") python threading Queue producer-consumer with thread-safe
							li: a(href="http://snakeproject.ru/rubric/article.php?art=python_threading") [RUS] работа с процессами и потоками

							li: a(href="http://www.learn4master.com/programming-language/python/python-queue-for-multithreading") Python Queue examples
							li: a(href="http://www.learn4master.com/programming-language/python/python-queue-for-multithreading") Python Queue examples
							li: strong
					li Про потоки
						ol 
							li: a(href="https://geekbrains.ru/posts/python_threading_part1") [RUS] Python в три ручья: работаем с потоками (часть 1)
							li: a(href="https://geekbrains.ru/posts/python_multithreading_pt2") [RUS] Python в три ручья (часть 2). Блокировки
				button.close-button(aria-label="Dismiss alert" type="button" data-close) X
		div.columns.large-3 &nbsp;
		
