extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h1: strong Ссылки по теме фотография
	div.row: div.large-12.columns
		ol
			li
				| Уроки
				ol
					li: a(href="http://www.photoshoptutorials.ws/photoshop-tutorials/") PhotoshopTutorials.ws
					li: a(href="http://www.psd-dude.com/") psd-dude.com
					li: a(href="http://www.photoshop-plus.co.uk/") photoshop-plus.co.uk
					li: a(href="http://psdbox.com/") psdbox.com/
					li: a(href="http://www.photoshoproadmap.com/") photoshoproadmap.com
					li: a(href="http://demiart.ru/forum/index.php?showtopic=16725&st=45") DemiArt.ru
					li: a(href="http://wegraphics.net/blog/") wegraphics.net/blog/
                           

			li Понравившиеся идеи
				ol
					li: a(href="http://www.photoshoptutorials.ws/photoshop-tutorials/photo-effects/create-poster-inspired-movie-the-bourne-legacy/") Сreate poster inspired movie the bourne legacy
					li: a(href="http://wegraphics.net/blog/tutorials/photoshop-quick-tip-adding-and-enhancing-light-rays-in-your-photos/") photoshop-quick-tip-adding-and-enhancing-light-rays-in-your-photos
					li: a(href="http://demiart.ru/forum/index.php?showtopic=208330") !
					li: a(href="http://demiart.ru/forum/index.php?showtopic=216392") Превращаем фотографию в рисунок
					li: a(href="http://demiart.ru/forum/index.php?showtopic=214099") Ретуш мужского портрета		