extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Enrique Iglesias - Bailando ft. Descemer Bueno, Gente De Zona.
		table(class="minitable")
			tbody
				tr
					td
						div Enrique Iglesias
						div Gente de Zona
						div Descemer
						div &nbsp;
						div Yo te miro y se me corta la respiración
						div Cuando tú me miras, se me sube el corazón
						div (Me palpita lento el corazón)
						div Y en un silencio, tu mirada dice mil palabras
						div La noche en la que te suplico que no salga el Sol
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Tu cuerpo y el mío, llenando el vacío
						div Subiendo y bajando (subiendo y bajando)
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Ese fuego por dentro me va enloqueciendo
						div Me va saturando
						div &nbsp;
						div Con tu física y tu química, también tu anatomía
						div La cerveza y el tequila, y tu boca con la mía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Con esta melodía, tu color, tu fantasía
						div Con tu filosofía, mi cabeza está vacía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca (una noche loca)
						div Ay, besar tu boca (y besar tu boca)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca
						div Con tremenda nota
						div &nbsp;
						div (Oh, oh, oh, ooh)
						div (Oh, oh, oh, ooh)
						div (Oh, oh, ooh, oh)
						div (Oh, oh, oh, ooh)
						div &nbsp;
						div Tú me miras y me llevas a otra dimensión
						div (Estoy en otra dimensión)
						div Tus latidos aceleran a mi corazón
						div (Tus latidos aceleran a mi corazón)
						div Qué ironía del destino no poder tocarte
						div Abrazarte y sentir la magia de tu olor
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Tu cuerpo y el mío, llenando el vacío
						div Subiendo y bajando (subiendo y bajando)
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Ese fuego por dentro me va enloqueciendo
						div Me va saturando
						div &nbsp;
						div Con tu física y tu química, también tu anatomía
						div La cerveza y el tequila, y tu boca con la mía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Con esta melodía, tu color, tu fantasía
						div Con tu filosofía, mi cabeza está vacía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca (una noche loca)
						div Ay, besar tu boca (y besar tu boca)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca
						div Con tremenda nota
						div &nbsp;
						div (Oh, oh, oh, ooh)
						div (Oh, oh, oh, ooh)
						div (Oh, oh, ooh, oh)
						div (Oh, oh, oh, ooh)
						div &nbsp;
						div (Oh, oh, oh, ooh)
						div (Oh, oh, oh, ooh)
						div (Oh, oh, ooh, oh)
						div (Oh, oh, oh, ooh)
						div &nbsp;
						div (Oh, oh, oh, ooh) bailando, amor
						div (Oh, oh, oh, ooh) bailando, amor
						div (Oh, oh, ooh, oh) es que se me va el dolor
						div (Oh, oh, oh, ooh)
		div &nbsp;
		a(href="https://www.youtube.com/watch?v=NUsoVlDFqZg") Оригинал 
		| на youtube
		
		div 
			a(href="https://youtu.be/mQbgFcaj72s") Разбор 
			| на канале Oleg Matveev | Онлайн-школа Estudiamos
		div 
			a(href="https://www.amalgama-lab.com/songs/e/enrique_iglesias/bailando.html") amalgama-lab.com 
			| текст на русском
		div 
			a(href="https://lyrsense.com/enrique_iglesias/bailando_ei") lyrsense.com 
			| текст на русском
		div 
			a(href="https://www.letras.com/enrique-iglesias/bailando/") letras.com 
			| текст на испанском
		
