extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Enrique Iglesias - Bailando ft. Descemer Bueno, Gente De Zona.
		table(class="minitable")
			tbody
				tr
					td
						div Enrique Iglesias
						div Gente de Zona
						div Descemer
						div &nbsp;
						div Yo te miro y se me corta la respiración
						div Cuando tú me miras, se me sube el corazón
						div (Me palpita lento el corazón)
						div Y en un silencio, tu mirada dice mil palabras
						div La noche en la que te suplico que no salga el Sol
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Tu cuerpo y el mío, llenando el vacío
						div Subiendo y bajando (subiendo y bajando)
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Ese fuego por dentro me va enloqueciendo
						div Me va saturando
						div &nbsp;
						div Con tu física y tu química, también tu anatomía
						div La cerveza y el tequila, y tu boca con la mía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Con esta melodía, tu color, tu fantasía
						div Con tu filosofía, mi cabeza está vacía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca (una noche loca)
						div Ay, besar tu boca (y besar tu boca)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca
						div Con tremenda nota
						div &nbsp;
						div (Oh, oh, oh, ooh)
						div (Oh, oh, oh, ooh)
						div (Oh, oh, ooh, oh)
						div (Oh, oh, oh, ooh)
						div &nbsp;
						div Tú me miras y me llevas a otra dimensión
						div (Estoy en otra dimensión)
						div Tus latidos aceleran a mi corazón
						div (Tus latidos aceleran a mi corazón)
						div Qué ironía del destino no poder tocarte
						div Abrazarte y sentir la magia de tu olor
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Tu cuerpo y el mío, llenando el vacío
						div Subiendo y bajando (subiendo y bajando)
						div &nbsp;
						div Bailando (bailando)
						div Bailando (bailando)
						div Ese fuego por dentro me va enloqueciendo
						div Me va saturando
						div &nbsp;
						div Con tu física y tu química, también tu anatomía
						div La cerveza y el tequila, y tu boca con la mía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Con esta melodía, tu color, tu fantasía
						div Con tu filosofía, mi cabeza está vacía
						div Y ya no puedo más (ya no puedo más)
						div Ya no puedo más (ya no puedo más)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca (una noche loca)
						div Ay, besar tu boca (y besar tu boca)
						div &nbsp;
						div Yo quiero estar contigo, vivir contigo
						div Bailar contigo, tener contigo
						div Una noche loca
						div Con tremenda nota
						div &nbsp;
						div (Oh, oh, oh, ooh)
						div (Oh, oh, oh, ooh)
						div (Oh, oh, ooh, oh)
						div (Oh, oh, oh, ooh)
						div &nbsp;
						div (Oh, oh, oh, ooh)
						div (Oh, oh, oh, ooh)
						div (Oh, oh, ooh, oh)
						div (Oh, oh, oh, ooh)
						div &nbsp;
						div (Oh, oh, oh, ooh) bailando, amor
						div (Oh, oh, oh, ooh) bailando, amor
						div (Oh, oh, ooh, oh) es que se me va el dolor
						div (Oh, oh, oh, ooh)
					td
						div Enrique Iglesias
						div Gente de Zona
						div Desceme
						div &nbsp;
						div Я на тебя смотрю, и от этого у меня перехватывает дыхание,
						div А когда ты на меня смотришь — моё сердце учащённо бьётся.
						div (Так бьётся моё сердечко)
						div И в тишине твой взгляд говорит тысячу слов
						div Той ночью, когда я тебя умоляю, чтобы солнце не встало.
						div &nbsp;
						div (Танцуя, танцуя) 
						div (танцуя, танцуя)
						div Твоё тело и моё заполняют пустоту,
						div Поднимаясь и опускаясь (поднимаясь и опускаясь)
						div &nbsp;
						div (В танце, в танце)
						div (в танце, в танце)
						div Этот огонь, который внутри, меня сводит с ума,
						div Он меня поглощает.
						div &nbsp;
						div Из-за твоей физики и химии, а также твоей анатомии,
						div Пива, текилы и наших с тобой губ
						div Я уже больше не могу (уже больше не могу),
						div Я уже больше не могу (уже больше не могу).
						div &nbsp;
						div Из-за этой мелодии, твоего румянца, твоей фантазии,
						div Из-за твоей философии моя голова не способна думать.
						div Я уже больше не могу (уже больше не могу),
						div Я уже больше не могу (уже больше не могу).
						div &nbsp;
						div Я хочу быть с тобой, жить с тобой,
						div Танцевать с тобой, провести с тобой
						div Сумасшедшую ночь (сумасшедшую ночь)
						div И целовать твои губы (целовать твои губы).
						div &nbsp;
						div Я хочу быть с тобой, жить с тобой,
						div Танцевать с тобой, провести с тобой сумасшедшую ночь,
						div Ужасающе сумасшедшую.
						div &nbsp;
						div &nbsp;
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div &nbsp;
						div Ты на меня смотришь и переносишь меня в другое измерение
						div (Я в другом измерении).
						div Твой пульс учащает биение моего сердца
						div (Твой пульс учащает биение моего сердца).
						div Какова ирония судьбы не иметь возможности дотронуться до тебя,
						div Обнять тебя и почувствовать очарование твоего аромата.
						div &nbsp;
						div (Танцуя, танцуя)
						div (танцуя, танцуя)
						div Твоё тело и моё заполняют пустоту,
						div Поднимаясь и опускаясь (поднимаясь и опускаясь)
						div &nbsp;
						div (В танце, в танце)
						div (в танце, в танце)
						div Этот огонь, который внутри, меня сводит с ума,
						div Он меня поглощает.
						div &nbsp;
						div Из-за твоей физики и химии, а также твоей анатомии,
						div Пива, текилы и наших с тобой губ
						div Я уже больше не могу (уже больше не могу),
						div Я уже больше не могу (уже больше не могу).
						div &nbsp;
						div Из-за этой мелодии, твоего румянца, твоей фантазии,
						div Из-за твоей философии моя голова не способна думать.
						div Я уже больше не могу (уже больше не могу),
						div Я уже больше не могу (уже больше не могу).
						div &nbsp;
						div Я хочу быть с тобой, жить с тобой,
						div Танцевать с тобой, провести с тобой
						div Сумасшедшую ночь (сумасшедшую ночь)
						div И целовать твои губы (целовать твои губы).
						div &nbsp;
						div Я хочу быть с тобой, жить с тобой,
						div Танцевать с тобой, провести с тобой сумасшедшую ночь,
						div Ужасающе сумасшедшую.
						div &nbsp;
						div &nbsp;
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div &nbsp;
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div Ооо, ооо, ооо, ооо,
						div &nbsp;
						div Ооо, танцуя, любимая, ооо
						div Ооо, танцуя, любимая, ооо
						div Танец, любимая, вот, что унимает мою боль.
						div Ооо, ооо, ооо, ооо,
						div 
		hr
		h3 Дополнительные материалы
		a(href="https://www.youtube.com/watch?v=NUsoVlDFqZg") Оригинал 
		| на youtube
		
		div 
			a(href="https://youtu.be/mQbgFcaj72s") Разбор 
			| на канале Oleg Matveev | Онлайн-школа Estudiamos
		div 
			a(href="https://www.amalgama-lab.com/songs/e/enrique_iglesias/bailando.html") amalgama-lab.com 
			| текст на русском
		div 
			a(href="https://lyrsense.com/enrique_iglesias/bailando_ei") lyrsense.com 
			| текст на русском
		div 
			a(href="https://www.letras.com/enrique-iglesias/bailando/") letras.com 
			| текст на испанском
		
