extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык 
		span.h4.subheader по песням

	article.grid-container
		h3 Manu Chao - Me Gustas Tu. Мне нравишься ты.
		table(class="minitable").unstriped
			tbody
				tr
					td
						div  
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div (Te lo dije bien clarito)
						div (Permanece a la escucha)
						div (Permanece a la escucha)
						div &nbsp;
						div (Doce de la noche en La Habana, Cuba)
						div (Once de la noche en San Salvador, El Salvador)
						div (Once de la noche en Managua, Nicaragua)
						div &nbsp;
						div Me gustan los aviones, me gustas tú
						div Me gusta viajar, me gustas tú
						div Me gusta la mañana, me gustas tú
						div Me gusta el viento, me gustas tú
						div Me gusta soñar, me gustas tú
						div Me gusta la mar, me gustas tú
						div &nbsp;
						div ¿Qué voy a hacer? Je ne sais pas
						div ¿Qué voy a hacer? Je ne sais plus
						div ¿Qué voy a hacer? Je suis perdu
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div Me gusta la moto, me gustas tú
						div Me gusta correr, me gustas tú
						div Me gusta la lluvia, me gustas tú
						div Me gusta volver, me gustas tú
						div Me gusta marihuana, me gustas tú
						div Me gusta colombiana, me gustas tú
						div Me gusta la montaña, me gustas tú
						div Me gusta la noche (me gustas tú)
						div &nbsp;
						div ¿Qué voy a hacer? Je ne sais pas
						div ¿Qué voy a hacer? Je ne sais plus
						div ¿Qué voy a hacer? Je suis perdu
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div (Doce, un minuto)
						div &nbsp;
						div Me gusta la cena, me gustas tú
						div Me gusta la vecina, me gustas tú (Radio Reloj)
						div Me gusta su cocina, me gustas tú (una de la mañana)
						div Me gusta camelar, me gustas tú
						div Me gusta la guitarra, me gustas tú
						div Me gusta el reggae, me gustas tú
						div &nbsp;
						div ¿Qué voy a hacer? Je ne sais pas
						div ¿Qué voy a hacer? Je ne sais plus
						div ¿Qué voy a hacer? Je suis perdu
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div Me gusta la canela, me gustas tú
						div Me gusta el fuego, me gustas tú
						div Me gusta menear, me gustas tú
						div Me gusta la Coruña, me gustas tú
						div Me gusta Malasaña, me gustas tú
						div Me gusta la castaña, me gustas tú
						div Me gusta Guatemala (me gustas tú)
						div &nbsp;
					td
						div  
						div Который час, моя любовь?
						div &nbsp;
						div (Я же тебе ясно сказал)
						div (Permanece a la escucha)
						div (Permanece a la escucha)
						div &nbsp;
						div (Doce de la noche en La Habana, Cuba)
						div (Once de la noche en San Salvador, El Salvador)
						div (Once de la noche en Managua, Nicaragua)
						div &nbsp;
						div Мне нравятся самолеты, мне нравишься ты
						div Мне нравится путешествовать, мне нравишься ты
						div Мне нравится утро, мне нравишься ты
						div Мне нравится ветер, мне нравишься ты
						div Мне нравится мечтать, мне нравишься ты
						div Мне нравится море, мне нравишься ты
						div &nbsp;
						div Что я буду делать? Я не знаю
						div Что я буду делать? Я больше ничего не знаю
						div Что я буду делать? Я заблудился
						div Который час, моя любовь?
						div &nbsp;
						div Мне нравится мотоцикл, мне нравишься ты.
						div Мне нравится бегать, мне нравишься ты.
						div Мне нравится дождь, мне нравишься ты.
						div Мне нравится возвращаться, мне нравишься ты.
						div Мне нравится марихуана, мне нравишься ты.
						div Мне нравятся колумбийский, мне нравишься ты.
						div Мне нравится гора, мне нравишься ты.
						div Мне нравится ночь, мне нравишься ты.
						div &nbsp;
						div Что я буду делать? Я не знаю,
						div Что я буду делать? Я больше ничего не знаю
						div Что я буду делать? Я заблудился
						div Который час, моя любовь?
						div &nbsp;
						div (Doce, un minuto)
						div &nbsp;
						div Мне нравится ужин, мне нравишься ты,
						div Мне нравится соседка, мне нравишься ты,
						div Мне нравится её кухня, мне нравишься ты,
						div Мне нравится соблазнять, мне нравишься ты,
						div Мне нравится гитара, мне нравишься ты,
						div Мне нравится регги, мне нравишься ты.
						div &nbsp;
						div Что я буду делать? Я не знаю,
						div Что я буду делать? Я больше ничего не знаю
						div Что я буду делать? Я заблудился
						div Который час, моя любовь?
						div &nbsp;
						div Мне нравится корица, мне нравишься ты.
						div Мне нравится огонь, мне нравишься ты.
						div Мне нравится руководить, мне нравишься ты.
						div Мне нравится Ла Корунья, мне нравишься ты.
						div Мне нравится Маласанья, мне нравишься ты.
						div Мне нравится каштан, мне нравишься ты.
						div Мне нравится Гватемала, мне нравишься ты.
				tr
					td
						div ¿Qué voy a hacer? Je ne sais pas
						div ¿Qué voy a hacer? Je ne sais plus
						div ¿Qué voy a hacer? Je suis perdu
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div (¿Qué voy a hacer? Je ne sais pas)
						div (¿Qué voy a hacer? Je ne sais plus)
						div (¿Qué voy a hacer? Je suis perdu)
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div (¿Qué voy a hacer? Je ne sais pas)
						div (¿Qué voy a hacer? Je ne sais plus)
						div (¿Qué voy a hacer? Je suis perdu)
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div ¿Qué horas son, mi corazón?
						div ¿Qué horas son, mi corazón?
						div ¿Qué horas son, mi corazón?
						div ¿Qué horas son, mi corazón?
						div ¿Qué horas son, mi corazón?
						div &nbsp;
						div (Cuatro de la mañana)
						div &nbsp;
						div A la bim, a la bam, a la bim bom bam
						div A la bim, a la bam, a la bim bom bam
						div Obladí, obladá, obladidada
						div A la bim, a la bam, a la bim bom bam
						div &nbsp;
						div (Radio Reloj)
						div (Cinco de la mañana)
						div (No todo lo que es oro brilla)
						div (Remedio chino e infalible)
					td
						div Что я буду делать? Я не знаю,
						div Что я буду делать? Я больше ничего не знаю
						div Что я буду делать? Я заблудился
						div Который час, моя любовь?
						div &nbsp;
						div Что я буду делать? Я не знаю,
						div Что я буду делать? Я больше ничего не знаю
						div Что я буду делать? Я заблудился
						div Который час, моя любовь?
						div &nbsp;
						div Что я буду делать? Я не знаю,
						div Что я буду делать? Я больше ничего не знаю
						div Что я буду делать? Я заблудился
						div Который час, моя любовь?
						div &nbsp;
						div Который час, моя любовь?
						div Который час, моя любовь?
						div Который час, моя любовь?
						div Который час, моя любовь?
						div Который час, моя любовь?
						div &nbsp;
						div (Cuatro de la mañana)
						div &nbsp;
						div A la bim, a la bam, a la bim bom bam
						div A la bim, a la bam, a la bim bom bam
						div Obladí, obladá, obladidada
						div A la bim, a la bam, a la bim bom bam
						div &nbsp;
						div (Radio Reloj)
						div (Cinco de la mañana)
						div (No todo lo que es oro brilla)
						div (Remedio chino e infalible)
		hr
		div Me gustas tu.
			span.translate Ты мне нравишься.
		div gustar 
			a(href="https://www.collinsdictionary.com/dictionary/spanish-english/gustar") &nbsp;
				i(class="fa-solid fa-book-atlas")
			|&nbsp;
			span.translate гл. нравиться
		div Me gustan los aviones 
			span мне нравятся самолеты
		div el avión 
			span.translate самолет, 
			| los aviones 
			span.translate самолеты.
		div La Coruña
			|&nbsp;
			span.translate портовый город в Испании.
		div Malasaña
			|&nbsp;
			span.translate район в Мадриде.
		div el fuego
			|&nbsp;
			span.translate огонь
		div la castaña
			|&nbsp;
			span.translate каштан
		hr
		h3 Дополнительные материалы
		a(href="https://www.youtube.com/watch?v=rs6Y4kZ8qtw") Оригинал 
		| на youtube
		
		div 
			a(href="https://www.youtube.com/watch?v=ifBjBTLCh4A") Разбор 
			| на канале Oleg Matveev | Онлайн-школа Estudiamos
		div 
			a(href="https://www.amalgama-lab.com/songs/m/manu_chao/me_gustas_tu.html") amalgama-lab.com 
			| текст на испанском и перевод на русский
			
		div 
			a(href="https://www.letras.com/manu-chao/7352/") letras.com 
			| текст на испанском
		
