extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык 
		span.h4.subheader по песням

	article.grid-container
		h3 Natalia Oreiro - Huracán. Ураган.


		table(class="minitable").unstriped
			tbody
				tr 
					td(colspan=2).text-center Припев:
				tr 
					td Aunque digan lo que digan
					td Хотя они скажут то, что они скажут,
				tr 
					td No me importa el que dirán
					td Для меня не имеет значение то, что они говорят,
				tr 
					td Sólo basta una mirada
					td Мне хватает только взгляда,
				tr 
					td Y desato un huracán
					td Чтобы бушевал ураган
				tr 
					td Aunque digan lo que digan
					td Хотя они скажут то, что они скажут,
				tr 
					td No me importa el que dirán
					td Для меня не имеет значение то, что они говорят,
				tr 
					td No me importa que murmuren
					td Мне не важно, что он будет шептать,
				tr 
					td Porque soy un huracán
					td Потому что я ураган
				tr 
					td(colspan=2).text-center Куплет 1
				tr 
					td Y me enciendo con tus besos 
					td И твои поцелуи зажигают меня
				tr
					td me desbordo si me amas
					td Я будто вечернее солнце,
				tr 
					td Soy el sol de media tarde
					td Вспышка пламени, переливаюсь через край,
				tr 
					td Soy la llamarada
					td Когда ты любишь меня,
				tr 
					td También soy el agua fresca
					td Я будто свежая вода,
				tr 
					td Que se queda entre tus labios
					td Которая остается между твоими губами
				tr 
					td Me gusta vivir así amando
					td Мне нравится жить так любя!
				tr
					td(colspan=2).text-center Припев...
				tr 
					td(colspan=2).text-center Куплет 2:
				tr 
					td Aunque tenga tanto fuego
					td Хотя в нём есть огонь
				tr 
					td Aunque sea como el viento
					td Хотя в нём есть ветер
				tr 
					td Aunque muera por tus besos
					td Пусть он умрет из-за твоих поцелуев
				tr 
					td Soy un sentimiento
					td Я чувство,
				tr 
					td También soy el cielo y arena
					td Я небо и песок,
				tr 
					td Y la sal que condimenta
					td А ты сыпешь мне соль на раны,
				tr 
					td Yo tengo para vivir pimienta
					td Я живу с этой горечью
				tr
					td(colspan=2).text-center Припев...
				tr 
					td(colspan=2).text-center Куплет 3:
				tr 
					td Y soy esa noche tibia que tanto esperas
					td И я та теплая ночь, которую ты так ждешь
				tr 
					td Y puedo robarte el alma
					td И я могу украсть твою душу
				tr 
					td Aunque tu no quieras
					td Даже если ты не хочешь
				tr 
					td Aunque tu no quieras 
					td Даже если ты не хочешь
				tr
					td(colspan=2).text-center Припев...

		hr

		hr
		h3 Дополнительные материалы
		div
			a(href="https://www.youtube.com/watch?v=Q1NPoj2PDMo") Оригинал Audio 
			| на youtube
			
		div 
			a(href="https://www.amalgama-lab.com/songs/n/natalia_oreiro/huracan.html") amalgama-lab.com 
			| текст на испанском и перевод на русский
			
		div 
			a(href="https://www.letras.com/natalia-oreiro/354898/") letras.com 
			| текст на испанском
		
