extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык 
		span.h4.subheader по песням

	article.grid-container
		h3 Natalia Oreiro - Uruguay. Уругвай.


		table(class="minitable").unstriped
			tbody
				tr 
					td(colspan=2).text-center Куплет:
				tr 
					td Traigo conmigo tantos recuerdos
					td Со мной всегда столько воспоминаний,
				tr 
					td Llevo en el alma lo que yo siento
					td Я храню в душе то, что чувствую.
				tr 
					td Y traigo el sol de una tierra que aún me espera
					td В памяти моей солнце и земля, что все еще ждут меня.
				tr 
					td Y yo sé que extrañare
					td Я знаю, что буду тосковать.
				tr 
					td Me besa el aire, me abriga el cielo
					td Меня целует воздух, небо укрывает меня.
				tr 
					td Doy lo que tengo por lo que quiero
					td Я отдаю то, что имею за то, что хочу.
				tr 
					td Busco un amor para el fin
					td Я ищу любовь в конечном счете, (Я хочу, чтобы любовь дала мне все.)
				tr 
					td Brindarme entera
					td Отдавая себя без остатка.
				tr 
					td No se si lo encontraré...
					td Не знаю, встречу ли я ее... (Не знаю, как его(ee) найти...)
				tr 
					td(colspan=2).text-center Припев
				tr 
					td Ves que la vida puede cambiar sin un porque 
					td Ты видишь, что жизнь может изменить без лишних "почему".
				tr
					td Hay que dejarse ir y entregarse se una vez
					td Следует пасть духом и сдаться
				tr 
					td Ven por mi, vuela conmigo
					td За мной, будь рядом!
				tr 
					td Siempre asi, estare contigo
					td Всегда я буду с тобой!
				tr 
					td Ven por mi vuela conmigo
					td За мной, будь рядом,
				tr 
					td Mi amor
					td Любовь моя!
				tr 
					td(colspan=2).text-center Куплет 2:
				tr 
					td Canto del aire bajando el cerro
					td Я пою о ветре, склоняющем шею.
				tr 
					td Murga en las calles y algun recuerdo
					td Бродячие музыканты на улицах и какое-то воспоминание...
				tr 
					td Y aunque no este yo me quedaré en mi pueblo
					td И хотя это не я, я останусь в своей деревне.
		

		hr

		hr
		h3 Дополнительные материалы
		div
			a(href="https://www.youtube.com/watch?v=_omI2xgoXzA") Оригинал Audio 
			| на youtube
			
		div 
			a(href="https://www.amalgama-lab.com/songs/n/natalia_oreiro/uruguay.html") amalgama-lab.com 
			| текст на испанском и перевод на русский
			

