extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Ricky Martin - A quien quiera escuchar.
		table(class="minitable")
			tbody
				tr
					td
						div Otro giro en la historia,
						div Otra vuelta a empezar
						div Otro error, otro error sin memoria
						div Justo ahora, que empezaba a volar
						div Esta vez voy despacio
						div No sé bien, no sé bien que pensar
						div Ahora que no lo andaba buscando
						div Va el amor y me vuelve a encontrar
						div Aquí queda, a quien quiera escuchar
						div Si lo sientes… díselo a la suerte
						div Si lo encuentras… hazlo para siempre
						Una línea que el destino dejó escrita aquía mi lado
						div Si el mañana es un error, quiero estarequivocado…
						div No es el miedo en el alma, no lo es no
						div No es la duda al entrar
						div Eres tú, eres tú, es la esperanza
						div Que me invita a dejarme llevar
						div A quedarme sin armas, a quitarme eldisfraz
						div A entregarme sin falta, solo al verte llegar
						div Y a sentirte en silencio
						div En silencio, cuando aquí ya no estás
						div Aquí queda, a quien quiera escuchar
						div Si lo sientes… díselo a la suerte
						div Si lo encuentras… hazlo para siempre
						div Una línea que el destino dejó escrita aquía mi lado
						div Si el mañana es un error, quiero estarequivocado…
						div Díselo a la suerte
						div Si lo encuentras… hazlo para siempre
						div Una línea que el destino dejó escrita anuestro lado
						div Si el mañana es un error, quiero estarequivocado…
						div Si lo sientes… díselo a la suerte
						div Si lo encuentras… hazlo para siempre
						div Una línea que el destino dejó escrita anuestro lado
						div Si el mañana es un error, quiero estarequivocado…
						div Esa línea que el destino dejó escrita anuestro lado
						div Si el mañana es un error, quiero estarequivocado
					td
						div Новый поворот в истории,
						div Снова начинать сначала.
						div Новая ошибка, новая ошибка без памяти,
						div Именно в тот момент, когда я набирал высоту.
						div На этот раз я не тороплюсь.
						div Не знаю точно, не знаю точно, что думать.
						div Теперь, хоть я её не искал,
						div Приходит любовь и снова меня находит.
						div Здесь остаётся тот, кто хочет слушать.
						div Если ты это чувствуешь... расскажи обэ том судьбе,
						div Если ты это найдешь... не упускай никогда.
						div Один путь, начертанный мне судьбой здесь.
						div Если завтрашний день это ошибка, я хочу ошибаться...
						div Это не страх в моей душе, нет это не так.
						div Это не сомнение перед входом.
						div Это ты, это ты даёшь надежду,
						div Приглашая меня поддаться искушению...
						div Остаться безоружным, снять с себя маску,
						div Отдать себя без остатка, лишь увидев как ты приближаешься.
						div И чувствовать тебя в тишине,
						div В тишине, когда тебя здесь уже нет.
						div Здесь остаётся тот, кто хочет слушать.
						div Если ты это чувствуешь... расскажи об этом судьбе,
						div Если ты это найдешь... не упускай никогда.
						div Один путь, начертанный мне судьбой здесь.
						div Если завтрашний день это ошибка, я хочу ошибаться...
						div Расскажи об этом судьбе,
						div Если ты это найдешь... не упускай никогда.
						div Один путь, начертанный нам судьбой.
						div Если завтрашний день это ошибка, я хочу ошибаться...
						div Если ты это чувствуешь... расскажи об этом судьбе,
						div Если ты это найдешь... не упускай никогда.
						div Один путь, начертанный нам судьбой.
						div Если завтрашний день это ошибка, я хочу ошибаться...
						div Этот путь, начертанный нам судьбой.
						div Если завтрашний день это ошибка, я хочу ошибаться...






		hr
		h3 Дополнительные материалы
		a(href="https://www.youtube.com/watch?v=kKtHovGNsOA") Оригинал 
		| на youtube
		
		div 
			a(href="https://lyrsense.com/ricky_martin/a_quien_quiera_escuchar") lyrsense.com 
			| текст на русском
		div 
			a(href="https://lyrsense.com/ricky_martin/a_quien_quiera_escuchar") letras.com 
			| текст на испанском
		
