extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Ricky Martin - Ácido Sabor.
		table(class="minitable").unstriped
			tbody
				tr
					td
						div [Letra de "Ácido Sabor"]
					td
						| 
				tr
					td 
						div [Verso 1]
					td
						| Куплет 1
				tr
					td
						| Se ha vuelto un vicio, mm-mm-mm
					td
						| Это превратилось в порок
				tr
					td
						div Pa' cualquiera una adicción
						div Completamente necesaria
				tr
					td
						div Cuando viajas por mis áreas
					td
						| В то время как вы путешествуете по моим районам
				tr
					td
						div Se me nubla la visión
					td
						| Мое зрение затуманено
						//| Затуманило мой взор
				tr
					td
						div [Pre-Coro]
				tr
					td
						div Peligroso
					td
						| Опасный
				tr
					td
						div Tal vez todo se sienta dulce, pero es doloroso
					td
						| Может быть, все кажется сладким, но это больно
				tr
					td
						div Agarro tu mano, camino y me siento grandioso
					td
						| Я держу твою руку, я иду и я чувствую себя прекрасно
				tr
					td
						div No tengo alas
					td
						| У меня нет крыльев,
				tr
					td
						div Pero tú me haces volar, eh
					td 
						|Но ты заставляешь меня летать
				tr
					td
						div [Coro]
						div Y así va la vida
						div No importa lo que digan
						div Si al final somos tú y yo
						div Jugando a ser tímidos
						div Ácido sabor, uh, uh-uh
					td
						div Припев
						div И так идет жизнь независимо от того, 
						div что они говорят
						div Если в конце ты и я будем 
						div играть в tímidos/застенчивость 
						div Кислый вкус
				tr
					td

						div [Verso 2]
						div Yo no te quiero, más bien te adoro
						div Tú eres mi estrella, mi luz, mi tesoro
						div Nunca te vayas, no me dejes solo
						div Ayer estaba sentado en la luna por llevarme tan alto
						div Tu efecto es un encanto
						div Tú eres mi estado natural, oh-oh

						div [Verso 3]
						div O eres mi dosis medicinal
						div Mi locura en la intimidad
						div Ah-ah, it's alright
						div Mi miel y tu piel
						div Unidas se ven tan bien
						div Esto no deja de crecer, mm-mm

						div [Pre-Coro]
						div Peligroso
						div Tal vez todo se sienta dulce, pero es doloroso
						div Agarro tu mano, camino y me siento grandioso
						div No tengo alas
						div Pero tú me haces volar, mmm
						div You might also like
						div Amordio
						div Ricky Martin
						div Livin’ la Vida Loca
						div Ricky Martin
						div Cupid (Twin Version)
						div FIFTY FIFTY (피프티피프티)
						div [Coro]
						div Y así va la vida
						div No importa lo que digan
						div Si al final somos tú y yo
						div Jugando a ser tímidos
						div Ácido sabor (Uh, uh-uh)

						div [Puente]
						div Y si me quiero elevar
						div Solo tengo que besar
						div Debajo de tu barriga
						div (Debajo de tu barriga)

						div [Pre-Coro]
						div Peligroso
						div Tal vez todo se sienta dulce, pero es doloroso
						div Agarro tu mano, camino y me siento grandioso
						div No tengo alas
						div Pero tú me haces volar, woh-oh-oh

						div [Coro]
						div Y así va la vida
						div No importa lo que digan
						div Si al final somos tú y yo
						div Jugando a ser tímidos
						div Ácido sabor (Uh, uh-uh)
					td


		hr
		h3 Дополнительные материалы
		a(href="https://www.youtube.com/watch?v=kKtHovGNsOA") Оригинал 
		| на youtube
		
		div 
			a(href="https://lyrsense.com/ricky_martin/a_quien_quiera_escuchar") lyrsense.com 
			| текст на русском
		div 
			a(href="https://lyrsense.com/ricky_martin/a_quien_quiera_escuchar") letras.com 
			| текст на испанском
		
