extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Ricky Martin - Adiós

		hr
		h3 Дополнительные материалы
		a(href="https://www.youtube.com/watch?v=JluQoTEg2gU") Оригинал 
		| на youtube
		

		div 
			a(href="https://www.letras.com/ricky-martin/adios/") letras.com 
			| текст на испанском
		
