extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Ricky Martin - Ácido Sabor.
		table(class="minitable")
			tbody
				tr
					td
						div [Letra de "Ácido Sabor"]

						div [Verso 1]
						div Se ha vuelto un vicio, mm-mm-mm
						div Pa' cualquiera una adicción
						div Completamente necesaria
						div Cuando viajas por mis áreas
						div Se me nubla la visión

						div [Pre-Coro]
						div Peligroso
						div Tal vez todo se sienta dulce, pero es doloroso
						div Agarro tu mano, camino y me siento grandioso
						div No tengo alas
						div Pero tú me haces volar, eh
						div [Coro]
						div Y así va la vida
						div No importa lo que digan
						div Si al final somos tú y yo
						div Jugando a ser tímidos
						div Ácido sabor, uh, uh-uh

						div [Verso 2]
						div Yo no te quiero, más bien te adoro
						div Tú eres mi estrella, mi luz, mi tesoro
						div Nunca te vayas, no me dejes solo
						div Ayer estaba sentado en la luna por llevarme tan alto
						div Tu efecto es un encanto
						div Tú eres mi estado natural, oh-oh

						div [Verso 3]
						div O eres mi dosis medicinal
						div Mi locura en la intimidad
						div Ah-ah, it's alright
						div Mi miel y tu piel
						div Unidas se ven tan bien
						div Esto no deja de crecer, mm-mm

						div [Pre-Coro]
						div Peligroso
						div Tal vez todo se sienta dulce, pero es doloroso
						div Agarro tu mano, camino y me siento grandioso
						div No tengo alas
						div Pero tú me haces volar, mmm
						div You might also like
						div Amordio
						div Ricky Martin
						div Livin’ la Vida Loca
						div Ricky Martin
						div Cupid (Twin Version)
						div FIFTY FIFTY (피프티피프티)
						div [Coro]
						div Y así va la vida
						div No importa lo que digan
						div Si al final somos tú y yo
						div Jugando a ser tímidos
						div Ácido sabor (Uh, uh-uh)

						div [Puente]
						div Y si me quiero elevar
						div Solo tengo que besar
						div Debajo de tu barriga
						div (Debajo de tu barriga)

						div [Pre-Coro]
						div Peligroso
						div Tal vez todo se sienta dulce, pero es doloroso
						div Agarro tu mano, camino y me siento grandioso
						div No tengo alas
						div Pero tú me haces volar, woh-oh-oh

						div [Coro]
						div Y así va la vida
						div No importa lo que digan
						div Si al final somos tú y yo
						div Jugando a ser tímidos
						div Ácido sabor (Uh, uh-uh)
					td


		hr
		h3 Дополнительные материалы
		a(href="https://www.youtube.com/watch?v=kKtHovGNsOA") Оригинал 
		| на youtube
		
		div 
			a(href="https://lyrsense.com/ricky_martin/a_quien_quiera_escuchar") lyrsense.com 
			| текст на русском
		div 
			a(href="https://lyrsense.com/ricky_martin/a_quien_quiera_escuchar") letras.com 
			| текст на испанском
		
