extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h1: strong C++
	div.row: div.large-12.columns
		h2 Конспект теории по C++
			p Нужно использовать прописные буквы в качестве первых букв в именах типов.
			p Никогда не использовать имена, состоящие лишь из прописных букв, такие как ALL_CAPITAL_LETTERS, 
				| поскольку по умолчанию они зарезервированы для макросов.
			p Нужно всегда инициализировать свои переменные.
			p выражение a<b<c означает (a<b)<c [Сравнить с python]