extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple C++
	article.grid-container
		h2 Конспект теории по C++ [его пока нет]
		p Нужно использовать прописные буквы в качестве первых букв в именах типов.
		p Никогда не использовать имена, состоящие лишь из прописных букв, такие как ALL_CAPITAL_LETTERS, 
			| поскольку по умолчанию они зарезервированы для макросов.
		p Нужно всегда инициализировать свои переменные.
		p выражение a < b < c  означает (a < b) < c [Сравнить с python]