extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Codingame
	article.grid-container
		h2 Easy

		<table>
		<thead>
		<tr>
		<th>No.</th>
		<th>Puzzle Name</th>
		<th>State</th>
		<th>Difficulty</th>
		<th>Languages</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>1</td>
		<td><a href="https://www.codingame.com/ide/puzzle/ascii-art" rel="nofollow">ASCII Art</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/ASCII_Art.py">Python</a></td>
		</tr>
		<tr>
		<td>2</td>
		<td><a href="https://www.codingame.com/ide/puzzle/chuck-norris" rel="nofollow">Chuck Norris</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Chuck_Norris.py">Python</a></td>
		</tr>
		<tr>
		<td>3</td>
		<td><a href="https://www.codingame.com/ide/puzzle/defibrillators" rel="nofollow">Defibrillators</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Defibrillators.py">Python</a></td>
		</tr>
		<tr>
		<td>4</td>
		<td><a href="https://www.codingame.com/ide/puzzle/horse-racing-duals" rel="nofollow">Horse racing duals</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Horse_racing_Duals.py">Python</a></td>
		</tr>
		<tr>
		<td>5</td>
		<td><a href="https://www.codingame.com/ide/puzzle/mars-lander-episode-1" rel="nofollow">Mars Lander episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Mars_Lander_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>6</td>
		<td><a href="https://www.codingame.com/ide/puzzle/mime-type" rel="nofollow">MIME Type</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/MIMIE_Type.py">Python</a></td>
		</tr>
		<tr>
		<td>7</td>
		<td><a href="https://www.codingame.com/ide/puzzle/onboarding" rel="nofollow">Onboarding</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Onboarding.py">Python</a></td>
		</tr>
		<tr>
		<td>8</td>
		<td><a href="https://www.codingame.com/ide/puzzle/power-of-thor-episode-1" rel="nofollow">Power of Thor episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Power_of_Thor.py">Python</a></td>
		</tr>
		<tr>
		<td>9</td>
		<td><a href="https://www.codingame.com/ide/puzzle/temperatures" rel="nofollow">Temperatures</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Temperatures.py">Python</a></td>
		</tr>
		<tr>
		<td>10</td>
		<td><a href="https://www.codingame.com/ide/puzzle/the-descent" rel="nofollow">The Descent</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/The_Descent.py">Python</a></td>
		</tr>
		<tr>
		<td>11</td>
		<td><a href="https://www.codingame.com/ide/puzzle/the-river-i-" rel="nofollow">The River I</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/The_River_1.py">Python</a></td>
		</tr>
		<tr>
		<td>12</td>
		<td><a href="https://www.codingame.com/ide/puzzle/the-river-ii-" rel="nofollow">The River II</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/The_River_2.py">Python</a></td>
		</tr>
		<tr>
		<td>13</td>
		<td><a href="https://www.codingame.com/ide/puzzle/isbn-check-digit" rel="nofollow">ISBN Check Digit</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/ISBN_Check_Digit.py">Python</a></td>
		</tr>
		<tr>
		<td>14</td>
		<td><a href="https://www.codingame.com/ide/puzzle/may-the-triforce-be-with-you" rel="nofollow">May the Triforce be with you</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/May_the_Triforce_be_with_you.py">Python</a></td>
		</tr>
		<tr>
		<td>15</td>
		<td><a href="https://www.codingame.com/ide/puzzle/bank-robbers" rel="nofollow">Bank Robbers</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Bank_Robbers.py">Python</a></td>
		</tr>
		<tr>
		<td>16</td>
		<td><a href="https://www.codingame.com/ide/puzzle/how-time-flies" rel="nofollow">How Time Flies</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/How_Time_Flies.py">Python</a></td>
		</tr>
		<tr>
		<td>17</td>
		<td><a href="https://www.codingame.com/ide/puzzle/disordered-first-contact" rel="nofollow">Disordered First Contact</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Disordered_First_Contact.py">Python</a></td>
		</tr>
		<tr>
		<td>18</td>
		<td><a href="https://www.codingame.com/ide/puzzle/ghost-legs" rel="nofollow">Ghost Legs</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Ghost_Legs.py">Python</a></td>
		</tr>
		<tr>
		<td>19</td>
		<td><a href="https://www.codingame.com/ide/puzzle/bulk-email-generator" rel="nofollow">Bulk Email Generator</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Bulk_Email_Generator.py">Python</a></td>
		</tr>
		<tr>
		<td>20</td>
		<td><a href="https://www.codingame.com/ide/puzzle/credit-card-verifier-luhns-algorithm" rel="nofollow">Credit Card Verifier</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Credit_Card_Verifier.py">Python</a></td>
		</tr>
		<tr>
		<td>21</td>
		<td><a href="https://www.codingame.com/ide/puzzle/rugby-score" rel="nofollow">Rugby Score</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Rugby_Score.py">Python</a></td>
		</tr>
		<tr>
		<td>22</td>
		<td><a href="https://www.codingame.com/ide/puzzle/organic-compounds" rel="nofollow">Organic Compound</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Organic_Compound.py">Python</a></td>
		</tr>
		<tr>
		<td>23</td>
		<td><a href="https://www.codingame.com/ide/puzzle/hunger-games" rel="nofollow">Hunger Games</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Hunger_Games.py">Python</a></td>
		</tr>
		<tr>
		<td>24</td>
		<td><a href="https://www.codingame.com/ide/puzzle/self-driving-car-testing" rel="nofollow">Self Driving Car</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Self_Driving_Car.py">Python</a></td>
		</tr>
		<tr>
		<td>25</td>
		<td><a href="https://www.codingame.com/ide/puzzle/addem-up" rel="nofollow">Add'em Up</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Addem_Up.py">Python</a></td>
		</tr>
		<tr>
		<td>26</td>
		<td><a href="https://www.codingame.com/ide/puzzle/1d-spreadsheet" rel="nofollow">1DSpreadsheet</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/1D_Spreadsheet.py">Python</a></td>
		</tr>
		<tr>
		<td>27</td>
		<td><a href="https://www.codingame.com/ide/puzzle/rectangle-partition" rel="nofollow">Rectangle Parition</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Rectangle_Parition.py">Python</a></td>
		</tr>
		<tr>
		<td>28</td>
		<td><a href="https://www.codingame.com/ide/puzzle/unit-fractions" rel="nofollow">Unit Fractions</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Unit_Fractions.py">Python</a></td>
		</tr>
		<tr>
		<td>29</td>
		<td><a href="https://www.codingame.com/ide/puzzle/hello-world" rel="nofollow">Hello World!</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Hello_World!.py">Python</a></td>
		</tr>
		<tr>
		<td>30</td>
		<td><a href="https://www.codingame.com/ide/puzzle/detective-pikaptcha-ep1" rel="nofollow">Detective Pikaptcha EP1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Detective_Pikaptcha_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>31</td>
		<td><a href="https://www.codingame.com/ide/puzzle/detective-pikaptcha-ep2" rel="nofollow">Detective Pikaptcha EP2</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Detective_Pikaptcha_episode_2.py">Python</a></td>
		</tr>
		<tr>
		<td>32</td>
		<td><a href="https://www.codingame.com/ide/puzzle/encryptiondecryption-of-enigma-machine" rel="nofollow">Encryption/Decryption of Enigma Machine</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Encryption_Decryption_Of_Enigma_Machine.py">Python</a></td>
		</tr>
		<tr>
		<td>33</td>
		<td><a href="https://www.codingame.com/ide/puzzle/lumen" rel="nofollow">Lumen</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Lumen.py">Python</a></td>
		</tr>
		<tr>
		<td>34</td>
		<td><a href="https://www.codingame.com/ide/puzzle/graffiti-on-the-fence" rel="nofollow">Graffiti on the fence</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Easy</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/easy/Graffiti_On_The_Fence.py">Python</a></td>
		</tr>
		</tbody>
		</table>
		
		<h3>Medium</h3>
		<table>
		<thead>
		<tr>
		<th>No.</th>
		<th>Puzzle Name</th>
		<th>State</th>
		<th>Difficulty</th>
		<th>Languages</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>1</td>
		<td><a href="https://www.codingame.com/ide/puzzle/bender-episode-1" rel="nofollow">Bender Episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Bender_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>2</td>
		<td><a href="https://www.codingame.com/ide/puzzle/mars-lander-episode-2" rel="nofollow">Mars Lander episode 2</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Mars_Lander_episode_2.py">Python</a></td>
		</tr>
		<tr>
		<td>3</td>
		<td><a href="https://www.codingame.com/ide/puzzle/there-is-no-spoon-episode-1" rel="nofollow">There Is No Spoon episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/There_Is_No_Spoon_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>4</td>
		<td><a href="https://www.codingame.com/ide/puzzle/shadows-of-the-knight-episode-1" rel="nofollow">Shadows Of The Knight episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Shadows_Of_The_Knight_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>5</td>
		<td><a href="https://www.codingame.com/ide/puzzle/winamax-battle" rel="nofollow">War</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/War.py">Python</a></td>
		</tr>
		<tr>
		<td>6</td>
		<td><a href="https://www.codingame.com/ide/puzzle/skynet-revolution-episode-1" rel="nofollow">Skynet Revolution episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Skynet_Revolution_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>7</td>
		<td><a href="https://www.codingame.com/ide/puzzle/conway-sequence" rel="nofollow">Conway Sequence</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Conway_Sequence.py">Python</a></td>
		</tr>
		<tr>
		<td>8</td>
		<td><a href="https://www.codingame.com/ide/puzzle/dwarfs-standing-on-the-shoulders-of-giants" rel="nofollow">Dwarfs Standing On The Shoulders Of Giants</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Dwarfs_Standing_On_The_Shoulders_Of_Giants.py">Python</a></td>
		</tr>
		<tr>
		<td>9</td>
		<td><a href="https://www.codingame.com/ide/puzzle/don't-panic-episode-1" rel="nofollow">Dont Panic episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Dont_Panic_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>10</td>
		<td><a href="https://www.codingame.com/ide/puzzle/the-last-crusade-episode-1" rel="nofollow">The Last Crusade episode 1</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/The_Last_Crusade_episode_1.py">Python</a></td>
		</tr>
		<tr>
		<td>11</td>
		<td><a href="https://www.codingame.com/ide/puzzle/mayan-calculation" rel="nofollow">Mayan Calculation</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Mayan_Calculation.py">Python</a></td>
		</tr>
		<tr>
		<td>12</td>
		<td><a href="https://www.codingame.com/ide/puzzle/stock-exchange-losses" rel="nofollow">Stock Exchange Losses</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Stock_Exchange_Losses.py">Python</a></td>
		</tr>
		<tr>
		<td>13</td>
		<td><a href="https://www.codingame.com/ide/puzzle/network-cabling" rel="nofollow">Network Cabling</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Network_Cabling.py">Python</a></td>
		</tr>
		<tr>
		<td>14</td>
		<td><a href="https://www.codingame.com/ide/puzzle/telephone-numbers" rel="nofollow">Telephone Number</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Telephone_Number.py">Python</a></td>
		</tr>
		<tr>
		<td>15</td>
		<td><a href="https://www.codingame.com/ide/puzzle/text-alignment" rel="nofollow">Text Alignment</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Text_Alignment.py">Python</a></td>
		</tr>
		<tr>
		<td>16</td>
		<td><a href="https://www.codingame.com/ide/puzzle/the-gift" rel="nofollow">The Gift</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/The_Gift.py">Python</a></td>
		</tr>
		<tr>
		<td>17</td>
		<td><a href="https://www.codingame.com/ide/puzzle/scrabble" rel="nofollow">Scrabble</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Scrabble.py">Python</a></td>
		</tr>
		<tr>
		<td>18</td>
		<td><a href="https://www.codingame.com/ide/puzzle/the-fastest" rel="nofollow">The Fastest</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/The_Fastest.py">Python</a></td>
		</tr>
		<tr>
		<td>19</td>
		<td><a href="https://www.codingame.com/ide/puzzle/carmichael-numbers" rel="nofollow">Carmichael Numbers</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>Medium</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/medium/Carmichael_Numbers.py">Python</a></td>
		</tr>
		</tbody>
		</table>
		
		
		<h3>Hard</h3>
		<table>
		<thead>
		<tr>
		<th>No.</th>
		<th>Puzzle Name</th>
		<th>State</th>
		<th>Difficulty</th>
		<th>Languages</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>1</td>
		<td><a href="https://www.codingame.com/ide/puzzle/7-segment-display" rel="nofollow">7 Segment Display</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/hard/7_Segment_Display.py">Python</a></td>
		</tr>
		<tr>
		<td>2</td>
		<td><a href="https://www.codingame.com/ide/puzzle/genome-sequencing" rel="nofollow">Genome Sequencing</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/hard/Genome_Sequencing.py">Python</a></td>
		</tr>
		<tr>
		<td>3</td>
		<td><a href="https://www.codingame.com/ide/puzzle/super-computer" rel="nofollow">Super Computer</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/hard/Super_Computer.py">Python</a></td>
		</tr>
		<tr>
		<td>4</td>
		<td><a href="https://www.codingame.com/ide/puzzle/cgx-formatter" rel="nofollow">CGX Formatter</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/hard/CGX_Formatter.py">Python</a></td>
		</tr>
		</tbody>
		</table>
		
		<h3>Code Golf</h3>
		<table>
		<thead>
		<tr>
		<th>No.</th>
		<th>Puzzle Name</th>
		<th>State</th>
		<th>Difficulty</th>
		<th>Languages</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>1</td>
		<td><a href="https://www.codingame.com/multiplayer/codegolf/don't-panic" rel="nofollow">Dont Panic</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/code-golf/Dont_Panic.py">Python</a></td>
		</tr>
		<tr>
		<td>2</td>
		<td><a href="https://www.codingame.com/multiplayer/codegolf/power-of-thor" rel="nofollow">Power of Thor</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/code-golf/Power_of_thor.py">Python</a></td>
		</tr>
		<tr>
		<td>3</td>
		<td><a href="https://www.codingame.com/multiplayer/codegolf/temperature-code-golf" rel="nofollow">Temperature</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/code-golf/Temperatures.py">Python</a></td>
		</tr>
		</tbody>
		</table>
		
		<h3>Optimization</h3>
		<table>
		<thead>
		<tr>
		<th>No.</th>
		<th>Puzzle Name</th>
		<th>State</th>
		<th>Difficulty</th>
		<th>Languages</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td>1</td>
		<td><a href="https://www.codingame.com/ide/puzzle/code-vs-zombies" rel="nofollow">Code vs Zombie</a></td>
		<td><g-emoji class="g-emoji" alias="white_check_mark" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2705.png">✅</g-emoji> Completed</td>
		<td>N.A</td>
		<td><a href="https://github.com/aethersg/codingame-puzzle/blob/master/Python3/optimization/Code_vs_Zombie.py">Python</a></td>
		</tr>
		</tbody>
		</table>

