extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Codingame
	article.grid-container
		ul
			+mli("en", "out", "aethersg.html", "codingame", "Решения от aethersg", "icon")

			li: a(href="https://github.com/vadim-job-hg/Codingame") vadim 
			li: a(href="https://github.com/kadary/codingame") kadary 
			li: a(href="https://github.com/pathosDev/CodinGame-Solutions") pathosDev 
			li: a(href="https://github.com/denvash/codingame-puzzles-solutions") denvash 
			li: a(href="https://github.com/e1r0nd/codingame") (e1r0nd js + video) 
			li: a(href="https://github.com/joand/codingame") (joand java) 
			li: a(href="https://ethiery.github.io/codingame/index.html") (ethiery py3) 
			li: a(href="https://www.xarg.org/puzzles/") (xarg C++ js)
			li: a(href="https://github.com/charlesfranciscodev/codingame") (charlesfranciscodev py3 js c++ ...)
			li: a(href="https://github.com/adrian-nesonson/Codingame") (adrian-nesonson java)
			li: a(href="https://github.com/CodingameAlgeriaChallenge/codin-game") CodingameAlgeriaChallenge 
			li: a(href="https://github.com/aethersg/codingame-puzzle") (aethersg py3) 
			li: a(href="https://github.com/javadev/codingame-traning") (javadev dart js ...)
			li: a(href="https://github.com/inoryy/csb-ai-starter") (Code strike back c++)
			li: a(href="https://github.com/texus/codingame") разбор от texus 
			li: a(href="https://github.com/hardcoded/CodinGame") разбор от hardcoded
			li: a(href="https://github.com/SpiritusSancti5/codinGame") разбор от SpiritusSancti5
			li: a(href="https://github.com/xavierfeltin/codinggame") разбор от xavierfeltin <strong>legend version</strong>
			
			li: a(href="https://github.com/JakubDotPy/codingame_bot_programming") разбор от JakubDotPy bot_programming python
			li: a(href="https://github.com/MatePocs/codingame") разбор от JakubDotPy bot_programming python
			li: a(href="https://github.com/koduma/CodinGame") разбор от koduma bot_programming C++ <strong>all legend version</strong>
