extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Connect4. Links
	article.grid-container
		h4 Links. 
		ul
			+mli("en", "out", "https://www.codingame.com/multiplayer/bot-programming/connect-4", "codingame.com", "Можно написать своего бота.", "icon")
			+mli("en", "my", "https://blog.gamesolver.org/", "blog.gamesolver.org", "Полное решения на C++ для поля 7х9.", "icon")
			+mli("en", "my", "https://www.kaggle.com/learn/intro-to-game-ai-and-reinforcement-learning", "kaggle.com", "Хороший обучающий курс. Практика на python. Можно принять участи в соревновании", "icon")

