extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Connect4
	article.grid-container
		h4 Connect4. Правила. 
		h6 Цель игры
		div Выстроить свои фишки 4 в ряд. В любом направлении: горизотнально, вертикально или диагонально.
		div Игра ведется на поле 7x9. Где 7 рядов и 9 колонок. Игроки ходят по очереди. В свой ход игрок выбирает колонку для своей фишки 
			| и она проваливается до низа колонки и размешается сверху самой нижней фишки в этой колонке или просто в самом низу, если эта фишка
			| первая в этой колонке. Смотри анимацию.
		img(src="../images/connect4.gif")
		div В начале напишем судью, который будет определять кто победил и дисквалифицировать бота за не правильный ход.
		h4 <u>Оглавление</u>
		ul
			+mli("ru", "my", "connect4_page1.html", "Start", "Описание игры. Оглавление.", "icon")
			+mli("ru", "my", "connect4_links.html", "Links", "Ссылки.", "icon")


