extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Вопросы и ответы
	article.grid-container
		h3 Форумы
		a(href="http://www.cyberforum.ru/python/") СyberForum

		script( src="https://gist.github.com/AndSemenoff/7582d311c3a50bd78589.js")