extends ../layouts/code_layout.jade

block content
	div.row: div.large-12.columns: h3: Вопросы и ответы
	div.row: div.large-12.columns
		h3 Форумы
		a(href="http://www.cyberforum.ru/python/") СyberForum

		script( src="https://gist.github.com/AndSemenoff/7582d311c3a50bd78589.js")