extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Тренировки и обучение
	article.grid-container
		ol
			li
				| Алгоритмы и структуры данных
				ol
					li: a(href='analysis_of_complexity.html') Анализ сложности алгоритмов
					li: a(href='math_theory.html') Теория: стек, очередь, куча.
					li: a(href='prime_number.html') Простые числа
					li: a(href='p1_sort.html') Алгоритмы сортировки
					li: a(href='p2_sort.html') Стандартные функции сортировки в питоне
					li: a(href='binarysearch.html') Бинарный поиск
					li: a(href='Segment_tree.html') Дерево отрезков
					li: a(href='bruteforce.html') Перебор
					li: a(href='dynamics.html') Динамическое программирование
					li: a(href='geometry.html') Вычислительная геометрия
					li: a(href="labyrinth-algorithms.html") Алгоритмы на лабиринтах
					li: a(href="graph-algorithms.html") Алгоритмы на графах
					li: a(href="minimax.html") Минимакс на примере tic-tak-toe
					li: a(href='kmp_search.html') Поиск подстроки. Алгоритм Кнута–Морриса-Пратта.
			li
				| Структуры данных:
				ol
					li
						a(href='#')
						| Стек
					li
						strong: a(href='binary_heap.html') Двоичная куча (binary heap)
			+mli("ru", "my", "links.html", "Ссылки", "", "icon")

			+mli("ru", "my", "faq.html", "FAQ", "устарело", "icon")
			li
				| Разбор задач
				ol
					li
						strong: a(href='contest.html') Разбор задач с Codeforces.ru
					li
						strong: a(href='zadachi_1.html') Разбор задач
					li
						strong: a(href='dynamic_programming.html') Динамическое программирование	

			li
				a(href='https://github.com/sagemathinc/smc/wiki/Teaching') Ссылки на обучающие курсы, которые используют сервис sagemath.com
			li
				a(href='https://iqbotan.blogspot.com') Сокращение кода на Python и С++ для acmp.ru