extends ../layouts/code_layout.jade

block content
	div.row: div.large-12.columns: h1 Алгоритмы на лабиринтах.
	div.row: div.large-12.columns
		h2 Утилитки
		div.text-justify Для программирования различных алгоритмов и функций могут быть полезны.
		| Массив направлений по сторонам света: 
		| direction4 = [[1, 0], [-1, 0], [0, 1], [0, -1]]
		ul 
			li Юг(S) (вниз [1,0]);
			li Север(N) (вверх [-1,0]);
			li Восток(E) (вправо [0,1]); 
			li Запад(W) (влево [0, -1]).
		| По восьми направлениям (столбец, строчка):
		|direction8 = [[-1, -1],[0, -1],[1, -1],[-1, 0],[1, 0],[-1, 1] [0, 1] [1, 1]]
		|			[-1, -1][0, -1] [1, -1]
		|			[-1, 0] [0, 0] [1, 0]
		|			[-1, 1] [0, 1] [1, 1]