extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Ссылки
	article.grid-container
		ul
			li: a(href="#panel11") Новости
			li: a(href="#panel21") Соревнования
			li: a(href="#panel31") Обучение
			li: a(href="#panel41") Хостинг
			li: a(href="#panel51") IDE
			li: a(href="#panel61") LaTex
		
		h3#panel11 Новости
		ul
			+mli("en", "out", "https://clist.by/", "clist", " Общий календарь всех контестов с разных площадок", "icon")
			+mli("ru", "out", "https://pythondigest.ru/", "Дайджест", " новостей из мира Python", "icon")
			+mli("en", "out", "https://pyvideo.org", "pyvideo.org", " видио с различных конференций по питону.", "icon")
			+mli("en", "out", "https://www.reddit.com/r/Python/top/", "Дайджест", " популярных новостей с ключевым словом Python на reddit.com.", "icon")

		h3#panel21 Сайты на которых можно соревноваться
		ul
			+mli("en", "out", "https://codeforces.com", "Codeforces.com", " Соревнования еженедельно", "icon")
			+mli("ru", "out", "https://codeforces.ru", "Codeforces.ru", " Соревнования еженедельно", "icon")
			+mli("en", "out", "https://codechef.com", "CodeChef.com", " Соревнования еженедельно", "icon")
			+mli("ru", "out", "https://acm.timus.ru", "acm.timus.ru", " Работает, компиляторы обновляются", "icon")
			+mli("en", "out", "https://onlinejudge.org", "onlinejudge.org", " что-то работает ...", "icon")
			+mli("en", "out", "https://www.spoj.com/", "www.spoj.com", " пока работает ...", "icon")
			+mli("en", "out", "https://topcoder.com", "topcoder.com", " превратился в огромный портал...", "icon")
			+mli("en", "out", "https://www.hackerrank.com/", "HackerRank.com", "не понятно", "icon")
			+mli("en", "out", "http://www.checkio.org/", "checkio.org", "Сайт с заданиями и решениями", "icon")
			+mli("en", "out", "https://www.codewars.com/", "codewars.com", "", "icon")
			+mli("en", "out", "https://play.battlesnake.com/", "battlesnake.com", "Прогаешь свой сервер со змеей", "icon")
			+mli("en", "out", "https://leetcode.com", "LeetCode.com", "Соревнования. Задачи. Примеры собеседований. Много платного контента.", "icon")
			+mli("en", "out", "https://www.codingame.com/", "codingame.com", "Соревнование по ИИ. Оптимизация. Короткий код. Задачи. Рейтинг. Работа.", "icon")
			+mli("ru", "my", "codingame.html", "codingame", "Решения, шаблоны, описания", "icon")
			+mli("en", "out", "https://pyweek.org", "PyWeek", "не частые соревнования по написанию игр", "icon")
			+mli("en", "out", "https://mysterytwister.org/", "mysterytwister.org", "Соревнования по криптографии", "icon")
			+mli("ru", "out", "http://haskell98.blogspot.ru", "haskell98.blogspot.ru", "Фонд Поддержки Функционального Программирования. Соревнования НЕ проходят.", "icon")

		| Ежегодные соревнования
		ul
			+mli("ru", "out", "https://contest.yandex.ru/", "contest.yandex.ru", "Яндекс.Кон­тест", "icon") 
			+mli("en", "out", "https://www.facebook.com/hackercup", "Facebook", "Facebook Hacker Cup", "icon") 

			div#panel31.content
				| Курсы и обучающие сайты
				ul
					li <strong>Edx.org</strong>
						ul
							li
								a(href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-0") MITx 6.00.1x 
								| Introduction to Computer Science and Programming Using Python
							li
								a(href="https://www.edx.org/course/introduction-computational-thinking-data-mitx-6-00-2x-0") MITx 6.00.2x 
								| Introduction to Computational Thinking and Data Science
					li
						a(href="http://www.python-course.eu") Курс 
						| по питону. Есть очень продвинутые темы.
					li
						a(href="http://cscircles.cemc.uwaterloo.ca") Онлайн обучение Питону  
					li
						a(href="http://www-inst.eecs.berkeley.edu/~cs61a/") Курс Беркли
					li
						a(href="http://www.learnpython.org") learnpython.org
					li
						a(href="http://ru.wikiversity.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%BD%D0%B0%D1%83%D1%87%D0%BD%D1%8B%D0%B5_%D0%B2%D1%8B%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%BD%D0%B0_%D1%8F%D0%B7%D1%8B%D0%BA%D0%B5_Python") Курс "Программирование и научные вычисления на языке Python"
						| автор Лёва Матюшкин.
					li
						a(href="http://www.math.utah.edu/~carlson/notes/python.pdf") utah.edu 
						| pdf-формат. Computations in Number Theory Using Python: A Brief Introduction</li>
					li
						a(href="http://userpages.umbc.edu/~rcampbel/Computers/Python/index.html") umbc.edu 
						| Introduction to Python for Math at UMBC
					li
						a(href="https://www.udemy.com/courses/search/?q=python") Курсы по питону. 
						| На Udemy.com, как платные, так и бесплатные.
					li
						a(href="http://pythonprogramming.net/") PythonProgramming.net 
						| Обучение с видео и примерами кода.
					li
						a(href="http://zetcode.com/") ZetCode - Различные уроки по питону: GUI, SQLite.
					li
						a(href="https://www.codeschool.com/courses/try-python") CodeSchool.com 
						|- Try Python
					li
						<strong>Stepic.org</strong> [Русский язык]
						ul
							li
								a(href="https://stepic.org/course/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-Python-67/")  Программирование на Python
							li
								a(href="https://stepic.org/course/Python-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D1%8B-%D0%B8-%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-512") Python: основы и применение.


						
			div#panel41.content
				| Облачные бесплатные хостинги для питона и не только
				ul
					li
						a(href="https://www.pythonanywhere.com") pythonanywhere   
					li
						a(href="http://aws.amazon.com/free/") Amazon AWS
					li
						a(href="https://www.heroku.com/") Heroku        
					li
						a(href="https://gondor.io") Gondor
					li
						a(href="https://www.openshift.com") OpenShift
					li
						a(href="https://wakari.io/") Wakari          
					li
						a(href="http://www.picloud.com/") PiCloud
					li
						a(href="http://star.mit.edu/cluster/") StarCluster
			div#panel51.content
				| Онлайн среды разработки(IDE) для питонистов и не только
				ul
					li
						a(href="https://c9.io/") Cloud9 IDE
					li
						a(href="http://ideone.com") ideone.com            
					li
						a(href="http://pythonfiddle.com/") Python Fiddle
					li
						a(href="https://codio.com/") Codio   
					li
						a(href="http://koding.com") koding.com
						|  | 
						a(href="http://learn.koding.com/") Обучение работе с koding.com
					li
						a(href="https://codenvy.com/") Сodenvy.com
					li
						a(href="https://www.codebox.io") CodeBox            
					li
						a(href="https://www.nitrous.io") nitrous.io
					li
						a(href="https://kobra.io") kobra.io

			div#panel61.content
				| LaTeX
				ul
					li Онлайн сервисы LaTeX
						ol
							li
								a(href="https://www.writelatex.com/") WriteLatex.com
							li
								a(href="http://www.sharelatex.com") ShareLatex.com   	
							li
								a(href="http://papeeria.com/") papeeria.com    

					li Разное по LaTex
						ol
							li
								a(href="http://www.texample.net") TeXample.net 
								| Примеры графических возможностей LaTeX   
							li
								a(href="http://www.ntg.nl/doc/biemesderfer/ltxcrib.pdf") Команды LaTex 
								| pdf файл
							li
								a(href="http://habrahabr.ru/post/187496/") статья на habr 
								| Создаем резюме
							li
								a(href="http://cremeronline.com/LaTeX/minimaltikz.pdf") Минимальное введение в tikz 
								| pdf файл                
							li
								a(href="http://habrahabr.ru/post/207364/") статья на habr 
								| Чекбоксы и подчеркивания для бланков и т.п.                      
							li
								a(href="http://mydebianblog.blogspot.ru/2013/02/latex-editors-and-integrated-latex.html") Обзор редакторов
							li
								a(href="http://ru.wikibooks.org/wiki/LaTeX/%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5") Викиучебник

					li Литература на русском по LaTex
						ol
							li
								a(href="http://rutracker.org/forum/viewtopic.php?t=3634263") Искусство верстки в LaTeX   
							li
								a(href="http://rutracker.org/forum/viewtopic.php?t=1522339") Набор и вестка в LaTeX
							li
								a(href="http://rutracker.org/forum/viewtopic.php?t=4380917") Компьютерная типография LaTeX
							li
								a(href="http://rutracker.org/forum/viewtopic.php?t=3208435") Тех для всех
		ol
			li
				| Теория. Ссылки
				ol
					li
						a(href="http://neerc.ifmo.ru/wiki/index.php?title=%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0") Конспекты 
						| лекций ИТМО (Станкевич и др.) 
						a(href="http://rain.ifmo.ru/cat/view.php/vis") визулизаторы 
						strong NB!
					li
						a(href="http://uneex.ru/LecturesVMSH/Python") Лекции 
						| по решению олимпиадных задач на Питоне. Мне показались очень полезными. 
						strong NB!
					li: a(href="http://uneex.ru/LecturesCMC/PythonDevelopment2015") Еще лекции для студентов с сайта uneex.ru
					li: a(href="http://kpolyakov.spb.ru/school/probook/python.htm") К.Ю. Поляков. Язык Python: избранные алгоритмы.
					li
						a(href="http://ru.wikibooks.org/wiki/%D0%A3%D1%87%D0%B5%D0%B1%D0%BD%D0%B8%D0%BA_Python_3.1") Учебник 
						| перевод учебника по pyton 3.1 с официального сайта
					li
						a(href="http://sis.khashaev.ru") Видеозаписи 
						| лекций ЛКШ 2013, 2008
					li
						a(href="http://www.cs.usfca.edu/~galles/visualization/Algorithms.html") Визулизация алгоритмов
					li
						a(href="http://sorting.at/") Визулизация алгоритмов                
					li
						a(href="http://bost.ocks.org/mike/algorithms/") Визулизация алгоритмов (продвинутая)                
					li
						a(href="https://github.com/prakhar1989/Algorithms") Алгоритмы 
						| на питоне на github
					li
						a(href="http://www.brpreiss.com/books/opus7/html/book.html") Алгоритмы 
						| на питоне. Книга Bruno R. Preiss, 2004 год.
					li
						a(href="http://www.eecs.wsu.edu/~schneidj/swan/") Книга 
						| Algorithmic Problem Solving with Python. В свободном доступе на английском.
					li
						a(href="http://habrahabr.ru/post/104219/") Оценка сложности алгоритмов
					li
						a(href="http://ncase.me/sight-and-light/") Описание 
						| алгоритма расчета видимости в 2D.
					li
						a(href="http://e-maxx.ru") Алгоритмы 
						| на C на e-maxx.ru
					li
						a(href="http://younglinux.info/book/export/html/60") Алгоритмы на питоне       
					li
						a(href="http://www.ics.uci.edu/~eppstein/PADS/") Алгоритмы на грфах. Питон
					li
						a(href="http://acm.mipt.ru/twiki/bin/view/Algorithms/WebHome") Олимпиады по программированию на Физтехе

					li
						a(href="http://www.topcoder.com/tc?d1=tutorials&d2=alg_index&module=Static") Обучение алгоритмам 
						|  на TopCoder (не питон)
					li
						a(href="http://rain.ifmo.ru/cat/view.php/theory") Теория по дискретным алгоритмам. Не питон. На сайте ifmo.
					li
						a(href="http://www.python.org/doc/essays/graphs.html") Алгоритмы на графах. Нахождение наикротчайшего пути
					li
						a(href="http://www.python.org/~guido/") Guido van Rossum 
						| - создатель Питона.</li>
					li
						a(href="http://interactivepython.org") interactivepython.org 
						| Интерактивные занятия по Питону на английском языке</li>
					li
						a(href="http://py-algorithm.blogspot.ru/2011/04/blog-post_7666.html") Возведение в степень
					li
						a(href="http://pythontutor.com") Визуализация кода					
					li
						a(href="http://www.fromdev.com/2014/03/python-tutorials-resources.html") 80 лучших ресурса по питону
					li
						a(href="http://w3resource.com/w3skills/python-beginner-quiz/") онлайн тест по питону        
					li
						a(href="http://www.drdobbs.com/testing/unit-testing-with-python/240165163") Основы unit тестирования.
					li
						a(href="homework.html") тесты
			
			li
				| Разбор задач
				ol
					li 
						| Russian Code Cup 2013 
						a(href="http://habrahabr.ru/company/mailru/blog/183924/") – разбор задач отборочного раунда
					li 
						| Russian Code Cup 2013 – разбор задач 
						a(href="http://habrahabr.ru/company/mailru/blog/182256/") 3-го | 
						a(href="http://habrahabr.ru/company/mailru/blog/179807/") 2-го | 
						a(href="http://habrahabr.ru/company/mailru/blog/177171/") 1-го | 
						| квалификационного раунда
					+mli("ru", "out", "https://github.com/hhru/school-tasks-tester", "hhru", "Задачи с решениями в школу HH", "github")
					li 
						a(href="http://habrahabr.ru/company/abbyy/blog/155831/") Разбор задачи с IOI2012
					li
						a(href="http://habrahabr.ru/post/155015/") Разбор задач 1 тура школы программистов HeadHunter
					li
						a(href="http://rutracker.org/forum/viewtopic.php?t=1456250") Книга Гуровица В.М. с решениями
					+mli("en", "out", "https://github.com/keon/algorithms", "keon", "algorithms на python", "github")
					+mli("en", "out", "https://github.com/TheAlgorithms/Python", "TheAlgorithms", "algorithms на python", "github")
			li
				| Блоги на русском
				ol
					li
						a(href="http://python.su") Python.su 
						| - агрегатор блогов
					li
						a(href="http://petr-mitrichev.blogspot.ru") Блог Петра Митричева
						| - крутой спортивный программист.</li>
					li
						a(href="http://blog.swlogic.eu") Блог Евгения Казанова
					li
						a(href="http://john16blog.blogspot.ru") Блог John_16
			li
				| Разное
				ol
					li
						a(href="http://pep8online.com/") pep8online.com 
						| - проверка стиля кода онлайн. 
						a(href="https://github.com/Bryukh/pep8online") Открытый код					
					li
						a(href="http://robotgame.org") Бои роботов 
						| написанных на питоне. Есть роботы с открытым исходным кодом: 
						a(href="http://robotgame.org/robotsource/1083") 1
					li
						a(href="http://runnable.com") Runnable.com 
						| - Сервис для онлайн запуска и тестирования кода, включая питон и django. Есть  
						a(href="http://lukeplant.me.uk/blog/posts/how-to-learn-django-without-installing-anything/") статья, 
						| как изучать django без его установки к себе на компьютер.
					li
						a(href="http://pypi.info/") Информация по питон пакетам
					li
						a(href="https://github.com/vinta/awesome-python") Awesome python
						| - информация по лучшим питон пакетам, собранная по темам.
					li
						a(href="http://docs.python.org/3/tutorial/") Фирменные уроки по python 3
					li
						a(href="http://inventwithpython.com") Книги от автора в свободном доступе 
					li
						a(href="http://pythonworld.ru") Сайт для начинающих	
					li
						a(href="http://www.ibm.com/search/csass/search/?sn=dw&lang=ru&cc=RU&en=utf&hpp=20&dws=rudw&lo=ru&q=python&Search=%D0%9F%D0%BE%D0%B8%D1%81%D0%BA") Статьи 
						| на сайте IBM по ключевому слову python на русском языке

			li
				| Git репозитории
				ol
					li
						a(href="https://github.com/") GitHub
					li
						a(href="https://bitbucket.org/") BitBucket					
			li
				| Литература по
				ol
					li
						a(href="http://pay.diary.ru/~eek/p76084072.htm") криптографии
					li
						a(href="http://www.diary.ru/~eek/p54405820.htm") теории чисел
					li
						a(href="http://www.diary.ru/~eek/p49631731.htm") дискретной математике																						
			li
				| Кружки, школы
				ol
					li
						a(href="http://kruzhok.spbgu.ru") Кружок спортивного программирования в СПб
					li
						a(href="http://informatics.ru") Сайт 
						| мытищинской школы программистов.
					li
						a(href="http://мшп.рф/") МШП 
						| - московская школа программистов.
	block footer
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js")
		script.
			$(document).foundation();