extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Monte Carlo Tree Seach
	article.grid-container
		h2 Постановка задачи

		h2 Ссылки по теме
		ol
			li: a(href="https://vgarciasc.github.io/mcts-viz/") Простейшая визуализация на основе игры tic-tac-toe
			li: a(href="https://gist.github.com/qpwo/c538c6f73727e254fdc7fab81024f6e1") Минимальная реализация на питоне и примером использования в tic-tac-toe
			