extends ../layouts/html_layout.jade

block content
	div.row
		div.column.text-center
			h3 Программирование

	div.grid-container.fluid.text-center
		div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-4
			div.cell.small-4.callout.primary
				a(href="../main_python/index.html") <i class="fab fa-python"></i> Python
			div.cell.small-4.callout.primary
				a(href="../main_js/index.html") <i class="fab fa-js"></i> JavaScript
			div.cell.small-4.callout.primary
				a(href="../main_cpp/index.html") C++
			div.cell.small-4.callout.primary
				a(href="../sportprogramming/index.html") <i class="fas fa-chess"></i> Спортивное программирование
			div.cell.small-4.callout.primary
				a(href="../trading/index.html") <i class="fas fa-chart-line"></i> Инвестирование
			div.cell.small-4.callout.primary
				a(href="../android/index.html") <i class="fab fa-android"></i> Android
			div.cell.small-4.callout.primary
				a(href="../betting/index.html") <i class="far fa-money-bill-alt"></i> Ставки на спорт
			div.cell.small-4.callout.primary
				a(href="../bigdata/index.html") <i class="fas fa-database"></i> Анализ данных