extends ../layouts/code_layout.jade

block content
	h2.font-effect-shadow-multiple Дерево отрезков (Segment tree)
	article.grid-container

		h2 Ссылки по теме
		ol
			li: a(href="https://www.youtube.com/watch?v=PHL6gHLfBs8") [ru] Курс ИТМО 2020. Семестр 2. Лекция 1. Дерево отрезков.
			li: a(href="https://codeforces.com/edu/course/2/lesson/4") [ru] Курс на codeforces. Часть 1.
			li: a(href="https://codeforces.com/edu/course/2/lesson/5") [ru] Курс на codeforces. Часть 2.