extends ../layouts/code_layout.jade

block content
	div.row: div.large-12.columns: h1 Разбор избранных задач
	div.row: div.large-12.columns
		h2 Тестирующая система 
		p Юный программист Саша написал свою первую тестирующую систему. Он так обрадовался тому, что она скомпилировалась, что решил пригласить школьных друзей на свой
			| собственный контест.
			| Но в конце тура выяснилось, что система не умеет сортировать команды в таблице
			| результатов. Помогите Саше реализовать эту сортировку.
			| Команды упорядочиваются по правилам ACM:
			ul
				li по количеству решенных задач в порядке убывания;
				li при равенстве количества решенных задач  по штрафному времени в порядке возрастания;
				li при прочих равных  по номеру команды в порядке возрастания.
		pre.python: code
			| Ввод:
			| 5
			| 3 50
			| 5 720
			| 1 7
			| 0 0
			| 8 500
			| Вывод:
			| 5 2 1 3 4