extends ../layouts/html_layout.jade

block title
	title= site_title + " Информация по астрономии"

block content
	div.row: div.large-12.columns: h1 Информация по астрономии
	div.row: div.large-12.columns
		ol
			li Программы
				ol
					li 
						a(href="http://www.celestiaproject.ru/") Сelestia в России
					li 
						a(href="http://astronomy.starrynight.com/") Starry Night
					li 
						a(href="http://www.redshift-live.com") Redshift

			li Образовательные сайты
				ol
					li 
						a(href="http://astro.unl.edu/") Университет в Небраске
   
  
		