extends ../layouts/html_layout.jade

block title
	title= site_title + " Ссылки по теме: 'Математика'"

block content
	div.row: div.large-12.columns: h2 Ссылки по теме: 'Математика'
	div.row: div.large-12.columns
		ol
			li Разное
				ol
					li
						a(href="http://mathus.ru/") Подготовка к олимпиадам и ЕГЭ по математике и физике. 
						| Автор и разработчик сайта — Игорь Вячеславович Яковлев
					li: a(href="http://mi.udaff.com/terver/tv.html") Что-то по вероятности
					li 
						a(href="http://teorver-online.narod.ru/teorver73.html") Учебник 
						| по теории вероятности онлайн.
					li
						a(href="http://old.nsu.ru/mmf/tvims/chernova/tv/index.html") Учебник онлайн 
						| по теории вероятности. Автор - Наталья Чернова.
					li
						a(href="http://publ.lib.ru/ARCHIVES/F/FELLER_Uil'yam/_Feller_U..html") Феллер В. Введение в теорию вероятностей и ее приложения. Том 1. 
					li
						a(href="http://rutracker.org/forum/viewtopic.php?t=3029912") rutracker 
						| Серия - Теория вероятностей и математическая статистика
					li 
						a(href="http://kek.ksu.ru/eos/TerVer/soder.html") Еще учебник
