extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 2"

block content
	// div.row: div.large-12.columns: h2 Глава 7
	div.row: div.large-12.columns
		div.row
		h3 Глава 2. Организационно-экономические и управленческие основы деятельности фонда
		<table class="stack">
		<caption>Карта вопросов</caption>
		<tbody>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#1">1</a></td>
		<td><a class="btn btn-default btn-sm" href="#2">2</a></td>
		<td><a class="btn btn-default btn-sm" href="#3">3 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#4">4 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#5">5 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i> </a></td>
		<td><a class="btn btn-default btn-sm" href="#6">6</a></td>										
		<td><a class="btn btn-default btn-sm" href="#7">7 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#8">8</a></td>
		<td><a class="btn btn-default btn-sm" href="#9">9</a></td>
		<td><a class="btn btn-default btn-sm" href="#10">10 <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a></td>
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#11">11</a></td>
		<td><a class="btn btn-default btn-sm" href="#12">12 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#13">13 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#14">14 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#15">15 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#16">16 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>								
		<td><a class="btn btn-default btn-sm" href="#17">17 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#18">18 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#19">19 <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#20">20 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#21">21</a></td>
		<td><a class="btn btn-default btn-sm" href="#22">22</a></td>
		<td><a class="btn btn-default btn-sm" href="#23">23 </a></td>
		<td><a class="btn btn-default btn-sm" href="#24">24 <i class="fa fa-exclamation" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i></a></a></td>
		<td><a class="btn btn-default btn-sm" href="#25">25 <i class="fa fa-exclamation" aria-hidden="true"></i> <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#26">26 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		</tr>
		include legend.jade
		</tbody>
		</table>		
		div#1 [1] Учредительные документы фонда - это Устав.
		div#2 [2] Право на имущество, переданное фонду учредителем (-ями) является собственностью <mark>фонда</mark>.
		div#3 [3] Что входит в состав собственного имущества фонда:
		ul
			li I. Имущество, предназначенное для обеспечения уставной деятельности;
			li II. Пенсионные резервы;
			li III. Пенсионные накопления;
			li <strike>IV. Пенсионные выплаты.</strike>
		div#4 [4] Органы управления фондом:
		ul
			li <strike>I. Ревизионная комиссия;</strike>
			li II. Совет директоров (наблюдательный совет);
			li III. Единоличный исполнительный орган;
			li <strike>IV. Попечительский совет фонда.</strike>
		div#5 [5] Негосударственный пенсионный фонд может быть создан: <small>все вышеперечисленное</small>
		ul
			li I. Путем его учреждения юридическими лицами;
			li II. Путем его учреждения физическими лицами;
			li III. Путем реорганизации существующего негосударственного пенсионного фонда;
		div#6 [6] Учредительными документами негосударственного пенсионного фонда являются - Устав.
		div#7 [7] Устав негосударственного пенсионного фонда в обязательном порядке должен содержать: <small>все вышеперечисленное</small>
		div#8 [8] Решение о государственной регистрации (об отказе в государственной регистрации) негосударственного пенсионного фонда принимает <mark>Банк России</mark>.
		div#9 [9] Учредители (учредитель) не имеют прав на переданное фонду имущество, которое является собственностью фонда.
		div#10 [10] Уставный капитал в период с 01.01.2015 по 01.01.2020 на день подачи фондом документов в Банк России для получения лицензии на осуществление деятельности по пенсионному обеспечению и пенсионному страхованию, должен составлять не менее <mark>120 млн. руб.</mark>
		div#11 [11] Уставный капитал на день подачи фондом документов в Банк России для получения лицензии на осуществление деятельности по пенсионному обеспечению и пенсионному страхованию, должен быть внесен денежными средствами, ценными бумагами, другими вещами или имущественными правами либо иными правами, имеющими денежную оценку.
		div#12 [12] Укажите органы управления фонда в соответствии с Федеральным законом "О негосударственных пенсионных фондах":
		ul
			li I. Общее собрание акционеров;
			li <strike>II. Совет фонда;</strike>
			li III. Совет директоров;
			li <strike>IV. Президент фонда.</strike>
		div#13 [13] Укажите органы управления фонда в соответствии с Федеральным законом "О негосударственных пенсионных фондах":
		ul
			li I. Общее собрание акционеров;
			li <strike>II. Общее собрание членов некоммерческой организации;</strike>
			li III. Единоличный исполнительный орган;
			li <strike>IV. Исполнительный директор фонда.</strike>
		div#14 [14] Укажите, какие из перечисленных органов управления и контроля за деятельностью фонда всегда должны быть коллегиальными?
		ul
			li I. Совет директоров;
			li <strike>II. Исполнительный орган фонда;</strike>
			li III. Попечительский совет фонда.
		div#15 [15] Укажите, какие из перечисленных органов управления и контроля за деятельностью фонда могут быть единоличными?
		ul
			li <strike>I. Совет фонда;</strike>
			li II. Единоличный исполнительный орган;
			li <strike>III. Попечительский совет фонда.</strike>
		div#16 [16] Какие из перечисленных функций относятся к функциям фонда?
		ul
			li I. Заключает пенсионные договоры и договоры об обязательном пенсионном страховании;
			li II. Производит назначение и осуществляет выплаты негосударственных пенсий участникам;
			li III. Формирует пенсионные резервы, организует размещение средств пенсионных резервов и размещает пенсионные резервы;
			li <strike>IV. Осуществляет самостоятельно инвестирование средств пенсионных накоплений.</strike>
		div#17 [17] Какие из перечисленных функций НЕ относятся к функциям фонда? <small>Противоречит вопросу №16</small> 
		ul
			li I. Организует инвестирование средств пенсионных накоплений;
			li II. Рассматривает отчеты управляющей компании (управляющих компаний) и специализированного депозитария о финансовых результатах деятельности по размещению средств пенсионных резервов и инвестированию средств пенсионных накоплений;
			li III. Организует размещение средств пенсионных резервов и размещает пенсионные резервы;
			li <strike>IV. Осуществляет хранение сертификатов ценных бумаг, осуществляет учет прав на ценные бумаги, в которые размещены средства пенсионных резервов и средства пенсионных накоплений.</strike>
		div#18 [18] Укажите, в какой из перечисленных органов управления и контроля за деятельностью фонда в обязательном порядке должны входить полномочные представители вкладчиков, участников и застрахованных лиц?
		ul
			li <strike>I. Совет директоров;</strike>
			li <strike>II. Исполнительная дирекция фонда;</strike>
			li III. Попечительский совет;
			li <strike>IV. Ревизионная комиссия.</strike>
		div#19 [19] При принятии решений попечительским советом фонда у вкладчиков, участников и застрахованных лиц (их представителей) должно быть <mark>не менее трех четвертей</mark> голосов.
		div#20 [20] Укажите для каких органов управления и контроля за деятельностью фонда в обязательном порядке должны быть утверждены общим собранием акционеров фонда отдельные положения об их деятельности.
		ul 
			li I. Исполнительный орган фонда;
			li II. Попечительский совет;
			li <strike>III. Бухгалтерия (главный бухгалтер) фонда.</strike>
		div#21 [21] Положение о попечительском совете фонда утверждается общим собранием акционеров фонда.
		div#22 [22] Генеральный директор фонда является единоличным исполнительным органом фонда.
		div#23 [23] Контролер или руководитель службы внутреннего контроля фонда подотчетен Совету директоров фонда.
		div#24 [24] Какие из перечисленных функций относятся к исключительной компетенции Общего собрания акционеров фонда?
		ul
			li I. Изменение устава фонда;
			li II. Утверждение годового отчета и годового бухгалтерского баланса;
			li <strike>III. Ведение бухгалтерского и налогового учета;</strike>
			li <strike>IV. Заключение договоров об обязательном пенсионном страховании;</strike>
			li <strike>V. Назначение на должность контролера фонда;</strike>
			li <strike>VI. Утверждения правил;</strike>
			li VII. Реорганизация и ликвидация фонда.
		div#25 [25] Какие из перечисленных функций НЕ относятся к компетенции единоличного исполнительного органа?
		ul
			li I. Утверждение пенсионных правил фонда;
			li <strike>II. Назначение и осуществление выплаты негосударственных пенсий участникам.</strike>
			li III. Утверждение положения о попечительском совете;
			li IV. Осуществление внутреннего контроля за деятельностью фонда;
			li <strike>V. Осуществление выплат выкупных сумм вкладчикам и (или) участникам (их правопреемникам).</strike>
		div#26 [26] Решение каких вопросов в соответствии с Федеральным законом "Об акционерных обществах" требует принятия единогласным или квалифицированным большинством голосов?
		ul
			li I. Реорганизация фонда;
			li II. Ликвидация фонда;
			li <strike>III. Утверждение положения о попечительском совете;</strike>
			li <strike>IV. Назначение контролера фонда.</strike>