extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 16"

block content
	// div.row: div.large-12.columns: h2 Глава 16
	div.row: div.large-12.columns
		div.row
		h3 Глава 16. Развитие международных пенсионных систем

		<table class="stack">
		<caption>Карта вопросов</caption>
		<tbody>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#1">1</a></td>
		<td><a class="btn btn-default btn-sm" href="#2">2</a></td>
		<td><a class="btn btn-default btn-sm" href="#3">3 </a></td>
		<td><a class="btn btn-default btn-sm" href="#4">4 </a></td>
		<td><a class="btn btn-default btn-sm" href="#5">5 </a></td>
		<td><a class="btn btn-default btn-sm" href="#6">6 </a></td>										
		<td><a class="btn btn-default btn-sm" href="#7">7 </a></td>
		<td><a class="btn btn-default btn-sm" href="#8">8</a></td>
		<td><a class="btn btn-default btn-sm" href="#9">9</a></td>
		<td><a class="btn btn-default btn-sm" href="#10">10 </a></td>
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#11">11</a></td>
		<td><a class="btn btn-default btn-sm" href="#12">12 </a></td>
		<td><a class="btn btn-default btn-sm" href="#13">13 </a></td>
		<td><a class="btn btn-default btn-sm" href="#14">14 </a></td>
		<td><a class="btn btn-default btn-sm" href="#15">15 </a></td>
		<td><a class="btn btn-default btn-sm" href="#16">16 </a></td>								
		<td><a class="btn btn-default btn-sm" href="#17">17 </a></td>
		<td><a class="btn btn-default btn-sm" href="#18">18 </a></td>
		<td><a class="btn btn-default btn-sm" href="#19">19 </a></td>
		<td><a class="btn btn-default btn-sm" href="#20">20 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#21">21</a></td>
		<td><a class="btn btn-default btn-sm" href="#22">22</a></td>
		<td><a class="btn btn-default btn-sm" href="#23">23 </a></td>
		<td><a class="btn btn-default btn-sm" href="#24">24 </a></td>
		<td><a class="btn btn-default btn-sm" href="#25">25 </a></td>
		</tr>
		<tr>
		<td colspan=10>условные обозначения</td>
		</tr>
		<tr>
		<td colspan=10><i class="fa fa-square-o" aria-hidden="true"></i> - множественный выбор</td>
		</tr>
		<tr>
		<td colspan=10><i class="fa fa-smile-o" aria-hidden="true"></i> - всё перечисленное</td>
		</tr>		
		<tr>
		<td colspan=10><i class="fa fa-exclamation" aria-hidden="true"></i> - стоимость 2 балла</td>
		</tr>
		<tr>
		<td colspan=10><i class="fa fa-calculator" aria-hidden="true"></i> - расчетный вопрос</td>
		</tr>							
		<tr>
		<td colspan=10><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> - цифровой ответ</td>
		</tr>
		</tbody>
		</table>
		div#1 [1] Основоположники системы обязательного пенсионного обеспечения:
		ul
			li <strike>I. М.В.Ломоносов;</strike>
			li II. Отто Бисмарк;
			li III. Лорд Беверидж;
			li <strike>IV. Н.С.Хрущёв.</strike>

		div#2 [2]
		div#3 [3]
		div#4 [4]
		div#5 [5]
		div#6 [6]
		div#7 [7]
		div#8 [8]
		div#9 [9]
		div#10 [10]
		div#11 [11]
		div#12 [12]
		div#13 [13]
		div#14 [14]
		div#15 [15]
		div#16 [16]
		div#17 [17]
		div#18 [18]
		div#19 [19]
		div#20 [20]
		div#21 [21]
		div#22 [22]
		div#23 [23]
		div#24 [24]
		div#25 [25]				