extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 4"

block content
	// div.row: div.large-12.columns: h2 Глава 7
	div.row: div.large-12.columns
		div.row
		h3 Глава 4. Основы деятельности фонда по негосударственному пенсионному обеспечению
		<table class="stack">
		<caption>Карта вопросов</caption>
		<tbody>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#1">1</a></td>
		<td><a class="btn btn-default btn-sm" href="#2">2</a></td>
		<td><a class="btn btn-default btn-sm" href="#3">3 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#4">4 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#5">5 </a></td>
		<td><a class="btn btn-default btn-sm" href="#6">6 </a></td>										
		<td><a class="btn btn-default btn-sm" href="#7">7 </a></td>
		<td><a class="btn btn-default btn-sm" href="#8">8</a></td>
		<td><a class="btn btn-default btn-sm" href="#9">9</a></td>
		<td><a class="btn btn-default btn-sm" href="#10">10 </a></td>
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#11">11</a></td>
		<td><a class="btn btn-default btn-sm" href="#12">12 </a></td>
		<td><a class="btn btn-default btn-sm" href="#13">13 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#14">14 </a></td>
		<td><a class="btn btn-default btn-sm" href="#15">15 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#16">16 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>								
		<td><a class="btn btn-default btn-sm" href="#17">17 </a></td>
		<td><a class="btn btn-default btn-sm" href="#18">18 </a></td>
		<td><a class="btn btn-default btn-sm" href="#19">19 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#20">20 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#21">21</a></td>
		<td><a class="btn btn-default btn-sm" href="#22">22 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#23">23 </a></td>
		<td><a class="btn btn-default btn-sm" href="#24">24 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#25">25 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#26">26 </a></td>
		<td><a class="btn btn-default btn-sm" href="#27">27 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#28">28 </a></td>
		<td><a class="btn btn-default btn-sm" href="#29">29 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#30">30 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#31">31</a></td>
		<td><a class="btn btn-default btn-sm" href="#32">32 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#33">33 </a></td>
		<td><a class="btn btn-default btn-sm" href="#34">34 </a></td>
		<td><a class="btn btn-default btn-sm" href="#35">35 </a></td>
		<td><a class="btn btn-default btn-sm" href="#36">36 </a></td>
		<td><a class="btn btn-default btn-sm" href="#37">37 </a></td>
		<td><a class="btn btn-default btn-sm" href="#38">38 </a></td>
		<td><a class="btn btn-default btn-sm" href="#39">39 </a></td>
		<td><a class="btn btn-default btn-sm" href="#40">40 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#41">41 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#42">42 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#43">43 </a></td>
		<td><a class="btn btn-default btn-sm" href="#44">44 </a></td>
		<td><a class="btn btn-default btn-sm" href="#45">45 </a></td>
		<td><a class="btn btn-default btn-sm" href="#46">46 </a></td>
		<td><a class="btn btn-default btn-sm" href="#47">47 </a></td>
		<td><a class="btn btn-default btn-sm" href="#48">48 </a></td>
		<td><a class="btn btn-default btn-sm" href="#49">49 </a></td>
		<td><a class="btn btn-default btn-sm" href="#50">50 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#51">51</a></td>
		<td><a class="btn btn-default btn-sm" href="#52">52 </a></td>
		<td><a class="btn btn-default btn-sm" href="#53">53 </a></td>
		<td><a class="btn btn-default btn-sm" href="#54">54 </a></td>
		<td><a class="btn btn-default btn-sm" href="#55">55 </a></td>
		<td><a class="btn btn-default btn-sm" href="#56">56 </a></td>
		<td><a class="btn btn-default btn-sm" href="#57">57 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#58">58 <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#59">59 </a></td>
		<td><a class="btn btn-default btn-sm" href="#60">60 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#61">61</a></td>
		<td><a class="btn btn-default btn-sm" href="#62">62 </a></td>
		<td><a class="btn btn-default btn-sm" href="#63">63 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#64">64 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#65">65 </a></td>
		<td><a class="btn btn-default btn-sm" href="#66">66 </a></td>
		<td><a class="btn btn-default btn-sm" href="#67">67 </a></td>
		<td><a class="btn btn-default btn-sm" href="#68">68 <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#69">69 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#70">70 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#71">71</a></td>
		<td><a class="btn btn-default btn-sm" href="#72">72 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#73">73 </a></td>
		<td><a class="btn btn-default btn-sm" href="#74">74 </a></td>
		<td><a class="btn btn-default btn-sm" href="#75">75 </a></td>
		<td><a class="btn btn-default btn-sm" href="#76">76 </a></td>
		<td><a class="btn btn-default btn-sm" href="#77">77 <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#78">78 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#79">79 <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#80">80 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#81">81</a></td>
		<td><a class="btn btn-default btn-sm" href="#82">82 </a></td>
		<td><a class="btn btn-default btn-sm" href="#83">83 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#84">84 </a></td>
		<td><a class="btn btn-default btn-sm" href="#85">85 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#86">86 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#87">87 <i class="fa fa-square-o" aria-hidden="true"></i></a></td>
		<td><a class="btn btn-default btn-sm" href="#88">88 <i class="fa fa-square-o" aria-hidden="true"></i> <i class="fa fa-smile-o" aria-hidden="true"></i></a></td>
	
		</tr>
													
		include legend.jade
		</tbody>
		</table>
		div
		| Пенсионная схема – совокупность условий, определяющих порядок уплаты пенсионных взносов и выплат негосударственных пенсий.
		| По <u>условиям выполнения актуарных расчетов</u> пенсионные схемы подразделяются на:
		ul
			li <strong>схемы с установленными взносами</strong> – схемы, где размеры, продолжительность и периодичность внесения Вкладчиком пенсионных взносов устанавливаются при заключении Пенсионного договора, а размеры негосударственной пенсии Участника определяются при ее назначении, исходя из сформированных в его пользу пенсионных накоплений и выбранных продолжительности и периодичности выплат.

			li <strong>схемы с установленными выплатами</strong> – схемы, в которых Участникам Фонда гарантируются определенные размеры пенсионных выплат, при условии поступления пенсионных взносов от Вкладчика в установленном размере и порядке.

		div По <u>условиям финансирования</u> пенсионные схемы подразделяются на:
		ul
			li Нефондируемые или распределительные- схемы, основанные на выплате пенсий из текущих поступлений; по такой схеме финансируется Пенсионным Фондом России базовая часть трудовой пенсии.

			li Фондируемые - схемы, в которых для выплат пенсий накапливаются определенные фонды;

			li Частично фондируемые - смешанные схемы, например схемы, в которых предусмотрено создание фондов только для лиц, вышедших на пенсию.

		div К фондируемым схемам относятся:
		ul
			li Сберегательные - схемы, в расчетах обязательств по которым не учитываются вероятности дожития, предусматривается наследование накоплений.

			li Страховые - схемы, в расчетах обязательств по которым учитываются вероятности дожития, нет наследования накоплений. Страховые схемы различаются по принципу определения эквивалентности размера пенсии и накоплений на индивидуальные (пенсия эквивалентна индивидуальным накоплениям для каждого участника) и групповые или солидарные (пенсия и накопления эквивалентны для всех участников, нет индивидуальных накоплений участников).

			li Смешанные (сберегательно - страховые) - смешанные схемы, например схемы, в которых предусматривается последовательное применение двух схем: на этапе накопления применяется сберегательная схема, на этапе выплат пенсий - страховая.

		div Классификация схем <u>по продолжительности выплат</u>:
		ul
			li <strong>Срочные</strong> – выплаты по данным схемам производятся в течении определеннго периода времени.
			li <strong>До исчерпания счета</strong> – выплаты в установленном размере производятся до тех пор, пока на счете есть деньги.
			li <strong>С пожизненными выплатами</strong> - выплаты производятся до смерти участника.

		div#1 [1] Пенсионный взнос и негосударственная пенсия это <mark>денежные средства</mark>.
		div#2 [2] <strong>Пенсионная схема</strong> это совокупность условий, определяющих порядок уплаты пенсионных взносов и выплат негосударственных пенсий.
		div#3 [3] Пенсионные резервы формируются за счет:
			ul
				li I. Пенсионных взносов;
				li II. Дохода фонда от размещения пенсионных резервов;
				li III. Целевых поступлений;
				li IV. Иного имущества, определяемого по решению совета директоров (наблюдательного совета) фонда для покрытия отрицательного результата от размещения пенсионных резервов.
				li <strike>V. Совокупного вклада учредителей</strike>
		div#4 [4] Источниками формирования пенсионных резервов НПФ являются:
			ul
				li <strike>I. Пенсионные накопления;</strike><small>Термин пенсионные накопления используется при обязательном пенсионном страховании. А пенсионные резервы при негосударственном пенсионном обеспечении.</small>
				li II. Целевые поступления;
				li III. Пенсионные взносы;
				li IV. Пенсионные взносы и доход от размещения пенсионных резервов.
		div#5 [5] Пенсионные обязательства возникают у НПФ с момента поступления первого пенсионного взноса.
		div#6 [6] <strong>Пенсионный счет негосударственного пенсионного обеспечения</strong> - это форма аналитического учета в фонде, отражающая поступления пенсионных взносов, начисление дохода, начисление выплат негосударственных пенсий и выплат выкупных сумм участнику, а также начисление выкупных сумм участнику для перевода в другой фонд при расторжении пенсионного договора.
		div#7 [7] <strong>Пенсионный счет накопительной пенсии</strong> - это форма индивидуального аналитического учета в фонде, отражающая поступление средств пенсионных накоплений и результаты их инвестирования в соответствии с требованиями, установленными настоящим Федеральным законом. <small>Что за настоящий ФЗ?</small>
		div#8 [8] <strong>Пенсионная схема</strong> - это cовокупность условий, определяющих порядок уплаты пенсионных взносов и выплат негосударственных пенсий.
		div#9 [9] <strong>Пенсионный взнос</strong> - это денежные средства, уплачиваемые вкладчиком в пользу участника.
		div#10 [10] Договор негосударственного пенсионного обеспечения заключается НПФ c вкладчиком в пользу участника.
		div#11 [11] Положение о негосударственном пенсионном обеспечении работников предприятия определяет условия и порядок предоставления работникам предприятия права на негосударственное пенсионное обеспечение.
		div#12 [12] Правила фонда утверждаются Советом директоров (наблюдательным советом) фонда.
		div#13 [13] Пенсионные правила НПФ это:
			ul
				li I. Документ, определяющий порядок и условия исполнения обязательств по договорам о негосударственном пенсионном обеспечении
				li <strike>II. Документ, определяющий порядок и условия исполнения фондом обязательств по пенсионным договорам;</strike>
				li <strike>III. Документ, определяющий предмет и цели деятельности фонда, а также внутреннюю структуру НПФ.</strike>
		div#14 [14] Пенсионные правила НПФ утверждаются Советом директоров (наблюдательным советом) фонда.
		div#15 [15] Какие из приведенных положений не относятся к предмету пенсионных правил НПФ:
			ul
				li </strike>I. Определение ответственности фонда перед вкладчиками и участниками и условиях возникновения и прекращения обязательств фонда;</strike>
				li </strike>II. Перечень пенсионных оснований;</strike>
				li III. Порядок формирования средств пенсионных накоплений;
				li </strike>IV. Порядок и условия назначения и выплаты негосударственных пенсий;</strike>
				li V. Перечень прав и обязанностей застрахованных лиц
		div#16 [16] Какие из приведенных положений в обязательном порядке должны содержаться в пенсионных правилах НПФ: <small>все вышеперечисленное</small>
		div#17 [17] Cтруктура пенсионных правил НПФ определена Федеральным законом "О негосударственных пенсионных фондах".
		div#18 [18] Неверное утверждение: внесение изменений и дополнений в пенсионные правила НПФ, затрагивающих права и обязанности вкладчиков и (или) участников, возможно лишь при наличии согласия указанных лиц.
		div#19 [19] В соответствии с Федеральным законом "О негосударственных пенсионных фондах" существенными условиями пенсионного договора являются:
			ul
				li I. Вид пенсионной схемы;
				li II. Сроки действия и прекращения договора;
				li III. Положения о порядке и об условиях внесения пенсионных взносов;
				li <strike>IV. Положения о направлениях и порядке размещения средств пенсионных резервов;</strike>
				li <strike>V. Положения о порядке и условиях внесения изменений и дополнений в пенсионные правила фонда.</strike>
		div#20 [20] Отношения каких субъектов регулируются пенсионными правилами фонда и пенсионным договором:
			ul
				li I. НПФ;
				li II. Участник;
				li <strike>III. Страхователь;</strike>
				li <strike>IV. Застрахованное лицо;</strike>
				li V. Вкладчик;
				li <strike>VI. Пенсионный фонд Российской Федерации.</strike>
		div#21 [21] Сторонами пенсионного договора являются НПФ и вкладчик.
		div#22 [22] Укажите юридические признаки, классифицирующие пенсионный договор:
			ul
				li I. Реальный договор;
				li II. Двухсторонний договор;
				li III. Взаимный договор;
				li <strike>IV. Односторонний договор.</strike>
		div#23 [23] Предмет пенсионного договора негосударственное пенсионное обеспечение участников НПФ.
		div#24 [24] Какие виды договоров характерны для пенсионного договора:
			ul
				li I. Договор, заключенный в свою пользу;
				li II. Договор, заключенный в пользу третьего лица;
				li <strike>III. Публичный договор;</strike>
				li <strike>IV. Предварительный договор.</strike>
		div#25 [25] Какие организационные формы негосударственного пенсионного обеспечения могу быть реализованы фондом на основании пенсионного договора: <small>все вышеперечисленное</small>
			ul
				li I. Коллективная форма негосударственного пенсионного обеспечения;
				li II. Индивидуальная форма негосударственного пенсионного обеспечения;
				li III. Коллективная форма с последующим представлением права перехода на индивидуальную форму негосударственного пенсионного обеспечения.
		div#26 [26] <strong>Участником</strong> называется физическое лицо, которому в соответствии с заключенным между вкладчиком и НПФ пенсионным договором должны производиться или производятся выплаты негосударственной пенсии
		div#27 [27] Что из указанных положений относиться к обязанностям вкладчика:
			ul
				li I. Сообщать в НПФ об изменениях, влияющих на исполнение ими своих обязательств перед НПФ;
				li <strike>II. Требовать от НПФ выплаты выкупных сумм;</strike>
				li <strike>III. Требовать от НПФ изменения условий негосударственного пенсионного обеспечения;</strike>
				li IV. Уплачивать пенсионные взносы в НПФ.
		div#28 [28] Укажите утверждение, противоречащее Федеральному закону "О негосударственных пенсионных фондах"
			ul
				li <strike>I. Вкладчики обязаны уплачивать пенсионные взносы исключительно денежными средствами в порядке и размерах, которые предусмотрены правилами фонда и пенсионным договором;</strike>
				li II. Вкладчики вправе уплачивать пенсионные взносы имуществом, не являющимся денежными средствами, если это право предусмотрено пенсионным договором.
		div#29 [29] Одновременное наличие каких условий необходимо для назначения участнику негосударственной пенсии: <small>все вышеперечисленное</small>
		div#30 [30] Сберегательная пенсионная схема относится к типу фондируемых схем.
		div#31 [31] Пенсионная схема, в расчетах обязательств по которой не учитывается вероятность дожития и предусматривается правопреемство является сберегательной схемой.
		div#32 [32] К какому типу пенсионных схем может быть отнесена фондируемая пенсионная схема: <small>все вышеперечисленное</small>
			ul
				li I. К сберегательной схеме
				li II. К страховой схеме
				li III. К сберегательно-страховой схеме.
		div#33 [33] Пенсионная схема, в расчетах обязательств по которой учитывается вероятность дожития участника является <mark>страховой схемой</mark>.
		div#34 [34] Укажите положение, применимое к индивидуальной пенсионной схеме:
			ul
				li I. Пенсионные обязательства эквивалентны индивидуальным накоплениям для каждого участника;
				li <strike>II. Индивидуальная пенсионная схема определяет только способ учета обязательств в форме ведения именного пенсионного счета;</strike>
				li <strike>III. Пенсионные обязательства эквивалентны для всех участников в "массе".</strike>
		div#35 [35] Единовременная выплата средств, учтенных на пенсионном счете, недопустима.
		div#36 [36] НЕверно: единовременное внесение вкладчиком пенсионных взносов недопустимо ввиду необходимости их регулярного внесения.
		div#37 [37] Пенсионные взносы могут вноситься вкладчиком как на этапе накопления так и на этапе выплат негосударственной пенсии участнику.
		div#38 [38] Продолжительность выплат негосударственных пенсий участнику может устанавливаться на срок жизни участника.
		div#39 [39] Совместное финансированием негосударственной пенсии предполагает совместное формирование пенсионных резервов <mark>вкладчиком и участником</mark>.
		div#40 [40] Возможно ли заключение фондом пенсионного договора с самим собой в пользу своих сотрудников? Исключено, т.к. должник и кредитор совпадут в одном лице.
		div#41 [41] Что включают в себя обязательства фонда перед вкладчиками и участниками: <small>все вышеперечисленное</small>
		div#42 [42] Обязательства фонда перед участником, являющимся третьим лицом по пенсионному договору, предполагающему учет обязательств на солидарном пенсионном счете возникают:
		ul
			li I. С даты наступления у участника пенсионных оснований;
			li II. С даты предоставления вкладчиком участнику права требовать исполнения обязательств в свою пользу;
			li <strike>III. С даты учета на солидарном пенсионном счете вкладчика первого пенсионного взноса.</strike>
		div#43 [43] Фонд не несет ответственность по обязательствам вкладчика перед участником (участниками).
		div#44 [44] Фонд отвечает по своим обязательствам всем принадлежащим ему имуществом.
		div#45 [45] Исполнение обязательств субъектов отношений по негосударственному пенсионному обеспечению не может осуществляться за счет средств пенсионных накоплений.
		div#46 [46] Укажите НЕверное утверждение: Обязательства фонда прекращаются в связи с приостановкой вкладчиком уплаты пенсионных взносов в фонд. <small>Понятно, что бред.</small>
		div#47 [47] Не может являться основанием для прекращения пенсионного договора истечение накопительного периода и назначение негосударственной пенсии участнику.
		div#48 [48] Расторжение пенсионного договора вкладчиком возможно на любом этапе действия пенсионного договора.
		div#49 [49] При досрочном расторжении пенсионного договора перевод фондом выкупной суммы в виде активов, в которые размещены средства пенсионных резервов, в другой фонд противоречит законодательству.
		div#50 [50] Возможность правопреемства по пенсионному договору определяется пенсионными правилами и зависит от условий негосударственного пенсионного обеспечения.
		div#51 [51] В случае приостановки внесения пенсионных взносов вкладчиком фонд принимает меры по обеспечению полной и своевременной уплаты вкладчиками пенсионных взносов.
		div#52 [52] Укажите верное утверждение:
			ul
				li <strike>A. Фонд вправе принимать на себя поручительство за исполнение обязательств третьими лицами;</strike>
				li <strike>B. Фонд вправе отдавать в залог средства пенсионных резервов;</strike>
				li C. Фонд не вправе принимать в одностороннем порядке решения, нарушающие права вкладчиков и участников.
		div#53 [53] Укажите неверное утверждение: Фонд вправе отдавать в залог средства пенсионных резервов.
		div#54 [54] Пенсионными основаниями в пенсионных договорах являются пенсионные основания, установленные на момент заключения пенсионного договора законодательством Российской Федерации.
		div#55 [55] Пенсионными договорами могут быть установлены дополнительные основания для приобретения участником права на получение негосударственной пенсии.
		div#56 [56] Не может являться пенсионным основанием увольнение участника с предприятия, являющегося вкладчиком по пенсионному договору.
		div#57 [57] Какие из указанных способов обеспечения исполнения обязательств перед участниками фонд вправе применять: <small>все вышеперечисленное</small>
		div#58 [58] Возможно направление части пенсионного взноса на формирование страхового резерва если правилами фонда и пенсионным договором предусмотрено право фонда производить такие отчисления, и в нем установлен размер отчисляемой части пенсионного взноса, но <mark>не более 3 процентов</mark> от суммы пенсионных взносов.
		div#59 [59] фонд вправе производить отчисление части резервов покрытия пенсионных обязательств в страховой резерв при условии если эти отчисления составляют средства, образовавшихся на пенсионных счетах вследствие прекращения обязательств по пенсионному договору, включая выплату пенсий и выкупных сумм (перевода выкупной суммы в другой негосударственный пенсионный фонд).
		div#60 [60] Какие из указанных групп субъектов характерны для деятельности фонда по негосударственному пенсионному обеспечению?
			ul
				li I. Вкладчик - участник - фонд;
				li <strike>II. Страхователь - участник - фонд;</strike>
				li III. Вкладчик - участник - правопреемник;
				li <strike>IV. Вкладчик - застрахованное лицо - фонд;</strike>
				li <strike>V. Застрахованное лицо - правопреемник - фонд.</strike>
		div#61 [61] Пенсионные резервы - совокупность средств, находящихся в <mark>собственности фонда</mark> и предназначенных для исполнения фондом обязательств перед участниками в соответствии с пенсионными договорами.
		div#62 [62] Пенсионные резервы фонда включают в себя резервы покрытия пенсионных обязательств и страховой резерв.
		div#63 [63] Укажите источники формирования пенсионных резервов:
			ul
				li I. Доход фонда от размещения пенсионных резервов;
				li II. Целевые поступления;
				li <strike>III. Доход фонда от инвестирования пенсионных накоплений;</strike>
				li IV. Иного имущества, определяемого по решению совета директоров (наблюдательного совета) фонда для покрытия отрицательного результата от размещения пенсионных резервов;
				li V. Пенсионных взносов;
				li <strike>VI. Средства (часть средств) материнского (семейного) капитала.</strike>
		div#64 [64] Часть дохода фонда от размещения пенсионных резервов может являться: <small>все вышеперечисленное</small>
			ul
				li I. Источником формирования резерва покрытия пенсионных обязательств;
				li II. Источником формирования страхового резерва;
				li III. Иного имущества;
		div#65 [65] Нормативный размер страхового резерва и порядок его формирования и использования устанавливаются Банком России.
		div#66 [66] Создание страхового резерва необходимо для обеспечения устойчивости исполнения обязательств фонда перед участниками.
		div#67 [67] Нормативный размер величины страхового резерва определяется в зависимости от размера резервов покрытия пенсионных обязательств.
		div#68 [68] Какой процент от размера резерва покрытия пенсионных обязательств установлен в качестве нормативного размера страхового резерва: <mark>5 или более процентов.</mark>
		div#69 [69] Какое имущество может служить источником формирования страхового резерва фонда:
			ul
				li I. Часть дохода от размещения средств пенсионных резервов;
				li <strike>II. Часть дохода от инвестирования средств пенсионных накоплений;</strike>
				li III. Часть пенсионных взносов;
				li IV. Целевые поступления на формирование страхового резерва;
		div#70 [70] Для каких случаев может быть использован Страховой резерв: <small>все вышеперечисленное</small>
		div#71 [71] Для индивидуальной формы организации негосударственного пенсионного обеспечения характерна форма аналитического учета как <mark>именной пенсионный счет</mark>.
		div#72 [72] Какая форма аналитического учета может быть установлена для коллективной формы организации негосударственного пенсионного обеспечения: <small>все вышеперечисленное</small>
			ul
				li I. Именные пенсионные счета;
				li II. Солидарный пенсионный счет;
				li III. Последовательное применение солидарного и именных пенсионных счетов.
		div#73 [73] Порядок ведения пенсионных счетов негосударственного пенсионного обеспечения определяется <mark>пенсионными правилами фонда</mark>.
		div#74 [74] Укажите неверное утверждение: Фонд обязан только самостоятельно осуществлять ведение пенсионных счетов.
		div#75 [75] Оказание услуг по ведению пенсионных счетов с иными организациями возможно при условии: заключения договора на оказание услуг по ведению пенсионных счетов с иной организацией и указания на такую организацию в <mark>пенсионных правилах</mark> фонда.
		div#76 [76] Обязанности и права фонда, связанные с режимом ведения пенсионных счетов и обеспечением конфиденциальности информации и персональных данных, распространяются на организации, которые в соответствии с договором осуществляют ведение пенсионных счетов.
		div#77 [77] В течение трех лет начиная со дня исполнения своих обязательств по пенсионному договору фонд обязан обеспечить сохранность документов по пенсионным счетам негосударственного пенсионного обеспечения.
		div#78 [78] Какие из перечисленных оснований могут являться основаниями для закрытия именного пенсионного счета участника:
			ul
				li I. Выполнение фондом своих обязательств перед участником в полном объеме;
				li II. Расторжение пенсионного договора и выплата выкупной суммы или ее перевод в другой фонд;
				li <strike>III. Факт назначения участнику негосударственной пенсии;</strike>
				li IV. Смерть участника и отсутствие правопреемника или невозможность правопреемства по условиям пенсионной схемы;
				li <strike>V. Факт исчерпания средств, учтенных на именном пенсионном счете участника, получающего пожизненную негосударственную пенсию.</strike>
		div#79 [79] Фонд обязан предоставлять вкладчикам и участникам информацию о состоянии их пенсионных счетов <mark>один раз в год</mark>.
		div#80 [80] Укажите субъектов, которые могут являться получателями выкупной суммы: <small>все вышеперечисленное</small>
			ul
				li I. Вкладчик;
				li II. Участник;
				li III. Правопреемник вкладчика (участника).
		div#81 [81] Порядок расчета выкупной суммы определяется пенсионными правилами.
		div#82 [82] Выплата вкладчику выкупной суммы активами (или их частью), в которые размещены средства пенсионных резервов не возможна, т.к. выкупную сумму всегда составляют денежные средства.
		div#83 [83] При прекращении пенсионного договора в связи с ликвидацией фонда выкупная сумма подлежит:<small>все вышеперечисленное</small>
			ul
				li I. Переводу в другой фонд, по выбору вкладчика или участника;
				li II. Выплате вкладчику или участнику;
				li III. Переводу в счет уплаты страховых премий по договорам пенсионного страхования участников, заключенным со страховыми организациями, по выбору вкладчика или участника.
		div#84 [84] <strong>Негосударственная пенсия</strong> - денежные средства, регулярно выплачиваемые участнику в соответствии с условиями пенсионного договора.
		div#85 [85] Укажите возможную периодичность выплаты негосударственной пенсии: <small>все вышеперечисленное</small>
		div#86 [86] Кто из указанных субъектов может выступать вкладчиком фонда: <small>все вышеперечисленное</small>
		div#87 [87] Какие функции фонда относятся к деятельности фонда по негосударственному пенсионному обеспечению:
			ul
				li I. Формирование пенсионных резервов;
				li II. Ведение пенсионных счетов негосударственного пенсионного обеспечения;
				li <strike>III. Назначение и осуществление выплат накопительной части трудовой пенсии застрахованным лицам или выплат их правопреемникам;</strike>
				li IV. Осуществление выплат выкупных сумм вкладчикам и (или) участникам (их правопреемникам) или перевод выкупных сумм в другой фонд.
		div#88 [88]	Какие функции фонда НЕ относятся к деятельности фонда по негосударственному пенсионному обеспечению? <small>все вышеперечисленное</small>