extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 1"

block content
	// div.row: div.large-12.columns: h2 Глава 7
	div.row: div.large-12.columns
		div.row
		h3 Глава 1. Основные положения
		div Законы:
		ul
			li ФЗ "О накопительной пенсии".
			li ФЗ "О негосударственных пенсионных фондах".
		div <img src="../images/terms.png" alt="Вкладчик, Страхователь, Участник, НПФ">
		div Пенсионные накопления - обязательное пенсионное страхование. Пенсионные резервы - негосударственное пенсионное обеспечение.
		div [1] Негосударственный пенсионный фонд - это организация, исключительной деятельностью которой является негосударственное пенсионное обеспечение, в том числе досрочное негосударственное пенсионное обеспечение, и обязательное пенсионное страхование.
		div [2] Основным видом деятельности НПФ является негосударственное пенсионное обеспечение.
		div [3] Договор негосударственного пенсионного обеспечения - это соглашение между НПФ и вкладчиком НПФ, в соответствии с которым вкладчик обязуется уплачивать пенсионные взносы в НПФ, а НПФ обязуется <mark>выплачивать участнику (участникам)</mark> фонда негосударственную пенсию.
		div [4] Договор об обязательном пенсионном страховании - это соглашение между фондом и застрахованным лицом в пользу застрахованного лица или его правопреемников, в соответствии с которым фонд обязан при наступлении пенсионных оснований осуществлять назначение и выплату застрахованному лицу накопительной пенсии и (или) срочной пенсионной выплаты или единовременной выплаты либо осуществлять выплаты правопреемникам застрахованного лица.
		div [5] <b>Вкладчик</b> - это физическое или юридическое лицо, являющееся стороной пенсионного договора и уплачивающее пенсионные взносы в НПФ.
		div [6] <b>Участник</b> - это физическое лицо, которому в соответствии с заключенным между вкладчиком и НПФ пенсионным договором должны производиться или производятся выплаты негосударственной пенсии.
		div [7] <b>Страхователь</b> - это физическое или юридическое лицо, обязанное перечислять страховые взносы на финансирование накопительной пенсии в пользу застрахованного лица.
		div [8] <b>Застрахованное лицо</b> - это физическое лицо, заключившее договор об обязательном пенсионном страховании.
		div [9] <b>Пенсионный взнос</b> - это денежные средства, уплачиваемые вкладчиком в пользу участника в соответствии с условиями пенсионного договора.
		div [10] <b>Страховой взнос</b> - это индивидуально возмездные обязательные платежи на обязательное пенсионное страхование на финансирование накопительной пенсии, уплачиваемые страхователем в пользу застрахованного лица в Пенсионный фонд Российской Федерации для последующей передачи в выбранный этим застрахованным лицом фонд
		div [11] <strong>Негосударственная пенсия</strong> - это денежные средства, регулярно выплачиваемые участнику в соответствии с условиями пенсионного договора.
		div [12] <strong>Накопительная пенсия</strong> - это ежемесячная денежная выплата, назначаемая и выплачиваемая фондом застрахованному лицу в соответствии с Федеральным законом "О накопительной пенсии", Федеральным законом "О негосударственных пенсионных фондах" и договором об обязательном пенсионном страховании.
		div [13] <strong>Пенсионная схема</strong> - это совокупность условий, определяющих порядок уплаты пенсионных взносов и выплат негосударственных пенсий.
		div [14] <strong>Пенсионные основания</strong> - это:
		ul
			li I. Основания приобретения участником права на получение негосударственной пенсии;
			li II. Основания приобретения застрахованным лицом права на получение накопительной пенсии;
			li <strike>III. Основания приобретения застрахованным лицом права на компенсацию в случае расторжения договора поручения;</strike>
			li <strike>IV. Основания приобретения застрахованным лицом права на получение профессиональной пенсии.</strike>
		div [15] <strong>Пенсионные резервы</strong> - это совокупность средств, находящихся в собственности НПФ и предназначенных для исполнения НПФ обязательств перед <mark>участниками</mark> в соответствии с пенсионными договорами.
		div [16] <strong>Пенсионные накопления</strong> - это:
		ul
			li I. Совокупность средств, в том числе средства взносов на софинансирование формирования пенсионных накоплений, поступивших в соответствии с законодательством РФ;
			li II. Совокупность средств, находящихся в собственности НПФ;
			li <strike>III. Совокупность средств, предназначенных для исполнения обязательств НПФ перед вкладчиками в соответствии с договорами об обязательном пенсионном страховании и договорами о создании профессиональной пенсионной системы и формируемых в соответствии с Федеральным законом "О негосударственных пенсионных фондах";</strike>
			li IV. Средства (часть средств) материнского (семейного) капитала, направленные на формирование накопительной пенсии в соответствии с Федеральным законом "О дополнительных мерах государственной поддержки семей, имеющих детей", находящихся в собственности фонда, предназначенных для исполнения обязательств фонда перед застрахованными лицами в соответствии с договорами об обязательном пенсионном страховании и формируемых в соответствии с Федеральным законом "О негосударственных пенсионных фондах".
		div [17] <strong>Инвестиционный портфель НПФ по обязательному пенсионному страхованию</strong> - это активы, сформированные за счет средств пенсионных накоплений, переданных фондом в доверительное управление управляющей компании <mark>(управляющим компаниям)</mark>.
		div [18] <strong>Инвестиционный портфель управляющей компании</strong> - это активы, сформированные за счет средств пенсионных накоплений, полученных управляющей компанией в доверительное управление от <mark>одного НПФ</mark>.
		div [19] Результатом размещения пенсионных резервов являются:<small>все вышеперечисленное</small>
		ul
			li I. Дивиденды и проценты (доход) по ценным бумагам;
			li II. Чистый финансовый результат от реализации активов;
			li III. Чистый финансовый результат, отражающий изменение рыночной стоимости пенсионных резервов за счет переоценки на отчетную дату;
			li IV. Другие виды доходов от операций по размещению пенсионных резервов.
		div [20] Результатом инвестирования средств пенсионных накоплений
			ul
				li I. Дивиденды и проценты (доход) по ценным бумагам, а также по банковским депозитам;
				li II. Чистый финансовый результат от реализации активов;
				li III. Чистый финансовый результат, отражающий изменение рыночной стоимости инвестиционного портфеля за счет переоценки на отчетную дату;
				li <strike>IV. Другие виды доходов от операций по инвестированию средств пенсионных резервов.</strike>
		div [21] <strong>Правила НПФ</strong> - это документы, определяющие порядок и условия исполнения фондом обязательств по пенсионным договорам (пенсионные правила фонда), договорам об обязательном пенсионном страховании (страховые правила фонда).
		div [22] Укажите НЕверное утверждение: D. <mark>Раскрытие информации НПФом</mark> - обеспечение доступности информации <mark>ограниченному</mark> кругу лиц в соответствии с процедурой, гарантирующей ее нахождение и получение.
		div [23] Субъектами отношений по негосударственному пенсионному обеспечению, обязательному пенсионному страхованию являются:
		ul
			li I. НПФы;
			li II. Пенсионный фонд Российской Федерации;
			li III. Специализированные депозитарии;
			li IV. Вкладчики;
			li V. Участники;
			li VI. Застрахованные лица;
			li <strike>VII. Брокеры;</strike>
			li VIII. Страхователи.
		div [24] Устав НПФ содержит: <small>все вышеперечисленное</small>
		div [25] В соответствии с Федеральным законом "О негосударственных пенсионных фондах" НПФ должен: <small>все вышеперечисленное</small>
		div [26] Укажите верное утверждение:
		ul
			li ВЕРНОЕ A. Фонд вправе размещать средства пенсионных резервов как самостоятельно, так и через управляющие компании в соответствии с договорами доверительного управления;
			li B. У управляющей компании <strike>возникает право собственности</strike> в отношении переданных ей пенсионных резервов
			li C. Самостоятельно фонд вправе размещать средства пенсионных резервов и пенсионных накоплений только в надежные объекты размещения, перечень которых регламентирован государством (в частности, в государственные ценные бумаги Российской Федерации, банковские депозиты, недвижимость)
			li D. Негосударственная пенсия - это денежные средства, регулярно выплачиваемые <strike>вкладчику</strike> в соответствии с условиями пенсионного договора
		div [27] Управляющая компания - это акционерное общество или общество с ограниченной (дополнительной) ответственностью, созданные в соответствии с законодательством Российской Федерации и имеющие лицензию на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами. <small>Обществ с дополнительной отвественностью уже нет, но ответ считается за правильный.</small>
		div [28] Инвестиционная декларация, являющаяся неотъемлемой частью договора доверительного управления (ДУ) содержит: <small>все вышеперечисленное</small>