extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 6"

block content
	// div.row: div.large-12.columns: h2 Глава 7
	div.row: div.large-12.columns
		div.row
		h3 Глава 6. Размещение средств пенсионных резервов и инвестирование средств пенсионных накоплений
		<table class="stack">
		<caption>Карта вопросов</caption>
		<tbody>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#1">1</a></td>
		<td><a class="btn btn-default btn-sm" href="#2">2</a></td>
		<td><a class="btn btn-default btn-sm" href="#3">3 </a></td>
		<td><a class="btn btn-default btn-sm" href="#4">4 </a></td>
		<td><a class="btn btn-default btn-sm" href="#5">5 </a></td>
		<td><a class="btn btn-default btn-sm" href="#6">6 </a></td>										
		<td><a class="btn btn-default btn-sm" href="#7">7 </a></td>
		<td><a class="btn btn-default btn-sm" href="#8">8</a></td>
		<td><a class="btn btn-default btn-sm" href="#9">9</a></td>
		<td><a class="btn btn-default btn-sm" href="#10">10 </a></td>
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#11">11</a></td>
		<td><a class="btn btn-default btn-sm" href="#12">12 </a></td>
		<td><a class="btn btn-default btn-sm" href="#13">13 </a></td>
		<td><a class="btn btn-default btn-sm" href="#14">14 </a></td>
		<td><a class="btn btn-default btn-sm" href="#15">15 </a></td>
		<td><a class="btn btn-default btn-sm" href="#16">16 </a></td>								
		<td><a class="btn btn-default btn-sm" href="#17">17 </a></td>
		<td><a class="btn btn-default btn-sm" href="#18">18 </a></td>
		<td><a class="btn btn-default btn-sm" href="#19">19 </a></td>
		<td><a class="btn btn-default btn-sm" href="#20">20 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#21">21</a></td>
		<td><a class="btn btn-default btn-sm" href="#22">22</a></td>
		<td><a class="btn btn-default btn-sm" href="#23">23 </a></td>
		<td><a class="btn btn-default btn-sm" href="#24">24 </a></td>
		<td><a class="btn btn-default btn-sm" href="#25">25 </a></td>
		<td><a class="btn btn-default btn-sm" href="#26">26 </a></td>
		<td><a class="btn btn-default btn-sm" href="#27">27 </a></td>
		<td><a class="btn btn-default btn-sm" href="#28">28 </a></td>
		<td><a class="btn btn-default btn-sm" href="#29">29 </a></td>
		<td><a class="btn btn-default btn-sm" href="#30">30 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#31">31</a></td>
		<td><a class="btn btn-default btn-sm" href="#32">32 </a></td>
		<td><a class="btn btn-default btn-sm" href="#33">33 </a></td>
		<td><a class="btn btn-default btn-sm" href="#34">34 </a></td>
		<td><a class="btn btn-default btn-sm" href="#35">35 </a></td>
		<td><a class="btn btn-default btn-sm" href="#36">36 </a></td>
		<td><a class="btn btn-default btn-sm" href="#37">37 </a></td>
		<td><a class="btn btn-default btn-sm" href="#38">38 </a></td>
		<td><a class="btn btn-default btn-sm" href="#39">39 </a></td>
		<td><a class="btn btn-default btn-sm" href="#40">40 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#41">41</a></td>
		<td><a class="btn btn-default btn-sm" href="#42">42 </a></td>
		<td><a class="btn btn-default btn-sm" href="#43">43 </a></td>
		<td><a class="btn btn-default btn-sm" href="#44">44 </a></td>
		<td><a class="btn btn-default btn-sm" href="#45">45 </a></td>
		<td><a class="btn btn-default btn-sm" href="#46">46 </a></td>
		<td><a class="btn btn-default btn-sm" href="#47">47 </a></td>
		<td><a class="btn btn-default btn-sm" href="#48">48 </a></td>
		<td><a class="btn btn-default btn-sm" href="#49">49 </a></td>
		<td><a class="btn btn-default btn-sm" href="#50">50 </a></td>		
		</tr>
		<tr>
		<td><a class="btn btn-default btn-sm" href="#51">51</a></td>
		
		</tr>


		<tr>
		<td colspan=10>условные обозначения</td>
		</tr>
		<tr>
		<td colspan=10><i class="fa fa-square-o" aria-hidden="true"></i> - множественный выбор</td>
		</tr>
		<tr>
		<td colspan=10><i class="fa fa-smile-o" aria-hidden="true"></i> - всё перечисленное</td>
		</tr>		
		<tr>
		<td colspan=10><i class="fa fa-exclamation" aria-hidden="true"></i> - стоимость 2 балла</td>
		</tr>
		<tr>
		<td colspan=10><i class="fa fa-calculator" aria-hidden="true"></i> - рассчетный вопрос</td>
		</tr>							
		<tr>
		<td colspan=10><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> - цифровой ответ</td>
		</tr>
		</tbody>
		</table>				
		div#1 [1]
		div#2 [2]
		div#3 [3]
		div#4 [4]
		div#5 [5]
		div#6 [6]
		div#7 [7]
		div#8 [8]
		div#9 [9]
		div#10 [10]
		div#11 [11]
		div#12 [12]
		div#13 [13]
		div#14 [14]
		div#15 [15]
		div#16 [16]
		div#17 [17]
		div#18 [18]
		div#19 [19]
		div#20 [20]
		div#21 [21]
		div#22 [22]
		div#23 [23]
		div#24 [24]
		div#25 [25]
		div#26 [26]
		div#27 [27]
		div#28 [28]
		div#29 [29]
		div#30 [30]
		div#31 [31]
		div#32 [32]
		div#33 [33]
		div#34 [34]
		div#35 [35]
		div#36 [36]
		div#37 [37]
		div#38 [38]
		div#39 [39]		
		div#40 [40]
		div#41 [41]
		div#42 [42]
		div#43 [43]
		div#44 [44]
		div#45 [45]
		div#46 [46]
		div#47 [47]
		div#48 [48]
		div#49 [49]
		div#40 [40]
		div#41 [41]
		div#42 [42]
		div#43 [43]
		div#44 [44]
		div#45 [45]
		div#46 [46]
		div#47 [47]
		div#48 [48]
		div#49 [49]
		div#50 [50]
		div#51 [51]
