extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h1 Ссылки по теме Android
	div.row: div.large-12.columns
		ol
			li
				a(href="http://developer.alexanderklimov.ru/android/") Разработка под Android 
				| от Александра Климова
			li
				a(href="https://hexlet.org/course/android/") Курс 
				| на Xexlet.</li>
					
			li Оригинальные идеи в играх
				ol
					li: a(href="https://play.google.com/store/apps/details?id=com.noodlecake.huebrixfree") HueBrix
					li: a(href="https://play.google.com/store/apps/details?id=com.bigduckgames.flowbridges") Flow Bridges
					li: a(href="https://play.google.com/store/apps/details?id=com.oxothuk.worldpuzzle") worldpuzzle					
    
