extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h1 Ссылки по теме Android
	div.row: div.large-12.columns
		ol
			li
				a(href="http://developer.alexanderklimov.ru/android/") Разработка под Android 
				| от Александра Климова
			li
				a(href="https://hexlet.org/course/android/") Курс 
				| на Xexlet.</li>
			li Эмуляторы Android под windows
				ol
					li: a(href="http://www.bluestacks.com") BlueStacks
					li: a(href="") AndY
					li: a(href="") GenyMotion
					li: a(href="") YouWave								
			li Оригинальные идеи в играх
				ol
					li: a(href="https://play.google.com/store/apps/details?id=com.noodlecake.huebrixfree") HueBrix
					li: a(href="https://play.google.com/store/apps/details?id=com.bigduckgames.flowbridges") Flow Bridges
					li: a(href="https://play.google.com/store/apps/details?id=com.oxothuk.worldpuzzle") worldpuzzle					
			li App Inventor MIT.edu
				ol
					li: a(href="http://appinvent.ru") appinvent.ru
					li: a(href="http://ai2.appinventor.mit.edu/") Основной веб-интерфейс 2.0
					li: a(href="http://www.appinventor.org/") appinventor.org - обучение [ENG]	  
					li: a(href="https://www.youtube.com/channel/UCWYZUfnS0aMVTiIfntEW1NA") Канал на youtube.com  		
