extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Диалог 1.1 
	div.row
		div.large-6.columns
			div — Buenos días, me llamo Ana. ¿Y tú?
			div — Me llamo Juan.
			div — Encantada.
		div.large-6.columns
			div — Добрый день, меня зовут Анна, а тебя?
			div — А меня Хуан.
			div — Очень приятно!
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_1.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 1.2
	div.row
		div.large-6.columns
			div — Buenas tardes, me llamo Rosa. ¿Y usted?
			div — Me llamo Jaime. ¿Cómo se apellida?
			div — Mis apellidos son García Balboa.
			div — Yo Rodríguez Toledano.
			div — Un placer.
		div.large-6.columns
			div — Добрый день, меня зовут Роза. А вас?
			div — Меня зовут Хайме. А как ваша фамилия?
			div — Гарсиа Бальбоа.
			div — А моя — Родригес Толедано.
			div — Очень приятно.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_2.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 1.3
	div.row
		div.large-6.columns
			div — Me llamo Luís. ¿Ella como se llama?
			div — Ella se llama Ludmila y es de Rusia.
			div — Y ¿de qué ciudad es?
			div — Es de San Petersburgo

		div.large-6.columns
			div — Меня зовут Луис. А эту девушку как зовут?
			div — Ее зовут Людмила, она из России.
			div — Из какого города?
			div — Из Санкт-Петербурга.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_3.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 1.4
	div.row
		div.large-6.columns
			div — Me llamo María. ¿Usted?
			div — Manuela. ¿Podemos tutearnos?
			div — Sí, por supuesto.
			div — Soy Alejandro y soy español, de Valencia. ¿Tú de dónde eres?
			div — Soy rusa, de Moscú.

		div.large-6.columns
			div — Меня зовут Мария. А вас?
			div — Мануэла. Мы можем быть «на ты»?
			div — Да, конечно.
			div — Меня зовут Алехандро, я испанец, из Валенсии. А ты откуда?
			div — Я русская, из Москвы.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_4.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.5
	div.row
		div.large-6.columns
			div — Le presento a Marina Álvarez, una amiga mía cubana.
			div — Encantado. Me llamo Ismael Sánchez. ¿Podría repetirme su nombre?
			div — Sí, Marina Álvarez.
		div.large-6.columns
			div — Познакомьтесь, это моя кубинская подруга Мария Альварес.
			div — Очень приятно. Меня зовут Исмаэль Санчес. Повторите, пожалуйста, как вас зовут.
			div — Мария Альварес.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_5.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.6
	div.row
		div.large-6.columns
			div — ¿Cómo se llama?
			div — Me llamo Ángel.
			div — Un placer conocerle.
			div — El placer es mío.

		div.large-6.columns
			div — Как вас зовут?
			div — Меня зовут Анхель.
			div — Очень приятно с вами познакомиться.
			div — Мне тоже!
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_6.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.7
	div.row
		div.large-6.columns
			div — Perdona pero se me ha olvidado tu nombre…
			div — Alejandro.
			div — Lo siento, tengo mala memoria para los nombres…
			div — Tranquila.

		div.large-6.columns
			div — Прости, я забыла, как тебя зовут.
			div — Алехандро.
			div — Очень жаль, у меня плохая память на имена…
			div — Ничего страшного.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_7.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 1.8
	div.row
		div.large-6.columns
			div — ¿Es rusa?
			div — Sí, es de Yakutsk.
			div — ¿Tú de dónde eres?
			div — Soy de Santiago de Compostela.
			div — ¿Qué haces aquí?
			div — Estoy haciendo un curso de ruso en la universidad de Moscú.
			div — ¡Qué interesante! ¿Por qué estudias ruso?
			div — Tengo una novia rusa y el año que viene a voy a vivir con ella en Moscú.

		div.large-6.columns
			div — Она русская?
			div — Да, из Якутска.
			div — А ты откуда?
			div — Из Сантьяго-де-Компостела.
			div — А что ты тут делаешь?
			div — Изучаю русский язык в Московском университете.
			div — Как интересно! А почему ты изучаешь русский?
			div — Моя девушка русская, и в следующем году я буду жить с ней в Москве.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_8.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 1.9
	div.row
		div.large-6.columns
			div — ¿Es usted Eduardo?
			div — No, soy Antonio.
			div — Discúlpeme pues.
			div — ¿Nos conocemos?
			div — No. Es la primera vez que vengo a este bar.
			div — Yo vengo a menudo con mis amigos rusos aquí.

		div.large-6.columns
			div — Вы Эдуардо?
			div — Нет, я Антонио.
			div — О, извините.
			div — Мы знакомы?
			div — Нет. Я впервые в этом баре.
			div — А я часто прихожу сюда с моими русскими друзьями.

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_9.mp3" type="audio/mpeg">
		</audio>

	div.row: div.large-12.columns
		h3 Диалог 1.10
	div.row
		div.large-6.columns
			div — ¿El señor Negredo?
			div — No, me llamo Ricardo Fonseca.
			div — ¿Cómo? ¿Podría repetírmelo?
			div — Fonseca.
			div — ¿Podría deletreármelo, por favor?
			div — Fonseca.
			div — Gracias.

		div.large-6.columns
			div — Сеньор Негредо?
			div — Нет, Рикардо Фонсека.
			div — Как? Повторите, пожалуйста!
			div — Фонсека.
			div — Пожалуйста, скажите, как это пишется.
			div — Ф-о-н-с-е-к-а.
			div — Спасибо!
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_10.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.11
	div.row
		div.large-6.columns
			div — ¿Puedes presentarme a esta chica?
			div — Por supuesto. Marina, te presento a mi amigo Enrique.
			div — Un placer.
			div — Igualmente.
		div.large-6.columns
			div — Познакомь меня с этой девушкой.
			div — Конечно. Марина, это мой друг Энрике.
			div — Очень приятно.
			div — Мне тоже.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_11.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.12
	div.row
		div.large-6.columns
			div — ¿Por qué te gusta tanto España?
			div — He estado varias veces en la Costa Brava y decidí aprender español para poder viajar sin problemas por la zona.
			div — ¿Es difícil el español?
			div — No mucho. Creo que el ruso es más difícil.

		div.large-6.columns
			div — Почему тебе так нравится Испания?
			div — Я много раз бывал на Коста Брава и решил выучить испанский, чтобы без проблем путешествовать.
			div — Испанский язык сложный?
			div — Не очень. Думаю, что русский сложнее.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_12.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.13
	div.row
		div.large-6.columns
			div — ¿Necesitas un intérprete?
			div — No. Hablo perfectamente español. Quizá mi amiga María necesita que hables más despacio porque no habla muy bien español.
			div — Sí, por favor, habla un poco más despacio y vocalizando bien.

		div.large-6.columns
			div — Тебе нужен переводчик?
			div — Нет. Я прекрасно говорю по-испански. Пожалуйста, говори помедленнее для Марии, моей подруги, — она не очень хорошо владеет испанским.
			div — Да, пожалуйста, говори помедленнее и четко произноси гласные.
		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog1_13.mp3" type="audio/mpeg">
		</audio>