extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Диалог 2.1 
	div.row
		div.large-6.columns

		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_1.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 2.2
	div.row
		div.large-6.columns

		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_2.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 2.3
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_3.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 2.4
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_4.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 2.5
	div.row
		div.large-6.columns

		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_5.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 2.6
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_6.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 1.7
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_7.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 2.8
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_8.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 2.9
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="audio/dialog2_9.mp3" type="audio/mpeg">
		</audio>
