extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Глаголы - 2
		table(class="table-test")
			tbody
				tr 
					td контролировать 
					td controlar (vt) 
					td [kontro'lʲar]
				tr 
					td красть 
					td robar (vt) 
					td [ro'βar]
				tr 
					td кричать 
					td gritar (vi) 
					td [ɡri'tar]
				tr 
					td купаться (в море и т.п.) 
					td bañarse (vr) 
					td [ba'njarse]
				tr 
					td лететь 
					td volar (vi) 
					td [bo'lʲar]
				tr 
					td ловить 
					td coger (vt) 
					td [ko'χer]
				tr 
					td ломать 
					td quebrar (vt) 
					td [ke'βrar]
				tr 
					td любить (кого-л.) 
					td querer, amar (vt) 
					td [ke'rer], [a'mar]
				tr 
					td молиться 
					td orar (vi) 
					td [o'rar]
				tr 
					td молчать 
					td callarse (vr) 
					td [ka'jarse]
				tr 
					td мочь 
					td poder (v aux) 
					td [po'ðer]
				tr 
					td наблюдать 
					td observar (vt) 
					td [oβser'βar]
				tr 
					td надеяться 
					td esperar (vi) 
					td [espe'rar]
				tr 
					td наказывать 
					td punir, castigar (vt) 
					td [pu'nir], [kasti'ɣar]
				tr 
					td настаивать (упорствовать) 
					td insistir (vi) 
					td [insis'tir]
				tr 
					td находить 
					td encontrar (vt) 
					td [eŋkon'trar]
				tr 
					td начинать 
					td comenzar (vi, vt) 
					td [komen'θar]
				tr 
					td недооценивать 
					td subestimar (vt) 
					td [suβesti'mar]
				tr 
					td нравиться 
					td gustar (vi) 
					td [ɡus'tar]
				tr 
					td обедать 
					td almorzar (vi) 
					td [alʲmor'θar]
				tr 
					td обещать 
					td prometer (vt) 
					td [prome'ter]
				tr 
					td обманывать 
					td engañar (vi, vt) 
					td [enɡa'njar]
				tr 
					td обсуждать 
					td discutir (vt) 
					td [disku'tir]
				tr 
					td объединять 
					td unir (vt) 
					td [u'nir]
				tr 
					td объяснять 
					td explicar (vt) 
					td [ekspli'kar]
				tr 
					td означать 
					td significar (vt) 
					td [siɣnifi'kar]
				tr 
					td освобождать (город) 
					td liberar (vt) 
					td [liβe'rar]
				tr 
					td оскорблять 
					td insultar (vt) 
					td [insulʲ'tar]
				tr 
					td останавливаться 
					td pararse (vr) 
					td [pa'rarse]
				tr 
					td отвечать 
					td responder (vi, vt) 
					td [respon'der]
				tr 
					td отгадать 
					td adivinar (vt) 
					td [aðiβi'nar]
				tr 
					td отказываться 
					td negarse (vr) 
					td [ne'ɣarse]
				tr 
					td открывать (дверь и т.п.)
					td  abrir (vt) 
					td [a'βrir]
				tr 
					td отправлять 
					td enviar (vt) 
					td [em'bjar]
				tr 
					td охотиться 
					td cazar (vi, vt) 
					td [ka'θar]
				tr 
					td ошибаться 
					td equivocarse (vr) 
					td [ekiβo'karse]