extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Глаголы - 4
		table(class="table-test")
			tbody
				tr 
					td садиться 
					td sentarse (vr) 
					td [sen'tarse]
				tr 
					td сказать 
					td decir (vt) 
					td [de'θir]
				tr 
					td следовать за … 
					td seguir … 
					td [se'ɣir]
				tr 
					td слышать 
					td oír (vt) 
					td [o'ir]
				tr 
					td смеяться 
					td reírse (vr) 
					td [re'irse]
				tr 
					td снимать (напр. квартиру) 
					td alquilar (vt) 
					td [alʲki'lʲar]
				tr 
					td советовать 
					td aconsejar (vt) 
					td [akonse'χar]
				tr 
					td соглашаться 
					td estar de acuerdo 
					td [es'tar de aku'erðo]
				tr 
					td сожалеть 
					td arrepentirse (vr) 
					td [arepen'tirse]
				tr 
					td создать 
					td crear (vt) 
					td [kre'ar]
				tr 
					td сомневаться 
					td dudar (vt) 
					td [du'ðar]
				tr 
					td сохранять 
					td guardar (vt) 
					td [ɡuar'ðar]
				tr 
					td спасать 
					td salvar (vt) 
					td [salʲ'βar]
				tr 
					td спрашивать 
					td preguntar (vt) 
					td [preɣun'tar]
				tr 
					td спускаться 
					td descender (vi) 
					td [deθen'der]
				tr 
					td сравнивать 
					td comparar (vt) 
					td [kompa'rar]
				tr 
					td стоить 
					td costar (vt) 
					td [kos'tar]
				tr 
					td стрелять 
					td disparar, tirar (vi) 
					td [dispa'rar], [ti'rar]
				tr 
					td существовать 
					td existir (vi) 
					td [eksis'tir]
				tr 
					td считать (подсчитывать) 
					td contar (vt) 
					td [kon'tar]
				tr 
					td торопиться 
					td tener prisa 
					td [te'ner 'prisa]
				tr 
					td требовать 
					td exigir (vt) 
					td [eksi'χir]
				tr 
					td требоваться 
					td ser necesario 
					td [ser neθe'sarjo]
				tr 
					td трогать 
					td tocar (vt) 
					td [to'kar]
				tr 
					td убивать 
					td matar (vt) 
					td [ma'tar]
				tr 
					td угрожать 
					td amenazar (vt) 
					td [amena'θar]
				tr 
					td удивляться 
					td sorprenderse (vr) 
					td [sorpren'derse]
				tr 
					td ужинать 
					td cenar (vi) 
					td [θe'nar]
				tr 
					td украшать 
					td decorar (vt) 
					td [deko'rar]
				tr 
					td улыбаться 
					td sonreír (vi) 
					td [sonre'ir]
				tr 
					td упоминать 
					td mencionar (vt) 
					td [menθjo'nar]
				tr 
					td участвовать 
					td participar (vi) 
					td [partiθi'par]
				tr 
					td хвастаться 
					td jactarse, alabarse (vr) 
					td [χas'tarse], [alʲa'βarse]
				tr 
					td хотеть 
					td querer (vt) 
					td [ke'rer]
				tr 
					td хотеть есть 
					td tener hambre 
					td [te'ner 'ambre]
				tr 
					td хотеть пить 
					td tener sed 
					td [te'ner 'seð]
				tr 
					td читать 
					td leer (vi, vt) 
					td  [le'er]
				tr 
					td шутить 
					td bromear (vi) 
					td [brome'ar]