extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Образование. Школа. Иститут
		table(class="table-test")
			tbody
				tr 
					td школа 
					td la escuela
					td [esku'elʲa]
				tr 
					td директор школы 
					td director (m) de escuela 
					td [direk'tor de esku'elʲa]
				tr 
					td ученик 
					td el alumno
					td [a'lʲumno]
				tr 
					td ученица 
					td la alumna
					td [a'lʲumna]
				tr 
					td школьник 
					td el escolar
					td [esko'lʲar]
				tr 
					td школьница 
					td la escolar
					td [esko'lʲar]
				tr 
					td алфавит 
					td el alfabeto 
					td [alʲfa'βeto]
				tr 
					td предмет (дисциплина) 
					td la materia
					td [ma'terja]
				tr 
					td класс 
					td la clase, la aula
					td ['klʲase],  [aulʲa]
				tr 
					td урок 
					td el lección
					td [lek'θjon]
				tr 
					td перемена 
					td el recreo 
					td [re'kreo]
				tr 
					td звонок 
					td la campana
					td [kam'pana]
				tr 
					td парта 
					td el pupitre
					td [pu'pitre]
				tr 
					td доска (школьная) 
					td la pizarra
					td [pi'θara]
				tr 
					td отметка 
					td la nota
					td ['nota]
				tr 
					td хорошая отметка 
					td buena nota 
					td [bu'ena 'nota]
				tr 
					td плохая отметка 
					td mala nota
					td ['malʲa 'nota]
				tr 
					td ошибка 
					td la falta
					td ['falʲta]
				tr 
					td шпаргалка 
					td la chuleta
					td [ʧu'leta]
				tr 
					td домашнее задание 
					td deberes (m pl) de casa 
					td [de'βeres de 'kasa]
				tr 
					td упражнение 
					td el ejercicio
					td [eχer'θiθjo]
				tr 
					td наказание 
					td el castigo
					td [kas'tiɣo]
				tr 
					td поведение 
					td la conducta 
					td [kon'dukta]
				tr 
					td дневник 
					td la libreta de notas 
					td [li'βreta de 'notas]
				tr 
					td карандаш 
					td <b>la</b> lápiz
					td ['lʲapiθ]
				tr 
					td ластик 
					td goma (f) de borrar 
					td ['ɡoma de bo'rar]
				tr 
					td мел 
					td la tiza 
					td ['tiθa]
				tr 
					td пенал 
					td la cartuchera
					td [kartu'ʧera]
				tr 
					td портфель 
					td la mochila
					td [mo'ʧilʲa]
				tr 
					td ручка 
					td el bolígrafo
					td [bo'liɣrafo]
				tr 
					td тетрадь 
					td el cuaderno
					td [kua'ðerno]
				tr 
					td учебник 
					td el manual
					td [manu'alʲ]
				tr 
					td циркуль 
					td el compás
					td [kom'pas]
				tr 
					td чертёж 
					td dibujo (m) técnico 
					td [di'βuχo 'tekniko]
				tr 
					td стихотворение 
					td la poema, la poesía
					td [po'ema], [poe'sia]
				tr 
					td каникулы 
					td las vacaciones (f pl) 
					td [baka'θjones]

				tr 
					td контрольная работа 
					td prueba (f) escrita 
					td [pru'eβa es'krita]
				tr 
					td сочинение 
					td la composición
					td [komposi'θjon]
				tr 
					td диктант 
					td el dictado
					td [dik'taðo]
				tr 
					td экзамен 
					td el examen
					td [e'ksamen]
				tr 
					td опыт (химический ~) 
					td el experimento
					td [eksperi'mento]
				tr
					td(colspan=3): center Глаголы и словосочетания
				tr 
					td учить (об учителе) 
					td enseñar (vt) 
					td [ense'njar]
				tr 
					td учить (что-л.) 
					td aprender (vt) 
					td [apren'der]
				tr 
					td учить наизусть 
					td aprender de memoria 
					td [apren'der de me'morja]
				tr 
					td учиться (чему-л.) 
					td aprender (vt) 
					td [apren'der]
				tr 
					td учиться (ходить в школу) 
					td estar en la escuela 
					td [es'tar en lʲa esku'elʲa]
				tr 
					td идти в школу 
					td ir a la escuela 
					td [ir a lʲa esku'elʲa]
				tr 
					td ставить отметку 
					td poner una nota 
					td [po'ner 'una 'nota]
				tr 
					td делать ошибки 
					td hacer faltas 
					td [a'θer 'falʲtas]
				tr 
					td исправлять (ошибку) 
					td corregir (vt) 
					td [kore'χir]
				tr 
					td присутствовать 
					td estar presente 
					td [es'tar pre'sente]
				tr 
					td отсутствовать 
					td estar ausente 
					td [es'tar au'sente]
				tr 
					td пропускать уроки 
					td faltar a las clases 
					td [falʲ'tar a lʲas 'klʲases]
				tr 
					td наказывать 
					td castigar (vt) 
					td [kasti'ɣar]
				tr 
					td чертить 
					td trazar (vi, vt) 
					td [tra'θar]
				tr 
					td наизусть 
					td de memoria (adv) 
					td [de me'morja]
				tr 
					td учить наизусть 
					td aprender de memoria 
					td [apren'der de me'morja]
				tr 
					td быть на каникулах 
					td estar de vacaciones 
					td [es'tar de baka'θjones]
				tr 
					td провести каникулы 
					td pasar las vacaciones 
					td [pa'sar lʲas baka'θjones]
				tr 
					td сдавать экзамены 
					td hacer un examen 
					td [a'θer un e'ksamen]