extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Глаголы - 3
		table(class="table-test")
			tbody
				tr 
					td падать 
					td caer (vi) 
					td [ka'er]
				tr 
					td переводить (текст) 
					td traducir (vt) 
					td [traðu'θir]
				tr 
					td писать 
					td escribir (vt) 
					td [eskri'βir]
				tr 
					td плавать 
					td nadar (vi) 
					td [na'ðar]
				tr 
					td плакать 
					td llorar (vi) 
					td [jo'rar]
				tr 
					td планировать 
					td planear (vt) 
					td [plʲane'ar]
				tr 
					td платить 
					td pagar (vi, vt) 
					td [pa'ɣar]
				tr 
					td поворачивать 
					td girar (vi) 
					td [χi'rar]
				tr 
					td повторять 
					td repetir (vt) 
					td [repe'tir]
				tr 
					td подписывать 
					td firmar (vt) 
					td [fir'mar]
				tr 
					td подсказать (отгадку) 
					td dar una pista 
					td [dar 'una 'pista]
				tr 
					td показывать 
					td mostrar (vt) 
					td [mos'trar]
				tr 
					td помогать 
					td ayudar (vt) 
					td [aju'ðar]
				tr 
					td понимать 
					td comprender (vt) 
					td [kompren'der]
				tr 
					td предвидеть (ожидать) 
					td prever (vt) 
					td [pre'βer]
				tr 
					td предлагать 
					td proponer (vt) 
					td [propo'ner]
				tr 
					td предпочитать 
					td preferir (vt) 
					td [prefe'rir]
				tr 
					td предупреждать 
					td advertir (vt) 
					td [aðβer'tir]
				tr 
					td прекращать 
					td cesar (vt) 
					td [θe'sar]
				tr 
					td приглашать 
					td invitar (vt) 
					td [imbi'tar]
				tr 
					td приезжать 
					td llegar (vi) 
					td [je'ɣar]
				tr 
					td приказывать 
					td ordenar (vt) 
					td [orðe'nar]
				tr 
					td принадлежать 
					td pertenecer a … 
					td [pertene'θer a]
				tr 
					td пробовать (пытаться) 
					td probar, tentar (vt) 
					td [pro'βar], [ten'tar]
				tr 
					td продавать 
					td vender (vt) 
					td [ben'der]
				tr 
					td продолжать 
					td continuar (vt) 
					td [kontinu'ar]
				tr 
					td произносить (слово) 
					td pronunciar (vt) 
					td [pronun'θjar]
				tr 
					td пропускать (занятия и т.п.) 
					td faltar a … 
					td [falʲ'tar a]
				tr 
					td просить 
					td pedir (vt) 
					td [pe'ðir]
				tr 
					td прощать 
					td perdonar (vt) 
					td [perðo'nar]
				tr 
					td прятать 
					td esconder (vt) 
					td [eskon'der]
				tr 
					td путать (ошибаться) 
					td confundir (vt) 
					td [koɱfun'dir]
				tr 
					td работать 
					td trabajar (vi) 
					td [traβa'χar]
				tr 
					td разрешать 
					td permitir (vt) 
					td [permi'tir]
				tr 
					td рассчитывать на … 
					td contar con … 
					td [kon'tar kon]
				tr 
					td резервировать 
					td reservar (vt) 
					td [reser'βar]
				tr 
					td рекомендовать 
					td recomendar (vt) 
					td [rekomen'dar]
				tr 
					td ронять 
					td dejar caer 
					td [de'χar ka'er]
				tr 
					td ругать 
					td regañar, reprender (vt) 
					td [reɣa'njar], [repren'der]
				tr 
					td руководить (чем-л.) 
					td dirigir (vt) 
					td [diri'χir]
				tr 
					td рыть 
					td cavar (vt) 
					td [ka'βar]