extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Море. Океан.
		table(class="table-test")
			tbody
				tr 
					td море 
					td el/la mar 
					td [mar]
				tr
					td океан 
					td el océano 
					td [o'θeano]
				tr
					td залив 
					td el golfo 
					td ['ɡolʲfo]
				tr 
					td пролив 
					td el estrecho 
					td [es'treʧo]
				tr
					td материк 
					td el continente 
					td [konti'nente]
				tr
					td остров 
					td la isla 
					td ['islʲa]
				tr
					td полуостров 
					td la península 
					td [pe'ninsulʲa]
				tr
					td архипелаг 
					td el archipiélago 
					td [arʧipi'elʲaɣo]
				tr
					td бухта 
					td la bahía
					td [ba'ia]
				tr
					td гавань 
					td el puerto 
					td [pu'erto]
				tr
					td лагуна 
					td la laguna
					td [lʲa'ɣuna]
				tr
					td мыс 
					td el cabo 
					td ['kaβo]
				tr
					td атолл 
					td el atolón 
					td [ato'lon]
				tr
					td риф 
					td el arrecife
					td [are'θife]
				tr
					td коралл 
					td el coral
					td [ko'ralʲ]
				tr
					td глубина 
					td la profundidad 
					td [profundi'ðað]
				tr
					td бездна 
					td el abismo
					td [a'βismo]
				tr
					td течение 
					td la corriente 
					td [ko'rjente]
				tr
					td побережье 
					td la orilla
					td [o'rija]
				tr
					td берег (моря) 
					td la costa
					td ['kosta]
				tr
					td прилив 
					td el flujo
					td ['flʲuχo]
				tr
					td отлив 
					td el reflujo
					td [re'flʲuχo]
				tr
					td дно 
					td el fondo
					td ['fondo]
				tr
					td волна 
					td la ola
					td ['olʲa]
				tr
					td пена 
					td la espuma
					td [es'puma]
				tr
					td буря, шторм 
					td la tempestad 
					td [tempes'tað]
				tr
					td ураган 
					td el huracán
					td [ura'kan]
				tr
					td цунами 
					td el tsunami
					td [tsu'nami]
				tr
					td штиль 
					td la bonanza
					td [bo'nanθa]
				tr
					td полюс 
					td el polo
					td ['polo]
				tr
					td широта 
					td la latitud
					td [lʲati'tuð]
				tr
					td долгота 
					td la longitud
					td [lonχi'tuð]
				tr
					td параллель 
					td el paralelo
					td [para'lelo]
				tr
					td экватор 
					td el ecuador 
					td [ekua'ðor]
				tr
					td небо 
					td el cielo 
					td ['θjelo]
				tr
					td горизонт 
					td el horizonte 
					td [ori'θonte]
				tr
					td воздух 
					td el aire
					td ['ajre]
				tr
					td маяк 
					td el faro
					td ['faro]
				tr
					td нырять 
					td bucear (vi) 
					td [buθe'ar]
				tr
					td затонуть (о корабле) 
					td hundirse (vr) 
					td [un'dirse]
				tr
					td сокровища 
					td tesoros (m pl) 
					td [te'soros]
				tr
					td полярный 
					td polar (adj) 
					td [po'lʲar]
				tr
					td спокойный 
					td calmo, tranquilo (adj) 
					td ['kalʲmo], [traŋ'kilo]
				tr
					td гребень волны 
					td cresta (f) de la ola 
					td ['kresta de lʲa 'olʲa]
				tr
					td отмель 
					td banco (m) de arena 
					td ['baŋko de a'rena]
				tr
					td коралловый риф 
					td arrecife (m) de coral 
					td [are'θife de ko'ralʲ]
				tr
					td впадина 
					td fosa (f) oceánica 
					td ['fosa oθe'anika]
				tr
					td земля, суша 
					td tierra (f) firme
					td ['tjera 'firme]
				tr
					td глубокий 
					td profundo (adj) 
					td [pro'fundo]
				tr
					td омывать 
					td bañar (vt) 
					td [ba'njar]