extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Числительные | Los numerous
		table(class="table-simple")
		
			tbody
				tr
					td 0
					td Cero
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_0.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 1
					td 
						| Uno
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_1.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 2
					td 
						| Dos
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_2.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 3
					td 
						| Tres
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_3.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 4
					td 
						| Cuatro
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_4.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 5
					td 
						| Cinco
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_5.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 6
					td 
						| Seis
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_6.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 7
					td 
						| Siete 
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_7.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 8
					td 
						| Ocho
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_8.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 9
					td 
						| Nueve
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_9.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 10
					td 
						| Diez
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_10.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 11
					td 
						| Once
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_11.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 12
					td 
						| Doce
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_12.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 13
					td 
						| Trece
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_13.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 14
					td 
						| Catorce
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_14.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 15
					td 
						| Quince
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_15.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 16
					td 
						| Dieciséis
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_16.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 17
					td 
						| Diecisiete 
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_17.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 18
					td 
						| Dieciocho
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_18.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 19
					td 
						| Diecinueve
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_19.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 20
					td 
						| Veinte
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_20.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 21
					td 
						| Veintiuno
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_21.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 22
					td 
						| Veintidós
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_22.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 23
					td 
						| Veintitrés
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_23.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 29
					td 
						| Veintinueve
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_29.mpga" type="audio/mpeg">
						</audio>
				tr
					td
						| 30
					td 
						| Treinta
					td
						<audio controls="" autoplay="" name="media">
						<source src="audio/es_30.mpga" type="audio/mpeg">
						</audio>
		p Числительное uno перед существительным мужского рода теряет окончание -o. Поэтому un перед существительным мужского рода может означать и «какой-то», и «один»: un amigo – один друг/какой-то друг.