extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Местоимения | Pronombres.
		div Словарик:
		ul
			li Pronombres — местоимения
			li Personales — личные
			li Posesivos — притяжательные
			li Demostrativos — указательные
			li Interrogativos — вопросительные
			li Relatives — относительные
			li Indefinidos — неопределенные
			li Negatives — отрицательные
			li Reflexives — возвратные
		div Разряды местоимений:
		ul
			li личные;
			li притяжательные:
				ul
					li местоимения-прилагательные;
					li местоимения-существительные;
			li указательные:
				ul
					li местоимения-прилагательные;
					li местоимения-существительные;
			li вопросительные:
				ul
					li местоимения-прилагательные;
					li местоимения-существительные;
			li неопределенные:
				ul
					li местоимения-прилагательные;
					li местоимения-существительные;			
			li относительные:
				ul
					li Que — который, (-ая, -ое)
					li Quien — quienes — кто, который (-ая, -ые)
					li Cual — cuales (el cual, la cual, lo cual, los cuales, las cuales) — тот, та, те (тот, который (что); та, которая (что); то, что; те, что
					li Cuyo — cuya — cuyos — cuyas — чей, чья, чьи; который (-ая, -ые)
					li Cuanto —- cuanta — cuantos — cuantas — столько, сколько
			li отрицательные:
				ul
					li nadie (никто)
					li nada (ничто)
					li ninguno, -a, -os, -as (никакой, -ая, -ое, -ие)
			li возвратные:
				ul
					li se
					li sí
