extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	style
		include my_table_style.css 
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Pronombres interrogativos. Вопросительные местоимения.

		h3 Дополнительные источники:
		ol
			li 
				a(href="https://tutesp.ru/6-4-voprositeljnye-mestoimeniya.html" target="_blank") Вопросительные местоимения.
				| tutesp.ru
