extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Произношение.
		p Буква <b>c</b> перед a, o, u, (например, в словах casa, conozco, Cuba) произносится как <b>к</b> в слове <u><b>к</b>орабль</u>.
		p Буква <b>c</b> перед e, i, (например, в словах cerca, cinco) произносится как межзубный звук, аналогов которому в русском языке нет. Аналог этому звуку есть в английском языке – это глухой межзубный звук, на письме обозначающийся сочетанием th.
		p Буква <b>z</b>, (например, в словах plaza, izquierda) произносится так же, как предыдущий звук.
		p ----
		p ЛАТИНОАМЕРИКАНСКОЕ ПРОИЗНОШЕНИЕ
		p <b>c</b>, перед e, i (как в словах cerca, cinco) произносится как обычный звук с, например, в слове sale.
		p <b>z</b> (в таких словах как plaza, izquierda) произносится таким же образом.
		p ----
		
		p Буква j – Javier, jamón, ajo – произносится как горловой звук [х]. В русском языке такого звука нет.
		p Буква g, перед e, i, в таких словах как Ángeles, general, Gibraltar, также произносится как горловой звук [х].
		p Буква g, перед a, o, u, в таких словах как gas, Diego, segundo, произносится как [г] в слове главный. Точно такое же произношение g перед r и n, например gracias, ignorante.
		p Буква g в сочетаниях gue и gui, в таких словах как Guernica, guisante, тоже произносится как [г] в слове главный; u при этом не произносится.
		
		p В южных регионах Испании и в странах Латинской Америки звук j произносится мягче, ближе к обычному звуку [х], как в слове «хор».
		p Пример:
		p Para Javier, un bocadillo de jamón y un agua mineral con gas. Para Angeles, un gazpacho, y de segundo, pollo con guisantes y judías verdes. ¿Y para ti, Juan?
		<audio controls="" autoplay="" name="media">
		<source src="audio/pronunciation03.mp3" type="audio/mpeg">
		</audio>
		p Буква q используется только в сочетаниях que и qui, они произносятся как [кe] и [ки].
		p Пример:
		p ¿A qué hora sale el avión para Quito?
		p Quiero un billete para el tren que sale a las quince treinta.
		p Queremos cambiar quinientos euros.
		<audio controls="" autoplay="" name="media">
		<source src="audio/pronunciation04.mp3" type="audio/mpeg">
		</audio>
		p В испанском языке нет принципиальной разницы в произношении b и v. Буква b (как, например, в слове barra) и буква v (например, в слове vino) произносятся одинаково, с сомкнутыми губами, почти как [б] в слове батон.
		p Но чаще эти буквы встречаются в других позициях, например, между гласными, как в словах uva, cebolla, и в таких случаях они произносятся менее артикулированно, со слегка разомкнутыми губами.
		p Пример:
		p Buenos días, ¿qué desea?
		p Quería un kilo y medio de albaricoques ..., un kilo de uvas ..., dos cebollas ..., un pimiento verde ..., una docena de huevos ..., una barra de pan blanco ..., y una botella de vino blanco también, por favor.
		<audio controls="" autoplay="" name="media">
		<source src="audio/pronunciation05.mp3" type="audio/mpeg">
		</audio>
		
		p Буква h, как в слове hace, не произносится.
		p Буквосочетание ch, как в слове ocho, произносится как [ч] в слове чай, но не так мягко, как в русском языке.
		
		p Пример:
		p Hace ocho años que Charo trabaja en Chile. Héctor trabaja desde las ocho de la mañana hasta las nueve de la noche.
		
		<audio controls="" autoplay="" name="media">
		<source src="audio/pronunciation06.mp3" type="audio/mpeg">
		</audio>