extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Ricky Martin - Adiós







			</div>
		div &nbsp;
		a(href="https://www.youtube.com/watch?v=JluQoTEg2gU") Оригинал 
		| на youtube
		

		div 
			a(href="https://www.letras.com/ricky-martin/adios/") letras.com 
			| текст на испанском
		
