extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script(type = "text/javascript")
		| var answers = ["un", "una", "una", "un", "una", "una", "un", "un", "una", "un"];
		include check_test.js

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		div Задание. Поставьте соотвествующую форму <b>неопределенного</b> артикля перед существительными:
		table(class="table-test")
			tbody
				tr 
					td: input(type="text" id = "question0" value="")
					td trabajo 
				tr 
					td: input(type="text" id = "question1" value="")
					td vida 
				tr 
					td: input(type="text" id = "question2" value="")
					td casa 
				tr 
					td: input(type="text" id = "question3" value="")
					td problema 
				tr 
					td: input(type="text" id = "question4" value="")
					td familia 
				tr 
					td: input(type="text" id = "question5" value="")
					td mujer. 
				tr 
					td: input(type="text" id = "question6" value="")
					td libro 
				tr 
					td: input(type="text" id = "question7" value="")
					td amor 
				tr 
					td: input(type="text" id = "question8" value="")
					td ciudad 
				tr 
					td: input(type="text" id = "question9" value="")
					td hombre 
				tr
					td: input(type = "button" class="button" onclick = "test()" value = "Проверить")
					td: input(type = "button" class="button" onclick = "myclear()" value = "Очистить")