extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script(type = "text/javascript")
		| var answers = [
		| /*01*/ "Doy", 
		| /*02*/ "va", 
		| /*03*/ "Da", 
		| /*04*/ "ponen", 
		| /*05*/ "Pongo", 
		| /*06*/ "hacen", 
		| /*07*/ "sabe", 
		| /*08*/ "huyen",
		| /*09*/ "Traduzco",
		| /*10*/ "",
		| /*11*/ "",
		| /*12*/ "",
		| /*13*/ "",
		| /*14*/ "",
		| /*15*/ "",
		| /*16*/ "",
		|];

		include check_test.js

block content

	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		div Задание. Дополните фразы подходящими глаголами из списка ниже в правильной форме:
		div ú é í ó á ñ ü ¿
		div Список: dar, dar, hacer, huir, ir, poner, poner, <s>saber</s>, saber, traducir
		div Пример. Guillermo no <u>sabe</u> nadar.
		ol
			li Soy profesor. <input id = "question0" value=""></input> clases de Filosofía.
			li Mi familia <input id = "question1" value=""></input> a Punta del Este todos los veranos.
			li Julia es profesora. <input id = "question2" value=""></input> clases de Biología.
			li Las cigüeñas <input id = "question3" value=""></input> sus nidos en lugares altos.
			li (yo) <input id = "question4" value=""></input> la radio cuando me despierto.
			li Mis padres <input id = "question5" value=""></input> un viaje todos los años.
			li Marta no <input id = "question6" value=""></input> esquiar.
			li La mayoría de animales <input id = "question7" value=""></input> cuando hay peligro.
			li Soy traductor. <input id = "question8" value=""></input> libros del francés al español.
		div
			input( class="button" onclick = "test()" value = "Проверить")
			input( class="button" onclick = "myclear()" value = "Очистить")
