extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Время. Часы.
		p При обозначении времени суток используется глагол ser быть. Если имеются в виду «полдень», «полночь» или «час (дня/ ночи)», употребляется форма es; во всех остальных случаях – son. Непосредственно перед числительным, обозначающим время, используется также определенный артикль la (ед.ч.) или las (мн.ч.).
		p Es mediodía/medianoche/ (Сейчас) полдень / полночь /
		p Если Вы хотите быть точными, то добавляйте punto: 
			br 
			| a las once en punto - в одиннацать ровно;
			br 
			| la una en punto - ровно час.
		p «Без четверти» переводится на испанский как “menos cuarto“. «Четверть ... (например, восьмого)" переводится как «у cuarto”.
		p В испаском нельзя сказать «Половина третьего», вместо этого испанцы говорят «Два с половиной»( «у media»).
		p Son las tres menos cuarto. (Сейчас) без четверти три.
		p В некоторых странах Латинской Америки используются выражения es un cuarto para (las dos) сейчас без четверти (два), son diez para (las seis) сейчас без десяти (шесть) вместо соответствующих им стандартных обозначений son (las dos) menos cuarto, son(las seis) menos diez.

		ul 
			li 1.00/13.00 — Es la una.
			li 2.00/14.00 — Son las dos en punto.
			li 3.05/15.05 — Son las tres y cinco.
			li 4.15/16.15 — Son las cuatro y cuarto.
			li 5.30/17.30 — Son la cinco y media.
			li 6.40/18.40 — Son las siete menos veinte.
			li 7.45/19.45 — Son las ocho menos cuarto.
			li 8.55/20.55 — Son las nueve menos cinco.
			li 12.00 — Es el mediodía.
			li 24.00 — Es la medianoche.
			
		p «... утра» переводится как "de la mañana“
		p «... дня» переводится как “de la tarde”
		p «... вечера» обычно используется после половины девятого вечера и переводится как “de la noche”
		
		p Выражения por la mañana (утром), por la tarde (днем, вечером) и por la noche (ночью) употребляются, когда время не указывается:


		p Ramón trabaja por la mañana. Утром Рамон работает.
		p Leo en el jardín por la tarde. Днём я читаю в саду.
		p Por la noche todo está en silencio. Ночью всё безмолвно.
		a(href="https://www.ver-taal.com/ej_hora1.htm") Тест. 
