extends ../layouts/html_layout.jade

block title
	title= site_title + " Информация для курсов по R"

block content
	// div.row: div.large-12.columns: h2 Информация для курсов по R
	div.row: div.large-12.columns
		div.row
		h2 Информация для курсов по R
		ol
			li <a href="https://github.com/ranalytics/data-mining" title="Классификация, регрессия и другие алгоритмы Data Mining с использованием R"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> Книга на русском. Классификация, регрессия и другие алгоритмы Data Mining с использованием R.
			li <a href="https://mran.microsoft.com/" title="Портал microsoft посвященный языку R"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> MRAN - портал microsoft посвященный языку R.
			li <a href="http://rpubs.com/" title="Портал с публикациями на R"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> Портал с публикациями на R.
