extends ../layouts/html_layout.jade

block title
	title= site_title + " Обо мне"

block content
	// div.row: div.large-12.columns: h2 Обо мне
	div.row: div.large-12.columns
		div.row
		h3 Дополнительное образование, сертификации и навыки.
		h4 Stepik.org
		<table class="stack">
		<tbody>
		<tr>
		<th>Название Курса</span></th>
		<th>Сертификат</th>
		<th>Примечания</th>
		<th></th>
		</tr>
		<tr>
		<td><a href="https://stepik.org/course/%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B2-%D0%B4%D0%B8%D1%81%D0%BA%D1%80%D0%B5%D1%82%D0%BD%D1%83%D1%8E-%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D1%83-902" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Введение в дискретную математику</td>
		<td>пока нет</td>
		<td><a href="about_discrete_mathematics_info.html"><i class="fa fa-info-circle" aria-hidden="true"></i> </a> <span class='flag_ru'></span></td>
		<td></td>
		</tr>
	
		<tr>
		<td><a href="https://stepik.org/course/%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%B2-R-129" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Анализ данных в R</td>
		<td>пока нет</td>
		<td><a href="about_R_info.html"><i class="fa fa-info-circle" aria-hidden="true"></i> </a> <span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://stepik.org/course/%D0%9C%D0%BE%D0%BB%D0%B5%D0%BA%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D0%B0%D1%8F-%D0%B1%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F-%D0%B8-%D0%B3%D0%B5%D0%BD%D0%B5%D1%82%D0%B8%D0%BA%D0%B0-70" title="Ссылка на курс"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Молекулярная биология и генетика</td>
		<td><a href="https://stepik.org/certificate/61cc51b5ce63859717bf0efe595a9db563de917b.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-70-61cc51b.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a></td>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B2-%D0%BC%D0%BE%D0%BB%D0%B5%D0%BA%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D1%83%D1%8E-%D0%B1%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8E-%D0%B8-%D0%B1%D0%B8%D0%BE%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%83-549" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Введение в молекулярную биологию и биомедицину
		td
			<a href="https://stepik.org/certificate/61cc51b5ce63859717bf0efe595a9db563de917b.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-70-61cc51b.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%91%D0%B5%D0%B7%D0%BE%D0%BF%D0%B0%D1%81%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%B2-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82%D0%B5-191" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Безопасность в интернете
		td
			<a href="https://stepik.org/certificate/7952470412fd07de7476e0180648f6481d0293fa.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-191-7952470.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B2-%D0%B0%D1%80%D1%85%D0%B8%D1%82%D0%B5%D0%BA%D1%82%D1%83%D1%80%D1%83-%D0%AD%D0%92%D0%9C-%D0%AD%D0%BB%D0%B5%D0%BC%D0%B5%D0%BD%D1%82%D1%8B-%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D1%85-%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC-253" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Введение в архитектуру ЭВМ. Элементы операционных систем.
		td
			<a href="https://stepik.org/certificate/3ee42fcd4d598d85c47437bd9690fe700b7b48fa.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-253-3ee42fc.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7-%D0%B1%D0%B5%D0%B7%D0%BE%D0%BF%D0%B0%D1%81%D0%BD%D0%BE%D1%81%D1%82%D0%B8-%D0%B2%D0%B5%D0%B1-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%BE%D0%B2-127" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Анализ безопасности веб-проектов
		td
			<a href="https://stepik.org/certificate/fb8356e02a33418c31920ddf2c80a636d5d871b6.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-127-fb8356e.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B2-Linux-73" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Введение в Linux
		td
			<a href="https://stepik.org/certificate/c55ed8d70c1cdbdce8dd9a973f8cc1e591b15ca8.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-73-c55ed8d.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%9F%D0%BE%D0%BB%D0%B8%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5-%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81%D1%8B-%D0%B2-%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9-%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8-132" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Политические процессы в современной России
		td
			<a href="https://stepik.org/certificate/b8ddcd5701dde413e609c8594aa490a8d64f7e2c.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-132-b8ddcd5.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B-%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8-76" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Основы статистики
		td
			<a href="https://stepik.org/certificate/e7d2ae547b279814fcefbc1c605355a4e868df42.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-76-e7d2ae5.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/%D0%9A%D0%B0%D0%BA-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D0%B5%D1%82-%D1%80%D0%B5%D0%B0%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9-%D0%B4%D0%B2%D0%B8%D0%B3%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-458" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Как работает реактивный двигатель
		td
			<a href="https://stepik.org/certificate/1453f9a36a712ce7d219a7acc6ff1454cb81d61a.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-458-1453f9a.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td &nbsp;
		</tr>											
		</tbody>
		</table>
		h4 Coursera.org
		<table class="stack">
		<tbody>
		<tr>
		<th>Название Курса</span></th>
		<th>Сертификат</th>
		<th>Примечания</th>
		<th></th>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/latex" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Документы и презентации в LaTeX (Introduction to LaTeX)</td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=971730" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/сoursera-certificate-latex.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/einstein-relativity" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Understanding Einstein: The Special Theory of Relativity</td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970724" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-einstein.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/model-thinking" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Model Thinking</td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970475" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-modelthinking.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/combinatorial-game-theory" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Games without Chance: Combinatorial Game Theory </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970437" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-cgt.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td>&nbsp;&nbsp;Nutrition for Health Promotion and Disease Prevention </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=232" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-nutrition.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/interactive-python-1" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;An Introduction to Interactive Programming in Python </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970391" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-interactivepython.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/food-system" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;An Introduction to the U.S. Food System: Perspectives from Public Health </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=246" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-foodsys.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/data-scientists-tools" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;The Data Scientist’s Toolbox </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=972579" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-datascitoolbox.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/game-theory" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Теория игр (Game Theory) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=973794" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-gt.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td>&nbsp;&nbsp;Logic: Language and Information 1 </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=971676" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-logic1.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/finansovye-rynki" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Финансовые рынки и институты (Financial Markets and Institutions) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=971733" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-finmarkets.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/teoriya-smi" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;История и теория медиа (History and theory of media) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=973799" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-media.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/politika-sravnitelnaja" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Сравнительная политика (Comparative Politics) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=974083" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-compol.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/nsu-genetics" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Генетика (Genetics) </td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/nsu-virology" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Основы вирусологии (Introduction to Virology) </td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/ekonomicheskaya-sociologiya" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Экономическая социология </td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/gmo" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;ГМО: технологии создания и применение</td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>					
		</tbody>
		</table>		

		h4 ЛИТМО <small>(сейчас Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и оптики)</small>
		div
			<a href="https://club.ifmo.ru/viewperson/32738/semenov_andrey_semenov.htm" title="Страница выпускника"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> Клуб выпускников ЛИТМО - Семенов Андрей Вячеславович. Год выпуска 1997.

