extends ../layouts/html_layout.jade

block title
	title= site_title + " Информация для курсов по дискретной математике"

block content
	// div.row: div.large-12.columns: h2 Информация для курсов по дискретной математике
	div.row: div.large-12.columns
		div.row
		h2 Информация для курсов по дискретной математике
		ol
			li <a href="https://www.youtube.com/watch?v=qDFAVVn2bq4" title="Комбинаторика. Решение простых задач"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> Комбинаторика. Решение простых задач.
			li <a href="http://trushinbv.ru/shkolnikam/podgotovka-k-olimpiadam/matematika/79-kombinatorika" title="Комбинаторика. "> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> Теория и подборка олимпиадных задач по комбинаторике.
