extends ../layouts/html_layout.jade

block title
	title= site_title + " Обо мне"

mixin stepik_course_link(course, text)
	td
		a(href="https://stepik.org/course/" + course title="Ссылка на курс"): i.fa.fa-external-link 
		| &nbsp;&nbsp;#{text}	

mixin stepik_certificate_link(certificate, pdf)
	td
		a(href="https://stepik.org/cert/" + certificate title="Посмотреть оригинал на сайте Stepik.org"): i.fa.fa-external-link &nbsp;&nbsp;&nbsp;
		a(href="../certificate/stepik-certificate-" + pdf title="Посмотреть оригинал в формате pdf"): i.far.fa-file-pdf

block content
	// div.row: div.large-12.columns: h2 Обо мне
	div.row: div.large-12.columns
		h3 Дополнительное образование, сертификации и навыки.
		ol
			li
				a(href="#Stepik") Stepik
			li
				a(href="#Coursera") Coursera
			li
				a(href="#LITMO") ЛИТМО
		h4#Stepik Stepik.org
		a(href="https://stepik.org/users/125896"): i.fas.fa-user-graduate Мой профиль.
		<table class="stack">
		<tbody>
		tr
			th Название Курса
			th Сертификат
			th Примечания
			th Дата
		tr
			+stepik_course_link("4594", "Риторика")
			+stepik_certificate_link("127495", "4594-b878f66.pdf")
			td: span.flag_ru
			td 11.09.2018
		tr
			+stepik_course_link("497", "Основы программирования на R")
			+stepik_certificate_link("55458", "497-0b9ec47.pdf")
			td: span.flag_ru
			td 08.05.2017
		tr
			+stepik_course_link("902", "Введение в дискретную математику")
			td пока нет
			<td><a href="about_discrete_mathematics_info.html"><i class="fa fa-info-circle" aria-hidden="true"></i> </a> <span class='flag_ru'></span></td>
			<td></td>
		tr
			+stepik_course_link("129", "Анализ данных в R")
			<td>пока нет</td>
			<td><a href="about_R_info.html"><i class="fa fa-info-circle" aria-hidden="true"></i> </a> <span class='flag_ru'></span></td>
			<td></td>
		tr
			+stepik_course_link("70", "Молекулярная биология и генетика")
			+stepik_certificate_link("53488", "70-61cc51b.pdf")
			td: span.flag_ru
			td 18.04.2017
		tr
			+stepik_course_link("549", "Введение в молекулярную биологию и биомедицину")
			+stepik_certificate_link("53604", "549-6c5ea20.pdf")
			td: span.flag_ru
			td 20.04.2017
		tr
			+stepik_course_link("191", "Безопасность в интернете")
			+stepik_certificate_link("17742", "191-7952470.pdf")
			td: span.flag_ru
			td 22.01.2016
		tr
			+stepik_course_link("253", "Введение в архитектуру ЭВМ. Элементы операционных систем.")
			+stepik_certificate_link("16648", "253-3ee42fc.pdf")
			td: span.flag_ru
			td 30.12.2015
		<tr>
		td
			<a href="https://stepik.org/course/127" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Анализ безопасности веб-проектов
		td
			<a href="https://stepik.org/certificate/fb8356e02a33418c31920ddf2c80a636d5d871b6.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-127-fb8356e.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td 08.12.2016
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/73" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Введение в Linux
		td
			<a href="https://stepik.org/certificate/c55ed8d70c1cdbdce8dd9a973f8cc1e591b15ca8.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-73-c55ed8d.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td 06.10.2016
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/132" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Политические процессы в современной России
		td
			<a href="https://stepik.org/certificate/b8ddcd5701dde413e609c8594aa490a8d64f7e2c.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-132-b8ddcd5.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td 28.04.2017
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/76" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Основы статистики
		td
			<a href="https://stepik.org/certificate/e7d2ae547b279814fcefbc1c605355a4e868df42.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-76-e7d2ae5.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td 14.01.2016
		</tr>
		<tr>
		td
			<a href="https://stepik.org/course/458" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;Как работает реактивный двигатель
		td
			<a href="https://stepik.org/certificate/1453f9a36a712ce7d219a7acc6ff1454cb81d61a.pdf" title="Посмотреть оригинал на сайте Stepik.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/stepik-certificate-458-1453f9a.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		td <span class='flag_ru'></span>
		td 13.03.2017
		</tr>											
		</tbody>
		</table>
		h4#Coursera Coursera.org
		<table class="stack">
		<tbody>
		<tr>
		<th>Название Курса</span></th>
		<th>Сертификат</th>
		<th>Примечания</th>
		<th></th>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/latex" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Документы и презентации в LaTeX (Introduction to LaTeX)</td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=971730" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/сoursera-certificate-latex.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/einstein-relativity" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Understanding Einstein: The Special Theory of Relativity</td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970724" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-einstein.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/model-thinking" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Model Thinking</td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970475" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-modelthinking.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/combinatorial-game-theory" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Games without Chance: Combinatorial Game Theory </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970437" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-cgt.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td>&nbsp;&nbsp;Nutrition for Health Promotion and Disease Prevention </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=232" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-nutrition.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/interactive-python-1" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;An Introduction to Interactive Programming in Python </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970391" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-interactivepython.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/food-system" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;An Introduction to the U.S. Food System: Perspectives from Public Health </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=246" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-foodsys.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/data-scientists-tools" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;The Data Scientist’s Toolbox </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=972579" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-datascitoolbox.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/game-theory" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Теория игр (Game Theory) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=973794" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-gt.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td>&nbsp;&nbsp;Logic: Language and Information 1 </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=971676" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-logic1.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_en'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/finansovye-rynki" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Финансовые рынки и институты (Financial Markets and Institutions) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=971733" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-finmarkets.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/teoriya-smi" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;История и теория медиа (History and theory of media) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=973799" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-media.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/politika-sravnitelnaja" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Сравнительная политика (Comparative Politics) </td>
		td
			<a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=974083" title="Посмотреть оригинал на сайте coursera.org в формате pdf"> <i class="fa fa-external-link" aria-hidden="true"> </i></a>&nbsp;&nbsp;&nbsp;<a href="../certificate/coursera-certificate-compol.pdf" title="Посмотреть оригинал в формате pdf"> <i class="fa fa-file-pdf-o" aria-hidden="true"> </i></a>
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/nsu-genetics" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Генетика (Genetics) </td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/nsu-virology" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Основы вирусологии (Introduction to Virology) </td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/ekonomicheskaya-sociologiya" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;Экономическая социология </td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>
		<tr>
		<td><a href="https://www.coursera.org/learn/gmo" title="Ссылка на курс"><i class="fa fa-external-link" aria-hidden="true"> </i> </a>&nbsp;&nbsp;ГМО: технологии создания и применение</td>
		td нет
		<td><span class='flag_ru'></span></td>
		<td></td>
		</tr>					
		</tbody>
		</table>		

		h4#LITMO ЛИТМО <small>(сейчас Санкт-Петербургский национальный исследовательский университет информационных технологий, механики и оптики)</small>
		div
			<a href="https://club.ifmo.ru/viewperson/32738/semenov_andrey_semenov.htm" title="Страница выпускника"> <i class="fa fa-external-link" aria-hidden="true"> </i> </a> Клуб выпускников ЛИТМО - Семенов Андрей Вячеславович. Год выпуска 1997.

