- var site_title_name = "ABSOLEM.INFO";
- var site_title = "ABSOLEM.INFO |";
- var site_url = "http://absolem.info";
//- "http://andsemenoff.github.io";
//- var site_url = "http://localhost:8000";
doctype html
html(lang="ru")
	head
		block title
		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1.0")
		meta( name="description" content="Семенова Андрей Вячеславович. Личный сайт" )
		meta( name="author" content="Семенова Андрей Вячеславович" )
		meta( name="keywords" content="Absolem,HTML5,CSS3,Робототехника,Python")
		meta( name="copyright" content="Семенова Андрей Вячеславович" )
		link( rel="shortcut icon" href="../caterpillar.png" )
		link( rel="stylesheet" href="../css/normalize.css" media="all")
		//link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.css" media="all")
		link( rel="stylesheet" href="../css/foundation.css" type="text/css" media="all" )
		link( rel="stylesheet" href="../css/foundation.sites.min.css" type="text/css" media="all" )
		link( rel="stylesheet" href="../css/mainstyle.css" type="text/css" media="all" )
		//link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="all")
		link( rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" media="all")
		link( rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css")
		script(src="../js/jquery.3.2.1.min.js")
		script(src="../js/foundation.6.4.3.min.js")

		block scripts
	body
		div.top-bar
			div.top-bar-left 
				ul.menu
					li: strong: a(href="/"): i.fas.fa-home: = site_title_name
					li: a(href= site_url+"/sportprogramming/programming_index.html") <i class="fas fa-code"></i> Программирование
					li: a(href= site_url+"/trading/index.html") <i class="fas fa-chart-line"></i> Инвестирование
					li: a(href= site_url+"/bigdata/index.html") <i class="fas fa-database"></i> Анализ данных
					li: a(href= site_url+"/useful/useful_index.html") <i class="fas fa-user-ninja"></i> Полезное
		block navigation
		block content
		footer
			hr
			block footer_scripts
			div.grid-container.fluid.text-center
				div.grid-x.grid-margin-x.small-up-1.medium-up-3.large-up-3
					div.cell.small-4
						a(href="https://validator.w3.org/check?uri=referer")
							img(src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics")

					div.cell.small-4
						a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/")
							img(alt="Лицензия Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png")
						p <i class="far fa-copyright"></i> 2001 - 2022
						div: small Это произведение, автор которого — 
							a(href="../about/about_main.html") Андрей Семенов
						div: small Доступно на условиях 
							a(rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/") лицензии 
							| Creative Commons «Attribution-ShareAlike» («Атрибуция — На тех же условиях») 4.0 Всемирная.
					div.cell.small-4
						a(rel="license" href="http://freedomdefined.org")
							img(alt="freedomdefined" style="border-width:0" src="../images/seal.png")
			//div.row
				div.large-12.columns
					block footer_scripts
					div#logo5HTML
						a(href="https://validator.w3.org/check?uri=referer")
							img(src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics")
			block footer
			//script(src="https://code.jquery.com/jquery-2.1.4.min.js")
			//script(src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js")
			script $(document).foundation();
		// script(src="../js/jquary.js")
		// script(src="../js/foundation.min.js")
		// <script>
		// $(document).foundation();
		// </script>