extends ../layouts/html_layout.jade

block title
	title= site_title + " Аттестация"

block content
	div.row: div.large-12.columns: h2 Аттестация специалистов финансового рынка в РФ
	div.row: div.large-12.columns
		div.row
		h3 Базовый экзамен
		p.
		<table class="stack">
		<tbody>
		<tr>
		<th>№</span></th>
		<th>Название главы</th>
		<th>%</th>
		</tr>
		<tr>
		<td><a href="chapter_1.html">Глава 1</a></td>
		<td>Основные экономические категории. Финансовый рынок. Фундаментальные понятия рынка ценных бумаг</td>
		<td>6</td>
		</tr>
		<tr>
		<td><a href="chapter_2.html">Глава 2</a></td>
		<td>Понятие ценной бумаги. Виды ценных бумаг</td>
		<td>10</td>
		</tr>
		<tr>
		<td><a href="chapter_3.html">Глава 3</a></td>
		<td>Эмиссия и обращение ценных бумаг</td>
		<td>10</td>
		</tr>
		<tr>
		<td><a href="chapter_4.html">Глава 4</a></td>
		<td>Финансовая математика и статистика</td>
		<td>10</td>
		</tr>
		<tr>
		<td><a href="chapter_5.html">Глава 5</a></td>
		<td>Срочный рынок</td>
		<td>6</td>
		</tr>
		<tr>
		<td><a href="chapter_6.html">Глава 6</a></td>
		<td>Основы бухгалтерского учета и финансовой отчетности на финансовом рынке</td>
		<td>5</td>
		</tr>
		<tr>
		<td><a href="chapter_7.html">Глава 7</a></td>
		<td>Налогообложение на финансовом рынке</td>
		<td>5</td>
		</tr>
		<tr>
		<td><a href="chapter_8.html">Глава 8</a></td>
		<td>Гражданско-правовые основы ведения предпринимательской деятельности на рынке ценных бумаг</td>
		<td>6</td>
		</tr>
		<tr>
		<td><a href="chapter_9.html">Глава 9</a></td>
		<td>Корпоративное право</td>
		<td>8</td>
		</tr>
		<tr>
		<td><a href="chapter_10.html">Глава 10</a></td>
		<td>Профессиональные участники рынка ценных бумаг</td>
		<td>8</td>
		</tr>
		<tr>
		<td><a href="chapter_11.html">Глава 11</a></td>
		<td>Институты коллективного инвестирования</td>
		<td>6</td>
		</tr>
		<tr>
		<td><a href="chapter_12.html">Глава 12</a></td>
		<td>Государство на рынке ценных бумаг</td>
		<td>6</td>
		</tr>
		<tr>
		<td><a href="chapter_13.html">Глава 13</a></td>
		<td>Регулирование рынка ценных бумаг. Защита прав и законных интересов инвесторов на рынке ценных бумаг</td>
		<td>8</td>
		</tr>
		<tr>
		<td><a href="chapter_14.html">Глава 14</a></td>
		<td>Зарубежные рынки ценных бумаг</td>
		<td>6</td>
		</tr>
		<tr>
		<td></td>
		<td><strong>Итого</strong></td>
		<td><strong>100</strong></td>
		</tr>
		</tbody>
		</table>

		</td>
		</tr>

		</table>		