extends ../layouts/html_layout.jade

block title
	title= site_title + " Аттестация"

block content
	div.row: div.large-12.columns: h2 Экзамен серии 7.0
	div.row: div.large-12.columns
		div.row
		h3 Разделы
		p.
		<table class="stack">
		<tbody>
		<tr>
		<th>№</span></th>
		<th>Название главы</th>
		<th>Вопросов</th>
		<th>%</th>
		</tr>
		<tr>
		<td><a href="../7/chapter_1.html">Глава 1</a></td>
		<td>Основные положения, связанные с деятельностью негосударственного пенсионного фонда по негосударственному пенсионному обеспечению, обязательному пенсионному страхованию и профессиональному пенсионному страхованию</td>
		<td>28</td>
		<td>2</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_2.html">Глава 2</a></td>
		<td>Организационно-экономические и управленческие основы деятельности фонда</td>
		<td>26</td>				
		<td>5</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_3.html">Глава 3</a></td>
		<td>Условия осуществления деятельности фонда по негосударственному пенсионному обеспечению, обязательному пенсионному страхованию и профессиональному пенсионному страхованию</td>
		<td>36</td>		
		<td>10</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_4.html">Глава 4</a></td>
		<td>Основы деятельности фонда по негосударственному пенсионному обеспечению </td>
		<td>88</td>		
		<td>15</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_5.html">Глава 5</a></td>
		<td>Основы деятельности фонда в качестве страховщика по обязательному пенсионному страхованию</td>
		<td>96</td>		
		<td>15</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_6.html">Глава 6</a></td>
		<td>Размещение средств пенсионных резервов и инвестирование средств пенсионных накоплений</td>
		<td>51</td>		
		<td>5</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_7.html">Глава 7</a></td>
		<td>Распространение, предоставление и раскрытие информации о деятельности фонда </td>
		<td>28</td>		
		<td>5</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_8.html">Глава 8</a></td>
		<td>Бухгалтерский учет и отчетность фонда</td>
		<td>23</td>		
		<td>3</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_9.html">Глава 9</a></td>
		<td>Актуарное оценивание деятельности фонда</td>
		<td>22</td>		
		<td>4</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_10.html">Глава&nbsp;10</a></td>
		<td>Аудиторская проверка фонда </td>
		<td>25</td>		
		<td>3</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_11.html">Глава 11</a></td>
		<td>Налоговый режим деятельности фонда</td>
		<td>15</td>		
		<td>3</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_12.html">Глава 12</a></td>
		<td>Прекращение деятельности фонда</td>
		<td>22</td>		
		<td>5</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_13.html">Глава 13</a></td>
		<td>Организация и осуществление внутреннего контроля в фонде</td>
		<td>65</td>		
		<td>10</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_14.html">Глава 14</a></td>
		<td>Основы государственного регулирования деятельности в области негосударственного пенсионного обеспечения, обязательного пенсионного страхования и профессионального пенсионного страхования. Надзор и контроль за указанной деятельностью</td>
		<td>27</td>		
		<td>10</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_15.html">Глава 15</a></td>
		<td>Управление рисками</td>
		<td>23</td>		
		<td>3</td>
		</tr>
		<tr>
		<td><a href="../7/chapter_16.html">Глава 16</a></td>
		<td>Развитие международных пенсионных систем</td>
		<td>25</td>		
		<td>2</td>
		</tr>				
		<tr>
		<td></td>
		<td><strong>Итого</strong></td>
		<td><strong></strong></td>		
		<td><strong>100</strong></td>
		</tr>
		</tbody>
		</table>