extends ../layouts/html_layout.jade

block title
	title= site_title + " Аттестация"

block content
	h2.font-effect-shadow-multiple Аттестация специалистов финансового рынка в РФ
	article.grid-container
		h3 Виды экзаменов и аттестатов.
		p.
		<table class="stack">
		<tbody>
		<tr>
		<th>Название</span></th>
		<th>Вид деятельности, тип аттестата</th>
		<th>Вопросов</th>
		<th></th>
		</tr>
		<tr>
		<td><a href="attestation_main.html">Базовый</a></td>
		<td>Сдача базового экзамена является необходимым условием допуска к сдаче специализированного экзамена. По итогам сдачи данного экзамена аттестат не выдается.</td>
		<td>1520</td>
		<td></td>
		</tr>
		//
			<tr>
			<td><a href="attestation_1.html">Экзамен серии 1.0</a></td>
			<td>Выдается аттестат специалиста финансового рынка по брокерской, дилерской деятельности и деятельности по управлению ценными бумагами (квалификационный аттестат первого типа).</td>
			<td></td>				
			<td></td>
			</tr>
			<tr>
			<td><a href="attestation_2.html">Экзамен серии 2.0</a></td>
			<td>Выдается аттестат специалиста финансового рынка по организации торговли на рынке ценных бумаг (деятельности фондовой биржи) и клиринговой деятельности (квалификационный аттестат второго типа).</td>
			<td></td>		
			<td></td>
			</tr>
			<tr>
			<td><a href="attestation_3.html">Экзамен серии 3.0</a></td>
			<td>Выдается аттестат специалиста финансового рынка по ведению реестра владельцев ценных бумаг (квалификационный аттестат третьего типа).</td>
			<td></td>		
			<td></td>
			</tr>
			<tr>
			<td><a href="attestation_4.html">Экзамен серии 4.0</a></td>
			<td>Выдается аттестат специалиста финансового рынка по депозитарной деятельности (квалификационный аттестат четвертого типа).</td>
			<td></td>		
			<td></td>
			</tr>
			<tr>
			<td><a href="attestation_5.html">Экзамен серии 5.0</a></td>
			<td>Выдается аттестат специалиста финансового рынка по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами (квалификационный аттестат пятого типа).</td>
			<td></td>		
			<td></td>
			</tr>
			<tr>
			<td><a href="attestation_6.html">Экзамен серии 6.0</a></td>
			<td>Выдается аттестат специалиста финансового рынка по деятельности специализированных депозитариев инвестиционных фондов, паевых инвестиционных фондов и негосударственных пенсионных фондов (квалификационный аттестат шестого типа).</td>
			<td></td>		
			<td></td>
			</tr>
			<tr>
		<td><a href="attestation_7.html">Экзамен серии 7.0</a></td>
		<td>Выдается аттестат специалиста финансового рынка по деятельности негосударственного пенсионного фонда по негосударственному пенсионному обеспечению, обязательному пенсионному страхованию и профессиональному пенсионному страхованию (квалификационный аттестат седьмого типа).</td>
		<td></td>		
		<td></td>
		</tr>
		</tbody>
		</table>