extends ../layouts/code_layout.jade

block title
	title= site_title + " Формула Блэка-Шоулза."

block content
	h2.font-effect-shadow-multiple Формула Блэка-Шоулза.
		span.h4.subheader Обновлено: март 2025.
	article.grid-container
		|\begin{equation}
		| C(S,T) = SN(d_1) - K e^{-rT} N(d_2)) \\	
		|\\
		| d_1 = \frac{\ln(\frac{S}{K}) + (r + \frac {\sigma^2}{2})T}{\sigma\sqrt{T}} \\

		| d_2 = \frac{\ln(\frac{S}{K}) + (r - \frac {\sigma^2}{2})T}{\sigma\sqrt{T}} = d_1 - \sigma\sqrt{T} 
		|\end{equation}
		ul
			li \(C(S,T)\) - премия европейского опциона колл;
			li \(S\) - курс спот актива;
			li \(T\) - время до истечения контракта (как часть года) <small>(time to expiration)</small>;
			li \(K\) - цена исполнения опциона (цена страйк) <small>(strike price/exercise price)</small>;
			li \(r\) - непрерывно начисляемая ставка без риска <small>(risk-free interest rate)</small>;
			li \(\sigma \) - мгновенное стандартное отклонение актива волатильность (как часть года);
			li \(N(d_i)\) - функция нормального распределения.

		h2 Реализация на python
		div.large-2.columns.right
			a(href="../python_source/bsm_call_value.py") bsm_call_value.py
		div.large-12.columns
			pre.python: code
				include ../python_source/bsm_call_value.py

		p Теперь попробуем найти волатильность, зная все параметры в том числе и цену опциона на бирже.

		h3 Дельта (Delta) \( \Delta \)
		p 
		| \( \Delta = \frac{\partial C}{\partial S} \)
		| Дельта это скорость изменения цены опциона от изменения цены базового актива.
		|\begin{equation}
		|\text{Для опциона колл: } \Delta_{call} = N(d_1) \\ 
		|\text{Для опциона пут: }  \Delta_{put} = -N(-d_1) = N(d_1) - 1
		|\end{equation}

		div.text-justify Построим график зависимости дельты от цены базового актива. Для этого зафиксируем страйк(K), время
			| до окончания контракта(T), безрисковую ставку(r) и волотильность(\(\sigma\)). Будем менять только цену базового
			| актива. Полученный график представлен на рисунке 1.

		div.clearfix
		//div.large-6.columns
		//div.large-12.columns
		div.large-2.columns
			p &nbsp;
		div.large-6.columns
			div.card
				div.image
					img(src="../images/figure_delta.png" alt="График Дельты")

				div.content
					<p>Рис. 1</p>

				div.action
					a(href='../python_source/delta_spot_draw_image.py') Python код 
					| с помощью которого построен график

		div.clearfix

		div.text-justify Теперь построим график типичных зависимостей дельты от времени до конца контракта. Для этого зафиксируем три типичных страйка(K), 
			| в деньгах, на деньгах и вне денег. Также зафиксируем
			| безрисковую ставку(r) и волотильность(\(\sigma\)). Будем менять только время до окончания опционного контракта. 
			| Полученный график представлен на рисунке 2.

		h3 Гамма (Gamma) \( \gamma \)
		|\[ \gamma = \frac{\partial^2 C}{\partial S^2} =  \frac{N'(d1)}{S \sigma \sqrt{T}} \]
		p
		| скорость изменения цены опциона от изменения Дельты (или ускорение от изменения цены базового актива)
		h3 Вега (Vega) \(  \)
		|\[ Vega = \frac{\partial C}{\partial \sigma} = SN(d_1) \sqrt{T} \]
		p
		| — описывает зависимость цены опциона от изменения волатильности базового актива. 
		| Вега отражает число пунктов изменения стоимости опциона на каждый процентный пункт (1%) изменения волатильности.

		h3 Тета (Theta) \( \theta \)
		p описывает снижение цены опциона в зависимости от времени до экспирации
		|\[ \theta = \frac{\partial C}{\partial T} \]
		|\[ {для&nbsp;кола&nbsp;}\theta = - \frac{ CN(d_1) \sigma}{2\sqrt{T}} - rKe^{-rT}N(d_2) \]
		|\[ {для&nbsp;пута&nbsp;}\theta = - \frac{ CN(d_1) \sigma}{2\sqrt{T}} + rKe^{-rT}N(-d_2) \]
		
		ol
			+mli("en", "out", "https://www.merrilledge.com/investment-products/options/learn-understand-theta-options", "merrilledge.com", "What is Theta?", "icon")
			+mli("en", "out", "https://www.schwab.com/learn/story/theta-decay-options-trading-strategies-to-know", "schwab.com", "Theta Decay in Options Trading: Strategies to Know", "icon")
			+mli("en", "out", "https://www.investopedia.com/terms/t/theta.asp", "investopedia.com", "Theta: What It Means in Options Trading, With Examples", "icon")
		h3 Ро (Rho)

		ol
			+mli("ru", "out", "https://habr.com/ru/articles/552194/", "Хабр", "Математика опционов или модель Блэка-Шоулза", "")
			+mli("ru", "out", "https://habr.com/ru/articles/549202/", "Хабр", "Лемма Ито", "")
			+mli("ru", "out", "https://habrahabr.ru/post/248949/", "Хабр", "Финансы в Excel+VBA. Калькулятор опционов по модели Блэка-Шоулза", "")
			+mli("en", "out", "https://www.macroption.com/black-scholes-formula/", "macroption.com", "Black-Scholes Formulas", "icon")
			+mli("en", "out", "https://www.investopedia.com/terms/b/blackscholes.asp", "investopedia.com", "Black-Scholes Model: What It Is, How It Works, and Options Formula", "icon")
