extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 1"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 1. Основные экономические категории. Финансовый рынок. Фундаментальные понятия рынка ценных бумаг