extends ../layouts/code_layout.jade

block title
	title= site_title + " Глава 5"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 5. Срочный рынок
		div Формулы используемые в этом разделе:
		div Нижняя граница премии европейского опциона колл на акции, по которым в последний день действия контракта выплачиваются дивиденды, определяется по формуле:
		| \[ \begin{equation} \label{call_price_div_at_end} I_{call} = Spot - \frac{Strike+div}{1 + r\cdot(\frac{T}{\text{база}})} \end{equation} \]
		div Нижняя граница премии европейского опциона пут на акции, по которым в последний день действия контракта выплачиваются дивиденды, определяется по формуле:
		| \[ \begin{equation} \label{put_price_div_at_end} I_{put} = \frac{Strike+div}{1 + r\cdot(\frac{T}{\text{база}})} - Spot \end{equation} \]		
		div Нижняя граница премии европейского опциона колл на акции, по которым в течение действия контракта выплачиваются дивиденды, определяется по формуле:
		| \[ \begin{equation} \label{call_price_div} I_{call} = Spot - \frac{Strike}{1 + r\cdot(\frac{T}{\text{база}})} - D \end{equation} \]
		<br>D - привиденная стоимость дивидендов на момент заключения контракта. См. ( \ref{div} )
		div Нижняя граница премии европейского опциона пут на акции, по которым в течение действия контракта выплачиваются дивиденды, определяется по формуле:
		| \[ \begin{equation} \label{put_price_div} I_{put} = \frac{Strike}{1 + r\cdot(\frac{T}{\text{база}})} + D - Spot \end{equation} \]
		<br>D - привиденная стоимость дивидендов на момент заключения контракта. См. ( \ref{div} )

		div Между премиями европейских опционов колл (\( P_{call} \)) и пут (\(P_{put}\)) на одни и те же акции с одинаковой ценой исполнения (Strike) и сроком истечения контрактов (T) существует паритет, который имеет следующий вид:
		|\[ \begin{equation} \label{paritet} P_{call} + \frac {Strike} {1+r \cdot (\frac{T}{\text{база}})} = P_{put} + Spot \end{equation} \]	
		|\[ \begin{equation} \label{put_price} I_{put} = \frac{Strike}{1 + r\cdot(\frac{T}{\text{база}})} - Spot \end{equation} \]
		|\[ \begin{equation}  \text{верхняя граница премии } P_{call} = Spot - D;  \end{equation} \]
		|\[ \begin{equation} \label{div} D = \frac{div}{1+r\cdot(\frac{T}{\text{база}})} \end{equation} \]	
		|\[ \text{где&nbsp} I_{put} - \text{минимальная премия опциона put;} \]
		|\[ I_{call} - \text{минимальная премия опциона call;} \]
		|\[ r - \text{ставка без риска;} \]
		|\[ Strike - \text{цена исполнения;} \]
		|\[ Spot - \text{спот цена.}\]
		|\[ Т - \text{период действия контракта;}\]	
		|\[ div - \text{выплачиваемый дивиденд;}\]
		|\[ \begin{equation} \label{call_price} I_{call} = Spot - \frac{Strike} {1 + r \cdot (\frac{T}{\text{база}}) } \end{equation} \]
		div [1]
		div [2]
		div [3]
		div [4]
		div [5]
		div [6]
		div [7]
		div [8]
		div [9]
		div [10]
		div [11]
		div [12]
		div [13]
		div [14]
		div [15]
		div [16]
		div [17]
		div [18]
		div [19]
		div [20]
		div [21]
		div [22]
		div [23]
		div [24]
		div [25]
		div [26]
		div [27]
		div [28]
		div [29]
		div [30]
		div [31]
		div [32]
		div [33]
		div [34]
		div [35]
		div [36]
		div [37]
		div [38]
		div [39]
		div [40]
		div [41]
		div [42]
		div [43]
		div [44]
		div [45]
		div [46]
		div [47]
		div [48]
		div [49]
		div [50]
		div [51]
		div [52]
		div [53]
		div [54]
		div [55]
		| \[ F = 28.2 \times \frac{(1+0.08  \times \frac{3}{12})} {(1+0.04 \times \frac{3}{12})} \approx 28.48 \]
		div [56]
		div [57]
		div [58]
		div [59]
		div [60]										
		div [61]
		div [62]
		div [63]
		div [64]
		div [65]
		div [66]
		div [67]
		div [68]
		div [69]
		div [70]
		div [71]
		div [72]
		div [73]
		div [74]
		div [75]
		div [76]
		div [77]
		div [78]
		div [79]
		div [80]
		div [81]
		div [82]
		| \[ \text{По формуле } ( \ref{put_price} ) I_p = \frac{100}{(1 + 0,10 \cdot \frac{30}{365})} - 95 = 4.1847 \approx 4.18 \]

		div [83]
		| \[ \text{верхняя граница премии } P_{call} = Spot - D; D = \frac{div}{1+r\cdot(\frac{T}{\text{база}})} \]
		div [84]
		div [85]
		div [86] Чистая цена спот акции (т.е. за вычетом дисконтированного выплачиваемого по ней в течение периода дивиденда)
		| \[ S = 105 - \frac{3}{1+0.1 \cdot \frac {60}{365}} = 105 - 2.95 = 102.05 \]
		| \[ \text{нижняя граница премии опциона колл } P_{call} = 102.05 - \frac{100}{1+0.1 \cdot \frac{90}{365}} = 4.46 \]
		div [87]
		div [88]
		div [89]
		div [90]
		div [91]
		div [92]
		div [93]
		div [94] Из условия паритета опционов пут и колл
		<br> ip = iс + X/(1+r) - S = 5 + 100 / (1 + 0,10 * 5/12) - 100 = 1 руб. 
		div [95]
		div [96]
		div [97]
		div [98]
		div [99]
		div [100]
