extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 8"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 8. Гражданско-правовые основы ведения предпринимательской деятельности на рынке ценных бумаг
		div [1] Критерии предпринимательской деятельности:
		ul
			li Самостоятельная, осуществляемая на свой риск деятельность;
			li Направленная на систематическое получение прибыли от пользования имуществом или оказания услуг;
			li Осуществляемая лицами, зарегистрированными в установленном законом порядке.
		div [2] Какие субъекты могут быть участниками отношений, регулируемых гражданским законодательством:
		ul
			li Граждане и юридические лица;
			li Российская Федерация, субъекты Российской Федерации и муниципальные образования;
			li Иностранные граждане;
			li Лица без гражданства;
			li Иностранные юридические лица.			
		div [3] Виды нормативных актов, которые регулируют рынок ценных бумаг... Т.к. обычаи делового оборота это не нормативный акт, то ответ кот. не включает обычаи делового оборота.
		div [4] Обычаем делового оборота:
		ul
			li Обычаем делового оборота признается сложившееся и широко применяемое в какой-либо области предпринимательской деятельности правило поведения, не предусмотренное законодательством, независимо от того, зафиксировано ли оно в каком-либо документе;
			li Не предусмотренное законодательством или договором, но сложившееся, то есть достаточно определенное в своем содержании, широко применяемое в какой-либо области предпринимательской деятельности правило поведения.
		div [5] Аналогия закона - когда регулируемые гражданским законодательством отношения прямо не урегулированы законодательством или соглашением сторон и отсутствует применимый к ним обычай делового оборота, к таким отношениям, если это не противоречит их существу, применяется гражданское законодательство, регулирующее сходные отношения.
		div [6] Все перечисленное:
		ul
			li Общепризнанные принципы и нормы международного права и международные договоры Российской Федерации являются в соответствии с Конституцией Российской Федерации составной частью правовой системы Российской Федерации;
			li Международные договоры Российской Федерации применяются к отношениям, указанным в Гражданском Кодексе Российской Федерации, непосредственно, кроме случаев, когда из международного договора следует, что для его применения требуется издание внутригосударственного акта;
			li Если международным договором Российской Федерации установлены иные правила, чем те, которые предусмотрены гражданским законодательством, применяются правила международного договора.
		div [7] В связи с участием в образовании имущества юридического лица его учредители (участники) могут иметь обязательственные права в отношении этого юридического лица.
		div [8] Юридическим лицом признается организация, которая имеет обособленное имущество и отвечает им по своим обязательствам, может от своего имени приобретать гражданские права, нести гражданские обязанности, быть истцом и ответчиком в суде;
		В связи с участием в образовании имущества юридического лица его учредители (участники) могут иметь обязательственные права в отношении этого юридического лица либо вещные права на его имущество
		div [9]
		div [10] Право юридического лица осуществлять деятельность, на занятие которой необходимо получение лицензии, возникает с момента получения такой лицензии или в указанный в ней срок.
		div [11] Правоспособность юридического лица возникает с момента внесения в ЕГРЮЛ сведений о его создании.
		div [12] правоспособность юридического лица прекращается в момент внесения записи в ЕГРЮЛ о его прекращении.
		div [13] Филиалом признается обособленное подразделение юридического лица, расположенное вне места его нахождения, которое осуществляет все его функции или их часть, в том числе функции представительства.
		div [14] Юридические лица, в отношении которых их участники имеют корпоративные права, это:
		ul
			li Хозяйственные общества
			li Хозяйственные товарищества
			li Производственные кооперативы
			li Потребительские кооперативы
		div [15]
		div [16]
		div [17] К юридическим лицам, на имущество которых их учредители имеют вещные права, относятся:
		ul
			li Государственные унитарные предприятия
			li Муниципальные унитарные предприятия
			li Учреждения
		div [18] Юридическое лицо отвечает по своим обязательствам всем имуществом, принадлежащим юридическому лицу.
		div [19] В соответствии с Гражданским Кодексом объектами гражданских прав являются:
		ul
			li Вещи, включая наличные деньги и документарные ценные бумаги, иное имущество, в том числе безналичные денежные средства и бездокументарные ценные бумаги
			li Имущественные права
			li Результаты работ и услуг
			li Интеллектуальная собственность
			li Нематериальные блага
		div [20] Ничего из перечисленного.
		div [21] Условия уступки требования:
		ul
			li Уступка требования кредитором (цедентом) другому лицу (цессионарию) допускается, если она не противоречит закону
			li Не допускается без согласия должника уступка требования по обязательству, в котором личность кредитора имеет существенное значение для должника
			li Соглашением между должником и цедентом может быть запрещена или ограничена уступка права на получение неденежного исполнения
		div [22] формы уступки требования: все перечисленные верные.
		div [23] Личным законом юридического лица считается право страны, где учреждено юридическое лицо.
		div [24] На основе личного закона юридического лица определяются <mark>все перечисленное</mark>.
		div [25] Назовите неверные утверждения <msrk>все утверждения верны</mark>. 
		div [26] Если доли участников долевой собственности не могут быть определены на основании закона и не установлены соглашением всех ее участников, то доли считаются равными.
		div [27] Владение и пользование имуществом, находящимся в долевой собственности, осуществляются по соглашению всех ее участников, а при не достижении согласия - в порядке, устанавливаемом судом.
		div [28] Все перечисленные.
		div [29] Договор заключается посредством направления оферты (предложения заключить договор) одной из сторон и ее акцепта (принятия предложения) другой стороной.
		div [30] Существенным нарушением договора признается нарушение договора одной из сторон, которое влечет для другой стороны такой ущерб, что она в значительной степени лишается того, на что была вправе рассчитывать при заключении договора.
		div [31] Встречным исполнением обязательства признается исполнение обязательства одной из сторон, которое в соответствии с договором обусловлено исполнением своих обязательств другой стороной.
		div [32] Способы обеспечения исполнения обязательств:
		ul
			li Неустойка;
			li Залог;
			li Поручительство;
			li Независимая гарантия;

		div [33] Передача имущества в доверительное управление <mark>не</mark> влечет переход права собственности к доверительному управляющему.
		div [34] Допускается ли обращение в государственную собственность имущества, находящегося в собственности граждан и юридических лиц? Производится на основании закона с возмещением стоимости этого имущества и других убытков в порядке, установленном законодательством.
		div [35] Права собственника на имущество не прекращаются в случае принудительного изъятия имущества в силу принятия федеральным органом исполнительной власти решения об обращении имущества в государственную собственность.
		div [36] Если сделка, требующая государственной регистрации, совершена в надлежащей форме, но одна из сторон В уклоняется от регистрации, суд вправе по требованию стороны А вынести решение о регистрации сделки, в этом случае сделка регистрируется в соответствии с решением суда.
		div [37] Если одна из сторон А полностью исполнила сделку, требующую нотариального удостоверения, а другая сторона В уклоняется от такого удостоверения сделки, вправе ли суд по требованию исполнившей сделку стороны А признать сделку действительной? В этом случае последующее нотариальное удостоверение сделки не требуется.
		div [38] Какое из перечисленных ниже последствий для сторон сделки имеет несоблюдение простой письменной формы? Лишает стороны права в случае спора ссылаться в подтверждение сделки и ее условий на свидетельские показания, но не лишает их права приводить письменные и другие доказательства.
		div [39] Срок исковой давности по требованию о применении последствий недействительности ничтожной сделки 3 года со дня, когда началось исполнение сделки.
		div [40] Срок исковой давности по требованию о признании оспоримой сделки недействительной и о применении последствий ее недействительности <mark>один год</mark>.
		div [41] Оспоримой является cделка, недействительная по основаниям, установленным законом, в силу признания ее таковой судом.
		div [42] Сделка недействительна по основаниям, установленным законом, в силу <mark>признания таковой судом и независимо от такого признания</mark>.
		div [43] Сделка, не соответствующая требованиям закона или иных правовых актов (если закон не устанавливает иное) - ничтожна.
		div [44] Сделка может быть признана недействительной в случаях: все перечисленное.
		div [45] Оспоримой является сделка, совершенная под влиянием обмана, насилия, угрозы, злонамеренного соглашения представителя одной стороны с другой стороной, а также сделка, которую лицо было вынуждено совершить вследствие стечения тяжелых обстоятельств на крайне невыгодных для себя условиях, чем другая сторона воспользовалась.
		div [46] Кабальная сделка - сделка, совершенная под влиянием обмана, насилия, угрозы, злонамеренного соглашения представителя одной стороны с другой стороной, а также сделка, которую лицо было вынуждено совершить вследствие стечения тяжелых обстоятельств на крайне невыгодных для себя условиях, чем другая сторона воспользовалась.
		div [47] Назовите последствия несоблюдения нотариальной формы сделки - Ничтожность сделки.
		div [48] Доверенностью признается письменное уполномочие, выдаваемое одним лицом другому лицу для представительства перед третьими лицами.
		div [49] Если в доверенности не указан срок ее действия, она сохраняет силу в течение года со дня ее совершения. Удостоверенная нотариусом доверенность, предназначенная для совершения действий за границей и не содержащая указание о сроке ее действия, сохраняет силу до ее отмены лицом, выдавшим доверенность.
		div [50] Коммерческим представителем признается лицо, постоянно и самостоятельно представительствующее от имени предпринимателей при заключении ими договоров в сфере предпринимательской деятельности. 
		div [51] Одновременное коммерческое представительство разных сторон в сделке допускается с согласия этих сторон.
		div [52] Представитель <mark>может в случаях коммерческого представительства</mark> совершать сделки от имени представляемого в отношении другого лица, представителем которого он одновременно является.
		div [53] Представитель не может совершать сделки от имени представляемого в отношении себя лично.
		div [54]
		div [55] Право собственности и другие вещные права на недвижимые вещи, ограничения этих прав, их возникновение, переход и прекращение подлежат государственной регистрации в едином государственном реестре.
		div [56] Коммерческое представительство осуществляется на основании: договора, заключенного в письменной форме и содержащего указания на полномочия представителя или договора, заключенного в письменной форме.
		div [57] ЗАПОМНИТЬ ОТВЕТ. C. Может лишь в случаях, установленных законом.
		div [58] Кто из нижеперечисленных лиц является представителем? Единоличный исполнительный орган акционерного общества (АО)
		div [59] 
		div [60] Основания прекращения обязательств:
		ul
			li Исполнение обязательства
			li Отступное
			li Зачет однородного встречного требования, срок которого наступил либо срок которого не указан или определен моментом востребования
		div [61] Возникновения гражданских прав и обязанностей: Все перечисленное.
		div [62] Если кредитор вправе требовать исполнения как от всех должников совместно, так и от любого из них в отдельности, притом как полностью, так и в части долга, такая обязанность (ответственность) называется <mark>солидарная обязанность должников</mark>.
		div [63] Укажите неверное утверждение: все утверждения верны
		div [64] 
		ul 
				li Граждане и юридические лица свободны в заключении договора;
				li Понуждение к заключению договора не допускается, за исключением случаев, когда обязанность заключить договор предусмотрена законом или добровольно принятым обязательством;
				li Условия договора определяются по усмотрению сторон, кроме случаев, когда содержание соответствующего условия предписано законом или иными правовыми актами;
				li Окончание срока действия договора не освобождает стороны от ответственности за его нарушение. (ГК РФ Статья 425 п.4)
		div [65] Диспозитивная норма - норма, которая применяется постольку, поскольку соглашением сторон не установлено иное.
		div [66] Императивными нормами называются обязательные для сторон правила, установленные законом и иными правовыми актами.
		div [67] все верно.
		div [68]
		div [69] Сделки, которые являются недействительными (ничтожными):
		ul
			li Сделки, совершенные с целью, противной основам правопорядка и нравственности;
			li Мнимые и притворные сделки;
			li Сделки, совершенные гражданином, признанным недееспособным.			
		div [70] C. Все перечисленные
		div [71] C. Все перечисленное
		div [72] ФСФР России тут не причем.
		div [73] Особенности приобретения и прекращения права собственности на имущество, в зависимости от того, находится имущество в собственности гражданина или юридического лица, в собственности Российской Федерации, субъекта Российской Федерации или муниципального образования <mark>могут устанавливаться лишь законом</mark>.
		div [74]
		div [75] Вещными правами являются (все перечисленное):
		ul
			li Сервитуты;
			li Право хозяйственного ведения имуществом;
			li Право оперативного управления имуществом;
			li Право пожизненного наследуемого владения земельным участком.
		div [76] способы защиты гражданских прав (все перечисленное) (ГК РФ Статья 12):
		ul
			li Неприменение судом акта государственного органа или органа местного самоуправления, противоречащего закону;
			li Возмещение убытков;
			li Прекращение или изменение правоотношения;
			li Компенсация морального вреда.
		div [77] Упущенная выгода - неполученные доходы, которые это лицо получило бы при обычных условиях гражданского оборота, если бы его право не было нарушено.