extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 1"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	article.grid-container
		h3 Глава 1. Основные экономические категории. Финансовый рынок. Фундаментальные понятия рынка ценных бумаг
		div [1,2,3,4] <img src="../images/factors_of_production.png" alt="Факторы производства">
		div [5] Составные элементы издержек производства:
		ul
			li Заработная плата работников;
			li Амортизация основного капитала;
			li Затраты на сырье и материалы.
		div [6] Показатель рентабельности продукции рассчитывается как отношение прибыли от реализации товара (услуги) к издержкам производства.
		div [7]
		div [8]
		div [9]
		div [10]
		div [11]
		div [12]
		div [13,14,15,16] <img src="../images/competition.png" alt="Конкуренция">
		<br>на рынке присутствует относительно большое (но ограниченное) количество компаний-производителей, производится преимущественно дифференцированный товар и осуществляется ограниченный контроль над ценами
		<br>на рынке присутствует небольшое количество компаний-производителей, производится как однородный (стандартизированный), так и дифференцированный товар и осуществляется значительный контроль над ценами
		div [17]
		div [18]
		div [19]
		div [20]
		div [21]
		div [22]
		div [23]
		div [24]
		div [25] <img src="../images/proxy.png" alt="Типы посредников">
		div [26]
		div [27]
		div [28]
		div [29] <img src="../images/fund_market.png" alt="Структура фондового рынка">
		div [30]
		div [31]
		div [32]
		div [33]
		div [34]
		div [35]
		div [36]
		div [37]
		div [38] Сегменты финансового рынка, на которых процесс обмена финансовыми активами имеет форму купли-продажи ценных бумаг: денежный рынок и рынок капитала.
		div [39]
		div [40]
		div [41,42] см.[25]
		div [43]
		div [44]
		div [45]
		div [46]
		div [47]
		div [48]
		div [49]
		div [50]
		div [51]
		div [52]
		div [53]
		div [54]
		div [55]
		div [56]
		div [57]
		div [58]
		div [59]
		div [60]										
		div [61]
		div [62]
		div [63]
		div [64]
		div [65]
		div [66]
		div [67]
		div [68]
		div [69]
		div [70]
		div [71]
		div [72]
		div [73]
		div [74]
		div [75]
		div [76]
		div [77]
		div [78]
		div [79]
		div [80]
		div [81]
		div [82]
		div [83]
		div [84]
		div [85]
		div [86]
		div [87]
		div [88]
		div [89]
		div [90]
		div [91]
		div [92]
		div [93]
		div [94]
		div [95]
		div [96]
		div [97]
		div [98]
		div [99]
		div [100]
		div [101]
		div [102]
		div [103]
		div [104]
		div [105]
		div [106]
		div [107]
		div [108]
		div [109]
		div [110]
		div [111]
		div [112]
		div [113]
		div [114]
		div [115]
		div [116]
		div [117]
		div [118]
		div [119]
		div [120]
		div [121]
		div [122]
		div [123]
		div [124]
		div [125]
		div [126]
		div [127]
		div [128]
		div [129]
		div [130]
		div [131]		