extends ../layouts/code_layout.jade

block title
	title= site_title + " Глава 4"

block content

	div C
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 4. Финансовая математика и статистика
		div [1]
		div [2]
		div [3]
		div [4]
		div [5]
		div [6]
		div [7]
		div [8]
		div [9]
		div [10]
		div [11]
		div [12]
		div [13]
		div [14]
		div [15]
		div [16]
		div [17]
		div [18]
		div [19]
		div [20]
		div [21]
		div [22]
		div [23]
		div [24]
		div [25]
		div [26]
		div [27]
		div [28]
		div [29]
		div [30]
		div [31]
		div [32]
		div [33]
		div [34]
		div [35]
		div [36]
		div [37]
		div [38]
		div [39]
		div [40]
		div [41]
		div [42]
		div [43]
		div [44]
		div [45]
		div [46]
		div [47]
		div [48]
		div [49]
		div [50]
		div [51]
		div [52]
		div [53]
		div [54]
		div [55]
		div [56]
		div [57]
		div [58]
		div [59]
		div [60]										
		div [61]
		div [62]
		div [63]
		div [64]
		div [65]
		div [66]
		div [67]
		div [68]
		div [69]
		div [70]
		div [71]
		div [72]Рассчитайте рыночную стоимость облигации номиналом 18000р, ставкой выплачиваемого ежегодно купонного дохода 12% и сроком погашения 3 года, если ставка процента по вкладу в банке составляет 14% годовых.
		<br>Решение:
		<br>Покупая облигацию, вы покупаете право получать купоны каждый год до погашения, и номинальную стоимость вместе с последним купоном в момент погашения. Значит, для определения рыночной цены облигации необходимо сложить эти денежные потоки, предварительно дисконтировав их на сегодняшний день. Ставкой дисконтирования при этом принимают равной ставке по кладу в банке. Эта же ставка называется так же «альтернативной годовой доходностью», и «доходностью к погашению облигации».
		<br>Определим стоимость облигации через современную стоимость будущих доходов (выплат) по облигации, исходя из ставки банковского процента
		\[ \text{купон} = 18000 \times 0.12 = 2160 \]		
		\[ P = \frac{2160}{(1+0.14)} + \frac{2160}{(1+0.14)^2} + \frac{18000+2160}{(1+0.14)^3} \]
		\[ P = 1894.73 + 1662.05 + 13607.42 \approx 17164.2\]
		div [73,74,75,76,77,78,79,80,81,82,83,84,85] см [72]
		div [86]
		div [87]
		div [88]
		div [89]
		div [90]
		div [91]
		div [92]
		div [93]
		div [94]
		div [95]
		div [96]
		div [97]
		div [98]
		div [99]
		div [100]
		div [101]
		div [102]
		div [103]
		div [104]
		div [105]
		div [106]
		div [107]
		div [108]
		div [109]
		div [110]
		div [111]
		div [112]
		div [113]
		div [114]
		div [115]
		div [116]
		div [117]
		div [118]
		div [119]
		div [120]
		div [121]
		div [122]
		div [123]
		\[ r(x,y) = \frac{ K(X,Y)}{ \sigma (X) \times \sigma (Y)} \]
		\[ r - \text{коэффициент корреляции}; \sigma - \text{стандартное отклонение}; K - \text{ковариация} \]
		\[ r = \frac{ 120}{ 30 \times 20} = 0.2 \]
		div [124]
		div [125] С=n!/(k!*(n-k)!), где n- общее множество значений, k - количество элементов
		div [126] Через год цена акции может иметь следующее распределение:
		<table>
		<tbody>
		<tr><td>Цена акции</td><td>30 руб</td><td>40 руб</td><td>50 руб</td></tr>
		<tr><td>Вероятность</td><td>30%</td><td>60%</td><td>10%</td></tr>
		</tbody>
		</table>
		<br>Определить математическое ожидание цены акции через год.
		<br>Решение: M(X) = 30*0.3+40*0.6+50*0.1 = 9+24+5 = 38	
		div [127]
		div [128]
		div [129,145,146,147] Доходность актива за 3 года представлена в таблице:
		<table>
		<tbody>
		<tr><td>Годы</td><td>1</td><td>2</td><td>3</td></tr>
		<tr><td>Доходность</td><td>10</td><td>14</td><td>18</td></tr>
		</tbody>
		</table>
		<br>Определить риск актива, представленный показателями выборочной дисперсии и стандартного отклонения доходности.
		<br>Решение:
		\[ E(\text{среднее}) = \frac{10+14+18}{3} = 14 \]
		\[ D(\text{дисперсия}) = \frac{(10-14)^2+(14-14)^2+(18-14)^2)}{3} = 10.67 \]
		\[ \sigma = \sqrt{D} = \sqrt{10.67} = 3.27% \]
		div [130] <img src="../images/3_sigma.png" alt="Закон трех сигм">
		div [131]
		\[ r = \frac{ 435}{ 32 \times 41} \approx 0.332 \]
		div [132]
		\[ K(X,Y) = r(x,y) \times \sigma (X) \times \sigma (Y) \]
		\[ r - \text{коэффициент корреляции}; \sigma - \text{стандартное отклонение}; K - \text{ковариация} \]
		\[ K = 0.65 \times 25 \times 34 = 552.5 \]
		div [134,135,136] Используем свойства коэффициента корреляции. Например, для [135] при возрастании доходности А доходность В падает, значит связь есть и обратная. Раз связь есть, то коэффициент корреляции не ноль, раз обратная – то он отрицателен.
		div [137] P(A)*P(B)*P(C) = 0,8*0,7*0,9 = 0.504
		div [138] P = (1 - 0,8 ) * 0,7 * (1 - 0,9) = 0,014
		div [139] 
		<br>«Вырастет доходность акций хотя бы одной компании» = все исходы, кроме такого, где все доходности не вырастут.
		<br>P(все доходности одновременно не вырастут) = (1-0,8)*(1-0,7)*(1-0,9) = 0,006
		<br>Вероятность всех исходов, кроме такого, где все доходности не вырастут = 1-0,006 = 0,994
		div [140] Даны 3 актива. Известно, что ожидаемая доходность первого актива X = 30%, ожидаемая доходность второго актива Y = 20%. Определить ожидаемую доходность актива Z, если известно, что Z=9X-6Y+80.
		<br>Решение: Z = 9*30 - 6*20 + 80 = 230
		div [141] Найти дисперсию случайной величины Z=6Х-3Y+5, если известно, что случайные величины X и Y независимы и D(X)=2,5, D(Y)=2.
		<br>Решение: Независимы -> корреляции нет. Z = 36*D(X) <mark>+</mark> 9*D(Y) + 0 = 90 - 18 = 108
		div [142,143,144] Доходность портфеля
		<br>Прогноз инвестора относительно возможных сценариев доходности акций компаний А и В с учетом их вероятностей в следующем периоде представлен в таблице:
		<table>
		<tbody>
		<tr><td></td><td>r_b=10%</td><td>r_b=20%</td></tr>
		<tr><td>r_a=10%</td><td>p1=10%</td><td>p1=40%</td></tr>
		<tr><td>r_a=40%</td><td>p1=30%</td><td>p1=20%</td></tr>
		</tbody>
		</table>
		<br>Определить ожидаемую доходность портфеля, если уд. веса акций А и В в портфеле составляют соответственно 40% и 60%.
		<br>Добавляем веса акций в таблицу
		<table>
		<tbody>
		<tr><td></td><td>r_b=10%*0.6=6%</td><td>r_b=20%*0.6=12%</td></tr>
		<tr><td>r_a=10%*0.4=4%</td><td>p1=10%</td><td>p1=40%</td></tr>
		<tr><td>r_a=40%*0.4=16%</td><td>p1=30%</td><td>p1=20%</td></tr>
		</tbody>
		</table>
		<br>Пересчитываем вероятности с учетом весов акций.
		<table>
		<tbody>
		<tr><td></td><td>r_b=10%*0.6=6%</td><td>r_b=20%*0.6=12%</td></tr>
		<tr><td>r_a=10%*0.4=4%</td><td>p1=(4+6)*10%</td><td>p1=(4+12)*40%</td></tr>
		<tr><td>r_a=40%*0.4=16%</td><td>p1=(16+6)*30%</td><td>p1=(16+12)*20%</td></tr>
		</tbody>
		</table>
		<br>Итого: 10*0.1+16*0.4+22*0.3+28*0.2= 1 + 6.4 + 6.6 + 5.6 = 19.6%	
		div [145, 146, 147] см. [129]
		div [148,149] см. [132]
		div [150] Показатель Р/Е может использоваться для предоставления возможности сравнивать рыночные стоимости акций компаний одной отрасли.
		div [151] Смысл показателя Р/Е это количество лет при текущем уровне прибыли, которое потребуется компании для того, чтобы окупить цену своих акций.
		div [152] 
		div [153] Текущая доходность облигации показывает, какую долю составляет купон в рыночной цене облигации. Находится простым делением ставки купона на рыночную цену облигации, выраженную в процентах от номинала. 10/75 = 13.33%
		div [154] 9.5/98 = 9.69%
		div [155] Решение.Чистая прибыль компании = 975 тыс. руб. Из этих денег компания должна выплатить дивиденды по привилегированным акциям в размере 20%*1000р = 200 руб. на одну привилегированную акцию. Так как количество привилегированных акций = 2000, то общая сумма выплат по префам составит 200р * 2000 = 400 тыс. Таким образом, чистой прибыли остается 975 – 400 = 575 тыс. руб.
		<br>EPS= 575 000/ 10 000 = 57,5 руб.
		div [156] Дивидендная доходность показывает текущую доходность акций. Дивидендная доходность= дивиденд на акцию/ текущая рыночная цена акции. 50/3000 * 4 = 6.66%	
		div [157] Доходность к погашению для бескупонной облигации:
		\[ r(\text{доходность к погашению}) = (\frac{N}{P})^{\frac{1}{T}} - 1\]
		\[ 0.11 = (\frac{1000}{X})^{\frac{1}{5}} - 1\]
		\[ 1.11^5 = \frac{1000}{X}\]
		\[ X = \frac{1000}{1.11^5} = 593.45 \approx 593.5 \]
		div [158] см. 157
		div
		<script>
		var N = 18000;
		var T = 3;
		var Bank = 0.14;
		var Coupon = 0.12;
		var C = N * Coupon;
		var P = C/(1+Bank) + C/(1+Bank)^2 + (C+N)/(1+Bank)^3;
		document.alert("P");
		//document.write(P);
		</script>
		div Конец