extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 14"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 14. Зарубежные рынки ценных бумаг
		div [1] «Yankee» - это: облигации неамериканских эмитентов, обращающиеся на рынке США.
		div [2] MBS - это бумаги, обеспеченные пулом закладных на недвижимость.
		div [3] «Samurai» - это облигации нерезидентов, обращающиеся на японском рынке.
		div [4] «Revenue bonds» – это облигации штатов, выпускаемые для финансирования конкретных инвестиционных проектов (инвестиционные облигации).
		div [5] Доходность еврооблигаций, выпущенных российскими банками в долларах США чаще всего привязана к ставке доходности американских казначейских облигаций.
		div [6] C. 3,57% Решение: 2.21 + 1.36 = 3.57
		div [7] Модель финансовой системы, основанная на банках действует в Германия и Италии.
		div [8] Euroclear - это международная депозитарная система, в том числе учитывающая операции с еврооблигациями.
		div [9] Хедж-фонды (Hedge funds)
		div [10] Модель финансовой системы, основанная на рынке ценных бумаг действует в США и Великобритании.
		div [11] Выпуск еврооблигаций регулируется правилами ICMA.
		div [12] Могут характеризовать степень развитости фондового рынка и позволяют отнести его к развитым или развивающимся (developed or emerging) величина ВВП на душу населения и отношение капитализации рынка акций к ВВП.
		div [13] В порядке секьюритизации долгов появились MBS и ОВГВЗ.
		div [14] Расчетно-депозитарная(ые) система(ы), обслуживающая(ие) участников рынка еврооблигаций, называе(ю)тся Euroclear и Clearstream.
		div [15] Основными элементами расчетной инфраструктуры рынка еврооблигаций являются Euroclear и Clearstream.
		div [16] ICMA(ISMA) – это Ассоциация участников международного рынка капиталов.
		div [17] Только 3 уровень американских депозитарных расписок позволяет эмитенту базовых акций привлечь новый капитал путем выпуска акций дополнительной эмиссии.
		div [18] В США АДР программ 2 и 3 уровня обращаются на фондовых биржах и программы 3 уровня позволяют привлечь новый капитал.
		div [19] Различия в условиях выпуска и обращения между АДР 3 уровня и АДР, размещаемыми по Правилу 144-А: 
		ul
			li АДР 3 уровня могут покупать любые американские инвесторы, включая физических лиц, а АДР, размещаемые по Правилу 144-А, - только квалифицированные институциональные инвесторы (покупатели);
			li АДР 3 уровня торгуются в торговых системах биржевого рынка США, и АДР, размещаемые по Правилу 144-А, - в торговой системе ПОРТАЛ;

		div [20] Верные утверждения в отношении условий выпуска и обращения американских депозитарных расписок (АДР):
		ul
			li АДР выпускаются американским банком - депозитарием;
			li АДР подтверждают права собственности владельцев АДР на указанное в сертификате количество акций иностранных эмитентов;
			li Акции, на которые выпускаются АДР, депонируются в банке-кастоди, находящемся в стране выпуска акций.

		div [21] Функции банка-депозитария, осуществляющего выпуск АДР (ГДР):
		ul
			li Ведение реестра владельцев АДР (ГДР);
			li Распространение среди владельцев АДР (ГДР) отчетности эмитента и другой важной информации;
			li Передача владельцам АДР (ГДР) дивидендов и других имущественных прав по акциям, лежащим в основе АДР (ГДР).
		div [22] Укажите функции банка-кастоди при выпуске и обращении АДР (ГДР):
		ul
			li Учет и перерегистрация акций, на которые выпущены АДР (ГДР);
			li Представительство в реестре акционеров компании-эмитента путем регистрации в качестве номинального держателя;
			li Получение дивидендов в национальной валюте страны выпуска акций и перевод их в банк-депозитарий в валюте страны обращения АДР (ГДР).
		div Банк-кастоди не ведет реестр владельцев АДР (ГДР).
		div [23] АДР не дает право преимущественного приобретения акций новых выпусков, на которые выпущены АДР (ГДР).
		div [24] Преимущества приобретения инвесторами АДР по сравнению с приобретением акций иностранных эмитентов: (все перечисленное)
		ul
			li Не требуется регистрация прав собственности реестродержателем в стране выпуска акций;
			li Не требуется уплаты налогов в соответствии с законодательством страны эмитента;
			li Отчетность эмитента акций раскрывается в соответствии со стандартами страны обращения АДР (ГДР).
		div [25] АДР 1 уровня выпускаются по инициативе эмитента акций, могут быть выпущены банком-депозитарием только на ранее выпущенные эмитентом акции, и обращаются на внебиржевом рынке США.
		div [26] АДР 2 уровня выпускаются по инициативе эмитента акций, могут быть выпущены банком-депозитарием на ранее выпущенные эмитентом акции и обращаются в США на фондовой бирже.
		div [27] «Ограниченные» АДР (Rule 144a/Reg.S) и АДР 3 уровня выпускаются по инициативе эмитента акций, и могут быть выпущены банком-депозитарием на акции новых выпусков.
		div [28] Выпуск неспонсируемые АДР не требует согласия эмитента акций и осуществляется банком-депозитарием только на акции, находящиеся в обращении.
		div [29] Выпуск и обращение депозитарных расписок регулируются регулятором той страны, где обращаются депозитарные расписки.
		div [30] Спонсируемые расписки выпускаются по инициативе эмитента базовых акций.
		div [31] Квалифицированным институциональным инвестором (покупателем) QIB, согласно правилу 144-А Комиссии по ценным бумагам США является институт, под управлением которого находятся инвестиции в ценные бумаги на сумму не менее 100 млн. долл. США.
		div [32] На американском фондовом рынке существует единая депозитарная система Depository Trust and Clearing Corporation (Депозитарная Трастовая и Клиринговая корпорация).
		div [33] Согласно закону Сарбэйнса-Оксли принятому в 2002 году, в США произошло резкое ужесточение требований по раскрытию корпоративной информации со стороны компаний-эмитентов.
		div [34] The Securities Investor Protection Corporation (Корпорация по страхованию инвестиций в ценные бумаги) в США осуществляет выплаты только за счет взносов самих инвестиционных посредников, работающих со средствами физических лиц.
		div [35] В США взаимные фонды (mutual funds) могут создаваться в форме Корпораций (акционерных обществ).
		div [36] FINRA - крупнейшая американская СРО, объединяющая брокерские компании США.
		div [37] SEC (Комиссия по ценным бумагам и биржам США) создана в 1934 г. и является независимым органом регулирования.
		div [38] Рынок производных инструментов в США является объектом регулирования со стороны только CFTC (Комиссии по товарной и фьючерсной торговле).
		div [39] Закон о финансовой модернизации 1999 г. США (Закон Грэма-Лича-Блайли) разрешает банковским холдинговым компаниям заниматься:(все перечисленное)
		ul
			li Андеррайтингом акций;
			li Страхованием;
			li Отменяет основные положения Закона Гласса-Стигала.
		div [40] При прочих равных условиях повышение Правлением ФРС целевой ставки по федеральным фондам приведет к понижению цены облигаций и понижению цены акций.
		div [41] Регулированием банков в США занимаются:(все перечисленное)
		ul
			li Федеральная резервная система;
			li Контролер денежного обращения (OCC);
			li Федеральная корпорация страхования депозитов.
		div [42] Cрок обращения казначейских векселей (Treasury bills) на фондовом рынке США <mark>не более 1 года<mark>.
		div [43] В TIPS (Treasury Inflation Protection Securities) основная сумма долга и процентные выплаты привязаны к индексу цен.
		div [44][1] P = 1000 * (98 + 4/32 ) / 100 = 981,25
		div [45] General obligation bonds в США - это облигации, обеспеченные всей налоговой базой администрации штата, (города) - эмитента облигации.
		div [46] Решение: <br>цена спроса = 10000 * (1 - 0,016 * 120/360) = 9947 долл., <br>цена предложения = 10000 * (1 - 0,015 * 120/360) =  9950 долл.
		div [47] Решение: эквивалентную доходность (как и котировки) принято задавать в годовом исчислении, что обеспечивает сопоставимость показателей, таким образом, <br> цена спроса = 10000 * (1 - 0,016 * 120/360) = 9947 долл., <br> а доходность по цене спроса = (10000 / 9947 - 1) * 360/120 = 0,016;<br>цена предложения = 10000 * (1 - 0,015 * 120/360) =  9950 долл.,<br>а доходность по цене предложения = (10000 / 9950 - 1) * 360/120 = 0,0151;
		div [48] Коммерческие бумаги (по законодательству США) - это высокономинальные долговые бумаги (простые векселя), выпускаемые корпорациями на срок до 270 дней без государственной регистрации.
		div [49] Крупнейшими эмитентами MBS в США являются компании Fannie Mae и Freddie Mac.
		div [50] формально правильнее сначала номинал умножить на индекс потребительских цен за полугодие (не забываем, что инфляция дана в ГОДОВОМ исчислении)<br>	Инфляция 1%/2 = 0.005<br>Купон 2%/2 = 0.01<br>Выплата = (1000 * (1+0.005)) * 0.01 = 10,05
		div [51] T - bonds - это долгосрочные казначейские облигации США сроком более 10 лет.
		div [52] Особенности рынка американских муниципальных облигаций:
		ul
			li Особый налоговый режим;
			li Фрагментарность рынка;
			li Преобладание среди инвесторов физических лиц, страховых компаний и инвестиционных фондов;
			li Большая часть выпусков муниципальных облигаций связана с финансированием конкретных инвестиционных проектов (revenue bonds).
		div [53] Решение: доходность по американским корпоративным облигациям считается на основе T-Notes<br>150 пунктов это 1,5 процента<br>итого: 2.5% + 1,5% = 4% 
		div [54][1] 99:5 = (99+5/32)/100 = 0.99156; 0.99156*1000 = 991,56
		div [55] Cрок обращения казначейских нот (Treasury notes) на фондовом рынке США От 1 года до 10 лет.
		div [56] Основная часть рыночного долга США приходится на среднесрочные казначейские облигации США до 10 лет.
		div [57] Капитализация NYSE больше, чем NASDAQ. NASDAQ – рынок продвижения котировок (quote-driven).
		div [58] В США «Series 7» профессиональный экзамен для служащих брокерско-дилерских фирм.
		div [59] Система ЭДГАР (EDGAR) является системой сбора и распространения информации SEC.
		div [60] Компании, имеющие листинг в NASDAQ: MICROSOFT, DELL, INTEL.						
		div [61] Казначейские облигации США торгуются на внебиржевом рынке.
		div [62] STRIPS (Separate Trading of Registered Interest and Principal Securities) - вид облигаций с разделенным купоном и номиналом.
		div [63] Американские корпоративные облигации торгуются на внебиржевом рынке.
		div [64] Нью-йоркская фондовая биржа по своему организационно-правовому статусу является корпорацией.
		div [65] Euronext - это панъевропейская биржа, возникшая в результате слияния бирж Парижа, Брюсселя, Амстердама и Лиссабона.
		div [66] Торговля золотом в Лондоне осуществляется на внебиржевом рынке.
		div [67] AIM (Alternative Investment Market) - подразделение Лондонской фондовой биржи, торгующее акциями компаний малой и средней капитализации.
		div [68] Регулированием финансового рынка в Великобритании с 2012 г. занимаются Prudential Regulatory Authority (PRA) и Financial Conduct Authority ((FCA).
		div [69] GEMM (Gilt-edged Market Makers) - это маркет-мейкеры по государственным облигациям Великобритании.
		div [70] Купон 0.03/2 - 0.015; Тогда: 1000*0,015*1,0075=15,111000*0,015*1,0075=15,11;
		div [71] Британские консоли – бессрочный долговой инструмент, с периодическими фиксированными купонными платежами, не имеющий срока погашения, по которому не производится выплата (погашение) номинальной стоимости. Таким образом, консоли представляют собой «вечный аннуитет», а стандартная формула определения текущей стоимости аннуитета при неограниченном количестве выплат, стремящемся к бесконечности, сводится к простой формуле:
		<br> P = Номинал*Купон / Доходность = 1000 * 2,5% / 3,5% = 714.28
		div [72] BaFin осуществляет надзор за фондовым рынком в Германии.
		div [73] Bunds - федеральные долгосрочные облигации Германии.
		div [74] Bobls - федеральные среднесрочные купонные облигации Германии.
		div [75] Банковские облигации преобладают на рынке германских негосударственных облигаций.
		div [76] Немецкие облигации pfandbriefe выпускаются для финансирования ипотечных кредитов и правительств земель.
		div [77] Ипотечные и земельные банки выступают эмитентом немецких облигаций pfandbriefe.
		div [78] Особенностями немецкого рынка государственных облигаций является преобладание длинных по сроку обращения государственных облигаций и большая доля облигаций государственных финансовых агентств.
		div [79] "Мусорная облигация" (junk bond) – это облигация неинвестиционного класса.
		div [80] Взаимные фонды (mutual funds) крупнейшие участники рынка коллективных инвестиций в США.
		div [81] Торговля европейскими государственными бумагами преимущественно осуществляется на внебиржевой торговой площадке (MTS).
		div [82] Купонная ставка по FRN (Floating Rate Notes) обычно привязана к ставке LIBOR.
		div [83] Рынок муниципальных облигаций наиболее развит в США.
		div [84] Американские взаимные фонды (mutual funds) относятся к корпоративным фондам открытого типа.
		div [85] Переход к системе единого регулятора в Англии, Германии, Японии и других странах связан с: (все перечисленное)
		ul
			li Растущей интеграцией финансовых рынков;
			li Стиранием функциональных различий между отдельными типами финансовых учреждений;
			li Стремлением уменьшить регулятивные издержки.
		div [86] Единый регулятор финансового рынка (мегарегулятор) создан в Германия и Японии.
		div [87] Казначейские облигации США, индексированные по инфляции (TIPS) характеризуют изменяющиеся номинал и купонная ставка, привязанные к индексу потребительских цен.
		div [88] Государственные облигации Великобритании, привязанные к инфляции (index-linked gilts) характеризуют изменяющиеся номинал и купонная ставка, привязанные к индексу потребительских цен.
		div [89] Коммерческие бумаги в США характеризуются: (все перечисленное)
		ul
			li Не требуется регистрация проспекта эмиссии у регулятора;
			li Короткий срок обращения (до 270 дней);
			li Размещаются среди ограниченного круга инвесторов;
			li Средства от размещения используются на текущие операции, на пополнение оборотного капитала.
		div [90] Принято относить к институциональным инвесторам страховые компании, пенсионные фонды, инвестиционные фонды, суверенные фонды.
		div [91] Topix - второй по значимости (частоте использования) фондовый индекс Японии.
		div [92] Спрэд по государственным облигациям стран Еврозоны рассчитывается по отношению к государственным облигациям Германии.
		div [93] UCITS (The Undertakings for the Collective Investment of Transferable Securities) - Положения о совместных инвестициях в ценные бумаги, находящиеся в обращении.
		div [94] Преимущественно накопительная система пенсионного обеспечения действует в США и Нидерландах.
		div [95] Верные, логически близкие понятия
		ul
			li I. Эмиссионные ценные бумаги (Россия) - investment securities (UCC, США);
			li II. Неэмиссионные ценные бумаги (Россия) - negotiable instruments (UCC, США);
			li IV. Effets de commerce (Франция) – неэмиссионные ценные бумаги (Россия).
		div [96] Ликвидность национального рынка акций определяется показателем отношение оборота торговли к капитализации.
		div [97] SICAV - это французские корпоративные инвестиционные фонды с изменяющимся уставным капиталом.
		div [98] FCP – это французские паевые инвестиционные фонды.
		div [99] OAT (Obligations Assimilables du Trèsor) - долгосрочные государственные купонные облигации Франции.
		div [100] Financial Supervisory Agency (Агентство по надзору за финансовыми рынками) - это регулятор японского финансового рынка.
		div [101] Почему при огромной величине государственного долга Японии (более 200% ВВП) эта проблема не так остра, как в странах, где величина государственного долга значительно меньше? (все перечисленное)
		ul
			li Почти весь долг находится у японских инвесторов;
			li Низкий уровень процентных ставок, не вызывающий слишком большой нагрузки по обслуживанию долга;
			li Правительство Японии обладает большими резервами, благодаря чему чистый долг (нетто) значительно ниже;
			li Мощный экономический и научно-технический потенциал Японии.
		div [102] BOVESPA - это индекс бразильского фондового рынка.
		div [103] KOSPI - это взвешенный по капитализации индекс корейских компаний.
		div [104] индекс EuroStoxx 50 - индекс, рассчитываемый по 50 крупнейшим компаниям стран, входящих в Еврозону.
		div [105] Nikkei 225 - это среднеарифметический индекс Японии.
		div [106] MSCI EM (Morgan Stanley Capital International Emerging Markets) - сводный индекс акций развивающихся стран.
		div [107] К средним (averages) арифметическим и геометрическим невзвешенным относятся:
		ul
			li Value Line;
			li DJIA;
			li Nikkei225.
		div [108] К среднеарифметическим индексам, взвешенным по капитализации относятся:
		ul
			li S&P500;
			li DAX.
		div [109] Если у одной из компаний выборки произошел сплит, то в Индексе Доу-Джонса (DJIA) <mark>делитель  уменьшится</mark>.
		div [110] Если у одной из компаний выборки произошла консолидация, то в Индексе Доу-Джонса (DJIA) <mark>делитель  увеличится</mark>.
		div [111] Индексы акций европейских стран: FTSE 100, DAX, CAC 40.
		div [112] Индексы акций азиатских стран: Hang Seng, KOSPI, TOPIX.
		div [113] Индексы акций развивающихся рынков: BOVESPA, KOSPI, WIG.
		div [114] Наиболее репрезентативным индексом фондового рынка США считается: S&P 500.
		div [115] DAX 30 - это индекс немецкого фондового рынка.
		div [Примечание 1] Котировки в США даются в виде целых процентов от номинала и долях процента (либо если в качестве доли через знак ":" указано также целое число, то подразумевается количество долей по 1/32 процента)
		div
		ul
			li T-Notes (казначейские ноты) от 1 года до 10 лет;
			li T-Bonds более 10 лет; Долгосрочные казначейские облигации США сроком более 10 лет;
			li 
		ul Аббревиатуры и названия
			li <strong>SEC</strong>(The United States Securities and Exchange Commission) - Комиссия по ценным бумагам и биржам США ;
			li <strong>FINRA</strong>(Financial Industry Regulatory Authority) - крупнейшая американская СРО, объединяющая брокерские компании США;
			li <strong>CFTC</strong>(Commodity Futures Trading Commission) - Комиссии по товарной и фьючерсной торговле;
			li <strong>DTCC</strong>(Depository Trust and Clearing Corporation) - Депозитарная Трастовая и Клиринговая корпорация;
			li <strong>SIPC</strong>(The Securities Investor Protection Corporation) - Корпорация по страхованию инвестиций в ценные бумаги)
			li <strong>NYSE</strong>
			li <strong>NASDAQ</strong>
			li <strong>EDGAR</strong>(Electronic Data Gathering, Analysis, and Retrieval system)
			li STRIPS (Separate Trading of Registered Interest and Principal Securities)
			li FTSE 100 (Financial Times Stock Exchange Index) ведущий индекс Британской фондовой биржи.
		<table>
		<tbody>
		<tr><td>Индекс</td><td>Страна</td><td>Прим.</td></tr>
		<tr><td>BOVESPA</td><td>Бразилия</td><td>развивающихся рынков</td></tr>
		<tr><td>KOSPI</td><td>Корея</td><td>развивающихся рынков</td></tr>
		<tr><td>EuroStoxx 50</td><td>Европа</td><td></td></tr>
		<tr><td>WIG</td><td>Польша</td><td>развивающихся рынков</td></tr>							
		<tr><td>Nikkei225, Topix</td><td>Япония</td><td></td></tr>
		<tr><td>CAC 40</td><td>Франция</td><td></td></tr>		
		<tr><td>FTSE 100</td><td>Великобритания</td><td></td></tr>
		<tr><td>DAX 30</td><td>Германия</td><td>взвешенный</td></tr>
		<tr><td>S&P 500</td><td>США</td><td>наиболее репрезентативный, взвешенный</td></tr>	
		<tr><td>DJIA</td><td>США</td><td></td></tr>
		<tr><td>NASDAQ</td><td>США</td><td></td></tr>				
		</tbody>
		</table>		