extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 3"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	article.grid-container
		h3 Глава 3. Эмиссия и обращение ценных бумаг
		<img src="../images/issue.jpg" alt="Схема эмиссии">
		div [1]
		div [2]
		div [3]
		div [4]
		div [5]
		div [6]
		div [7][2] К лицам, располагающим инсайдерской информацией, в соответствии с Федеральным законом «О противодействии неправомерному использованию инсайдерской информации и манипулированию рынком» относятся: <small>все перечисленные</small>
		div [8] Согласно действующему российскому законодательству существуют две категории акций обыкновенные и привилегированные.
		div [9][2] Определите из нижеперечисленных неверное утверждение, касающееся облигаций:
		ul
			li <strike>Акционерное общество вправе размещать облигации только в документарной форме путем выпуска сертификатов на каждую облигацию.</strike> <small>Только в документарной форме - это и есть бред.</small>
		div [10]
		div [11]
		div [12]
		div [13][2]Кем должна осуществляться государственная регистрация дополнительного выпуска обыкновенных акций некредитной организации, размещаемых посредством открытой подписки, если общий объем выпуска составляет 200 млн. рублей?
		ul
			li I. Департаментом допуска на финансовый рынок Банка России;<small>Запомнить.</small>
		div [14][2]Кем должна осуществляться государственная регистрация выпуска облигаций государственного унитарного предприятия, размещаемых посредством закрытой подписки среди 5 лиц, если общий объем выпуска не превышает 200 млн. рублей?
		ul
			li II. Территориальным управлением Банка России;<small>Запомнить.</small>
		div [15]
		div [16]
		div [17][2]Отметьте правильное утверждение, касающееся процедуры эмиссии ценных бумаг при <u>учреждении</u> акционерного общества.
		ul
			li D. Государственная регистрация выпуска акций осуществляется одновременно с государственной регистрацией отчета об итогах выпуска акций. <small>Тут важно прочитать, что именно при учреждении общества, т.к. это исключительная ситуация. Нужно запомнить.</small>
		div [18]
		div [19][2]Укажите способы размещения акций общества в соответствии с российским законодательством о ценных бумагах:
		ul
			li <strike>I. Андеррайтинг;</strike>
			li <strike>II. Поглощение;</strike>
			li <strike>III. Слияние;</strike>
			li IV. Конвертация;
			li V. Подписка;
			li VI. Распределение среди учредителей общества;
			li VII. Распределение среди акционеров общества;
			li <strike>VIII. Распределение среди кредиторов общества;</strike>
		div [20][2]	Укажите способы размещения облигаций общества в соответствии с российским законодательством о ценных бумагах:
		ul
			li <strike>I. Андеррайтинг;</strike>
			li <strike>II. Обмен;</strike>
			li <strike>III. Приобретение;</strike>
			li IV. Конвертация;
			li V. Подписка;
			li <strike>VI. Распределение среди учредителей общества;</strike>
			li <strike>VII. Распределение среди акционеров общества;</strike>
			li <strike>VIII. Распределение среди кредиторов общества.</strike>
		div [21][2] Укажите способы размещения опционов эмитента в соответствии с российским законодательством о ценных бумагах:
		ul
			li <strike>I. Андеррайтинг;</strike>
			li <strike>II. Обмен;</strike>
			li <strike>III. Приобретение;</strike>
			li IV. Конвертация;
			li V. Подписка;
			li <strike>VI. Распределение среди учредителей общества;</strike>
			li <strike>VII. Распределение среди акционеров общества;</strike>
			li <strike>VIII. Распределение среди кредиторов общества.</strike>		
		div [22]
		div [23]
		div [24][2]В решении о размещении эмиссионных ценных бумаг путем подписки должны быть определены: <small>все перечисленные</small>
		div [25][2]Решение о размещении ценных бумаг может быть принято советом директоров, за исключением:
		ul
			li <strike>I. При распределении обыкновенных дополнительных акций среди акционеров;</strike>
			li <strike>II. При размещении путем подписки облигаций, не конвертируемых в обыкновенные акции;</strike>
			li III. При размещении путем закрытой подписки обыкновенных акций;
			li <strike>IV. При размещении путем открытой подписки обыкновенных акций в количестве 25% и менее от ранее размещенных обыкновенных акций.</strike>
		div [26][2]Отметьте правильное утверждение, касающееся принятия решения о размещении по закрытой подписке облигаций, конвертируемых в акции акционерного общества.
		ul
			li Решение принимается большинством не менее чем в три четверти голосов владельцев голосующих акций общества, принимающих участие в общем собрании акционеров общества. <small>Решение в 3/4 самое логичное.</small>
		div [27][2]Решение о размещении посредством открытой подписки дополнительных обыкновенных акций акционерного общества, составляющих менее 25 % ранее размещенных обыкновенных акций общества, должно быть принято:
		ul
			li I. Большинством голосов владельцев голосующих акций общества, принимающих участие в общем собрании акционеров общества, если принятие такого решения не отнесено уставом общества к компетенции совета директоров (наблюдательного совета) общества;
			li <strike>II. Большинством не менее чем в три четверти голосов владельцев голосующих акций общества, принимающих участие в общем собрании акционеров общества;</strike>
			li <strike>III. Большинством голосов членов совета директоров (наблюдательного совета) общества, если принятие такого решения отнесено уставом общества к компетенции совета директоров (наблюдательного совета) общества;</strike>
			li IV. Единогласно всеми членами совета директоров (наблюдательного совета) общества, если принятие такого решения отнесено уставом общества к компетенции совета директоров (наблюдательного совета) общества.
		div [28][2]Решение о размещении посредством открытой подписки неконвертируемых облигаций акционерного общества должно быть принято: C. Большинством голосов членов совета директоров (наблюдательного совета) общества, если иное не предусмотрено его уставом
		div [29][2]Какие эмиссионные ценные бумаги могут быть размещены посредством открытой подписки в соответствии с уставом акционерного общества по решению совета директоров (наблюдательного совета) общества? <small>все перечисленные</small>
		ul
			li I. Обыкновенные акции, составляющие менее 25% ранее размещенных обыкновенных акций общества;
			li II. Привилегированные акции общества;
			li III. Опционы эмитента;
			li IV. Облигации, неконвертируемые в акции общества;
		div [30]
		div [31]
		div [32]
		div [33][2]Отметьте неправильное утверждение, касающееся размещения ценных бумаг путем конвертации акций в акции с большей номинальной стоимостью. 
		ul
			li B. Сумма, на которую увеличивается уставной капитал общества, не должна превышать разницу между суммой уставного капитала и стоимостью чистых активов общества.
		div [34]
		div [35]
		div [36]
		div [37]
		div [38]
		div [39]
		div [40]
		div [41][2]Уставом общества определено, что общее количество объявленных акций номинальной стоимостью 1 тыс. руб. составляет 5 тыс. Уставный капитал общества состоит из 1 тыс. обыкновенных акций номинальной стоимостью 1 тыс. руб. Общество увеличивает уставный капитал путем размещения 4 тыс. дополнительных акций номинальной стоимостью 1 тыс. руб. Год спустя общество принимает решение об увеличении уставного капитала. Какое количество дополнительных акций может общество разместить, не внося изменений в устав об увеличении общего количества объявленных акций?
		div Решение. Объявленных акций 5 тыс., а размещено только 4 тыс. Можно разместить еще 1 тыс. акций.
		div [42]
		div [43][2] Решение о выпуске эмиссионных ценных бумаг должно содержать:
		ul 
			li <strike>I. Наименование финансового консультанта на рынке ценных бумаг, который оказывал эмитенту услуги по подготовке проспекта ценных бумаг;</strike>
			li II. Наименование уполномоченного органа эмитента, принявшего решение о размещении эмиссионных ценных бумаг;
			li III. Дату принятия решения о размещении эмиссионных ценных бумаг;
			li <strike>IV. Сведения о расходах, связанных с эмиссией ценных бумаг.</strike>
		div [44]
		div [45]
		div [46]
		div [47]
		div [48]
		div [49]
		div [50]
		div [51]
		div [52]
		div [53]
		div [54]
		div [55]
		div [56]
		div [57]
		div [58]
		div [59]
		div [60]										
		div [61]
		div [62]
		div [63]
		div [64]
		div [65]
		div [66]
		div [67]
		div [68]
		div [69]
		div [70]
		div [71]
		div [72]
		div [73]
		div [74]
		div [75]
		div [76]
		div [77]
		div [78]
		div [79]
		div [80]
		div [81]
		div [82]
		div [83]
		div [84]
		div [85]
		div [86]
		div [87]
		div [88]
		div [89]
		div [90]
		div [91]
		div [92]
		div [93]
		div [94]
		div [95]
		div [96][2]С какого момента эмиссионные ценные бумаги, выпуск которых подлежит государственной регистрации, могут поступить в обращение?
		ul
			li <strike>I. Сразу после их размещения;</strike>
			li II. Сразу после их полной оплаты;
			li III. Сразу после государственной регистрации отчета (или представления в регистрирующий орган уведомления) об итогах их выпуска.
		div C. Одновременное соблюдение условий II и III
		div [97]
		div [98] Согласно Кодексу Российской Федерации об административных правонарушениях, нарушение эмитентом порядка (процедуры) эмиссии ценных бумаг влечет наложение административного штрафа на <mark>должностных лиц</mark> в размере от 10 000 до 30 000 руб.
		div [99] Согласно Кодексу Российской Федерации об административных правонарушениях, нарушение эмитентом порядка (процедуры) эмиссии ценных бумаг влечет наложение административного штрафа на <mark>юридических лиц</mark> в размере от 500 000 до 700 000 руб.
		div [100]
		div [101]
		div [102]
		div [103]
		div [104]
		div [105]
		div [106]
		div [107]
		div [108]
		div [109]
		div [110]
		div [111]
		div [112]
		div [113]
		div [114]
		div [115]
		div [116]