extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 10"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 10. Профессиональные участники рынка ценных бумаг
		div [1] Допускается совмещение следующих видов профессиональной деятельности на рынке ценных бумаг - брокерская деятельность, дилерская деятельность, деятельность по управлению ценными бумагами и депозитарная деятельность.
		div [2] К профессиональным видам деятельности на рынке ценных бумаг относятся:
		ul
			li Деятельность по управлению ценными бумагами;
			li Деятельность по ведению реестра владельцев ценных бумаг.
		div [3] Лицензия профессионального участника рынка ценных бумаг выдается на осуществление следующих видов деятельности:
		ul
			li Брокерской деятельности;
			li Дилерской деятельности;
			li Депозитарной деятельности;
			li Брокерская деятельность только по заключению договоров, являющихся производными финансовыми инструментами, базисным активом которых является товар.
		div [4] Финансовым консультантом на рынке ценных бумаг является: юридическое лицо, оказывающее эмитенту услуги по подготовке проспекта ценных бумаг и имеющее лицензию на осуществление брокерской и/или дилерской деятельности на рынке ценных бумаг.
		div [5] К функциям организатора торговли относятся (все перечисленное):
		ul
			li Осуществление контроля за соответствием участников торгов требованиям, установленным правилами организованных торгов, соблюдением участниками и иными лицами указанных правил;
			li Осуществление контроля за соответствием допущенных к организованным торгам товаров, ценных бумаг и их эмитентов (обязанных лиц) требованиям, установленным правилами организованных торгов;
			li  Осуществление контроля за соблюдением эмитентом и иными лицами условий договоров, на основании которых ценные бумаги были допущены к организованным торгам;
			li Осуществление контроля за операциями, осуществляемыми на организованных торгах, в случаях установленных федеральными законами и принятыми в соответствии с ними нормативными актами Банка России, в том числе в целях предотвращение, выявления и пресечения неправомерного использования инсайдерской информации и (или) манипулирования рынком.
		div [6] Правильного ответа нет.
		div [7] Организатор торговли на рынке ценных бумаг обязан раскрыть следующую информацию любому заинтересованному лицу:
		ul
			li Свои учредительные документы;
			li Правила организованных торгов;
			li Положение о биржевом совете (совете секции);
			li Годовые отчеты организатора торговли с приложением аудиторских заключений в отношении содержащейся в годовых отчетах годовой бухгалтерской (финансовой) отчетности, а также в отношении содержащейся в указанных годовых отчетах консолидированной финансовой отчетности;
			li Размер стоимости оказания услуг организатора торговли;
			li Время проведения организованных торгов, если в правилах организованных торгов содержится порядок его определения;
			li Решения биржевого совета (совета секции);
			li Иная информация, раскрытие которой предусмотрено законодательством Российской Федерации.
		div [8] Правильные утверждения в отношении биржи:
		ul
			li Биржей является организатор торговли, имеющий лицензию биржи;
			li Биржа, оказывает услуги по проведению организованных торгов, на которых заключаются договоры, являющиеся производными финансовыми инструментами.
		div [9] Требования к работникам организатора торговли:
		ul
			li Лицо, осуществляющее функции единоличного исполнительного органа, должно иметь высшее образование;
			li Руководителем службы внутреннего контроля организатора торговли не может являться лицо, осуществляющее функции единоличного исполнительного органа организатора торговли;
			li Лицо, осуществляющие функции единоличного исполнительного органа, должно соответствовать установленным Банком России требованиям к профессиональному опыту.
		div [10]
		div [11]
		div [12]
		div [13]
		div [14]
		div [15]
		div [16]
		div [17]
		div [18]
		div [19]
		div [20]
		div [21]
		div [22]
		div [23]
		div [24]
		div [25]
		div [26]
		div [27]
		div [28]
		div [29]
		div [30]
		div [31]
		div [32]
		div [33]
		div [34]
		div [35]
		div [36]
		div [37]
		div [38]
		div [39]
		div [40]
		div [41]
		div [42]
		div [43]
		div [44]
		div [45]
		div [46]
		div [47]
		div [48]
		div [49]
		div [50]
		div [51]
		div [52]
		div [53]
		div [54]
		div [55]
		div [56]
		div [57]
		div [58]
		div [59]
		div [60]										
		div [61]
		div [62]
		div [63]
		div [64]
		div [65]
		div [66]
		div [67]
		div [68]
		div [69]
		div [70]
		div [71]
		div [72]
		div [73]
		div [74]
		div [75]
		div [76]
		div [77]
		div [78]
		div [79]
		div [80]
		div [81]
		div [82]
		div [83]
		div [84]
		div [85]
		div [86]
		div [87]
		div [88]
		div [89]
		div [90]
		div [91]
