extends ../layouts/html_layout.jade

block title
	title= site_title + " Глава 12"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Глава 12. Государство на рынке ценных бумаг
		div [1] Правительство Российской Федерации не участвует в биржевом рынке российских государственных ценных бумаг.
		div [2] В соответствии с российским федеральным законодательством государственными ценными бумагами признаются ценные бумаги, выпущенные от имени Российской Федерации и от имени субъекта Российской Федерации.
		div [3] К российским государственным ценным бумагам относятся: государственные краткосрочные бескупонные облигации (ГКО) и облигации федеральных займов (ОФЗ).
		div [4] К функциям Минфина России на рынке государственных ценных бумаг относятся следующие:
		ul
			li Осуществление эмиссии и обслуживание выпусков государственных ценных бумаг;
			li Принятие нормативных правовых актов, устанавливающих базовые требования к порядку обслуживания и обращения выпусков государственных ценных бумаг.
		div [5] Банк России НЕ определяет параметры эмитируемых государственных ценных бумаг их определяет Минфин.
		div [6] Банк России НЕ осуществляет государственную регистрацию выпусков государственных ценных бумаг.
		div [7] В Генеральных условиях эмиссии государственных и муниципальных ценных бумаг должны содержаться данные: вид ценных бумаг, форма выпуска ценных бумаг, валюта обязательств. 
		div [8] В Условиях эмиссии государственных и муниципальных ценных бумаг должны содержаться следующие общие требования:
		ul
			li <strike>Форма выпуска ценных бумаг;</strike>
			li Минимальный и максимальный сроки обращения данного вида государственных или муниципальных ценных бумаг;
			li Номинальная стоимость одной ценной бумаги в рамках одного выпуска государственных или муниципальных ценных бумаг;
			li Размер дохода или порядок его расчета.
		div [9] В Условиях эмиссии ценных бумаг субъектов Российской Федерации или муниципальных ценных бумаг должны содержаться следующие дополнительные требования:
		ul
			li I. Данные о бюджете заемщика на год выпуска государственных или муниципальных ценных бумаг с разбивкой на бюджет развития и текущий бюджет;
			li II. Данные об исполнении бюджета заемщика за последние три завершенных финансовых года;
			li <strike>III. Ограничения (при наличии таковых) оборотоспособности ценных бумаг;</strike>
			li <strike>IV. Размер дохода или порядок его расчета;</strike>
		div [10] Функции дилера на рынке государственных ценных бумаг Российской Федерации (ГКО и ОФЗ) может выполнять только юридическое лицо - профессиональный участник рынка ценных бумаг, имеющий лицензии на право осуществления брокерской, дилерской и депозитарной деятельности на рынке ценных бумаг.
		div [11] Для получения статуса дилера на рынке государственных ценных бумаг профессиональный участник рынка ценных бумаг должен заключить договор с <mark>Банком России</mark>.
		div [12] Формами первичного размещения государственных ценных бумаг могут являться:
		ul
				li I. Аукционы по первичному размещению, проводимые в Торговой системе;
				li II. Первичное размещение по закрытой подписке;
				li <strike>III. Конкурсы по первичному размещению</strike>
		div [13] В ходе аукционов по первичному размещению государственных ценных бумаг участники вправе выставлять конкурентные и неконкурентные заявки.
		div [14]		
		div [15] Правильные утверждения в отношении участников Депозитарной системы на биржевом рынке государственных ценных бумаг:
		ul
				li I. Депозитарий на биржевом рынке государственных ценных бумаг не может быть дилером, инвестором или выполнять функции Торговой или Расчетной системы на рынке государственных ценных бумаг;
				li <strike>II. Депозитарий на биржевом рынке государственных ценных бумаг может совмещать свою деятельность с деятельностью регистратора на рынке ценных бумаг;</strike>
				li III. Субдепозитарием на биржевом рынке государственных ценных бумаг может быть только лицо, получившее статус дилера на рынке государственных ценных бумаг;
				li <strike>IV. Депозитарное обслуживание инвесторов на биржевом рынке государственных ценных бумаг может осуществляться как в Депозитарии, так и в одном из Субдепозитариев;</strike>

		div [16] Клиринг на биржевом рынке государственных ценных бумаг осуществляет <mark>торговая система</mark>.
		div [17] Не обращаются на вторичном рынке следующие государственные ценные бумаги: государственные сберегательные облигации (ГСО) и облигации государственных нерыночных займов (ОНЗ).
		div [18] На внебиржевом рынке обращаются только облигации государственного сберегательного займа (ОГСЗ).
		div [19] Существуют ограничения по кругу инвесторов (владельцев) для следующих  государственных ценных бумаг: ГСО и ОНЗ
		div [20] <strike>D. Приобретать ГСО и ОНЗ имеют право физические лица - резиденты Российской Федерации</strike>
		div [21] Максимальный срок выпуска облигаций государственного внутреннего валютного облигационного займа (ОВВЗ) - 15 лет.
		div [22] Эмитентом облигаций государственного внутреннего валютного облигационного займа (ОВВЗ) и государственного валютного облигационного займа (ОГВЗ) является Минфин.
		div [23] Эмитентом облигаций является Минфин <strike>Внешэкономбанк</strike>.
		div [24] Субъекты Российской Федерации могут осуществлять эмиссию государственных ценных бумаг, приводящую к образованию внешнего долга, при соблюдении ряда условий, предусмотренных законодательством Российской Федерации. Облигации внешнего облигационного займа Российской Федерации являются государственными ценными бумагами.
		div [25] ОВОЗ номинированы только в валюте.
		div [26] Долговые обязательства Российской Федерации, субъектов Российской Федерации и муниципальных образований, составляющие внутренний долг, должны быть выражены только в валюте Российской Федерации.
		div [27] Государственный долг Российской Федерации представляет собой долговые обязательства Российской Федерации перед физическими и юридическими лицами, иностранными государствами, международными организациями и иными субъектами международного права, <mark>включая<mark> обязательства по государственным гарантиям, предоставленным Российской Федерацией.
		div [28] Государственный долг Российской Федерации полностью и без условий обеспечивается всем находящимся в федеральной собственности имуществом, составляющим государственную казну.
		div [29] Долговые обязательства Российской Федерации могут существовать в форме: (все перечисленное)
		ul 
				li I. Кредитных соглашений и договоров, заключенных от имени Российской Федерации, как заемщика с кредитными организациями, иностранными государствами и международными финансовыми организациями;
				li II. Государственных займов, осуществленных путем выпуска ценных бумаг от имени Российской Федерации;
				li III. Договоров и соглашений о получении Российской Федерацией бюджетных кредитов от бюджетов других уровней бюджетной системы Российской Федерации;
				li IV. Договоров о предоставлении Российской Федерацией государственных гарантий.
		div [30] Долговые обязательства Российской Федерации по срокам могут быть:
		ul
			li I. Краткосрочными (до одного года);
			li II. Среднесрочными (от 1 года до 5 лет);
			li III. Долгосрочными (от 5 лет до 30 лет).
		div [31] Управление государственным долгом РФ <strike>и государственным долгом субъекта РФ</strike> осуществляется Правительством РФ.
		div [32] см [31].
		div [33] Бюджетным кодексом РФ предусмотрена <mark>реструктуризация</mark>, как метод управления государственным долгом.
		div [34] Предельные объемы государственного внутреннего и внешнего долга Российской Федерации на очередной финансовый год устанавливаются федеральным законом о федеральном бюджете на очередной финансовый год с разбивкой долга по формам обеспечения обязательств. Верхний предел долга субъекта Российской Федерации или муниципального долга устанавливается законом субъекта Российской Федерации о бюджете или правовым актом органа местного самоуправления о местном бюджете на очередной финансовый год.
		div [35] <strike>C. Несоблюдение письменной формы государственной или муниципальной гарантии не влечет ее недействительность (ничтожность), а лишает должника по гарантированному гарантом обязательству ссылаться в подтверждение выдачи гарантии на свидетельские показания.</strike>
		div [36] Обслуживание государственного внутреннего долга Российской Федерации осуществляется Банком России и его учреждениями.
		div [37] Обслуживание государственного внутреннего долга Российской Федерации осуществляется путем:
		ul
			li I. Операций по размещению долговых обязательств Российской Федерации;
			li II. Операций по погашению долговых обязательств Российской Федерации;
			li <strike>III. Операций по аннулированию долговых обязательств Российской Федерации;</strike>
			li IV. Операций по выплате доходов по долговым обязательствам Российской Федерации.
		div [38] Государственная долговая книга Российской Федерации ведется Минфином России и представляет собой Государственные книги внутреннего и внешнего долга Российской Федерации.
		div [39] Генеральные условия эмиссии и обращения государственных ценных бумаг РФ утверждает Правительство РФ.
		div [40] К основным инструментам и методам денежно-кредитной политики Банка России относятся:
		ul
			li I. Процентные ставки по операциям Банка России;
			li II. Нормативы обязательных резервов, депонируемых в Банке России (резервные требования);
			li <strike>III. Установление запретов на проведение отдельных валютных операций</strike>
			li IV. Эмиссия облигаций от своего имени.
		div [41] К операциям на открытом рынке Банка России относятся только операции прямого РЕПО.
		div [42] В сделках прямого РЕПО продавцом облигаций в первой части сделки и покупателем облигаций по второй части является кредитная организация, а покупателем облигаций в первой части и продавцом облигаций во второй части является Банк России.
		div [43] В качестве обеспечения сделок прямого РЕПО против Банка России могут использоваться следующие ценные бумаги: <small><u>(все перечисленное)</u></small>
		ul
			li I. Облигации, выпущенные от имени РФ и размещенные на внутреннем финансовом рынке;
			li II. Облигации субъектов РФ;
			li III. Облигации международных финансовых организаций;
			li IV. Акции юридических лиц - резидентов Российской Федерации, не являющихся кредитными организациями.
		div [44] Учет и осуществление перехода прав собственности на государственные ценные бумаги на биржевом рынке государственных ценных бумаг происходит в <mark>депозитарной системе</mark>.
		div [45] Право устанавливать ограничения по кругу потенциальных владельцев государственных ценных бумаг РФ принадлежит <mark>Минфину России</mark>.
		div [46] Размещение и обращение государственных краткосрочных бескупонных облигаций (ГКО) и облигаций федерального займа (ОФЗ) осуществляется <mark>на биржевом рынке</mark>.
		div [47] С точки зрения порядка выплаты дохода государственные краткосрочные бескупонные облигации (ГКО) относятся к дисконтным облигациям.
		div [48] Срок обращения государственных краткосрочных бескупонных облигаций (ГКО) на рынке составляет <mark>до 1 года</mark>.
		div [49] 
		ul
			li ОФЗ-ПД - облигации федерального займа с постоянным купонным доходом.
			li ОФЗ-ФД - облигации федерального займа с фиксированным купоном. Купон фиксированный, но может быть разным в разные промежутки времени.
			li ОФЗ-ПК - облигации федерального займа с переменным купонным доходом.
			li ГКО - государственные краткосрочные бескупонные облигации - вообще нет купона.
		div [50] У ОФЗ-ПК процентная ставка и размер каждого купона (начиная со второго) определяются эмитентом непосредственно перед началом соответствующего купонного периода.
		div [51] Срок обращения облигаций государственного сберегательного займа (ОГСЗ) на рынке составляет от 1 года до 5 лет.
		div [52] Учет государственного внутреннего и внешнего долга Российской Федерации осуществляется Минфином России.
		div [53] Могут относиться к долгосрочным следующие из перечисленных государственных ценных бумаг:
		ul
			li I. Облигации федерального займа (ОФЗ);
			li II. Государственные сберегательные облигации (ГСО);
			li <strike>III. Облигации государственного сберегательного займа (ОГСЗ);</strike>
			li IV. Облигации нерыночных займов (ОНЗ).
		div [54] К официальным операциям с государственными облигациями, проводимым Минфином России и Банком России, относятся:
		ul
			li I. Первичное размещение облигаций;
			li II. Обслуживание выпусков облигаций;
			li III. Досрочный выкуп облигаций;
			li <strike>IV. Обращение облигаций.</strike>
		div [55] ГСО - имеют право приобретать Пенсионный фонд РФ и негосударственные пенсионные фонды - резиденты РФ;
		div [56] У ГКО круг инвесторов не ограничен.
		div [57] ОНЗ имеют право приобретать только юридические лица - резиденты и нерезиденты РФ.
		div [58] ОГСЗ - круг инвесторов не ограничен.
		div [59] Все перечисленные государственные ценные бумаги относятся к купонным облигациям.
		div [60] Банк России выполняет функции Генерального агента по обслуживанию выпусков государственных ценных бумаг.								
		div [61] Раскрытие информации о ходе и итогах торгов на биржевом рынке государственных ценных бумаг осуществляет торговая система.
		div [62] В состав инфраструктуры биржевого рынка государственных ценных бумаг входят:
		ul
			li I. Расчетная система;
			li II. Торговая система;
			li III. Депозитарная система;
			li <strike>IV. Банк России.</strike>
		div [63] <mark>Операции на открытом рынке</mark> инструмент денежно-кредитной политики Банка России, при котором Банк России выступает в качестве дилера на рынке государственных ценных бумаг и проводит куплю-продажу государственных ценных бумаг и сделки РЕПО с государственными облигациями. 
		div [64] К элементам инфраструктуры биржевого рынка государственных ценных бумаг относятся:
		ul 
			li I. Публичное акционерное общество «Московская Биржа ММВБ-РТС» (ПАО Московская биржа);
			li II. Национальный расчетный депозитарий (НРД);
			li III. Банк «Национальный Клиринговый Центр» (Банк НКЦ);
			li <strike>IV. Банк России.</strike>
		div [65] <u>Конкурентные заявки</u> при проведении аукционов по первичному размещению ГКО и ОФЗ удовлетворяются <mark>по цене, указанной в заявке</mark>.
		div [66]<u>Неконкурентные заявки</u> при проведении аукционов по первичному размещению ГКО и ОФЗ удовлетворяются <mark>по средневзвешенной цене аукциона.</mark>
		div [67] Номинированы в иностранной валюте: (все в которых есть В(вылютные)) ОВВЗ, ОВОЗ.
		div [68] В российских рублях номинированы следующие государственные ценные бумаги:(все в которых отсутствует В(вылютные)) ГСО, ОНЗ.
		div [69] <mark>Новация</mark> - метод управления государственным долгом, представляющий собой соглашение между заемщиком и кредитором по замене обязательств по одному займу другими обязательствами.
		div [70] <mark>Унификация</mark> - метод управления государственным долгом, представляющий собой объединение нескольких ранее выпущенных займов (при этом бумаги, которыми был оформлен первоначальный заём, обмениваются на аналогичные бумаги нового займа).

		<br>Банк России выполняет функции Генерального агента по обслуживанию выпусков ГЦБ. 
		<br>Банк России проводит операции на рынке ГЦБ в качестве дилера и регулятора денежно-кредитной политики. 
		<br>Банк России организует денежные расчеты по сделкам с ГЦБ.
		<br><mark>Минфин России</mark> устанавливает ограничения по кругу потенциальных владельцев ГЦБ РФ.
		<br>Торговая система осуществляет клиринг и раскрытие информации о ходе и итогах торгов на биржевом рынке ГЦБ.
		<br>Государственная регистрация выпусков государственных ценных бумаг?
		<br>
		<br>ГСО - государственные сберегательные облигации (ГСО).
		<br>ОНЗ - облигации государственных нерыночных займов (ОНЗ).
		<br>ГКО - государственные краткосрочные бескупонные облигации (ГКО).
		<br>ОФЗ - облигации федеральных займов (ОФЗ).
		<br>ОВВЗ - облигации государственного внутреннего валютного облигационного займа (ОВВЗ)
		<br>ОГВЗ - государственного валютного облигационного займа (ОГВЗ)
		<br>ОВОЗ - облигации внешнего облигационного займа Российской Федерации и субъектов Российской Федерации (ОВОЗ)

		<table>
		<tbody>
		<tr><td>Бумага</td><td>ГСО</td><td>ГКО</td><td>ОНЗ</td><td>ОГСЗ</td></tr>
		<tr><td>Круг инвесторов</td><td>пенсионный фонды</td><td>неограничен</td><td>юл - рез. и нерез. РФ</td><td>неограничен</td></tr>
		<tr><td>Обращается</td><td>не обращаются на вторичном рынке</td><td></td><td>не обращаются на вторичном рынке</td><td>внебиржевой</td></tr>
		</tbody>
		</table>