extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование. Курсы"

block content
	h2.text-center Ссылки по теме: "Инвестирование. Курсы"
	article.grid-container
		h3 Бесплатные курсы
		ol
			li [Coursera]
				span.flag_ru &nbsp;
				| Специализация Финансовые инструменты для частного инвестора. "Высшая школа экономики". 
				ol
					li
						span.flag_ru &nbsp;
						a(href="https://www.coursera.org/learn/upravlenie-lichnymi-finansami/") Управление личными финансами
					li
						span.flag_ru &nbsp;
						a(href="https://www.coursera.org/learn/investicii-obligacii/") Инвестиции в облигации
					li
						span.flag_ru &nbsp;
						a(href="https://www.coursera.org/learn/investicii-akcii/") Инвестиции в акции
					li
						span.flag_ru &nbsp;
						a(href="https://www.coursera.org/learn/active-and-passive-portfolio-investment/") Портфельные инвестиции: активные и пассивные стратегии
					li
						span.flag_ru &nbsp;
						a(href="https://www.coursera.org/learn/market-infrastructure-mechanisms-technology-of-investing/") Инфраструктура рынка, методы и технологии инвестирования
			li [Coursera] 
				span.flag_ru &nbsp;
				|Корпоративные финансы и стоимость компании. Русский язык. "Высшая школа экономики".
				ol
					li: a(href="https://www.coursera.org/learn/ocenka-stoimosti-kompanii/") Оценка стоимости компании
					li: a(href="https://www.coursera.org/learn/struktura-kapitala-kompanii/") Структура капитала компании
					li: a(href="https://www.coursera.org/learn/sliyaniye-pogloshcheniye/") Инвестиционные проекты, слияния и поглощения
					li: a(href="https://www.coursera.org/learn/venture-capital/") Венчурный капитал
					li: a(href="https://www.coursera.org/learn/mastering-value-creation/") Управление стоимостью компании
			
			li
				|[Coursera] 
				span.flag_ru &nbsp;
				a(href="https://www.coursera.org/course/macroec") Макроэкономика. 
			li
				|[Coursera] 
				span.flag_ru &nbsp;
				a(href="https://www.coursera.org/learn/ekonomicheskaya-sociologiya/") Экономическая социология. 
			li
				|[Coursera] 
				span.flag_ru &nbsp;
				a(href="https://www.coursera.org/learn/cennye-bumagi-pravovoe-regulirovanie/") Ценные бумаги: правовое регулирование. 
			li 
				| [Coursera] 
				a(href="https://www.coursera.org/course/mathematicalmethods") Mathematical Methods for Quantitative Finance 
			li: a(href="http://ocw.mit.edu/courses/sloan-school-of-management/15-450-analytics-of-finance-fall-2010/") Analytics of Finance [MIT Open Courseware]
			li: a(href="http://ocw.mit.edu/courses/sloan-school-of-management/15-433-investments-spring-2003/") Investments [MIT Open Coursware]
			li 
				| [Edx] 
				a(href="https://learning.edx.org/course/course-v1:IMFx+Ru_FPP.1x+2T2021/home") Финансовое программирование и политика, часть 1: макроэкономические счета и анализ
			