extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование. Курсы"

block content
	div.row: div.large-12.columns: h2 Ссылки по теме: "Инвестирование. Курсы"
	div.row: div.large-12.columns
		div.row
		h3 Бесплатные курсы
		ol
			li [Coursera] Специализация Финансовые инструменты для частного инвестора. Русский язык. "Высшая школа экономики". 
				ol
					li: a(href="https://www.coursera.org/learn/upravlenie-lichnymi-finansami/") Управление личными финансами
					li: a(href="https://www.coursera.org/learn/investicii-obligacii/") Инвестиции в облигации
					li: a(href="https://www.coursera.org/learn/investicii-akcii/") Инвестиции в акции
					li: a(href="https://www.coursera.org/learn/active-and-passive-portfolio-investment/") Портфельные инвестиции: активные и пассивные стратегии
					li: a(href="https://www.coursera.org/learn/market-infrastructure-mechanisms-technology-of-investing/") Инфраструктура рынка, методы и технологии инвестирования
			li [Coursera] Корпоративные финансы и стоимость компании. Русский язык. "Высшая школа экономики".
				ol
					li: a(href="https://www.coursera.org/learn/ocenka-stoimosti-kompanii/") Оценка стоимости компании
					li: a(href="https://www.coursera.org/learn/struktura-kapitala-kompanii/") Структура капитала компании
					li: a(href="https://www.coursera.org/learn/sliyaniye-pogloshcheniye/") Инвестиционные проекты, слияния и поглощения
					li: a(href="https://www.coursera.org/learn/venture-capital/") Венчурный капитал
					li: a(href="https://www.coursera.org/learn/mastering-value-creation/") Управление стоимостью компании
			
			li
				|[Coursera] 
				a(href="https://www.coursera.org/course/macroec") Макроэкономика. 
				| Русский язык.
			li
				|[Coursera] 
				a(href="https://www.coursera.org/learn/ekonomicheskaya-sociologiya/") Экономическая социология. 
				| Русский язык.
			li
				|[Coursera] 
				a(href="https://www.coursera.org/learn/cennye-bumagi-pravovoe-regulirovanie/") Ценные бумаги: правовое регулирование. 
				| Русский язык.
			li: a(href="https://www.coursera.org/course/mathematicalmethods") Mathematical Methods for Quantitative Finance [Coursera]
			li: a(href="http://ocw.mit.edu/courses/sloan-school-of-management/15-450-analytics-of-finance-fall-2010/") Analytics of Finance [MIT Open Courseware]
			li: a(href="http://ocw.mit.edu/courses/sloan-school-of-management/15-433-investments-spring-2003/") Investments [MIT Open Coursware]