extends ../layouts/html_layout.jade

block title
	title= site_title + " Библиотека DX."

block content
	h2.text-center DX библиотека для анализа деривативов
	article.grid-container
		p 
		| DX - библиотека для анализа деривативов с открытым кодом. Расположена на 
		a(href="https://github.com/yhilpisch/dx") github 
		| . В своей книге 
		a(href="http://rutracker.org/forum/viewtopic.php?t=4969145") "Python for Finance" 
		| Yves Hilpisch разбирает части этой библиотеки.
		| Я вместе с автором попробую разобраться, что к чему.	