extends ../layouts/code_layout.jade

block title
	title= site_title + " Ошибки"

block content
	// div.row: div.large-12.columns: h2 Глава 1
	div.row: div.large-12.columns
		div.row
		h3 Работа над ошибками
		div [1] Ценные бумаги, удостоверяющие денежные средства: только чек и банковская книжка на предъявителя.
		div [1] Ограничения обращения инвестиционных паев могут устанавливаться <mark>Федеральным законом</mark>.
		div [2] К основным поставщикам ресурсов на финансовый рынок относятся:
		ul
			li <strike>I. Местные (муниципальные) органы государственной власти</strike>
			li II. Страховые компании;
			li III. Домохозяйства;
			li IV. Паевые инвестиционные фонды;
		div [2] Брокерской деятельностью признается деятельность по исполнению поручения клиента (в том числе эмитента эмиссионных ценных бумаг при их размещении) на совершение гражданско-правовых сделок с ценными бумагами и (или) на заключение договоров, являющихся производными финансовыми инструментами, осуществляемая на основании возмездных договоров с клиентом. <small>Ничего не говориться от имени кого заключаются сделки.</small>
		div [2] Генеральные условия эмиссии и обращения государственных ценных бумаг Российской Федерации утверждает Правительство РФ.
		div [2] Укажите утверждение наиболее полно раскрывающее преимущество коллективного инвестирования в виде <u>профессионального управления</u>. У мелких частных инвесторов нет ни времени, ни знаний в области анализа ситуации и процедур отбора ценных бумаг для их последующей покупки и работы на фондовом рынке, но они хотят иметь те же преимущества от вложения средств, что и крупные профессиональные инвесторы.
		div [2] К профессиональным видам деятельности на рынке ценных бумаг относятся только деятельность по управлению ценными бумагами и деятельность по ведению реестра владельцев ценных бумаг.
		div [1] Простое складское свидетельство является ценной бумагой на предъявителя.
		div [1] С чего начинается процедура эмиссии дополнительных акций? С принятия решения о размещении акций.
		div [1] Добровольное (обязательное) предложение считается сделанным всем владельцам соответствующих ценных бумаг с момента его поступления в <mark> публичное общество</mark>.
		div [2] Отметьте правильное утверждение, касающееся биржевых облигаций:
		ul
			li I. По решению Банка России осуществление биржей допуска биржевых облигаций к организованным торгам может быть приостановлено на срок до одного года;
			li II. Размещение биржевых облигаций, допущенных к организованным торгам, может быть приостановлено по решению биржи в случаях, предусмотренных правилами биржи;
			li III. Облигации выпускаются в документарной форме на предъявителя с обязательным централизованным хранением;
			li <strike>IV. Эмитент биржевых облигаций должен иметь надлежащим образом утвержденную годовую бухгалтерскую отчетность за три завершенных финансовых года.</strike><small>Как раз смысл в том, что отчетности может не быть.</small>
		div [1] Утверждение, не противоречащее законодательству об инвестиционных фондах: управляющая компания может совмещать предусмотренную законом деятельность с деятельностью по управлению ценными бумагами.
		div [1] права владельцев эмиссионных ценных бумаг могут удостоверяться только записями на лицевых счетах в системе ведения реестра
		<mark>в случае именных бездокументарных ценных бумаг</mark>.
		div [2] Какая информация в соответствии с Федеральным законом «О рынке ценных бумаг» должна содержаться в проспекте ценных бумаг?
		ul 
			li I. Информация об эмитенте и его финансово-хозяйственной деятельности
			li II. Информация о планах будущей деятельности эмитента
			li <strike>III. Сведения об участниках (акционерах) эмитента, владеющих не менее чем 1 % его уставного (складочного) капитала</strike>
			li IV. Сведения об объеме, сроке и порядке размещения эмиссионных ценных бумаг.
		div [1] Укажите документы, удостоверяющие права, закрепленные эмиссионной ценной бумагой бездокументарной формы?
		ul
			li <strike>I. Сертификат;</strike><small>У бездокументароной бумаги нет сертификата</small>.
			li II. Решение о выпуске ценных бумаг.
		div [1] В каких случаях права владельцев эмиссионных ценных бумаг могут удостоверяться записями по счетам депо в депозитариях? (все перечисленное)
		ul
			li I. В случае предъявительских документарных ценных бумаг
			li II. В случае именных бездокументарных ценных бумаг

		div [1] Функции центрального контрагента могут осуществлять:
		ul
			li I. Клиринговая организация
			li <strike>II. Профессиональный участник рынка ценных бумаг, получивший аккредитацию на осуществление указанных функций</strike>
			li <strike>III. Банк России</strike>
			li IV. Кредитная организация, получившая аккредитацию на осуществление указанных функций
		div [1] Клиринговой деятельностью является деятельность по оказанию клиринговых услуг в соответствии с утвержденными <mark>клиринговой организацией правилами клиринга</mark>, зарегистрированными в установленном порядке Банком России.
		div [1] Лицо, ответственное за исполнение по документарной ценной бумаге:
		ul
			li I. Вправе выдвигать против требований владельца ценной бумаги только те возражения, которые вытекают из ценной бумаги или основаны на отношениях между этими лицами;
			li <strike>II. Не вправе выдвигать против требований владельца ценной бумаги возражения, которые вытекают из ценной бумаги или основаны на отношениях между этими лицами;
			li III. Отвечает по ценной бумаге в случае, если документ поступил в обращение помимо его воли;
			li IV. Не вправе ссылаться на возражения других лиц, ответственных за исполнение по данной ценной бумаге во всех случаях.</strike>
		div [1] Фондовый рынок классифицируется по видам ценных бумаг и срокам их обращения на денежный рынок и рынок капитала.
		div [1] Составлением и выдачей <mark>коносамента</mark> подтверждается заключение договора <mark>перевозки груза</mark>.
		div [1] Конкурирующее предложение должно быть направлено в публичное общество не позднее чем за 25 дней до истечения срока принятия последнего из ранее полученных обществом предложений.
		div [1] С какого момента у эмитента возникает обязанность по раскрытию информации в форме ежеквартального отчета? Начиная с квартала, <mark>в течение</mark> которого была осуществлена регистрация проспекта ценных бумаг.
		div [1] Денежные средства, полученные кредитным кооперативом от членов кредитного кооператива на основании договоров займа называются <mark>привлеченные средства</mark>.
		div [1] <mark>Диспозитивная норма</mark> - норма, которая применяется постольку, поскольку соглашением сторон не установлено иное.

		div [1] Варрант - залоговое свидетельство, являющееся частью двойного складского свидетельства.
		div [1] Трассант - векселедатель переводного векселя.
		div [1] Трассат - плательщик переводного векселя.
		div [1] Ремитент - векселедержатель переводного векселя.
		div [1] Аваль - гарантия платежа по векселю за любое обязанное по нему лицо.
		div [1] Крупная сделка - более 50% от балансовой стоимости активов общества.
		div [2] За ущерб, причиненный эмитентом владельцу ценных бумаг вследствие содержащейся в зарегистрированном проспекте ценных бумаг недостоверной, неполной и/или вводящей в заблуждение инвестора информации несут ответственность лица, подписавшие или утвердившие проспект ценных бумаг, а также аудиторская организация, составившая аудиторское заключение в отношении бухгалтерской отчетности эмитента.
		div [1] Не относится к основным функциям Центральных банков в экономике <mark>аккумулирование временно свободных средств населения</mark>.
		div [1] К местным налогам в соответствии с Налоговым кодексом Российской Федерации относятся: налог на имущество физических лиц, земельный налог.
		div [1] Брокер обязан возместить за свой счет убытки, причиненные клиенту в случае если ущерб был причинен клиенту вследствие конфликта интересов, о котором клиент не был уведомлен до получения брокером поручения. (п.2 ст.3 ФЗ "О рынке ценных бумаг")