extends ../layouts/html_layout.jade

block title
	title= site_title + " Финансовая статистика по США"

block content
	h2.font-effect-shadow-multiple Финансовая статистика по США
	article.grid-container
		h4 Открытые данные по экономически значимым показателям США
		h4 Открытые данные
		ol
			+mli("en","out", "https://archive.ics.uci.edu/ml/index.php", "архив", "UCI Irvine Machine Learning Repository", "icon")
			+mli("en","out", "https://data.gov/", "data", "US Government", "icon")
			+mli("en","out", "https://data.worldbank.org/", "worldbank", "World Bank Open Data", "icon")
			+mli("en","out", "https://opendata.cern.ch/", "CERN", "", "icon")
			+mli("en","out", "https://data.nasa.gov/", "NASA", "", "icon")
			+mli("en","out", "https://data.fivethirtyeight.com/", "fivethirtyeight", "", "icon")
			
			
		h4 Важные индексы
		ol
			+mli("ru","my", "vix_main.html", "VIX", "Индекс и его производные. Теория. Практика")
			+mli("en","out", "https://www.bls.gov/cpi/news.htm", "CPI (Consumer Price Index)", "Публикуется ежемесячно.")
			li 
				span.flag_en &nbsp;
				| Индекс Consumer Sentiment Мичиганского университета &nbsp;
				a(href='http://www.sca.isr.umich.edu/' target='_blank') &nbsp;
					i.fas.fa-external-link-alt &nbsp;
				| Исследования. &nbsp;
			li 
				span.flag_en &nbsp;
				| Conference Board Consumer Confidence Index
				a(href='https://www.conference-board.org/topics/consumer-confidence' target='_blank') 
					i.fas.fa-external-link-alt &nbsp;
				| Исследования и разбор
			li NFIB Small Business Optimism Index National Federation of Independent Business (NFIB)  
