extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h2 Python для финансовых вычислений
	div.row: div.large-12.columns
		h3 Общие вопросы
		div Для финансовых вычислений на питоне я использую пакет <a href="http://continuum.io/downloads#py34">anaconda для питона версии 3</a>

		div Модуль для финансовых вычислений на питоне <a href="http://matplotlib.org/api/finance_api.html#module-matplotlib.finance">matplotlib.finance</a>

		div Загрузку исторических данных по российскому рынку легко можно сделать на сайте <a href="http://mfd.ru/export">МФД</a>

		div: a(href="http://skillachie.github.io/finsymbols/") Библиотека для вывода символов акций входящих в S&P500 и другие

		div 
			| Супер интересный сайт. И есть супер статья 
			a(href="http://www.turingfinance.com/random-walks-down-wall-street-stochastic-processes-in-python/") Стохастические процессы в финансах на питоне. 
			| и еще 
			a(href="http://turingfinance.com/interactive-stochastic-processes/") стохастические процессы в интерактиве 
			| И сам сайт заслуживает внимания. 
			a(href="https://github.com/StuartGordonReid") Github аккаунт автора этого сайта

		div: strong: a(href="risk.html") Вычисление риск параметров

		ol Модели ценообразования опционов
			li Биноминальная модель ценообразования опциона
			li Биноминальная модель Кокса-Росса-Рубинштейна
			li Модель ценообразования опциона Гармена-Кольхагена
			li Модель ценообразования Кранка-Николсона
			li Модель Блэка
			li Модель Монте-Карло
			li Модели ценообразования опционов на базе кривой доходности

		div: strong: a(href="Black_Scholes_Merton_formula.html") Формула Блэка-Шоулза
		div: strong: a(href="dx_1.html") О библиотеке DX

		h3 Научные библиотеки
			ol
				li: strong: a(href="numpy_index.html") Работа с NumPy
				li: strong: a(href="pandas_index.html") Работа с Pandas

		h3 Библиотеки по трэйдингу для питона
			ol
				li: a(href="http://www.tradingwithpython.com") TradingWithPython	
				li: a(href="https://github.com/quantopian/zipline") ZipLine
				li: a(href="https://github.com/ematvey/pybacktest") PyBacktest	
				li
					a(href="http://mrjbq7.github.io/ta-lib/") TA-Lib
					a(href="http://ta-lib.org/index.html") TA-Lib.org
				li: a(href="http://gbeced.github.io/pyalgotrade/") PyAlgoTrade
				li: a(href="https://github.com/quantopian/pyfolio") PyFolio
				li: a(href="http://www.quantsoftware.org/") библиотека quantsoftware и курс обучения
				

				li: a(href="https://github.com/yhilpisch/dx") DX библиотека для анализа деривативов

		h3 Видео
			ol
				li: a(href="http://www.youtube.com/user/roshanRush/playlists") Научные вычисления			
		h3 Книги
			ol
				li: a(href="http://rutracker.org/forum/viewtopic.php?t=4969145") Yves Hilpisch - Python for Finance: Analyze Big Financial Data [2014, PDF, ENG]	
				li: a(href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1119037999.html") Derivatives Analytics with Python			