extends ../layouts/html_layout.jade
//- http://lms.hse.ru/ap_service.php?getwork=1&guid=30F1EEAE-C018-4B82-8DDE-CD2DB409D556 Анализ стабильности портфеля ценных бумаг
//- https://softalgotrade.com/calculation-statistics/ Статистические параметры для алготрейдинга

block title
	title= site_title + " Python для финансовых вычислений."

block content
	div.row: div.large-12.columns: h2 Python для финансовых вычислений
		| <span><small> Обновлено: январь 2022.</small></span>
	div.row: div.large-12.columns
		h3 Общие вопросы
		div Для финансовых вычислений на питоне я использую пакет <a href="http://continuum.io/downloads#py34">anaconda для питона версии 3</a>

		div Модуль для финансовых вычислений на питоне <a href="http://matplotlib.org/api/finance_api.html#module-matplotlib.finance">matplotlib.finance</a>

		div Загрузку исторических данных по российскому рынку легко можно сделать на сайте <a href="http://mfd.ru/export">МФД</a> или на сайте <a href="https://www.finam.ru/profile/moex-akcii/sberbank/export/">Финам</a>

		div: a(href="http://skillachie.github.io/finsymbols/") Библиотека для вывода символов акций входящих в S&P500 и другие

		ol
			li: strong: a(href="../pandas/pandas_1.html") Работа с Pandas
			li: strong
				a(href="financial_python_example_1.html") Пример. 
				| Линейный график курса рубля.
			li: strong
				a(href="financial_python_example_2.html") Пример. 
				| Различные стандартные отклонения для курса рубля.
			li: strong
				a(href="financial_python_example_3.html") Пример. 
				| Определение стоимости облигаций с фиксированным купоном.				
			li: strong
				a(href="fin_py_ex_EIAgov_API.html") Пример. 
				| Получение данных с сайта EIA - независимого статистического агентства США.
				a(href="https://ru.wikipedia.org/wiki/Energy_Information_Administration") WiKi. 							
			li: strong
				a(href="python_backtesting_bt.html") Работа с библиотекой BT.

		div 
			| Супер интересный сайт. И есть супер статья 
			a(href="http://www.turingfinance.com/random-walks-down-wall-street-stochastic-processes-in-python/") Стохастические процессы в финансах на питоне. 
			| и еще 
			a(href="http://turingfinance.com/interactive-stochastic-processes/") стохастические процессы в интерактиве 
			| И сам сайт заслуживает внимания. 
			a(href="https://github.com/StuartGordonReid") Github аккаунт автора этого сайта

		h3 Сайты
		ol
			li: a(href="http://www.quantatrisk.com/") Quant at Risk
			li: a(href="https://pyquantnews.com/") pyQuantNews
			li: a(href="https://www.quantinsti.com/") quantinsti
			li: a(href="http://quant.stackexchange.com") quant.stackexchange.com
			li
				| не обновлялось с 2016 
				a(href="http://www.turingfinance.com") TuringFinance
			li
				| <span class="label success">устарело</span>
				a(href="http://venjin1.com") Онлайн инструментарий BSM, Volatility etc.
			li
				| <span class="label success">устарело</span>
				a(href="https://mktstk.wordpress.com/") Блог по визуализации финансовых данных

		h3 Соревнования
		ol
			li 
				a(href="http://www.quantiacs.com") Quantiacs. 
				| Можно писать на python
			li 
				a(href="https://quantnet.ai/") quantnet.ai. 
				| Можно писать на python. Русские владельцы. Призы в рублях. Ничего не сказано про авторские права на стратегию!
				
			li: a(href="https://www.quantconnect.com") Quantconnect.
			li
				| <span class="label success">устарело</span>
				a(href="http://hftbattle.com/") High-Frequency Trading Battle. 
				| Соревнование среди алгоритмов высокочастотной торговли. Используемый язык - С. Сайт на русском языке.
				
			li
				| <span class="label success">устарело</span>
				a(href="http://mmcfo.ru/") Молодежный центр изучения финансовых операций. 
				| Проводит разные конкурсы для молодежи(школьников, студентов).
			li 
				| <span class="label success">устарело</span>
				a(href="http://www.quantopian.com/") Quantopian. 
				| Можно писать на python

		h3 Статьи [Финансовые вычисления + python]				
		ol
			li 
				a(href="https://www.quantconnect.com/tutorials/strategy-library") quantconnect 
				| Сборник стратегий с кодом на Python.
			li 
				a(href="https://www.kaggle.com/nvukobrat/mutual-funds-and-etfs-analysis-python") kaggle статья 
				| Mutual Funds and ETFs analysis - Python.
			li 
				a(href="https://algotrading101.com/learn/backtrader-for-backtesting/") статья 
				| Backtrader for backtesting.
			li 
				a(href="https://github.com/nickmccullum/algorithmic-trading-python") статья 
				| algorithmic trading python.
				a(href="https://www.youtube.com/watch?v=xfzGZB4HhEE") видео
			li
				| <span class="label success">устарело</span>
				a(href="https://mktstk.wordpress.com/2015/10/07/how-to-look-up-a-stocks-short-interest-with-python/") how to look up a stocks short interest with python.
			li 
				a(href="http://robusttechhouse.com/bitcoin-trading-strategies-backtest-with-pyalgotrade/") Алгоритм 
				| торговли биткоинами с использованием библиотеки PyAlgoTrade.

			li 
				a(href="http://robusttechhouse.com/python-backtesting-libraries-for-quant-trading-strategies/") Питон библиотеки 
				| для исторического тестирования алгоритмов торговли. 								
			li 
				a(href="http://www.financetoys.com/indexrus.htm") Теория и вычисления на Exel 
				| русская и английская версия сайта.

		div: strong: a(href="risk.html") Вычисление риск параметров

		ol Модели ценообразования опционов
			li Биноминальная модель ценообразования опциона
			li Биноминальная модель Кокса-Росса-Рубинштейна
			li Модель ценообразования опциона Гармена-Кольхагена
			li Модель ценообразования Кранка-Николсона
			li Модель Блэка
			li Модель Монте-Карло
			li Модели ценообразования опционов на базе кривой доходности

		div: a(href="https://quant.stackexchange.com/questions/27741/understanding-yang-zhang-volatility-estimator") Understanding Yang-Zhang Volatility Estimator
		div: a(href="https://github.com/jasonstrimpel/PyData-Meetup") Equity Option Implied Volatility Analytics with Python
		div: a(href="https://quant.stackexchange.com/questions/11306/what-is-the-equation-for-garman-klass-volatility") Формула Garman Klass для волатильности 
		div: strong: a(href="Black_Scholes_Merton_formula.html") Формула Блэка-Шоулза
		div: strong: a(href="dx_1.html") О библиотеке DX

		h3 Научные библиотеки
		ol
			li: strong: a(href="numpy_index.html") Работа с NumPy
			li: strong: a(href="pandas_index.html") Работа с Pandas

		h3 Библиотеки по трэйдингу для питона
		ol
			li: a(href="http://www.tradingwithpython.com") TradingWithPython	
			li: a(href="https://github.com/quantopian/zipline") ZipLine
			li: a(href="https://github.com/ematvey/pybacktest") PyBacktest	
			li
				a(href="http://mrjbq7.github.io/ta-lib/") TA-Lib
				a(href="http://ta-lib.org/index.html") TA-Lib.org
			li: a(href="http://gbeced.github.io/pyalgotrade/") PyAlgoTrade
			li: a(href="https://github.com/quantopian/pyfolio") PyFolio
			li: a(href="http://www.quantsoftware.org/") библиотека quantsoftware и курс обучения
			li: a(href="http://pmorissette.github.io/ffn/index.html") ffn - библиотека финансовых функций
			li 
				a(href="http://pmorissette.github.io/bt/") BT - backtesting
				

				

			li: a(href="https://github.com/yhilpisch/dx") DX библиотека для анализа деривативов

		h3 Видео
		ol
			li: a(href="http://www.youtube.com/user/roshanRush/playlists") Научные вычисления			
		h3 Книги
		ol
			li: a(href="http://rutracker.org/forum/viewtopic.php?t=4969145") [rutracker] Yves Hilpisch - Python for Finance: Analyze Big Financial Data [2014, PDF, ENG]	
			li: a(href="https://rutracker.org/forum/viewtopic.php?t=5176918") [rutracker] Yves Hilpisch - Derivatives Analytics with Python [2015, PDF, ENG]
			li: a(href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1119037999.html") Yves Hilpisch - Derivatives Analytics with Python			
			