extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование"

block content
	div.row: div.large-12.columns: h2 Оглавление раздела "Инвестирование"
	div.row: div.large-12.columns
		div.row
		//	ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.text-center
				li: div.callout.panel: a(href="oil_main.html") Нефть
				li: div.callout.panel: a(href="quant.html") Алгоритмическая торговля
				li: div.callout.panel: a(href="moex_main.html") Работа на ММВБ

		h3 Общие вопросы
		ol
			li: strong: a(href="financial_python_1.html") Python для финансовых вычислений
			li: strong: a(href="quant.html") Алгоритмическая торговля
			li: strong: a(href="teory.html") Теория
			li: strong: a(href="courses.html") Курсы (Инвестиции, финансы, трэйдинг и т.п.)
			li: strong: a(href="fin_statistics.html") Финансовая статистика по РФ(МинФин, ЦБ)
			li: strong: a(href="trading_links.html") Ссылки по теме: "Инвестирование и спекуляции"
			li: strong: a(href="oil_main.html") Ссылки по теме: "Нефть"
			li: strong: a(href="attestation.html") Аттестация специалистов финансового рынка в РФ 
				| <span class="label success">устарело</span>
			li: strong: a(href="moex_main.html") Работа на ММВБ 
				| <span class="label success">устарело</span>
			li: strong: a(href="lua_quik_main.html") Программирование в Quik на QLua 
				| <span class="label success">устарело</span>
			li: strong: a(href="analiz_tarifov_brokerov.html") Российские брокеры и их услуги и тарифы. Анализ. Примеры расчетов. 
				| <span class="label success">устарело</span>
			li: strong: a(href="quik_faq.html") Вопросы по работе клиентской части программы QUIK 
				| <span class="label success">устарело</span>
