extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование"

block content
	h2.font-effect-shadow-multiple "Инвестирование"
	article.grid-container
		div.row
		//	ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.text-center
				li: div.callout.panel: a(href="oil_main.html") Нефть
				li: div.callout.panel: a(href="quant.html") Алгоритмическая торговля
				li: div.callout.panel: a(href="moex_main.html") Работа на ММВБ
		ol
			+mli("ru","my", "financial_python_1.html", "", "Python для финансовых вычислений")
			+mli("ru","my", "trading_links.html", "", "Ссылки по теме: 'Инвестирование и спекуляции'")
			+mli("ru","my", "..\\IB\\ib_main.html", "", "Работа с Interactive Brokers")
			+mli("ru","my", "teory.html", "", "Теория")
			+mli("ru","my", "courses.html", "", "Курсы (Инвестиции, финансы, трэйдинг и т.п.)")
			+mli("ru","my", "fin_statistics_us.html", "", "Финансовая статистика по США")
			+mli("ru","my", "fin_statistics_ru.html", "", "Финансовая статистика по РФ(МинФин, ЦБ)")

			+mli("ru","my", "attestation.html", "", "Аттестация специалистов финансового рынка в РФ", "old")
			+mli("ru","my", "moex_main.html", "", "Торговля на ММВБ", "old")

			//-li: strong: a(href="oil_main.html") Ссылки по теме: "Нефть"

			//-li: strong: a(href="lua_quik_main.html") Программирование в Quik на QLua 
				| <span class="label success">устарело</span>
			//-li: strong: a(href="analiz_tarifov_brokerov.html") Российские брокеры и их услуги и тарифы. Анализ. Примеры расчетов. 
				| <span class="label success">устарело</span>
			//-li: strong: a(href="quik_faq.html") Вопросы по работе клиентской части программы QUIK 
				| <span class="label success">устарело</span>
