extends ../layouts/code_layout.jade

block title
	title= site_title + " Данные по портфелю, информация об аккаунте"

block content
	div.row: div.large-12.columns: h2 Данные по портфелю, информация об аккаунте
	div.row: div.large-12.columns
		h3 Общие вопросы
		div Несколько функций в API подписываются на обновления позиции. Каждый из них следует модели «подписаться и опубликовать», когда делается первоначальный запрос на подписку, затем TWS отправляет полный список всех позиций, соответствующих запросу, а затем продолжает отправлять обновления списка по мере их появления в режиме реального времени. пока подписка не будет отменена.
		ol
			li <b>reqAccountUpdates</b> вызывает возврат информации о позиции и учетной записи для указанной учетной записи. Его можно использовать только с одной учетной записью одновременно.
			li <b>reqPositions</b> подписывается на обновления позиций до 50 учетных записей одновременно.
			li <b>reqPositionsMulti</b> подписывается на обновления позиций в учетной записи и/или модельном портфеле.
		div Важно иметь в виду, что из TWS API доступна только информация о текущих позициях аккаунта, поскольку это единственные данные, доступные в TWS по умолчанию. Информацию об исторических позициях счета можно получить с помощью гибких запросов или выписок в «Управлении счетом»(Account Management). Распространенная путаница связана с остатками денежных средств. Виртуальные денежные позиции, которые не представляют собой реальные денежные остатки, а являются лишь закладками, используемыми форекс-трейдерами для отслеживания сделок, возвращаются с информацией о позиции и представлены форекс-парой, например. евро.доллар США. Реальные остатки денежных средств возвращаются вместе с информацией о счете, обсуждаемой далее, в одной валюте, а не в паре.
		div Информация об учетной записи, такая как чистая ликвидность, остатки денежных средств в разных валютах и данные о необходимой марже, возвращается после вызова нескольких различных функций:
		ol
			li reqAccountUpdates, упомянутый ранее, одновременно запрашивает информацию о позиции и учетной записи для одной учетной записи.
			li reqAccountSummary можно использовать для подписки на обновления данных учетной записи сразу для нескольких учетных записей.
			li reqAccountSummaryMulti можно использовать для подписки на обновления стоимости учетной записи для конкретной учетной записи или модели портфеля.
			
		div Данные учетной записи, запрашиваемые с помощью этих функций, совпадают с данными, отображаемыми в окне учетной записи TWS. При запросе данных счета из API изначально возвращается полный список всех типов данных (ключей счета), а затем отправляются обновления либо при наличии сделки, либо при изменении значения за три минуты. Это соответствует тому же шаблону обновления в окне учетной записи TWS.
		| <br>
		pre
			code.python3
				include code/portfolio_data_tws.py
		| <br>
		div В этом примере показано, как reqAccountUpdates запускает подписку на обновления позиции и значения счета. Существуют обратные вызовы для updateAccountValue с каждым значением учетной записи, за которыми следуют обратные вызовы для updatePortfolio с каждой позицией. После начальных обратных вызовов возвращаются данные для всех ключей учетных записей, есть обратный вызов на accountDownloadEnd. Позже есть отдельные обратные вызовы для элементов, которые изменились.