extends ../layouts/html_layout.jade

block title
	title= site_title + " Начало работы с Interactive Brokers API"

block content
	div.row: div.large-12.columns: h2 Начало работы с Interactive Brokers API
	div.row: div.large-12.columns
		h3 Общие вопросы
		p Скачиваем последнюю версию Trader Workstation(TWS) API - 
			a(href="https://interactivebrokers.github.io") ссылка
		p Устанавливаем последнюю версию python
		h3 Настройки TWS для работы с API
		p Включаем "Enable ActiveX and Socket Clients"
		div По умолчанию TWS использует 7496 порт для реальной торговли и 7497 порт для игровых торгов. IB Gateway по умолчанию использует
		| 4001 порт для реальной торговли и 4002 для игровых торгов. Эти значения можно изменить в пункте "Socket Port" и далее в программе указывать в 
		| параметрах функции <kbd>connect()</kbd>. Далее ставим галочку в пункте "Allow Connections from Localhost Only". Тем самым мы разрешаем подключение к TWS только
		| с локального компьютера и в этом случае не нужно дополнительного подтверждения входящего подключения на стороне TWS.
		img(src="images/start_image_1.png")
		h3 Ссылки по теме
		div: strong: a(href="interactive_brokers_hello_tws.html") Первая простейшая программа
		div tradersacademy.online 
			a(href = "https://tradersacademy.online/trading-topics/trader-workstation-tws/installing-configuring-tws-for-the-api") Installing & Configuring TWS for the API
		h3 Вопрос - ответ
		p Вопрос. Предоставляет ли IB хостинг своим клиентам для автоматической торговли?
		p Ответ. Нет.
