extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование"

block content
	div.row: div.large-12.columns: h2 Работа с Interactive Brokers
	div.row: div.large-12.columns
		h3 Общие вопросы
		ol
			li
				span.flag_en &nbsp;
				|&nbsp;<i class="fab fa-github"></i>&nbsp; 
				a(href="https://interactivebrokers.github.io")
					i.fas.fa-external-link-alt &nbsp;
				| download tws api
			li
				span.flag_en &nbsp;
				|&nbsp;<i class="fab fa-github"></i>&nbsp; 
				a(href="https://interactivebrokers.github.io/tws-api/")
					i.fas.fa-external-link-alt &nbsp;
				| API Reference Guide
			li Использование нативного API
				ol
					li
						span.flag_en &nbsp;
						| TradersAcademy.online 
						a(href="https://tradersacademy.online/trading-courses/python-tws-api")
							i.fas.fa-external-link-alt &nbsp;
						| Course python tws api
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_start.html") 
							i.far.fa-eye &nbsp;
						| Начало работы с IB TWS API
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_hello_tws.html") 
							i.far.fa-eye &nbsp;
						| Первая простейшая программа 
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_hello_world_tws.html") 
							i.far.fa-eye &nbsp;
						| Программа "hello world"
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_market_data_tws.html") 
							i.far.fa-eye &nbsp;
						| Получение рыночных данных 
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_history_forex_tws.html") 
							i.far.fa-eye &nbsp;
						| Получение исторических значений свечей для FOREX
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_orders_tws.html") 
							i.far.fa-eye &nbsp;
						| Выставление ордеров
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_options_tws.html") 
							i.far.fa-eye &nbsp;
						| Опционная доска 
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_portfolio_data_tws.html") 
							i.far.fa-eye &nbsp;
						| Данные по портфелю, информация об аккаунте
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_pair_trading_tws.html") 
							i.far.fa-eye &nbsp;
						| Парная торговля через API
					li Примеры написания кода для выставления разных ордеров
						ol
							li
								span.flag_ru &nbsp;
								strong: a(href="interactive_brokers_bracket_orders_tws.html") 
									i.far.fa-eye &nbsp;
								| Объединенные ордера (Bracket Orders)
							li
								span.flag_ru &nbsp;
								strong: a(href="interactive_brokers_trailing_limit_orders_tws.html") 
									i.far.fa-eye &nbsp;
								| Скользящий лимитированный стоп ордер (Trailing Stop Limit)
							//li
								span.flag_ru &nbsp;
								strong: a(href="")
							//li
								span.flag_ru &nbsp;
								strong: a(href="")
					//li
						span.flag_ru &nbsp;
						strong: a(href="") 
					//li: strong: a(href="") 
			li Использование библиотеки ib_insync
					
			li Правила
				ol
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2189")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-info-circle &nbsp;
						| Добро пожаловать Interactive Brokers
					li 
						span.flag_en &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/article/1736")
							i.fas.fa-external-link-alt &nbsp;
						| Overview of SEC Fees
					li 
						span.flag_en &nbsp;
						| guides.interactivebrokers.com 
						a(href="https://guides.interactivebrokers.com/cp/cp.htm")
							i.fas.fa-external-link-alt &nbsp;
						| Руководство по клиентскому порталу
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1184") 
							i.fas.fa-external-link-alt &nbsp;
						span.flag_en &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/article/1184") 
							i.fas.fa-external-link-alt &nbsp;
						| Регуляторный сбор по опционам (ORF) 
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1287")
							i.fas.fa-external-link-alt &nbsp;
						| Обзор комиссий и сборов
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2816")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-cogs &nbsp;
						| Документация о хостах и портах IBKR
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3449")
							i.fas.fa-external-link-alt &nbsp;
						| Информация об оповещениях от Interactive Brokers относительно ограничений цены
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1912")
							i.fas.fa-external-link-alt &nbsp;
						| Обзор предлагаемых IBKR CFD на акции
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3060")
							i.fas.fa-external-link-alt &nbsp;
							i.fab.fa-bitcoin &nbsp;
						| Криптовалютные продукты, доступные в IBKR
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1131")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-user-secret &nbsp;
						| Информация о "Системе безопасного входа"
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1861")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-user-secret &nbsp;
						| Плата за замену устройства безопасности
					li 
						span.flag_en &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/article/971")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-dollar-sign &nbsp;
						| Currency Margin Calculation (Withdrawals)
					li 
						span.flag_en &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/article/970")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-dollar-sign &nbsp;
						| Currency Margin Calculation
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3956")
							i.fas.fa-external-link-alt &nbsp;
						| Внебиржевой рынок (акции с микрокапитализацией) – изменение Правила 15c2-11 SEC
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2930")
							i.fas.fa-external-link-alt &nbsp;
						| Общие сведения о расчете T+2
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1839")
							i.fas.fa-external-link-alt &nbsp;
						| Программа повышения доходности акций в IBKR
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1838")
							i.fas.fa-external-link-alt &nbsp;
						| Программа повышения доходности акций (SYEP): ЧаВО
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/201")
							i.fas.fa-external-link-alt &nbsp;
						| Добавление/удаление ликвидности
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2892")
							i.fas.fa-external-link-alt &nbsp;
						| Ограничения для Microcap-акций США
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1267")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-dollar-sign &nbsp;
						| Введение в торговлю валютой 
						small: sup 1267
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2840")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Выбор подписки на рыночные данные США (для непрофессионалов) 
						small: sup 2840
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2830-1")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Сводки рыночных данных 
						small: sup 2830-1
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2966")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Время отставания рыночных данных 
						small: sup 2966
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1852")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Биржевая плата за доступ к рыночным данным 
						small: sup 1852
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2843")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Доступ к рыночным данным: профессиональное и непроессиональное использование 
						small: sup 2843
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2583")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Рыночные данные: Анкета для непрофессионалов 
						small: sup 2583
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3105")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
						| Рыночные данные: Минимальные требования к капиталу 
						small: sup 3105
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3061")
							i.fas.fa-external-link-alt &nbsp;
							i.far.fa-newspaper &nbsp;
							i.fab.fa-bitcoin &nbsp;
						| Рыночные данные о криптовалютных продуктах 
						small: sup 3061
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/1767")
							i.fas.fa-external-link-alt &nbsp;
						| Ликвидация по истечении 
						small: sup 1767
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/729")
							i.fas.fa-external-link-alt &nbsp;
						| Где можно узнать дополнительную информацию об опционах? 
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2133")
							i.fas.fa-external-link-alt &nbsp;
						| Доходы (по акциям приминительно к опционам) 
						small: sup 2133
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3059")
							i.fas.fa-external-link-alt &nbsp;
							i.fab.fa-bitcoin &nbsp;
						| Bitcoin и другие криптовалютные продукты в IBKR 
						small: sup 3059
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3049-0")
							i.fas.fa-external-link-alt &nbsp;
							i.fab.fa-bitcoin &nbsp;
						| Торговля фьючерсами на криптовалюту через IBKR 
						small: sup 3049-0
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3137")
							i.fas.fa-external-link-alt &nbsp;
						| Внебиржевые фьючерсы IBKR на металлы LME – Факты и частые вопросы 
						small: sup 3137
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2707")
							i.fas.fa-external-link-alt &nbsp;
							i.fas.fa-dollar-sign &nbsp;
						| Forex CFD IB: Факты и частые вопросы 
						small: sup 2707
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2784")
							i.fas.fa-external-link-alt &nbsp;
						| Единый стандарт отчетности (CRS) 
						small: sup 2784
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/576")
							i.fas.fa-external-link-alt &nbsp;
						| Как торговать акциями до или после открытия рынка? 
						small: sup 576
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2949")
							i.fas.fa-external-link-alt &nbsp;
						| Методика вычисления действующих ставок 
						small: sup 2949
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/2958")
							i.fas.fa-external-link-alt &nbsp;
						| Расчет ставок-ориентиров - Принципы фиксинга 
						small: sup 2958
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/941")
							i.fas.fa-external-link-alt &nbsp;
						| Налоги: Неамериканские физические и юридические лица - Форма 1042-S 
						small: sup 941
					li 
						span.flag_ru &nbsp;
						| ibkr.info 
						a(href="https://ibkr.info/ru/article/3441")
							i.fas.fa-external-link-alt &nbsp;
						| Ограничения на перевод средств 
						small: sup 3441
					li 
						span.flag_en &nbsp;
						| ibkr.info 
						a(href="https://kb.clientam.com/node/2837")
							i.fas.fa-external-link-alt &nbsp;
						| Withholding Tax on Dividend Equivalent Payments - FAQs 
						small: sup 2837
		h3 Статьи
		ol
			li
				span.flag_ru &nbsp;
				| absolem.info 
				a(href="financial_python_1.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
				| Python для финансовых вычислений
			li
				span.flag_en &nbsp;
				| algotrading101.com 
				a(href="https://algotrading101.com/learn/interactive-brokers-python-api-native-guide/"): i.fas.fa-external-link-alt &nbsp;
				| Нативное использование IB API
			li
				span.flag_en &nbsp;
				a(href="https://anaconda.org/camizulub/stock_trading_with_interactive_brokers/notebook"): i.fas.fa-external-link-alt &nbsp;
				| Notebook IB API
			li
				span.flag_en &nbsp;
				a(href="https://dimon.ca/dmitrys-tws-api-faq/"): i.fas.fa-external-link-alt &nbsp;
				| dmitrys tws api faq
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/erdewit/ib_insync"): i.fas.fa-external-link-alt &nbsp;
				| ib_insync
			li
				span.flag_en &nbsp;
				| algotrading101.com 
				a(href="https://algotrading101.com/learn/ib_insync-interactive-brokers-api-guide/"): i.fas.fa-external-link-alt &nbsp;
				| ib_insync Guide – Interactive Brokers API
			li
				span.flag_en &nbsp;
				| tradersinsight.news 
				a(href="https://www.tradersinsight.news/category/ibkr-quant-news/api_development/"): i.fas.fa-external-link-alt &nbsp;
				| Interactive Brokers API development
			li
				span.flag_en &nbsp;
				| tradersinsight.news 
				strong: a(href="https://www.tradersinsight.news/ibkr-quant-news/implementing-market-scanners-using-tws-api-part-ii/"): i.fas.fa-external-link-alt &nbsp;
				| Implementing Market Scanners using TWS API – Part II
			li
				span.flag_en &nbsp;
				| tradersinsight.news 
				strong: a(href="https://www.tradersinsight.news/ibkr-quant-news/historical-options-futures-data-using-tws-api-part-ii/"): i.fas.fa-external-link-alt &nbsp;
				| Historical Options & Futures Data using TWS API – Part II
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				strong: a(href="https://github.com/jasonstrimpel/High-Frequency-Trading-Model-with-IB"): i.fas.fa-external-link-alt &nbsp;
				| A high-frequency trading model using Interactive Brokers API with pairs and mean-reversion in Python
