extends ../layouts/code_layout.jade

block title
	title= site_title + " Interactive Brokers API 'Hello World'"

block content
	div.row: div.large-12.columns: h2 Interactive Brokers API "Hello World"
	div.row: div.large-12.columns
		h3 Общие вопросы

		pre
			code.python3
				include code/hello_world_tws.py
				
		p При запуске данной программы вы должны получить примерно такой вывод:
		img(src = "images/hello_world_image_1.JPG")
		div В данном случае мы корректно присоединились к TWS и получили детальные данные по контракту, как и предполагалось.
		| Можно переходить к следующему шагу.
		h3 Ссылки по теме
		div tradersacademy.online 
			a(href = "https://tradersacademy.online/trading-topics/trader-workstation-tws/essential-components-of-tws-api-programs") Essential components of TWS API programs
