extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование"

block content
	div.row: div.large-12.columns: h2 Работа с Interactive Brokers
	div.row: div.large-12.columns
		h3 Общие вопросы
		ol
			li
				span.flag_en &nbsp;
				|&nbsp;<i class="fab fa-github"></i>&nbsp; 
				a(href="https://interactivebrokers.github.io"): i.fas.fa-external-link-alt &nbsp;
				| download tws api
			li
				span.flag_en &nbsp;
				|&nbsp;<i class="fab fa-github"></i>&nbsp; 
				a(href="https://interactivebrokers.github.io/tws-api/"): i.fas.fa-external-link-alt &nbsp;
				| API Reference Guide
			li Использование нативного API
				ol
					li
						span.flag_en &nbsp;
						| TradersAcademy.online 
						a(href="https://tradersacademy.online/trading-courses/python-tws-api"): i.fas.fa-external-link-alt &nbsp;
						| Course python tws api
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_start.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Начало работы с IB TWS API
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_hello_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Первая простейшая программа 
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_hello_world_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Программа "hello world"
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_market_data_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Получение рыночных данных 
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_history_forex_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Получение исторических значений свечей для FOREX
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_orders_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Выставление ордеров
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_options_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Опционная доска 
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_portfolio_data_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Данные по портфелю, информация об аккаунте
					li
						span.flag_ru &nbsp;
						strong: a(href="interactive_brokers_pair_trading_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
						| Парная торговля через API
					li Примеры написания кода для выставления разных ордеров
						ol
							li
								span.flag_ru &nbsp;
								strong: a(href="interactive_brokers_bracket_orders_tws.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
								| Объединенные ордера (Bracket Orders)
							li
								span.flag_ru &nbsp;
								strong: a(href="")
							li
								span.flag_ru &nbsp;
								strong: a(href="")
					li
						span.flag_ru &nbsp;
						strong: a(href="") 
					li: strong: a(href="") 
			li Использование библиотеки ib_insync
				ol
					li: strong: a(href="") 
					li: strong: a(href="") 
					li: strong: a(href="") 
					
			li: strong: a(href="") 
			li: strong: a(href="") 
			li: strong: a(href="") 
		h3 Статьи
		ol
			li
				span.flag_ru &nbsp;
				| absolem.info 
				a(href="financial_python_1.html") &nbsp;<i class="far fa-eye"></i>&nbsp;
				| Python для финансовых вычислений
			li
				span.flag_en &nbsp;
				| algotrading101.com 
				a(href="https://algotrading101.com/learn/interactive-brokers-python-api-native-guide/"): i.fas.fa-external-link-alt &nbsp;
				| Нативное использование IB API
			li
				span.flag_en &nbsp;
				a(href="https://anaconda.org/camizulub/stock_trading_with_interactive_brokers/notebook"): i.fas.fa-external-link-alt &nbsp;
				| Notebook IB API
			li
				span.flag_en &nbsp;
				a(href="https://dimon.ca/dmitrys-tws-api-faq/"): i.fas.fa-external-link-alt &nbsp;
				| dmitrys tws api faq
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/erdewit/ib_insync"): i.fas.fa-external-link-alt &nbsp;
				| ib_insync
			li
				span.flag_en &nbsp;
				| algotrading101.com 
				a(href="https://algotrading101.com/learn/ib_insync-interactive-brokers-api-guide/"): i.fas.fa-external-link-alt &nbsp;
				| ib_insync Guide – Interactive Brokers API
			li
				span.flag_en &nbsp;
				| tradersinsight.news 
				a(href="https://www.tradersinsight.news/category/ibkr-quant-news/api_development/"): i.fas.fa-external-link-alt &nbsp;
				| Interactive Brokers API development
			li
				span.flag_en &nbsp;
				| tradersinsight.news 
				strong: a(href="https://www.tradersinsight.news/ibkr-quant-news/implementing-market-scanners-using-tws-api-part-ii/"): i.fas.fa-external-link-alt &nbsp;
				| Implementing Market Scanners using TWS API – Part II
			li
				span.flag_en &nbsp;
				| tradersinsight.news 
				strong: a(href="https://www.tradersinsight.news/ibkr-quant-news/historical-options-futures-data-using-tws-api-part-ii/"): i.fas.fa-external-link-alt &nbsp;
				| Historical Options & Futures Data using TWS API – Part II
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				strong: a(href="https://github.com/jasonstrimpel/High-Frequency-Trading-Model-with-IB"): i.fas.fa-external-link-alt &nbsp;
				| A high-frequency trading model using Interactive Brokers API with pairs and mean-reversion in Python
