// main file: financial_python_1.pug

h3(id="libs") Финансовые библиотеки для питона
ol 
	li Сборники ссылок
		ol
			+mli("en", "out", "https://github.com/wilsonfreitas/awesome-quant", "wilsonfreitas - awesome-quant", "сборник ссылок на ресурсы по финансовым вычислениям не только на питоне", "github")
			+mli("en", "out", "https://github.com/theoneandonlywoj/Courses", "theoneandonlywoj - Courses", "сборник ссылок на курсы по финансовым вычислениям в формате ipynb", "github")
			+mli("en", "out", "https://github.com/MaxBenChrist/awesome_time_series_in_python", "MaxBenChrist - awesome time series in python", "сборник ссылок на библиотеки по анализу временных рядов", "github")
			+mli("en", "out", "https://github.com/cantaro86/Financial-Models-Numerical-Methods", "cantaro86 - Financial Models Numerical Methods", "Коллекция ipynb", "github")
			+mli("en", "out", "https://github.com/rsvp/fecon235", "rsvp - Notebooks for financial economics", "fecon235: Коллекция ipynb", "github")
			+mli("en", "out", "https://irosyadi.gitbook.io/irosyadi/note/awesome-jupyter", "irosyadi - awesome-jupyter", "awesome-jupyter", "github")
			+mli("en", "out", "https://github.com/maread99/awesome-quant", "maread99 - awesome quant", "awesome quant", "github")
			+mli("en", "out", "https://github.com/markusschanta/awesome-jupyter", "markusschanta - awesome-jupyter", "awesome-jupyter", "github")
	+mli("en", "out", "https://quantecon.org/", "QuantEcon.org", "Open source code for economic modeling. Много ipynb, notebooks, лекций, книг.", "heartbeat", "github")


	li
		span.flag_en &nbsp;
		i.fas.fa-heartbeat &nbsp;
		| domokane 
		a(href="https://github.com/domokane/FinancePy" target="_blank") 
			i.fas.fa-external-link-alt &nbsp;
		| FinancePy - финансовая библиотека 
		a(href="https://github.com/domokane/FinancePy/tree/master/notebooks" target="_blank") 
			i.fas.fa-external-link-alt &nbsp;
			| ipynb
	li
		span.flag_en &nbsp;
		i.fas.fa-heartbeat &nbsp;
		| statsmodels.org 
		a(href="https://www.statsmodels.org/stable/index.html" target="_blank") 
			i.fas.fa-external-link-alt &nbsp;
		| statsmodels - 
		| статистические модели, анализ временных рядов
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		i.fas.fa-heartbeat &nbsp;
		a(href="https://github.com/Nasdaq/data-link-python" target="_blank") 
			i.fas.fa-external-link-alt &nbsp;
		| Nasdaq data link python - 
		| данные с биржи Nasdaq
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/mcdallas/wallstreet" target="_blank") wallstreet 
		| Данные из Google finance по акциям и опционам
	li
		span.flag_en &nbsp;
		a(href="https://www.tradingwithpython.com" target="_blank") TradingWithPython 
		
	li Библиотеки по трэйдингу и историческому тестированию 
		ol
			+mli("en", "out", "https://github.com/abbass2/pyqstrat", "abbass2/pyqstrat", "обновлено: 22.04.2023", "github")
			+mli("en", "out", "https://github.com/enzoampil/fastquant", "enzoampil/fastquant", "обновлено: 02.06.2023", "github")
			+mli("en", "out", "https://github.com/cuemacro/finmarketpy", "finmarketpy", "обновлено: 26.04.2023", "github")
			+mli("en", "out", "https://github.com/Blankly-Finance/Blankly", "Blankly", "Библиотека интегрируется с криптобиржами. Обновлено: 11.07.2023", "github")
			+mli("en", "out", "https://github.com/quantopian/zipline", "quantopian/ZipLine", "обновлено: 14.10.2020", "github")
			+mli("en", "out", "https://github.com/TA-Lib/ta-lib-python", "ta-lib-python", "обновлено: 14.07.2023", "github")
			+mli("en", "out", "http://pmorissette.github.io/bt/", "pmorissette/BT", "backtesting обновлено: on 23.05.2023", "github")

			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/ematvey/pybacktest" target="_blank") PyBacktest 
				| обновлено: 09.09.2019 
				i.fas.fa-blind &nbsp;
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="http://gbeced.github.io/pyalgotrade/" target="_blank") PyAlgoTrade 
				| обновлено: 20.08.2018
				i.fas.fa-blind &nbsp;
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/quantopian/pyfolio" target="_blank") PyFolio 
				| обновлено: 15.07.2020 
				i.fas.fa-blind &nbsp;
	li 
		span.flag_en &nbsp;
		| notebook.community 
		a(href="https://notebook.community/" target="_blank") notebook.community 
		|- разные ipynb
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/approximatelabs/sketch" target="_blank") sketch 
		|- AI помошник для pandas

	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		i.fas.fa-heartbeat &nbsp;
		a(href="https://github.com/dbrojas/optlib" target="_blank") OptLib 
		| - библиотека по вычислению премий опционов. Есть много теории 
		i.fas.fa-book-open &nbsp;
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/federicomariamassari/willowtree" target="_blank") willowtree 
		| - implementation of Michael Curran's derivatives pricing model of the same name.
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="http://pmorissette.github.io/ffn/index.html" target="_blank") <b>ffn</b> 
		| - библиотека финансовых функций
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		i.fas.fa-blind &nbsp;
		a(href="http://skillachie.github.io/finsymbols/" target="_blank") <b>finsymbols</b> 
		| - библиотека для вывода символов акций входящих в S&P500 и другие
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/yhilpisch/dx" target="_blank") <b>DX</b> 
		| библиотека для анализа деривативов
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/matplotlib/mplfinance" target="_blank") mplfinance 
		| Financial Markets Data Visualization using Matplotlib <b>NB!</b>
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/gabrielepompa88/pyBlackScholesAnalytics" target="_blank") <b>pyBlackScholesAnalytics</b> 
		| <b>NB!</b> 
		i.fas.fa-book-open
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/jasonstrimpel/volatility-trading" target="_blank") A complete set of volatility estimators based on Euan Sinclair's Volatility Trading
	li Работа с данными Yahoo Finance
		ol
			li
				span.flag_en &nbsp;
				| pypi 
				a(href="https://pypi.org/project/yfinance/" target="_blank") <b>yfinance</b> 
				| - Download market data from Yahoo! Finance's API
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp; 
				a(href="https://github.com/JECSand/yahoofinancials" target="_blank") <b>yahoofinancials</b> 
				| - A powerful financial data module used for pulling data from Yahoo Finance.
			li
				span.flag_en &nbsp;
				| theautomatic.net 
				a(href="http://theautomatic.net/yahoo_fin-documentation/" target="_blank") <b>yahoo_fin</b> 
				| Python wrapper yahoo finance
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/pydata/pandas-datareader" target="_blank") <b>pandas-datareader</b> 
		| - Extract data from a wide range of Internet sources into a pandas DataFrame
	li Работа с данными FRED® API
		ol
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				| 7astro7 
				a(href="https://github.com/7astro7/full_fred" target="_blank") <b>full_fred</b> 
				| Python interface to FRED
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				| jjotterson 
				a(href="https://github.com/jjotterson/datapungi_fed" target="_blank") <b>datapungi_fed</b> 
				| Python Client for FRED® API
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				| letsgoexploring 
				a(href="https://github.com/letsgoexploring/fredpy" target="_blank") <b>fredpy</b> 
				| Python module for easily retrieving and manipulating data series from Federal Reserve Economic Data. 
				| Есть примеры использования. 
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				| avelkoski 
				a(href="https://github.com/avelkoski/FRB" target="_blank") <b>FRB</b> 
				| Python Client for FRED® API 
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				| mortada 
				a(href="https://github.com/mortada/fredapi" target="_blank") <b>fredapi</b> 
				| Python API for the FRED data provided by the Federal Reserve Bank of St. Louis.
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				| zachwill 
				a(href="https://github.com/zachwill/fred" target="_blank") <b>fred</b> 
				| Python wrapper of the St. Louis Federal Reserve Bank's
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/AminHP/gym-anytrading" target="_blank") <b>gym-anytrading</b> 
		| -  is a collection of OpenAI Gym environments for reinforcement learning-based trading algorithms
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/AminHP/gym-mtsim" target="_blank") <b>gym-mtsim</b> 
		| -  OpenAI Gym - MetaTrader 5 Simulator
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/hsjharvey/Option-Pricing" target="_blank") hsjharvey 
		| Option-Pricing. Толи библиотека, толи лаба.
	li
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/jkirkby3/PROJ_Option_Pricing_Matlab" target="_blank") jkirkby3 
		| PROJ_Option_Pricing_Matlab.
	li 
