extends ../layouts/html_layout.jade

block title
	title= site_title + " Программирование в Quik на Lua"

block content
	div.row: div.large-12.columns: h2 Ссылки по теме: "Программирование в Quik на Lua"
	div.row: div.large-12.columns
		div.row
		h3 Общие вопросы
		ol
			li: a(href="http://arqatech.com/ru/support/files/") Официальная документация по QLua
			li: a(href="http://robostroy.ru/community/article.aspx?id=792") QLua для чайников
			li: a(href="https://github.com/rjpcomputing/luaforwindows/releases") Lua для Windows
			li: a(href="https://github.com/LewisJEllis/awesome-lua") ссылки на Lua ресурсы
			li: a(href="http://rusalgo.com/article/qpile-i-qlua") ссылка
			li: a(href="http://www.coppeliarobotics.com/helpFiles/en/luaCrashCourse.htm") ссылки на Lua ресурсы
