extends ../layouts/code_layout.jade

block title
	title= site_title + " Торговля на ММВБ"

block content
	div.row: div.large-12.columns: h3 Расчет бириржевого сбора за заключение маржируемых опционных контрактов
	div.row: div.large-12.columns
		h3 Фомула
		p.text-justify
		| 
		|\[ OptFee = Round \left(min \left[ (FutFee \times K); Round \left( Premium \times Round\left( \frac{W(o)}{R(o)};5 \right) ;2 \right) \times BaseOptFee \right] ;2\right)     \]
		div Параметры:
		<br> OptFee - величина биржевого сбора за заключение опциона (в российских рублях);
		<br> FutFee - величина биржевого сбора за заключение <b>фьючерса</b>, являющегося базовым активом опциона, определяемая в соответствии с пунктом 3.1 Тарифов (в российских рублях);
		<br> W(o) - стоимость минимального шага цены опциона, определяемая в соответствии со Спецификацией соответствующего опциона (в российских рублях);
		<br> R(o) - минимальный шаг цены опциона, определяемый в соответствии со Спецификацией соответствующего опциона;
		<br> Premium - значение премии по опциону;
		<br> K = 2
		<br> BaseOptFee = 0,06325
		<br> 
		h3 Пример расчета
		<br> Для опционов на крос-курс рубль-доллар. Базовый фьючерсный контракт Si
		<br> OptFee - величина биржевого сбора за заключение опциона (в российских рублях);
		<br> FutFee - величина биржевого сбора за заключение <b>фьючерса</b>, являющегося базовым активом опциона, на момент написания примера = 1,06
		<br> W(o) = 1
		<br> R(o) = 1
		<br> Premium - возьмем для примера премию  = 1000
		<br> K = 2
		<br> BaseOptFee = 0,06325
		<br> Получаем ответ: 2,12 рубля
