extends ../layouts/code_layout.jade

block title
	title= site_title + " Расчет ГО для фьючерсного контракта"

block content
	h2.text-center Расчет ГО для фьючерсного контракта
	article.grid-container
		h3 Общие вопросы

		div ГО(гарантийное обеспечение) для фьючерсного контракта, заключаемого по расчетной цене, находится по формуле:
		p 
		|\begin{equation}
		| ГО = ГО_{\text{в пунктах}} \times \frac {MisStepPrice}{MinStep} \times (1 + \frac{R}{100})\\	
		|\end{equation}	

		ul Где:
			li \( MinStep \) – минимальный шаг цены;
			li \( MinStepPrice \) – стоимость минимального шага цены;
			li \( R \) – радиус валютного курса;
		|\begin{equation}
		| R = 2 \times \frac {ГО_{Т-1}}{РЦ_{Т-1}}
		|\end{equation}
		ul Где:
			li \(ГО_{Т-1} \) – базовый размер гарантийного обеспечения, установленный в вечерней клиринговой сессии предыдущего торгового дня Т-1 
				| по основному фьючерсному контракту на курс рубль-доллар;
			li \( РЦ_{Т-1} \) – расчетная цена, установленная для вечерней клиринговой сессии предыдущего торгового дня Т-1 по основному фьючерсному 	
				| контракту на курс рубль-доллар.
		div Здесь R – радиус валютного курса (обуславливается риском изменения валютного курса). Алгоритм расчета радиуса валютного курса упоминается на 
			a(href="http://moex.com/s206") странице.

		div ГО в пунктах равно 2 * лимит. Здесь (http://moex.com/s206#param) приведены минимальные значения лимитов. Фактические значения 
			| лимитов определяются в соответствии с методологией, описанной здесь: http://moex.com/a1463

		div Готовые данные о лимитах и размерах ГО публикуются на странице 
			a(href="http://moex.com/ru/derivatives/go.aspx?type=F") гарантийное обеспечение по фьючерсным контрактам.
		div Для контрактов, заключаемых по цене отличной от расчетной, ГО находится по 
			a(href="http://fs.moex.com/files/10690") методологии 

		h3 Пример расчета
		div Приведем пример расчета ГО на индекс РТС
		div В quick транслируется ГО при покупке фьючерса по расчетной цене:
			| ГО = 2 * L * (MinStepPrice/ MinStep) * (1 + R / 100) = 8560 * (12.81 / 100) * 1.16 = 12 721,92 (различия в последних знаках 
			| из-за большой точности расчета переменных)

		h3 Ссылки по теме
		ol
			li: a(href="http://forum.moex.com/viewtopic.asp?p=173118") форум. тема: Коллизии и алогизм с новым ГО на валютных фьючерсах
			li: a(href="http://forum.moex.com/viewtopic.asp?t=30287") форум. тема: Расчет ГО в конкретный день
			li: a(href="http://moex.com/s95") Гарантийная система рынка фьючерсов и опционов