extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h3 Работа с NumPy
	div.row: div.large-12.columns

		div: a(href="http://habrahabr.ru/post/121031/") NumPy, пособие для новичков. Часть 1