extends ../layouts/html_layout.jade

block title
	title= site_title + " Нефть"

block content
	div.row: div.large-12.columns: h2 Ссылки по теме: "Нефть"
	div.row: div.large-12.columns
		li Общие
			ol
				li: a(href="http://www.opec.org") OPEC
				li: a(href="https://www.iea.org/") International Energy Agency(IEA) Международное энергетическое агентство (МЭА)
				li: a(href="http://minenergo.gov.ru/") Министерство Энергетики Российской Федерации