extends ../layouts/html_layout.jade


block title
	title= site_title + " ПРИНЦИПЫ РАСЧЕТА ГАРАНТИЙНОГО ОБЕСПЕЧЕНИЯ"

block content

	// {content: counter(par-num, upper-roman) ". "}	
	style.
		ol>li{
		display:block;
		}

		ol>li:before{
		font-size: 1.0rem;
		font-weight: 300;		
		content: "Статья " counters(item,".") ". ";
		counter-increment:item
		}
		ol{
		counter-reset:item
		}

	//h4:before { 
		counter-increment: par-num;
		content: "Статья. " counter(par-num, upper-roman);
		display: inline;
		}	
	div.row: div.large-12.columns 
		h3 Пинципы расчета гарантийного обеспечения <br> БАНКА «НАЦИОНАЛЬНЫЙ КЛИРИНГОВЫЙ ЦЕНТР» <br> (акционерное общество) <br> на срочном рынке
	div.row: div.large-12.columns
		ol
			li 
				strong Определения</strong>
				| 
				div 
					| <strong>Клиринговый центр</strong> – Банк «Национальный Клиринговый Центр» (Акционерное общество).<br>
					| <strong>Правила клиринга</strong> – Правила клиринга ЗАО АКБ «Национальный Клиринговый Центр» на срочном рынке.<br>
					| <strong>Расчетная фирма</strong> – Группа разделов клиринговых регистров, объединенных в учете Клирингового центра.<br>
					| <strong>Инструмент</strong> - фьючерсный контракт с определенным базовым активом и датой исполнения; серия опционных контрактов.
				div.text-justify Термины используются в настоящем документе в значениях, определенных законодательством Российской Федерации, 
					| Правилами клиринга и Правилами организованных торгов на Срочном рынке ОАО Московская Биржа.
			li
				| <strong>Общие положения</strong>
				ol
					li В настоящем документе приведено описание основных принципов вычисления Гарантийного обеспечения.
					li.text-justify Основу алгоритма составляет сценарный подход. В рамках сценарного подхода для каждой группы инструментов 
						| рассматривается набор 
						| сценариев по изменению параметров, определяющих цены инструментов, входящих в группу:
						ul
							li цена фьючерсного контракта;
							li цена базового актива при экспирации опционов;
							li волатильность опциона.
						|Каждый сценарий представляет собой определенный набор указанных выше
						|параметров.<br>
						|Группу инструментов составляют фьючерсный контракт и, при их наличии,
						|опционы, базовым активом которых является указанный фьючерсный контракт.<br>
						|Базовым активом группы является фьючерсный контракт, входящий в данную
						|группу.

					li.text-justify 
						| Сценарии по изменению цены фьючерсного контракта являются набором из
						| равноудалённых друг от друга точек (сценариев), каждая из которых представляет
						| собой цену фьючерсного контракта. В результате клиринговой сессии определяется
						| набор сценариев в диапазоне [Расчетная цена -2L; Расчетная цена +2L], где L -
						| лимит колебания цен сделок, устанавливаемый в соответствии с Правилами
						| клиринга. В результате расширения лимитов в течение торговой сессии диапазон
						| сценариев может быть расширен в зависимости от движения цены фьючерсного
						| контракта.
						ol
							li Текущие значения Расчетной цены и лимитов колебания цен сделок публикуются на сайте ОАО Московская Биржа.
					li.text-justify 
						|Сценарии по изменению волатильности опционов представляют собой набор
						|кривых волатильности. Набор кривых волатильности состоит из кривой
						|волатильности, определяемой в порядке, указанном в документе «Методика
						|расчета теоретической цены опциона и коэффициента «дельта»», размещенном на
						|сайте ОАО Московская Биржа, и кривых волатильности, полученных на ее
						|основании, умножением на коэффициенты. Количество этих коэффициентов
						|определяет количество сценариев по изменению волатильности опционов. Цена
						|опциона определяется в порядке, указанном в том же документе «Методика расчета
						|теоретической цены опциона и коэффициента «дельта»», на основании цены
						|фьючерсного контракта, являющегося базовым активом опциона, и волатильности
						|опциона.
					li.text-justify 						
						|Сценарии по изменению цены базового актива при экспирации опционов (сценарии
						|экспирации) представляют собой набор сценариев, определяющих условия
						|исполнения опциона. Учет сценариев экспирации осуществляется для опционов,
						|дата экспирации которых не совпадает с датой исполнения базового актива.
						|Сценарии экспирации дополняют сценарии по изменению цены фьючерсного
						|контракта и сценарии по изменению волатильности. Учет сценариев экспирации
						|начинается за N Расчетных периодов до даты экспирации таких опционов.
						|Количество N Расчетных периодов, в течение которых учитываются сценарии
						|экспирации, устанавливается Клиринговым центром. Указанное значение N может
						|быть увеличено Расчетной фирмой в целях расчета гарантийного обеспечения по
						|Позициям, учитываемым на разделе регистра учета позиции.
					li.text-justify
						|Количество сценариев, описанных в пп. 2.3-2.5 устанавливается Клиринговым
						|центром.
					li.text-justify
						|Для каждого сценария рассчитывается финансовый результат закрытия всех
						|Позиций по инструментам, составляющим группу, по ценам, которые
						|определяются на основании данного сценария. Указанный финансовый результат
						|рассчитывается как сумма финансовых результатов закрытия Позиции по каждому
						|инструменту. Если финансовый результат закрытия всех Позиций по
						|инструментам, составляющим группу, является неотрицательным, то его значение
						|устанавливается равным нулю.
					li.text-justify
						|Размер гарантийного обеспечения для группы инструментов устанавливается
						|равным абсолютному значению минимального финансового результата для всех
						|сценариев. Указанный принцип установления гарантийного обеспечения на
						|основании набора финансовых результатов применяется для любой совокупности
						|Позиций.
					li.text-justify
						|Для групп инструментов, стоимость минимального шага которых определяется
						|относительно курсов валют, отличных от валюты Российской Федерации, размер
						|Гарантийного обеспечения увеличивается на надбавку, учитывающую валютный
						|риск.
			li <strong>Базовый размер гарантийного обеспечения</strong>
				ol
					li
						|Размер Гарантийного обеспечения, рассчитанный для одного контракта, называется
						|Базовым размером гарантийного обеспечения.
					li
						|Расчёт Базового размера гарантийного обеспечения осуществляется для
						|фьючерсных контрактов и опционов.
					li
						|Для фьючерсных контрактов рассчитывается Базовый размер гарантийного
						|обеспечения и называется «базовое гарантийное обеспечение». Это значение
						|транслируется в Рабочие станции и Шлюзы участников торгов и размещаются на
						|сайте ОАО Московская Биржа.
					li
						|Для всех опционных контрактов рассчитывается Базовые размеры гарантийного
						|обеспечения для одного купленного и одного проданного опциона. Эти значения
						|транслируется в Рабочие станции и Шлюзы участников торгов и размещается на
						|сайте ОАО Московская Биржа.
					li
						|Для всех опционных контрактов в дополнение к значениям, рассчитываемым
						|согласно пунктам 3.4, дополнительно рассчитывается значение Гарантийного
						|обеспечения для одного проданного опциона, «перекрытого» фьючерсным
						|контрактом (один проданный Call-опцион с одним купленным фьючерсным
						|контрактом или один проданный Put-опцион с одним проданным фьючерсным
						|контрактом). Данное значение называется «гарантийное обеспечение по
						|синтетической позиции», транслируется в Рабочие станции и Шлюзы участников
						|торгов и размещается на сайте ОАО Московская Биржа.
			li <strong>Минимальный Базовый размер гарантийного обеспечения и лимит колебания цен сделок</strong>
				ol
					li
						|Минимальный Базовый размер гарантийного обеспечения по фьючерсному
						|контракту – устанавливаемое Клиринговым центром значение. Базовый размер
						|гарантийного обеспечения устанавливается больше или равным Минимального
						|Базового размера гарантийного обеспечения.
					li
						|Минимальный Базовый размер гарантийного обеспечения по фьючерсному
						|контракту выражается в процентах от Расчётной цены, устанавливается
						|Клиринговым центром до предоставления возможности заключения фьючерсного
						|контракта и публикуется на сайте ОАО Московская Биржа.
						ol
							li
								|Порядок изменения минимального Базового размера гарантийного обеспечения
								|устанавливается Правилами клиринга.
					li
						|Перед первым днем заключения фьючерсного контракта начальная Расчетная цена
						|и начальный лимит колебания цен сделок устанавливаются таким образом, чтобы
						|выполнялось равенство:
						|где<br>
						|Лимит – начальный лимит колебания цен сделок<br>
						|МинБГО – минимальный Базовый размер гарантийного обеспечения по
						|фьючерсному контракту;<br>
						|РЦ – начальная Расчётная цена;
					li
						|Порядок изменения лимита колебания цен сделок устанавливается Правилами
						|клиринга. При этом Правилами клиринга установлено, что лимит колебания цен
						|сделок может изменяться только таким образом, чтобы