extends ../layouts/code_layout.jade

block title
	title= site_title + " Python backtasting."

block content
	h2.text-center Backtesting. Работа с библиотекой BT.
	article.grid-container
		div.grid-x
		h3 Общие вопросы
		div
			span.flag_en &nbsp;
			a(href="http://pmorissette.github.io/bt/") 
				i.fas.fa-external-link-alt &nbsp;
				| Официальный сайт 
			|библиотеки BT
		ol
			li Рекомендации по установке
			li Загрузка котировок
			li Простейшая стратегия
		h3 Рекомендации по установке
		div 
			| Для установки на Anaconda3 мне потребовалось в Anaconda3 Promt выполнить команду: 
			| <kbd>conda install -c conda-forge bt</kbd>

		h3 Загрузка котировок
		div
		| Котировки можно загрузить командой <kbd>bt.get('идентификатор', start, end)</kbd>. По умолчанию загружается скорректированная цена закрытия(adjusted close). Далее пишем дату начала и конца периода для загрузки в формате гггг-мм-чч.
		div
			a(href="../python_source/bt_example_1.p") bt_example_1.py
		pre
			code.python3
				include ../python_source/bt_example_1.py
		div.clearfix
		div.
			Для наших дальнейших экспериментов вместо рубля возьмем котировки акций Газпрома(OGZPY) и Сбербанка(SBRCY).
			Создадим простейшую стратегию. Для этого создадим экземпляр класса Strategy и в нем зададим нужную комбинацию алгоритмов.
		pre.python: code
			|s1 = bt.Strategy('s1', [bt.algos.RunMonthly(),  # Выполняем ежемесячно;
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bt.algos.SelectAll(),    # выбираем все бумаги;
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bt.algos.WeighEqually(), # в равной пропорции;
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bt.algos.Rebalance()])   # выполняем ребалансировку согласно выбранной пропорции

		div
		| Теперь можем протестировать нашу стратегию. Напишем код.
		pre.python: code
			|# тестируем нашу стратегию
			|test = bt.Backtest(s, data)
			|res = bt.run(test)
		div
		| Можем вывести график результата и статистические параметры работы стратегии.
		pre.python: code
			|# выводим график средств
			|res.plot()
			|# выводим статистические коэффициенты
			|res.display()
		div В итоге все вместе у нас будет выглядеть так.
		div
			a(href="../python_source/bt_example_2.py") bt_example_2.py
		pre
			code.python3
				include ../python_source/bt_example_2.py

		div
		|Теперь попробуем модифицировать стратегию.