extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h2 Quantopian
	div.row: div.large-12.columns
		h3 Общие вопросы
			ol
				li: [ENG] 
					a(href="https://www.quantopian.com/posts/quantopian-tutorial-with-sample-momentum-algorithm-lesson-1-the-basics-of-the-ide") Серия базовых уроков
				li: [RU] 
					a(href="basic_lesson_1.html") Начало работы в Quantopian
				li: [ENG] 
					a(href="https://www.quantopian.com/posts/quantopian-lecture-series-kalman-filters") Quantopian lecture: series Kalman filters

					
				li: a(href="example_1.html") Пример 1. Простейший пример.					
				li: a(href="example_2.html") Пример 2. Работа с фиксированным списком акций.
				li: a(href="fundamentals.html") Работа с фундаментальными финансовыми показателями.				
				li 
					a(href="https://www.quantopian.com/posts/when-a-company-gets-acquired-my-portfolio-still-owns-shares-of-the-original-company-is-that-right") форум-пост 
					| Как поступать с акциями, которые перестали торговаться?
				li 
					a(href="https://www.quantopian.com/posts/new-trading-guard-to-exclude-leveraged-etfs-from-algo-universe") форум-пост 
					| Как исключить из торговли акции фондов, торговля которыми запрещена на конкурсе
				// е еще https://www.quantopian.com/posts/add-and-remove-securities-using-an-external-file-fetcher

				li: a(href="http://ta.mql4.com/ru/indicators") Описание технических индикаторов


		h3 Сотрудники Quantopian
			ol
				li: a(href="https://www.quantopian.com/users/51cbb24ab03fe0bc5500000e") Seong Lee
				li: a(href="https://www.quantopian.com/users/5258725aa09fa7ebaa000024") David Edwards
				li: a(href="https://www.quantopian.com/users/5346083a839ff34e1400010a") Delaney Granizo-Mackenzie
				li: a(href="https://www.quantopian.com/users/4fe8beb792a029000200000d") Dan Dunn
				li: a(href="https://www.quantopian.com/users/52b9b56c02cabe5dae000143") Alisa Deychman				
							
				li: a(href="https://www.quantopian.com/users/557bd955ed001022f30003e8") James Christopher				
				li: a(href="https://www.quantopian.com/users/559aa30aa3cb789e0d0002ce")	John Loeber
				li: a(href="https://www.quantopian.com/users/54487203dc843663f2000123")	Josh Payne
				li: a(href="https://www.quantopian.com/users/554d5c40ce475311260001a4")	Jenny Nitishinskaya				
						
				li: a(href="http://us5.campaign-archive2.com/home/?u=4c1d0cf4959586b47ef210e9c&id=7cca55778a") Архив официальной рассылки

		// http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators
		h3 Сайты
			ol
				li: a(href="http://av-finance.ru/karta-sajta") Блог форекс-трейдера Вадима Атрощенко 
				li: a(href="")
		h3 Торговые платформы
			ol
				li: a(href="https://www.thinkorswim.com") thinkorswim 
				li: a(href="")		
		h3 Алгоритмы
			ol
				li: a(href="https://www.quantopian.com/posts/momentum-strategy-with-a-dynamic-universe") Momentum Strategy with a Dynamic Universe
				li: a(href="https://www.quantopian.com/posts/markowitz-portfolio-construction") Markowitz Portfolio Construction
				li: a(href="https://www.quantopian.com/posts/welles-wilders-adx-average-directional-index-technical-indicator-implementation") Welles Wilder's ADX - Average Directional Index (technical indicator implementation)
				li Algorithms Using Fundamentals
					ol
						li: a(href="https://www.quantopian.com/posts/grahamfundmantals-algo-simple-screening-on-benjamin-graham-number-fundamentals")
							| GrahamFundmantals algo - simple screening on Benjamin Graham by Bruce Carroll
						li: a(href="https://www.quantopian.com/posts/patrick-oshaughnessys-millennial-money-value-investing-algorithm-number-fundamentals")
							| Patrick O'Shaughnessy's "Millennial Money" Value Investing Algorithm by Costantino Cerbo
						li: a(href="https://www.quantopian.com/posts/using-number-fundamentals-growth-ranking-for-healthy-growth-stock-picking-strategy")
							| Using Fundamentals growth ranking for healthy growth stock picking strategy Naoki Nagai
						li: a(href="https://www.quantopian.com/posts/do-growth-stocks-beat-the-market")
							| Do Growth Stocks Beat the Market? by Ilidio Antunes
						li: a(href="https://www.quantopian.com/posts/fundamental-algo-inspired-by-benjamin-graham")
							| Fundamental Algo inspired by Benjamin Graham by Daniel Alm
						li: a(href="https://www.quantopian.com/posts/using-number-fundamentals-to-identify-uptrending-volatile-small-caps") 
							| Using #Fundamentals to identify uptrending volatile small caps by Richard Prokopyshen
						li: a(href="https://www.quantopian.com/posts/a-quantitative-value-investing-strategy-using-fundamental-data")
							| A quantitative value investing strategy using fundamental data by Peter Poon						
		h3 Парный трейдинг
			ol
				li: a(href="http://superscalper.ru/new/parnyj-trejding-video-prezentaciya.html") superscalper.ru
			
				li: a(href="http://www.pairslog.com") pairslog.com
				li: a(href="http://www.sectorspdr.com/sectorspdr/") www.sectorspdr.com/sectorspdr/