extends ../layouts/html_layout.jade

block title
	title= site_title + " Работа с сервисом Quantiacs"

block content
	h2.text-center Работа с сервисом Quantiacs
	article.grid-container
		ol
			li 
				a(href="http://www.slideshare.net/Quantiacs") Слайды
			li
				a(href="https://www.youtube.com/channel/UCS8bIV3uEJLIaA91s5uQzQw") Youtube канал
			li
				a(href="https://github.com/Quantiacs/python-sample-strategies") GitHub 
				| примеры элементарных стратегий				