extends ../layouts/html_layout.jade

block title
	title= site_title + " Работа с сервисом Quantiacs"

block content
	div.row: div.large-12.columns: h2 Работа с сервисом Quantiacs
	div.row: div.large-12.columns
		ol
			li 
				a(href="http://www.slideshare.net/Quantiacs") Слайды
			li
				a(href="https://www.youtube.com/channel/UCS8bIV3uEJLIaA91s5uQzQw") Youtube канал