extends ../layouts/html_layout.jade

block title
	title= site_title + " Алгоритмическая торговля"

block content
	div.row: div.large-12.columns: h2 "Алгоритмическая торговля"
	div.row: div.large-12.columns
		h3 Алгоритмическая торговля ссылки
		ol
			li: strong: a(href="quantopian.html") Работа с сервисом Quantopian
			li: strong: a(href="quantiacs.html") Работа с сервисом Quantiacs
			li: a(href="http://www.quantatrisk.com/") Quant at Risk
			li: a(href="http://www.turingfinance.com") TuringFinance
			li: a(href="http://www.quantnews.com/") Quant news
			li
				a(href="http://quant-econ.net/index.html") QuantEcon
				| Сайт освящен теоретическим вопросам алгоритмической торговли. Используется питон, джулия.			
				
			li
				a(href="http://quantocracy.com/") Quantocracy 
				| - агрегатор новостей из мира алготорговли.
			li QuantStart - Сайт-блог по алгоритмической торговле
				ol
					li: a(href="https://www.quantstart.com/articles/Money-Management-via-the-Kelly-Criterion") Критерий Келли
					li: a(href="https://www.quantstart.com/articles/Sharpe-Ratio-for-Algorithmic-Trading-Performance-Measurement") Коэффициент Шарпа
		div 
			a(href="https://github.com/pydata") Библиотеки 
			| на github для работы с финансовыми данными, такие как pandas, pandas-datareader
		h3 Статьи
		ol
			li
				a(href="http://www.largecaptrader.com") Блог largecaptrader
					ol
						li
							a(href="http://www.largecaptrader.com/?p=1545") Статья. 
							| Использование машинного обучения и пакета SciKit Learn
						li
							a(href="http://www.largecaptrader.com/?p=1827") Статья. 
							| Авоматическое генерирование уровней поддержки и сопротивления. 
							a(href="https://github.com/nakulnayyar/SupResGenerator") Код на GitHub.				
			li
				a(href="http://www.oxfordstrat.com/resources/") Список 
				| алгоритмических стратегий с подробным описанием			
