extends ../layouts/html_layout.jade

block content
	div.row: div.large-12.columns: h3 Вопросы и <strong>ответы</strong> по работе клиентской части программы QUIK
	div.row: div.large-12.columns
		h3 Общие вопросы
		ol
			li 		
			li
		h3 Вопросы по стоп-заявкам
		ol
			dl
				li: dt Если я поставил стоп заявку на покупку/продажу и вышел из QUIK будет ли действовать стоп-заявка?
				dd Если Вы ставили стоп и закрыли терминал, то стоп будет действовать. 
					a(href="https://forum.quik.ru/messages/forum14/message1791/topic243/#message1791") форум	
				li: dt При наступлении условий активации стоп-заявки будет ли на биржу подана и исполнена заявка, если на моём домашнем компьютере выключен QUIK?
				dd Если Quik выключен, стоп сработает, лимитированная выставится. Но не факт что сработает. Это будет зависеть от цены на момент выставления лимитированной. 
					a(href="https://forum.quik.ru/messages/forum14/message1791/topic243/#message1791") форум
				li: dt Если стоп-заявка имеет срок действия в несколько дней то будет ли она работать если в QUIK не заходить весь срок её действия?
				dd: Да, будет. 
					a(href="https://forum.quik.ru/messages/forum14/message1791/topic243/#message1791") форум