extends ../layouts/code_layout.jade

block content
	div.row: div.large-12.columns: h3 Вычисление риск параметров
	div.row: div.large-12.columns
		h3 Волатильность (Volatility)
		p.text-justify
		| Волатильность цены актива \( \sigma \) представляет собой меру неопределенности его доходности.
		| Волатильность можно определить как стандартное отклонение доходности актива за один год,
		| когда доходность расчитывается непрерывно.
		
		\[ \sigma = \sqrt{\sigma^2} = \sqrt{\frac{1}{N} \sum^N_{i=1} (r_i - \mu)^2},&nbsp; где&nbsp; \mu = \frac{1}{N} \sum^N_{i=1} r_i \]

		p.text-justify 
		| При стандартных расчетах время обычно измеряется годами, а волатильность
		| актива считается годовой. Но в некоторых случаях нам потребуется суточная
		| волотильность. Считая, что в году 252 рабочих дня можем записать, что 

		\[ \sigma_{yr} = \sigma_{day} \sqrt{252} \]

		| или

		\[ \sigma_{day} = \frac{\sigma_{yr}}{\sqrt{252}} \]

		h3 Коэффициент Бета (β)
		p.text-justify Коэффициент Бета является отношением ковариации рассматриваемых доходностей к дисперсии доходности эталонного портфеля или рынка соответственно.
		\[ \beta = \frac{COV(r_S, r_M)}{VAR(r_M)} \]
		p.text-justify
		| где 
		| \(r_S\) — оцениваемая величина, для которой вычисляется коэффициент Бета: доходность оцениваемого актива или портфеля.
		| \(r_M\) — эталонная величина, с которой происходит сравнение: доходность портфеля ценных бумаг или рынка.
		| \( \mathrm{COV} \) — ковариация оцениваемой и эталонной величины, 
		| \( \mathrm{VAR} \) — дисперсия эталонной величины.