// main file: financial_python_1.pug

h3(id ="ts_issues") Анализ временных рядов
ol
	+mli("ru","my", "time_series_trend_decomposition.html", "Пример.", "Выделение тренда.", "")
	+mli("ru","my", "time_series_ADF_KPSS.html", "Пример.", "Расширенный Дикки-Фулер тест и тест Квятковского-Филлипса-Шмидта-Шина.", "")
	+mli("ru","out", "https://quantviews.github.io/Financial_Markets4/", "Курс.", "ВШЭ.", "github")
	+mli("en","out", "http://www.fanaee.com/", "Hadi Fanaee-T.", "Хорошие примеры с видео объяснениями.", "")
	+mli("en","out", "https://github.com/ChadFulton/tsa-notebooks/tree/master", "Notebooks.", "Chad Fulton. Notebooks - Time Series Analysis.", "github")
	+mli("en","out", "https://github.com/jpmorganchase/python-training/tree/main", "JPmorgan Chase", "JPmorgan Chase. Notebooks tutorial for clients.", "github")
	+mli("en","out", "https://github.com/LechGrzelak/Computational-Finance-Course/tree/main", "LechGrzelak.", " Computational Finance Course", "github")
	+mli("en","out", "https://github.com/PacktPublishing/Python-for-Finance-Cookbook", "PacktPublishing", "Python For Finance Cookbook - Code Repository.", "github")
	+mli("en","out", "https://macroeconomics.github.io/", "macroeconomics", "Macroeconomics.", "github")
	+mli("ru","out", "https://www.dmitrymakarov.ru/intro/time-series-20/", "dmitrymakarov.ru", "Дмитрий Макаров. Урок 20. Временные ряды.", "")

	li <u>Библиотеки python для работы с временными рядами</u>
		ol 
			+mli("en","out", "https://ts.gluon.ai/stable/", "ts.gluon", "Amazon. Есть уроки и примеры.", "")
			+mli("en","out", "https://facebook.github.io/prophet/", "prophet", "Facebook. Есть уроки и примеры.", "")
			+mli("en","out", "https://neuralprophet.com/contents.html", "neuralprophet", "Есть уроки и примеры.", "")
			li Nixtla 
				img(src="../images/logo_mid_nixtla.png" width="20" alt="nixtla Icon")
				ol
					+mli("en","out", "https://nixtla.github.io/statsforecast/", "statsforecast", "Есть уроки и примеры.", "github")
					+mli("en","out", "https://github.com/nixtla/mlforecast", "mlforecast", "Есть уроки и примеры.", "github")
					+mli("en","out", "https://github.com/nixtla/neuralforecast", "neuralforecast", "Есть уроки и примеры.", "github")
					+mli("en","out", "https://github.com/nixtla/hierarchicalforecast", "hierarchicalforecast", "Есть уроки и примеры.", "github")
			+mli("en","out", "https://facebookresearch.github.io/Kats/", "Kats", "Facebook Research. Есть уроки и примеры.", "github")
			+mli("en","out", "https://unit8co.github.io/darts/index.html", "Darts", "Unit8 co. Есть примеры.", "github")
			+mli("ru","out", "https://etna.tinkoff.ru/", "ETNA", "Tinkoff. Обучение. Есть примеры. Русские разработчики.", "")
			+mli("en","out", "https://tsfresh.com/", "tsfresh", "Обучение. Есть примеры.", "")
			+mli("en","out", "https://timeseriesai.github.io/tsai/", "tsai", "Обучение. Есть примеры.", "github")
			+mli("en","out", "https://github.com/sktime/sktime", "sktime", "Обучение. Есть примеры. Видео", "github")
			//-+mli("ru","my", "sktime_start.html", "sktime. Пример.", "Прогнозирование временного ряда. Акции.", "")
			+mli("en","out", "https://lets-plot.org/index.html", "lets-plot", "Библиотека от JetBrains API ggplot2 для питона.", "")
			+mli("en","out", "https://github.com/bashtage/arch/", "arch", "Есть примеры.", "github")
			+mli("en","out", "https://www.kevinsheppard.com/", "", "Разработчик arch - Kevin Sheppard.", "")
			+mli("en","out", "https://github.com/TDAmeritrade/stumpy", "stumpy", "Обучение. Есть примеры. От TD Ameritrade", "github")
			+mli("en","out", "https://github.com/uber/orbit", "orbit", "Обучение. Есть примеры. От Uber", "github")
			+mli("en","out", "https://github.com/jdb78/pytorch-forecasting", "Pytorch forecasting", "Обучение. Есть примеры. Прогнозирование на основе нейронных сетей.", "github")
			+mli("en","out", "https://github.com/MaxBenChrist/awesome_time_series_in_python", "MaxBenChrist - awesome", "time series in python.", "github")

	li Видео
		ol 
			+mli("ru","out", "https://youtu.be/VxWHLEFgXnE", "ETNA", "Андрей Алексеев. ETNA Time Series Library: удобное прогнозирование временных рядов.", "youtube")
			+mli("ru","out", "https://youtu.be/Rmh6b96u6UU", "Лекция 2019 года.", "К.В. Воронцов. Машинное обучение. Прогнозирование временных рядов. Школа анализа данных, Яндекс.", "youtube")
			+mli("en","out", "https://youtu.be/ODspi8-uWgo", "sktime введение", "Markus Löning. A Unified Toolbox for ML with Time Series | PyData Global 2021.", "youtube")
			+mli("en","out", "https://youtu.be/V2qAHYmDqpY", "Backtesting : Time Series Talk", "Код есть.", "youtube")

	li Статьи
		ol
			+mli("ru","out", "https://pythonpip.ru/examples/model-arima-v-python", "pythonpip.ru", "Статья. Модель ARIMA в Python для прогнозирования временных рядов", "")
			+mli("ru","out", "https://evogeek.ru/articles/32833/", "evogeek.ru", "Как построить модель SARIMA на Python", "")
			+mli("en","out", "https://machinelearningmastery.com/start-here/#timeseries", "machinelearningmastery.com", "Много статей", "")
			+mli("ru","out", "https://questu.ru/articles/462420/", "questu.ru", "Анализ временных рядов для финансовых данных VI - модель GARCH и прогнозирование доходности SPX", "")
			+mli("en","out", "https://github.com/Auquan/Tutorials", "Auquan", "4 урока ipynb.", "github")
			+mli("ru","out", "https://digitrain.ru/articles/166878/", "digitrain.ru", "Прогнозирование временных рядов, часть 4: Прогнозирование волатильности с использованием GARCH", "")
			+mli("en","out", "https://tomaugspurger.net/posts/modern-7-timeseries/", "tomaugspurger.net", "Modern Pandas (Part 7): Timeseries", "")
			li <u>Статьи на Kaggle</u>
				ol
					+mli("en","out", "https://www.kaggle.com/thebrownviking20/everything-you-can-do-with-a-time-series", "thebrownviking20", "everything-you-can-do-with-a-time-series", "")
					li https://www.kaggle.com/code/konradb/ts-0-the-basics
					li https://www.kaggle.com/konradb/ts-1a-smoothing-methods
					li https://www.kaggle.com/konradb/ts-1b-prophet
					li https://www.kaggle.com/konradb/ts-2-arma-and-friends
					li https://www.kaggle.com/konradb/ts-3-time-series-for-finance
					li https://www.kaggle.com/konradb/ts-4-sales-and-demand-forecasting
					li https://www.kaggle.com/code/konradb/ts-5-automatic-for-the-people
					li https://www.kaggle.com/konradb/ts-6-deep-learning-for-ts-sequences
					li https://www.kaggle.com/jagangupta/time-series-basics-exploring-traditional-ts
					li https://www.kaggle.com/kanncaa1/time-series-prediction-tutorial-with-eda
					li https://www.kaggle.com/kashnitsky/topic-9-part-1-time-series-analysis-in-python
					li https://www.kaggle.com/anshuls235/time-series-forecasting-eda-fe-modelling
					li https://www.kaggle.com/elenapetrova/time-series-analysis-and-forecasts-with-prophet
					li https://www.kaggle.com/dimitreoliveira/deep-learning-for-time-series-forecasting
					li https://www.kaggle.com/andreshg/timeseries-analysis-a-complete-guide
					li https://www.kaggle.com/mayer79/rnn-starter-for-huge-time-series
					li https://www.kaggle.com/freespirit08/time-series-for-beginners-with-arima
					li https://www.kaggle.com/robikscube/tutorial-time-series-forecasting-with-xgboost
					li https://www.kaggle.com/janiobachmann/s-p-500-time-series-forecasting-with-prophet
					li https://www.kaggle.com/robikscube/time-series-forecasting-with-prophet
					li https://www.kaggle.com/iamleonie/intro-to-time-series-forecasting
					li https://www.kaggle.com/meaninglesslives/simple-neural-net-for-time-series-classification
					li https://www.kaggle.com/codename007/donorchoose-complete-eda-time-series-analysis
					li https://www.kaggle.com/rohanrao/a-modern-time-series-tutorial
					li https://www.kaggle.com/jorijnsmit/found-the-holy-grail-grouptimeseriessplit
					li https://www.kaggle.com/codename007/avito-eda-fe-time-series-dt-visualization
					li https://www.kaggle.com/thomaskonstantin/pfizer-vaccine-sentiment-and-time-series-analysis
					li https://www.kaggle.com/code/ambrosm/tpsjan22-03-linear-model
					li https://www.kaggle.com/code/teckmengwong/tps2201-hybrid-time-series
					li https://www.kaggle.com/code/joshuaswords/time-series-anomaly-detection
					li https://www.kaggle.com/code/joshuaswords/time-series-anomaly-detection-matrix-profiling
					li https://www.kaggle.com/code/bextuychiev/advanced-time-series-analysis-decomposition
