h3(id="Sites") Сайты
ol
	+mli("en","out", "https://quantocracy.com/", "quantocracy", "This is a curated mashup of quantitative trading links", "icon", "book", "news")
	+mli("en","out", "https://www.ml-quant.com/", "ML-Quant", "Агрегатор. Стал платным.", "icon")
	+mli("en","out", "https://www.quantatrisk.com/", "quantatrisk.com", "Quant at Risk", "icon")
	+mli("en","out", "https://pyquantnews.com/", "pyQuantNews", "Все стало платным и закрытым", "icon")
	+mli("en","out", "https://www.quantinsti.com/", "quantinsti.com", "quantinsti", "icon")
	+mli("en","out", "https://quantecon.org", "quantecon.org", "Крутые лекции с кодом.", "icon")
	+mli("en","out", "https://notes.quantecon.org/", "notes.quantecon.org", "Заметки на экономические темы в формате python notebook", "")
	+mli("en","out", "https://quant.stackexchange.com", "stackexchange.com", "Ответы на вопросы от сообщества stackexchange.", "icon")
	+mli("en","out", "https://www.learndatasci.com/", "learndatasci.com", "Статьи по научным рассчетам", "icon")
	+mli("en","out", "https://newmarkrisk.com/blog", "newmarkrisk.com", "Статьи по опционным стратегиям. Больше рекламы.", "icon")
	+mli("en","out", "https://github.com/freqtrade/freqtrade/", "freqtrade.io", "бот для торговли на криптоплащадках", "icon")


	li
		span.flag_en &nbsp;
		| не обновлялось с 2016 
		a(href="https://www.turingfinance.com" target="_blank") TuringFinance 
		| Супер интересный сайт. И есть супер статья 
		a(href="https://www.turingfinance.com/random-walks-down-wall-street-stochastic-processes-in-python/" target="_blank") Стохастические процессы в финансах на питоне. 
		| и еще 
		a(href="https://turingfinance.com/interactive-stochastic-processes/" target="_blank") стохастические процессы в интерактиве 
		| И сам сайт заслуживает внимания. 
		a(href="https://github.com/StuartGordonReid" target="_blank") Github аккаунт автора этого сайта

	+mli("en","out", "https://econ-ark.org/", "econ-ark.org", "open-source toolkits", "icon")
	+mli("en","out", "https://open-econ.org/", "open-econ.org", "Open Source Economics", "icon")
	+mli("en","out", "https://project-awesome.org/antontarasenko/awesome-economics", "awesome-economics", "Curated list of awesome lists", "")
	+mli("en","out", "https://github.com/alan-turing-institute/the-turing-way", "Alan Turing institute", "The turing way", "github")
	+mli("en","out", "https://github.com/hackingthemarkets", "hackingthemarkets", "Маленькие учебные проекты с кодом", "github")
	+mli("en","out", "https://pythoninvest.com/", "pythoninvest.com", " Не очень информативный. Но пару идей есть.", "")
	+mli("en","out", "https://github.com/dkgaraujo/OpenSourcedMacroModels", "OpenSourcedMacroModels", "Макро модели.", "github")

h3(id="LSites") Личные сайты
ol
	+mli("en","out", "https://gregorboehl.com/", "Gregor Boehl", "Macroeconomist. Статьи. Ресурсы. Ведет список экономических парадоксов(головоломок)", "")
	+mli("en","out", "https://www.fanaee.com/", "Hadi Fanaee-T", "В лекциях просто объсняет сложные веши. Дает код на питоне.", "")
	+mli("ru","out", "https://www.helenkapatsa.ru/author/helenkapatsa/", "Елена Капаца", "Хорошие статьи.", "")
	+mli("en","out", "https://lesniewski.us/index.html", "Andrew Lesniewski", "Один из создателей модели SABR. Публикации. Слайды лекции", "")
	+mli("en","out", "https://www.kevinsheppard.com/", "Kevin Sheppard ", "Один из создателей библиотеки Arch. Публикации. Слайды лекции", "")
	+mli("en","out", "https://reasonabledeviations.com/", "Robert Andrew Martin", "Один из создателей библиотеки PyPortfolioOpt. Крутые статьи по опционам, волатильности, вероятностям", "")
	+mli("en","out", "https://bcgts.wordpress.com/", "Dr Robin Reed", "Распределения", "")
	+mli("en","out", "https://jeremypiger.com/", "Jeremy Piger ", "Professor of Economics at the University of Oregon", "")
