h3(id ="ts_issues") Анализ временных рядов
ol
	li 
		span.flag_ru &nbsp;
		a(href="time_series_trend_decomposition.html" target="_blank") 
			i.far.fa-eye &nbsp;
			| Пример. 
		| Выделение тренда.
	li 
		span.flag_ru &nbsp;
		a(href="https://quantviews.github.io/Financial_Markets4/" target="_blank") 
			i.fas.fa-external-link-alt &nbsp;
			| Курс. 
		| ВШЭ.
	li 
		span.flag_ru &nbsp;
		a(href="time_series_ADF_KPSS.html" target="_blank") 
			i.far.fa-eye &nbsp;
			| Пример. 
		| Расширенный Дикки-Фулер тест и тест Квятковского-Филлипса-Шмидта-Шина.
	li 
		span.flag_en &nbsp;
		a(href="http://www.fanaee.com/") 
			i.fas.fa-external-link-alt &nbsp;
		| Hadi Fanaee-T.
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/ChadFulton/tsa-notebooks/tree/master") 
			i.fas.fa-external-link-alt &nbsp;
		| Chad Fulton. Notebooks - Time Series Analysis
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/jpmorganchase/python-training/tree/main") 
			i.fas.fa-external-link-alt &nbsp;
		| JPmorgan Chase. Notebooks tutorial for clients 
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/LechGrzelak/Computational-Finance-Course/tree/main") 
			i.fas.fa-external-link-alt &nbsp;
		| LechGrzelak. Computational Finance Course
	li 
		span.flag_en &nbsp;
		i.fab.fa-github &nbsp;
		a(href="https://github.com/PacktPublishing/Python-for-Finance-Cookbook") 
			i.fas.fa-external-link-alt &nbsp;
		| Python For Finance Cookbook - Code Repository
	li https://macroeconomics.github.io/
	li 
		span.flag_ru &nbsp;
		www.dmitrymakarov.ru &nbsp;
		a(href="https://www.dmitrymakarov.ru/intro/time-series-20/") 
			i.fas.fa-external-link-alt &nbsp;
		| Дмитрий Макаров. Урок 20. Временные ряды.
	li Библиотеки python
		ol 
			li
				span.flag_en &nbsp;
				a(href="https://ts.gluon.ai/stable/" target="_blank") ts.gluon 
					i.fas.fa-external-link-alt &nbsp;
				| Amazon. 
				| Есть уроки и примеры.
			li
				span.flag_en &nbsp;
				a(href="https://facebook.github.io/prophet/" target="_blank") prophet 
					i.fas.fa-external-link-alt &nbsp;
				| Facebook. 
				| Есть уроки и примеры.
			li
				span.flag_en &nbsp;
				a(href="https://neuralprophet.com/contents.html" target="_blank") neuralprophet 
					i.fas.fa-external-link-alt &nbsp;
				| Есть уроки и примеры.
			li Nixtla 
				img(src="../images/logo_mid_nixtla.png" width="20px" alt="nixtla Icon")
				ol
					li
						span.flag_en &nbsp;
						a(href="https://nixtla.github.io/statsforecast/" target="_blank") statsforecast 
							i.fas.fa-external-link-alt &nbsp;
						| Есть уроки и примеры. 
					li
						span.flag_en &nbsp;
						i.fab.fa-github &nbsp;
						a(href="https://github.com/nixtla/mlforecast" target="_blank") mlforecast 
							i.fas.fa-external-link-alt &nbsp;
						| Есть уроки и примеры.
					li
						span.flag_en &nbsp;
						i.fab.fa-github &nbsp;
						a(href="https://github.com/nixtla/neuralforecast" target="_blank") neuralforecast 
							i.fas.fa-external-link-alt &nbsp;
						| Есть уроки и примеры.
					li
						span.flag_en &nbsp;
						i.fab.fa-github &nbsp;
						a(href="https://github.com/nixtla/hierarchicalforecast" target="_blank") hierarchicalforecast 
							i.fas.fa-external-link-alt &nbsp;
						| Есть уроки и примеры.
			li
				span.flag_en &nbsp;
				a(href="https://facebookresearch.github.io/Kats/" target="_blank") Kats 
					i.fas.fa-external-link-alt &nbsp;
				| Facebook Research. 
				| Есть уроки и примеры.
			li
				span.flag_en &nbsp;
				a(href="https://unit8co.github.io/darts/index.html" target="_blank") Darts 
					i.fas.fa-external-link-alt &nbsp;
				| Unit8 co. 
				| Есть примеры.
			li
				span.flag_en &nbsp;
				a(href="https://etna.tinkoff.ru/" target="_blank") ETNA 
					i.fas.fa-external-link-alt &nbsp;
				| Tinkoff. 
				| Обучение. Есть примеры. Русские разработчики 
			li
				span.flag_en &nbsp;
				a(href="https://tsfresh.com/" target="_blank") tsfresh 
					i.fas.fa-external-link-alt &nbsp;
				| Обучение. Есть примеры.
			li
				span.flag_en &nbsp;
				a(href="https://timeseriesai.github.io/tsai/" target="_blank") tsai 
					i.fas.fa-external-link-alt &nbsp;
				| Обучение. Есть примеры.
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/sktime/sktime" target="_blank") sktime 
					i.fas.fa-external-link-alt &nbsp;
				| Обучение. Есть примеры. Видео
				ol
					li
						span.flag_ru &nbsp;
						a(href="sktime_start.html" target="_blank") 
							i.far.fa-eye &nbsp;
							| Пример. 
						| Прогнозирование временного ряда. Акции.
			li
				span.flag_en &nbsp;
				a(href="https://lets-plot.org/index.html" target="_blank") lets-plot 
					i.fas.fa-external-link-alt &nbsp;
				| Библиотека от JetBrains API ggplot2 для питона.
			
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/bashtage/arch/" target="_blank") arch 
					i.fas.fa-external-link-alt &nbsp;
				| Есть примеры. 
				a(href="https://www.kevinsheppard.com/" target="_blank") 
					i.fas.fa-external-link-alt &nbsp;
					| Kevin Sheppard  
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/TDAmeritrade/stumpy" target="_blank") stumpy 
					i.fas.fa-external-link-alt &nbsp;
				| Обучение. Есть примеры. От TD Ameritrade
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/uber/orbit" target="_blank") orbit 
					i.fas.fa-external-link-alt &nbsp;
				| Обучение. Есть примеры. От Uber
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/jdb78/pytorch-forecasting" target="_blank") Pytorch forecasting 
					i.fas.fa-external-link-alt &nbsp;
				| Обучение. Есть примеры. Прогнозирование на основе нейронных сетей.
			li
				span.flag_en &nbsp;
				i.fab.fa-github &nbsp;
				a(href="https://github.com/MaxBenChrist/awesome_time_series_in_python" target="_blank") awesome  
					i.fas.fa-external-link-alt &nbsp;
				| time series in python.
			li 
	li Видео
		ol 
			li
				span.flag_ru &nbsp;
				a(href="https://www.youtube.com/watch?v=VxWHLEFgXnE" target="_blank") ETNA 
					i.fas.fa-external-link-alt &nbsp;
				| Андрей Алексеев. ETNA Time Series Library: удобное прогнозирование временных рядов
			li
				span.flag_ru &nbsp;
				a(href="https://www.youtube.com/watch?v=Rmh6b96u6UU" target="_blank") Лекция 2019 года. 
					i.fas.fa-external-link-alt &nbsp;
				| К.В. Воронцов. Машинное обучение. Прогнозирование временных рядов. Школа анализа данных, Яндекс.
			li
				span.flag_en &nbsp;
				a(href="https://www.youtube.com/watch?v=ODspi8-uWgo" target="_blank") sktime введение. 
					i.fas.fa-external-link-alt &nbsp;
				| Markus Löning. A Unified Toolbox for ML with Time Series | PyData Global 2021
			li
				span.flag_en &nbsp;
				a(href="https://www.youtube.com/watch?v=V2qAHYmDqpY" target="_blank") Backtesting : Time Series Talk 
					i.fas.fa-external-link-alt &nbsp;
				| Код есть
	li Статьи
		ol
			li
				span.flag_ru &nbsp;
				a(href="https://pythonpip.ru/examples/model-arima-v-python" target="_blank") статья. 
					i.fas.fa-external-link-alt &nbsp;
				| Модель ARIMA в Python для прогнозирования временных рядов
			li
				span.flag_ru &nbsp;
				evogeek.ru &nbsp;
				a(href="https://evogeek.ru/articles/32833/" target="_blank") статья. 
					i.fas.fa-external-link-alt &nbsp;
				| Как построить модель SARIMA на Python
			li
				span.flag_en &nbsp;
				machinelearningmastery.com &nbsp;
				a(href="https://machinelearningmastery.com/start-here/#timeseries" target="_blank") статьи. 
					i.fas.fa-external-link-alt &nbsp;
				| Много статей
			li
				span.flag_ru &nbsp;
				questu.ru &nbsp;
				a(href="https://questu.ru/articles/462420/" target="_blank") статья. 
					i.fas.fa-external-link-alt &nbsp;
				| Анализ временных рядов для финансовых данных VI - модель GARCH и прогнозирование доходности SPX
				a(href="https://github.com/Auquan/Tutorials" target="_blank") 4 урока ipynb.
			li
				span.flag_ru &nbsp;
				digitrain.ru &nbsp;
				a(href="https://digitrain.ru/articles/166878/" target="_blank") статья. 
					i.fas.fa-external-link-alt &nbsp;
				| Статистическое прогнозирование данных временных рядов, часть 4: Прогнозирование волатильности с использованием GARCH
			li
				span.flag_en &nbsp;
				tomaugspurger.net &nbsp;
				a(href="https://tomaugspurger.net/posts/modern-7-timeseries/" target="_blank") статья. 
					i.fas.fa-external-link-alt &nbsp;
				| Modern Pandas (Part 7): Timeseries
			li <b>Kaggle</b>
				ol
					li https://www.kaggle.com/thebrownviking20/everything-you-can-do-with-a-time-series
					li https://www.kaggle.com/code/konradb/ts-0-the-basics
					li https://www.kaggle.com/konradb/ts-1a-smoothing-methods
					li https://www.kaggle.com/konradb/ts-1b-prophet
					li https://www.kaggle.com/konradb/ts-2-arma-and-friends
					li https://www.kaggle.com/konradb/ts-3-time-series-for-finance
					li https://www.kaggle.com/konradb/ts-4-sales-and-demand-forecasting
					li https://www.kaggle.com/code/konradb/ts-5-automatic-for-the-people
					li https://www.kaggle.com/konradb/ts-6-deep-learning-for-ts-sequences
					li https://www.kaggle.com/jagangupta/time-series-basics-exploring-traditional-ts
					li https://www.kaggle.com/kanncaa1/time-series-prediction-tutorial-with-eda
					li https://www.kaggle.com/kashnitsky/topic-9-part-1-time-series-analysis-in-python
					li https://www.kaggle.com/anshuls235/time-series-forecasting-eda-fe-modelling
					li https://www.kaggle.com/elenapetrova/time-series-analysis-and-forecasts-with-prophet
					li https://www.kaggle.com/dimitreoliveira/deep-learning-for-time-series-forecasting
					li https://www.kaggle.com/andreshg/timeseries-analysis-a-complete-guide
					li https://www.kaggle.com/mayer79/rnn-starter-for-huge-time-series
					li https://www.kaggle.com/freespirit08/time-series-for-beginners-with-arima
					li https://www.kaggle.com/robikscube/tutorial-time-series-forecasting-with-xgboost
					li https://www.kaggle.com/janiobachmann/s-p-500-time-series-forecasting-with-prophet
					li https://www.kaggle.com/robikscube/time-series-forecasting-with-prophet
					li https://www.kaggle.com/iamleonie/intro-to-time-series-forecasting
					li https://www.kaggle.com/meaninglesslives/simple-neural-net-for-time-series-classification
					li https://www.kaggle.com/codename007/donorchoose-complete-eda-time-series-analysis
					li https://www.kaggle.com/rohanrao/a-modern-time-series-tutorial
					li https://www.kaggle.com/jorijnsmit/found-the-holy-grail-grouptimeseriessplit
					li https://www.kaggle.com/codename007/avito-eda-fe-time-series-dt-visualization
					li https://www.kaggle.com/thomaskonstantin/pfizer-vaccine-sentiment-and-time-series-analysis
					li https://www.kaggle.com/code/ambrosm/tpsjan22-03-linear-model
					li https://www.kaggle.com/code/teckmengwong/tps2201-hybrid-time-series
					li https://www.kaggle.com/code/joshuaswords/time-series-anomaly-detection
					li https://www.kaggle.com/code/joshuaswords/time-series-anomaly-detection-matrix-profiling
					li https://www.kaggle.com/code/bextuychiev/advanced-time-series-analysis-decomposition
