extends ../layouts/html_layout.jade

block content
  div.row: div.large-12.columns: h2 Теория финансового рынка
  div.row: div.large-12.columns

    ol
      li Арифметика финансового рынка
        ol
          li: a(href="") Простой процент	
          li: a(href="") Сложный процент
          li: a(href="") Дисконтированная стоимость
          li: a(href="") Определение периода начисления процента
          li: a(href="") Аннуитет
          li: a(href="") Доходность

      li Облигации и процентные ставки
      li Акции и фондовые индексы
      li Доходность и риск портфеля ценных бумаг
      li Модели оценки стоимости активов
      li Стратегии управления портфелем
      li Оценка управления портфелем
      li Неопределенность и риск
      li Форвардные и фьючерсные контракты
      li Опционы
