extends ../layouts/code_layout.jade

block title
  title= site_title + " Теория финансового рынка"

block content
  div.row: div.large-12.columns: h2 Теория финансового рынка
  div.row: div.large-12.columns

    ol
      li Арифметика финансового рынка
        ol
          li: a(href="#a") Простой процент	
          li: a(href="#b") Сложный процент
          li: a(href="") Дисконтированная стоимость
          li: a(href="") Определение периода начисления процента
          li: a(href="") Аннуитет
          li: a(href="") Доходность

      li Облигации и процентные ставки
      li Акции и фондовые индексы
      li Доходность и риск портфеля ценных бумаг
      li Модели оценки стоимости активов
      li Стратегии управления портфелем
      li Оценка управления портфелем
      li Неопределенность и риск
      li Форвардные и фьючерсные контракты
      li Опционы
    p we
    p we
    p we
    p we
    p we
    h2(id="a") Простой процент
    p.text-justify
    | Будущая стоимость<br>
    \[ FV = PV \times (1+r_1+r_2+...+r_n) \]
    p.text-justify
    | где 
    | \(r_n\) — это процентная ставка за n-ый период, выраженная в долях единицы;<br>
    | \(n\) — это общее количество начислений процентов (если начисление происходит раз в полгода, то это количество полугодий, которое вклад лежит в банке);<br>
    | \( PV \) — текущая стоимость (первоначальная стоимость на момент инвестирования = основная сумма вклада при первоначальном инвестировании);<br> 
    | \( FV \) — будущая стоимость.<br>
    | Если период выражается не в годах, а в днях. В таком случае применяется следующая формула:<br>
    \[ FV = PV \times (1 + \frac{n}{B}\times r) \]        
    | где <br>
    | \(n\) — это количество дней периода;<br>
    | \(B\) — это база в днях);<br>    
    | Первоначальная стоимость<br>
    \[ PV = \frac{FV} {(1+r_1+r_2+...+r_n)} \]
 
    h2(id="b") Сложный процент
    p.text-justify
    | Будущая стоимость<br>      
    \[ FV = PV \times (1+r)^n \]
    p.text-justify
    | где <br>
    | \(r\) — это процентная ставка за период начисления процента, выраженная в долях единицы, под которую размещается текущая стоимость (если начисление происходит раз  полгода, то она в два раза меньше годовой);<br>
    | \(n\) — это общее количество начислений процентов (если начисление происходит раз в полгода, то это количество полугодий, которое вклад лежит в банке);<br>
    | \( PV \) — текущая стоимость (первоначальная стоимость на момент инвестирования = основная сумма вклада при первоначальном инвестировании);<br> 
    | \( FV \) — будущая стоимость.     
    p.text-justify
    | Первоначальная стоимость<br>      
    \[ PV = \frac{FV} {(1+r)^n} \]
    p.text-justify
    | Сложная процентная ставка<br>      
    \[ r = \sqrt[n]{\frac{FV}{PV}} - 1\]
    p.text-justify
    | Срок инвестирования<br>      
    \[ n = log_{(1+r)}{\frac{FV}{PV}} \]    