extends ../layouts/html_layout.jade

block title
	title= site_title + " Выделение тренда"

block content
	div.row: div.large-12.columns: h2 Выделение тренда
	div.row: div.large-12.columns
		div.row
		h3 Основные моменты
		