extends ../layouts/code_layout.jade

block title
	title= site_title + " Выделение тренда"

block content
	h2.text-center Выделение тренда
	article.grid-container
		h3 Основные моменты
		p
			img(src="images/decomposition_pic.png")
		AAPL_1mo_2000-01-01_2023-07-01.
		p Файл данных: 
			a(href="code/AAPL_1mo_2000-01-01_2023-07-01.csv") AAPL_1mo_2000-01-01_2023-07-01.csv
		p Полный текст примера: 
			a(href="code/decomposition_trend.py") decomposition_trend.py
		pre.python: code
			include code/decomposition_trend.py