extends ../layouts/code_layout.jade

block title
	title= site_title + " Выделение тренда"

block content
	div.row: div.large-12.columns: h2 Выделение тренда
	div.row: div.large-12.columns
		div.row
		h3 Основные моменты
		p
			img(src="images/decomposition_pic_4.png")
		AAPL_1mo_2000-01-01_2023-07-01.
		p Файл данных: 
			a(href="code/AAPL_1mo_2000-01-01_2023-07-01.csv") AAPL_1mo_2000-01-01_2023-07-01.csv
		p Полный текст примера: 
			a(href="code/decomposition_trend.py") decomposition_trend.py
		pre.python: code
			include code/decomposition_trend.py	