extends ../layouts/html_layout.jade

block title
	title= site_title + " Инвестирование"

block content
	div.row: div.large-12.columns
		h2 Ссылки по теме: "Инвестирование и спекуляции"
		<span><small> Обновлено: февраль 2022.</small></span>
	div.row: div.large-12.columns
		h3 Книги
		ol
			li
				span.flag_en &nbsp;
				| stanford.edu
				a(href="http://www.stanford.edu/%7Ehastie/local.ftp/Springer/OLD/ESLII_print4.pdf") 
					The Elements of Statistical Learning [Stanford]
			li
				span.flag_ru &nbsp;
				| rutracker.org
				a(href="http://rutracker.org/forum/viewtopic.php?t=3845601") 
					|[rutracker] Abel, Bernanke / Абель, Бернанке. Macroeconomics / Макроэкономика 5-е издание

		h3 Статьи
		ol
			li 
				span.flag_ru &nbsp;
				| finzz.ru
				a(href="http://finzz.ru/metody-ocenki-riska-var-value-risk.html") 
					i.fas.fa-external-link-alt &nbsp;
				| Методы оценки риска VaR (Value at Risk). Рыночный риск. Пример расчета в Excel
			li
				span.flag_en &nbsp;
				| people.stern.nyu.edu
				a(href="http://people.stern.nyu.edu/adamodar/pdfiles/valn2ed/ch5.pdf") 
					i.far.fa-file-pdf &nbsp; 
					i.fas.fa-external-link-alt &nbsp;
				| Option pricing theory and models
			li
				span.flag_en &nbsp;
				| web.mit.edu
				a(href="http://www.mit.edu/~junpan/ddjp.pdf") 
					i.far.fa-file-pdf &nbsp; 
					i.fas.fa-external-link-alt &nbsp;
				| D. Duffie, J. Pan. 1997. An Overview of Value at Risk
			li
				span.flag_en &nbsp;
				| cass.city.ac.uk
				a(href="http://www.cass.city.ac.uk/__data/assets/pdf_file/0007/128068/H.Zhang.pdf") 
					i.far.fa-file-pdf &nbsp; 
					i.fas.fa-external-link-alt &nbsp;
				| An Extended Model of Effective Bid-ask Spread
			li устарело 
				a(href="http://onlinemoney4you.ru/data/documents/E.Torp.Kriteriy-Kelli-v-blek-dzheke-sportivnyh-totalizatorah-i-fondovyh-birzhah.pdf") 
					| Е.Торп. Критерий Келли (перевод)

		h3 GitHub
		ol
			li: a(href="https://github.com/bloomberg") Bloomberg Finance L.P.

		h3 Сайты
		ol
			li 
				span.flag_en &nbsp;
				| theocc.com
				a(href="https://www.theocc.com/") 
					i.fas.fa-external-link-alt &nbsp;
				| The Foundation for Secure Markets
			li 
				span.flag_en &nbsp;
				| optionseducation.org 
				a(href="https://www.optionseducation.org/")
					i.fas.fa-external-link-alt &nbsp;
				| The Options Industry Council
			li 
				span.flag_en &nbsp;
				| cmegroup.com 
				a(href="https://www.cmegroup.com/education.html")
					i.fas.fa-external-link-alt &nbsp;
				| DEEPEN YOUR UNDERSTANDING OF THE FUTURES MARKET WITH CME INSTITUTE
			li
				span.flag_en &nbsp;
				| cmegroup.com 
				a(href="https://www.cmegroup.com/trading/cryptocurrency-indices/cf-bitcoin-reference-rate.html")
					i.fas.fa-external-link-alt &nbsp;
				| CME CF Bitcoin Real-Time Index
			li 
				span.flag_en &nbsp;
				| quantocracy.com
				a(href="http://quantocracy.com/") 
					i.fas.fa-external-link-alt &nbsp;
				| - агрегатор информации
			li: a(href="http://www.mathfinance.cn/") mathfinance
			li
				a(href="http://tradingwithpython.blogspot.ru/") tradingwithpython
					i.fas.fa-external-link-alt &nbsp;
			li
				span.flag_en &nbsp;
				| realoptions.org
				a(href="http://www.realoptions.org/abstracts.html") 
					i.fas.fa-external-link-alt &nbsp;
				| Сайт практической конференции, есть материалы докладов за много лет.
			li
				span.flag_en &nbsp;
				| afajof.org
				a(href="http://www.afajof.org/view/index.html") 
					i.fas.fa-external-link-alt &nbsp;
				| Американская финансовая ассоциация (академическая).
			li
				span.flag_en &nbsp;
				| nobelprize.org
				a(href="http://nobelprize.org/economics/laureates/1990") 
					i.fas.fa-external-link-alt &nbsp;
				| Сайт нобелевской премии.
			li
				span.flag_en &nbsp;
				| sfu.ca
				a(href="http://www.sfu.ca/~poitras/links.htm") 
					i.fas.fa-external-link-alt &nbsp;
				| Сборник финансовых ссылок
			li
				a(href="http://www.margrabe.com/Links.html") Ссылки

		h3 Рынок деривативов
		ol
			li Общие вопросы
				ol
					li
						a(href="http://forum.quik.ru/") 
							|Форум пользователей Quik
					li
						a(href="http://forum.qlua.org/") 
							|Форум сайта qlua.org
					li
						a(href="http://quik2dde.ru/index.php") 
							|Форум сайта quik2dde.ru
					li 
						a(href="http://www.bot4sale.ru/") 
							|Cайт bot4sale
					li 
						a(href="http://www.tadoc.org/index.htm") 
							|Технический анализ. Формулы и реализации индикаторов

			li Открытие демо-счетов
				ol
					li
						span.flag_ru &nbsp;
						| finam.ru
						a(href="https://www.finam.ru/demos/choose/") 
							i.fas.fa-external-link-alt &nbsp;
						| FINAM
					li
						span.flag_ru &nbsp;
						| arqatech.com
						a(href="https://arqatech.com/ru/support/demo/") 
							i.fas.fa-external-link-alt &nbsp;
						| Quik

			li Программирование
				ol
					li: a(href="http://dx-analytics.com/#") Супер-библиотека</a> для python для работы с деривативами.
					li: a(href="https://kitchingroup.cheme.cmu.edu/pycse/pycse.html") Библиотека</a> для научных вычислений на python, что-то есть про деривативы
					li: strong: a(href="lua_quik_main.html") Программирование в Quik на Lua
			li Литература
				ol
					li: a(href="http://rutracker.org/forum/viewtopic.php?t=3120373") [rutracker] Саймон Вайн. Опционы. Полный курс для профессионалов, 2003. Есть <a href="http://www.alpinabook.ru/catalog/InvestmentsStock/8832/">следующее</a> издание 2016 года.				
					li: a(href="http://rutracker.org/forum/viewtopic.php?t=2398999") [rutracker] John C. Hull / Джон К. Халл. Options, Futures, and Other Derivatives / Опционы, фьючерсы и другие производные финансовые инструменты
					li: a(href="http://rutracker.org/forum/viewtopic.php?t=3117738") [rutracker] 6-е издание. Русский. John C. Hull / Джон К. Халл. Options, Futures, and Other Derivatives / Опционы, фьючерсы и другие производные финансовые инструменты
					li: a(href="http://rutracker.org/forum/viewtopic.php?t=3250156") [rutracker] С. Израйлевич, В. Цудикман. Опционы. Системный подход к инвестициям. Критерии оценки и методы анализа торговых возможностей.
					li: a(href="http://nashol.com/knigi-po-ekonomike/#po_godam_2015") Книги по экономических
					
			li Организации
				ol
					li: a(href="http://www.nfa.futures.org") Американская Национальная фьючерсная ассоциация
					li: a(href="http://www.cftc.gov/index.htm") Американская комиссия по торговле товарными фьючерсами
					li: a(href="http://www.nfa.futures.org") Американская комиссия по ценным бумагам и биржам
					li: a(href="http://www.treasury.gov") Министерство финансов США
					li: a(href="http://federalreserve.gov") Федеральное резервное управление США        
		
		h3 Рынок FOREX
		ol
			li Общие вопросы
				ol
					li: a(href="http://www.forexclub-russia.ru/") ForexClub-Russia
					li: a(href="http://www.fxclub.org") FxClub.org
					li: a(href="http://forex4you.org") forex4you.org
					li: a(href="https://corsaforex.com") CorsaCapital - форекс опционы
					li: a(href="http://tradelikeapro.ru/") Портал на русском
					li: a(href="http://www.myfxbook.com/forex-broker-spreads") Спреды различных контор
			li Конкурсы на демо-счетах
				ol
					li: a(href="http://contest.roboforex.ru/ru/") RoboForex.ru
					li: a(href="http://www.instaforex.com/ru/contest_forex_option_rules.php") Конкурс Опцион на миллион
					li: a(href="http://www.alpari.ru/ru/contest/") Alpari конкурсы
					li: a(href="http://fortrader.ru") fortrader.ru
					li: a(href="http://fxkonkurs.ru/") fxkonkurs.ru

			li Еще что-то
				ol
					li: a(href="http://www.mql5.com/ru/articles/100") Написание советника на MQL5 для начинающих.
					li: a(href="http://www.fxclub.org/tools_info_archdoc/") Описание основных экономических индикаторов
					li: a(href="http://www.instaforex.com/ru/forex_technical_indicators.php") Технические индикаторы
					li: a(href="http://forumtrading.com/forumdisplay.php?f=54") Форумтрайдинг


			li Написание пользовательских индикаторов на MQL5
				ol
					li: a(href="http://www.mql5.com/ru/articles/37") Пользовательские индикаторы в MQL5 для начинающих
					li: a(href="http://www.mql5.com/ru/articles/15") Индикатор от индикатора в MQL5
					li: a(href="http://www.mql5.com/ru/articles/135") Цветные индикаторы - создание и применение       

			li Важные статьи
				ol
					li: a(href="http://www.mql5.com/ru/articles/385") Как опубликовать свой продукт в сервисе Маркет
