extends ../layouts/html_layout.jade

block title
	title= site_title + " Развлечения"

block content
	div.row: div.large-12.columns: h1 Развлечения
	div.row: div.large-12.columns
		ol
			li
				a(href="resistance.html") Игра 
				| Резистанс
			li
				a(href="monstercastle.html") Игра  
				| MonsterCastle для андроид.</li>