extends ../layouts/html_layout.jade

block title
	title= site_title + " Развлечения"

block content
	h2.font-effect-shadow-multiple Развлечения
	article.grid-container
		div.grid-x
		ol
			li
				a(href="../boardgames/index.html") Настольные игры 
				| - главная страница.
			li
				a(href="resistance.html") Игра 
				| Резистанс
			li
				a(href="monstercastle.html") Игра  
				| MonsterCastle для андроид. <span class="label alert"><i class="fi-widget"></i>устарело!</span>