extends ../layouts/html_layout.jade

block title
	title= site_title + " Monster Castle"
	<script src="table_sort.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
block content

	//- var members= [{name:"Absolem.info", present: ['X', 'X', 'X', 'X', 'X', 'X', 'X']},{name:"bdsm", present: ['O','Х', 'X', 'O', 'O', 'X', 'X']},{name:"TechnoStix", present: ['X','Х', 'X', 'X', 'O', 'X', 'X']},{name:"Тверь2015", present: ['O','Х', 'X', 'X', 'O', 'O', 'X']},{name:"ПЕТЕРГОФ", present: ['X', 'X', 'X', 'X', 'X', 'X', 'X']},{name:"Ромка", present: ['O','О', 'X', 'O', 'O', 'О', 'О']},{name:"символ", present: ['X','О', 'X', 'Х', 'Х', 'Х', 'О']},{name:"atas2", present: ['O','Х', 'O', 'X', 'O', 'X', 'O']},{name:"byqspirit", present: ['O','X', 'O', 'X', 'O', 'X', 'X']},{name:"Aliskandar", present: ['X','X', 'O', 'X', 'X', 'X', 'O']},{name:"Shved_K", present: ['X','X', 'X', 'O', 'O', 'O', 'O']},{name:"Фифти", present: ['O','О', 'O', 'О', 'О', 'О', 'O']},{name:"Фрунзе773", present: ['O','О', 'O', 'О', 'О', 'О', 'O']}, {name:"Нерюнгри", present: ['O','О', 'O', 'О', 'О', 'О', 'Х']},{name:"арти21...", present: ['X','О', 'O', 'O', 'O', 'X', 'O']},{name:"WhiteShadow", present: ['O','О', 'O', 'O', 'O', 'X', 'O']},{name:"Paintient", present: ['X','О', 'O', 'O', 'O', 'X', 'O']},{name:"Торадор", present: ['X','О', 'O', 'O', 'O', 'O', 'O']}];
	//-{"members": ["A", "B", "C"]}
	//-mixin table_row(member)
		<tr><td>div= member.name</td>
		each count in member.present
			<td>count</td>

	div.row: div.large-12.columns: h1 Monster Castle
	div.row: div.large-12.columns
		h3 Страничка гильдии <b>"RussiaChamp"</b>
		<div class="image"><img src="../images/MC_clan_logo.png" alt="Логотип гильдии RussiaChamp"></div>		
		ol
			li <b>О гильдии</b>
				div.text-justify
					| Уровень гильдии: <b>15</b>.
					| <br>Количество побед в клановых войнах: <b>8+</b>.
					| <br>Русскоязычная гильдия <b>"RussiaChamp"</b> основной целью преследует получение удовольствия от игры.
					| В гильдию принимаются игроки постоянно играющие в Monster Castle и готовые соблюдать правила гильдии.
					| <br><b><u>Время клановой войны: ежедневно начало около 15.15 МСК. Продолжительность 8 часов.</u></b>
			li 
				strong Текущие критерии приема в гильдию
				div
					| Уровень от 30.
					| <br>Желание и возможность участвовать в клановых войнах.
			li
				<strong> Активность игроков</strong> (за последние 7 дней)
				<table>
				<thead><tr><td>Ник</td><td>19.03.2016</td><td>18.03.2016</td><td>17.03.2016</td><td>16.03.2016</td><td>15.03.2016</td><td>14.03.2016</td><td>13.03.2016</td></tr>
				</thead>
				<tbody>

				//for member in members
					<tr><td><strong>
					div= member.name
					</strong></td>
					for day in member.present
						<td>
						div= day 
						</td>
					</tr>
				<tr><td><strong>atas2</strong></td><td>X</td><td>X</td><td>X</td><td>X</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>Shved_K</strong></td><td>X</td><td>O</td><td>O</td><td>X</td><td>O</td><td>X</td><td>X</td></tr><tr><td><strong>Absolem.info</strong></td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td></tr><tr><td><strong>символ</strong></td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>O</td><td>X</td></tr><tr><td><strong>Торадор</strong></td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td></tr><tr><td><strong>bdsm</strong></td><td>X</td><td>X</td><td>O</td><td>X</td><td>X</td><td>X</td><td>O</td></tr><tr><td><strong>ЛЕГИОН</strong></td><td>O</td><td>X</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>byqspirit</strong></td><td>O</td><td>O</td><td>O</td><td>X</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>TechnoStix</strong></td><td>X</td><td>X</td><td>O</td><td>X</td><td>X</td><td>X</td><td>X</td></tr><tr><td><strong>тверь2015</strong></td><td>X</td><td>X</td><td>X</td><td>X</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>Paintient</strong></td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>X</td></tr><tr><td><strong>Нерюнгри</strong></td><td>O</td><td>O</td><td>O</td><td>X</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>Твердыня</strong></td><td>O</td><td>O</td><td>O</td><td>X</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>ПЕТЕРГОФ</strong></td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td></tr><tr><td><strong>арти21...</strong></td><td>O</td><td>O</td><td>X</td><td>X</td><td>O</td><td>O</td><td>X</td></tr><tr><td><strong>Dima_Oyo</strong></td><td>X</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>Aliskandar</strong></td><td>O</td><td>O</td><td>X</td><td>X</td><td>X</td><td>X</td><td>X</td></tr><tr><td><strong>Ромка</strong></td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td></tr><tr><td><strong>wialeeier</strong></td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td><td>O</td></tr>
				</tbody>
				</table>
				//p Активных участников клановых войн: 
					span= members.length
					| <br>обозначения: "X" - участвовал(а) "O" - отсутствовал(а)			

			//li
				<div id="users">
				<input class="search" placeholder="Искать" />
				<button class="sort" data-sort="name">Сортировать по Нику</button>
				<button class="sort" data-sort="born">Сортировать по дате</button>				
				<table>
				<tbody class="list">
				<tr>
				<td class="name">Jonny Stromberg</td>
				<td class="born">1986</td>
				</tr>
				<tr>
				<td class="name">Jonas Arnklint</td>
				<td class="born">1985</td>
				</tr>
				<tr>
				<td class="name">Martina Elm</td>
				<td class="born">1986</td>
				</tr>
				<tr>
				<td class="name">Gustaf Lindqvist</td>
				<td class="born">1983</td>
				</tr>
				</tbody>
				</table>
				</div>				
			li
				strong Кому дается звание "Хозяин"
				div.text-justify
					| Звание "Хозяин" присваивается "Королем".
					| Игроку достойно зарекомендовавшему себя игрой в клане может быть присвоено звание "Хозяин". Тогда на него
					| накладываются дополнительные права и обязанности. Он обязан привлекать новых игроков в гильдию и следить
					| за выполнением игроками правил гильдии. У него есть право принимать и исключать игроков из гильдии.
					| Также у него есть право начинать ежедневные войны в заранее согласованное время.
			li 
				strong Кому дается звание "Страж"
				div.text-justify
					| Звание "Страж" присваивается "Королем" или "Хозяином".
					| Игрокам с наивысшим рейтингом(среди имеющих звание "Воин") на текущий момент дается звание "Страж".
					| Игрок обязан иметь боеспособный замок ко времени начала клановой войны, т.к. "Страж" 100%
					| автоматически принимает участие в клановой войне для защиты "Короля" и врагам даются повышенные очки за
					| взятия его замка.
			li 
				strong Кому дается звание "Подмастерье"
				div
				| Звание "Подмастерье" присваивается "Королем" или "Хозяином". 
				| <br>Звание "Подмастерье" дается игрокам с самым маленьким уровнем или игрокам у которых замок не готов к войне.  
			li 
				strong Кому дается звание "Воин"
				div
				| Звание "Воин" присваивается всем членам гильдии автоматически.
			li 
				strong Кто исключается из гильдии
				div.text-justify
					ol
						li
							| Игрок <strong>незаходивший в игру более 7 дней</strong> и непредупредивший о своем 
							| длительном отсутствии "Короля" - исключается из гильдии.
						li
							| Игрок заходивший в игру, но неучаствовавший ни в одной клановой войне на протяжении 7 дней.
			li 
				strong Заключительные положения
				div.text-justify
					| По мере развития игры и гильдии данные правила постоянно изменяются и дополняются.
					| <br>Вопросы и пожелания присылайте на: andsemenoff&lt;собака&gt;ya.ru

		h3 Зачем принимать участие в клановых войнах?
		ol
			li 
				strong Опыт для героев
				div.text-justify 
				| При захвате замков Ваши герои получают опыт и прокачиваются. В войне может быть много игроков ниже Вашего уровня или 
				| игроков с замками не готовыми к сражению.
			li
				strong Гелиотропы
				div.text-justify
				Вы имеете шанс получить гелиотропы, как и при обычном сражении в многопользовательском режиме.
			li
				strong Еще больше гелиотропов
				div.text-justify
				| По итогам клановой войны каждый член гильдии получает гелиотропы в взависимости от места гильдии, занятого в войне. Их количество сильно
				| отличается от занятого места. По опыту - несколько побед может принести <b>каждому</b> члену гильдии более десяти <b>дополнительных</b>
				| гелиотропов. Поэтому очень важно, чтобы каждый зашел, победил и пренес очки для первого места в клановой войне. 
		h3 Вопросы и ответы
		ol
			li: a(href="#chat") Как писать в чат цветом?
			li: a(href="#day") Что значит в ежедневных заданиях "Покормить 1 раз"?
			li: a(href="#Sam") Когда появляется Сэм и как его победить?
			li: a(href="#def") Как лучше распологать войска для защиты замка?
			li: a(href="#war") Ежедневные клановые войны
			li: a(href="#black") Какие товары бывают на черном рынке?
		ol
			li(id="chat")
				strong Как писать в чат цветом?
				div
					| Написать в квадратных скобках цвет, потом сам текст, например, [ff0000] набор в гильдию от 25 лвл.
					| <br>Примеры, различных цветов:
					| <br>[000000] - черный
					| <br>[00ff00] - зеленый
					| <br>[0000ff] - синий
					| <br>[ffff00] - желтый
					| <br>[00ffff] - голубой
					| <br>[ff00ff] - розовый
					| <br>[cccccc] - серый
					| <br>можно применять теги [b] - жирный; [u] - подчеркнуть; [i] - курсив.
			li(id="day")
				strong Что значит в ежедневных заданиях "Покормить 1 раз"?
				div.clearfix				
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_day_screen.png" alt="Скриншот MonsterCastle")
				div.clearfix				
				div
					| Для выполнения нужно у любого героя во вкладке "Улучшить", использовать(поглотить/уничтожить) либо гелиотропы, либо элексиры.
					| При этом если до следующего уровня героя меньше опыта, чем тот который Вам причитается за уничтожение - этот опыт пропадет.
				div.clearfix				
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_hero.png" alt="Скриншот MonsterCastle")
				div.clearfix
			li(id="Sam")
				strong Когда появляется Сэм и как его победить?
				div
				| Итак, Сэм появляется во вторник и пятницу в 19.00 МСК. 
				| <br>Сколько ресурсов на каком уровне дают за победу:
				| <br>&nbsp;1 уровень: вино/золото по 3'820; уровень - 7;
				| <br>&nbsp;2 уровень: вино/золото по 12'500; уровень - 9;
				| <br>&nbsp;3 уровень: вино/золото по 24'400; уровень - 10;
				| <br>&nbsp;4 уровень: вино/золото по 40'000; уровень - 15;
				| <br>&nbsp;5 уровень: вино/золото по 57'000; уровень - 17;
				| <br>&nbsp;6 уровень: вино/золото по 80'000; уровень - 18;
				| <br>&nbsp;7 уровень: вино/золото по 105'000; уровень - ?;
				| <br>&nbsp;8 уровень: вино/золото по 132'000; уровень - 19;
				| <br>&nbsp;9 уровень: вино/золото по 161'000; уровень - 26;
				| <br>10 уровень: вино/золото по 193'000; уровень - 27;
				| <br>11 уровень: вино/золото по 224'000; уровень - 34;
				| <br>12 уровень: вино/золото по 262'000; уровень - 40;
				| <br>13 уровень: вино/золото по 300'000; уровень - 43;
				| <br>14 уровень: вино/золото по
				| <br>15 уровень: вино/золото по
				| <br>16 уровень: вино/золото по
				| <br>17 уровень: вино/золото по
				| <br>18 уровень: вино/золото по
				| <br>19 уровень: вино/золото по
				| <br>20 уровень: вино/золото по
				|		
			li(id="def")
				strong Как лучше распологать войска для защиты замка
				div
				| 1) Если не хочешь чтобы тебя проходили необходимо все ресы убирать наверх; 
				| <br>2) Гильотина всегда должна находится над лестницей и жалетельно рядом изгороди и герои, 
				| чтобы атакующий как можно дольше находился под ней;
				| <br>3) как можно сильнее осложнить доступ бомб к изгородям; 
				| <br>4) Пружину стараться ставить под ведьм, это за две клетки до атакуемого объекта;
			li(id="black")
				strong Какие товары бывают на черном рынке?
				div
					| Эпические герои за 720 фрагментов.<br>
					| Редкие герои за 180 фрагментов.<br>
					| Король обезьян за 360 фрагментов.<br>
					| Ключ продвинутого портала за 450 кристаллов. <br>

					img( src="../images/black_market_samurai.png" alt="Самурай на черном рынке" width="140" height="200") 
					img( src="../images/black_market_hero_1.png" alt="Цены на черном рынке" width="140" height="200")
					img( src="../images/black_market_gelio.png" alt="Цены на черном рынке" width="140" height="200")
					img( src="../images/black_market_mid_exp_potion.png" alt="Цены на черном рынке" width="140" height="200")
					img( src="../images/black_market_green.png" alt="Цены на черном рынке" width="140" height="200")
			li(id="war")
				strong Ежедневные клановые войны
				div
					| Клановые войны объявляет Король или любой Хозяин. Война длится 8 часов. Когда война идет, то справа появляется баннер, см. скриншот.
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_1.jpg" alt="Скриншот MonsterCastle")
							
				div.clearfix
				div					
					| Если кто-то из соклановцев уже захватил замок данного игрока, то Вы можете просмотреть игру. Это бывает очень полезно. Для этого просто нажмите на кнопку "Видео союзника".
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_4.png" alt="Скриншот MonsterCastle")
				div.clearfix					
				div
					| Во время войны, чтобы посмотреть статистику войны нужно нажать на любой флаг внизу экрана, см. скриншот.
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_2.png" alt="Скриншот MonsterCastle")
				div.clearfix

				div
					| И Вы увидите приблизительно следующее
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_3.png" alt="Скриншот MonsterCastle")
				div.clearfix
				div
					| Как начисляются очки?
					| <br>... продолжение следует ...
	<script src="table_sort.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
