extends ../layouts/html_layout.jade

block title
	title= site_title + " Monster Castle"
	<script src="table_sort.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
block content
	mixin diamond(nick, title_text, number1, number2, number3)
		tr
			td #{nick}
			td #{title_text}
			td
				- for (var i=1; i<=number1; i++) {
					i(class="fa fa-certificate fa-2x colorred" aria-hidden="true")
				- }				
				- for (var i=1; i<=number2; i++) {
					i(class="fa fa-gitlab fa-2x colorblue" aria-hidden="true")
				- }
				- for (var i=1; i<=number3; i++) {
					i(class="fa fa-star fa-2x coloryellow" aria-hidden="true")
				- }

	mixin testtitle(name, num1)
		tr
			td name
			td: span.colorgreen text
			td
				- var n = 0;
				ul
					while n < num1
						li n++

	div.row: div.large-12.columns: h1 Monster Castle
	div.row: div.large-12.columns
		h3 Страничка гильдии <b>"RussiaChamp"</b>
		<div class="image"><img src="../images/MC_clan_logo.png" alt="Логотип гильдии RussiaChamp"></div>		
		ol
			li <b>О гильдии</b>
				div.text-justify
					| Русскоязычная гильдия <b>"RussiaChamp"</b> основной целью преследует получение удовольствия от игры.
					| В гильдию принимаются игроки постоянно играющие в Monster Castle и готовые соблюдать правила гильдии.
					| <br><b><u>Время клановой войны: ежедневно начало около 14.45 МСК. Продолжительность 8 часов. </u></b>
			li 
				strong Текущие критерии приема в гильдию
				div
					| Уровень от 25.
					| <br>Желание и возможность участвовать в клановых войнах.
			li 
				strong Обращение к согильдийцам
				div
					| Друзья наша гильдия будет успешной только при приходе в нее новых активных игроков. Поэтому, большая просьба,
					| при возможности, публикуйте в русскоязычном чате текст, типа такого:
					| <br>[00ffff] Играю в отличной гильдии. Рекомендую гильдию [b]активным игрокам.
					| <br>или
					| <br>[00ffff] Играю в [ff00ff]боевой[00ffff] гильдии. Рекомендую гильдию [b]активным игрокам.
					| <br>или любой другой текст, по которому к нам в гильдию придут новички.
			li
				strong Таблица званий и знаков отличий
				ol на 17.12.2016
					li Шушилёк
					li Adastra
					li DarkMoonCastle

				h3 Общая таблица
				table
					thead
						tr 
							td Ник
							td Звание
							td Знаки отличия
					tbody
						+diamond("Adastra", "Граф-Гелиотроп", 1, 0, 1)
						+diamond("Absolem.info", "Граф-Гелиотроп", 0, 1, 4)
						+diamond("Шушилёк", "Граф-Гелиотроп", 0, 1, 2)						
						+diamond("snezheg", "Граф-Гелиотроп", 0, 1, 1)
						+diamond("DarkMoonCastle", "Барон-Кристалл", 0, 0, 1)
						+diamond("ВЕЛЬЗЕВУЛ", "Бывший", 1, 2, 2)
						+diamond("ПЕТЕРГОФ", "Бывший", 1, 0, 0)
						+diamond("екетоя", "Бывший", 0, 1, 0)
						+diamond("SHEF", "Бывший", 0, 1, 0)
						+diamond("krewed", "Бывший", 0, 0, 3)
						+diamond("Balashiha", "Бывший", 0, 0, 2)
			li
				<strong> Активность игроков</strong>
				<iframe width=100% height=1000px src="https://docs.google.com/spreadsheets/d/16qHUNMSBClTSQ4cTCF-A9fAEqQZcqSNsU1bG-QmqGuM/pubhtml?widget=true&amp;headers=false"></iframe>

			li
				strong Внутригильдейские титулы и звания
				div
					| С 1 августа 2016 вводятся следующие внитригильдейские титулы и звания за
					| время членства в гильдии(от высшего к низшему):
					ul
						li Великий Князь
						li Князь
						li Герцог
						li Граф
						li Барон
						li Новобранец (7 дней)
					| Новобранец дается на 7 дней при вступлении в гильдию.
					br
					| Далее структура всех званий однотипна.
					| 
					| Каждое звание разделяется на 3 ранга(от высшего к низшему):
					ul
						li.colorgreen Зеленый(герой)
						li.colorred Красный(гелиотроп)
						li.colorblue Синий(кристалл)
					| Таким образом самое низшее звание после испытательного срока(звание Новобранец): 
					span.colorblue Барон-Кристалл или Синий Барон; 
					| высшее
					| звание 
					span.colorgreen Зеленый Великий Князь или Великий Князь-Герой
					br
					| Звания даются за время членства в гильдии. Новое звание каждый месяц.
			li
				strong Внутригильдейские знаки отличия
				div
					| С 1 августа 2016 года за первые три места в рейтинге достижений за неделю игрок
					| будет получать знак отличия. 
					strong Время фиксации рейтинга каждую неделю в субботу в 22.00. 
					| Знаки присваиваются по следующему принципу:
					ul
						li 1 место - три звезды <i class="fa fa-star fa-2x coloryellow" aria-hidden="true"></i><i class="fa fa-star fa-2x coloryellow" aria-hidden="true"></i><i class="fa fa-star fa-2x coloryellow" aria-hidden="true"></i>
						li 2 место - две звезды <i class="fa fa-star fa-2x coloryellow" aria-hidden="true"></i>
							|<i class="fa fa-star fa-2x coloryellow" aria-hidden="true"></i>
						li 3 место - одна звезда <i class="fa fa-star fa-2x coloryellow" aria-hidden="true"></i>
					br
					|Пять звезд заменяются на один кристалл. <i class="fa fa-gitlab fa-2x colorblue" aria-hidden="true"></i>
					//-<div class="image"><img width=30px height=30px src="../images/crystals.png" alt="Фрагмент героя"></div>
					br
					|Пять кристаллов заменяются на один гелиотроп. <i class="fa fa-certificate fa-2x colorred" aria-hidden="true"></i>
					//-<div class="image"><img width=30px height=30px src="../images/geliotrop.png" alt="Фрагмент героя"></div>
					br
					|Пять гелиотропов заменяются на один фрагмент героя. <i class="fa fa-gg fa-2x colorgreen" aria-hidden="true"></i>
					//-<div class="image"><img width=30px height=30px src="../images/g.png" alt="Фрагмент героя"></div>
					br
					| Фрагменты не заменяются.
					br
					| Таблица со званиями и знаками отличия распологается на этой странице.
												
			li
				strong Кому дается звание "Хозяин"
				div.text-justify
					| Звание "Хозяин" присваивается "Королем".
					| Игроку достойно зарекомендовавшему себя игрой в клане может быть присвоено звание "Хозяин". Тогда на него
					| накладываются дополнительные права и обязанности. Он обязан привлекать новых игроков в гильдию и следить
					| за выполнением игроками правил гильдии. У него есть право принимать и исключать игроков из гильдии.
					| Также у него есть право начинать ежедневные войны в заранее согласованное время.
			li 
				strong Кому дается звание "Страж"
				div.text-justify
					| Звание "Страж" присваивается "Королем" или "Хозяином".
					| Игрокам с наивысшим рейтингом(среди имеющих звание "Воин") на текущий момент дается звание "Страж".
					| Игрок обязан иметь боеспособный замок ко времени начала клановой войны, т.к. "Страж" 100%
					| автоматически принимает участие в клановой войне для защиты "Короля" и врагам даются повышенные очки за
					| взятия его замка.
			li 
				strong Кому дается звание "Подмастерье"
				div
				| Звание "Подмастерье" присваивается "Королем" или "Хозяином". 
				| <br>Звание "Подмастерье" дается игрокам с самым маленьким уровнем или игрокам у которых замок не готов к войне.  
			li 
				strong Кому дается звание "Воин"
				div
				| Звание "Воин" присваивается всем членам гильдии автоматически.
			li 
				strong Внутригильдийское звание "Новобранец"			
				div
				| Звание "Новобранец" присваивается всем новым членам гильдии автоматически и действует 7 дней.
			li

				strong Кто исключается из гильдии
				div.text-justify
					ol Независимо от укомплектованности гильдии:
						li
							| <b>Сейчас главный критерий</b>. Игрок с рейтингом достижений за неделю ниже 5.						
						li
							| Игрок <strong>незаходивший в игру более 7 дней</strong> и непредупредивший о своем 
							| длительном отсутствии "Короля" - исключается из гильдии.
						li
							| Игрок заходивший в игру, но не участвовавший ни в одной клановой войне на протяжении 7 дней.
						При полностью укомплектованной гильдии, если есть кандидат на вступление в гильдию:
						li
							| Исключается игрок не являющийся Новобранцем с минимальным рейтингом достижений за неделю, независимо от: величины рейтинга,
							| уровня, звания.

			li 
				strong Заключительные положения
				div.text-justify
					| По мере развития игры и гильдии данные правила постоянно изменяются и дополняются.
					| <br>Вопросы и пожелания присылайте на: andsemenoff&lt;собака&gt;ya.ru

		h3 Зачем принимать участие в клановых войнах?
		ol
			li 
				strong Опыт для героев
				div.text-justify 
				| При захвате замков Ваши герои получают опыт и прокачиваются. В войне может быть много игроков ниже Вашего уровня или 
				| игроков с замками не готовыми к сражению.
			li
				strong Гелиотропы
				div.text-justify
				Вы имеете шанс получить гелиотропы, как и при обычном сражении в многопользовательском режиме.
			li
				strong Еще больше гелиотропов
				div.text-justify
				| По итогам клановой войны каждый член гильдии получает гелиотропы в взависимости от места гильдии, занятого в войне. Их количество сильно
				| отличается от занятого места. По опыту - несколько побед может принести <b>каждому</b> члену гильдии более десяти <b>дополнительных</b>
				| гелиотропов. Поэтому очень важно, чтобы каждый зашел, победил и пренес очки для первого места в клановой войне. 
		h3 Ваши приколы
		<div class="image"><img width="300" height="300" src="../images/MC_hero.jpg" alt="Приколы MonsterCastle"></div>

		h3 Вопросы и ответы
		ol
			li: a(href="#green") На кого/что тратить фрагменты героя?
			li: a(href="#chat") Как писать в чат цветом?
			li: a(href="#SamCastle") Зачем атаковать крепость Сэма?			
			li: a(href="#day") Что значит в ежедневных заданиях "Покормить 1 раз"?
			li: a(href="#Sam") Когда появляется Сэм и как его победить?
			li: a(href="#chest") Когда появляется сундук (сокровища Сэма)?			
			li: a(href="#def") Как лучше распологать войска для защиты замка?
			li: a(href="#dragon") Дракон и его параметры.			
			li: a(href="#war") Ежедневные клановые войны
			li: a(href="#black") Какие товары бывают на черном рынке?
			li: a(href="#mana") Затраты на использование магии.
			li: a(href="#war_counting") Как начисляются очки в гильдейских войнах?			
		ol
			li(id="green")
				strong На кого/что тратить фрагменты героя?
				div
					| Фрагменты героя рекомендуется копить и тратить только на покупку эпический героев. Желательно покупать на черном
					| рынке, тогда цена будет 720 фрагментов за героя.
				| <br>&nbsp;					
			li(id="chat")
				strong Как писать в чат цветом?
				div
					| Написать в квадратных скобках цвет, потом сам текст, например, [ff0000] набор в гильдию от 25 лвл.
					| <br>Примеры, различных цветов:
					| <br>[000000] - черный
					| <br>[00ff00] - зеленый
					| <br>[0000ff] - синий
					| <br>[ffff00] - желтый
					| <br>[00ffff] - голубой
					| <br>[ff00ff] - розовый
					| <br>[cccccc] - серый
					| <br>можно применять теги [b] - жирный; [u] - подчеркнуть; [i] - курсив.
				| <br>&nbsp;					
			li(id="SamCastle")
				strong Зачем атаковать крепость Сэма?
				div
				| За атаку крепости Сэма дают очень хорошие награды, причем как индивидуальные, так и гильдейские.
				| <br>&nbsp;Индивидуальные награды такие: 
				| <br>Сколько ресурсов за какое количество набранных очков дают:
				| <br>&nbsp;100 очков: золото 100'000;
				| <br>&nbsp;150 очков: вино 100'00;
				| <br>&nbsp;200 очков: фрагментов 5;
				| <br>&nbsp;275 очков: золото 200'000;
				| <br>&nbsp;350 очков: вино 200'000;
				| <br>&nbsp;425 очков: фрагментов 10;
				| <br>&nbsp;550 очков: золото 300'000;
				| <br>&nbsp;675 очков: вино 300'000;
				| <br>&nbsp;800 очков: фрагментов 15;
				| <br>&nbsp;1000 очков: золото 400'000;
				| <br>&nbsp;1200 очков: вино 400'000;
				| <br>&nbsp;1400 очков: фрагментов 20;
				| <br>&nbsp;1700 очков: золото 500'000;
				| <br>&nbsp;2000 очков: вино 500'000;
				| <br>&nbsp;2300 очков: фрагментов 25;
				| <br>&nbsp;Награды приходят в письмах. Поэтому их можно забирать не сразу, а при необходимости и вас не ограбят.
				| <br>&nbsp;Гильдейские награды такие: 
				| <br>&nbsp;1 место: 300 фрагментов по 2'000'000 золота и вина;
				| <br>&nbsp;2-3 место: 200 фрагментов по 1000'000 золота и вина;
				| <br>&nbsp;4-10 место: 150 фрагментов по 750'000 золота и вина;
				| <br>&nbsp;11-20 место: 100 фрагментов по 500'000 золота и вина;
				| <br>&nbsp;21-50 место: 70 фрагментов по 350'000 золота и вина;
				| <br>&nbsp;51-100 место: 50 фрагментов по 250'000 золота и вина;
				| <br>&nbsp;														
			li(id="day")
				strong Что значит в ежедневных заданиях "Покормить 1 раз"?
				div.clearfix				
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_day_screen.png" alt="Скриншот MonsterCastle")
				div.clearfix				
				div
					| Для выполнения нужно у любого героя во вкладке "Улучшить", использовать(поглотить/уничтожить) либо гелиотропы, либо элексиры.
					| При этом если до следующего уровня героя меньше опыта, чем тот который Вам причитается за уничтожение - этот опыт пропадет.
				div.clearfix				
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_hero.png" alt="Скриншот MonsterCastle")
				div.clearfix
			li(id="Sam")
				strong Когда появляется Сэм и как его победить?
				div
				| Итак, Сэм появляется во вторник и пятницу в 19.00 МСК. 
				| <br>Сколько ресурсов на каком уровне дают за победу:
				| <br>&nbsp;1 уровень: вино/золото по 3'820; уровень - 7;
				| <br>&nbsp;2 уровень: вино/золото по 12'500; уровень - 9;
				| <br>&nbsp;3 уровень: вино/золото по 24'400; уровень - 10;
				| <br>&nbsp;4 уровень: вино/золото по 40'000; уровень - 15;
				| <br>&nbsp;5 уровень: вино/золото по 57'000; уровень - 17;
				| <br>&nbsp;6 уровень: вино/золото по 80'000; уровень - 18;
				| <br>&nbsp;7 уровень: вино/золото по 105'000; уровень - ?;
				| <br>&nbsp;8 уровень: вино/золото по 132'000; уровень - 19;
				| <br>&nbsp;9 уровень: вино/золото по 161'000; уровень - 26;
				| <br>10 уровень: вино/золото по 193'000; уровень - 27;
				| <br>11 уровень: вино/золото по 224'000; уровень - 34;
				| <br>12 уровень: вино/золото по 262'000; уровень - 40;
				| <br>13 уровень: вино/золото по 300'000; уровень - 43;
				| <br>14 уровень: вино/золото по 342'000; уровень - 46;
				| <br>15 уровень: вино/золото по
				| <br>16 уровень: вино/золото по
				| <br>17 уровень: вино/золото по
				| <br>18 уровень: вино/золото по
				| <br>19 уровень: вино/золото по
				| <br>20 уровень: вино/золото по
				| <br>&nbsp;				
			li(id="chest")
				strong Когда появляется сундук (сокровища Сэма)?
				div
				| Сундук появляется раз в неделю в воскресенье в 19.00 МСК.
				| <br>&nbsp;				
			li(id="def")
				strong Как лучше распологать войска для защиты замка
				div
				| 1) Если не хочешь чтобы тебя проходили необходимо все ресы убирать наверх; 
				| <br>2) Гильотина всегда должна находится над лестницей и жалетельно рядом изгороди и герои, 
				| чтобы атакующий как можно дольше находился под ней;
				| <br>3) как можно сильнее осложнить доступ бомб к изгородям; 
				| <br>4) Пружину стараться ставить под ведьм, это за две клетки до атакуемого объекта;
				| <br>&nbsp;				
			li(id="dragon")
				strong Дракон и его параметры.
				<table>
				<thead><tr><td>Уровень</td><td>Атака</td><td>Дыханий</td><td>Подношение</td><td>Перезарядка</td></tr>
				</thead>
				<tbody>
				<tr><td>1</td><td>88</td><td>1</td><td>-</td><td>45</td></tr>
				<tr><td>2</td><td>110</td><td>1</td><td>-</td><td>45</td></tr>
				<tr><td>3</td><td>132</td><td>1</td><td>-</td><td>45</td></tr>
				<tr><td>4</td><td>154</td><td>1</td><td>18900</td><td>45</td></tr>
				<tr><td>5</td><td>176</td><td>1</td><td>28200</td><td>45</td></tr>
				<tr><td>6</td><td>198</td><td>1</td><td>39100</td><td>45</td></tr>
				<tr><td>7</td><td>220</td><td>2</td><td>52000</td><td>45</td></tr>
				<tr><td>8</td><td>242</td><td>2</td><td>66000</td><td>45</td></tr>
				<tr><td>9</td><td>264</td><td>2</td><td>-</td><td>45</td></tr>
				<tr><td>10</td><td>286</td><td>2</td><td>-</td><td>45</td></tr>
				<tr><td>11</td><td>308</td><td>2</td><td>-</td><td>45</td></tr>
				<tr><td>12</td><td>330</td><td>2</td><td>-</td><td>45</td></tr>
				<tr><td>13</td><td>352</td><td>3</td><td>165300</td><td>45</td></tr>
				</tbody>
				</table>
				| <br>&nbsp;				
			li(id="black")
				strong Какие товары бывают на черном рынке?
				div
					| Эпические герои за 720 фрагментов.<br>
					| Редкие герои за 180 фрагментов.<br>
					| Король обезьян за 360 фрагментов.<br>
					| Ключ продвинутого портала за 450 кристаллов. <br>

					img( src="../images/black_market_samurai.png" alt="Самурай на черном рынке" width="140" height="200") 
					img( src="../images/black_market_hero_1.png" alt="Цены на черном рынке" width="140" height="200")
					img( src="../images/black_market_gelio.png" alt="Цены на черном рынке" width="140" height="200")
					img( src="../images/black_market_mid_exp_potion.png" alt="Цены на черном рынке" width="140" height="200")
					img( src="../images/black_market_green.png" alt="Цены на черном рынке" width="140" height="200")
				| <br>&nbsp;						
			li(id="mana")
				strong Затраты на использование магии
				<table>
				<thead><tr><td>Магия</td><td>Использование (раз)</td><td>Стоимость</td><td>Суммарно</td></tr>
				</thead>
				<tbody>
				<tr><td>Удар молнии</td><td>1</td><td>1</td><td>1</td></tr>
				<tr><td>-//-</td><td>2</td><td>3</td><td>4</td></tr>
				<tr><td>-//-</td><td>3</td><td>5</td><td>9</td></tr>
				<tr><td>-//-</td><td>4</td><td>7</td><td>16</td></tr>
				<tr><td>-//-</td><td>5</td><td>-</td><td>-</td></tr>
				<tr><td>Монстры подземелья</td><td>1</td><td>10</td><td>10</td></tr>
				<tr><td>-//-</td><td>2</td><td>17</td><td>27</td></tr>
				<tr><td>-//-</td><td>3</td><td>-</td><td>-</td></tr>
				<tr><td>Замораживание</td><td>1</td><td>2</td><td>2</td></tr>
				<tr><td>-//-</td><td>2</td><td>-</td><td>-</td></tr>
				<tr><td>-//-</td><td>3</td><td>-</td><td>-</td></tr>
				<tr><td>Защита</td><td>1</td><td>3</td><td>3</td></tr>
				<tr><td>-//-</td><td>2</td><td>-</td><td>-</td></tr>
				<tr><td>-//-</td><td>3</td><td>-</td><td>-</td></tr>																
				</tbody>
				</table>			

			li(id="war")
				strong Ежедневные клановые войны
				div
					| Клановые войны объявляет Король или любой Хозяин. Война длится 8 часов. Когда война идет, то справа появляется баннер, см. скриншот.
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_1.jpg" alt="Скриншот MonsterCastle")
							
				div.clearfix
				div					
					| Если кто-то из соклановцев уже захватил замок данного игрока, то Вы можете просмотреть игру. Это бывает очень полезно. Для этого просто нажмите на кнопку "Видео союзника".
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_4.png" alt="Скриншот MonsterCastle")
				div.clearfix					
				div
					| Во время войны, чтобы посмотреть статистику войны нужно нажать на любой флаг внизу экрана, см. скриншот.
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_2.png" alt="Скриншот MonsterCastle")
				div.clearfix

				div
					| И Вы увидите приблизительно следующее
				div.large-2.columns
					p &nbsp;					
				div.large-6.columns
					div.card
						div.image
							img( src="../images/mc_screen_3.png" alt="Скриншот MonsterCastle")
				div.clearfix
				| <br>&nbsp;					
			li(id="war_counting")					
				strong Как начисляются очки в гильдейских войнах?
				div
					| Чем дальше от центра расположен замок, тем больше очков дадут за его взятие. В таблице
					| ниже графа "место" это место замка начиная от центра, т.е. на месте 1 самый слабый замок.
					| Получается, что захватив все замки с королем Вы принесете гильдии 325 очков.
					| Если у всех гильдий есть все замки, то максимум можно заработать 975 очков.
				<table>
				<thead><tr><td>Место</td><td>Очков</td><td>Суммарно</td></tr>
				</thead>
				<tbody>
				<tr><td>1</td><td>5</td><td>5</td></tr>
				<tr><td>2</td><td>10</td><td>15</td></tr>
				<tr><td>3</td><td>15</td><td>30</td></tr>
				<tr><td>4</td><td>20</td><td>50</td></tr>
				<tr><td>5</td><td>25</td><td>75</td></tr>
				<tr><td>6</td><td>30</td><td>105</td></tr>
				<tr><td>7</td><td>35</td><td>140</td></tr>
				<tr><td>8</td><td>40</td><td>180</td></tr>
				<tr><td>9</td><td>45</td><td>225</td></tr>
				<tr><td>10</td><td>100</td><td>325</td></tr>
				</tbody>
				</table>					
				| <br>... продолжение следует ...
	<script src="table_sort.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
