body {
  font-family: 'Exo 2', 'Arimo', 'Roboto', sans-serif;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3{
	/*font-family: 'Neucha', cursive;*/
	text-align: center;
	font-family: 'Roboto', sans-serif;	
}
a {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
}

.minitable {
	border-collapse: collapse;
	text-align: center;
	border:2px solid black;
	margin-top: 5px;
}
.minitable th {
	border: 1px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
}

.minitable td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

.semitransparent {
	opacity: 0.5;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ul { 
  display: block;
  list-style-type: none;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}

/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  /*display: none;*/
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

ol>li{
display:block;
}

ol>li:before{
content:counters(item,".") ". ";
counter-increment:item
}
ol{
counter-reset:item
}

.pcard{
	width: 40px;
}
