extends ../layouts/html_layout.jade
block title
	title= site_title + " Шарлотка с яблоками."
	
block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		div(id="recipe")


		div Ссылки по теме:
		ol
			+mli("ru", "out", "https://www.youtube.com/watch?v=vBJGsHXDyDI", "Любовь Сазонова", "Шарлотка с яблоками. *", "youtube")
			+mli("ru", "out", "", "", "", "youtube")
			
		div * - я ориентируюсь на этот вариант
block footer
	script(src="price_of_ingredients.js")
	script(src="charlotte_with_apples.js")