extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Блины - тонкие, бездрожжевые.
		div Рецепт:
		table.table-test
			tr
				td 1
				td молоко
				td 450 гр.
			tr
				td 2
				td яйца
				td 135-140 гр. (2 шт.)
			tr
				td 3
				td мука
				td 150 гр.
			tr
				td 4
				td сахар
				td 50 гр.
			tr
				td 5
				td соль
				td 2 гр.
			tr
				td 6
				td масло растительное
				td 20 гр.
		div Приготовление:
		div 
		div Еще рецепты не проверенные на практике
			li Блины (Ингредиенты для теста)
				ol
					li 2 стакана молока
					li 2 яйца
					li 2 столовые ложки сахара
					li 6 столовых ложек муки
					li соль
					li растительное масло
					li разрыхлитель для теста
			li Бездрожжевое тесто для блинов
				ol
					li молоко 125 мл
					li вода 125 мл
					li масло сливочное 25 грамм
					li сахар 50 грамм
					li соль
					li яйца 3 шт.
					li мука 300 грамм
					li растительное масло
			div 
			| Рецепт взят 
			a(href="http://www.telecafe.ru/recipes/420") отсюда
