extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Общие вопросы
		ol
			+mli("ru", "my", "my_recipes.html", "Сборник моих рецептов", "те, что мной проверены на практике", "")

			li Видео рецепты
				ol
					+mli("ru", "out", "https://youtu.be/JHPP3MOpB_8", "Макароны с фаршем в духовке.", "", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=9WWOBBPjQfA", "Жареные пирожки с мясом", "", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=_uMkXs33VL0", "Блины ржаные.", "", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=48UnHgEZNXg", "Коллекция Рецептов", "Песочное печенье 'Курабье Бакинское'", "youtube")
					+mli("ru", "out", "https://yuliya-maganova.livejournal.com/32982.html", "yuliya_maganova", "Питерские пышки", "")
					+mli("ru", "out", "https://www.youtube.com/watch?v=EER_3pH38Ek", "Выпечка и кулинария.", "Песочное печенье 'ГЛАГОЛИКИ' по ГОСТу", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=HZbHUERiMeI", "Простые и вкусные рецепты!", "Идеальное бездрожжевое постное тесто", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=0ikChcM0aPU", "Alina FooDee", "дрожжевое тесто «Водолаз»", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=vg20fjfCGG8", "Ольга Матвей", "Пирожки на Сковороде", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=4gU9mIzEoOQ", "Выпечка и кулинария.", "ПИРОЖКИ С ЯБЛОКАМИ. Рецепт теста для пирожков.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=RQK_YXRyzVM", "Выпечка и кулинария.", "Трубочки с мясом . Жареные пирожки. Тесто для пирожков и пончиков.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=fpxw892QGsU", "Выпечка и кулинария.", "Янтарное варенье целыми дольками / Apple jam", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=4yFD7kRMS78", "Выпечка и кулинария.", "Лучший рецепт для оставшихся белков. Эстонский кекс на белках/Estonian egg white cake", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=-dywTvXRGNs", "Выпечка и кулинария.", "СДОБНЫЕ, АРОМАТНЫЕ КЕКСЫ. Как сделать кексы ещё пышнее.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=JW_8-hxtnrc", "Любовь Сазонова", "Шарлотка с мандаринами.", "youtube")



					+mli("ru", "out", "https://www.youtube.com/watch?v=Ke0_iHHCzi4", "Кондитер. Iulia Portugalia.", "Банановый пирог.", "youtube") 
					+mli("ru", "out", "https://www.youtube.com/watch?v=t2nvXbegCDI", "Alina FooDee", "сырный соус.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=OlNMrByAXRI", "Еда на любой вкус", "Пончики.", "youtube") 

					+mli("ru", "out", "https://www.youtube.com/watch?v=_QaWr39FHmw", "Надежда Баклыкова", "Хворост на кефире. Кребли.", "youtube")
					+mli("ru", "out", "http://www.tveda.ru/recepty/ukrainskiy-borsch/", "Едаtv", "Украинский борщ.", "icon")
					+mli("ru", "out", "https://www.youtube.com/watch?v=4zBj0A3fwhc", "Кулинарные практики", "Домашний пломбир и эскимо.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=dTHTg9nzOxk", "", "Пирожки-Минутки с Луком и Яйцом.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=dFGe-o4lECE", "Ольга Шобутинская", "Пуховые ПИРОЖКИ С МЯСОМ.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=T0DINh27L8o", "Ольга Шобутинская", "Тонкие ажурные блинчики на заварном тесте.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=IojuDk-Z9l0", "Ольга Шобутинская", "Домашние чебуреки с мясом хрустящие и сочные.", "youtube")
					+mli("ru", "out", "https://www.youtube.com/watch?v=UbWOfQ3NYXU", "Alina FooDee", "Безе с орехами(миндаль).", "youtube")
 

					+mli("ru", "out", "https://www.youtube.com/watch?v=sW5nK5szUFY", "С Натальей Бородиной", "Пончики из советского детства.", "youtube")
					li Мороженое
						ol
							+mli("ru", "out", "https://www.youtube.com/watch?v=MKSwEf-gbys", "Ольга Матвей", "Пломбир", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=3TtNMPliCB0", "Apron", "Крем-брюле .", "youtube") 
							+mli("ru", "out", "https://www.youtube.com/watch?v=9Q45PKxAgzY", "Anna Olson", "A Crème Brulée Twist.", "youtube") 
							+mli("ru", "out", "https://www.youtube.com/watch?v=yvq5RU3mgQQ", "Коллекция Рецептов", "Ванильно-сливочный пломбир", "youtube")

					li Хлеб
						ol
							+mli("ru", "out", "https://youtu.be/YUZm9yRgyTA", "Еда на любой вкус", "Батон дрожжевой.", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=9ekIzJSyOg4", "Увлекательные рецепты от Татьяны Авровой", "Ржаной хлеб на дрожжах.", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=hfP6rKFfrWI", "IrinaCooking", "Ржаной хлеб на дрожжах.", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=QETQ-cFYVLM", "Кухня неУмелой хозяйки", "Батон на дрожжах.", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=uw7aVdFme54", "", "Вьетнамский багет.", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=1aEiX7HSNnM", "Выпечка и кулинария.", "Самый вкусный хлеб 'КИЇВСЬКА ПАЛЯНИЦЯ'/ Ukrainian bread, Kyiv palyanytsya", "youtube")
							+mli("ru", "out", "https://www.youtube.com/watch?v=HzHIuD5PdAE", "Выпечка и кулинария.", "Батон ЛЮБИТЕЛЬСКИЙ по ГОСТу / Bread AMATEUR", "youtube")


							 
							li Закваски
								ol
									+mli("ru", "my", "sourdough_starter_blog.html", "Ржаная закваска", "дневник выведения", "")

									+mli("ru", "out", "https://www.youtube.com/watch?v=23gWgCNCjsc", "Татьяна Аврова. Собрание рецептов", "Как я кормлю и храню пшеничную закваску.", "youtube")
									+mli("ru", "out", "https://www.youtube.com/watch?v=H8RcXvXSsaU", "Татьяна Аврова. Собрание рецептов", "Выведение закваски на пшеничной муке в/сорта.", "youtube")
									+mli("ru", "out", "https://www.youtube.com/watch?v=QVogt_kbyDA", "THE CHEF", "Выведение ржаной закваски.", "youtube")
									+mli("ru", "out", "https://www.youtube.com/watch?v=VxT7akxGO-o", "SHEf Doma", "Все о пшеничной закваске.", "youtube")
									+mli("ru", "out", "https://www.youtube.com/watch?v=9Lxf0h8sQOg", "SHEf Doma", "Вce о ржаной закваске.", "youtube")

		div разрыхлитель - polvo para hornear
			li Сырники
				ol
					li 300 грамм нежирного творога
					li 1 яйцо
					li 2 столовые ложки сахара
					li 2 столовых ложки муки
					li соль

				div Перетираем творог через сито. Всё смешиваем. Жарим.

		ol
			+mli("ru", "out", "https://www.tiendainglesa.com.uy/supermercado/azucar-impalpable-vainillada-la-abundancia-200g.producto?8939", "ванильный сахар.", "", "")
			+mli("ru", "out", "https://www.tiendainglesa.com.uy/supermercado/crema-de-leche-conaprole-ultra-sachet-500-ml.producto?13657", "сливки 38%.", "", "")
			+mli("ru", "out", "https://www.tiendainglesa.com.uy/supermercado/polvo-para-hornear-hornex-100g.producto?7806", "разрыхлитель.", "", "")
			+mli("ru", "out", "https://www.tiendainglesa.com.uy/supermercado/levadura-instantanea-fleischmann-10-gr.producto?332526", "сухие дрожжи.", "", "")
			+mli("ru", "out", "https://www.tiendainglesa.com.uy/supermercado/almidon-de-maiz-fleischmann-250-gr.producto?10249", "кукурузный крахмал.", "", "")

