extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		div На странице собраны рецепты, которые были мной приготовлены и оставили хорошее впечатление.
		ol
			+mli("ru", "my", "oladi.html", "Оладьи", "русские оладьи", "")
			+mli("ru", "my", "sugar_buns_ears.html", "Сахарные булочки. Ушки", "", "")
			+mli("ru", "my", "sugar_cookies.html", "Сахарное печенье", "может быть любой формы и сверху с начинкой", "")
			+mli("ru", "my", "basic_muffins.html", "Кексы - мафины", "базовый рецепт", "")
			+mli("ru", "my", "rice.html", "Рис", "в микроволновке", "")
			+mli("ru", "my", "khachapuri_adjarian.html", "Хачапури", "по аджарски.", "")
			+mli("ru", "my", "condensed_milk_with_sugar.html", "Сгущеное молоко с сахаром", "сахар + молоко - простейший рецепт.", "")
			+mli("ru", "my", "сream_on_egg_whites.html", "Крем белково-заварной", "", "")
			+mli("ru", "my", "charlotte_with_apples.html", "Шарлотка с яблоками", "", "")

			
			+mli("ru", "my", "crepes.html", "Блины", "тонкие, бездрожжевые.", "")
			+mli("ru", "my", "pashmak.html", "Пашмак. Восточная сладость", "", "")
			+mli("ru", "my", "сarrot_salad.html", "Морковный салат", "", "")
			+mli("ru", "my", "orange_mousse.html", "Апельсиновый мусс", "на манной крупе.", "")
			+mli("ru", "my", "waffles.html", "Вафли", "тонкие, твердые. Для электро-вафельницы.", "")
			+mli("ru", "my", "pistachio_muffins.html", "Фисташковые кексы", "", "")
			+mli("ru", "my", "tiramisu.html", "Тирамису", "", "")
			+mli("ru", "my", "tortilla_soup.html", "Суп Тортилья", "", "")
			li Тесто
				ol
			li Мороженое
				ol
			li Хлеб
				ol
						+mli("ru", "my", "french_cheese_bread.html", "Французский сырный хлеб", "", "")
						+mli("ru", "my", "french_baguette.html", "Французский багет", "", "")
						+mli("ru", "my", "rifled_bread.html", "Батон 'Нарезной'", "", "")
						+mli("ru", "my", "rye_round_bread.html", "Ржаной (1:3) круглый без замеса на дрожжах", "", "")
						