extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Оладьи (Ингредиенты для теста)
		ol
			li яйцо - 4 штуки
			li соль - 5 грамм
			li дрожжи - 5 грамм
			li сахар - 25 грамм
			li масло растительное - 25 грамм
			li молоко - 700 грамм
			li мука - 550 грамм
		div Ссылки по теме:
		ol
			+mli("ru", "out", "https://www.youtube.com/watch?v=c3TGmvPsFo4", "Зона Лазерсона", "Оладьи дрожжевые.", "youtube")
			+mli("ru", "out", "https://www.youtube.com/watch?v=wtTisJXw3B8", "Выпечка и кулинария", "Оладьи дрожжевые. Без молока и яйца!", "youtube")
			+mli("ru", "out", "https://www.youtube.com/watch?v=FjS58VlIU3Q", "Ладная кухня", "Оладьи дрожжевые. На опаре", "youtube")

		
		div Рецепт :
		table.table-test
			tr
				td 1
				td вода или молоко
				td 250 мл.
			tr
				td 5
				td мука
				td 240 - 250 гр.
			tr 
				td 2
				td прессованные дрожжи  ( 3 гр. сухих ),
				td 8 гр.
			tr
				td 3
				td сахар
				td 20 гр. 
			tr 
				td 4
				td соль
				td 4 гр.
			tr
				td 6
				td раст. масло для жарки
				td 100 мл.
				
		div В воду добавляем дрожжи и сахар и все тчательно перемешиваем до однородности. Затем добавляем соль и муку и вымешиваем тесто. Ждем 40 минут, чтобы тесто поднялось. Делаем тесту обминку. Ждем 30 минут, чтобы тесто поднялось второй раз.
		div Жарим на огне меньше среднего с двух сторон до готовности.