extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Апельсиновый мусс.
		div Рецепт:
		table.table-test
			tr
				td 1
				td молоко
				td 240 мл
			tr
				td 2
				td крупа манная
				td 20 гр.
			tr
				td 3
				td сахар
				td 25 гр.
			tr
				td 4
				td желток 
				td 2 шт.

			tr
				td 5
				td масло сливочное
				td по вкусу
			tr
				td 6
				td цедра апельсина
				td по вкусу
			tr
				td 7
				td апельсин
				td по вкусу
		div Приготовление:
		div 

