extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Пашмак. Восточная сладость.
		div Рецепт:

		table.table-test
			tr
				td 1
				td сахар
				td 220 гр.
			tr
				td 2
				td вода
				td 150 гр.
			tr
				td 3
				td лимонная кислота
				td щепотка
			tr
				td 4
				td мука
				td 100-150 гр.
			tr
				td 5
				td сливочное масло
				td 30-50г
		div Процесс приготовления:
		div

		div Ссылки по теме:
		ol
			+mli("ru", "out", "https://youtu.be/6fIDnSf0UBw", "Вода+Сахар+Мука. Пашмак. Восточная сладость", "", "youtube")
			+mli("ru", "out", "https://www.youtube.com/watch?v=KO2x71x5UTI", "Украсить стол своими руками", "Пашмак или Пишмание в домашних условиях", "youtube")

