extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Фисташковые кексы.
		div Рецепт (Ингредиенты для теста):
		table.table-test
			tr
				td 1
				td Мука
				td 60 гр.
			tr
				td 2
				td Сахарная пудра
				td 140 гр.
			tr
				td 3
				td Фисташковая паста
				td 90 гр.
			tr
				td 4
				td Мед 
				td 50 гр.

			tr
				td 5
				td Белок
				td 100 гр.
			tr
				td 6
				td Миндальная пудра
				td 120 гр.
			tr
				td 7
				td Растительное масло
				td 50 мл

		div Процесс приготовления:
		div Все ингредиенты хорошо перемешать. Разложить по формачкам для кексов(мафинов). Выпекать в духовке при 170 градусах около 15 минут.