extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Рис в микроволновке
		img(src="../images/joie_rice.png" width="200")
		p Я использую специальную силиконовую рисоварку.
		p Готовлю рис марки Mahatma Jasmine
		img(src="../images/Rice_Mahatma_Jasmine.png" width="200")
		p 1 стакан риса и 2 стакана воды.
		ul
			li 4 минуты на максимальной мощности.
			li 7 минут на мощности 30%
			li 5 минут на остываение