extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		div(id="recipe")
		div Для опары:
		table.table-test
			tr
				td 1
				td пшеничная мука в/с
				td 230
				td гр.
			tr
				td 2
				td вода(30-35°С)
				td 125
				td гр.
			tr
				td 3
				td cухие дрожжи(yeast)
				td 2 
				td гр.
		div Оставляем для брожения. Время брожения опары 3-4 часа.
		div Для теста:
			table.table-test
				tr
					td 1
					td вся опара
					td 
					td 
				tr
					td 2
					td вода(30-35°С)
					td 100
					td мл
				tr
					td 1
					td пшеничная мука в/с
					td 270
					td гр.
				tr
					td 3
					td соль
					td 5 
					td гр.
				tr
					td 3
					td сахар
					td 30 
					td гр.
				tr
					td 3
					td сливочное масло
					td 20 
					td гр.

		div Общее время подъема теста 1,5 - 2 часа. Обминка через 50 минут.
		div Формируем два батона.
		div Время отстойки в форме - минимум 2 часа.
		div Верх батонов смазываем водой. Делаем надрезы.
		div В начале выпекания на нижний прогретый протвень вылеваем полстакана воды.
		div Время выпечки 28-30 мин,
		div Режим духовки 'верх и низ' температура 190 °С.

		div Ссылки по теме:
		ol
			+mli("ru", "out", "https://www.youtube.com/watch?v=66J0YVaZ8ts", "Кулинарные практики", "Батон 'Нарезной'.", "youtube")
			+mli("ru", "out", "https://www.youtube.com/watch?v=kAf39XjK6oQ", "Выпечка и кулинария", "Батон 'Нарезной' по ГОСТу.", "youtube")
block footer
	script(src="price_of_ingredients.js")
	script(src="rifled_bread.js")