extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Ржаная закваска - дневник выведения.
		div <u> 1 день 22.00</u>
		div 50 гр. воды из под крана + 40 гр. ржаной муки. Перемешиваем и ставим в теплое место.
		div <u> 2 день 22.00</u>
		div <b>Добавляем</b> к нашей закваске. 25 гр. воды из под крана + 25 гр. ржаной муки. Перемешиваем и ставим в теплое место.
		div <u> 3 день 22.00</u>
		div Берем половину старой закваски и к ней добавляем 25 гр. воды из под крана + 20 гр. ржаной муки. Перемешиваем и ставим в теплое место.
		div <u> 4 день 22.00</u>
		div Берем 50 грамм старой закваски и к ней добавляем 25 гр. воды из под крана + 20 гр. ржаной муки. Перемешиваем и ставим в теплое место.
