extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Сахарное печенье.
		div Рецепт:
		table.table-test
			tr
				td 1
				td Сахар
				td 40 гр.
			tr
				td 2
				td Сливочное масло
				td 90 гр.
			tr
				td 3
				td Ванильный сахар
				td 1 ч.л.
			tr
				td 4
				td Соль
				td 2 гр.
			tr
				td 5
				td Мука
				td 140 гр.
			tr
				td 6
				td Желток
				td 1 шт.
		div Рецепт улучшенный:
		table.table-test
			tr
				td 1
				td Сахар
				td 100 гр.
			tr
				td 2
				td Сливочное масло
				td 180 гр.
			tr
				td 3
				td Ванильный экстракт
				td 1 ч.л.
			tr
				td 4
				td Соль
				td 4 гр.
			tr
				td 5
				td Мука
				td 400 гр.
			tr
				td 6
				td Яйцо
				td 1 шт.
				
		div Процесс приготовления:
		div Приготовление теста: сахар перетираем со сливочным маслом комнатной температуры, затем добавляем ванильный сахар соль и желток. Все перетираем в однородную массу. Затем добавляем муку и вымешиваем тесто. Сильно месить не надо, только до образования единого однородного куска теста. При необходимсоти, если тесто очень жидкое, добавляем еще муки. 
		div Формуем печенье на протвень.
		
		div Выпекать в духовке при режиме "верх и низ" при температуре 200°С 10-12 минут.
				
		div Ссылки по теме:
		ol
			+mli("ru", "out", "https://www.youtube.com/watch?v=yUYR7WK8ik0", "Alina FooDee", "Печенье с джемом в виде сердечек.", "youtube")

