extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Тирамису.
		div Рецепт:
		table.table-test
			tr
				td 1
				td сахар
				td 286 гр.

				
			li Тирамису
				ol
					li сыр маскарпоне 500 грамм
					li печенье Савоярди
					li крепкий растворимый кофе с добавлением алкоголя (кофейный ликер, коньяк)
					li 6 яиц
					li 6 ложек сахара

			p Процесс приготовления
			p Приготовление емкостей
			p Основной этап
			ol
				li Отделяем у 6 яиц желтки от белков.
				li В белки для лучшего взбивания добавляем капельку лимонного сока. Взбиваем белки.
				li К желткам добавляем 6 столовых ложек сахара. Взбиваем желтки до растворения сахара.
				li Добавляем к желткам весь сыр маскарпоне и взбиваем до однородности.
				li Окуратно выливаем сырную массу во взбитые белки и аккуратно снизу вверх перемешиваем.
				li Раскладываем в приготовленные емкости.
				li Ударяем емкостями по столу для удаления больших воздушных пузырей. Посыпаем какао.
				li Помещаем в холодильник минимум на 2 часа.          
			p 
			| Отделяем желтки от белков. В белки для лучшего взбивания добавляем капельку лимонного сока. Взбиваем белки.
			| К желткам добавляем 6 столовых ложек сахара.
			| Взбиваем желтки до растворения сахара. Добавляем к желткам весь сыр маскарпоне и взбиваем до однородности. Окуратно выливаем сырную массу во взбитые белки и аккуратно снизу вверх перемешиваем. Раскладываем в приготовленные емкости.</p>

		+mli("ru", "out", "https://www.youtube.com/watch?v=SVBSJ-q-BYI", "Тирамису", "Еда. Лазерсон.", "youtube")

