extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Вафли - тонкие, твердые. Для электро-вафельницы.
		div Рецепт:
		table.table-test
			tr
				td 1
				td сахар
				td 286 гр.
			tr
				td 2
				td мука
				td 176 гр.
			tr
				td 3
				td яйцо
				td 4 шт.
			tr
				td 4
				td масло сливочное
				td 200 гр.
		div Приготовление:
		div 4 яйца взбиваем с сахаром. Вводим растопленное сливочное масло 200 грамм. Добавляем 176 грамм муки.
