extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Walmart price
	article.grid-container
		div.grid-x
		table.table-test
			tr
				td Freschetta Frozen Pizza 
				td 5.82
				td
			tr
				td Klondike Bars in Ice Cream
				td 4.24
				td 
			tr
				td 
				td 
				td 
			tr
				td 
				td 
				td 
			tr
				td 
				td 
				td 
			tr
				td 
				td 
				td 
