extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Информация по кулинарии
	article.grid-container
		div.grid-x
		h3 Морковный салат.
		div Рецепт:
		table.table-test
			tr
				td 1
				td морковь
				td 
			tr
				td 2
				td красный острый перец
				td 
			tr
				td 3
				td две щепотки сахара
				td 
			tr
				td 4
				td вяленые финики
				td 
			tr
				td 5
				td кардамон
				td 
			tr
				td 6
				td цедра апельсина
				td 
			tr
				td 7
				td кешью
				td 
			tr
				td 8
				td апельсиновый сок
				td 
			tr
				td 9
				td густой йогурт
				td

			
		+mli("ru", "out", "https://youtu.be/nxeGa56inho?t=849", "Морковный салат", "Еда. Лазерсон.", "youtube")