extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">SAYC. 1<span class="red_card">♦</span>—2♣—...</h3>
					
	//-<!--<h2>1<span class="red_card">♥</span> <small><span class="hcp">12—21</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></small> — 1♠ <small><span class="hcp">6+</span> <span class="span2">&nbsp;4+♠&nbsp;</span></small></h2>-->

	<table class="mint"> 
	<tbody>
		<tr>
			<th colspan=6>1<span class="red_card">♦</span> <small><span class="hcp_light">&nbsp;12—21&nbsp;</span> <span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span></small> — 2♣ <small><span class="hcp_light">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</small> F1</th>
		</tr>
		<tr>
			<th>Откр</th><th>Action</th><th>HCP</th><th>Прим</th><th colspan=2>Отв </th>
		</tr>
		<tr><td>2<span class="red_card">♦</span></td><td>-</td><td>&nbsp;12—14&nbsp;</td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> </td><td colspan=2></td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>  </td><td>&nbsp;12—21&nbsp;</td><td> <span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;4<span class="red_card">♥</span>&nbsp;</span></td><td colspan=2></td></tr>
		<tr><td>2♠</td><td> </td><td>&nbsp;12—21&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;4♠&nbsp;</span> </td><td colspan=2>-</td></tr>
		<tr><td>3♣</td><td></td><td>&nbsp;12—14&nbsp;</td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span> м.б. <span class="span2">&nbsp;3♣&nbsp;</span></td><td colspan=2>-</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td> </td><td>&nbsp;15—17&nbsp; </td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> </td><td colspan=2>-</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td> FG </td><td>&nbsp;15+&nbsp; </td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;4<span class="red_card">♥</span>&nbsp;</span></td><td colspan=2>-</td></tr>
		<tr><td>3♠</td><td> FG </td><td>&nbsp;15+&nbsp; </td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;4♠&nbsp;</span></td><td colspan=2>-</td></tr>
		<tr><td>4♣</td><td> FG </td><td>&nbsp;15+&nbsp;</td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span>—<span class="span2">&nbsp;5+♣&nbsp;</span> или <span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span>—<span class="span2">&nbsp;4+♣&nbsp;</span></td><td colspan=2>-</td></tr>
		<tr><td>4<span class="red_card">♦</span></td><td> </td><td>&nbsp;18—21&nbsp; </td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span>  <span class="span2">&nbsp;1&nbsp;</span> / <span class="span2">&nbsp;0&nbsp;</span> в <span class="red_card">♥</span>/♠</td><td colspan=2>-</td></tr>
		<tr><td>4<span class="red_card">♥</span></td><td> </td><td></td><td>не используется </td><td colspan=2>-</td></tr>
		<tr><td>4♠</td><td> </td><td></td><td>не используется </td><td colspan=2>-</td></tr>

		<tr><td>2NT</td><td> </td><td>&nbsp;12—14&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;NT&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td colspan=2>-</td></tr>
		<tr><td>3NT</td><td> </td><td>&nbsp;18—19&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;NT&nbsp;</span> </td><td colspan=2>-</td></tr>
		<tr><td>4NT?</td><td> </td><td></td><td><A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td><td colspan=2>-</td></tr>
		

	</tbody>
	</table>
	<div>Дальнейшая торговля аналогична ...</div>
	
