extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">SAYC. 2♠—2NT—...</h3>
	<table class="minitable">
	<tbody>
		<tr>
			<th colspan=6>2♠ <span class="hcp_light">&nbsp;6—11&nbsp;</span>&nbsp;<span class="span2">&nbsp;6+♠&nbsp;</span>+ПБ — 2NT F1 <span class="hcp_light">&nbsp;14+&nbsp;</span>&nbsp; —...</th>
		</tr>
		<tr>
			<th>Откр</th><th>Action</th><th>HCP</th><th>Примечания</th><th>Отв</th><th>Примечания</th>
		</tr>

		<tr><td>3♠ </td><td>—</td><td class="hcp_light">&nbsp;6—8&nbsp;</td><td><span class="hcp_light">&nbsp;min&nbsp;</span></td><td>—</td><td><span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;9—11&nbsp;</td><td>A♣/K♣/4Q♣</td><td>—</td><td><span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;9—11&nbsp;</td><td>A<span class="red_card">♦</span>/K<span class="red_card">♦</span>/4Q<span class="red_card">♦</span></td><td>—</td><td><span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;9—11&nbsp;</td><td>A<span class="red_card">♥</span>/K<span class="red_card">♥</span>/4Q<span class="red_card">♥</span></td><td>—</td><td><span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;9—11&nbsp;</td><td>нет A/K/4Q</td><td>—</td><td><span class="span2">&nbsp;•&nbsp;</span></td></tr>
	</tbody>
	</table>