extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Absolem SAYC</h3>
	
	<ul class="simple">
		<li><A title="перейти внутри сайта" HREF="sayc_main_rules.html"><i class="far fa-eye"> </i></A> Общие правила <A title="перейти внутри сайта" HREF="evaluation.html"><i class="far fa-eye"></i></A>&nbsp;Пунктовая оценка</li>
		<li><A title="перейти внутри сайта" HREF="absolem_sayc_bidding.html"><i class="far fa-eye"> </i></a> Свободная(односторонняя) торговля. <A title="перейти внутри сайта" HREF="legend.html"><i class="far fa-eye"></i></A>&nbsp;Обозначения(принятые сокращения)</li>
		<li><A title="перейти внутри сайта" HREF="intervention.html"><i class="far fa-eye"></i></a> Торговля в интервенции</li>
		<li><i class="far fa-eye"> </i> Розыгрыш</li>
		<li><A HREF="vist.html"><i class="far fa-eye"> </i></a> Вист</li>
	</ul>
	//- 
		<ul>Обозначения:
			<li><span class="red_card"><strong>M</strong></span> - мажорных, мажор;</li>
			<li><strong>м</strong> - минор, минорных; </li>
			<li>¬ - отрицание, нет, без;</li>
			<li><span class="hcp">&nbsp;7—9&nbsp;</span> - онерные пункты, HCP, мильтоны;</li>
			<li><span class="hcp">max</span> - сила очков максимальна в диапазоне открытия;</li>
			<li><span class="span1"><s>&nbsp;4&nbsp;</s></span> - без мажорных четверок;</li>
			<li><span class="span3"><s>&nbsp;4&nbsp;</s></span> - без минорных четверок;</li>
			<li><span class="span1">&nbsp;4&nbsp;</span> - мажорная четверка;</li>
			<li><span class="span3">&nbsp;4&nbsp;</span> - минорная четверка;</li>
			<li>
			<span class="span2">&nbsp;5+♣&nbsp;</span> от 5-ки треф;
			<span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> от 5-ки бубей; 
			<span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> от 5-ки червей;
			<span class="span2">&nbsp;5+♠&nbsp;</span> от 5-ки пик;
			</li>
			<li><span class="span2">&nbsp;•&nbsp;</span> окончательный контракт;</li>
			<li>мш - малый шлем;</li>
			<li>БШ - большой шлем;</li>
			<li>G - гейм;</li>
			<li>FG - форсирует гейм;</li>
			<li>F1 - форсирует круг;</li>
		</ul>
	<table class="minitable"> 
	<tbody>
		<tr>
			<th>Откр</th><th>Отв</th><th>Прим</th><th>Откр</th>
		</tr>
		<tr><td rowspan=22>1♣<br><br><span class="hcp">&nbsp;12—21&nbsp;</span><br><br><span class="span2">&nbsp;3+♣&nbsp;</span><br>♣ лучше <span class="red_card">♦</span> <span class="span1"><s>&nbsp;5&nbsp;</s></span><br>нет б/к <br>расклада с<br><span class="hcp">&nbsp;15—17&nbsp;</span> <span class="hcp">&nbsp;20—21&nbsp;</span></td>
		<td>pass</td><td><span class="hcp">&nbsp;0—5&nbsp;</span> заканчивает торговлю</td><td>-</td></tr>
		<tr><td>1<span class="red_card">♦</span></td><td>F1 <span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span>&nbsp;<span class="hcp">&nbsp;6+&nbsp;</span> или <span class="hcp">&nbsp;6+&nbsp;</span> <span class="span2">&nbsp;4<span class="red_card">♦</span>&nbsp;</span>&nbsp;<span class="span1"><s>&nbsp;4&nbsp;</s></span><td><A HREF="1c1d.html">1♣-1<span class="red_card">♦</span>-...</a></td></tr>
		<tr><td>1<span class="red_card">♥</span></td><td>F1 <span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span>&nbsp;<span class="hcp">&nbsp;6+&nbsp;</span> или <span class="hcp">&nbsp;6+&nbsp;</span> <span class="span2">&nbsp;4<span class="red_card">♥</span>&nbsp;</span> <span class="span2">&nbsp;4♠&nbsp;</span></td><td><A HREF="1c1h.html">1♣-1<span class="red_card">♥</span>-...</a></td></tr>
		<tr><td>1♠</td><td>F1 <span class="span2">&nbsp;4+♠&nbsp;</span>&nbsp;<span class="hcp">&nbsp;6+&nbsp;</span>, м.б. <span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span> в раскладе <span class="span2">&nbsp;5♠&nbsp;</span>—<span class="span2">&nbsp;4<span class="red_card">♥</span>&nbsp;</span> или <span class="span2">&nbsp;5♠&nbsp;</span>—<span class="span2">&nbsp;5<span class="red_card">♥</span>&nbsp;</span></td><td><A HREF="1c1s.html">1♣-1♠-...</a></td></tr>
		<tr><td>2♣ </td><td><span class="hcp">&nbsp;6—9&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td><A HREF="1c2c.html">1♣-2♣-...</a></td></tr>
		<tr><td>2<span class="red_card">♦</span></td><td>FG&nbsp;<span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span>&nbsp;</td><td><A HREF="1c2d.html">1♣-2<span class="red_card">♦</span>-...</a></td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>FG&nbsp;<span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>&nbsp;</td><td><A HREF="1c2h.html">1♣-2<span class="red_card">♥</span>-...</a></td></tr>
		<tr><td>2♠ </td><td>FG&nbsp;<span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+♠&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+♠&nbsp;</span>&nbsp;</td><td><A HREF="1c2s.html">1♣-2♠-...</a></td></tr>

		<tr><td>3♣</td><td><span class="hcp">&nbsp;10—12&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td><A HREF="1c3c.html">1♣-3♣-...</a></td></tr>
		<tr><td>3<span class="red_card">♦</span> </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> максимум с 1.5 отдачами в <span class="red_card">♦</span></td><td>-</td></tr>
		<tr><td>3<span class="red_card">♥</span> </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> максимум с 1.5 отдачами в <span class="red_card">♥</span></td><td><A HREF="1c3h.html">1♣-3<span class="red_card">♥</span>-...</a></td></tr>
		<tr><td>3♠ </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;6+♠&nbsp;</span> максимум с 1.5 отдачами в ♠</td><td><A HREF="1c3s.html">1♣-3♠-...</a></td></tr>
		<tr><td>4♣</td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span> расклад: <span class="span2">&nbsp;5♣&nbsp;</span>—<span class="span2">&nbsp;5&nbsp;</span>/<span class="span2">&nbsp;6&nbsp;</span>—<span class="span2">&nbsp;4&nbsp;</span></td><td>  </td></tr>
		<tr><td>4<span class="red_card">♦</span>!</td><td><span class="span2">&nbsp;4+♣&nbsp;</span> <span class="span2">&nbsp;1<span class="red_card">♦</span>&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4<span class="red_card">♥</span>!</td><td><span class="span2">&nbsp;4+♣&nbsp;</span> <span class="span2">&nbsp;1<span class="red_card">♥</span>&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4♠! </td><td><span class="span2">&nbsp;4+♣&nbsp;</span> <span class="span2">&nbsp;1♠&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>  </td></tr>
		<tr><td>1NT</td><td><span class="span2"><s>&nbsp;8♣&nbsp;</s></span>&nbsp;<span class="hcp">&nbsp;6—9&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td><A HREF="1c1nt.html">1♣-1NT-...</a></td></tr>
		<tr><td>2NT</td><td>инвит G(3NT)&nbsp;<span class="hcp">&nbsp;10—12&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td><A HREF="1c2nt.html">1♣-2NT-...</a></td></tr>
		<tr><td>3NT</td><td><span class="hcp">&nbsp;13—15&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td>-</td></tr>
		<tr><td>4NT </td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		<tr><td>мш</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>БШ</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>

		
		<tr><td rowspan=21>1<span class="red_card">♦</span><br><br><span class="hcp">&nbsp;12—21&nbsp;</span><br><br><span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span><br><span class="red_card">♦</span> лучше ♣ <span class="span1"><s>&nbsp;5&nbsp;</s></span><br>нет б/к <br>расклада с<br><span class="hcp">15—17</span> <span class="hcp">20—21</span></td>
		<td>pass</td><td><span class="hcp">&nbsp;0—5&nbsp;</span> заканчивает торговлю</td><td>-</td></tr>
		<tr><td>1<span class="red_card">♥</span></td><td> F1 <span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span>&nbsp;<span class="hcp">&nbsp;6+&nbsp;</span>, не исключает <span class="span2">&nbsp;4+♠&nbsp;</span></td><td><A HREF="one_over_one_1d1h.html">1<span class="red_card">♦</span>-1<span class="red_card">♥</span>-...</a></td></tr>
		<tr><td>1♠</td><td> F1 <span class="span2">&nbsp;4+♠&nbsp;</span>&nbsp;<span class="hcp">&nbsp;6+&nbsp;</span>, м.б. <span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span> в раскладе 5-4 или 5-5</td><td><A HREF="one_over_one_1d1s.html">1<span class="red_card">♦</span>-1♠-...</a></td></tr>
		<tr><td>2♣ </td><td> F1 <span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span></td><td><A HREF="1d2c.html">1<span class="red_card">♦</span>-1♣-...</a> <A HREF="1d2c_new.html">new</a></td></tr>
		<tr><td>2<span class="red_card">♦</span></td><td><span class="hcp">&nbsp;5—9&nbsp;</span> <span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span> </td><td><A HREF="1d2d.html">1<span class="red_card">♦</span>-2<span class="red_card">♦</span>-...</a></td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>FG <span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> или <span class="hcp">15+</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>&nbsp;</td><td>-</td></tr>
		<tr><td>2♠ </td><td>FG <span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+♠&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+♠&nbsp;</span>&nbsp;</td><td>-</td></tr>
		<tr><td>3♣</td><td>FG <span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+♣&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+♣&nbsp;</span>&nbsp;</td><td>  </td></tr>
		<tr><td>3<span class="red_card">♦</span> </td><td><span class="hcp">&nbsp;10—12&nbsp;</span> <span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span> </td><td><A HREF="1d3d.html">1<span class="red_card">♦</span>-3<span class="red_card">♦</span>-...</a></td></tr>
		<tr><td>3<span class="red_card">♥</span> </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> максимум с 1.5 отдачами в <span class="red_card">♥</span></td><td><A HREF="1d3h.html">1<span class="red_card">♦</span>-3<span class="red_card">♥</span>-...</a></td></tr>
		<tr><td>3♠ </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;6+♠&nbsp;</span> максимум с 1.5 отдачами в ♠</td><td><A HREF="1d3s.html">1<span class="red_card">♦</span>-3♠-...</a></td></tr>
		<tr><td>4<span class="red_card">♦</span></td><td> инвит к G(5<span class="red_card">♦</span>) <span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> резкий расклад 5-5 или 6-4, невозможно играть NT</td><td>(pass/5<span class="red_card">♦</span>)</td></tr>
		<tr><td>4♣!</td><td><span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;1♣&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4<span class="red_card">♥</span>!</td><td><span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;1<span class="red_card">♥</span>&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4♠! </td><td><span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> <span class="span2">&nbsp;1♠&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>  </td></tr>
		<tr><td>1NT</td><td><span class="hcp">&nbsp;6—9&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td><A HREF="1d1nt.html">1<span class="red_card">♦</span>-1NT-...</a></td></tr>
		<tr><td>2NT</td><td><span class="hcp">&nbsp;10—12&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td><A HREF="1d2nt.html">1<span class="red_card">♦</span>-2NT-...</a></td></tr>
		<tr><td>3NT</td><td><span class="hcp">&nbsp;13—15&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span></td><td>-</td></tr>
		<tr><td>4NT </td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		<tr><td>мш</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>БШ</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>

		<tr><td rowspan=22>1<span class="red_card">♥</span><br><br><span class="hcp">&nbsp;12—21&nbsp;</span><br><br><span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></td>
		<td>pass</td><td><span class="hcp">&nbsp;0—5&nbsp;</span> заканчивает торговлю</td><td>-</td></tr>
		<tr><td>1♠</td><td> F1 <span class="hcp">&nbsp;6+&nbsp;</span> <span class="span2">&nbsp;4+♠&nbsp;</span></td><td><A HREF="one_over_one_1h1s.html"><i class="far fa-eye"> </i></A> one-over-one</td></tr>
		<tr><td>1NT</td><td><span class="hcp">&nbsp;6—9&nbsp;</span> нет фита в <span class="red_card">♥</span>, <span class="span2"><s>&nbsp;4♠&nbsp;</s></span><td>-</td></tr>
		<tr><td>2NT </td><td><span class="hcp">&nbsp;10—12&nbsp;</span>, б/к расклад, нет фита в <span class="red_card">♥</span> </td><td> - </td></tr>
		<tr><td>3NT </td><td><span class="hcp">&nbsp;13—15&nbsp;</span>, б/к расклад <span class="span2">&nbsp;2<span class="red_card">♥</span>&nbsp;</span> <span class="span2"><s>&nbsp;4♠&nbsp;</s></span></td><td> - </td></tr>
		<tr><td>4NT </td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		<tr><td rowspan=3>2<span class="red_card">♥</span> </td><td rowspan=3><span class="hcp">&nbsp;6—9&nbsp;</span> <span class="span2">&nbsp;3+<span class="red_card">♥</span>&nbsp;</span></td><td>pass - нет G</td></tr>
		<tr><td>3<span class="red_card">♥</span> - инвит к G(4<span class="red_card">♥</span>)</td></tr>
		<tr><td>4<span class="red_card">♥</span> - <span class="hcp">&nbsp;max&nbsp;</span> <span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>3<span class="red_card">♥</span> </td><td><span class="hcp">&nbsp;10—12&nbsp;</span> <span class="span2">&nbsp;3+<span class="red_card">♥</span>&nbsp;</span> инвит к G(4<span class="red_card">♥</span>)</td><td> по балансу pass или G(4<span class="red_card">♥</span>) <span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>4<span class="red_card">♥</span> </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span> синглетная рука</td><td> pass или шлемовая торговля </td></tr>
		<tr><td>2♣ </td><td> F1 <span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span></td><td><A HREF="two_over_one.html"></A> <i class="far fa-eye"> </i> two-over-one</td></tr>
		<tr><td>2<span class="red_card">♦</span></td><td> F1 <span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span></td><td><A HREF="two_over_one.html"></A><i class="far fa-eye"> </i> two-over-one</td></tr>
		<tr><td>2♠ </td><td> FG <span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+♠&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+♠&nbsp;</span></td><td>  </td></tr>
		<tr><td>3♣</td><td> FG <span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+♣&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+♣&nbsp;</span></td><td>  </td></tr>
		<tr><td>3<span class="red_card">♦</span> </td><td> FG <span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span></td><td>  </td></tr>
		<tr><td>3♠!</td><td><span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span> <span class="span2">&nbsp;1♠&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4♣!</td><td><span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span> <span class="span2">&nbsp;1♣&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4<span class="red_card">♦</span>!</td><td><span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span> <span class="span2">&nbsp;1<span class="red_card">♦</span>&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4♠</td><td>???</td><td>-</td></tr>
		<tr><td>мш</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>БШ</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		
		
		<tr><td rowspan=19>1♠<br><br><span class="hcp">&nbsp;12—21&nbsp;</span><br><br><span class="span2">&nbsp;5+♠&nbsp;</span></td>
		<td>pass</td><td><span class="hcp">&nbsp;0—5&nbsp;</span> заканчивает торговлю</td><td>-</td></tr>
		<tr><td>1NT</td><td><span class="hcp">&nbsp;6—9&nbsp;</span> нет фита в ♠, м.б.<span class="span2">&nbsp;4<span class="red_card">♥</span>&nbsp;</span><td>-</td></tr>
		<tr><td>2NT </td><td><span class="hcp">&nbsp;10—12&nbsp;</span>, б/к расклад, нет фита в ♠ </td><td> - </td></tr>
		<tr><td>3NT </td><td><span class="hcp">&nbsp;13—15&nbsp;</span>, б/к расклад <span class="span2">&nbsp;2♠&nbsp;</span> <span class="span2"><s>&nbsp;4<span class="red_card">♥</span>&nbsp;</s></span></td><td> - </td></tr>
		<tr><td>4NT </td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		<tr><td>2♠ </td><td><span class="hcp">&nbsp;6—9&nbsp;</span> <span class="span2">&nbsp;3+♠&nbsp;</span></td><td>pass - нет G;<br> 3♠ - инвит к G(4♠);<br> 4♠ - <span class="hcp">&nbsp;max&nbsp;</span> <span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>3♠ </td><td><span class="hcp">&nbsp;10—12&nbsp;</span> <span class="span2">&nbsp;3+♠&nbsp;</span> инвит к G(4♠)</td><td> по балансу pass или G(4♠) <span class="span2">&nbsp;•&nbsp;</span></td></tr>
		<tr><td>4♠ </td><td><span class="hcp">&nbsp;8—11&nbsp;</span> <span class="span2">&nbsp;4+♠&nbsp;</span> синглетная рука</td><td> pass или шлемовая торговля </td></tr>
		<tr><td>2♣ </td><td><span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;4+♣&nbsp;</span> F1</td><td><A HREF="two_over_one_spade.html"><i class="far fa-eye"> </i></A> two-over-one</td></tr>
		<tr><td>2<span class="red_card">♦</span></td><td><span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span> F1</td><td><A HREF="two_over_one_spade.html"><i class="far fa-eye"> </i></A> two-over-one</td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td><span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> F1</td><td><A HREF="two_over_one_spade.html"><i class="far fa-eye"> </i></A> two-over-one</td></tr>
		<tr><td>3♣</td><td><span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+♣&nbsp;</span> FG или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+♣&nbsp;</span> FG</td><td>  </td></tr>
		<tr><td>3<span class="red_card">♦</span> </td><td><span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> FG или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> FG</td><td>  </td></tr>
		<tr><td>3<span class="red_card">♥</span> </td><td><span class="hcp">&nbsp;13+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> FG или <span class="hcp">&nbsp;15+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> FG</td><td>  </td></tr>
		<tr><td>4♣!</td><td><span class="span2">&nbsp;4+♠&nbsp;</span> <span class="span2">&nbsp;1♣&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4<span class="red_card">♦</span>!</td><td><span class="span2">&nbsp;4+♠&nbsp;</span> <span class="span2">&nbsp;1<span class="red_card">♦</span>&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>4<span class="red_card">♥</span>!</td><td><span class="span2">&nbsp;4+♠&nbsp;</span> <span class="span2">&nbsp;1<span class="red_card">♥</span>&nbsp;</span> сплинтер, приглашение к шлемовой торговле</td><td>-</td></tr>
		<tr><td>мш</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>БШ</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		
		
		<tr><td rowspan=12>1NT<br><br><span class="hcp">&nbsp;15—17&nbsp;</span><br>б/к<br>расклад</td><td>2♣!</td><td>Стейман (вопрос о <span class="span1">&nbsp;4&nbsp;</span>), сила от инвита.</td><td><A HREF="Stayman.html">Стейман</A></td></tr>
		<tr><td>2<span class="red_card">♦</span>!</td><td>трансфер в <span class="red_card">♥</span>, <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> <span class="hcp">&nbsp;0+&nbsp;</span></td><td>2<span class="red_card">♥</span> <A HREF="JacobyTransfersM.html"><i class="far fa-eye"> </i></A> Трансфер Джакоби в <span class="red_card"><strong>M</strong></span></td></tr>
		<tr><td>2<span class="red_card">♥</span>!</td><td>трансфер в ♠, <span class="span2">&nbsp;5+♠&nbsp;</span> <span class="hcp">&nbsp;0+&nbsp;</span></td><td>2♠ <A HREF="JacobyTransfersM.html"><i class="far fa-eye"> </i></A> Трансфер Джакоби в <span class="red_card"><strong>M</strong></span></td> </tr>
		<tr><td>2♠!</td><td>трансфер в ♣ или <span class="red_card">♦</span> (от 6-ки), <span class="hcp">&nbsp;0+&nbsp;</span></td><td> -</td></tr>
		<tr><td>2NT</td><td><span class="hcp">&nbsp;7—9&nbsp;</span> инвит к 3NT <span class="span1"><s>&nbsp;4&nbsp;</s></span> </td><td> <span class="hcp">&nbsp;15&nbsp;</span> — pass;<br><span class="hcp">&nbsp;17&nbsp;</span> — 3NT</td></tr>
		<tr><td>3NT</td><td><span class="hcp">&nbsp;10+&nbsp;</span> <span class="span1"><s>&nbsp;4&nbsp;</s></span>, без шлемовых интенций</td><td> - </td></tr>
		<tr><td>4NT</td><td>натурально </td><td> НЕ Блэквуд</A> </td></tr>
		<tr><td>3♣</td><td><span class="span2">&nbsp;5+♣&nbsp;</span>, приглашение к шлемовой торговле</td><td> <A HREF="sayc_1nt_3suit.html"><i class="far fa-eye"> </i></A> </td></tr>
		<tr><td>3<span class="red_card">♦</span> </td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span>, приглашение к шлемовой торговле</td><td> <A HREF="sayc_1nt_3suit.html"><i class="far fa-eye"> </i></A></td></tr>
		<tr><td>3<span class="red_card">♥</span> </td><td><span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>, приглашение к шлемовой торговле</td><td> <A HREF="sayc_1nt_3suit.html"><i class="far fa-eye"> </i></A> </td></tr>
		<tr><td>3♠ </td><td><span class="span2">&nbsp;5+♠&nbsp;</span>, приглашение к шлемовой торговле</td><td> <A HREF="sayc_1nt_3suit.html"><i class="far fa-eye"> </i></A> </td></tr>
		<tr><td>4♣</td><td>Гербер (вопрос о тузах и королях)</td><td><A HREF="gerber_modern.html"><i class="far fa-eye"> </i></a> Гербер</td></tr>
		
		<tr><td rowspan=11><br>2♣!  FG<br><br><span class="hcp">&nbsp;22+&nbsp;</span><br>б/к расклад<br>или<br><span class="hcp">&nbsp;21+&nbsp;</span><br>сильная мастевая</td><td rowspan=3>2<span class="red_card">♦</span></td><td><span class="hcp">&nbsp;0—5&nbsp;</span></td><td rowspan=3>2NT <span class="hcp">&nbsp;22—24&nbsp;</span> далее как после открытия 2NT <br>3NT <span class="hcp">&nbsp;25+&nbsp;</span></td></tr>
		<tr><td><span class="hcp">&nbsp;6—7&nbsp;</span></td></tr>
		<tr><td><span class="hcp">&nbsp;8+&nbsp;</span></td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td><span class="hcp">&nbsp;8+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> масть от нормальной</td><td>-</td></tr>
		<tr><td>2♠</td><td><span class="hcp">&nbsp;8+&nbsp;</span> <span class="span2">&nbsp;5+♠&nbsp;</span> масть от нормальной</td><td>-</td></tr>
		<tr><td>2NT</td><td><span class="hcp">&nbsp;8+&nbsp;</span> б/к расклад, фигуры или держки во всех мастях</td><td>-</td></tr>
		<tr><td>3♣</td><td><span class="hcp">&nbsp;8+&nbsp;</span> <span class="span2">&nbsp;6+♣&nbsp;</span> масть от самостоятельной</td><td>-</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td><span class="hcp">&nbsp;8+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> масть от самостоятельной</td><td>-</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td><span class="hcp">&nbsp;6+&nbsp;</span> <span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> масть от самостоятельной максимум с одной отдачей без боковых ценностей м.б.<span class="hcp">&nbsp;6—8&nbsp;</span></td><td>-</td></tr>
		<tr><td>3♠</td><td><span class="hcp">&nbsp;6+&nbsp;</span> <span class="span2">&nbsp;6+♠&nbsp;</span> масть от самостоятельной максимум с одной отдачей без боковых ценностей м.б.<span class="hcp">&nbsp;6—8&nbsp;</span></td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="hcp">&nbsp;8+&nbsp;</span> без 1.5 защитных взяток, с держками (или хотя бы с полудержками) в каждой масти</td><td>-</td></tr>

		
		<tr><td rowspan=5><br>2<span class="red_card">♦</span>блок<sup>(1)</sup><br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span><br>принцип<br>безопасности</td><td>2NT</td><td><span class="hcp">&nbsp;14+&nbsp;</span> вопрос о ценности в боковой масти</td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм<span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>♣/<span class="red_card">♥</span>/♠</td><td><span class="span2">&nbsp;6+&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>

		<tr><td colspan=4>(1) почти вся сила в масти блока, не более 1 защитной взятки сбоку и не более 1.5 защитных взяток всего, по принципу безопасности. 
		<br>Такие же условия относятся ко всем блокирующим открытиям: 2<span class="red_card">♥</span>,2♠,3♣, 3<span class="red_card">♦</span>, 3<span class="red_card">♥</span>, 3♠</td></tr>

		<tr><td rowspan=6><br>2<span class="red_card">♥</span>блок<sup>(1)</sup><br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span><br>принцип<br>безопасности</td><td>3<span class="red_card">♥</span></td><td> продолжение блока, НЕ инветирует</td><td>-</td></tr>
		<tr><td>2NT</td><td><span class="hcp">&nbsp;14+&nbsp;</span> вопрос о ценности в боковой масти</td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм<span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>♣/<span class="red_card">♦</span>/♠</td><td><span class="span2">&nbsp;6+&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>


		<tr><td rowspan=6><br>2♠ блок<sup>(1)</sup><br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br><span class="span2">&nbsp;6+♠&nbsp;</span><br>принцип<br>безопасности</td><td>3♠</td><td> продолжение блока, НЕ инветирует</td><td>-</td></tr>
		<tr><td>2NT</td><td><span class="hcp">&nbsp;14+&nbsp;</span> вопрос о ценности в боковой масти</td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм <span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>♣/<span class="red_card">♦</span>/<span class="red_card">♥</span></td><td><span class="span2">&nbsp;6+&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		
		<tr><td rowspan=11><br>2NT<br><br><span class="hcp">&nbsp;20—21&nbsp;</span><br>б/к<br>расклад<br></td><td>3♣!</td><td>Стейман (вопрос о <span class="span1">&nbsp;4&nbsp;</span>)</td><td><A HREF="Stayman.html">Стейман</A></td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>трансфер в <span class="red_card">♥</span></td><td>-</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>трансфер в ♠</td><td>-</td></tr>
		<tr><td>G</td><td></td><td>-</td></tr>
		<tr><td>4♣</td><td>Гербер (вопрос о тузах и королях)</td><td><A HREF="gerber_modern.html"><i class="far fa-eye"> </i></a> Гербер</td></tr>
		<tr><td>3NT</td><td>контракт <span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>4NT</td><td>натурально</td><td> НЕ Блэквуд</td></tr>
		<tr><td>4<span class="red_card">♥</span></td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>4♠</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>5♣</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>5<span class="red_card">♦</span></td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>

		<tr><td rowspan=6><br>3♣<br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br>блок<br><span class="span2">&nbsp;7+♣&nbsp;</span><br></td><td>3<span class="red_card">♦</span></td><td>???</td><td>-</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>3♠</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм <span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>

		<tr><td rowspan=5><br>3<span class="red_card">♦</span><br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br>блок<br><span class="span2">&nbsp;7+<span class="red_card">♦</span>&nbsp;</span><br></td><td>3<span class="red_card">♥</span></td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>3♠</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм <span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		
		<tr><td rowspan=4><br>3<span class="red_card">♥</span><br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br>блок<br><span class="span2">&nbsp;7+<span class="red_card">♥</span>&nbsp;</span><br></td><td>3♠</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> F1</td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм <span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		
		<tr><td rowspan=3><br>3♠<br><br><span class="hcp">&nbsp;6—11&nbsp;</span><br>блок<br><span class="span2">&nbsp;7+♠&nbsp;</span><br></td><td>3NT</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>G</td><td>любой гейм <span class="span2">&nbsp;•&nbsp;</span></td><td>-</td></tr>
		<tr><td>4NT!</td><td>Блэквуд (вопрос о ценностях)</td><td> <A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td></tr>
		
		<tr><td>3NT</td><td colspan=3>Гемблинг. Полная 7-карточная младшая масть (♣/<span class="red_card">♦</span>) и туз или король сбоку
	</td></tr>
	</tbody>
	</table>