extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Розыгрыш. Мои заметки.</h3>

	<div></div>
	<div></div>
	<ul>Правила:
		<li><a href="http://www.jazclass.aust.com/bridge/br03/br04da.htm">jazclass </a> Сначала играем старшей картой с короткой руки.</li>

	</ul>
