extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Розыгрыш. Мои заметки.</h3>

	<div></div>
	<div></div>
	<ul>Правила:
		<li><a href="http://www.jazclass.aust.com/bridge/br03/br04da.htm">jazclass </a> Сначала играем старшей картой с короткой руки.</li>

	</ul>
	<h3>Bridge Master</h3>
	<ol>Уровень 2 (Intermediate):
		<li>Сдача A-1. 3NT.</li>
		<li>Сдача A-2. 6NT.</li>
		<li>Сдача A-3. 4♠.</li>
		<li>Сдача A-4. 4<span class="red_card">♥</span>.</li>
		<li>Сдача A-5. 3NT.</li>
		<li>Сдача A-6. 4<span class="red_card">♥</span>.</li>
		<li>Сдача A-7. 5<span class="red_card">♦</span>.</li>
		<li>Сдача A-8. 7NT.</li>
		<li>Сдача A-9. 3NT.</li>
		<li>Сдача A-10. 3NT.</li>
		<li>Сдача A-11. 3NT.</li>
		<li>Сдача A-12. 7♣.</li>
		<li>Сдача A-13. 6♠.</li>
		<li>Сдача A-14. 3NT.</li>
		<li>Сдача A-15. 3NT.</li>
		<li>Сдача A-16. 6♠. Розыгрыш масти AK987 и J32. Цель: не отдать 2 взятки.</li>
		<li>Сдача A-17. 3NT.</li>
		<li>Сдача A-18. 4<span class="red_card">♥</span>. Розыгрыш старшей 8 карточной масти без Q.</li>
		<li>Сдача A-19. 6NT. Розыгрыш масти AQT987 и 432. Цель: минимизировать вероятность отдать 2 взятки.</li>
		<li>Сдача A-20. 6<span class="red_card">♥</span>. Шлемовый розыгрыш.</li>
		<li>Сдача A-21. 6♠. Получение взятки на убитки.</li>
		<li>Сдача A-22. 3NT. Правильная последовательность импасов.</li>
		<li>Сдача A-23. 6♠. Розыгрыш при KQJ2 и 6543.</li>
		<li>Сдача A-24. 4<span class="red_card">♥</span>.</li>
		<li>Сдача A-25. 6<span class="red_card">♥</span>. Выбор масти для импаса.</li>
		<li>Сдача A-26. 7NT. Понять расклад рук вистующих по их сносам.</li>
		<li>Сдача A-27. 3NT. Правильная последовательность импасов.</li>
		<li>Сдача A-28. 3NT. Понять расклад вистующих (однача/пропускание взяток для этого) и сделать правильную последовательность импасов. Привентивные меры против неблагоприятного расклада.</li>
		<li>Сдача A-29. 6♠. Техника частичного отыгрывания масти и козыря, чтобы посмотреть на расклад.</li>
		<li>Сдача A-30. 6NT. Импасы.</li>
		<li>Сдача A-31. 3NT. Важность контроля захода на длинную руку.</li>
		<li>Сдача A-32. 4♠. Розыгрыш козыря AKT987 и 32</li>
		<li>Сдача A-33. 6♠. Розыгрыш козыря AKJT32 и 54</li>
		<li>Сдача A-34. 3NT. </li>
		<li>Сдача A-35. 3NT. Розыгрыш масти AT54 и QJ32</li>
		<li>Сдача A-36. 3NT. Розыгрыш масти AT76 и QJ32. Неблагоприятный расклад.</li>
		<li>Сдача B-1. 6♠. Розыгрыш масти AJ987 и Q5432 против KT6</li>
		<li>Сдача B-2. 7NT. Предварительное решение и снос. Вероятность импаса 50%. Вероятность расклада 3-3 36%.</li>
		<li>Сдача B-3. 3NT. Сравнение вероятности расклада и вероятности импаса(тоже расклада :))</li>
		<li>Сдача B-4. 6♠. Убитка на длинную масть. Убитки козырями.</li>
		<li>Сдача B-5. 6NT. Розыгрыш AKQ32 и T4. Увеличение вероятности при плохом раскладе.</li>
		<li>Сдача B-6. 3NT. Розыгрыш AT и KQ9876.</li>
		<li>Сдача B-7. 6♠. Правильный выбор масти для убитки. Правильное кол-во отбора козыря.</li>
		<li>Сдача B-8. 4♠. Правильный снос. Правильная передача захода.</li>
		<li>Сдача B-9. 3NT. Игра T или Q? Расклад AQT987 и 2</li>
		<li>Сдача B-10. 4♠. Правильный снос. Правильная передача захода.</li>
		<li>Сдача B-11. 6♠. Фит 4-4 против KJ765.</li>
		<li>Сдача B-12. 6♠. Фит 5-4 против KJ65. Играем одну сверху</li>
		<li>Сдача B-13. 3NT. </li>
		<li>Сдача B-14.</li>
		<li>Сдача B-15.</li>
		<li>Сдача B-16.</li>
		<li>Сдача B-17.</li>
		<li>Сдача B-18.</li>
		<li>Сдача B-19.</li>
		<li>Сдача B-20.</li>
		<li>Сдача B-21.</li>
		<li>Сдача B-22.</li>
		<li>Сдача B-23.</li>
		<li>Сдача B-24.</li>
		<li>Сдача B-25.</li>
		<li>Сдача B-26.</li>
		<li>Сдача B-27.</li>
		<li>Сдача B-28.</li>
		<li>Сдача B-29.</li>
		<li>Сдача B-30.</li>
		<li>Сдача C-1.</li>
		<li>Сдача C-2.</li>
		<li>Сдача C-3.</li>
		<li>Сдача C-4.</li>
		<li>Сдача C-5.</li>
		<li>Сдача C-6.</li>
		<li>Сдача C-7.</li>
		<li>Сдача C-8.</li>
		<li>Сдача C-9.</li>
		<li>Сдача C-10.</li>
		<li>Сдача C-11.</li>
		<li>Сдача C-12.</li>
		<li>Сдача C-13.</li>
		<li>Сдача C-14.</li>
		<li>Сдача C-15.</li>
		<li>Сдача C-16.</li>
		<li>Сдача C-17.</li>
		<li>Сдача C-18.</li>
		<li>Сдача C-19.</li>
		<li>Сдача C-20.</li>
		<li>Сдача C-21.</li>
		<li>Сдача C-22.</li>
		<li>Сдача C-23.</li>
		<li>Сдача C-24.</li>
		<li>Сдача C-25.</li>
		<li>Сдача C-26.</li>
		<li>Сдача C-27.</li>
		<li>Сдача C-28.</li>
		<li>Сдача C-29.</li>
		<li>Сдача C-30.</li>
		<li>Сдача D-1.</li>
		<li>Сдача D-2.</li>
		<li>Сдача D-3.</li>
		<li>Сдача D-4.</li>
		<li>Сдача D-5.</li>
		<li>Сдача D-6.</li>
		<li>Сдача D-7.</li>
		<li>Сдача D-8.</li>
		<li>Сдача D-9.</li>
		<li>Сдача D-10.</li>
		<li>Сдача D-11.</li>
		<li>Сдача D-12.</li>
		<li>Сдача D-13.</li>
		<li>Сдача D-14.</li>
		<li>Сдача D-15.</li>
		<li>Сдача D-16.</li>
		<li>Сдача D-17.</li>
		<li>Сдача D-18.</li>
		<li>Сдача D-19.</li>
		<li>Сдача D-20.</li>
		<li>Сдача D-21.</li>
		<li>Сдача D-22.</li>
		<li>Сдача D-23.</li>
		<li>Сдача D-24.</li>
		<li>Сдача D-25.</li>
		<li>Сдача D-26.</li>
		<li>Сдача D-27.</li>
		<li>Сдача D-28.</li>
		<li>Сдача D-29.</li>
		<li>Сдача D-30.</li>
	</ol>
	<ol>Уровень 3 (Advanced):
		<li>Сдача A-1.</li>
		<li>Сдача A-2.</li>
		<li>Сдача A-3.</li>
		<li>Сдача A-4.</li>
		<li>Сдача A-5.</li>
		<li>Сдача A-6.</li>
		<li>Сдача A-7.</li>
		<li>Сдача A-8.</li>
		<li>Сдача A-9.</li>
		<li>Сдача A-10.</li>
		<li>Сдача A-11.</li>
		<li>Сдача A-12.</li>
		<li>Сдача A-13.</li>
		<li>Сдача A-14.</li>
		<li>Сдача A-15.</li>
		<li>Сдача A-16.</li>
		<li>Сдача A-17.</li>
		<li>Сдача A-18.</li>
		<li>Сдача A-19.</li>
		<li>Сдача A-20.</li>
		<li>Сдача A-21.</li>
		<li>Сдача A-22.</li>
		<li>Сдача A-23.</li>
		<li>Сдача A-24.</li>
		<li>Сдача A-25.</li>
		<li>Сдача A-26.</li>
		<li>Сдача A-27.</li>
		<li>Сдача A-28.</li>
		<li>Сдача A-29.</li>
		<li>Сдача A-30.</li>
		<li>Сдача B-1.</li>
		<li>Сдача B-2.</li>
		<li>Сдача B-3.</li>
		<li>Сдача B-4.</li>
		<li>Сдача B-5.</li>
		<li>Сдача B-6.</li>
		<li>Сдача B-7.</li>
		<li>Сдача B-8.</li>
		<li>Сдача B-9.</li>
		<li>Сдача B-10.</li>
		<li>Сдача B-11.</li>
		<li>Сдача B-12.</li>
		<li>Сдача B-13.</li>
		<li>Сдача B-14.</li>
		<li>Сдача B-15.</li>
		<li>Сдача B-16.</li>
		<li>Сдача B-17.</li>
		<li>Сдача B-18.</li>
		<li>Сдача B-19.</li>
		<li>Сдача B-20.</li>
		<li>Сдача B-21.</li>
		<li>Сдача B-22.</li>
		<li>Сдача B-23.</li>
		<li>Сдача B-24.</li>
		<li>Сдача B-25.</li>
		<li>Сдача B-26.</li>
		<li>Сдача B-27.</li>
		<li>Сдача B-28.</li>
		<li>Сдача B-29.</li>
		<li>Сдача B-30.</li>
		<li>Сдача C-1.</li>
		<li>Сдача C-2.</li>
		<li>Сдача C-3.</li>
		<li>Сдача C-4.</li>
		<li>Сдача C-5.</li>
		<li>Сдача C-6.</li>
		<li>Сдача C-7.</li>
		<li>Сдача C-8.</li>
		<li>Сдача C-9.</li>
		<li>Сдача C-10.</li>
		<li>Сдача C-11.</li>
		<li>Сдача C-12.</li>
		<li>Сдача C-13.</li>
		<li>Сдача C-14.</li>
		<li>Сдача C-15.</li>
		<li>Сдача C-16.</li>
		<li>Сдача C-17.</li>
		<li>Сдача C-18.</li>
		<li>Сдача C-19.</li>
		<li>Сдача C-20.</li>
		<li>Сдача C-21.</li>
		<li>Сдача C-22.</li>
		<li>Сдача C-23.</li>
		<li>Сдача C-24.</li>
		<li>Сдача C-25.</li>
		<li>Сдача C-26.</li>
		<li>Сдача C-27.</li>
		<li>Сдача C-28.</li>
		<li>Сдача C-29.</li>
		<li>Сдача C-30.</li>
		<li>Сдача D-1.</li>
		<li>Сдача D-2.</li>
		<li>Сдача D-3.</li>
		<li>Сдача D-4.</li>
		<li>Сдача D-5.</li>
		<li>Сдача D-6.</li>
		<li>Сдача D-7.</li>
		<li>Сдача D-8.</li>
		<li>Сдача D-9.</li>
		<li>Сдача D-10.</li>
		<li>Сдача D-11.</li>
		<li>Сдача D-12.</li>
		<li>Сдача D-13.</li>
		<li>Сдача D-14.</li>
		<li>Сдача D-15.</li>
		<li>Сдача D-16.</li>
		<li>Сдача D-17.</li>
		<li>Сдача D-18.</li>
		<li>Сдача D-19.</li>
		<li>Сдача D-20.</li>
		<li>Сдача D-21.</li>
		<li>Сдача D-22.</li>
		<li>Сдача D-23.</li>
		<li>Сдача D-24.</li>
		<li>Сдача D-25.</li>
		<li>Сдача D-26.</li>
		<li>Сдача D-27.</li>
		<li>Сдача D-28.</li>
		<li>Сдача D-29.</li>
		<li>Сдача D-30.</li>
	<ol>
	<ol>Уровень 4 (Expert):
		<li>Сдача A-1.</li>
		<li>Сдача A-2.</li>
		<li>Сдача A-3.</li>
		<li>Сдача A-4.</li>
		<li>Сдача A-5.</li>
		<li>Сдача A-6.</li>
		<li>Сдача A-7.</li>
		<li>Сдача A-8.</li>
		<li>Сдача A-9.</li>
		<li>Сдача A-10.</li>
		<li>Сдача A-11.</li>
		<li>Сдача A-12.</li>
		<li>Сдача A-13.</li>
		<li>Сдача A-14.</li>
		<li>Сдача A-15.</li>
		<li>Сдача A-16.</li>
		<li>Сдача A-17.</li>
		<li>Сдача A-18.</li>
		<li>Сдача A-19.</li>
		<li>Сдача A-20.</li>
		<li>Сдача A-21.</li>
		<li>Сдача A-22.</li>
		<li>Сдача A-23.</li>
		<li>Сдача A-24.</li>
		<li>Сдача A-25.</li>
		<li>Сдача A-26.</li>
		<li>Сдача A-27.</li>
		<li>Сдача A-28.</li>
		<li>Сдача A-29.</li>
		<li>Сдача A-30.</li>
		<li>Сдача B-1.</li>
		<li>Сдача B-2.</li>
		<li>Сдача B-3.</li>
		<li>Сдача B-4.</li>
		<li>Сдача B-5.</li>
		<li>Сдача B-6.</li>
		<li>Сдача B-7.</li>
		<li>Сдача B-8.</li>
		<li>Сдача B-9.</li>
		<li>Сдача B-10.</li>
		<li>Сдача B-11.</li>
		<li>Сдача B-12.</li>
		<li>Сдача B-13.</li>
		<li>Сдача B-14.</li>
		<li>Сдача B-15.</li>
		<li>Сдача B-16.</li>
		<li>Сдача B-17.</li>
		<li>Сдача B-18.</li>
		<li>Сдача B-19.</li>
		<li>Сдача B-20.</li>
		<li>Сдача B-21.</li>
		<li>Сдача B-22.</li>
		<li>Сдача B-23.</li>
		<li>Сдача B-24.</li>
		<li>Сдача B-25.</li>
		<li>Сдача B-26.</li>
		<li>Сдача B-27.</li>
		<li>Сдача B-28.</li>
		<li>Сдача B-29.</li>
		<li>Сдача B-30.</li>
		<li>Сдача C-1.</li>
		<li>Сдача C-2.</li>
		<li>Сдача C-3.</li>
		<li>Сдача C-4.</li>
		<li>Сдача C-5.</li>
		<li>Сдача C-6.</li>
		<li>Сдача C-7.</li>
		<li>Сдача C-8.</li>
		<li>Сдача C-9.</li>
		<li>Сдача C-10.</li>
		<li>Сдача C-11.</li>
		<li>Сдача C-12.</li>
		<li>Сдача C-13.</li>
		<li>Сдача C-14.</li>
		<li>Сдача C-15.</li>
		<li>Сдача C-16.</li>
		<li>Сдача C-17.</li>
		<li>Сдача C-18.</li>
		<li>Сдача C-19.</li>
		<li>Сдача C-20.</li>
		<li>Сдача C-21.</li>
		<li>Сдача C-22.</li>
		<li>Сдача C-23.</li>
		<li>Сдача C-24.</li>
		<li>Сдача C-25.</li>
		<li>Сдача C-26.</li>
		<li>Сдача C-27.</li>
		<li>Сдача C-28.</li>
		<li>Сдача C-29.</li>
		<li>Сдача C-30.</li>
		<li>Сдача D-1.</li>
		<li>Сдача D-2.</li>
		<li>Сдача D-3.</li>
		<li>Сдача D-4.</li>
		<li>Сдача D-5.</li>
		<li>Сдача D-6.</li>
		<li>Сдача D-7.</li>
		<li>Сдача D-8.</li>
		<li>Сдача D-9.</li>
		<li>Сдача D-10.</li>
		<li>Сдача D-11.</li>
		<li>Сдача D-12.</li>
		<li>Сдача D-13.</li>
		<li>Сдача D-14.</li>
		<li>Сдача D-15.</li>
		<li>Сдача D-16.</li>
		<li>Сдача D-17.</li>
		<li>Сдача D-18.</li>
		<li>Сдача D-19.</li>
		<li>Сдача D-20.</li>
		<li>Сдача D-21.</li>
		<li>Сдача D-22.</li>
		<li>Сдача D-23.</li>
		<li>Сдача D-24.</li>
		<li>Сдача D-25.</li>
		<li>Сдача D-26.</li>
		<li>Сдача D-27.</li>
		<li>Сдача D-28.</li>
		<li>Сдача D-29.</li>
		<li>Сдача D-30.</li>
	<ol>
	<ol>Уровень 5 (World Class):
		<li>Сдача A-1.</li>
		<li>Сдача A-2.</li>
		<li>Сдача A-3.</li>
		<li>Сдача A-4.</li>
		<li>Сдача A-5.</li>
		<li>Сдача A-6.</li>
		<li>Сдача A-7.</li>
		<li>Сдача A-8.</li>
		<li>Сдача A-9.</li>
		<li>Сдача A-10.</li>
		<li>Сдача A-11.</li>
		<li>Сдача A-12.</li>
		<li>Сдача A-13.</li>
		<li>Сдача A-14.</li>
		<li>Сдача A-15.</li>
		<li>Сдача A-16.</li>
		<li>Сдача A-17.</li>
		<li>Сдача A-18.</li>
		<li>Сдача A-19.</li>
		<li>Сдача A-20.</li>
		<li>Сдача A-21.</li>
		<li>Сдача A-22.</li>
		<li>Сдача A-23.</li>
		<li>Сдача A-24.</li>
		<li>Сдача A-25.</li>
		<li>Сдача A-26.</li>
		<li>Сдача A-27.</li>
		<li>Сдача A-28.</li>
		<li>Сдача A-29.</li>
		<li>Сдача A-30.</li>
		<li>Сдача B-1.</li>
		<li>Сдача B-2.</li>
		<li>Сдача B-3.</li>
		<li>Сдача B-4.</li>
		<li>Сдача B-5.</li>
		<li>Сдача B-6.</li>
		<li>Сдача B-7.</li>
		<li>Сдача B-8.</li>
		<li>Сдача B-9.</li>
		<li>Сдача B-10.</li>
		<li>Сдача B-11.</li>
		<li>Сдача B-12.</li>
		<li>Сдача B-13.</li>
		<li>Сдача B-14.</li>
		<li>Сдача B-15.</li>
		<li>Сдача B-16.</li>
		<li>Сдача B-17.</li>
		<li>Сдача B-18.</li>
		<li>Сдача B-19.</li>
		<li>Сдача B-20.</li>
		<li>Сдача B-21.</li>
		<li>Сдача B-22.</li>
		<li>Сдача B-23.</li>
		<li>Сдача B-24.</li>
		<li>Сдача B-25.</li>
		<li>Сдача B-26.</li>
		<li>Сдача B-27.</li>
		<li>Сдача B-28.</li>
		<li>Сдача B-29.</li>
		<li>Сдача B-30.</li>
		<li>Сдача C-1.</li>
		<li>Сдача C-2.</li>
		<li>Сдача C-3.</li>
		<li>Сдача C-4.</li>
		<li>Сдача C-5.</li>
		<li>Сдача C-6.</li>
		<li>Сдача C-7.</li>
		<li>Сдача C-8.</li>
		<li>Сдача C-9.</li>
		<li>Сдача C-10.</li>
		<li>Сдача C-11.</li>
		<li>Сдача C-12.</li>
		<li>Сдача C-13.</li>
		<li>Сдача C-14.</li>
		<li>Сдача C-15.</li>
		<li>Сдача C-16.</li>
		<li>Сдача C-17.</li>
		<li>Сдача C-18.</li>
		<li>Сдача C-19.</li>
		<li>Сдача C-20.</li>
		<li>Сдача C-21.</li>
		<li>Сдача C-22.</li>
		<li>Сдача C-23.</li>
		<li>Сдача C-24.</li>
		<li>Сдача C-25.</li>
		<li>Сдача C-26.</li>
		<li>Сдача C-27.</li>
		<li>Сдача C-28.</li>
		<li>Сдача C-29.</li>
		<li>Сдача C-30.</li>
		<li>Сдача D-1.</li>
		<li>Сдача D-2.</li>
		<li>Сдача D-3.</li>
		<li>Сдача D-4.</li>
		<li>Сдача D-5.</li>
		<li>Сдача D-6.</li>
		<li>Сдача D-7.</li>
		<li>Сдача D-8.</li>
		<li>Сдача D-9.</li>
		<li>Сдача D-10.</li>
		<li>Сдача D-11.</li>
		<li>Сдача D-12.</li>
		<li>Сдача D-13.</li>
		<li>Сдача D-14.</li>
		<li>Сдача D-15.</li>
		<li>Сдача D-16.</li>
		<li>Сдача D-17.</li>
		<li>Сдача D-18.</li>
		<li>Сдача D-19.</li>
		<li>Сдача D-20.</li>
		<li>Сдача D-21.</li>
		<li>Сдача D-22.</li>
		<li>Сдача D-23.</li>
		<li>Сдача D-24.</li>
		<li>Сдача D-25.</li>
		<li>Сдача D-26.</li>
		<li>Сдача D-27.</li>
		<li>Сдача D-28.</li>
		<li>Сдача D-29.</li>
		<li>Сдача D-30.</li>
	<ol>