extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Розыгрыш. Мои заметки.</h3>

	<div></div>
	<div></div>
	<ul>Правила:
		<li><a href="http://www.jazclass.aust.com/bridge/br03/br04da.htm">jazclass </a> Сначала играем старшей картой с короткой руки.</li>

	</ul>
	<h3>Bridge Master</h3>
	<ol>Уровень 2:
		<li>Сдача A-16. Розыгрыш масти AK987 и J32. Цель: не отдать 2 взятки.</li>
		<li>Сдача A-18. Розыгрыш старшей 8 карточной масти без Q.</li>
		<li>Сдача A-19. Розыгрыш масти AQT987 и 432. Цель: минимизировать вероятность отдать 2 взятки.</li>
		<li>Сдача A-20. Шлемовый розыгрыш.</li>
		<li>Сдача A-21. Получение взятки на убитки.</li>
		<li>Сдача A-22. Правильная последовательность импасов.</li>
		<li>Сдача A-23. Розыгрыш при KQJ2 и 6543.</li>
		<li>Сдача A-24.</li>
		<li>Сдача A-25. Выбор масти для импаса.</li>
		<li>Сдача A-26. Понять расклад рук вистующих по их сносам.</li>
		<li>Сдача A-27. Правильная последовательность импасов.</li>
		<li>Сдача A-28. Понять расклад вистующих и сделать правильную последовательность импасов.</li>
		<li>Сдача A-29.</li>
		<li>Сдача A-30.</li>
		<li>Сдача A-31.</li>
		<li>Сдача A-32.</li>
		<li>Сдача A-33.</li>
		<li>Сдача A-34.</li>
		<li>Сдача A-35.</li>
		<li>Сдача A-36.</li>
		
		
	<ol>
