extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h1 class="font-effect-shadow-multiple">Блэквуд 1430</h1>
	<div>Искусственная заявка 4 NT "Четыре без козыря". Вопрос не о тузах, а о ценностях. Ценностями являются Тузы и Король в козырной масти. Таким образом ценностей всего пять. В качестве козырной масти принимается либо согласованная масть, либо последняя  из заявленных мастей (если масть не согласовывалась).</div>
	<table class="minitable"> 
	<tbody>
		<tr><td colspan=3><b>Ответы на 4NT Блэквуд</b></td></tr>
		<tr><th>Ступень</th><th>Отв</th><th>Прим</th></tr>
		<tr><td>1</td><td>5♣</td><td>1 или 4 ценности</td></tr>
		<tr><td>2</td><td>5<span class="red_card">♦</span></td><td>3 или 0 ценности</td></tr>
		<tr><td>3</td><td>5<span class="red_card">♥</span></td><td>5 или 2 ценности без мастевой дамы</td></tr>
		<tr><td>4</td><td>5♠</td><td>5 или 2 ценности с мастевой дамой</td></tr>
	</tbody>
	</table>
	<div>При ответе 5 ♣ и 5 <span class="red_card">♦</span> нет информации о даме. Вопрос о даме задем следующей не казырной мастью.</div>


	<table class="minitable">
	<caption>Пример 1. Какая масть согласована?</caption>
	<tbody>
		<tr>
			<th>Круг</th><th>S</th><th>W</th><th>N</th><th>E</th><th>Примечания</th>
		</tr>

		<tr><td>1</td><td>1<span class="red_card">♦</span></td><td>Pass</td><td>1<span class="red_card">♥</span></td><td>Pass</td><td>&nbsp;</td></tr>
		<tr><td>2</td><td>3<span class="red_card">♥</span></td><td>Pass</td><td>4NT</td><td>Pass</td><td>согласованной мастью является <span class="red_card">♥</span></td></tr>
		<tr><td>3</td><td>Pass</td><td>Pass</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	</tbody>
	</table>

	<table class="minitable">
	<caption>Пример 2. Какая масть согласована?</caption>
	<tbody>
		<tr>
			<th>Круг</th><th>S</th><th>W</th><th>N</th><th>E</th><th>Примечания</th>
		</tr>

		<tr><td>1</td><td>1♠</td><td>Pass</td><td>4NT</td><td>Pass</td><td>♠ единственная заявленная масть</td></tr>
		<tr><td>2</td><td>Pass</td><td>Pass</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	</tbody>
	</table>

	<table class="minitable">
	<caption>Пример 3. Какая масть согласована?</caption>
	<tbody>
		<tr>
			<th>Круг</th><th>S</th><th>W</th><th>N</th><th>E</th><th>Примечания</th>
		</tr>

		<tr><td>1</td><td>1<span class="red_card">♥</span></td><td>Pass</td><td>1♠</td><td>Pass</td><td>&nbsp;</td></tr>
		<tr><td>2</td><td>3<span class="red_card">♦</span></td><td>Pass</td><td>4NT</td><td>Pass</td><td><span class="red_card">♦</span> последняя из названных мастей</td></tr>
		<tr><td>3</td><td>Pass</td><td>Pass</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
	</tbody>
	</table>



	<h4>Когда 4NT не являются Блэквудом?</h4>
	<div>Ответ готовится.</div>
	<h4>Противник  вмешивается  в  нашу  шлемовую  торговлю.</h4>
	<div>Если после нашей заявки  4NT  противник вступает в торговлю, то ступенчатый показ ценностей остается в силе с той  разницей, что ответы однозначны: 
	<ul>
		<li> пас = 1 ценность;</li>
		<li> контра = 0 ценностей;</li>
		<li> 1 ступень = 2 ценности;</li>  
		<li> 2 ступень = 3 ценности. </li>
		<li> 3 ступень = 4 ценности. </li>
		<li> 4 ступень = 5 ценностей. </li>
	</ul>
	<br>То есть, если, например, после Блэквуда противник вмешался  5 бубнами, то  5<span class="red_card">♥</span> покажут две  ценности, 5♠ - 3 ценности,  5БК – 4 ценности.
	<br>Если противник вмешался контрой, то реконтра 0 ценностей. 5 ♣ - первая ступень - две ценности и т.д.
	</div>
	<ul>Данные основаны на следующих источниках:
		<li><a href="http://www.bridgewebs.com/lincolnhills/Blackwood%20RKC%201430.pdf">bridgewebs </a> <i title="формат PDF" class="far fa-file-pdf"></i></li>
		<li><a href=""></a></li>
	</ul>