extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Содержание</h3>
		<table class="menu">
	<tbody>
		<tr>
			<td><a title="перейти на этой странице" href="#attr-level2"><i class="fas fa-anchor"></i> Основное</a></td>
			<td><a title="перейти на этой странице" href="#sayc"><i class="fas fa-universal-access"></i> SAYC</a></td></tr>
		<tr>
			<td><a title="перейти на этой странице" href="#convention"><i class="fas fa-balance-scale"></i> Конвенции в интервенции</a></td>
			<td><a title="перейти на этой странице" href="#main_global"><i class="fas fa-globe"></i> Основные сайты</a></td></tr>
		<tr>
			<td><a title="перейти на этой странице" href="#tools_online"><i class="fas fa-tools"></i> Инструментарий онлайн</a></td>
			<td><a title="перейти на этой странице" href="#online_play"><i class="fas fa-laptop"></i> Где играть онлайн</a></td>
		</tr>
		<tr>
			<td><a title="перейти на этой странице" href="#federation"><i class="fas fa-globe-europe"></i> Федерации</a></td>
			<td><a title="перейти на этой странице" href="#bridge_ru"><i class="fas fa-book-open"></i> Бридж на русском</a></td>
		</tr>
		<tr>
			<td><a title="перейти на этой странице" href="#teory_ru"><i class="fas fa-chalkboard-teacher"></i> Теория на русском</a></td>
			<td><a title="перейти на этой странице" href="#proga"><i class="fas fa-cogs"></i> Программы и приложения</a></td>
		</tr>
		<tr>
			<td><a title="перейти на этой странице" href="#teory_en"><i class="fas fa-flag-usa"></i> Теория на английском</a></td>
			<td><a title="перейти на этой странице" href="#video_en"><i class="fab fa-youtube"></i> Видео на английском</a></td>
		</tr>
		<tr>
			<td class="menu"><a title="перейти на этой странице" href="#dev"> <i class="fab fa-dev"></i> Разработчику</a></td>
			<td>-</td>
		</tr>
	</tbody>
	</table>
		
	
	<h3 class="font-effect-shadow-multiple" id="attr-level2">Основное</h3>
	<ul class="simple">
		<li><A title="перейти внутри сайта" HREF="absolem_sayc.html"><i class="far fa-eye"></i></A> <i title ="в стадии создания" class="fas fa-wrench"></i> Система торговли. SAYC</li>
		<li><A title="перейти внутри сайта" HREF="absolem_card_play.html"><i class="far fa-eye"></i></A> <i title ="в стадии создания" class="fas fa-wrench"></i> Розыгрыш. Мои заметки.</li>
		<li><A title="перейти внутри сайта" HREF="bridge_1.html"><i class="far fa-eye"></i></A> <i title ="в стадии создания" class="fas fa-wrench"></i>  Система торговли. Березка</li>
		<li><A title="перейти внутри сайта" HREF="http://www.bridgeclub.ru/system/2_over_1.htm"><i class="fas fa-external-link-alt"></i></A> Система торговли "2 over 1" на русском</li>
		<li><A title="перейти внутри сайта" HREF="vist.html"><i class="far fa-eye"></i></A> <i title ="в стадии создания" class="fas fa-wrench"></i> Правила виста</li>
		<li><A title="перейти внутри сайта" HREF="quiz_example.html"><i class="far fa-eye"></i></A> <i title ="в стадии создания" class="fas fa-wrench"></i> Тесты по торговле SAYC c конвенциями</li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp;&nbsp;Конвенции</strong>
			<ol>
				<li><A title="перейти внутри сайта" HREF="blackwood.html"><i class="far fa-eye"></i></A> Конвенция «Римский Блэквуд» 1430</li>
				<li><A title="перейти внутри сайта" HREF="gerber_modern.html"><i class="far fa-eye"></i></A> Гербер</li>
				<li><A title="перейти внутри сайта" HREF="Stayman.html"><i class="far fa-eye"></i></A> Стейман</li>
				<li><A title="перейти внутри сайта" HREF="drury.html"><i class="far fa-eye"></i></A> Друри</li>
				<li><A title="перейти внутри сайта" HREF=".html"><i class="far fa-eye"></i></A> Форсирование 4-ой мастью</li>
				<!--<li><img alt="image" src="images/favicon_absolem.png"/> <A HREF=".html">Правило безопасности</A></li>
				<li><img alt="image" src="images/favicon_absolem.png"/> <A HREF=".html">Гербер</A></li>-->
				<li><A title="перейти внутри сайта" HREF="JacobyTransfersM.html"><i class="far fa-eye"></i></A> Трансфер Джакоби в мажоры</li>
				<li><A title="перейти внутри сайта" HREF="splinter.html"><i class="far fa-eye"></i></A> Сплитнер</li>
				<!--<li><img alt="image" src="images/favicon_absolem.png"/> <A HREF="TexasTransfers.html">Трансфер Техас</A></li>-->
			</ol>
		</li>
				
				
	</ul>
			
	<h3 class="font-effect-shadow-multiple" id="convention">Конвенции в интервенции</h3>
	
	<ul class="simple">
	
		<li><A title="перейти внутри сайта" HREF="takeout_double.html"><i class="far fa-eye"></i></A> призывная Контра</li>
		<li><A title="перейти внутри сайта" HREF="michaelscuebid.html"><i class="far fa-eye"></i></A> кью-бид Майклса</li>
		<li><A title="перейти внутри сайта" HREF="unusual2nt.html"><i class="far fa-eye"></i></A> не стандартные 2NT</li>
		<li><A title="перейти внутри сайта" HREF="cappelletti.html"><i class="far fa-eye"></i></A> <i class="fas fa-check-square"></i> Каппеллетти</li>
	</ul>
			
	<h3 class="font-effect-shadow-multiple" id="sayc">Торговля Standard American Yellow Card system (SAYC)</h3>
	
	<ul class="simple">
		<li>bridgeclub.ru <A HREF="http://bridgeclub.ru/im/tula/sayc.htm"><i class="fas fa-external-link-alt"></i></A> SAYC(Mark London) в переводе Дмитрия Туревского</li>
		<li>acbl.org <A HREF="http://web2.acbl.org/documentlibrary/play/SP3%20(bk)%20single%20pages.pdf"><i class="fas fa-external-link-alt"></i></A> <i title="формат PDF" class="far fa-file-pdf"></i> ACBL SAYC(rev. 2006)</li>
		<li>acbl.org <A HREF="http://www.bridgeguys.com/pdf/ACBLStandardYellow1988.pdf"><i class="fas fa-external-link-alt"></i></A> <i title="формат PDF" class="far fa-file-pdf"></i> ACBL SAYC(rev. 1988)</li>
		<li>acbl.org <A HREF="http://web2.acbl.org/documentlibrary/play/sayc_card.pdf"><i class="fas fa-external-link-alt"></i></A> <i title="формат PDF" class="far fa-file-pdf"></i> The ACBL SAYC Convention Card </li>
		<li>bridge2math.gatech.edu <A HREF="http://bridge2math.gatech.edu/node/9"><i class="fas fa-external-link-alt"></i></A>  SAYC от Georgia Tech <A HREF="https://bridgeclub.gtorg.gatech.edu/SAYJ/Info/Evaluation.php"><i class="fas fa-external-link-alt"></i></A> Оценка руки. <A HREF="http://bridge2math.gatech.edu/sites/default/files/bridge2math-cc.pdf"><i class="fas fa-external-link-alt"></i></A> <i title="формат PDF" class="far fa-file-pdf"></i> bridge2math SAYC Convention Card</li>
		<li>gatech.edu <A HREF="https://bridgeclub.gtorg.gatech.edu/Class/Info/SAYCNotes.pdf"><i class="fas fa-external-link-alt"></i></A> <i title="формат PDF" class="far fa-file-pdf"></i> презентация SAYC Giorgio Casinovi 347 pages</li>
		<li>bridgebum.com <A HREF="http://www.bridgebum.com/sayc.php"><i class="fas fa-external-link-alt"></i></a> SAYC подробно с примерами <i class="fas fa-star"></i> <i class="fas fa-award"></i></li>
		<li>bridge4u.org <A HREF="http://www.bridge4u.org/solo/advbg/default.htm"><i class="fas fa-external-link-alt"></i></a> - SAYC подробно с примерами <i class="fas fa-star"></i> <i class="fas fa-award"></i></li>
		<li>bridgewebs.com <A HREF="https://bridgewebs.com/pershore/bridge_tips_5.pdf"><i class="fas fa-external-link-alt"></i></A> <i title="формат PDF" class="far fa-file-pdf"></i> Еще вариант SAYC </li>
		<li>saycbridge.com <A HREF="http://www.saycbridge.com/explore/"><i class="fas fa-external-link-alt"></i>онлайн</A> интерактивная таблица по торговле SAYC. Отличается от нашей.</li>
		<li>rpbridge.net <A HREF="http://www.rpbridge.net/7g01.htm"><i class="fas fa-external-link-alt"></i></A> Pavlicek System свежак (февраль, 2019), близка к SAYC <i class="fas fa-star-half-alt"></i></li>
	</ul>
	
		<h3 class="font-effect-shadow-multiple" id="***">***</h3>
			<ul class="simple">
				<li><A HREF="https://www.gambler.ru/%D0%9A%D0%BE%D0%BD%D0%B2%D0%B5%D0%BD%D1%86%D0%B8%D1%8F_%D0%9C%D0%B0%D0%B9%D0%BA%D0%BB%D0%B7">Конвенция Майклз</A></li>
				<li><A HREF="http://bridge2math.gatech.edu/sites/default/files/hearts-with-legend.pdf">STANDARD LEADS cheatsheet</A> pdf</li>
				<li><A HREF="https://bridgeclub.gtorg.gatech.edu/SAYJ/Carding/leads.php">LEADS</A></li>
				<li><A HREF="http://www.rpbridge.net/1ub9.htm">Импас</A></li>
				<li><A HREF="http://web2.acbl.org/documentLibrary/play/InstantScorer.pdf">Таблица подсчета очков</A> ACBL pdf в спортивном бридже</li>
				<li><A HREF="https://www.bridgewebs.com/barnstaple/Tactics%20at%20Imps.htm"><i class="fas fa-external-link-alt"></i></A> Тактика при игре на импы.</li>
				<li><A HREF="https://www.pattayabridge.com/scoringweb.pdf"><i class="fas fa-external-link-alt"></i></A> Подсчет очков pdf</li>
				<li><A HREF="http://www.acblunit390.org/Simon/mps.htm">Тактика при игре на Matchpoint</A></li>
			</ul>
			
	<h3 class="font-effect-shadow-multiple" id="main_global">Основные сайты</h3>
	
	<ul class="simple">
		<li><img alt="image" src="images/favicon_bridgebase.png"/> <A HREF="http://www.bridgebase.com"><i class="fas fa-external-link-alt"></i></A> Bridge Base Online(BBO). Обучение, турниры, живые трансляции.</li>
		<li><img alt="image" src="images/favicon_learn2playbridge.png"/> <A HREF="http://www.learn2playbridge.com/">learn2playbridge</A> - ACBL | Learn to Play Bridge.</li>
		<li><img alt="image" src="images/favicon_ebu.png"/> <A HREF="https://www.ebu.co.uk">EBU</A> - English Bridge Union. Много информации. Бесплатный журнал.</li>
		<li><img alt="image" src="images/favicon_swangames.png"/> <A HREF="http://www.swangames.com/">SwanGames</A> <A HREF="www.swangames.com/main/Links/links.html">Links</A> </li>
		<li><img alt="image" src="images/favicon_rpbridge.png"/> <A HREF="http://www.rpbridge.net/index.htm">rpbridge</A> - Richard Pavlicek. Очень много полезного.</li>
		<li><img alt="image" src="images/favicon_kantarbridge.png"/> <A HREF="http://www.kantarbridge.com">Eddie Kantar</A></li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.andrewrobson.co.uk/"/> <A HREF="https://www.andrewrobson.co.uk/">Andrew Robson</A></li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.acblunit390.org/Simon"/> <A HREF="http://www.acblunit390.org/Simon/index.htm">Simon's Convention</A></li>
		<li><img alt="image" src="images/favicon_ecatsbridge.png"/> <A HREF="https://www.ecatsbridge.com/">ecatsbridge</A></li>
		<li><img alt="image" src="images/favicon_greatbridgelinks.png"/> <A HREF="http://greatbridgelinks.com">greatbridgelinks</A> портал по бриджевой тематике</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://taigabridge.net"/>&nbsp;<A HREF="https://taigabridge.net"><i class="fas fa-external-link-alt"></i></A> taigabridge.net - создатель библиотеки для Latex. Обучение. Теоретические статьи.</li>
		<li><img alt="image" src="images/favicon_bridgeguys.png"/> <A HREF="http://www.bridgeguys.com">bridgeguys</A> - очень много информации по теории.</li>
		<li><A HREF="http://robinsbridge.blogspot.com"><i class="fas fa-external-link-alt"></i></A> RobinsBridge - живой блог. С примерами из BBO.</li>
		
		<li><A HREF="https://bridgewinners.com"><i class="fas fa-external-link-alt"></i></A> bridgewinners.com - агрегатор блогов</li>
		<li><A HREF="https://www.bridgeworld.com"><i class="fas fa-external-link-alt"></i></A> bridgeworld.com - журнал, с бесплатными ежемесячными тестами</li>
		<li><A HREF="http://www.jeff-goldsmith.org"><i class="fas fa-external-link-alt"></i></A>  Jeff Goldsmith's Home Page - много полезной информации. Есть скрипты и программы</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.jazclass.aust.com/bridge/"/> <A HREF="http://www.jazclass.aust.com/bridge/br0.htm"><i class="fas fa-external-link-alt"></i></A> jazclass.aust.com - учебник по бриджу. Много глав по розыгрышу с диаграммами.</li>
		
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://bridge.soc.ucam.org"/> <A HREF="http://bridge.soc.ucam.org/"><i class="fas fa-external-link-alt"></i></A> Cambridge University Bridge Club.</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://web.mit.edu/"/> <A HREF="http://web.mit.edu/mitdlbc/www/home.html">Клуб бриджа в MIT</A> Много статей. Анализы сдач.</li>
		<li><img alt="image" src="images/favicon_pagat.png"/> <A HREF="https://www.pagat.com/auctionwhist/bridge.html">Contract Bridge</A> на сайте pagat.com</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.funbridge.com"/> <A HREF="https://www.funbridge.com/blog/deal-analysis-how-to-count-a-hand-in-bridge/">Deal Analysis – How to count a hand in bridge</A>.Блог от сайта FunBridge</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.pattayabridge.com"/> <A HREF="https://www.pattayabridge.com/index.html">Бридж в Паттае</A> много по конвенциям.</li>
		<li><i class="fab fa-wikipedia-w"></i> <A HREF="https://en.wikipedia.org/wiki/Hand_evaluation">WiKi</A> Hand evaluation</li>
		<li><i class="fab fa-wikipedia-w"></i> <A HREF="https://en.wikipedia.org/wiki/Contract_bridge">WiKi</A> Contract bridg</li>
		<li><A HREF="https://bborobotbattles.com"><i class="fas fa-external-link-alt"></i></A>- блог по игре с роботами на BBO.</li>
		<li><img alt="image" src="images/favicon_nytimes.png"/> <A HREF="https://www.nytimes.com/column/bridge">NY Times Bridge</A> статьи по бриджу. </li>
		<li><img alt="image" src="images/favicon_skybridgeclub.png"/> <A HREF="https://skybridgeclub.com/">skybridgeclub</A> обучение (платное/бесплатное). Видео уроки. Программа.</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://bbo.pigpen.org.uk"/> <A HREF="http://bbo.pigpen.org.uk/"><i class="fas fa-external-link-alt"></i></A> Oliver Clarke's Precision</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.bridgesights.com/hondobridge/"/> <A HREF="http://www.bridgesights.com/hondobridge/"><i class="fas fa-external-link-alt"></i></A> Hondo Bridge. Обучение. Видео. Задачи с решениями.</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://tedmuller.us/Bridge.htm"/> <A HREF="http://tedmuller.us/Bridge.htm">Ted's bridge world</A></li>
		<!--<br><img alt="image" src="https://www.google.com/s2/favicons?domain="/> <A HREF=""></A>-->
		
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://devonbridge.co.uk/"/> <A HREF="https://devonbridge.co.uk/">DBA</A> DEVON BRIDGE ASSOCIATION</li>
		<li><A HREF="http://nicubunu.ro/cards/">Изображение игральных карт</A> по лицензии Creative Commons</li>
	</ul>
			
		<h3 class="font-effect-shadow-multiple" id="tools_online">Инструментарий онлайн</h3>
		<ul class="simple">
			<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.saycbridge.com"/> saycbridge.com <A HREF="http://www.saycbridge.com/scoring"><i class="fas fa-external-link-alt"></i></A>  Тренажер посчета очков онлайн </li>
			<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.saycbridge.com"/> saycbridge.com <A HREF="http://www.saycbridge.com/bid"><i class="fas fa-external-link-alt"></i></A>  Тренажер торговли SAYC онлайн </li>
			<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://thomasoandrews.com"/> ThomasoAndrews.com <A HREF="http://bridge.thomasoandrews.com/evaluator/"><i class="fas fa-external-link-alt"></i></A> Оценка руки по разным системам</li>
			<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://rpbridge.net/cgi-bin/xhe1.pl"/> RPBridge.net <A HREF="http://rpbridge.net/cgi-bin/xhe1.pl/"><i class="fas fa-external-link-alt"></i></A> Оценка руки по разным системам</li>
			<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://mirgo2.co.uk"/> <A HREF="https://mirgo2.co.uk/bridgesolver/upload.htm"><i class="fas fa-external-link-alt"></i></A> <b>Bridge Solver</b> и проигрыватель pbn</li>
			<li><img alt="image" src="images/favicon_philallen.png"/> philallen.co.uk  <A HREF="http://www.philallen.co.uk/"><i class="fas fa-external-link-alt"></i></A> HTML5 проигрыватель pbn онлайн </li>
			<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.playbridge.com"/> Playbridge.com <A HREF="http://www.playbridge.com/index.php"><i class="fas fa-external-link-alt"></i></A> hand generator</li>
			<li><img alt="image" src="images/favicon_bridgebase.png"/> <A HREF="http://www.bridgebase.com/tools/hvdoc.html"><i class="fas fa-external-link-alt"></i></A>Hand viewer </li>
			<li><img alt="image" src="images/favicon_bridgebase.png"/> <A HREF="http://www.bridgebase.com/help/3/common/text/index.html?tools"><i class="fas fa-external-link-alt"></i></A>BBO Help old </li>
			<li><img alt="image" src="images/favicon_bridgebase.png"/> <A HREF="https://www.bridgebase.com/help/v2help/index.html"><i class="fas fa-external-link-alt"></i></A>BBO Help new </li>
			<li><A HREF="http://johnfromarran.org.uk/Bridge/PbnToLin.html"><i class="fas fa-external-link-alt"></i></A>.pbn to .lin online converter</li>
			<li><A HREF="http://www.himbuv.com/nieuw/english/lin_en"><i class="fas fa-external-link-alt"></i></A>.lin to .pbn online converter</li>
		</ul>
				
	<h3 class="font-effect-shadow-multiple" id="online_play">Где играть онлайн</h3>
	
	<ul class="simple">				
		<li><img alt="image" src="images/favicon_playok.png"/> <A HREF="https://www.playok.com">PlayOk</A> Люди. Бесплатно.</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.robobridge.com"/> <A HREF="http://www.robobridge.com">robobridge</A> Бесплатно. С роботами против людей. Рейтинг. </li>
		<li><img alt="image" src="images/favicon_bridgebase.png"/> <A HREF="http://www.bridgebase.com"><i class="fas fa-external-link-alt"></i> Bridge Base Online</A> | <A HREF="http://www.bridgebase.com/help/v2help/index.html"> <i class="fas fa-external-link-alt"></i> BBO help</A> | <A HREF="https://www.bridgebase.com/doc/gib_system_notes.php"> <i class="fas fa-external-link-alt"></i> Система торговли</A> роботов на BBO. Люди, роботы, обучение, турниры.</li>
		<li><img alt="image" src="images/favicon_okbridge.png"/> <A HREF="http://www.okbridge.com">OKbridge</A> Люди. <i class="far fa-money-bill-alt"></i></li>
		<li><img alt="image" src="images/favicon_bridgeclublive.png"/> <A HREF="https://www.bridgeclublive.com">bridgeclublive</A> можно играть с людьми. <i class="far fa-money-bill-alt"></i> </li>
		<li><img alt="image" src="images/favicon_funbridge.png"/> <A HREF="https://www.funbridge.com">FunBridge</A> Люди и роботы. Обучение. Турниры.</li>
		<li><img alt="image" src="images/favicon_gotobridge.png"/> <A HREF="https://www.gotobridge.com">GotoBridge</A> Похоже, что тоже что и FunBridge</li>
		<li><img alt="image" src="images/favicon_ultimate-bridge.png"/> <A HREF="http://ultimate-bridge.com">ultimate-bridge</A> Android, Facebook версии.</li>				
		<li><img alt="image" src="images/favicon_zone.png"/> <A HREF="http://zone.msn.com/en/bridge/default.htm">Microsoft play zone</A></li>
		<!-- http://www.bridgetalk.com  устаревший сайт -->
	</ul>
	
	<h3 class="font-effect-shadow-multiple" id="federation">Федерации</h3>
	<ul class="simple">				
		<li><img alt="image" src="images/favicon_worldbridge.png"/> <A HREF="http://www.worldbridge.org/"><i class="fas fa-external-link-alt"></i></A> WBF - World Bridge Federation</li>
		<li><img alt="image" src="images/favicon_eurobridge.png"/> <A HREF="http://www.eurobridge.org/"><i class="fas fa-external-link-alt"></i></A> EBL - Europian Bridge League</li>
		<li><img alt="image" src="images/favicon_acbl.png"/> <A HREF="https://www.acbl.org/"><i class="fas fa-external-link-alt"></i></A> ACBL - American Contract Bridge League</li>
		
		<li><img alt="image" src="images/favicon_bridgesport.png"/> <A HREF="http://www.bridgesport.ru/"><i class="fas fa-external-link-alt"></i></A>  ФСБР - Федерация спортивного бриджа России</li>
	</ul>
	
	<h3 class="font-effect-shadow-multiple" id="bridge_ru">Бридж на русском</h3>
	
	<ul class="simple">
		<li><img alt="image" src="images/favicon_bridgemoscow.png"/> <A HREF="http://www.bridgemoscow.ru/">Московский клуб спортивного бриджа</A></li>
		<li><img alt="image" src="images/favicon_bridgeclub.png"/> <A HREF="http://www.bridgeclub.ru">BridgeClub</A>. <A HREF="http://www.bridgeclub.ru/stud/glossary.htm">Словарь терминов [RU]</A></li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://bridgeonline.ru"/><A HREF="http://bridgeonline.ru">Школа бриджа[RU]</A> от преподавателей школы "Спутник"</li>
		<li><A HREF="http://www.bridgeclub.ru/arhiv/slovar.htm">Словарь терминов [EN]</A> </li>
		<li><A HREF="http://web2.acbl.org/documentlibrary/play/language-online-bridge.pdf">Словарь терминов online бриджа pdf[EN]</A> </li>
		<li><img alt="image" src="images/favicon_nnbridge.png"/> <A HREF="http://nnbridge.ru/">Федерация спортивного бриджа Нижегородской области</A></li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.nskbridge.ru"/> <A HREF="http://www.nskbridge.ru/">Новосибирский бридж-клуб</A></li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://spbbridge.club"/> <A HREF="http://spbbridge.club/">Санкт-Петербургский бридж клуб</A></li>
		<li><a href="https://www.gambler.ru/forum/index.php?showtopic=429197">Подсчет в турнирах</a> немного.</li>
		<li><a href="http://www.bridgeclub.ru/art/zhukovski4.htm">Индивидуальный рейтинг в бридже</a></li>
		<li><a href="http://www.nskbridge.ru/blogs/solowey/blokitransl.html">Торговля против блоков. Майкл Лоуренс.</a></li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://bridge-vrn.narod.ru"/> <A HREF="http://bridge-vrn.narod.ru/">Воронежская федерация спортивного бриджа</A></li>
		<li><img alt="image" src="images/favicon_prostobridge.png"/> <A HREF="http://prostobridge.ru">Бридж в Простоквашино</A> - сайт команды "Дядя Федор".</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.gambler.ru"/> <A HREF="https://www.gambler.ru/forum/index.php?showforum=82">Хюпп Бридж</A></li>
	</ul>
	
	<h3 class="font-effect-shadow-multiple" id="teory_ru">Теория на русском</h3>
	
	<ul class="simple">
		<li><a href="http://www.nskbridge.ru/blogs/solowey/akleads.html">Как ходить из ТК</a></li>
		<li><a href="http://www.bridgeclub.ru/stud/wakh/17.htm">Одвротка</a></li>
		<li><a href="http://www.bridgeclub.ru/art/brushlek.htm">Бруштунов</a> Простые маневры</li>
		<li><a href="http://www.bridgeclub.ru/tran/chagas.htm">Я люблю импасы</a></li>
		<li><a href="https://www.gambler.ru/%D0%9A%D0%BE%D0%BD%D0%B2%D0%B5%D0%BD%D1%86%D0%B8%D1%8F_%D0%A1%D1%82%D0%B5%D0%B9%D0%BC%D0%B0%D0%BD">Стейман</a></li>
	</ul>
				
	<h3 class="font-effect-shadow-multiple" id="proga">Программы и приложения</h3>
	
	<ul class="simple">
		<li><a href="http://www.deepfinesse.com">Deep Finesse</a> бесплатная</li>
		<li><a href="http://dealmaster.com">Dealmaster Pro</a> платная</li>
		<li><a href="https://bridgecomposer.com">BridgeComposer</a> 30 дней бесплатно.</li>
		<li><a href="https://sater.home.xs4all.nl">Hans van Staveren</a> <a href="https://henku.home.xs4all.nl/software/dealer.html">Dealer</a></li>
		<li><a href="https://rogerpf.com/bridge/aaBridge"><i class="fas fa-external-link-alt"></i></a> aaBridge. бесплатная</li>
		<li><a href="http://slovesnov.users.sourceforge.net/index.php?bridge">Бридж преферанс студия</a> автор Словеснов. Бесплатно.</li>
		<li><a href="http://tedmuller.us/Bridge/Software.htm"></a></li>
		<li><a href="http://www.bridgethink.com/">BridgeThink</a></li>
		<li><a href="http://privat.bahnhof.se/wb758135/index.html"> DDS </a>- double dummy solver</li>
		<li><a href="http://home.planet.nl/~narcis45/suitplay/">SuitPlay</a></li>
		<li><a href="http://www.scanbridge.net/Fichiers_HTM/texte-presentationAn.htm">Scan Bridge</a> program</li>
		<li><a href="https://www.bridgewebs.com/helpus/page136.html">страница</a> с сылками на программы</li> 
		<li><a href="http://masterbridgeanalyser.com">MBA</a> master bridge analyser, 2008</li>
		
	</ul>
				
	<h3 class="font-effect-shadow-multiple" id="teory_en">Теория на английском</h3>
	
	<ul class="simple">
		<li><a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/stayman.pdf">ACBL| Стейман</a> <a href="https://bridgefeed.acbl.org/stayman/">ACBL| Стейман - вопросы</a></li>
		<li><a href="https://www.acbl.org/learn_page/how-to-play-bridge/introduction-to-duplicate/convention-cards/commonly-used-conventions/">ACBL - COMMONLY USED CONVENTIONS</a> <i class="fas fa-star"></i></li>
		<li><a href="https://en.wikipedia.org/wiki/Morton%27s_fork_coup">Вилка Мортона</a> [ENG]</li>
		<li><img alt="image" src="https://www.google.com/s2/favicons?domain=http://www.jazclass.aust.com/"/> <a href="http://www.jazclass.aust.com/bridge/brtech.htm">Приемы розыгрыша</a> <i class="fas fa-award"></i>  Michael Furstner [ENG]</li>
		<li><a href="https://en.wikipedia.org/wiki/Bridge_scoring">WiKi</a> [ENG] подсчет очков в бридже</li>
		<li><a href="http://pi.math.cornell.edu/~belk/impmp.htm">cornell.edu</a> [ENG] подсчет очков в бридже на IMP</li>
	</ul>
				
	<h3 class="font-effect-shadow-multiple" id="video_en">Видео на английском</h3>
	
	<ol class="simple">
		<li><a href="https://www.youtube.com/watch?v=71S6KV0K93E">Шлемовая торговля 1430 RKC</a></li>
		<li><a href="https://www.youtube.com/watch?v=3PmxFGpTl8s">Визуальная карта открытий и ответов</a></li>
		<li><a href="https://www.youtube.com/watch?v=4Y3JV9iBjbY">Обучение бриджу начинающих</a></li>
		<li><a href="https://www.learnbridge.nyc/home.html">Learn Bridge .NYC</a>
			<ol>
				<li><a href="https://www.youtube.com/watch?v=_1tmHwipoAg">youtube</a> How to bid your Minor Suits after 1NT openers.</li>
				<li><a href="https://www.youtube.com/watch?v=1-bS1i86WoY">youtube</a> Basic No - Trump Ranges.</li>
				<li><a href="https://www.youtube.com/watch?v=0WvLahNHB_E">youtube</a> Negative Doubles.</li>
				<li><a href="https://www.youtube.com/watch?v=pCVkDzpA2eg">youtube</a> Jacoby Transfers.</li>
				<li><a href="https://www.youtube.com/watch?v=xu3K28Y_G4g">youtube</a> The Stayman Convention in Bridge.</li>
				<li><a href="https://www.youtube.com/watch?v=Dag8LscJHEs">youtube</a> Bridge Lessons, Cue Bids.</li>
				<li><a href="https://www.youtube.com/watch?v=w5r6FRePCyc">youtube</a> 4TH SUIT FORCING. <a href="https://www.youtube.com/watch?v=7geQIN4UlFk">Хюппанен</a></li>
				<li><a href="https://www.youtube.com/watch?v=_62mkS9R8e0">youtube</a> Takeout Double Focus.</li>
			</ol>
		</li>
	</ol>
                
	<h3 class="font-effect-shadow-multiple" id="dev">Разработчику</h3>
	
	<ul class="simple">
		<!--<li><a href="develop.html">Отображение</a> рук. Красиво.</li>-->
		<li><a href="https://sourceforge.net/projects/svg-cards/files/">Векторные карты</a> Свободная лицензия.</li>
		<li><a href="https://code.google.com/archive/p/vector-playing-cards/downloads">Изображения</a> игральных карт в формате svg и png</li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/topics/bridge-game">Topic: bridge-game · GitHub</a></li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/jyaus/css-playing-cards/">jyaus/css-playing-cards: Playing cards using only CSS and Unicode characters</a></li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/pakastin/deck-of-cards">pakastin/deck-of-cards: HTML5 Deck of Cards</a></li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/anntzer/redeal">anntzer/redeal: A reimplementation of Thomas Andrews' Deal in Python.</a></li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/richardschneider/bridge">richardschneider/bridge: A javascript model for contract (duplicate) bridge</a></li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/selfthinker/CSS-Playing-Cards">selfthinker/CSS-Playing-Cards:</a> <a href="http://selfthinker.github.io/CSS-Playing-Cards/">Doc and example</a> CSS Playing Cards help you to create simple and semantic playing cards in (X)HTML</li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/OneTrickPony82/Bridge-Tools">Bridge Tools</a> python 2012.</li>
		<li><i class="fab fa-github"></i> <a href="https://github.com/yichijin/bridgescape">Bridge Scape</a> .lin format python parser 2017.</li>
		
		<li><a href="http://www.bridgecaptain.com/downloadDD.html">Программа DD Solver</a><a href="http://privat.bahnhof.se/wb758135/bridge/Alg-dds_x.pdf">Описание алгоритма DDS</a> pdf</li>
		<li><a href="http://haroldsfonts.com/font/card-characters/">Шрифт</a> карточный.</li>
	</ul>