extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Каппеллетти. Сappelletti</h3>

	<div>Конвенция Каппеллетти применяется в интервенции на открытие соперников 1NT</div>
	<div></div>
	<ul>Дополнительные источники:
		<li><a href="https://www.bridgebum.com/cappelletti.php">Сappelletti Convention.</a> bridgebum.com</li>
		<li><a href="http://youth.worldbridge.org/cappelletti-convention/">Сappelletti Convention.</a> worldbridge.org</li>
		<li><a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/cappellettipt1.pdf">ACBL | Сappelletti</a> <i title="формат PDF" class="far fa-file-pdf"></i> Часть 1.</li>
		<li><a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/cappellettipt2.pdf">ACBL | Сappelletti</a> <i title="формат PDF" class="far fa-file-pdf"></i> Часть 2.</li>
		<li><a href="http://web.mit.edu/mitdlbc/www/novice-results/pdf-files/capp.pdf">MIT. Сappelletti Convention.</a> <i title="формат PDF" class="far fa-file-pdf"></i></li>
	</ul>
