extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Каппеллетти. Сappelletti</h3>

	<div>Конвенция Каппеллетти применяется в интервенции на открытие соперников 1NT</div>
	<div></div>
	<table class="minitable"> 
	<tbody>
		<tr>
			<th>Откр</th><th>Отв</th><th>Ф</th><th>&nbsp;&nbsp;&nbsp;&nbsp;HCP&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Прим</th><th>Откр</th>
		</tr>
		<tr><td>X</td><td>—</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>наказательная</td><td>-</td></tr>

		<tr><td rowspan=7>2♣<br><br><span class="hcp_light">&nbsp;11—15&nbsp;</span><br><br><span class="span2">&nbsp;5+(♣/<span class="red_card">♦</span>/<span class="red_card">♥</span>/♠)&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♣&nbsp;</span></td><td>-</td></tr>
		<tr><td rowspan=4>2<span class="red_card">♦</span>!</td><td rowspan=4>F1</td><td rowspan=4 class="hcp_light">&nbsp;—&nbsp;</td><td rowspan=4>просьба показать свою масть</td><td>pass — <span class="red_card">♦</span></td></tr>
		<tr><td>2<span class="red_card">♥</span> — <span class="red_card">♥</span></td></tr>
		<tr><td>2♠ — ♠</td></tr>
		<tr><td>3♣ — ♣</td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span></td><td>—</td></tr>
		<tr><td>2♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span></td><td>—</td></tr>
		<tr><td rowspan=4>2<span class="red_card">♦</span><br><br><span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>—<span class="span2">&nbsp;4+♠&nbsp;</span><br>или<br><span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span>—<span class="span2">&nbsp;5+♠&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span></td><td>-</td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;?+<span class="red_card">♥</span>&nbsp;</span></td><td>—</td></tr>
		<tr><td>2♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;?+♠&nbsp;</span></td><td>—</td></tr>
		<tr><td>2NT</td><td>—</td><td class="hcp_light">&nbsp;11—13&nbsp;</td><td><span class="span2">&nbsp;NT&nbsp;</span></td><td>—</td></tr>


		<tr><td rowspan=10>2<span class="red_card">♥</span><br><br><span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>—<span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в <span class="red_card">♥</span> готовы играть</td><td>-</td></tr>
		<tr><td>2♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> нет фита <span class="red_card">♥</span></td><td>—</td></tr>
		<tr><td>2NT!</td><td>F1</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>нет фита <span class="red_card">♥</span> просьба показать минор</td><td>—</td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♣&nbsp;</span> нет фита <span class="red_card">♥</span></td><td>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> нет фита <span class="red_card">♥</span></td><td>—</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♥</span>&nbsp;</span> IG(4<span class="red_card">♥</span>)</td><td>—</td></tr>
		<tr><td>3♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> IG(4♠)</td><td>—</td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>

		<tr><td rowspan=9>2♠<br><br><span class="span2">&nbsp;5+♠&nbsp;</span>—<span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в ♠ готовы играть</td><td>-</td></tr>
		<tr><td>2NT!</td><td>F1</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>нет фита ♠ просьба показать минор</td><td>—</td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♣&nbsp;</span> нет фита ♠</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> нет фита ♠</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> нет фита ♠</td><td>—</td></tr>
		<tr><td>3♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+♠&nbsp;</span> IG(4♠)</td><td>—</td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		
		<tr><td rowspan=10>2NT<br><br><span class="span2">&nbsp;5+♣&nbsp;</span>—<span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>???</td><td>-</td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в ♣ готовы играть</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в <span class="red_card">♦</span> готовы играть, нет фита ♣</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> <span class="span2"><s>&nbsp;8<b>м</b>&nbsp;</s></span></td><td>—</td></tr>
		<tr><td>3♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> <span class="span2"><s>&nbsp;8<b>м</b>&nbsp;</s></span></td><td>—</td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+♣&nbsp;</span> IG(5♣)</td><td></td></tr>
		<tr><td>4<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span> IG(5<span class="red_card">♦</span>)</td><td></td></tr>

		<tr><td>4<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>

		
		</tbody>
	<table>
	<ul>Дополнительные источники:
		<li><a href="https://www.bridgebum.com/cappelletti.php">Сappelletti Convention.</a> bridgebum.com</li>
		<li><a href="http://youth.worldbridge.org/cappelletti-convention/">Сappelletti Convention.</a> worldbridge.org</li>
		<li><a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/cappellettipt1.pdf">ACBL | Сappelletti</a> <i title="формат PDF" class="far fa-file-pdf"></i> Часть 1.</li>
		<li><a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/cappellettipt2.pdf">ACBL | Сappelletti</a> <i title="формат PDF" class="far fa-file-pdf"></i> Часть 2.</li>
		<li><a href="http://web.mit.edu/mitdlbc/www/novice-results/pdf-files/capp.pdf">MIT. Сappelletti Convention.</a> <i title="формат PDF" class="far fa-file-pdf"></i></li>
	</ul>
