extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Каппеллетти. Сappelletti</h3>

	<div>Конвенция Каппеллетти применяется в интервенции на открытие соперников 1NT. В самом классическом случае на сильные 1NT, которые показывают 15-17 очков. Может использоваться и против слабых 1NT.</div>
	<div></div>
	<table class="minitable"> 
	<tbody>
		<tr>
			<th>Откр</th><th>Отв</th><th>Ф</th><th>&nbsp;&nbsp;&nbsp;&nbsp;HCP&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Прим</th><th>Откр</th>
		</tr>
		<tr><td>X</td><td>—</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>наказательная</td><td>-</td></tr>

		<tr><td rowspan=7>2♣<br><br><span class="hcp_light">&nbsp;11—15&nbsp;</span><br><br><span class="span2">&nbsp;5+(♣/<span class="red_card">♦</span>/<span class="red_card">♥</span>/♠)&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♣&nbsp;</span></td><td>-</td></tr>
		<tr><td rowspan=4>2<span class="red_card">♦</span>!</td><td rowspan=4>F1</td><td rowspan=4 class="hcp_light">&nbsp;—&nbsp;</td><td rowspan=4>просьба показать свою масть</td><td>pass — <span class="red_card">♦</span></td></tr>
		<tr><td>2<span class="red_card">♥</span> — <span class="red_card">♥</span></td></tr>
		<tr><td>2♠ — ♠</td></tr>
		<tr><td>3♣ — ♣</td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span></td><td>—</td></tr>
		<tr><td>2♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span></td><td>—</td></tr>
		<tr><td rowspan=4>2<span class="red_card">♦</span><br><br><span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>—<span class="span2">&nbsp;4+♠&nbsp;</span><br>или<br><span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span>—<span class="span2">&nbsp;5+♠&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span></td><td>-</td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;?+<span class="red_card">♥</span>&nbsp;</span></td><td>—</td></tr>
		<tr><td>2♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;?+♠&nbsp;</span></td><td>—</td></tr>
		<tr><td>2NT</td><td>—</td><td class="hcp_light">&nbsp;11—13&nbsp;</td><td><span class="span2">&nbsp;NT&nbsp;</span></td><td>—</td></tr>


		<tr><td rowspan=10>2<span class="red_card">♥</span><br><br><span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>—<span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в <span class="red_card">♥</span> готовы играть</td><td>-</td></tr>
		<tr><td>2♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> нет фита <span class="red_card">♥</span></td><td>—</td></tr>
		<tr><td>2NT!</td><td>F1</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>нет фита <span class="red_card">♥</span> просьба показать минор</td><td>—</td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♣&nbsp;</span> нет фита <span class="red_card">♥</span></td><td>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> нет фита <span class="red_card">♥</span></td><td>—</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♥</span>&nbsp;</span> IG(4<span class="red_card">♥</span>)</td><td>—</td></tr>
		<tr><td>3♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> IG(4♠)</td><td>—</td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>

		<tr><td rowspan=9>2♠<br><br><span class="span2">&nbsp;5+♠&nbsp;</span>—<span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в ♠ готовы играть</td><td>-</td></tr>
		<tr><td>2NT!</td><td>F1</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>нет фита ♠ просьба показать минор</td><td>—</td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♣&nbsp;</span> нет фита ♠</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♦</span>&nbsp;</span> нет фита ♠</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> нет фита ♠</td><td>—</td></tr>
		<tr><td>3♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+♠&nbsp;</span> IG(4♠)</td><td>—</td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		
		<tr><td rowspan=10>2NT<br><br><span class="span2">&nbsp;5+♣&nbsp;</span>—<span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span></td>
		<td>pass</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>???</td><td>-</td></tr>
		<tr><td>3♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в ♣ готовы играть</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td>слабая рука, в <span class="red_card">♦</span> готовы играть, нет фита ♣</td><td>—</td></tr>
		<tr><td>3<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+<span class="red_card">♥</span>&nbsp;</span> <span class="span2"><s>&nbsp;8<b>м</b>&nbsp;</s></span></td><td>—</td></tr>
		<tr><td>3♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;6+♠&nbsp;</span> <span class="span2"><s>&nbsp;8<b>м</b>&nbsp;</s></span></td><td>—</td></tr>
		<tr><td>3NT</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♣</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+♣&nbsp;</span> IG(5♣)</td><td></td></tr>
		<tr><td>4<span class="red_card">♦</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;3+<span class="red_card">♦</span>&nbsp;</span> IG(5<span class="red_card">♦</span>)</td><td></td></tr>

		<tr><td>4<span class="red_card">♥</span></td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>
		<tr><td>4♠</td><td>—</td><td class="hcp_light">&nbsp;—&nbsp;</td><td><span class="span2">&nbsp;•&nbsp;</span></td><td>pass</td></tr>

		</tbody>
	<table>
	
	
	<h3>Пример 1</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,?,-,-</bidding>
	<br>
	<div>North:</div>
	<hand>AQ952.KJT43.86.3</hand>
	<br>
	<div>У нас 10 очков. И мажерные пятерки. <strong>Наш ответ: 2<span class="red_card">♦</span></strong></div>
	</center>
	<h3>Пример 2</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,?,-,-</bidding>
	<br>
	<div>North:</div>
	<hand>KJ943.6.K7.QJT42</hand>
	<br>
	<div>У нас 10 очков. Показать нам нужно 5♠ и 5 в миноре. <strong>Наш ответ: 2♠</strong></div>
	</center>
	<h3>Пример 3</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,?,-,-</bidding>
	<br>
	<div>North:</div>
	<hand>A74.KJT732.8.653</hand>
	<br>
	<div>У нас 8 очков. Показать нам нужно 5+<span class="red_card">♥</span>. <strong>Наш ответ: 2♣</strong></div>
	</center>
	<h3>Пример 4</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,?,-,-</bidding>
	<br>
	<div>North:</div>
	<hand>74.KQJT742.AQ3.A</hand>
	<br>
	<div>У нас 16 очков. Для ответа 2♣ у нас очень сильная рука. Лучше ответить: контра. И далее, если враги, что-то назовут, то при возможности назвать <span class="red_card">♥</span>. Партнер будет знать, что у нас сильная рука и хорошая масть. <strong>Наш ответ: Double(Контра)</strong></div>
	</center>
	<h3>Пример 5</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,?,-,-</bidding>
	<br>
	<div>North:</div>
	<hand>JT7653.K92.84.62</hand>
	<br>
	<div>У нас 4 очка. Не отвечайте 2♣ у нас очень слабая рука. <strong>Наш ответ: Pass</strong></div>
	</center>
	<h3>Пример 6</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,2C,P,?</bidding>
	<br>
	<div>South:</div>
	<hand>K83.Q742.QT6.K54</hand>
	<br>
	<div>У нас 10 очков. Нужно попросить партнера назвать длинную масть. <strong>Наш ответ: 2<span class="red_card">♦</span></strong></div>
	</center>
	<h3>Пример 7</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,2C,P,?</bidding>
	<br>
	<div>South:</div>
	<hand>862.AQT743.4.JT4</hand>
	<br>
	<div>У нас 7 очков. Называем нашу длинную масть 6+. Эта заявка также поможет партнеру сделать заход на висте. <strong>Наш ответ: 2<span class="red_card">♥</span></strong></div>
	</center>
	<h3>Пример 8</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,2C,P,?</bidding>
	<br>
	<div>South:</div>
	<hand>862.J87432.4.JT4</hand>
	<br>
	<div>У нас 2 очка. Для ответа 2<span class="red_card">♥</span> у нас плохая <span class="red_card">♥</span> масть и мало очков. <strong>Наш ответ: 2<span class="red_card">♦</span></strong></div>
	</center>
	<h3>Пример 9</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,2C, X,?</bidding>
	<br>
	<div>South:</div>
	<hand>K83.Q742.QT6.K54</hand>
	<br>
	<div>У нас 10 очков. <strong>Наш ответ: Реконтра</strong></div>
	</center>
	<h3>Пример 10</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,2S,P,?</bidding>
	<br>
	<div>South:</div>
	<hand>84.63.KJ842.KJ42</hand>
	<br>
	<div>У нас 8 очков. У нас нет фита в ♠, но любой минор нам подойдет. <strong>Наш ответ: 2NT</strong></div>
	</center>
	<h3>Пример 10</h3>
	<center>
	<div>Наша пара: NS.</div>
	<bidding>1NT,2S,P,?</bidding>
	<br>
	<div>South:</div>
	<hand>94.KQJ74.J86.K92</hand>
	<br>
	<div>У нас 10 очков. Сложная ситуация. Загонять контракт на 3 уровень не имеет смысла, т.к. фит в миноре не обязательно будет лучше, чем минимум 7-ка в ♠. Лучше все оставить, как есть. <strong>Наш ответ: Pass</strong></div>
	</center>
	<div>Вопросы для обсуждения с партнером:</div>
	<div>1NT - X - Pass - ?. Если у нас слабая рука, что делать?</div>
	<div>1NT - 2♣ - 2<span class="red_card">♦</span> - ?. Нужно дополнительно обговорить такие случаи.</div>
	<ol>Дополнительные источники:
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgebum.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgebum.com/cappelletti.php">Сappelletti Convention.</a> bridgebum.com</li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=http://youth.worldbridge.org"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="http://youth.worldbridge.org/cappelletti-convention/">Сappelletti Convention.</a> worldbridge.org</li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web2.acbl.org"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/cappellettipt1.pdf">ACBL | Сappelletti</a>  Часть 1.</li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web2.acbl.org"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/cappellettipt2.pdf">ACBL | Сappelletti</a>  Часть 2.</li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web.mit.edu"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web.mit.edu/mitdlbc/www/novice-results/pdf-files/capp.pdf">MIT. Сappelletti Convention.</a> </li>
	</ol>
