extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Друри (Drury)</h3>
	<h3>Друри в односторонней торговле</h3>
	<div>Искусственная заявка 2♣</div>
	<div>Делается после открытия партнером 1<span class="red_card">♥</span> или 1♠, если перед этим были все пасы.</div>

	<div>Наша пара: NS. Партнер S.</div>
	<bidding>P,P,P,1H,P,?,-,-</bidding>
	<div>Данная ситуация подходит для применения нами на месте N конвенции Друри. Исскуственная заявка 2♣ показывает 10-11 очков и 3+ карты в масти партера.</div>
	<div>Идея состоит в том, чтобы остаться на маленьком уровне торговли(на втором), т.к. партнер при всех пасах может открыться с худшей рукой, чем обычно.</div>
	
	<table class="mint"> 
	<tbody>
		<tr>
			<th colspan=6>1<span class="red_card">♥</span> - 2♣! F1</th>
		</tr>
		<tr>
			<th>Откр</th><th>Action</th><th>HCP</th><th>Прим</th><th colspan=2>Отв </th>
		</tr>
		<tr><td>2<span class="red_card">♦</span></td><td>—</td><td>&nbsp;10—12&nbsp;</td><td><span class="hcp_light">&nbsp;min&nbsp;</span>&nbsp;<span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></td><td colspan=2></td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>—</td><td>&nbsp;12—21&nbsp;</td><td>&nbsp;<span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></td><td colspan=2></td></tr>
		<tr><td>*</td><td>—</td><td>&nbsp;12—21&nbsp;</td><td>натурально</td><td colspan=2></td></tr>

	</tbody>
	</table>
	
	<table class="mint"> 
	<tbody>
		<tr>
			<th colspan=6>1♠ - 2♣! F1</th>
		</tr>
		<tr>
			<th>Откр</th><th>Action</th><th>HCP</th><th>Прим</th><th colspan=2>Отв </th>
		</tr>
		<tr><td>2<span class="red_card">♦</span></td><td>—</td><td>&nbsp;10—12&nbsp;</td><td><span class="hcp_light">&nbsp;min&nbsp;</span>&nbsp;<span class="span2">&nbsp;5+♠&nbsp;</span></td><td colspan=2></td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>—</td><td>&nbsp;?&nbsp;</td><td>&nbsp;<span class="span2">&nbsp;5+♠&nbsp;</span>&nbsp;<span class="span2">&nbsp;4+<span class="red_card">♥</span>&nbsp;</span></td><td colspan=2></td></tr>
		<tr><td>2♠</td><td>—</td><td>&nbsp;12—21&nbsp;</td><td>&nbsp;<span class="span2">&nbsp;5+♠&nbsp;</span></td><td colspan=2></td></tr>

		<tr><td>*</td><td>—</td><td>&nbsp;12—21&nbsp;</td><td>натурально</td><td colspan=2></td></tr>

	</tbody>
	</table>
	<h3>Пример 1</h3>
	<center>
	<bidding>P,P,P,1H,P,2C,P,2D,P,2H,P,P,P,-,-,-</bidding>
	<br>
	<hand>N|864.AKT.A752.T83</hand>

	<center><hand>S|AJ92.QJ987.6.QJ2</hand></center>
	</center>
	<ol>
		<li>1<span class="red_card">♥</span> - открытие после 3 пасов, может быть <span class="hcp_light">&nbsp;10—21&nbsp;</span>. Знаем только, что <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></li>
		<li>2♣! - Друри. Искусственная. Форсирует на круг. <span class="hcp_light">&nbsp;10—12&nbsp;</span> <span class="span2">&nbsp;3+<span class="red_card">♥</span>&nbsp;</span></li>
		<li>2<span class="red_card">♦</span>! - Искусственная. Я открывался на минимуме <span class="hcp_light">&nbsp;10—11&nbsp;</span>&nbsp;<span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span>.</li>
		<li>2<span class="red_card">♥</span> - Окончательный контракт. Гейма нет.</li>
	</ol>

	<h3>Пример 2</h3>
	<center>
	<bidding>P,P,P,1S,P,2C,P,2S,P,3D,P,4S,P,P,P,-</bidding>
	<br>
	<hand>N|K864.K6.A752.T83</hand>
	<hand>S|AJ952.A98.KQ6.92</hand>
	<br>

	</center>

	<ol>
		<li>1♠ - открытие после 3 пасов, может быть <span class="hcp_light">&nbsp;10—21&nbsp;</span>. Знаем только, что <span class="span2">&nbsp;5+♠&nbsp;</span></li>
		<li>2♣! - Друри. Искусственная. Форсирует на круг. <span class="hcp_light">&nbsp;10—12&nbsp;</span> <span class="span2">&nbsp;3+♠&nbsp;</span></li>
		<li>2♠ - Я открывался нормально <span class="hcp_light">&nbsp;12—21&nbsp;</span>&nbsp;<span class="span2">&nbsp;5+♠&nbsp;</span>.</li>
		<li>3<span class="red_card">♦</span> - Приглашение к гейму. <span class="hcp_light">&nbsp;10—12&nbsp;</span>&nbsp;<span class="span2">&nbsp;3+♠&nbsp;</span>&nbsp;<span class="span2">&nbsp;4+<span class="red_card">♦</span>&nbsp;</span></li>
		<li>4♠ - Окончательный контракт. Гейм.</li>
	</ol>
	<h3>Друри в конкурентной торговле</h3>
	<ul>Данные основаны на следующих источниках:
		<li><a href="https://www.bridgebum.com/drury.php">Drury</a> bridgebum.com </li>
		<li><a href=""></a></li>
	</ul>