extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Торговля в интервенции</h3>

	<ul>Конвенции:
		<li><a href="michaelscuebid.html"><i class="far fa-eye"> </i></a> Кью-бид Майклса. Michaels cuebid</li>
		<li><A title="перейти внутри сайта" HREF="cappelletti.html"><i class="far fa-eye"></i></A> Каппеллетти</li>
		<li><A title="перейти внутри сайта" HREF="negative_double.html"><i class="far fa-eye"></i></A> Негативная Контра</li>
	</ul>
	
	<table class="minitable"> 
	<tbody>
		<caption>	<h3 class="font-effect-shadow-multiple">Основные первые заявки в интервенции</h3></caption>
		<tr>
			<th>Партнер1</th><th>&nbsp;&nbsp;&nbsp;&nbsp;HCP&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Примечание</th>
		</tr>
		<tr><td>назначение масти на 1-м уровне</td><td class="hcp_light">&nbsp;8—15&nbsp;</td><td><span class="span2">&nbsp;5+&nbsp;</span>, указана сильная масть для атаки на висте; партнер в случае проведения баланса ориентируется на <span class="hcp_light">&nbsp;10&nbsp;</span>
		<br><a href="intervention1h1s.html"><i class="far fa-eye"></i> </a>Враг1: 1<span class="red_card">♥</span>, Напарник: 1♠, Враг2: Pass, Мы:?</td></tr>
		<tr><td>назначение масти без прыжка на 2-м уровне</td><td class="hcp_light">&nbsp;10—15&nbsp;</td><td> <span class="span2">&nbsp;5+&nbsp;</span>, указана сильная масть для атаки на висте; партнер в случае проведения баланса ориентируется на <span class="hcp_light">&nbsp;12&nbsp;</span></td></tr>
		<tr><td>назначение масти без прыжка на 3-м уровне (т.е., после блока оппонента)</td><td class="hcp_light">&nbsp;12—17&nbsp;</td><td><span class="span2">&nbsp;6+&nbsp;</span></td></tr>
		<tr><td>назначение масти без прыжка на 4-м уровне (т.е., после блока оппонента)</td><td class="hcp_light">&nbsp;15—20&nbsp;</td><td><span class="span2">&nbsp;6+&nbsp;</span></td></tr>
		<tr><td>1NT</td><td class="hcp_light">&nbsp;15—17&nbsp;</td><td> <span class="span2">&nbsp;NT&nbsp;</span> с держкой в масти открытия врага; дальше – как после открытия 1NT</td></tr>
		<tr><td>2NT с прыжком</td><td class="hcp_light">&nbsp;8—11&nbsp;</td><td>блок минимум 5-5 в младших неназванных мастях</td></tr>
		<tr><td>2NT без прыжка</td><td class="hcp_light">&nbsp;16—18&nbsp;</td><td>~ <span class="span2">&nbsp;NT&nbsp;</span> с держками в масти/мастях оппонента; далее – как после открытия 2NT</td></tr>
		<tr><td>3NT без прыжка</td><td class="hcp_light">~&nbsp;20&nbsp;</td><td>~ <span class="span2">&nbsp;NT&nbsp;</span> с 1.5 держками в масти оппонента</td></tr>
		<tr><td>назначение масти с прыжком после атакующих открытий оппонентов</td><td>-</td><td>блоки по правилу безопасности; далее – как после блокирующих открытий</td></tr>
		<tr><td rowspan=3><b>X</b> на открытие врага 1 в масть</td><td class="hcp_light">&nbsp;12—15&nbsp;</td><td><a href="takeout_double.html"><i class="far fa-eye"></i> </a> минимум 3 карты в неназванных мастях  </td></tr>
				<tr><td class="hcp_light">&nbsp;16+&nbsp;</td><td>козырный расклад,</td></tr>
				<tr><td class="hcp_light">&nbsp;18+&nbsp;</td><td><span class="span2">&nbsp;NT&nbsp;</span></td></tr>
		<tr><td rowspan=3><b>X</b> на открытие врага на 2-м уровне</td><td class="hcp_light">&nbsp;12—15&nbsp;</td><td> минимум 3 карты в неназванных мастях </td></tr>
					<tr><td class="hcp_light">&nbsp;16+&nbsp;</td><td> козырный расклад,</td></tr>
					<tr><td class="hcp_light">&nbsp;18+&nbsp;</td><td><span class="span2">&nbsp;NT&nbsp;</span></td></tr>
		<tr><td rowspan=2><b>X</b> на открытие врага на 3-м уровне</td><td class="hcp_light">&nbsp;15—18&nbsp;</td><td>призывная часть </td></tr>
		<tr><td class="hcp_light">&nbsp;18+&nbsp;</td><td>сильная часть</td></tr>
		<tr><td><b>X</b> на более высокие открытия</td><td class="hcp_light">&nbsp;17+&nbsp;</td><td>призывная</td></tr>
		<tr><td>2 в масть открытия</td><td>-</td><td>кю-бид Майклса <a href="michaelscuebid.html"><i class="far fa-eye"> </i></a></td></tr>
		<tr><td>-</td><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td><td>-</td></tr>
	</tbody>
	</table>