extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">SAYC.Интервенция. 1<span class="red_card">♥</span>—i1♠—Pass—...</h3>
					
	//-<!--<h2>1<span class="red_card">♥</span> <small><span class="hcp">12—21</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></small> — 1♠ <small><span class="hcp">6+</span> <span class="span2">&nbsp;4+♠&nbsp;</span></small></h2>-->

	<table class="mint"> 
	<tbody>
		<tr>
			<th colspan=6>1<span class="red_card">♥</span> <small><span class="hcp_light">&nbsp;12—21&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span></small> — i1♠<small> <span class="hcp_light">&nbsp;8—15&nbsp;</span> <span class="span2">&nbsp;5+♠&nbsp;</small><sup>*</sup>&nbsp;—&nbsp;Pass&nbsp;—&nbsp;...  (*) наш партнер</th>
		</tr>
		<tr>
			<th>Откр</th><th>Action</th><th>HCP</th><th>Прим</th><th colspan=2>Отв </th>
		</tr>
		<tr><td>2♣</td><td>—</td><td>&nbsp;10—14&nbsp;</td><td><span class="span2">&nbsp;5+♣&nbsp;</span> </td><td colspan=2>—</td></tr>
		<tr><td>2<span class="red_card">♦</span></td><td>—</td><td>&nbsp;10—14&nbsp;</td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span></td><td colspan=2>—</td></tr>
		<tr><td>2<span class="red_card">♥</span></td><td>FG</td><td>&nbsp;14+&nbsp;</td><td>вопрос о держке или <br>(если в дальнейшем вы назначите масть партнера) с фитом в его масти и козырный расклад</td><td colspan=2>—</td></tr>
		<tr><td>2♠</td><td>—</td><td>&nbsp;<10&nbsp;</td><td><span class="span2">&nbsp;3+♠&nbsp;</span> фигурный фит</td><td colspan=2>—</td></tr>
		<tr><td>3♠</td><td>—</td><td>&nbsp;10—12&nbsp;</td><td><span class="span2">&nbsp;4+♠&nbsp;</span></td><td colspan=2>—</td></tr>
		<tr><td>4♠</td><td>—</td><td></td><td>по балансу/<span class="hcp_light">&nbsp;<10&nbsp;</span> <span class="span2">&nbsp;4-5♠&nbsp;</span> <span class="span2">&nbsp;1&nbsp;</span></td><td colspan=2>—</td></tr>
		<tr><td>3♣</td><td>—</td><td>&nbsp;15+&nbsp;</td><td><span class="span2">&nbsp;5+♣&nbsp;</span> с двумя (из трех старших) фигурами</td><td colspan=2>—</td></tr>
		<tr><td>3<span class="red_card">♦</span></td><td>—</td><td>&nbsp;15+&nbsp;</td><td><span class="span2">&nbsp;5+<span class="red_card">♦</span>&nbsp;</span> с двумя (из трех старших) фигурами</td><td colspan=2>—</td></tr>
		<tr><td>1NT</td><td>—</td><td>&nbsp;9—12&nbsp;</td><td>держка в <span class="red_card">♥</span></td><td colspan=2>—</td></tr>
		<tr><td>2NT</td><td>—</td><td>&nbsp;13—15&nbsp;</td><td>держка в <span class="red_card">♥</span></td><td colspan=2>—</td></tr>
		<tr><td>3NT</td><td>—</td><td>&nbsp;15—16&nbsp;</td><td>держка в <span class="red_card">♥</span></td><td colspan=2>—</td></tr>
		<tr><td>4NT</td><td>F1</td><td></td><td><A HREF="blackwood.html"><i class="far fa-eye"> </i></A> «Римский Блэквуд» 1430 </td><td colspan=2>—</td></tr>
		

	</tbody>
	</table>

	
