extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Торговля в интервенции</h3>

	<ul>Конвенции:
		<li><a href="michaelscuebid.html"><i class="far fa-eye"> </i></a> Кью-бид Майклса. Michaels cuebid</li>
		<li></li>
	</ul>
	
	<table class="minitable"> 
	<tbody>
		<caption>Основные первые заявки в интервенции</caption>
		<tr>
			<th>Партнер1</th><th>Примечание</th>
		</tr>
		<tr><td>назначение масти на 1-м уровне</td><td><span class="hcp">8—15</span> <span class="span2">&nbsp;5+&nbsp;</span>, указана сильная масть для атаки на висте; партнер в случае проведения баланса ориентируется на <span class="hcp">10</span></td></tr>
		<tr><td>назначение масти без прыжка на 2-м уровне</td><td><span class="hcp">10—15</span> <span class="span2">&nbsp;5+&nbsp;</span>, указана сильная масть для атаки на висте; партнер в случае проведения баланса ориентируется на <span class="hcp">12</span></td></tr>
		<tr><td>назначение масти без прыжка на 3-м уровне (т.е., после блока оппонента)</td><td><span class="hcp">12—17</span> <span class="span2">&nbsp;6+&nbsp;</span></td></tr>
		<tr><td>назначение масти без прыжка на 4-м уровне (т.е., после блока оппонента)</td><td><span class="hcp">15—20</span> <span class="span2">&nbsp;6+&nbsp;</span></td></tr>
		<tr><td>1NT</td><td><span class="hcp">15—17</span> б/к расклад с держкой в масти открытия врага; дальше – как после открытия 1NT</td></tr>
		<tr><td>2NT с прыжком</td><td>блок <span class="hcp">8—11</span>, минимум 5-5 в младших неназванных мастях</td></tr>
		<tr><td>2NT без прыжка</td><td><span class="hcp">16—18</span>, примерно бк расклад с держками в масти/мастях оппонента; далее – как после открытия 2NT</td></tr>
		<tr><td>3NT без прыжка</td><td>примерно <span class="hcp">20</span>, примерно бк расклад с 1.5 держками в масти оппонента</td></tr>
		<tr><td>назначение масти с прыжком после атакующих открытий оппонентов</td><td>блоки по правилу безопасности; далее – как после блокирующих открытий</td></tr>
		<tr><td rowspan=3><b>X</b> на открытие врага 1 в масть</td><td><span class="hcp">12—15</span>, минимум 3 карты в неназванных мастях  </td></tr>
				<tr><td><span class="hcp">16+</span>, козырный расклад,</td></tr>
				<tr><td><span class="hcp">18+</span>, б/к расклад</td></tr>
		<tr><td rowspan=3><b>X</b> на открытие врага на 2-м уровне</td><td><span class="hcp">12—15</span>, минимум 3 карты в неназванных мастях </td></tr>
					<tr><td><span class="hcp">16+</span>, козырный расклад,</td></tr>
					<tr><td><span class="hcp">18+</span>, б/к расклад</td></tr>
		<tr><td><b>X</b> на открытие врага на 3-м уровне</td><td>призывная часть <span class="hcp">15—18</span>, сильная часть – <span class="hcp">18+</span></td></tr>
		<tr><td><b>X</b> на более высокие открытия</td><td>призывная, <span class="hcp">17+</span></td></tr>
		<tr><td>2 в масть открытия</td><td>кю-бид Майклса <a href="michaelscuebid.html"><i class="far fa-eye"> </i></a></td></tr>
		<tr><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td></tr>
		<tr><td>-</td><td>-</td></tr>
	</tbody>
	</table>