extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Кью-бид Майклса. Michaels cuebid</h3>

	<div>Кюбиды Майклса применяются только, если открытие соперников было натуральным. Если открытие искусственно, то 2 в масть <span class="hcp">10-15</span> <span class="span2">&nbsp;5+&nbsp;</span></div>
	<div>Кюбиды Майклса обещают 2-x мастную руку.</div>
	<div>Кюбиды Майклса обычно показывают расклад не менее чем  5-5, но после минорного открытия, расклад 5-4 в мажорах допустим, если 4 карты разумно хороши.</div>
	<table class="minitable"> 
	<tbody>
		<tr>
			<th>Соперник</th><th>Партнер1</th><th>Примечание</th><th>Партнер2</th><th>Примечание</th>
		</tr>
		<tr><td rowspan=2>1♣</td><td rowspan=2>2♣!</td><td rowspan=2><span class="hcp">8+</span> оба <span class="red_card"><b>M</b></span></td><td>(2/3/4)<span class="red_card">♥</span></td><td>по балансу</td></tr>
					<tr><td>(2/3/4)♠</td><td>по балансу</td></tr>
		<tr><td rowspan=2>1<span class="red_card">♦</span></td><td rowspan=2>2<span class="red_card">♦</span>!</td><td rowspan=2><span class="hcp">8+</span> оба <span class="red_card"><b>M</b></span></td><td>(2/3/4)<span class="red_card">♥</span></td><td>по балансу</td></tr>
					<tr><td>(2/3/4)♠</td><td>по балансу</td></tr>
		<tr><td rowspan=2>1<span class="red_card">♥</span></td><td rowspan=2>2<span class="red_card">♥</span>!</td><td rowspan=2><span class="hcp">10+</span> <span class="span2">&nbsp;5+♠&nbsp;</span> <span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td><td>(2/3/4)♠</td><td>по балансу</td></tr>
					<tr><td>2NT</td><td>вопрос о миноре</td></tr>
		<tr><td rowspan=2>1♠</td><td rowspan=2>2♠!</td><td rowspan=2><span class="hcp">10+</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> <span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td><td>(3/4)<span class="red_card">♥</span></td><td>по балансу</td></tr>
					<tr><td>2NT</td><td>вопрос о миноре</td></tr>
	</tbody>
	</table>