extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Кью-бид Майклса. Michaels cuebid</h3>

	<div>Кюбиды Майклса применяются только, если открытие соперников было натуральным. Если открытие искусственно, то 2 в масть <span class="hcp">&nbsp;10—15&nbsp;</span> <span class="span2">&nbsp;5+&nbsp;</span></div>
	<div>Кюбиды Майклса обещают 2-x мастную руку.</div>
	<div>Кюбиды Майклса обычно показывают расклад не менее чем  5—5, но после минорного открытия, расклад 5—4 в мажорах допустим, если 4 карты разумно хороши.</div>
	<table class="minitable"> 
	<tbody>
		<tr>
			<th>Соперник</th><th>Партнер1</th><th>Примечание</th><th>Партнер2</th><th>Примечание</th>
		</tr>
		<tr><td rowspan=2>1♣</td><td rowspan=2>2♣!</td><td rowspan=2><span class="hcp">&nbsp;8+&nbsp;</span> оба <span class="red_card"><b>M</b></span></td><td>(2/3/4)<span class="red_card">♥</span></td><td>по балансу</td></tr>
					<tr><td>(2/3/4)♠</td><td>по балансу</td></tr>
		<tr><td rowspan=2>1<span class="red_card">♦</span></td><td rowspan=2>2<span class="red_card">♦</span>!</td><td rowspan=2><span class="hcp">&nbsp;8+&nbsp;</span> оба <span class="red_card"><b>M</b></span></td><td>(2/3/4)<span class="red_card">♥</span></td><td>по балансу</td></tr>
					<tr><td>(2/3/4)♠</td><td>по балансу</td></tr>
		<tr><td rowspan=2>1<span class="red_card">♥</span></td><td rowspan=2>2<span class="red_card">♥</span>!</td><td rowspan=2><span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;5+♠&nbsp;</span> <span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td><td>(2/3/4)♠</td><td>по балансу</td></tr>
					<tr><td>2NT</td><td>вопрос о миноре</td></tr>
		<tr><td rowspan=2>1♠</td><td rowspan=2>2♠!</td><td rowspan=2><span class="hcp">&nbsp;10+&nbsp;</span> <span class="span2">&nbsp;5+<span class="red_card">♥</span>&nbsp;</span> <span class="span2">&nbsp;5+<b>м</b>&nbsp;</span></td><td>(3/4)<span class="red_card">♥</span></td><td>по балансу</td></tr>
					<tr><td>2NT</td><td>вопрос о миноре</td></tr>
	</tbody>
	</table>
	
	<ol>Дополнительные источники:
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgebum.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgebum.com/michaels_cuebid.php">Michaels Cue Bid.</a> bridgebum.com</li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgewebs.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgewebs.com/porthcawl/MICHAELS%20CUE%20BIDS.htm">Michaels Cue Bid/Unusual NT</a> bridgewebs.com</li>

		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web2.acbl.org"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/michaelscuebid.pdf">ACBL | Michaels Cuebid</a></li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web.mit.edu"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web.mit.edu/mitdlbc/www/novice-results/09/michaelsu2nt.pdf">Michaels Cuebids and Unusual Notrump Overcalls.</a> </li>
		<li><span class="flag_en"></span>&nbsp;<i class="fab fa-wikipedia-w"></i>  <i title="формат HTML" class="far fa-file-code"></i></span> <a href="https://en.wikipedia.org/wiki/Michaels_cuebid">Michaels cuebid.</a> </li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.larryco.com/"/>  <i title="формат HTML" class="far fa-file-code"></i></span> <a href="https://www.larryco.com/bridge-articles/michaels-cue-bid">Michaels Cue Bid.</a> Larry's Articles</li>


	</ol>