extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Сплинтер (Splinters)</h3>
	<div>Искусственная заявка. Приглашает к гейму или шлемовой торговле. Говорит о минимум 4-ке в последней названной масти и о ренонсе или синглете в масти назначения. Делается на уровне большем, чем нормальное назначение с прыжком. Например, на 1<span class="red_card">♥</span>, нормальное назначение с прыжком это 3<span class="red_card">♥</span>, значит 3♠, 4♣, 4<span class="red_card">♦</span> - это заявки Сплинтерс.</div>
	<div>Сплинтерс может назвать не только отвечающий, но и открывающий</div>
	<div>Сплинтерс используется в связке с кьюбидами, говорящими о контроле.</div>
	<h3>Пример 1</h3>
	<center>
	<bidding>P,1S,-,-</bidding>
	<br>
	<hand>N|AQ952.KJT43.86.3</hand>
	<br>
	<hand>S|AQ952.KJT43.86.3</hand>
	<br>
	<div>У нас 10 очков. И мажерные пятерки. <strong>Наш ответ: 2<span class="red_card">♦</span></strong></div>
	</center>
	<ul>Данные основаны на следующих источниках:
		<li><span class="flag_en"></span> <img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgebum.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgebum.com/splinters.php">Splinters</a> bridgebum.com</li>
		<li><span class="flag_en"></span> <img alt="image" src="https://www.google.com/s2/favicons?domain=https://web2.acbl.org"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/splinters.pdf">ACBL | splinters </a></li>
		<li><span class="flag_en"></span> <span class="red_card"><i class="fab fa-youtube"></i></span> <a href="https://www.youtube.com/watch?v=xK7YGbwxXkM">Splinter Bids </a> AndrewRobsonBridge</li>
		<li><span class="flag_en"></span> <img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.larryco.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.larryco.com/bridge-articles/splinter-bids">Splinter Bids</a> Larry's Articles</li>
		<li><span class="flag_en"></span> <img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgewebs.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgewebs.com/porthcawl/SPLINTER%20BIDS%20AND%20CUE%20BIDS.htm">SPLINTER-BIDS and CUE-BIDS</a> </li>
		<li><span class="flag_en"></span> <img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgewebs.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgewebs.com/porthcawl/SPLINTER%20BIDS.htm">SPLINTER-BIDS</a> </li>

	
	</ul>