extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">Сплинтер (Splinters)</h3>
	<div>Искусственная заявка </div>
	<ul>Данные основаны на следующих источниках:
		<li><a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/splinters.pdf">ACBL | splinters.pdf </a></li>
		<li><img src="images/favicon_youtube.png"/><a href="https://www.youtube.com/watch?v=xK7YGbwxXkM">Splinter Bids </a> AndrewRobsonBridge</li>
	</ul>