extends layouts/bridge_layout.pug

block title
	title= site_title + " Бридж"
	
block content
	<h3 class="font-effect-shadow-multiple">SAYC. Призывная Контра</h3>
	<div>Призывная контра дается на мастевое открытие врага и обещает, одно из двух(по договоренности может и из трех):
		<ol>
			<li>12-15 очков с не менее тремя картами в каждой из оставшихся мастях</li>
			<li>16+ очков любых, исключая 15-17 очков с держкой в масти врага (в этом случае мы можем сказать 1NT)</li>
		</ol>
		<br>Партнер не призывную контру должен назвать четверку в одной из трех оставшихся мастей.
		<br>Правило: Партнер не должен пасовать на призывную контру, за исключением, если у него в руке взяток больше в масти открытия врага, чем у самого врага. Т.е. пас на призывную контру только наказательный.
		<br>Правило: Если у вас 12-15 очков и есть пятикартная масть в мажоре, надо войти мажором, а не контрой.
		<br>Правило: Новая масть после призывной контры не форсирует.
		<br>Правило: Масть с прыжком на призывную контру приглашает к гейму.
		<br>Правило: договоримся применять призывную контру только на натуральное открытие оппонента. Заявление масти открытия оппонента всегда не натурально.
	</div>
	<div>Варианты ответов на призывную контру если у вас:
		<ol>
			<li>6-9 с держкой в масти открытия - 1NT</li>
			<li>0-9 очков - масть ближайшей четверки</li>
			<li>10-11 очков - инвит к мастевому гейму (2 масть) или инвит к безкозырному гейму - 2NT</li>
			<li>12+ - надо форсировать партнера до гейма - 2 в масть врага</li>
		</ol>
	</div>
	<h3>Пример 1</h3>
	<bidding>1D,?,-,-</bidding>
	<center><hand>N|AK32.A432.2.K432</hand></center>
	<br>
	<div>14 Очков. Пятикартных мастей для входа нет, но зато есть четверки во всех оставшихся мастях, мы готовы играть в любой оставшейся масти, мы вызываем партнера играть. Наша заявка "Контра".</div>
	<h3>Пример 2</h3>
	<bidding>1D,?,-,-</bidding>
	<center><hand>N|AK32.A32.62.K432</hand></center>
	<br>
	<div>14 Очков. Пятикартных мастей для входа нет. Готовы играть во всех оставшихся мастях даже в <span class="red_card">♥</span>. Наша заявка "Контра".</div>
	<h3>Пример 3</h3>
	<bidding>1D,?,-,-</bidding>
	<center><hand>N|AK32.AQ2.62.K432</hand></center>
	<br>
	<div>16 Очков. Но нет держки в <span class="red_card">♦</span>, поэтому 1NT назвать не можем. Наша заявка "Контра".</div>
	
	<h3>Пример 4</h3>
	<bidding>1D,?,-,-</bidding>
	<center><hand>N|AK432.A42.62.K32</hand></center>
	<br>
	<div>14 Очков и 5♠. Лучше просто назвать "1♠".</div>
	<h3>Пример 5</h3>
	<bidding>1D,?,-,-</bidding>
	<center><hand>N|AKJ32.AQ2.62.K32</hand></center>
	<br>
	<div>17 Очков и 5♠. Тут вариант 2 - сильной призывной контры. Мы говорим "Контра", а на следующем круге называем пику. Таким образом показывая, от 16+ очков и от 5+♠.</div>
	<div>Теперь рассмотрим, как отвечать на призывную контру.</div>
	<h3>Пример 6.</h3>
	<bidding>1D, X,P,?</bidding>
	<center><hand>S|J87.J98.JT9.J987</hand></center>
	<br>
	<div>4 Очка. Но пасовать нельзя! Называем ближайшую четырехкартную масть. Это ♣. Наша заявка "2♣". Партнер понимает, что в данной ситуации мы не могли пасовать и, что очков у нас может не быть.</div>
	<h3>Пример 7</h3>
	<bidding>1D, X,P,?</bidding>
	<center><hand>S|QJ8.AT98.32.KT98</hand></center>
	<br>
	<div>10 Очков. Ближайшая четырехкартная масть - <span class="red_card">♥</span>. Но если мы скажем 1<span class="red_card">♥</span>, то это будет означать, что у нас мало очков. Чтобы показать очки нужно назвать масть с прыжком, т.е. наша заявка "2<span class="red_card">♥</span>".</div>
	<h3>Пример 8</h3>
	<bidding>1D, X,P,?</bidding>
	<center><hand>S|AQJ8.AT98.32.KT9</hand></center>
	<br>
	<div>14 Очков. Мы точно знаем, что нужно играть гейм, т.к. у партнера на минимуме 12 очков. Для форсирования партнера служит не натуральная заявка - масть врага. В нашем случае называем "2<span class="red_card">♦</span>". Это форсирует оппонента на круг и он назовет свою ближайщую четверку в мажоре. А мы уже поставим нужный гейм.</div>
	
	<ol>Дополнительные источники:
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgebum.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgebum.com/takeout_double.php">Takeout Double.</a> bridgebum.com</li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.bridgewebs.com"/> <i title="формат HTML" class="far fa-file-code"></i> <a href="https://www.bridgewebs.com/porthcawl/TUTORIAL%206%20-%20TAKE%20OUT%20DOUBLES.htm">take-out doubles</a> bridgewebs.com</li>

		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web2.acbl.org"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web2.acbl.org/documentLibrary/play/Commonly_Used_Conventions/takeoutdouble.pdf">ACBL | Takeout Doubles</a></li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://web.mit.edu"/> <span class="red_card"><i title="формат PDF" class="far fa-file-pdf"></i></span> <a href="http://web.mit.edu/mitdlbc/www/novice-results/09/negdbl.pdf">Takeout Doubles.</a> </li>
		<li><span class="flag_en"></span>&nbsp;<i class="fab fa-wikipedia-w"></i>  <i title="формат HTML" class="far fa-file-code"></i></span> <a href="https://en.wikipedia.org/wiki/Takeout_double">Takeout double.</a> </li>
		<li><span class="flag_en"></span>&nbsp;<img alt="image" src="https://www.google.com/s2/favicons?domain=https://www.larryco.com/"/>  <i title="формат HTML" class="far fa-file-code"></i></span> <a href="https://www.larryco.com/bridge-articles/takeout-doubles">Takeout Doubles.</a> Larry's Articles</li>


	</ol>
	//
		<bidding>1D,?,-,-</bidding>
		<center><hand>S|AK32.AQ2.62.K432</hand></center>
		<br>
		<div></div>

