extends ../layouts/html_layout.jade

block title
	title= site_title + " Информация по дайвингу и фридайвингу"


block content
	div.row: div.large-12.columns: h1: strong Информация по дайвингу и фридайвингу
	div.row: div.large-12.columns
		ol
			li
				| С аквалангом
				ol
					li 
						| Информационные (книги, фильмы) материалы
						ol
							li Видеофильмы
								ol
									li [RUS] Мастерское владение плавучестью / PADI Peak Performance Buoyancy. <a href="http://rutracker.org/forum/viewtopic.php?t=3668564">|rutracker|</a>
									li [RUS][2006] Мастерское владение плавучестью / PADI Peak Performance Buoyancy. <a href="http://rutracker.org/forum/viewtopic.php?t=1398396">rutracker DVD5</a> |
									li [RUS][2005] PADI Open Water Diver (DVDrip). <a href="http://rutracker.org/forum/viewtopic.php?t=1433130"> rutracker DVDRip</a> | <a href="http://rutracker.org/forum/viewtopic.php?t=1383704">rutracker DVD</a>
									li [RUS][2006] Глубоководные погружения / Deep diver course. <a href="http://rutracker.org/forum/viewtopic.php?t=1647453">rutracker DVD5</a> |
									li [RUS][2005]  / PADI Adventures in Diving. <a href="http://rutracker.org/forum/viewtopic.php?t=1438456">rutracker DVDRip</a> | <a href="http://rutracker.org/forum/viewtopic.php?t=1395269">rutracker DVD5</a>
									li [RUS][2006] Погружение на затонувшие объекты. / PADI Wreck Diving. <a href="">нет DVDRip</a> | <a href="http://rutracker.org/forum/viewtopic.php?t=1399259">rutracker DVD5</a>
									li [RUS][2000] CMAS *. <a href="http://rutracker.org/forum/viewtopic.php?t=1097191">rutracker DVD5</a>
									li [RUS][20??] CMAS **. <a href="http://rutracker.org/forum/viewtopic.php?t=1093241">rutracker DVD5</a>
									li [RUS][2007] SSI Open Water Diver. <a href="http://rutracker.org/forum/viewtopic.php?t=3583129">rutracker DVDRip</a>
								

							li Книги, учебники
								ol 
									a(href="http://rutracker.org/forum/viewtopic.php?t=1921730") rutracker СБОРНИК
									li [RUS][2004][PDF] Учебник Open Water Diver manual.
									li [RUS][2008][PDF] Энциклопедия любительского дайвинга на русском (3 edition).
									li [RUS][2000][PDF] Учебник Adventures in diving на русском (к курсу Advanced OWD).
									li [RUS][2008][PDF] Rescue Diver Manual, Учебник по курсу Rescue Diver.
									li [RUS][2007][PDF] Open Water Diver SSI(учебник). <a href="http://rutracker.org/forum/viewtopic.php?t=1698723">rutracker PDF</a>

									li [RUS][2003][PDF] Том Маунт. Техническая Энциклопедия IANTD. <a href="http://rutracker.org/forum/viewtopic.php?t=1991997">rutracker PDF</a></li>
									li [RUS][2003][PDF] Advanced EANx Diver IANTD. <a href="http://rutracker.org/forum/viewtopic.php?t=2291701">rutracker PDF</a></li>             
									li [RUS][1979][DjVu] Г.Л. Зальцман и др. Основы гипербарической физиологии. <a href="http://rutracker.org/forum/viewtopic.php?t=2001471">rutracker DjVu</a></li>                
								
					li
						| О подводной фотографии
						ol
							li 
								a(href="http://www.smashingmagazine.com/2008/10/19/25-beautiful-examples-of-underwater-photography/") Лучшие фотоработы на 2008 год
							li 
								a(href="http://rutracker.org/forum/viewtopic.php?t=1471352") Martin Edge - The Underwater Photographer: Digital and Traditional Techniques, Third Edition [2006, PDF]
							li 
								a(href="http://rutracker.org/forum/viewtopic.php?t=1669640") [Журнал] Underwater Photography Magazine 1-46 [2001-2008, PDF]
					li
						| Оказание первой медицинской помощи
						ol
							li <a href="http://www.metom.ru/production/rot2rot.html">Маски</a> для искусственного дыхания "рот-в-рот","рот-в-нос"
							li <a href="http://www.bibi.uz/poleznie-soveti/1449">Как пользоваться</a> маской
							li <a href="http://www.med-magazin.ru/products/item/Perchatki_prozrachnye_teksturirovannye_razmer_M_polietilenovyy_blok_100_sht_Art6301ff4/">Перчатки</a> прозрачные, текстурированные, размер М, полиэтиленовый блок (100 шт.) 
							li <a href="http://www.med-europa.com/product-id994-jgut_krovoostanavlivaushiy_jv01/">Жгут</a>     кровоостанавливающий венозный ЖВ-01
			li
				| Фридайвинг
				ol
					li Ассоциации
						ol
							li
								a(href="http://www.aidainternational.org") AIDA
							li
								a(href="http://free-diving.ru") Федерация фридайвинга России
							li SSI
							li 
								a(href="http://www.ndl-global.com") NDL</a> 
								| Национальная Дайв Лига
							li
								a(href="http://www.apnea-academy.com") Apnea Academy    


					li Сайты
						ol
							li
								a(href="http://homodelphinus.ru") HomoDelphinus 
								| - школа фридайвинга ЮЛИИ ПЕТРИК
							li Федерация фридайвинга России
							li
								a(href="http://www.apneamania.com/code/index.asp") Apnea Mania

					li Школы фридайвинга

						ol
							li 
								a(href="http://molchanova.ru") molchanova.ru 
								| - школа фридайвинга Натальи Молчановой
							li
								a(href="http://www.aqualibrium.ru/") Aqualibrium 
								| - школа фридайвинга
							li
								a(href="http://homodelphinus.ru") HomoDelphinus 
								| - школа фридайвинга ЮЛИИ ПЕТРИК

					li Бассейны для тренировок в Санкт-Петербурге

						ol
							li 
								|"Невская волна" - 
								a(href="http://www.directory.spb.ru/wave/price") цены | 
								a(href="http://vk.com/club23925604") вконтакте
							li ГОБУ ДОД СДЮСШОР №3. Санкт-Петербург, Калининский район, ул. Ушинского 10 - <a href="http://www.sdushor3spb.ru">сайт</a>. Тел. +7(812)998-26-61.</li>
							li Спортивный комплекс, ул. Руставели, 51 - <a href="http://sportmagic.spb.ru">сайт</a>. Тел. +7(812)458-86-52.</li>


					li Разное

						ol
							li
								a(href="http://wiki-linki.ru/Page/40550") Список 
								| федераций и ассоциаций подводного спорта
							li
								a(href="http://ru.wikipedia.org/wiki/%D0%A4%D1%80%D0%B8%D0%B4%D0%B0%D0%B9%D0%B2%D0%B8%D0%BD%D0%B3") Фридайвинг в Википедии.
							li
								a(href="http://divehunter.ru/article/Metodiki_trenirovok/") Методики тренировок



		a(href="gost.html") PADI ГОСТ ИСО

		h4 Взносы в PADI (2011 год):
		ul
			li Assistant Instructor - 40 &pound;
			li IDC Application - 84 &pound;
			li Instructor Examination - 345 &pound;
			li Staff Instructor - 65 &pound;
			li EFR Instructor - 72 &pound;
			li Speciality Instructor - 27 &pound;
			li MSDT Application - 43,50 &pound;

		ul
			li Divemaster - 58,00 &pound;
			li Assistant Instructor - 40,00 &pound;
			li IDC Application - 84,00 &pound;
			li Instructor Exam (Инструкторский экзамен) - 345,00 &pound;
			li Instructor Exam module (пересдача 1 модуля экзамена) - 140,00 &pound;
			li EFR Instructor (Inc. Care For Children Instructor) - 72,00 &pound;
			li Specialty Instructor(Инструктор по специализации) - Метод подачи заявления № 1* -	27,00 &pound;
			li Метод подачи заявления № 2* - 43,50 &pound;
			li Master Scuba Diver Trainer (MSDT) - 43,50 &pound;
			li IDC Staff Instructor - 65,00 &pound;
							