extends ../layouts/html_layout.jade

block title
    title= site_title + " ГОСТы по дайвингу"

block content
    div.row: div.large-12.columns: h1: strong ГОСТы по дайвингу
    div.row: div.large-12.columns


    <a href="http://protect.gost.ru/default.aspx?control=6&month=3&year=2010&search=%D0%B4%D0%B0%D0%B9%D0%B2%D0%B8%D0%BD%D0%B3&showall=-1">Все ГОСТы по дайвингу</a>
    <table border="1" cellspacing="0" cellpadding="0">
    <tbody>
    <tr >
    <td >
    <p >Название стандарта ISO

    </td>
    <td >
    <p>Номер ISO

    </td>
    <td >
    <p>Номер ГОСТа

    </td>
    <td >
    <p>Статус на декабрь 2010


    </td>
    <td >
    <p>Эквивалентный уровень в PADI


    </td>
    </tr>
    <tr >
    <td >
    <p >Diver Level 1 - Supervised Diver (Уровень 1 &ndash; дайвер под наблюдением) </p>

    </td>
    <td >
    <p >ISO 24801-1 </p>

    </td>
    <td >
    <a href="http://protect.gost.ru/document.aspx?control=7&baseC=6&page=0&month=3&year=2010&search=%D0%B4%D0%B0%D0%B9%D0%B2%D0%B8%D0%BD%D0%B3&id=174316">ГОСТ Р ИСО 24801-1</a></td>
    <td >
    <p >Действует </p>

    </td>
    <td >
    <p >PADI Scuba Diver </p>

    </tr>
    <tr >
    <td>
    <p >Diver Level 2 - Autonomous Diver (Уровень 2 &ndash; самостоятельный дайвер) </p>

    </td>
    <td >
    <p >ISO 24801-2 </p>

    </td>
    <td >
    <p >ГОСТ Р ИСО 24801-2 </p>

    </td>
    <td >
    <p >Действует </p>

    </td>
    <td >
    <p >Open Water Diver </p>

    </td>
    </tr>
    <tr>
    <td><p >Diver Level 3 - Dive Leader (Уровень 3) </p></td>
    <td><p>ISO 24801-3</p></td>
    <td><p>ГОСТ Р ИСО 24801-3 </p></td>
    <td><p >Принят </p></td>
    <td><p>Divemaster</p></td>
    </tr>
    <tr >
    <td >
    <p >Instructor Level 1 (Инструктор &ndash; уровень 1.1) </p>

    </td>
    <td >
    <p >ISO 24802-1 </p>

    </td>
    <td >
    <p >ГОСТ Р ИСО 24802-1 </p>

    </td>
    <td >
    <p >Утвержден </p>

    </td>
    <td >
    <p >Assistant Instructor (Ассистент инструктора) </p>

    </td>
    </tr>
    <tr >
    <td >
    <p >Instructor Level 2 (Инструктор &ndash; уровень 1.2) </p>

    </td>
    <td >
    <p >ISO 24802-2 </p>

    </td>
    <td >
    <p >ГОСТ Р ИСО 24802-2 </p>

    </td>
    <td >
    <p >Утвержден </p>

    </td>
    <td >
    <p >Open Water Scuba Instructor (Инструктор) </p>

    </td>
    </tr>
    <tr >
    <td >
    <p >Recreational scuba diving service providers </p>

    <p >(Организации, оказывающие услуги в области любительского дайвинга) </p>

    </td>
    <td >
    <p >ISO 24803 </p>

    </td>
    <td >
    <p >ГОСТ Р ИСО 24803 </p>

    </td>
    <td >
    <p >Действует </p>

    </td>
    <td >
    <p >Dive Center or Resort (Дайв-центр или курорт) </p>

    </td>
    </tr>
    </tbody>
    </table>