extends ../layouts/html_layout.jade

block title
	title= site_title + " Анализ больших массивов данных"

block content
	div.row: div.large-12.columns: h1: strong Анализ больших массивов данных
	div.row: div.large-12.columns
		ol
			li
				strong: a(href="../pandas/pandas_1.html") Работа с Pandas 
			li
				| Персональные страницы, блоги и т.п.
				ol
					li 
						a(href="http://igorsubbotin.blogspot.ru/") Блог 
						| Игоря Субботина с еженедельными обзорами наиболее интересных материалов по анализу данных и машинному обучению
					li: a(href="http://alexanderdyakonov.narod.ru/index.htm") Александр Дьяков
					li: a(href="http://mech.math.msu.su/~efimov/indexe.php") Дмитрий Ефимов

			li Открытые(бесплатные) онлайн курсы
				ol
					li
						a(href="http://shad.yandex.ru/lectures/") Видеолекции 
						| от Школы Анализа Данных (Яндекс)
					li
						a(href="http://alex.smola.org/teaching/cmu2013-10-701/index.html") Курс 
						|Introduction to Machine Learning (smola.org)
					li
						a(href="http://www.cs.cmu.edu/~tom/10701_sp11/") Курс 
						| Machine Learning - Tom Mitchell (cmu.edu)
					li
						a(href="https://r-courseware.wistia.com/projects/kv5skwja3v") Курс 
						| R Programming for Simulation and Monte Carlo Methods
					li
						a(href="https://stepic.org/course/%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%B2-R-129") Курс 
						| Анализ данных в R [Stepic.RUS]
					li
						a(href="https://stepic.org/course/%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B-%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B8-76") Курс 
						| Основы статистики [Stepic.RUS]						

					li
						a(href="https://www.coursera.org/learn/vvedenie-mashinnoe-obuchenie/home/welcome") Курс 
						| Введение в машинное обучение [Coursera.RUS]
					li
						a(href="https://www.coursera.org/learn/machine-learning") Курс 
						| Машинное обучение [Coursera.ENG]
					li
						a(href="https://github.com/esokolov/ml-course-msu") github 
						| Семинары по машинному обучению, ВМК МГУ [RUS]								

			li Статьи
				ol
					li
						a(href="https://habrahabr.ru/post/274171/") Статья 
						| Kaggle и Titanic — еще одно решение задачи с помощью Python
					li
						a(href="http://habrahabr.ru/company/mlclass/blog/247751/") Статья 
						| Введение в машинное обучение с помощью Python и Scikit-Learn
					li
						a(href="http://habrahabr.ru/post/206306/") Пример 
						| решения задачи множественной регрессии с помощью Python											


			li Matplotlib
				ol
					li: a(href="http://pyviy.blogspot.ru/2009/09/matplotlib.html") Пакет matplotlib. Наводим красивости
					li: a(href="http://pyviy.blogspot.ru/2009/06/matplotlib.html") Пакет matplotlib. Установка, проверка, настройка
					li: a(href="http://pyviy.blogspot.ru/2009/08/matplotlib.html") Пакет matplotlib. Строим банальный график
					li: a(href="http://ru.wikiversity.org/wiki/%D0%9F%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B8_%D0%BD%D0%B0%D1%83%D1%87%D0%BD%D1%8B%D0%B5_%D0%B2%D1%8B%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%BD%D0%B0_%D1%8F%D0%B7%D1%8B%D0%BA%D0%B5_Python/%C2%A79") Программирование и научные вычисления на языке Python
					li: a(href="http://jenyay.net/Matplotlib/Matplotlib") Использование библиотеки Matplotlib
					li Анализ данных при помощи Python. 
						a(href="http://playittodeath.ru/%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85-%D0%BF%D1%80%D0%B8-%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%B8-python-%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D0%BA%D0%B8-%D0%B2-pandas/") Графики в pandas и matplotlib.
					li Библиотека 
						a(href="http://web.stanford.edu/~mwaskom/software/seaborn/index.html") Seaborn
					li
						a(href="http://wiki.scipy.org/Cookbook/Matplotlib/") Cookbook
						| [ENG]
			li R
				ol    
					li
						a(href="http://en.wikipedia.org/wiki/R_%28programming_language%29") R wiki page
					li
						a(href="http://r.pohape.ru/#/en/lang_r_language_definition.html") R reference manual
					li
						a(href="http://www.rdocumentation.org/") rdocumentation.org  
					li
						a(href="http://www.r-fiddle.org/#/") R-Fiddle    
					li
						a(href="http://rattle.togaware.com/") Rattle: 
						| A Graphical User Interface for Data Mining using R

					li Обучение
						ol
							li
								a(href="http://tryr.codeschool.com/") Try R 
								| от codeschool.com
							li
								a(href="http://www.cyclismo.org/tutorial/R/") R tutorial 
								|(cyclismo.org)
							li
								a(href="https://www.datacamp.com/") DataCamp
							li Серия курсов на coursera.com от Johns Hopkins University по специальности Data Science
								ol 
									li: a(href="https://www.coursera.org/course/datascitoolbox") The Data Scientist’s Toolbox
									li: a(href="https://www.coursera.org/course/rprog") R Programming
									li: a(href="https://www.coursera.org/course/getdata") Getting and Cleaning Data
									li: a(href="https://www.coursera.org/course/exdata") Exploratory Data Analysis
									li: a(href="https://www.coursera.org/course/repdata") Reproducible Research
									li: a(href="https://www.coursera.org/course/statinference") Statistical Inference


			li Разное
				ol
					li
						a(href="http://wakari.io") Wakari.io 
						| Онлан сервис для рамещения своих ipython notebook [ENG]
					li
						a(href="http://habrahabr.ru/post/121031/") Хабр 
						| Numpy - пособие для новичков [RUS]
					li
						a(href="http://www.datatau.com/") Data Tau 
						| агрегатор новостей [ENG]

			li Соревнования. Решение проблем.
				ol
					li
						a(href="http://www.kaggle.com/") Kaggle
					li
						a(href="http://www.innocentive.com/") Innocentive
					li
						a(href="http://www.drivendata.org") DrivenData.org
					li
						a(href="http://www.kdnuggets.com/competitions/index.html") kdnuggets.com
					li
						a(href="https://dataquest.io/") DataQuest    
    
			li Инструментарий
				ol
					li Программы
						ol
							li WEKA
								ol
									li
										a(href="http://www.ibm.com/developerworks/ru/views/opensource/libraryview.jsp?search_by=weka") Статьи на сайте IBM
									li
										a(href="https://www.youtube.com/playlist?list=PL2B56C29B55DBFB1C") 11 видео для начинающих
									li
										a(href="http://en.wikipedia.org/wiki/Weka_%28machine_learning%29") Статья на wiki
                    
					