extends ../layouts/code_layout.jade

block title
	title= site_title + " Interactive Brokers API 'Hello World'"

block content
	h2.font-effect-shadow-multiple  Interactive Brokers API "Hello World"
	article.grid-container
		h3 Общие вопросы
		p Полный текст примера: 
			a(href="code/hello_world_tws.py") hello_world_tws.py
		pre
			code.python3
				include code/hello_world_tws.py
				
		p При запуске данной программы вы должны получить примерно такой вывод:
		img(src = "images/hello_world_image_1.JPG")
		p В данном случае мы корректно присоединились к TWS и получили детальные данные по контракту, как и предполагалось.
		p Можно переходить к следующему шагу.
		h3 Ссылки по теме
		//-div tradersacademy.online 
			a(href = "https://tradersacademy.online/trading-topics/trader-workstation-tws/essential-components-of-tws-api-programs") Essential components of TWS API programs
