extends ../layouts/code_layout.jade

block title
	title= site_title + " Получение исторических значений свечей для FOREX"

block content
	h2.text-center Получение исторических значений свечей для FOREX
	article.grid-container
		h3 Общие вопросы
		div В этом примере мы покажем, как запросить отложенные данные по акции, если у вас еще нет открытой учетной записи с разрешениями на рыночные данные. Чтобы переключиться в режим отложенных данных для функции reqMktData, нам сначала нужно вызвать reqMarketDataType. Мы можем использовать либо параметр 3, что указывает на отложенные данные, либо 4, что указывает на отложенные замороженные данные. Отложенные замороженные данные означают, что после закрытия рынка отображаемые значения спроса/предложения будут относиться к последнему доступному значению перед закрытием.

		div После переключения на тип данных 4 мы можем использовать функцию reqMktData для запроса отложенных данных для определенного объекта контракта AAPL. В дополнение к объекту контракта и идентификатору тикера, который используется для уникальной идентификации конкретного запроса reqMktData, другими параметрами являются общий тик-лист, используемый для запроса других типов данных для инструмента, и логические значения моментальных снимков, используемые для запроса моментальных снимков, а не потоковые данные.
		h4 Исторические данные
		div Исторические данные свечей, соответствующие данным, показанным на графиках TWS, можно получить из API с помощью функции reqHistoricalData. Для этой функции требуется текущий уровень 1 (потоковые данные) для инструмента.
		div Справочное руководство по API: 
			a(href = "http://interactivebrokers.github.io/tws-api/historical_data.html") http://interactivebrokers.github.io/tws-api/historical_data.html
		div Эти данные соответствуют данным в диаграммах TWS и будут точно совпадать, если диаграмма создается с теми же параметрами. Объем исторических данных, доступных в IBKR, будет зависеть от типа инструмента — для обыкновенных акций:
			ol
				li Для обыкновенных акций обычно доступны данные как минимум за 5-10 лет при больших размерах столбцов.
				li Доступны данные за 2 года по истекшим фьючерсным контрактам
				li Данные недоступны для опционов с истекшим сроком действия или опционов на фьючерсы.
		div Справочное руководство по API: 
			a(href = "http://interactivebrokers.github.io/tws-api/historical_limitations.html") http://interactivebrokers.github.io/tws-api/historical_limitations.html


		div Некоторые другие важные ограничения исторических данных:
			ol 
				li Запросы на размер бара от 30 секунд и меньше имеют ограничение: за 10 минут можно сделать не более 60 запросов.
				li Запросы на большие объемы данных с более длинными размерами столбцов будут выполняться так, чтобы данные возвращались дольше.

		h4 reqHistoricalData
		div Чтобы запросить исторические данные с помощью функции reqHistoricalData, другие параметры в запросе — это tickerId (который однозначно определяет запрос), размер бара свечи, продолжительность, тип сделки и логическое значение keepUpToDate, которое указывает, должны ли данные продолжать передаваться в режиме реального времени. после возврата исторических данных.

		| <br>

		pre
			code.python3
				include code/historical_forex_data_tws.py
		| <br>
		div Обычная практика заключается в хранении возвращенных данных во фреймах данных Pandas. 
			a(href = "https://pandas.pydata.org/") https://pandas.pydata.org/ 

		div Важно отметить, как свечи из исторического потока данных IB строятся для торговых данных. Некоторые типы сделок, обычно происходящие вне NBBO, не включаются в исторические данные: сделки по средней цене, нечетные лоты и сделки с деривативами. Обычно включаются только сделки на NBBO. По этой причине объем будет отличаться от других источников данных, которые включают эти типы сделок.
		| Можно переходить к следующему шагу. 
		strong: a(href="interactive_brokers_orders_tws.html") Выставление ордеров.