extends ../layouts/code_layout.jade

block title
	title= site_title + " Interactive Brokers API получение рыночных данных"

block content
	h2.font-effect-shadow-multiple Interactive Brokers API получение рыночных данных
	article.grid-container
		h3 Общие вопросы
		div Одной из наиболее распространенных задач при использовании API является запрос рыночных данных в реальном времени. В этом уроке мы обсудим различные способы запроса данных из API и рассмотрим простейший код программы на Python, который может запрашивать/получать данные в реальном времени.
		div Для справки: соответствующие разделы справочного руководства по API можно найти по адресу: 
			a(href="http://interactivebrokers.github.io/tws-api/market_data.html") http://interactivebrokers.github.io/tws-api/market_data.html
		div Существует несколько функций API, обеспечивающих потоковое обновление рыночных данных:
			| <br><b>reqMktData</b>: Предоставляет обновления несколько раз в секунду.
			| <br><b>reqRealTimeBars</b>: предоставляет бары OHLC для каждого 5-секундного периода.
			| <br><b>reqHistoricalData</b> (когда для параметра «keepUpToDate» установлено значение «Истина»): Предоставляет бары и обновления незавершенных баров
			| <br><b>reqTickByTickData</b>: Предоставляет потоковые тиковые данные для каждой сделки или изменения котировок.
		div Для каждой функции сначала должен быть определен объект контракта, который однозначно определяет отдельный финансовый инструмент. Примеры со множественным определением контрактов можно найти в справочном руководстве по API по адресу:
			a(href = "http://interactivebrokers.github.io/tws-api/contracts.html") http://interactivebrokers.github.io/tws-api/contracts.html
		| <br>
		h4 reqMktData
		div Наиболее часто используемой функцией для потоковой передачи обновлений рыночных данных является функция reqMktData. Она имеет наименьшее количество ограничений на быстрое выполнение запросов для многих тикеров и имеет наибольшее количество вариантов типов возвращаемых данных. Каждый сеанс TWS может получать не менее 100 потоковых котировок для тикеров в списках наблюдения TWS и API.
		div Данные, возвращенные из reqMktData, будут соответствовать соответствующему полю тикера, который будет отображаться в списке наблюдения TWS.
		div При использовании функции reqMktData доступно четыре «режима рыночных данных»:
			ol
				li Прямая трансляция (по умолчанию)
				li Замороженный (обычно используется для цен покупки/продажи после закрытия рынка)
				li С задержкой (если имя пользователя не имеет подписки на рыночные данные в реальном времени)
				li Замедленная заморозка (сочетание типов 2 и 3)
		div Дополнительная информация в справочном руководстве по API по адресу: 
			a(href = "http://interactivebrokers.github.io/tws-api/market_data_type.html") http://interactivebrokers.github.io/tws-api/market_data_type.html

		div Чтобы получать потоковые данные в клиенте API, программа должна иметь основные части, описанные в предыдущем докладе, а именно класс, производный от EClient и EWrapper, переопределенные обратные вызовы EWrapper, вызов connect() и цикл run().
		div Данные в реальном времени, будь то из API или с торговой платформы IBKR, требуют, чтобы подписка на рыночные данные была включена для инструмента в разделе «Управление счетом». Некоторые данные форекс, облигаций и CFD бесплатны и включены по умолчанию, но другие подписки имеют связанные сборы, и поэтому для добавления подписок требуется финансируемый реальный счет. Чтобы получать исторические данные о свечах для инструмента из API, необходимо сначала иметь разрешения на оперативные данные.

		div Первым шагом является создание объекта Contract, который однозначно идентифицирует финансовый инструмент. Это было показано в предыдущем 
			a(href="interactive_brokers_hello_world_tws.html") примере, 
			| в котором демонстрировалась функция reqContractDetails.
		| <br>
		h4 Contract Class
		div Класс Contract API можно использовать для определения любого торгуемого продукта IBKR, а также таких инструментов, как индексы. Затем этот же объект контракта можно использовать для запроса исторических данных о свечах или для размещения ордера. Существует несколько способов определения любого финансового инструмента в объекте Contract с использованием различных комбинаций параметров. Комбинацию или спред также можно определить с помощью одного объекта контракта API. Примеры для всех типов инструментов есть в документации API по адресу:
			a(href = "http://interactivebrokers.github.io/tws-api/contracts.html") http://interactivebrokers.github.io/tws-api/contracts.html
		div Отличный способ найти поля для определенного инструмента, который уже находится в списке наблюдения TWS, — щелкнуть инструмент правой кнопкой мыши и выбрать «Информация о финансовом инструменте» -> «Описание» (Financial Instrument Info -> Description). Поля, отображаемые в окне описания финансового инструмента TWS, аналогичны полям, используемым в API.
		| <br>
		pre
			code.python3
				include code/market_data_tws.py
				
		| <br>
		| Можно переходить к следующему шагу. 
		strong: a(href="interactive_brokers_history_forex_tws.html") Получение исторических значений свечей для FOREX.
		
		h3 Ссылки по теме
		div tradersacademy.online 
			a(href = "https://tradersacademy.online/trading-topics/trader-workstation-tws/receiving-market-data-and-historical-candlesticks") Receiving Market Data and Historical Candlesticks
