extends ../layouts/code_layout.jade

block title
	title= site_title + " Опционная доска"

block content
	h2.text-center Опционная доска
	article.grid-container
		h3 Общие вопросы

		div Цепочки опционов или доски опционов или, в более общем смысле, список деривативов на базовый индекс, акции или фьючерсы можно запросить из API. Это можно сделать с помощью функции <b>reqContractDetails</b> или функции <b>reqSecDefOptParams</b>. Каждый метод имеет преимущества в различных ситуациях.
		
		h4 reqContractDetails

		div Функция <b>reqContractDetails</b> вызывается с объектом класса Contract в качестве аргумента, и в ответ возвращается полная информация о сопоставлении контрактов в базе данных Interactive Brokers. Это единственная функция в API, которую можно использовать с не полностью определенными объектами контракта. Из одного запроса <b>reqContractDetails</b> можно получить:
		ol
			li Если имеется один соответствующий контракт, полная информация об этом контракте (включая такую информацию, как основная биржа, название инструмента, действительные типы ордеров и часы торговли) будет возвращена в функцию обратного вызова <b>contractDetails</b> в EWrapper.
			li Если есть несколько совпадающих контрактов, например. опционов с одним и тем же базовым символом и датой истечения, но разными ценами исполнения, будут отдельные обратные вызовы к contractDetails с подробностями для каждого отдельного опционного контракта.
			li Если соответствующих контрактов нет, будет возвращена ошибка «200: No security definition has been found».
		div Важно отметить, что некоторые базовые инструменты могут иметь тысячи деривативов. В этом случае было бы невозможно запросить сразу полную цепочку с подробным описанием всех деривативов на андерлаинг. Вместо этого необходимо максимально сузить запрошенную цепочку опционов, например, определив дату истечения срока действия и возвращая только контракты, срок действия которых истекает в эту конкретную дату или месяц. Запросы цепочек опционов с использованием <b>reqContractDetails</b>, которые используют объект Contract без таких полей, как срок действия, забастовка или право, будут регулироваться, так что для возврата результатов потребуется больше времени, чем если бы все поля были определены. По этой причине также лучше создать локальный кеш с возвращаемыми сведениями о контракте, а не повторять одни и те же запросы. Ниже приведен пример <b>reqContractDetails</b> для запроса цепочки опций на предмет опций AAPL, срок действия которых истекает в июне 2020 года.
		| <br>
		pre
			code.python3
				include code/option_chain_example_1_tws.py
		| <br>
		div Чтобы запросить список сроков истечения и страйков для деривативов по базовому инструменту, вместо этого можно использовать функцию <b>reqSecDefOptParams</b>.
		
		h4 reqSecDefOptParams
		div Когда функция <b>reqSecDefOptParams</b> вызывается для базового инструмента, возвращается список всех возможных страйков и список всех возможных экспираций. Затем <b>reqContractDetails</b> можно использовать для запроса конкретных индивидуальных комбинаций исполнения и истечения срока действия. Это позволяет избежать любого возможного регулирования, поскольку <b>reqContractDetails</b> будет использоваться только с объектами Contract, которые определяют не более одного уникального контракта.
		| <br>
		pre
			code.python3
				include code/option_chain_example_2_tws.py
		| <br>
		div В приведенном выше примере мы вызываем <b>reqSecDefOptParams</b>, используя символ базового, базового типа безопасности и идентификатора контракта (или conId) базового. ConId можно найти, щелкнув правой кнопкой мыши список наблюдения TWS и выбрав «Информация о финансовом инструменте» -> «Подробности» (Financial Instrument Info -> Details), или воспользовавшись функцией <b>reqContractDetails</b>, как в приведенном выше примере с биржевым контрактом.