extends ../layouts/html_layout.jade
block title
	title= site_title + " English with Peter."

block content
	article.grid-container
		h2 Канал EnglishWithPeter
		ul
			li
				| фраза #13 
				| 
				A(href="https://www.youtube.com/watch?v=jG1MTXdqzR0") <strong>"first thing in the morning"</strong> 
				| - c утра пораньше; рано утром; по утру; первым делом с утра.
			li фраза #12 "<strong><A href="https://www.youtube.com/watch?v=cxp4dvt9SpU">i didn't see that coming</A></strong>" - вот так поворот; нежданчик.
			li фраза #11 "<strong><A href="https://www.youtube.com/watch?v=u31HMC2ETJk">when it comes to</A></strong>" - когда речь заходит о.
			li фраза #10 "<strong><A href="https://www.youtube.com/watch?v=67jdNIQC_FY">make it up to you</A></strong>" - загладить вину.
			li фраза #09 "<strong><A href="https://www.youtube.com/watch?v=wY74RkvYcl4">out of the blue</A></strong>" - как снег на голову, как гром среди ясного неба, ни с того ни с его.
			li фраза #08 "<strong><A href="https://www.youtube.com/watch?v=G1AUta5upBk">rumour has it</A></strong>" - ходят слухи.
			li фраза #07 "<strong><A href="https://www.youtube.com/watch?v=hXa6TcitOWo">once and for all</A></strong>" - раз и навсегда.
			li фраза #06 "<strong><A href="https://www.youtube.com/watch?v=qqHFJuhkcIM">i've been meaning to tell you</A></strong>" - все хотел сказать тебе.
			li фраза #05 "<strong><A href="https://www.youtube.com/watch?v=gr_0QDPmGds">pull yourself together</A></strong>" - возьми себя в руки.
			li фраза #04 "<strong><A href="https://www.youtube.com/watch?v=gDXK_jmywtA">the ship has sailed</A></strong>" - поезд ушел. 
			li фраза #03 "<strong><A href="https://www.youtube.com/watch?v=EpI0HDz4fqQ">you know the drill</A></strong>" - ты знаешь правила(процедуру/что делать).
			li фраза #02 "<strong><A href="https://www.youtube.com/watch?v=jYCzqvXMLaA">if it wasn't for me/you</A></strong>" - если бы не я/ты.
			li фраза #01 "<strong><A href="https://www.youtube.com/watch?v=LuiZZh394w8">to call the shots</A></strong>" - .
			li фраза #49 "<strong><A href="https://www.youtube.com/watch?v=3u9X6oAW_s0">hypocrite</A></strong>" - .
			li фраза #48 "<strong><A href="https://www.youtube.com/watch?v=zL5BY5yoQwk">good call</A></strong>" - .
			li фраза #47 "<strong><A href="https://www.youtube.com/watch?v=WbKcWeBeFzw">hopes up</A></strong>" - .
			li фраза #46 "<strong><A href="https://www.youtube.com/watch?v=ZWspZMIBk1s">odss</A></strong>" - .
			li фраза #45 "<strong><A href="https://www.youtube.com/watch?v=nCht8J5cnxQ">cold feet</A></strong>" - .
			li фраза #44 "<strong><A href="https://www.youtube.com/watch?v=SjOT_f0ISRk">get own way</A></strong>" - .
			li фраза #43 "<strong><A href="https://www.youtube.com/watch?v=Jk_A6QKlsv0">sick of</A></strong>" - .
			li фраза #42 "<strong><A href="https://www.youtube.com/watch?v=T-ott_hGZLE">swing by</A></strong>" - .
			li фраза #41 "<strong><A href="https://www.youtube.com/watch?v=hDhCWvZP264">take over</A></strong>" - .
			li фраза #40 "<strong><A href="https://www.youtube.com/watch?v=YQyw7kl6qPM">mess up</A></strong>" - .
			li фраза #39 "<strong><A href="https://www.youtube.com/watch?v=wPIhjchluZM">dread</A></strong>" - .
			li фраза #38 "<strong><A href="https://www.youtube.com/watch?v=8YOyEm8lg5g">wind up</A></strong>" - .
			li фраза #37 "<strong><A href="https://www.youtube.com/watch?v=_r7OxrfKcxI">brink</A></strong>" - .
			li фраза #36 "<strong><A href="https://www.youtube.com/watch?v=ef9CN7CryYk">piss off</A></strong>" - .
			li фраза #35 "<strong><A href="https://www.youtube.com/watch?v=vldo8bcgm8Q">go for</A></strong>" - .
			li фраза #34 "<strong><A href="https://www.youtube.com/watch?v=_kR3if_W894">get by</A></strong>" - .
			li фраза #33 "<strong><A href="https://www.youtube.com/watch?v=QGxc5_yOz9g">get over</A></strong>" - .
			li фраза #32 "<strong><A href="https://www.youtube.com/watch?v=RrTFtJg_0yo">find out</A></strong>" - .
			li фраза #31 "<strong><A href="https://www.youtube.com/watch?v=mv1lTPp2_zU">add up</A></strong>" - .
			li фраза #30 "<strong><A href="https://www.youtube.com/watch?v=BW0qnKDy1I0">bring up</A></strong>" - .
			li фраза #29 "<strong><A href="https://www.youtube.com/watch?v=yGDb_wSbDAg">thorough</A></strong>" - .
			li фраза #28 "<strong><A href="https://www.youtube.com/watch?v=4HwQpYJtp8I">flatter</A></strong>" - .
			li фраза #27 "<strong><A href="https://www.youtube.com/watch?v=V8SzCHAed0Q">embrace</A></strong>" - .
			li фраза #26 "<strong><A href="https://www.youtube.com/watch?v=MXgcERIRyZM&t=1s">pep</A></strong>" - .
			li фраза #25 "<strong><A href="https://www.youtube.com/watch?v=szq3Q_J__JA">snag</A></strong>" - .
			li фраза #24 "<strong><A href="https://www.youtube.com/watch?v=l0G49WKOOUc">ludicrous</A></strong>" - нелепо, нелепый, смехотворный.
			li фраза #23 "<strong><A href="https://www.youtube.com/watch?v=Kwmm8N53zg4">sugarcoat</A></strong>" - подбирать слова помягче.
			li фраза #22 "<strong><A href="https://www.youtube.com/watch?v=XZEASfNK4Oc">split hairs</A></strong>" - находить в чем то несущественную разницу.
			li фраза #21 "<strong><A href="https://www.youtube.com/watch?v=bs6qzxAZj8A">so be it</A></strong>" - так тому и быть.
			li фраза #20 "<strong><A href="https://www.youtube.com/watch?v=Mroj0LHmGXY">skimp</A></strong>" - экономить, скупиться.
			li фраза #19 "<strong><A href="https://www.youtube.com/watch?v=_DySWIgo4nU">shame on you</A></strong>" - тебе должно быть стыдно.
			li фраза #18 "<strong><A href="https://www.youtube.com/watch?v=tVozfZhr5PA">it can't help it</A></strong>" - ничего с этим не поделаешь.
			li фраза #17 "<strong><A href="https://www.youtube.com/watch?v=S2zWICIyaxk">my bad</A></strong>" - .
			li фраза #16 "<strong><A href="https://www.youtube.com/watch?v=UueaPKjllac">i'm good</A></strong>" - если что-то предлагают и ты отказываешься.
			li фраза #15 "<strong><A href="https://www.youtube.com/watch?v=S-HI91gntZc">hideous</A></strong>" - .
			li фраза #14 "<strong><A href="https://www.youtube.com/watch?v=hDE54NTrTV4">jeopardize</A></strong>" .
			li фраза #13 "<strong><A href="https://www.youtube.com/watch?v=cO9BvQScPx8">literally</A></strong>" - буквально
			li фраза #12 "<strong><A href="https://www.youtube.com/watch?v=TbrN_HVUT3w">apparently</A></strong>" - очевидно, вероятно, по всей видимости. <A href="https://www.etymonline.com/word/apparently">apparently</A>
			li фраза #11 "<strong><A href="https://www.youtube.com/watch?v=AbUTh1k8Lf8">ultimate/ultimately</A></strong>" - на пределе, предельный, максимальный.
			li фраза #10 "<strong><A href="https://www.youtube.com/watch?v=nqkxVms02O4">evantually</A></strong>" - в конце-концов, рано или поздно, в итоге.
			li фраза #9 "<strong><A href="https://www.youtube.com/watch?v=NAzOdOc6NnY">errands</A></strong>" - кое-какие дела. <A href="https://www.etymonline.com/word/errands">errands</A> 
			li фраза #8 "<strong><A href="https://www.youtube.com/watch?v=aH5Q24tbeMc">binge</A></strong>" - злоупотребление, binge drinking - пьянка.
			li фраза #7 "<strong><A href="https://www.youtube.com/watch?v=jeePPasjzho">hilarious</A></strong>" - смешно, уморительно.
			li фраза #6 "<strong><A href="https://www.youtube.com/watch?v=27ZjrOSXFKA">dare</A></strong>" - сметь, рискнуть, дерзнуть.
			li фраза #5 "<strong><A href="https://www.youtube.com/watch?v=T2Qe6thTn6k">appreciate</A></strong>" - ценить, благодарить.
			li фраза #4 "<strong><A href="https://www.youtube.com/watch?v=504Ky2gxfUg">greepy</A></strong>" - жутковатый, страшный, вызывающий мурашки.
			li фраза #3 "<strong><A href="https://www.youtube.com/watch?v=k-BnHW7nK18">gross</A></strong>" - отвратительно, неприятно.
			li фраза #2 "<strong><A href="https://www.youtube.com/watch?v=YVDYg-8oxIo">bummer</A></strong>" - какая жалость.
			li фраза #1 "<strong><A href="https://www.youtube.com/watch?v=Te3mbBnduxc">cheesy</A></strong>" - сырный, безпонтовый, простой, низкопробный, дешевый.

			<li><A HREF=""></A>
			<li><A HREF=""></A>
			<li><A HREF=""></A>
			<li><A HREF=""></A>