extends ../layouts/html_layout.jade

block title
	title= site_title + " Английский язык"

block content
	h2.font-effect-shadow-multiple Английский язык
	article.grid-container
		h3 Общие вопросы
		ul
			+mli("ru", "my", "englishwithpeter.html", "", "English with Peter.", "")
			+mli("ru", "my", "pronunciation.html", "", "Произношение", "")
			+mli("ru", "my", "speech.html", "", "Диалоги. Учи диалоги с роботом", "")
			+mli("ru", "my", "dialog_date_for_the_theatre.html", "", "Диалог. Поход в театр", "")
			+mli("ru", "my", "dialog_holiday_plans.html", "", "Диалог. Планы на праздники", "")
			+mli("ru", "my", "dialogs_list.html", "", "Диалоги", "")
			+mli("ru", "my", "texts_list.html", "", "Тексты", "")
			+mli("ru", "my", "transcription.html", "", "Знаки международной фонетической транскрипции", "")
			
		h3 Сайты
		ul 
			+mli("ru", "out", "https://tuteng.ru/", "tuteng.ru", "Грамматика. Хороший сайт", "")
			+mli("ru", "out", "https://grammarway.com/ru", "grammarway", "Он-лайн учебник по грамматике английского языка. Четкий. Красивый.", "")
			+mli("en", "out", "https://www.gutenberg.org", "gutenberg.org", "Gutenberg project - бесплатная библиотека книг на разных языках. Есть аудио!", "")
			+mli("ru", "out", "https://www.weblitera.com", "WebLitera", "библиотека параллельного чтения", "")
			+mli("en", "out", "http://learnenglish.britishcouncil.org", "British Council", "Бесплатные уроки", "")
			+mli("en", "out", "https://www.thefreedictionary.com/", "TheFreeDictionary", "Тесты. Теория", "")
			+mli("en", "out", "https://eslyes.com/", "eslyes.com", "Простые озвученные тексты с упражнениями, кросвордами и т.п. Часть переведена на русский язык.", "")
			+mli("en", "out", "https://elllo.org/", "elllo.org", "Тысячи коротких аудио и видео с текстом и заданиями по тексту.", "")
			+mli("ru", "out", "https://wooordhunt.ru/", "wooordhunt", "Упражнения на запоминания слов. Разница между американским и британским произношением.", "")

		h3 Обучение онлайн
		ul 
			li
				a(href="https://www.duolingo.com/") duolingo.com 
				| Уроки по английскому языку
			li <A HREF="https://ok-tests.ru/blue-murphy/">ok-tests.ru</A> English Grammar in Use (Синий Murphy) - с теорией на русском и тестами.
			li <A HREF="english_Peppa_Pig.html">Peppa Pig</A>
			li <A HREF="http://www.roadtoielts.com/">roadtoielts</A> - сайт для подготовки к ielts. Вроде, есть бесплатный раздел.
			li <A HREF="https://www.examenglish.com/IELTS/index.html">examenglish.com</A> - раздел для подготовки к ielts. Есть бесплатные онлайн тесты.
			li <A HREF="https://www.ielts-exam.net/practice_tests/35/IELTS_Listening_Section_1/286/">ielts-exam.net</A> - пример теста. На сайте есть бесплатные материалы для скачивания.
			li <A HREF="https://www.celpip.ca">CELPIP</A> - тест на знание английского для Канады.
			li <A HREF="http://www.ielts.su">www.ielts.su</A> - подготовка и сдача ielts в Москве в оффлайне.
			li <A HREF="http://www.classes.ru/english-grammar-textbooks.htm">classes.ru</A> - Учебники по грамматике английского языка.
			li <A HREF="http://study-english.info">study-english.info</A> - сайт для изучающих английский язык.
			li <A HREF="https://app.tracktest.eu/en/index.php">tracktest.eu</A> - тестирование онлайн на знание английского языка по классификации European Union CEFR.
			li <A HREF="https://blog.oxforddictionaries.com">Weekly word watch</A>
			li <A HREF="https://www.etymonline.com/">Online etymology dictionary</A>
			li <A HREF="https://skell.sketchengine.co.uk">SkELL</A>
			li <A HREF="https://www.ef.com/wwen/english-resources/english-grammar/">EF.com English Grammar</A> - английская граматика и не только.
			li <A HREF="http://www.wordwizard.com/index.php/a-few-useful-links/">Wordwizard links</A> - полезные ссылки.
			li <a href="https://quizlet.com/ru">Карточки</a> + игры, схемы.
			li <a href="https://www.phrases.org.uk">phrases.org.uk</a>
			li <a href="https://www.native-english.ru">native-english.ru</a> - грамматика, тесты, слова, игры
			li <a href="http://englishnotes.ru">englishnotes.ru</a>
			li <a href="https://7esl.com/">7esl</a> - словарь в картинках, синонимы, видео-словарь.
			li <a href="https://miripravo.ru">Юридический английский</a> Тексты на двух языках.
			li Словообразование
				ul
					<li><a href="https://grammarway.com/ru/ed">Окончание -ed</a></li>
					<li><a href="https://grammarway.com/ru/ing">Окончание -ing</a></li>
					<li><a href="https://grammarway.com/ru/es">Окончание -s/-es</a></li>

			li <a href="http://study-english.info/irregular-extended.php">Неправильные глаголы</a>. Расширенная таблица неправильных глаголов с транскрипцией и переводом.
			li <a href="https://www.learning-english-online.net/grammar/tenses-and-verb-forms/irregular-verbs/test-all/">Упражнения</a> на неправильные глаголы
			li <a href="http://www.dictationsonline.com">Диктанты</a>
			li <a href="https://www.rong-chang.com/eslread/eslread/dict/contents.htm">Диктанты</a>
			li <a href="https://www.englishclub.com/listening/dictation.htm">Диктанты</a>
			li <a href="https://www.learnenglish.de/dictationpage.html">Диктанты/a>
			li <a href="https://breakingnewsenglish.com/dictation.html">Диктанты</a>
			li <a href="https://www.lexico.com/en">Lexico.com| Словарь</a>, тезаурус, грамматика и т.д. от создателей Oxford dictionary.
			
			li <a href="https://www.english-online.org.uk/index.html">Обучение</a> игры, кросворды.
			li <a href="https://www.eslgamesplus.com">Обучение английскому как второму детей.</a>
			li <a href="https://beta.freerice.com/game">Игра</a> Отвечай на вопросы. За каждый правильный ответ 10 грамм риса нуждающимся.
			li <a href="https://www.myenglishteacher.eu/blog/">myenglishteacher.eu</a> абревиатуры, слова, инфографика, видео, тесты.
			li <a href=""></a>
			li <a href=""></a>
			
			li <A HREF="">Wordology (Chrome)</A>
			li <A HREF="">Wordology (Firefox)</A>
			li <A HREF="https://books.google.com/ngrams">Google Ngrams</A>
			li <A HREF="https://www.clozemaster.com/">Clozemaster</A>
			li <A HREF="https://www.google.com/docs/about/">Google Docs</A>
		<h3 class="font-effect-shadow-multiple">Youtube каналы</h3>
		<ol>
			+mli("en", "out", "https://www.youtube.com/watch?v=_DmYA7OzyRE", "Peppa Pig", " 1 сезон, 1 серия.", "youtube")
			+mli("en", "out", "https://www.youtube.com/@learntospeakenglishofficial/", "learntospeakenglish", "American English.", "youtube")
			+mli("en", "out", "https://www.youtube.com/@LearnEnglishwithJessica", "LearnEnglishwithJessica", "Мультики с диалогами и английскими субтитрами.", "youtube")
			
		</ol>
		<h3 class="font-effect-shadow-multiple">Youtube ролики</h3>
		<ol>
			<li><A HREF=""></A></li>
			<li><A HREF=""></A></li>
		</ol>
		<h3 class="font-effect-shadow-multiple">Статьи. Заметки.</h3>
		ol
			li <A HREF="https://anglo-link.com/level/">Таблица сравнения уровней по разным тестам</A>
			li <A HREF="http://englishnotes.ru/anglijskie-sokrashheniya-sms-chat/">Английские сокращения в СМС и чатах</A>

		<h3 class="font-effect-shadow-multiple">Курсы на сайте Alison.com</h3>
		ol
			li <a href="https://alison.com/course/beginner-level-english-course-present-continuous">Beginner Level English Course - Present Continuous</a>
			li <a href="https://alison.com/course/beginner-level-english-verbs-and-phrases">Beginner Level English - Verbs and Phrases</a>
			li <a href="https://alison.com/course/beginner-level-english-grammar-for-verbs-questions-and-replies">Beginner Level English - Grammar for Verbs, Questions and Replies</a>
			li <a href="https://alison.com/course/beginner-level-english-make-a-request">Beginner Level English - Make a Request</a>
			li <a href="https://alison.com/course/english-course-conversations-in-the-present-elementary-level">English Course - Conversations in the Present (Elementary level)</a>

		<h3 class="font-effect-shadow-multiple">Игры и приложения для телефона</h3>
		ol
			li <a href="http://www.cambridgeenglish.org/learning-english/games-social/quiz-your-english/">Quiz your English app</a> cambridgeenglish.org
			li <a href="http://www.cambridgeenglish.org/learning-english/games-social/cambridge-english-fc/">Play Cambridge English FC</a> cambridgeenglish.org
			li <A HREF="https://research.google.com/semantris/">Semantris</A>
			li <A HREF="https://www.gweekspeech.com">gweekspeech</A>
		span.speech Hello!
		script(src="speech.js" defer)