extends ../layouts/html_layout.jade

block title
	title= site_title + " Английский язык"

block content
	h2.font-effect-shadow-multiple Английский язык. Фразы.
	article.grid-container
		ul
			li That's what I wanted to hear.
			li They have a really unique style.
			li No, thank you. I have some stuff to do.
			li I can't agree with you more. Я не могу не согласиться с вами.
			li There is no doubt about it. В этом нет никаких сомнений.
			li What should I do now?
			li Let me see.
			li No, thats all.
			li How match is the total?
			li I envy you, man. Я завидую тебе, парень.
			li Great seeing you. Рад был повидаться.
			li Anybody siting here?
