extends ../layouts/html_layout.jade

block title
	title= site_title + " Английский язык"

block content
	h2.font-effect-shadow-multiple Английский язык. Сводная таблица времен глагола.
	article.grid-container
		table.table-test 
			thead

			tbody
				tr
					td(rowspan=13) Active<br> Voice
				tr
					th(colspan=4) The simple(indefinite) tense
				tr
					td Present simple
					td Past simple
					td Future simple
					td Future in the Past simple
				tr
					td V<sub>1</sub>(-s)
					td V<sub>2</sub>(-ed)
					td will + V<sub>1</sub>
					td would + V<sub>1</sub>
				tr
					th(colspan=4) The continuous(progressive) tense
				tr
					td Present 
					td Past 
					td Future 
					td Future in the Past 
				tr
					td am/is/are + V(-ing)
					td was/were + V(-ing)
					td will + be + V(-ing)
					td would + be + V(-ing)
				tr
					th(colspan=4) The perfect tense
				tr
					td Present 
					td Past 
					td Future 
					td Future in the Past 
				tr
					td have/has + V<sub>3</sub>
					td had + V<sub>3</sub>
					td will have + V<sub>3</sub>
					td would + have + V<sub>3</sub>
				tr
					th(colspan=4) The perfect continuous tense
				tr
					td Present 
					td Past 
					td Future 
					td Future in the Past 
				tr
					td have/has + been + V(-ing)
					td had + been + V(-ing)
					td will have + been + V(-ing)
					td would have + been + V(-ing)
		hr
		table.table-test 
			tbody
				tr
					td(rowspan=11) Passive<br> Voice
				tr
					th(colspan=4) The simple(indefinite) tense
				tr
					td Present simple
					td Past simple
					td Future simple
					td Future in the Past simple
				tr
					th(colspan=4) The continuous(progressive) tense
				tr
					td Present 
					td Past 
					td Future 
					td Future in the Past
				tr
					td 
					td 
					td not used
					td not used
				tr
					th(colspan=4) The perfect tense
				tr
					td Present 
					td Past 
					td Future 
					td Future in the Past 
				tr
					th(colspan=4) The perfect continuous tense
				tr
					td Present 
					td Past 
					td Future 
					td Future in the Past 
				tr
					td not used 
					td not used
					td not used
					td not used 
		hr
		ul
			li V<sub>1</sub> - Infinitive
			li V<sub>2</sub> - Past Simple
			li V<sub>3</sub> - Past Participle (причастие прошедшего времени [сделавший])