extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h2 Salud. Здоровье.
		h3 Диалог 1
	div.row
		div.large-6.columns

		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_1.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 2
	div.row
		div.large-6.columns

		div.large-6.columns

	div.row: div.large-12.columns
		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_2.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 3
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_3.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 4
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_4.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 5
	div.row
		div.large-6.columns

		div.large-6.columns

	div.row: div.large-12.columns
		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_5.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 6
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_6.mp3" type="audio/mpeg">
		</audio>
	div.row: div.large-12.columns
		h3 Диалог 7
	div.row
		div.large-6.columns


		div.large-6.columns

		<audio controls="" autoplay="" name="media">
		<source src="../audio/dialog_salud_7.mp3" type="audio/mpeg">
		</audio>
		
	div.row: div.large-12.columns
		h3 Диалог 2
	div.row
		div.large-6.columns

		div.large-6.columns

