extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык 
		span.h4.subheader диалоги
	article.grid-container
		h2 Alojamiento. Гостиница. Хостел.
		h3 Диалог 
			span.h3.subheader: strong 1
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Estoy buscando un hotel céntrico. ¿Conoce alguno?
				div — Sí, justo al doblar la esquina hay un hotel que está bastante bien de precio y moderno.
				div — ¿Sabe si es bueno?
				div — No lo sé, pero veo que entra y sale gente constantemente porque vivo al lado y lo veo. Veo que vienen muchas familias con hijos así que creo que está bien.
				div — Voy a preguntar. Muchas gracias.
			div.cell.large-6
				div — Я ищу отель в центре. Вы знаете какой-нибудь?
				div — Да, сразу за углом есть недорогой и современный отель.
				div — Он точно хороший?
				div — Не знаю, но я живу рядом и вижу, что люди постоянно входят и выходят из него. Туда приезжают семьи с детьми, поэтому я думаю, что он хороший.
				div — Пойду узнаю. Большое спасибо.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_1.mp3" type="audio/mpeg")

		h3 Диалог 
			span.h3.subheader: strong 2
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Buenos días.
				div — Buenos días.
				div — Querría una habitación.
				div — ¿Individual o doble?
				div — Individual, por favor.
				div — ¿Para cuántos días?
				div — Me quedaré tres días, hasta el viernes.
				div — ¿Pagará en efectivo o con tarjeta?
				div — Con tarjeta.
			div.cell.large-6
				div — Добрый день.
				div — Здравствуйте.
				div — Я бы хотел снять номер.
				div — На одного или на двоих?
				div — На одного, пожалуйста.
				div — На какой срок?
				div — На три дня, до пятницы.
				div — Платить будете наличными или по карте?
				div — По карте.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_2.mp3" type="audio/mpeg")


		h3 Диалог 
			span.h3.subheader: strong 3
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Queremos una habitación doble.
				div — ¿Media pensión o pensión completa?
				div — ¿Qué entra en cada una?
				div — En la media pensión solo entran el dormir y el desayuno. En la completa entran todas las comidas.
				div — Entonces media pensión. ¿Qué tipo de desayuno es?
				div — Desayuno continental.
			div.cell.large-6
				div — Мы хотим снять номер на двоих.
				div — С полным пансионом или с полупансионом?
				div — А что в них входит?
				div — В полупансон входит только проживание и завтрак. А в полный пансион — также обед и ужин.
				div — Полупансион. А какой у вас завтрак?
				div — Континентальный.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_3.mp3" type="audio/mpeg")


		h3 Диалог 
			span.h3.subheader: strong 4
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Tengo una habitación reservada a nombre de Cuéllar.
				div — Bien, Sr. Cuéllar. Tiene que rellenarme estos documentos con su nombre, número de pasaporte y todo lo que se pide aquí. Después le entregaré la llave y ya podr á disfrutar de su habitación.
				div — Se me olvidaba. No pedí desayuno porque pensaba que no desayunaría aquí pero al fi nal he cambiado de idea. 
				div ¿Cuánto cuesta el desayuno?
				div — Cuesta 10 euros.
				div — ¡Es un poco caro!
				div — Piense que es bufet libre y puede comer tanto como quiera.
				div &nbsp;
				div — Entonces me parece que es un precio razonable.
			div.cell.large-6
				div — У меня зарезервирован номер на фамилию Куэльяр.
				div — Прекрасно, сеньор Куэльяр. Заполните, пожалуйста, эту анкету. Укажите имя, номер паспорта и все, что там спрашивается. После этого я дам вам ключ, и вы сможете подняться к себе в номер.
				div — Еще один вопрос. Я не заказывал завтрак, потому что не предполагал, что буду завтракать в отеле, но в конечном счете передумал. 
				div Сколько стоит завтрак?
				div — Десять евро.
				div — Дороговато!
				div — Но вы подумайте, это же шведский стол, вы сможете есть сколько захотите.
				div — Ну в таком случае думаю, что цена довольно разумная.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_4.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 5
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Cuánto cuesta una habitación?
				div — La simple o individual cuesta cuarenta y cinco euros la noche y la doble noventa.
				div — ¿El precio incluye el IVA?
				div — Sí, por supuesto. El precio es el definitivo.
				div — ¿Cobran comisión por pagar con tarjeta?
				div — No, no cobramos recargo si la cantidad es superior a cincuenta euros. Si es inferior cobramos un recargo de cincuenta céntimos.
			div.cell.large-6
				div — Сколько стоит номер в отеле?
				div — Номер на одного стоит сорок пять евро в сутки, на двоих — девяносто.
				div — НДС входит?
				div — Да, конечно!
				div — А при оплате по карте берут комиссию?
				div — Нет, если сумма превышает пятьдесят евро, комиссия не взимается. Если меньше пятидесяти евро, комиссия составляет 50 центов.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_5.mp3" type="audio/mpeg")
					
		h3 Диалог 
			span.h3.subheader: strong 6
		div.grid-x.grid-margin-x
			div.cell.large-6

			div.cell.large-6

			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_6.mp3" type="audio/mpeg")
					
		h3 Диалог 
			span.h3.subheader: strong 7
		div.grid-x.grid-margin-x
			div.cell.large-6


			div.cell.large-6

			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_7.mp3" type="audio/mpeg")
					
		h3 Диалог 
			span.h3.subheader: strong 8
		div.grid-x.grid-margin-x
			div.cell.large-6


			div.cell.large-6

			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_alojamiento_8.mp3" type="audio/mpeg")
