extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык 
		span.h4.subheader диалоги
	article.grid-container
		h2 Квартира.
		h3 Диалог 
			span.h3.subheader: strong 1
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿El piso es tuyo?
				div — No es de mi hermano.
				div — ¿Es de su propiedad o lo alquila?
				div — Lo alquila a una señora mayor por un buen precio.
				div — Pues el piso es muy bonito y con unas buenas vistas del parque
			div.cell.large-6
				div — Это твоя квартира?
				div — Нет, это квартира моего брата.
				div — Она его собственная или он снимает?
				div — Снимает у одной пожилой дамы, за небольшие деньги.
				div — Очень красивая квартира, и такие замечательные виды на парк.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_1.mp3" type="audio/mpeg")

		h3 Диалог 
			span.h3.subheader: strong 2
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¡Me he comprado un nuevo piso!
				div — ¿Dónde?
				div — Justo en la salida del pueblo, junto al campo de fútbol. Es una zona muy tranquila y bonita. Además al lado también tenemos un nuevo centro comercial.
				div — ¿Cuándo podré venir a verlo?
				div — Este fi n de semana pásate con tu familia y comemos una paella y así estrenamos la cocina.
				div — Me parece estupendo.
			div.cell.large-6
				div — Я купил новую квартиру!
				div — Где?
				div — Прямо на выезде из города, рядом с футбольным полем. Там очень спокойный и красивый район. К тому же рядом у нас там есть новый торговый центр.
				div — Когда можно будет зайти посмотреть?
				div — Заходи вместе с семьей в эти выходные. Будем есть паэлью — обновим кухню.
				div — Отлично!
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_2.mp3" type="audio/mpeg")

		h3 Диалог 
			span.h3.subheader: strong 3
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Buenos días. Llamo por el anuncio del piso. ¿Dónde está el piso?
				div — El piso está en la zona centro, junto al metro Plaza Cataluña.
				div — ¿Qué características tiene?
				div — Es un quinto piso, con ascensor y conserje. El piso está totalmente amueblado y tiene cocina de gas. Calefacción central y parqué. El precio es de 800 euros al mes.
				div — ¿Gastos incluidos?
				div — No, agua, gas y luz van a parte. Solo entra el internet.
			div.cell.large-6
				div — Добрый день, я звоню по объявлению по поводу квартиры. Где она находится?
				div — В центре, рядом с метро «Площадь Каталонии».
				div — Расскажите о квартире, что в ней есть.
				div — Шестой этаж, лифт, консьерж. Мебель, газовая плита. Центральное отопление. Место для парковки. Квартплата — 800 евро в месяц.
				div — Коммунальные платежи входят?
				div — Нет, вода, газ и электричество оплачиваются отдельно. В эту сумму входит только Интернет.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_3.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 4
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Quiero alquilar una habitación. ¿Cuántas habitaciones tiene el piso?
				div — El piso es a compartir con dos personas más.
				div — ¿Aceptan animales?
				div — No, están prohibidos.
				div — ¿Entra la comunidad y otros gastos como basura, etc.?
				div — Sí, todo entra en el precio.
			div.cell.large-6
				div — Я хочу снять комнату. Сколько всего комнат в квартире?
				div — Квартира рассчитана на троих.
				div — С животными можно?
				div — Нет, это запрещено.
				div — В цену входят коммунальные услуги и прочее, вроде вывоза мусора?
				div — Да, все включено.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_4.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 5
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Cuántas habitaciones tiene?
				div — Tiene cuatro habitaciones. Un comedor, una cocina, dos baños y cuatro habitaciones. Es un piso muy amplio. Dos de las habitaciones dan a la calle y son muy luminosos y soleados.
				div — ¿Y la cocina?
				div — La cocina da a un patio interior y no tiene mucha luz natural, pero es muy amplia y está perfectamente acondicionada.
			div.cell.large-6
				div — Сколько у вас комнат?
				div — Четыре. Столовая, кухня, две ванные и четыре спальни. Квартира очень просторная. Окна двух комнат выходят на улицу, и комнаты очень светлые.
				div — А кухня?
				div — Окна кухни выходят во внутренний двор и там немного естественного света, но она очень просторная и в ней есть вся необходимая современная техника.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_5.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 6
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — Me he mudado a un nuevo piso al lado de la universidad.
				div — ¿Cuánta gente vive en el piso?
				div — Comparto piso con dos chicas.
				div — ¿Y los horarios de limpieza?
				div — Cada semana limpia uno.
				div — ¿Es antiguo o nuevo el edifi cio?
				div — Es antiguo, pero reformado.
				div — ¿Cuánto pagas?
				div — Pago 500 euros. 1500 entre tres y pagamos el primero de cada mes.
				div — ¿Has pagado fi anza?
				div — Sí, pagamos 200 euros cada uno y el dueño nos lo devolverá cuando termine el contrato.
			div.cell.large-6
				div — Я переехала на новую квартиру недалеко от университета.
				div — А сколько человек в ней живет?
				div — Еще две девушки.
				div — И как вы делаете уборку?
				div — По очереди, каждую неделю кто-то убирает.
				div — А дом старый или новый?
				div — Старый, но после ремонта.
				div — И сколько ты платишь?
				div — Пятьсот евро, полторы тысячи на троих. Платим первого числа каждого месяца.
				div — Ты платил залог?
				div — Да, мы заплатили по двести евро. Хозяин вернет нам их, когда закончится срок, на который мы сняли квартиру.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_6.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 7
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — El piso está muy bien ubicado, cerca de bares, cafés, supermercados, etc.
				div — ¿Entonces es ruidoso?
				div — Un poco sí, pero es normal viviendo en el centro. Pero me gusta el ruido, moderado claro.
				div — ¿Tiene plaza de parquin?
				div — No, no entra en el precio. Pero tengo el metro y la parada de autobús justo al lado.
			div.cell.large-6
				div — Квартира находится в хорошем месте, рядом с барами, кафе, супермаркетами и т. п.
				div — Не слишком шумно?
				div — Есть немного, но это нормально, когда живешь в центре. А вообще мне нравится шум, конечно, не очень сильный.
				div — Есть место для парковки?
				div — Нет, это не входит в плату. Но метро и автобусная остановка совсем близко.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_7.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 8
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Te gusta tu piso?
				div — Sí, me encanta su ubicación. Una zona céntrica pero a la vez tranquila. El apartamento es muy cómodo porque tenemos ascensor.
				div — ¿Es grande el piso?
				div — Sí, es muy grande. Con muchas habitaciones y muy luminoso. Mis hijos están encantados.
			div.cell.large-6
				div — Тебе нравится твоя квартира?
				div — Да, она в очень хорошем месте — в тихом центре. Квартира очень удобная, есть лифт.
				div — А она большая?
				div — Да, очень большая, много комнат и очень светлая. Дети в восторге.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_8.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 9
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¡Qué apartamento tan boni to!
				div — ¿Te gusta?
				div — Sí, mucho. ¿Es nuevo?
				div — No, pero está totalmente renovado. Han cambiado todos los electrodomésticos antiguos por unos de nuevos.
				div — ¿Y los vecinos qué tal?
				div — Muy bien. Muy tranquilos. No hacen ruido ni causan problemas.
				div — Me alegro porque los míos dan muchos problemas.
			div.cell.large-6
				div — Какая красивая квартира!
				div — Тебе нравится?
				div — Да, очень. Она новая?
				div — Нет, но полностью отремонтированная. Поменяли электропроводку и все электроприборы на новые.
				div — А как соседи?
				div — Все в порядке, очень спокойные. Не шумят, и с ними вообще никаких проблем.
				div — Это хорошо. С моими соседями — сплошные проблемы.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_9.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 10
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Es grande la cocina?
				div — Sí es muy espaciosa y luminosa. Tiene una gran ventana que da a la calle por eso entra mucha luz. Tengo una nevera muy grande, microondas, horno eléctrico, lavavajillas, y todo lo necesario para cocinar.

			div.cell.large-6
				div — У тебя большая кухня?
				div — Очень просторная и светлая. Большое окно выходит на улицу, поэтому много света. У меня очень большой холодильник, есть микроволновка, электрическая духовка, посудомоечная машина, все необходимое для того, чтобы готовить.


			div.cell.large-6
				div — ¿Te gusta más la cocina eléctrica o de gas?
				div — La de gas es más cómoda y gasta menos pero la eléctrica es más fácil de limpiar y más rápida.
			div.cell.large-6
				div — Тебе какая плита больше нравится — электрическая или газовая?
				div — Газовая удобнее и экономичнее, но электрическую легче мыть, и на ней готовить быстрее.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_piso_10.mp3" type="audio/mpeg")