extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык 
		span.h4.subheader диалоги
	article.grid-container
		h2 Семья.
		h3 Диалог 
			span.h3.subheader: strong 1
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Está casado o soltero?
				div — Estoy soltero.
				div — ¿No tienes intención de casarte?
				div — De momento no. Cuando mi novia termine la universidad, entonces empezaremos a pensar en eso.
				div — ¿Cuántos años le quedan?
				div — Un par de años.
			div.cell.large-6
				div — Ты женат или нет?
				div — Нет, не женат.
				div — Не собираешься жениться?
				div — В данный момент нет. Когда моя девушка закончит университет, тогда подумаем об этом.
				div — А долго ей еще учиться?
				div — Еще пару лет.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_1.mp3" type="audio/mpeg")

		h3 Диалог 
			span.h3.subheader: strong 2
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Cuánto tiempo lleva casado?
				div — Llevo casado tres años con mi actual esposa. Anteriormente había estado casado siete años.
				div — ¿Tiene hijos?
				div — No, mi anterior mujer no podía y con la actual no lo hemos hablado. Yo ya tengo una edad y me siento mayor para ser padre.
				div — Es una lástima porque parece más joven de la edad que tiene.
				div — Muchas gracias por su cumplido.
			div.cell.large-6
				div — Сколько лет вы уже женаты?
				div — С моей нынешней женой мы живем уже три года. С первой женой я прожил семь лет.
				div — А дети у вас есть?
				div — Нет, первая жена не могла их иметь, а со второй мы это не обсуждали. Я уже в возрасте и чувствую себя слишком старым, чтобы быть отцом.
				div — Очень жаль, вы выглядите гораздо моложе своих лет.
				div — Большое вам спасибо за комплимент.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_2.mp3" type="audio/mpeg")


		h3 Диалог 
			span.h3.subheader: strong 3
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Tienes hijos?
				div — Sí, tengo dos hijos, un chico y una chica. Él tiene 12 años y ella 15.
				div — ¿Cómo se llaman?
				div — Él se llama Manuel y ella se llama Arancha. Se parecen a su madre.
			div.cell.large-6
				div — У тебя есть дети?
				div — Да, двое, мальчик и девочка. Ему 12 лет, ей 15.
				div — Как их зовут?
				div — Мануэль и Аранча. Они похожи на маму.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_3.mp3" type="audio/mpeg")


		h3 Диалог 
			span.h3.subheader: strong 4
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Está divorciada?
				div — No, es viuda. Su marido murió hace dos semanas.
				div — Vaya, no lo sabía. Lo siento. ¿De qué murió?
				div — De cáncer de páncreas. Hacía semanas que se sentía mal y cuando fue al médico ya no había nada que hacer.
				div — ¿Cómo están los hijos?
				div — La pequeña no se da cuenta de la situación, aún es muy pequeña. El hijo está un poco enfadado con todo el mundo pero parece que lo está aceptando mejor de lo que pensaban por su edad.

			div.cell.large-6
				div — Она разведена?
				div — Нет, она вдова. Ее муж умер две недели назад.
				div — Ну надо же, я не знала. Мне очень жаль. От чего он умер?
				div — От рака поджелудочной железы. Несколь ко недель он чувствовал себя плохо, и когда обратился к врачу, уже ничего нельзя было сделать.
				div — А как дети?
				div — Младшая не понимает, что произошло, но она еще очень маленькая. А сын злится на весь мир, но кажется, что принимает ситуацию лучше, чем мог бы в его возрасте.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_4.mp3" type="audio/mpeg")
		
		h3 Диалог 
			span.h3.subheader: strong 5
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Vives solo o con tu pareja?
				div — Vivo con mis padres aún. Pero antes del verano mi novia y yo alquilaremos una habitación en el centro.
				div — ¿Por qué no antes?
				div — Porque tengo que encontrar un buen trabajo estable para poder pagar el alquiler. Ahora los dos tenemos un trabajo temporal y así es difícil independizarse.
				div — Claro te entiendo.

			div.cell.large-6
				div — Ты живешь один или с девушкой?
				div — Я пока живу с родителями. Но перед летом мы с моей девушкой снимем комнату в центре.
				div — А почему до сих пор не снимали?
				div — Потому что мне надо найти хорошую стабильную работу, чтобы было чем платить квартплату. Сейчас у нас обоих временная работа и нам трудно начать жить самостоятельно.
				div — Да, я тебя понимаю.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_5.mp3" type="audio/mpeg")
					
		h3 Диалог 
			span.h3.subheader: strong 6
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿Tiene hermanos?
				div — No tengo hermanos pero tengo varios primos. Y usted, ¿Tiene hermanos?
				div — Sí, tengo un hermano dos años mayor que yo y una hermana siete años menor.
				div — Yo tengo dos hermanas gemelas, dos años mayores que yo.
			div.cell.large-6
				div — У вас есть братья?
				div — Нет, родных братьев у меня нет, но есть несколько двоюродных. А у вас?
				div — Да, у меня есть брат на два года старше меня и сестра на шесть лет моложе.
				div — А у меня две сестры-близняшки на два года моложе меня.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_6.mp3" type="audio/mpeg")
					
		h3 Диалог 
			span.h3.subheader: strong 7
		div.grid-x.grid-margin-x
			div.cell.large-6
				div — ¿A qué edad te casaste?
				div — A los veintiocho años.
				div — ¿Muy tarde no?
				div — En España es normal casarse cerca de los treinta o incluso pasados. ¿En Rusia no?
				div — No. En Rusia generalmente nos casamos antes de los veinticinco

			div.cell.large-6
				div — В каком возрасте ты женился?
				div — В двадцать восемь лет.
				div — Это поздно, да?
				div — В Испании принято жениться около тридцати лет или даже позже. В России не так?
				div — Нет. В России обычно женятся до двадцати пяти лет.
			div.cell.large-12
				audio(controls="" autoplay="" name="media")
					source(src="../audio/dialog_familia_7.mp3" type="audio/mpeg")
