extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Прилагательные.
		p Прилагательные в испанском языке согласуются с существительными в роде и числе.
		p Прилагательное обычно следует за существительным.
		p Если прилагательное оканчивается на <b>-о</b>, то это значит, что оно мужского рода, и в женском роде оно будет оканчиваться на <b>-а</b>.
		div.row 
			div.large-6.columns
				div <b>el</b> hij<b>o</b> <u>bonit<b>o</b></u> - симпатичный сын 
				div <b>el</b> coch<b>e</b> <u>car<b>o</b></u> - дорогая машина
				div <b>el</b> actor <u>famos<b>o</b></u> - известный актер
			div.large-6.columns
				div <b>la</b> hij<b>a</b> <u>bonit<b>a</b></u> - симпатичная дочь
				div <b>la</b> casa <u>car<b>a</b></u> - дорогой дом
				div <b>la</b> actriz <u>famos<b>a</b></u> - известная актриса
		<br>
		div.row: div.large-12.columns
			p Если прилагательное оканчивается на любую другую гласную или согласную, то его окончание не изменяется.
		div.row 
			div.large-6.columns
				div <b>el</b> chico <u>alegre</u> - веселый парень
				div <b>el</b> coche <u>azul</u> - синяя машина
				div <b>el</b> hombre <u>pesimista</u> - мужчина пессимист
			div.large-6.columns
				div <b>la</b> chica <u>alegre</u> - веселая девушка
				div <b>la</b> casa <u>azul</u> - синий дом
				div <b>la</b> mujer <u>pesimista</u> - женщина пессимист
		<br>
		div.row: div.large-12.columns
			p Если прилагательное обозначает национальность и оканчивается на согласную, то для обозначения женского рода добавляется окончание <span class="spanish-ending">a</span>.
		div.row 
			div.large-6.columns
				div el idioma <u>españo<b>l</b></u> - испанский язык
			div.large-6.columns
				div la lengua <u>español<span class="spanish-ending">a</span></u> - испанский язык
		<br>
		div.row: div.large-12.columns
			p Если прилагательное оканчивается на <b>-án, -ón, or</b> в мужском роде, то в женском роде оно будет иметь окончание <span class="spanish-ending">a</span>.
		div.row 
			table(class="table-simple")
				tbody
					tr
						td el chico <u>dormil<b>ón</b></u> 
						td сонливый парень
						td la chica <u>dormilon<span class="spanish-ending">a</span></u> 
						td сонливая девушка
					tr
						td el hombre <u>trabajad<b>or</b></u>
						td работящий мужчина(человек)
						td la mujer <u>trabajador<span class="spanish-ending">a</span></u>
						td работящая женшина
						
		<br>
		div.row: div.large-12.columns
			h3 Число прилагательных.
			div 1. Если единственное число <b>заканчивается на гласную</b>, то во множественном добавляется <b>-s</b>.
		div.row 
			div.large-6.columns
				div important<b>e</b> - важный
				div buen<b>o</b> - добрый
			div.large-6.columns
				div importante<b>s</b> - важные
				div bueno<b>s</b> - добрые
		div.row: div.large-12.columns
			div 2. Если единственное число <b>заканчивается на согласную</b>, то во множественном добавляется <b>-es</b>.
		div.row 
			div.large-6.columns
				div azu<b>l</b> - синий
			div.large-6.columns
				div azul<b>es</b> - синие
				
		div.row: div.large-12.columns
			div 3. Если единственное число <b>заканчивается на -z</b>, то во множественном происходит чередование z и с и добавляется <b>-es</b>.
		div.row 
			div.large-6.columns
				div feli<b>z</b> - счастливый
			div.large-6.columns
				div feli<b>ces</b> - счастливые
				
		div.row: div.large-12.columns
			div 4. Мужской род + женский род = мужской род множественного числа.
			div la casa cara + el coche caro = la casa y el coche caros
			div дорогой дом + дорогая машина = дорогие дом и машина
		<br>
		div.row: div.large-12.columns
			h3 Запомните антонимичные пары прилагательных.
			table(class="table-simple")
				tbody
					tr
						td grande 
						td 
							span.translate большой
						td pequeño 
						td 
							span.translate маленький
					tr
						td alegre 
						td 
							span.translate веселый
						td triste 
						td 
							span.translate грустный
					tr
						td hermeso 
						td 
							span.translate красивый
						td feo 
						td 
							span.translate некрасивый(страшный)
					tr
						td rico 
						td богатый
						td pobre 
						td бедный
					tr
						td bueno 
						td хороший
						td malo 
						td плохой
					tr
						td joven 
						td молодой
						td viejo
						td старый
					tr
						td caro 
						td дорогой
						td barato 
						td дешевый
					tr
						td interesante 
						td интересный
						td aburrido 
						td скучный
					tr
						td fácil 
						td легкий
						td difícil 
						td тяжелый(трудный)
					tr
						td inteligente 
						td умный
						td tonto 
						td глупый
					tr
						td alto 
						td высокий
						td bajo 
						td низкий
					tr
						td delgado 
						td худой
						td gordo  
						td толстый
