extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script(src="https://code.responsivevoice.org/responsivevoice.js?key=7rSSozwg")

block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Gramática. Грамматика.
		ol 
			li
				a(href="gramática_diccionario.html") Словарик 
				| грамматических определений, терминов и слов.
			li
				a(href="stress_rules.html") Правила ударения. 
			li
				a(href="nouns.html") Род и число существительных. 
				ol
					li 
						a(href="../gram_tests/spanish_test_nouns_1.html") Упражнение 1. Неопределенный артикль.
					li
						a(href="../gram_tests/spanish_test_nouns_2.html") Упражнение 2. Определенный артикль.
					li
						a(href="../gram_tests/spanish_test_nouns_3.html") Упражнение 3. Множественое чило и артикль.
					li
						a(href="../gram_tests/spanish_test_nouns_4.html") Упражнение 4. Артикль в вопросах.
					li
						a(href="../gram_tests/spanish_test_nouns_5.html") Упражнение 5. Артикль в профессиях.
					li
						a(href="../gram_tests/spanish_test_nouns_6.html") Упражнение 6. Мн. число.
			li
				a(href="articles.html") Артикли.
			li
				a(href="adjectives.html") Род и число прилагательных.
				ol
					li 
						a(href="../gram_tests/spanish_test_adjectives_1.html") Упражнение 1.
					li
						a(href="../gram_tests/spanish_test_adjectives_2.html") Упражнение 2.
					li
						a(href="../gram_tests/spanish_test_adjectives_3.html") Упражнение 3.
					li
						a(href="../gram_tests/spanish_test_adjectives_4.html") Упражнение 4.
					li
						a(href="../gram_tests/spanish_test_adjectives_5.html") Упражнение 5.
					li
						a(href="../gram_tests/spanish_test_adjectives_6.html") Упражнение 6.
			li
				a(href="pronombres.html") Местоимения.
				ol
					li
						a(href="pronombres") Личные местоимения.
					li
						a(href="pronombres") Указательные местоимения.
					li
						a(href="pronombres_interrogativos.html") Вопросительные местоимения.
						ol
							li 
								a(href="../gram_tests/spanish_test_interrogativos_1.html") Упражнение 1.
					li
						a(href="pronombres") Притяжательные местоимения.
					li Упражнения общие
						ol
							li 
								a(href="../gram_tests/spanish_test_pronombres_1.html" target="_blank") 1 
							li 
								a(href="../gram_tests/spanish_test_pronombres_2.html" target="_blank") 2
			li
				a(href="spanish_ordinals.html") Порядковые числительные. Numerales ordinales.
			li
				a(href="spanish_participio_pasado.html") Причастие (Participio Pasado).
				ol
					li 
						a(href="../gram_tests/spanish_test_participio_pasado_1.html") Упражнение 1.
			li <strong>Глаголы</strong>
				ol 
					li
						a(href="spanish_verbo.html") Система времен и наклонений испанского глагола. 
					li
						a(href="spanish_presente.html") Presente de Indicativo. Настоящее время.
						ol
							li 
								a(href="../gram_tests/spanish_test_presente_1.html") Упражнение 1. Regulares.
							li
								a(href="../gram_tests/spanish_test_presente_2.html") Упражнение 2. Irregulares 1.
							li
								a(href="../gram_tests/spanish_test_presente_3.html") Упражнение 3. Irregulares 2.
							li
								a(href="../gram_tests/spanish_test_presente_4.html") Упражнение 4. Voy, hago, conozco
					li
						a(href="spanish_pretérito_perfecto.html") Pretérito Perfecto de Indicativo.
						| Сложное прошедшее время
						ol
							li 
								a(href="../gram_tests/spanish_test_pretérito_perfecto_1.html") Упражнение 1.
					li
						a(href="") Спряжение правильных глаголов.
					li
						a(href="spanish_verbos_irregulares.html" target="_blank") Неправильные глаголы (verbos irregulares), или глаголы индивидуального спряжения.
						
					li
						a(href="spanish_ser.html" target="_blank") Глагол ser - быть.
					li 
						a(href="spanish_tener.html" target="_blank") Глаголы: ser, estar, tener, ir, decir.
						ol
							li Упражнения на tener: 
								ol
									li 
										a(href="../gram_tests/spanish_test_verbos_tener_1.html" target="_blank") 1 
									li 
										a(href="../gram_tests/spanish_test_verbos_tener_2.html" target="_blank") 2 
							li 
								a(href="../gram_tests/spanish_test_verbos_ser_1.html" target="_blank") Упражнение на ser.
							li 
								a(href="../gram_tests/spanish_test_verbos_estar_1.html" target="_blank") Упражнение на estar.
							li 
								a(href="../gram_tests/spanish_test_verbos_ser_or_estar_1.html" target="_blank") Упражнение на ser и estar.