extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарик грамматических определений, терминов и слов
		table(class="table-simple")
			tbody
				tr
					td el verbo
					td глагол
				tr
					td Modo Indicativo
					td изъявительное наклонение
				tr
					td Modo Subjuntivo 
					td сослогательное наклонение
				tr
					td Modo Imperativo
					td повелительное наклонение
				tr
					td Modo Condicional (Potencial)
					td условное наклонение
				tr
					td voz activa
					td действительный (активный) залог
				tr
					td voz pasiva
					td страдательный (пасивный) залог
				tr
					td verbos regulares
					td правильные глаголы
				tr
					td verbos de irregularidad común
					td отклоняющиеся глаголы
				tr
					td verbos irregulares
					td неправильные глаголы
				tr
					td verbos defectivos
					td недостаточные глаголы
					
				tr
					td complemento derecto
					td прямое дополнение
				tr
					td complemento inderecto
					td косвенное дополнение
				tr
					td Condicional (Potencial) imperfecto 
					td условное простое
				tr
					td Condicional (Potencial) perfecto
					td условное совершенное
				tr
					td Pretérito perfecto
					td Сложное прошедшее время
				tr
					td Artículo
					td артикль
				tr
					td Determinado, determinante, definido
					td определенный
				tr
					td Indeterminado, indeterininante, indefinido
					td неопределенный
				tr
					td Contraído, contracto
					td слитный
				tr
					td Omisión, elipsis
					td опущение, отсутствие.
				tr
					td Género
					td род
				tr
					td Masculino
					td мужской
				tr
					td Femenino
					td женский
				tr
					td Neutro
					td средний
				tr
					td Número
					td число .
				tr
					td Singular
					td единственное
				tr
					td Plural
					td множественное
				tr
					td Nombre sustantivo
					td имя существительное
				tr
					td Nombre común
					td нарицательное имя
				tr
					td Nombre propio
					td имя собственное
				tr
					td Nombres del género común
					td существительные общего рода
				tr
					td Nombres del género epiceno
					td существительные совмещенного рода
				tr
					td Nombres del género ambiguo
					td существительные двух родов
				tr
					td Animado
					td одушевленный
				tr
					td Inanimado
					td неодушевленный
				tr
					td Concreto
					td конкретный
				tr
					td Abstracto
					td абстрактный
				tr
					td Colectivo
					td  собирательный 
				tr
					td (Nombre) adjetivo
					td (имя) прилагательное
				tr
					td Calificativo
					td качественное
				tr
					td Relativo
					td относительное
				tr
					td Grados de comparación
					td степени сравнения
				tr
					td Grado positivo
					td положительная степень
				tr
					td Grado comparativo
					td сравнительная
				tr
					td Grado superlativo
					td превосходная
				tr
					td Absoluto
					td абсолютный
				tr
					td Apócopo
					td усечение
				tr
					td Forma apocopada
					td усеченная форма
				tr
					td Numerales
					td числительные
				tr
					td Cardinales
					td количественные
				tr
					td Ordinales
					td порядковые
				tr
					td Enteros
					td целые
				tr
					td Quebrados, fraccionarios
					td дробные
				tr
					td Quebrado, fracción
					td дробь
				tr
					td Quebrados decimales
					td десятичные дроби
				tr
					td Multiples (proporcionales)
					td множительные (кратные)
				tr
					td Pronombres
					td местоимения
				tr
					td Personales
					td личные
				tr
					td Posesivos
					td притяжательные
				tr
					td Demostrativos
					td указательные
				tr
					td Interrogativos
					td вопросительные
				tr
					td Relatives
					td относительные
				tr
					td Indefinidos
					td неопределенные
				tr
					td Negatives
					td отрицательные
				tr
					td Reflexives
					td возвратные
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 


		h3 Сокращения:
		ul 
			li adj - прилагательное
			li adv - наречие
			li f - существительное, женский род
			li f pl - женский род, множественное число
			li fam. - разговорный язык
			li m - существительное, мужской род
			li m pl - мужской род, множественное число
			li m, f - мужской или женский род
			li n - средний род
			li pl - множественное число
			li v aux - вспомогательный глагол
			li vi - непереходный глагол
			li vi, vt - непереходный, переходный глагол
			li vr - возвратный глагол
			li vt - переходный глагол				