extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарик грамматических определений, терминов и слов
		table(class="table-simple")
			tbody
				tr
					td el verbo
					td глагол
				tr
					td Modo Indicativo
					td изъявительное наклонение
				tr
					td Modo Subjuntivo 
					td сослогательное наклонение
				tr
					td Modo Imperativo
					td повелительное наклонение
				tr
					td Modo Condicional (Potencial)
					td условное наклонение
				tr
					td voz activa
					td действительный (активный) залог
				tr
					td voz pasiva
					td страдательный (пасивный) залог
				tr
					td verbos regulares
					td правильные глаголы
				tr
					td verbos de irregularidad común
					td отклоняющиеся глаголы
				tr
					td verbos irregulares
					td неправильные глаголы
				tr
					td verbos defectivos
					td недостаточные глаголы
					
				tr
					td complemento derecto
					td прямое дополнение
				tr
					td complemento inderecto
					td косвенное дополнение
				tr
					td Condicional (Potencial) imperfecto 
					td условное простое
				tr
					td Condicional (Potencial) perfecto
					td условное совершенное
				tr
					td Pretérito perfecto
					td Сложное прошедшее время
				tr
					td 
					td 
				tr
					td 
					td 
				tr
					td 
					td 
		h3 Сокращения:
		ul 
			li adj - прилагательное
			li adv - наречие
			li f - существительное, женский род
			li f pl - женский род, множественное число
			li fam. - разговорный язык
			li m - существительное, мужской род
			li m pl - мужской род, множественное число
			li m, f - мужской или женский род
			li n - средний род
			li pl - множественное число
			li v aux - вспомогательный глагол
			li vi - непереходный глагол
			li vi, vt - непереходный, переходный глагол
			li vr - возвратный глагол
			li vt - переходный глагол				