extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h2 Система времен и наклонений испанского глагола.
		div 
		table(class="table-test").unstriped
			thead
				tr
					th Наклонения
					th Простые времена 
					th Сложные времена
			tbody
				tr
					th(rowspan=5) Modo Indicativo
				tr
					td
						a(href="spanish_presente.html") Presente
						br
						small настоящее 
					td Pretérito Perfecto
						br
						small прошедшее совершенное
				tr
					td 
						a(href="spanish_pretérito_imperfecto.html") Pretérito Imperfecto 
						br
						small прошедшее несовершенное
					td Pretérito Pluscuamperfecto
						br
						small прошедшее 
				tr
					td Pretérito Indefinido
						br
						small прошедшее 
					td Pretérito Anterior
				tr
					td Futuro Imperfecto 
						br
						small futuro simple de indicativo
					td Futuro Perfecto
				tr
					th(rowspan=5) Modo Subjuntivo
				tr
					td Presente
					td Pretérito Perfecto
				tr
					td Pretérito Imperfecto
					td Pretérito Pluscuamperfecto
				tr
					td Pretérito Indefinido
					td Pretérito Anterior
				tr
					td Futuro Imperfecto
					td Futuro Perfecto
				tr
					th Modo Potencial (Condicional)
					td Imperfecto
					td Perfecto
				tr
					th Modo Imperativo
					td Afirmativo
					td Negativo
		div futuro imperfecto/futuro simple de indicativo 
		h3 Дополнительные источники:
		ol
			li 
				a(href="https://linguistpro.net/spanish/lessons-esp/urok-17-tiempos-y-modos-verbales-vremena-i-nakloneniya-glagolov-es" target="_blank") Tiempos y modos verbales. Времена и наклонения глаголов в испанском языке. 
				| linguistpro.net
