extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script
		| var answers = [
		| /*01*/ "estáis", 
		| /*02*/ "estamos", 
		| /*03*/ "estáis", 
		| /*04*/ "eres", 
		| /*05*/ "está", 
		| /*06*/ "es", 
		| /*07*/ "son", 
		| /*08*/ "somos", 
		| /*09*/ "son", 
		| /*10*/ "estás", 
		|];

		include ../js/check_test.js

block content

	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		div Задание. Выберите нужную форму глаголов <b>ser</b> или <b>estar</b>:
		ol 
			li Вы в Европе. – Vosotros 
				input(id = "question0")
				|&nbsp;en Europa.
			li Мы готовы. – Nosotros 
				input(id = "question1")
				|&nbsp;preparados.
			li Вы печальны. – Vosotras 
				input(id = "question2")
				|&nbsp;tristes.
			li Ты мой друг. – Tú 
				input(id = "question3")
				|&nbsp;mi amigo.
			li Он болен. – Él 
				input(id = "question4")
				|&nbsp;enfermo.
			li Она моя сестра. – Ella 
				input(id = "question5")
				|&nbsp;mi hermana.
			li Они интересные люди. – Ellos <input id = "question6" value=""></input> gente interesante.
			li Мы умные. – Nosotros <input id = "question7" value=""></input> inteligentes.
			li Они симпатичные. – Ellas <input id = "question8" value=""></input> simpáticas.
			li Ты здесь. – Tú <input id = "question9" value=""></input> aquí.
		div
			input( class="button" onclick = "test()" value = "Проверить")
			input( class="button" onclick = "myclear()" value = "Очистить")
