extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	style
		include my_table_style.css 
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Причастие (Participio Pasado)
		div В испанском языке сохранилось только причастие прошедшего времени. 
		div Причастие может иметь функцию:
			ul
				li глагола;
				li прилагательного. 

		div Как прилагательное оно согласуется в роде и числе с существительным, к которому относится. 
		div Как глагол является вторым компонентом сложных времен и не меняется. Смотри 
			a(href="spanish_pretérito_perfecto.html") Pretérito Perfecto de Indicativo.
			| Сложное прошедшее время
		div &nbsp;
		div Образуется от глаголов I спряжения с окончанием -ar прибавлением к основе окончания -ado, а от глаголов II и III спряжений с окончаниями -er, -ir при помощи окончания -ido:

		div hablar → hablado
		div comer → comido
		div vivir → vivido
		div В причастиях от глаголов II и III спряжений с окончаниями -er и -ir, основа которых заканчивается на гласную, то есть -a, -e, -o, -u, появляется знак фиксированного ударения над i:

		div caer падать caído
		div creer верить creído
		div huir убегать huído
		div leer читать leído
		div oír слышать oído
		div eír смеяться reído
		div traer приносить traído
		div Некоторые глаголы имеют свои, особые, или, как их называют, неправильные, формы причастий:
		table(class="table-test")
			tbody
				tr 
					td abrir 
					td 
						span.translate открывать 
					td abierto
				tr 
					td cubrir 
					td 
						span.translate покрывать 
					td cubierto
				tr 
					td decir 
					td 
						span.translate говорить, сказать 
					td dicho
				tr 
					td escribir 
					td 
						span.translate писать 
					td escrito
				tr 
					td hacer 
					td 
						span.translate делать 
					td hecho
				tr 
					td morir 
					td 
						span.translate умирать 
					td muerto
				tr 
					td poner 
					td 
						span.translate класть 
					td puesto
				tr 
					td resolver 
					td 
						span.translate решать 
					td resuelto
				tr 
					td romper 
					td 
						span.translate ломать 
					td roto
				tr 
					td satisfacer 
					td 
						span.translate удовлетворять 
					td satisfecho
				tr 
					td ver 
					td 
						span.translate видеть 
					td visto
				tr 
					td volver 
					td 
						span.translate возвращать 
					td vuelto
					
		div Все производные от этих глаголов причастия имеют такие же особые формы:

		div describir описывать descrito
		div descubrir открывать (новые земли и т.д.) descubierto
		div entreabrir приоткрыть (двери и т.д.) entreabierto
		div predecir предсказывать predicho
		div Исключение: bendecir благословлять и maldecir проклинать (см. таблицу причаcтий, имеющих две формы).
		
		
		h3 Дополнительные источники:
		ol
			li 
				a(href="https://entre-amigos.ru/verbos/2642-participio-regular-y-irregular.html" target="_blank") Правильные и неправильные причастия. Глаголы с двумя причастиями.
				| entre-amigos.ru
			li 
				a(href="https://tutesp.ru/8-2-3-prichastie-proshedshego-vremeni-i-ego-znachenie.html" target="_blank") Причастие прошедшего времени и его значение.
				| tutesp.ru
			li 
				a(href="https://www.youtube.com/watch?v=qSpb3OlItRM" target="_blank") Participio Pasado в испанском языке
				| на канале Олеся Испанский язык