extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script(type = "text/javascript")
		| var answers = [
		| /*01*/ "estáis", 
		| /*02*/ "estamos", 
		| /*03*/ "está", 
		| /*04*/ "está", 
		| /*05*/ "están", 
		| /*06*/ "estás", 
		| /*07*/ "estás", 
		| /*08*/ "estoy", 
		|];

		include check_test.js

block content

	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		div Задание. Выберите нужную форму глагола estar («быть, находиться»):
		ol
			li Вы находитесь в Африке. – Vosotros <input id = "question0" value=""></input> en África.
			li Мы находимся в Америке. – Nosotros <input id = "question1" value=""></input> en América.
			li Он находится в Европе. – Él <input id = "question2" value=""></input> en Europa.
			li Вы довольны. – Usted <input id = "question3" value=""></input> contento.
			li Они больны. – Ellos <input id = "question4" value=""></input> enfermos.
			li Ты находишься в правильном месте. – Tú <input id = "question5" value=""></input> en el sitio correcto.
			li Ты сердишься. – Tú <input id = "question6" value=""></input> enfadado.
			li Я нахожусь в своем доме. – Yo <input id = "question7" value=""></input> en mi casa.

		div
			input( class="button" onclick = "test()" value = "Проверить")
			input( class="button" onclick = "myclear()" value = "Очистить")
