extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Presente de Indicativo. Настоящее время.
		div 
		table(class="table-test")
			tbody
				tr
					th(rowspan="2") &nbsp;<br>Местоимение
					th &nbsp;
					th I<br>спряжение
					th II<br>спряжение
					th III<br>спряжение
				tr
					th &nbsp;
					th -AR
					th -ER
					th -IR
				tr
					td(class = "cell-center") yo
					td: span(class="translate") я
					td -o
					td -o
					td -o
				tr
					td(class = "cell-center") tú
					td: span(class="translate") ты
					td -as
					td -es
					td -es
				tr
					td(class = "cell-center") él ella Usted
					td: span(class="translate") он она Вы
					td -a
					td -e
					td -e
				tr
					td(class = "cell-center") nosotros(-as)
					td: span(class="translate") мы
					td -amos
					td -emos
					td -imos
				tr
					td(class = "cell-center") vosotros(-as)
					td: span(class="translate") вы
					td -áis
					td -éis
					td -ís
				tr
					td(class = "cell-center") ellos ellas Ustedes
					td: span(class="translate") они они Вы
					td -an
					td -en
					td -en
		div Испанские глаголы делятся на:
			div I. правильные,
			div II. неправильные,
			div III. глаголы индивидуального спряжения.
		div Неправильные глаголы можно условно разделить на семь основных групп.
		h3 I группа
		div К этой группе относятся глаголы I и II спряжений, под ударением дифтонгизируется корневой гласный: <span class="dip">-e</span> → <span class="dip">-ie</span>
		table(class="table-test")
			thead
				tr
					th
					th 
					th(class = "cell-center") I спряжение
					th(class = "cell-center") II cпряжение
			tbody
				tr
					td
					td 
					td
						strong empezar 
						span(class="translate") начинать
					td 
						strong defender 
						span(class="translate") защищать
				tr
					td(class = "cell-center") yo
					td: span(class="translate") я
					td emp
						span(class="dip") ie
						| z
						span(class="spanish-ending") o
					td def
						span(class="dip") ie
						| nd
						span(class="spanish-ending") o
				tr
					td(class = "cell-center") tú
					td: span(class="translate") ты
					td emp
						span(class="dip") ie
						| z
						span(class="spanish-ending") as
					td def
						span(class="dip") ie
						| nd
						span(class="spanish-ending") es
				tr
					td(class = "cell-center") él, ella, usted
					td: span(class="translate") он она Вы
					td emp
						span(class="dip") ie
						| z
						span(class="spanish-ending") a
					td def
						span(class="dip") ie
						| nd
						span(class="spanish-ending") e
				tr
					td(class = "cell-center") nosotros
					td: span(class="translate") мы
					td empez
						span(class="spanish-ending") amos
					td defend
						span(class="spanish-ending") emos
				tr
					td(class = "cell-center") vosotros
					td: span(class="translate") вы
					td empez
						span(class="spanish-ending") áis
					td defend
						span(class="spanish-ending") éis
				tr
					td(class = "cell-center") ellos, ellas, ustedes
					td: span(class="translate") они они Вы
					td emp
						span(class="dip") ie
						| z
						span(class="spanish-ending") an
					td def
						span(class="dip") ie
						| nd
						span(class="spanish-ending") en

		
		div Важные глаголы, изменяющиеся по этому типу:
		table(class="table-test")
			thead
				tr
					th(colspan=2)(class = "cell-center") I спряжение
					th(colspan=2)(class = "cell-center") II cпряжение
			tbody
				tr 
					td atravesar 
					td: span(class="translate") пересекать
					td defender 
					td: span(class="translate") защищать
				tr 
					td cerrar 
					td: span(class="translate") закрывать
					td encender 
					td: span(class="translate") зажигать
				tr 
					td comenzar 
					td: span(class="translate") начинать
					td entender 
					td: span(class="translate") понимать
				tr 
					td despertar 
					td: span(class="translate") будить
					td perder 
					td: span(class="translate") терять
				tr 
					td negar 
					td: span(class="translate") отрицать
					td querer
					td: span(class="translate") хотеть
				tr 
					td pensar 
					td: span(class="translate") думать
					td 
					td 
				tr 
					td recomendar 
					td: span(class="translate") советовать
					td 
					td 
				tr 
					td fregar
					td: span(class="translate") мыть
					td 
					td 
					
		table(class="table-test")
			thead
				tr
					th 
					th 
					th
					th yo
					th tú
					th él<br> ella<br> usted
					th nosotros
					th vosotros
					th ellas<br> ellos<br> Ustedes
			tbody
				tr 
					td I
					td dar 
					td: span(class="translate") давать
					td <b>doy</b>
					td d
						span(class="spanish-ending") as 
					td d
						span(class="spanish-ending") a
					td d
						span(class="spanish-ending") amos
					td d
						span(class="spanish-ending") ais
					td d
						span(class="spanish-ending") an
				tr
					td II
					td traer 
					td: span(class="translate") приносить
					td <b>traigo</b>
					td tra
						span(class="spanish-ending") es 
					td tra
						span(class="spanish-ending") e
					td tra
						span(class="spanish-ending") emos
					td tra
						span(class="spanish-ending") éis
					td tra
						span(class="spanish-ending") en
				tr
					td II
					td hacer 
					td: span(class="translate") делать
					td <b>hago</b>
					td hac
						span(class="spanish-ending") es 
					td hac
						span(class="spanish-ending") e
					td hac
						span(class="spanish-ending") emos
					td hac
						span(class="spanish-ending") éis
					td hac
						span(class="spanish-ending") en
				tr
					td II
					td saber 
					td: span(class="translate") знать, уметь
					td <b>sé</b>
					td  
					td 
					td 
					td 
					td 
				tr
					td II
					td poner 
					td: span(class="translate") помещать
					td <b>pongo</b>
					td  
					td 
					td 
					td 
					td 
				tr
					td II
					td conocer 
					td: span(class="translate") знать
					td <b>conozco</b>
					td  
					td 
					td 
					td 
					td 
				tr
					td II 
					td parecer
					td: span(class="translate") казаться 
					td <b>parezco</b>
					td pareces 
					td parece
					td parecemos
					td parecéis
					td parecen
				tr
					td III
					td conducir 
					td: span(class="translate") водить машину
					td <b>conduzco</b>
					td conduces 
					td conduce
					td conducimos
					td conducís
					td conducen
				tr
					td III
					td traducir
					td: span(class="translate") переводить
					td <b>traduzco</b>
					td traduces 
					td traduce
					td traducimos
					td traducís
					td traducen
				tr
					td III
					td huir 
					td: span(class="translate") бежать
					td 
					td  
					td 
					td 
					td 
					td 
				tr
					td III
					td construir 
					td: span(class="translate") строить
					td 
					td  
					td 
					td 
					td 
					td 
				tr
					td III
					td destruir 
					td: span(class="translate") разрушать
					td 
					td  
					td 
					td 
					td 
					td 
				tr
					td III
					td oír 
					td: span(class="translate") слышать
					td 
					td  
					td 
					td 
					td 
					td 
				tr
					td
					td  
					td 
					td 
					td  
					td 
					td 
					td 
					td 
				tr
					td
					td  
					td 
					td 
					td  
					td 
					td 
					td 
					td 
				tr
					td
					td  
					td 
					td 
					td  
					td 
					td 
					td 
					td 
		div dar, traer, hacer, saber, poner, conocer, conducir - у этих глаголов неправильная только форма Yo в единственном числе.
		h3 Дополнительные материалы:
		div 
			a(href="https://studyspanish.com/grammar/lessons/stemie" target="_blank") Изменение основы e -> ie. 
			| studyspanish.com. Есть онлайн упражнения
		h3 II группа
		div К этой группе тоже относятся глаголы I и II спряжений, также под ударением происходит дифтонгизация корневого гласного <span class="dip">-o</span> → <span class="dip">-ue</span>:
		table(class="table-test")
			thead
				tr
					td 
					td(class = "cell-center") I спряжение
					td(class = "cell-center") II cпряжение
			tbody
				tr
					td
					td <strong>rogar</strong> 
						span(class="translate") просить
					td <strong>volver</strong> 
						span(class="translate") вернуться
				tr
					td yo
					td r
						span(class="dip") ue
						| g
						span(class="spanish-ending") o
					td v
						span(class="dip") ue
						| lv
						span(class="spanish-ending") o
				tr
					td tú
					td r<strong>ue</strong>g
						span(class="spanish-ending") as
					td v<strong>ue</strong>lv
						span(class="spanish-ending") es
				tr
					td él, ella, usted
					td r<strong>ue</strong>g
						span(class="spanish-ending") a
					td v<strong>ue</strong>lv
						span(class="spanish-ending") e
				tr
					td nosotros
					td rog
						span(class="spanish-ending") amos
					td volv
						span(class="spanish-ending") emos
				tr
					td vosotros
					td rog
						span(class="spanish-ending") áis
					td volv
						span(class="spanish-ending") éis
				tr
					td ellos, ellas, ustedes
					td r<strong>ue</strong>g
						span(class="spanish-ending") an
					td v<strong>ue</strong>lv
						span(class="spanish-ending") en
		
		div Важные глаголы, изменяющиеся по этому типу:
		table(class="table-test")
			tbody
				tr 
					td acordarse 
					td: span(class="translate") вспоминать
				tr 
					td acostarse 
					td: span(class="translate") ложиться спать
				tr 
					td almorzar 
					td: span(class="translate") обедать
				tr 
					td contar 
					td: span(class="translate") считать; рассказывать
				tr 
					td costar 
					td: span(class="translate") стоить
				tr 
					td encontrar 
					td: span(class="translate") встречать; находить
				tr 
					td mostrar 
					td: span(class="translate") показывать
				tr 
					td moverse 
					td: span(class="translate") двигаться
				tr 
					td recordar 
					td: span(class="translate") вспоминать, помнить
				tr 
					td soler 
					td: span(class="translate") иметь обыкновение что-то делать
				tr 
					td sonar 
					td: span(class="translate") звучать
				tr 
					td soñar 
					td: span(class="translate") мечтать
				tr 
					td volar 
					td: span(class="translate") летать
					
		div Примеры
		div ¿Cuántas horas duermes(dormir) al día? 
			span(class="translate") Сколько часов в день ты спишь?
		h3 III группа
		div К этой группе относятся глаголы III спряжения, корневой гласный инфинитива -e под ударением переходит в i: -e → -i
		
		table(class="table-test")
			tbody
				tr
					td
					td 
					td
						strong repetir 
						span(class="translate") повторять 
					td 
						strong reír 
						span(class="translate") смеяться 
				tr
					td(class = "cell-center") yo
					td: span(class="translate") я
					td rep<strong>i</strong>t
						span(class="spanish-ending") o
					td r<strong>í</strong>
						span(class="spanish-ending") o
				tr
					td(class = "cell-center") tú
					td: span(class="translate") ты
					td rep<strong>i</strong>t
						span(class="spanish-ending") es
					td r<strong>í</strong>
						span(class="spanish-ending") es
				tr
					td(class = "cell-center") él, ella, usted
					td: span(class="translate") он она Вы
					td rep<strong>i</strong>t
						span(class="spanish-ending") e
					td r<strong>í</strong>
						span(class="spanish-ending") e
				tr
					td(class = "cell-center") nosotros
					td: span(class="translate") мы
					td repet
						span(class="spanish-ending") imos
					td re
						span(class="spanish-ending") ímos
				tr
					td(class = "cell-center") vosotros
					td: span(class="translate") вы
					td repet
						span(class="spanish-ending") ís
					td re
						span(class="spanish-ending") ís
				tr
					td(class = "cell-center") ellos, ellas, ustedes
					td: span(class="translate") они они Вы
					td rep<strong>i</strong>t
						span(class="spanish-ending") en
					td r<strong>í</strong>
						span(class="spanish-ending") en

		div Исключения: <b>venir, decir</b>.
		
		table(class="table-test")
			tbody
				tr
					td
					td 
					td
						strong venir 
						span(class="translate") приходить
					td 
						strong decir 
						span(class="translate") сказать 
				tr
					td(class = "cell-center") yo
					td: span(class="translate") я
					td veng
						span(class="spanish-ending") o
					td dig
						span(class="spanish-ending") o
				tr
					td(class = "cell-center") tú
					td: span(class="translate") ты
					td vien
						span(class="spanish-ending") es
					td dic
						span(class="spanish-ending") es
				tr
					td(class = "cell-center") él, ella, usted
					td: span(class="translate") он она Вы
					td vien
						span(class="spanish-ending") e
					td dic
						span(class="spanish-ending") e
				tr
					td(class = "cell-center") nosotros
					td: span(class="translate") мы
					td ven
						span(class="spanish-ending") imos
					td dec
						span(class="spanish-ending") ímos
				tr
					td(class = "cell-center") vosotros
					td: span(class="translate") вы
					td ven
						span(class="spanish-ending") ís
					td dec
						span(class="spanish-ending") ís
				tr
					td(class = "cell-center") ellos, ellas, ustedes
					td: span(class="translate") они они Вы
					td vien
						span(class="spanish-ending") en
					td dic
						span(class="spanish-ending") en

		div Важные глаголы, изменяющиеся по этому типу:
		table(class="table-test")
			tbody
				tr 
					td corregir 
					td: span(class="translate") исправлять
				tr 
					td despedir 
					td: span(class="translate") увольнять
				tr 
					td elegir 
					td: span(class="translate") выбирать
				tr 
					td pedir 
					td: span(class="translate") просить
				tr 
					td reír 
					td: span(class="translate") смеяться
				tr 
					td repetir 
					td: span(class="translate") повторять
				tr 
					td seguir 
					td: span(class="translate") следовать; продолжать
				tr 
					td servir 
					td: span(class="translate") служить
				tr 
					td sonreír 
					td: span(class="translate") улыбаться
				tr 
					td vestirse 
					td: span(class="translate") одеваться
		div Примеры
		div ¿Cuánto mides(medir)? 
			span(class="translate") Какой у тебя рост?
		h3 Дополнительные источники:
		ol
			li 
				a(href="https://tutesp.ru/8-3-1-nastoyashchee-vremya.html" target="_blank") Настоящее время.
				| tutesp.ru
			li 
				a(href="https://linguistpro.net/spanish/lessons-esp/urok-9-pravilnye-glagoly-nastoyashhee-vremya-izyavitelnogo-nakloneniya-es" target="_blank") Правильные глаголы. Настоящее время изъявительного наклонения в испанском. 
				| linguistpro.net
				
