extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	style
		include my_table_style.css 
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Причастие (Participio Pasado)
		div В испанском языке сохранилось только причастие прошедшего времени. 
		div Причастие может иметь функцию:
			ul
				li глагола;
				li прилагательного. 

		div Как прилагательное оно согласуется в роде и числе с существительным, к которому относится. 
		div Как глагол является вторым компонентом сложных времен и не меняется. Смотри 
			a(href="spanish_pretérito_perfecto.html") Pretérito Perfecto de Indicativo.
			| Сложное прошедшее время
		div &nbsp;
		div Образуется от глаголов I спряжения с окончанием -ar прибавлением к основе окончания -ado, а от глаголов II и III спряжений с окончаниями -er, -ir при помощи окончания -ido:

		div hablar → hablado
		div comer → comido
		div vivir → vivido
		div В причастиях от глаголов II и III спряжений с окончаниями -er и -ir, основа которых заканчивается на гласную, то есть -a, -e, -o, -u, появляется знак фиксированного ударения над i:

		div caer падать caído
		div creer верить creído
		div huir убегать huído
		div leer читать leído
		div oír слышать oído
		div eír смеяться reído
		div traer приносить traído
		div Некоторые глаголы имеют свои, особые, или, как их называют, неправильные, формы причастий:

		div abrir открывать abierto
		div cubrir покрывать cubierto
		div decir говорить, сказать dicho
		div escribir писать escrito
		div hacer делать hecho
		div morir умирать muerto
		div poner класть puesto
		div resolver решать resuelto
		div romper ломать roto
		div satisfacer удовлетворять satisfecho
		div ver видеть visto
		div volver возвращать vuelto
		div Все производные от этих глаголов причастия имеют такие же особые формы:

		div describir описывать descrito
		div descubrir открывать (новые земли и т.д.) descubierto
		div entreabrir приоткрыть (двери и т.д.) entreabierto
		div predecir предсказывать predicho
		div Исключение: bendecir благословлять и maldecir проклинать (см. таблицу причаcтий, имеющих две формы).
		
		
		h3 Дополнительные источники:
		ol
			li 
				a(href="https://entre-amigos.ru/verbos/2642-participio-regular-y-irregular.html" target="_blank") Правильные и неправильные причастия. Глаголы с двумя причастиями.
				| entre-amigos.ru
			li 
				a(href="https://tutesp.ru/8-2-3-prichastie-proshedshego-vremeni-i-ego-znachenie.html" target="_blank") Причастие прошедшего времени и его значение.
				| tutesp.ru
			li 
				a(href="https://www.youtube.com/watch?v=qSpb3OlItRM" target="_blank") Participio Pasado в испанском языке
				| на канале Олеся Испанский язык