extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Bubble Factor в спортивном покере
	article.grid-container
		p Эквити - шансы на победу у конретной руки(или диапазона) против руки или диапазона.
		p Bubble Factor измеряет давление ICM в покере. Он определяется как соотношение между тем, сколько турнирного капитала ($EV) вы потеряете, играя на стек, разделить на то, сколько турнирного капитала $EV вы получите, выйграя стек другого игрока в турнире. В практическом плане, Bubble Factor показывает вам: столкновения с кем опасаться в турнире и кого можно атаковать более свободно.
		
		ol Свойства BF
			li Баббл фактор ассиметричен: у вас против игрока на BTN может быть один баббл фактор, а у него против вас — совсем другой.
		h4 Пример расчета BF
		p Основополагающий принцип ICM заключается в том, что когда мы вкладываем фишки в виде турнирного капитала в банк, мы не выигрываем столько капитала, сколько теряем. Сумма, которую мы выиграем в эквити, никогда не будет такой большой, как мы выиграем в фишках из-за того, что в турнирах есть шкала выплат.

		p Возьмем пример игры с бай-ином в $100 и 10 человек со стеками в 1000 и призовыми выплатами $500/$300/$200. Нет рейка или анте в этом примере, блаинды 50/100.
		table.poker
			thead
				tr
					th место
					th фишки
					th турнирное эквити
			tbody
				tr
					td 1
					td 1000
					td $100
				tr
					td 2
					td 1000
					td $100
				tr
					td 3
					td 1000
					td $100
				tr
					td 4
					td 1000
					td $100
				tr
					td 5
					td 1000
					td $100
				tr
					td 6
					td 1000
					td $100
				tr
					td 7
					td 1000
					td $100
				tr
					td 8
					td 1000
					td $100
				tr
					td 9
					td 1000
					td $100
				tr
					td 10
					td 1000
					td $100
		p Предположим большой и маленький блаинды пошли all-in. И победил большой блаинд. Как измениться наша таблица?
		table.poker
			thead
				tr
					th место
					th фишки
					th турнирное эквити
			tbody
				tr
					td 1
					td 2000
					td $184.44
				tr
					td 2
					td 1000
					td $101.94
				tr
					td 3
					td 1000
					td $101.94
				tr
					td 4
					td 1000
					td $101.94
				tr
					td 5
					td 1000
					td $101.94
				tr
					td 6
					td 1000
					td $101.94
				tr
					td 7
					td 1000
					td $101.94
				tr
					td 8
					td 1000
					td $101.94
				tr
					td 9
					td 1000
					td $101.94
				tr
					td 10
					td 0
					td 0
					
		p Игрок 10 потерял $100, т.к. выбыл из турнира. Игрок 1, который выйграл раздачу заработал $84.44, а не $100. Т.к. часть потеренного эквити от 10 игрока распределилось по оставшимся игрокам, которые даже не принимали участие в раздаче. Они заработали по $1.94. Важный вывод, что те, кто сделали Fold в этой раздаче стали ближе к призам и заработали турнироное эквити. Игрок 1 рисковал $100, а выйграл $84.44. Еще один важный вывод, что выигрываем мы всегда меньше эквити, чем проигрываем. Потому, что если мы выйграем все(10000) фишки турнира, то мы не получим весь призовой фонд турнира, а получим только приз за первое место. В нашем примере это $500. Если говорить про цену одной фишки. То чем стек больше, чем средний, тем стоимость фишки меньше первоначальной. И наборот, чем стек меньше среднего, тем фишка ценнее начальной. Т.е. в конце турнира одна фишка будет стоить $0.05, а в начале она стоила $0.1
		p BF = $EVlost/$EVwin
		p В нашем примере это будет $100/$84.44 = 1.18
		p Когда посчитан Bubble Factor можно сделать простой расчет для необходимого колл эквити:
		p EqCall = BF / (BF + 1)
		p В нашем примере: 1.18 / (1.18 + 1) = 0.54 = 54%
		p Так же есть понятие Risk Premium - это проценты, которые нужно добавить к ChipEV, чтобы получить icmEV
		p В нашем примере  RP = 54% - 50% = 4%
		
		h4 От чего зависит Bubble Factor?
		p Поскольку BF измеряет ICM давление, то он зависит от:
		ol
			li Структуры призовых выплат
			li Стадии турнира
			li Размера стэков игроков
