extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Ссылки по теме: Казино
	article.grid-container
		ol
			li Казино
				ol
					li Покерные серии турниров
						ol
							+mli("en", "out", "https://www.wsop.com/", "wsop.com", "Расписание серий: WSOP, WSOPC. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://www.worldpokertour.com/", "worldpokertour.com", "Расписание серий: WPT. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://www.rungood.com/", "rungood.com", "Расписание серии Rungood. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://msptpoker.com/", "msptpoker.com", "Расписание серии MSPT. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://moneymakerpt.com/", "moneymakerpt.com", "Расписание серии MoneyMaker pokrt tour. Результаты, рейтинги, фотографии.", "")
							
							+mli("en", "out", "https://www.pokerstarslive.com/", "pokerstarslive.com", "Серии от PokerStars.", "")
							+mli("en", "out", "https://www.pokeratlas.com/", "PokerAtlas.com", "Все расписания в одном месте.", "")
														
					+mli("en", "out", "https://www.venetianlasvegas.com/casino/poker.html", "Venetian LV, NV", "Сотрудничает с MSPT", "")
					+mli("en", "out", "https://www.wynnlasvegas.com/casino/poker", "Wynn LV, NV", "Сотрудничает с WPT", "")
					+mli("en", "out", "https://aria.mgmresorts.com/en/casino/poker.html", "Aria LV, NV", "", "")
					+mli("en", "out", "https://www.caesars.com/horseshoe-hammond/casino", "Horseshoe Hammond, IN", "Chicago", "")
					+mli("en", "out", "https://www.caesars.com/grand-victoria-casino/casino", "Grand Victoria Casino, IL", "Chicago", "")
					+mli("en", "out", "https://www.caesars.com/horseshoe-tunica/casino/poker-room/tournaments", "Horseshoe Tunica, Mississippi", "", "")
					+mli("en", "out", "https://www.caesars.com/harrahs-pompano-beach/casino/poker-room/tournaments", "harrahs pompano beach, FL", "", "")
					+mli("en", "out", "https://harrahspompanopoker.com/", "harrahs pompano beach", "blog", "")
					+mli("en", "out", "https://www.caesars.com/horseshoe-st-louis", "Horseshoe St Louis", "сеть Caesars(WSOP)", "")
					+mli("en", "out", "https://www.hollywoodcasinostlouis.com/casino/poker", "Hollywood Casino St Louis", "сеть Penn. Серии: MSPT, Rungood", "")
					+mli("en", "out", "https://thelodgepokerclub.com/", "The Lodge PokerClub", "Texas", "")
					+mli("en", "out", "https://thereservepoker.com/", "TheReservePoker", "Видео столы. Транслируют и турниры. 5105 Glendale Ave, Toledo OH,", "")
					+mli("en", "out", "https://runaces.com/", "runaces.com, Columbus,MN", "Серии: MSPT", "")
					+mli("en", "out", "https://www.riversidecasinoandresort.com/tournaments.html", "riversidecasinoandresort, Riverside, IOWA", "Серии: MSPT", "")
					+mli("en", "out", "https://firekeeperscasino.com/casino/games/poker/", "FireKeepersCasino, Battle Creek, Michigan", "Серии: MSPT", "")
					+mli("en", "out", "https://www.grandfallscasinoresort.com/casino-poker.html", "GrandFallsCasinoResort.com, South Dakota", "Серии: MSPT", "")
					+mli("en", "out", "https://texascardhouse.com/", "texascardhouse.com", "Видео трансляции.", "")
					+mli("en", "out", "https://kardklubtx.com/", "kard klubtx", "Видео трансляции.", "")
					+mli("en", "out", "https://mgmgrand.mgmresorts.com/en/casino/poker-tables.html", "MGM Grand, Las Vegas, NV", "Структура ежедневных турниров плохая.", "")
					