extends ../layouts/poker_layout.pug

block content
	h2.font-effect-shadow-multiple Links casinos: Miami
	article.grid-container
		ol
			+mli("en", "out", "https://pokeratlas.com/poker-rooms/miami-ft-lauderdale-hollywood-fl", "PokerAtlas", "Miami, Ft. Lauderdale & S. Florida Poker Rooms and Tournament Listings", "")
			
		table
			thead
				th State
				th 
				th City
				th Name 
				th Address
				th Net
				th Link
				th Atlas<i class="fa-solid fa-link"></i>
				th Map<i class="fa-solid fa-link"></i>
			tbody
				tr
					td FL
					td 
						img(src="images/SeminoleHardRock.jpg" width="200")
					td Hollywood
					td Seminole Hard Rock Hollywood
					td 1 Seminole Way, Davie, FL 33314
					td Unity
					td 
						a(href="https://www.seminolehardrockpokeropen.com/") 
							i(class="fa-solid fa-up-right-from-square")
					td 
						a(href="https://pokeratlas.com/poker-room/hard-rock-hollywood-ft-lauderdale") 
							i(class="fa-solid fa-up-right-from-square")
					td 
						a(href="https://maps.app.goo.gl/TBKEX9Hqhf85E1qs9") 
							i(class="fa-solid fa-up-right-from-square")
				tr
					td FL
					td 
						img(src="images/PalmBeach.jpg" width="200")
					td West Palm Beach
					td Palm Beach Kennel Club
					td 1111 N. Congress Ave., West Palm Beach, FL 33409
					td PBKC(Palm Beach Kennel Club) Players Club Rewards
					td 
						a(href="https://pbkennelclub.com/")
							i(class="fa-solid fa-up-right-from-square")
					td 
						a(href="https://pokeratlas.com/poker-room/palm-beach-kc-west-palm-beach")
							i(class="fa-solid fa-up-right-from-square")
					
					td 
						a(href="https://maps.app.goo.gl/soDpKR8DizCXKXJJA")
							i(class="fa-solid fa-up-right-from-square")
				tr
					td FL
					td 
						img(src="images/HarrasPompanoBeach.png" width="200")
					td Ft. Lauderdale & Pompano Beach
					td Harrah's Pompano Beach
					td 777 Isle of Capri Circle, Pompano Beach, FL 33069
					td Caesars
					td 
						a(href="https://www.caesars.com/harrahs-pompano-beach/casino/wsop-poker-room")
							i(class="fa-solid fa-up-right-from-square")
					td 
						a(href="https://pokeratlas.com/poker-room/harrahs-pompano-pompano-beach")
							i(class="fa-solid fa-up-right-from-square")
					
					td 
						a(href="https://maps.app.goo.gl/ZBTUxfy53mstYzZK6")
							i(class="fa-solid fa-up-right-from-square")
				tr
					td FL
					td 
						img(src="images/SeminoleCoconutCreek.jpg" width="200")
					td Ft. Lauderdale & Pompano Beach
					td Seminole Coconut Creek
					td 5550 Northwest 40th Street, Coconut Creek, FL 33073
					td Seminole Wild Card
					td 
						a(href="https://casino.hardrock.com/coconut-creek/casino/poker")
							i(class="fa-solid fa-up-right-from-square")
					td 
						a(href="https://pokeratlas.com/poker-room/seminole-coconut-crk-coconut-creek")
							i(class="fa-solid fa-up-right-from-square")
					
					td 
						a(href="https://maps.app.goo.gl/xJxk3NU2TzJLJGWF9")
							i(class="fa-solid fa-up-right-from-square")
				tr
					td FL
					td 
						img(src="images/.jpg" width="200")
					td 
					td 
					td 
					td 
					td 
						a(href="https://www.hollywoodcasinostlouis.com/casino/poker")
							i(class="fa-solid fa-up-right-from-square")
					td 
						a(href="https://www.pokeratlas.com/poker-room/hollywood-st-louis-maryland-heights")
							i(class="fa-solid fa-up-right-from-square")
					
					td 
						a(href="https://maps.app.goo.gl/3ePmTK7w8GgLvzGo8")
							i(class="fa-solid fa-up-right-from-square")