extends ../layouts/poker_layout.pug

block content
	h2.font-effect-shadow-multiple Ссылки по теме: Казино
	article.grid-container
		ol
			li Казино
				ol
					li Покерные серии турниров
						ol
							+mli("en", "out", "https://www.wsop.com/", "wsop.com", "Расписание серий: WSOP, WSOPC. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://www.worldpokertour.com/", "worldpokertour.com", "Расписание серий: WPT. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://www.rungood.com/", "rungood.com", "Расписание серии Rungood. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://msptpoker.com/", "msptpoker.com", "Расписание серии MSPT. Результаты, рейтинги, фотографии.", "")
							+mli("en", "out", "https://moneymakerpt.com/", "moneymakerpt.com", "Расписание серии MoneyMaker pokrt tour. Результаты, рейтинги, фотографии.", "")
							
							+mli("en", "out", "https://www.pokerstarslive.com/", "pokerstarslive.com", "Серии от PokerStars.", "")
							+mli("en", "out", "https://www.pokeratlas.com/", "PokerAtlas.com", "Все расписания в одном месте.", "")
							li Las Vegas
								ol
									+mli("en", "out", "https://www.venetianlasvegas.com/resort/casino/poker/deepstack-extravaganza-poker-tournament.html", "Venetian LV, NV", "DeepStack Extravaganza Poker Series. DeepStack Showdown Poker Series", "")
									+mli("en", "out", "https://www.wynnlasvegas.com/casino/poker", "Wynn LV, NV", "Wynn Fall Classic, WPT World Championship", "")

					+mli("en", "out", "https://www.venetianlasvegas.com/casino/poker.html", "Venetian LV, NV", "Сотрудничает с MSPT", "")
				
					+mli("en", "out", "https://www.wynnlasvegas.com/casino/poker", "Wynn LV, NV", "Сотрудничает с WPT", "")
					+mli("en", "out", "https://aria.mgmresorts.com/en/casino/poker.html", "Aria LV, NV", "", "")
					+mli("en", "out", "https://www.caesars.com/horseshoe-hammond/casino", "Horseshoe Hammond, IN", "Chicago", "")
					+mli("en", "out", "https://www.caesars.com/grand-victoria-casino/casino", "Grand Victoria Casino, IL", "Chicago", "")
					+mli("en", "out", "https://www.caesars.com/horseshoe-tunica/casino/poker-room/tournaments", "Horseshoe Tunica, Mississippi", "", "")
					+mli("en", "out", "https://www.caesars.com/harrahs-pompano-beach/casino/poker-room/tournaments", "harrahs pompano beach, FL", "", "")
					+mli("en", "out", "https://harrahspompanopoker.com/", "harrahs pompano beach", "blog", "")
					+mli("en", "out", "https://www.caesars.com/horseshoe-st-louis", "Horseshoe St Louis", "сеть Caesars(WSOP)", "")
					+mli("en", "out", "https://www.hollywoodcasinostlouis.com/casino/poker", "Hollywood Casino St Louis", "сеть Penn. Серии: MSPT, Rungood", "")
					+mli("en", "out", "https://thelodgepokerclub.com/", "The Lodge PokerClub", "Texas", "")
					+mli("en", "out", "https://thereservepoker.com/", "TheReservePoker", "Видео столы. Транслируют и турниры. 5105 Glendale Ave, Toledo OH,", "")
					+mli("en", "out", "https://runaces.com/", "runaces.com, Columbus,MN", "Серии: MSPT", "")
					+mli("en", "out", "https://www.riversidecasinoandresort.com/tournaments.html", "riversidecasinoandresort, Riverside, IOWA", "Серии: MSPT", "")
					+mli("en", "out", "https://firekeeperscasino.com/casino/games/poker/", "FireKeepersCasino, Battle Creek, Michigan", "Серии: MSPT", "")
					+mli("en", "out", "https://www.grandfallscasinoresort.com/casino-poker.html", "GrandFallsCasinoResort.com, South Dakota", "Серии: MSPT", "")
					+mli("en", "out", "https://texascardhouse.com/", "texascardhouse.com", "Видео трансляции.", "")
					+mli("en", "out", "https://kardklubtx.com/", "kard klubtx", "Видео трансляции.", "")
					+mli("en", "out", "https://mgmgrand.mgmresorts.com/en/casino/poker-tables.html", "MGM Grand, Las Vegas, NV", "Структура ежедневных турниров плохая.", "")
					+mli("en", "out", "https://luckyladyla.com/tournaments/", "lucky lady LA", "Это Hustler Casino Live Tournaments.", "")
		table
			thead
				th State
				th City
				th Name 
				th Address
				th Net
				th Link
				th Map link
			tbody
				tr
					td MO
					td St. Louis
					td Horseshoe St. Louis
					td 999 N. 2nd Street, St. Louis, MO, 63102
					td Caesar
					td 
						a(href="https://www.caesars.com/horseshoe-st-louis") >>
					td 
						a(href="https://maps.app.goo.gl/LeA5W8G4nFpUpdBKA") >>
				tr
					td MO
					td Maryland Heights
					td Hollywood STL Poke
					td 777 Casino Center Drive, Maryland Heights, MO, 63043
					td Penn
					td 
						a(href="https://www.hollywoodcasinostlouis.com/casino/poker") >>
					td 
						a(href="https://maps.app.goo.gl/3ePmTK7w8GgLvzGo8") >>
				tr
					td MO
					td St. Charle
					td Ameristar St. Charles
					td One Ameristar Blvd, St.Charles, MO, 63301
					td BOYD
					td 
						a(href="https://ameristarstcharles.boydgaming.com/play/poker-room") >>
					td 
						a(href="https://maps.app.goo.gl/CNMror73udrjxtq76") >>
				tr
					td IN
					td Chicago, Hammond 
					td Horseshoe Hammond Casino
					td 777 Casino Center Dr, Hammond, IN 46320
					td Caesar
					td 
						a(href="https://www.caesars.com/horseshoe-hammond/casino") >>
					td 
						a(href="https://maps.app.goo.gl/bHbyBRSnF6G52Nxw8") >>
				tr
					td IL
					td Chicago, Elgin
					td Grand Victoria Casino
					td 250 S. Grove Avenue Elgin, IL 60120
					td Caesar
					td 
						a(href="https://www.caesars.com/grand-victoria-casino/casino") >>
					td 
						a(href="https://maps.app.goo.gl/iqEhrwd3SYt6dAnX8") >>
				tr
					td IL
					td Chicago, Des Plaines
					td Rivers Casino Des Plaines
					td 3000 S River Rd, Des Plaines, IL, 60018
					td 
					td 
						a(href="https://www.riverscasino.com/desplaines/casino/poker-room") >>
					td 
						a(href="https://maps.app.goo.gl/p9hGjNRjHTctZo5U7") >>
				tr
					td IN
					td Elizabeth
					td Caesars Southern Indiana
					td 11999 Casino Center Drive SE, Elizabeth, IN, 47117
					td Caesar
					td 
						a(href="https://www.caesars.com/caesars-southern-indiana/casino") >>
					td 
						a(href="https://maps.app.goo.gl/FvNGUbWuTaUykjbs6") >>
				tr
					td MO
					td Cape Girardeau
					td Century Casino Cape Girardeau
					td 777 N. Main St., Cape Girardeau, MO, 63701
					td 
					td 
						a(href="https://www.cnty.com/cape-girardeau/casino/poker-room") >>
					td 
						a(href="https://maps.app.goo.gl/PmyxC9HEcQHGXDGg9") >>
				tr
					td IN
					td 
					td Terre Haute Casino Resort
					td 4500 E Margaret Dr, Terre Haute, IN, 47803
					td Churchill Downs Incorporated
					td 
						a(href="https://www.terrehautecasino.com/gaming/poker-room/") >>
					td 
						a(href="https://maps.app.goo.gl/JsNW3PSzJkY3NXqp9") >>
				tr
					td MO
					td Kansas City
					td Harrah's Kansas City
					td 1 Riverboat Drive, Kansas City, MO, 64116
					td 
					td 
						a(href="") >>
					td 
						a(href="") >>
				tr
					td 
					td 
					td 
					td 
					td 
					td 
						a(href="") >>
					td 
						a(href="") >>
				tr
					td 
					td 
					td 
					td 
					td 
					td 
						a(href="") >>
					td 
						a(href="") >>