extends ../layouts/html_layout.jade

block content
	h2.font-effect-shadow-multiple Ссылки по теме: спортивные покер
	article.grid-container
		ol
			li
				| Статьи
				ol
					+mli("en", "out", "https://www.pokerstrategy.com/strategy/various-poker/texas-holdem-probabilities/", "pokerstrategy.com", "Вероятности разных покерных событий", "book")
					+mli("en", "out", "https://en.wikipedia.org/wiki/Poker_probability", "", "Вероятности разных покерных событий", "wikipedia")
					+mli("en", "out", "https://www.datacamp.com/tutorial/statistics-python-tutorial-probability-1", "", "Poker Probability and Statistics with Python", "")
					
					+mli("en", "out", "https://www.datacamp.com/tutorial/python-probability-tutorial", "", "Analyzing Poker Hands with Python", "")
					+mli("en", "out", "https://dev.to/rainleander/create-a-simple-5-card-draw-poker-game-in-python-with-asyncio-2ifh", "dev.to", "Create a Simple 5-Card Draw Poker Game in Python with Asyncio", "") 
					+mli("en", "out", "https://www.espn.com/espn/poker/columns/story?columnist=bluff_magazine&id=2817110", "", "G-Bucks", "")
					+mli("en", "out", "https://www.thepokerbank.com/strategy/mathematics/", "thepokerbank.com", "Mathematics", "")
					+mli("en", "out", "https://www.thepokerbank.com/videos/wilcox/articles/4betting-mathematics/", "thepokerbank.com", "4betting mathematics", "")
			
			li <u>ICM Independent Chip Model</u>
				ol
					+mli("en", "out", "https://en.wikipedia.org/wiki/Independent_Chip_Model", "", "Independent Chip Model", "wikipedia")
					+mli("en", "out", "https://www.holdemresources.net/blog/high-accuracy-mtt-icm/", "holdemresources.net", "ICM Calculations For Large Fields", "")
					
					+mli("en", "out", "https://www.holdemresources.net/icmcalculator", "holdemresources.net", "ICMcalculator", "")
					+mli("en", "out", "https://www.icmizer.com/icmcalculator/", "icmizer.com", "ICMcalculator", "")
					+mli("en", "out", "https://icmcalculator.com/", "icmcalculator.com", "ICMcalculator", "")
					+mli("en", "out", "https://www.gipsyteam.ru/tools/icm-calculator", "gipsyteam.ru", "ICMcalculator", "")
					+mli("en", "out", "https://github.com/aidanf/SimpleICM/blob/master/model.py", "", "python code", "github")
					
			li Теория
				ol
					+mli("en", "out", "http://suffe.cool/poker/evaluator.html", "", "Cactus Kev's Poker Hand Evaluator", "")
					+mli("en", "out", "https://colab.research.google.com/github/norvig/pytudes/blob/main/ipynb/poker.ipynb", "Peter Norvig", "Poker: Ranking Hands", "ipynb")
					+mli("en", "out", "https://www.holdemresources.net/blog/card-bunching-effects/", "holdemresources.net", "Влияние сброшенных до вас карт, на диапазоны и стратегию.", "")
					+mli("en", "out", "https://en.wikipedia.org/wiki/Effective_hand_strength_algorithm", "", "Effective hand strength algorithm", "wikipedia")
			li Python библиотеки
				ol
					+mli("en", "out", "https://github.com/SirRender00/texasholdem", "SirRender00", "texasholdem", "github")
					+mli("en", "out", "https://github.com/y0sh12/GatorHoldEm", "y0sh12", "GatorHoldEm. Используют AI. Используют HandRanks.dat", "github")
					
					+mli("en", "out", "https://github.com/johnsoong216/PokerOddsCalc", "johnsoong216", "PokerOddsCalc", "github")
					+mli("en", "out", "https://github.com/elleklinton/PiedPoker", "elleklinton", "PiedPoker", "github")
					+mli("en", "out", "https://ishikota.github.io/PyPokerEngine/", "", "PyPokerEngine", "github")
					+mli("en", "out", "https://github.com/uoftcprg/pokerkit", "", "PokerKit", "github")
					+mli("en", "out", "https://github.com/Sondar4/poker-sim", "", "Poker simulator", "github")
					+mli("en", "out", "https://github.com/kuco23/pokerlib/", "", "pokerlib", "github")
					+mli("en", "out", "https://github.com/gabhijit/pycon/tree/master/2019/poker", "gabhijit", "poker", "github")
					+mli("en", "out", "https://github.com/pokerregion/poker", "pokerregion", "poker. Был хороший проект. Использовались диапазоны.", "github", "old")
					+mli("en", "out", "https://github.com/annaymj/Python-Code/blob/master/Poker.py", "", "Наивная студенческая реализация", "github", "old")
					+mli("en", "out", "https://github.com/tangentforks/TwoPlusTwoHandEvaluator", "tangentforks", "TwoPlusTwoHandEvaluator", "github")
					+mli("en", "out", "https://github.com/petekanev/Bluffasaurus", "", "Bluffasaurus C#", "github")
					+mli("en", "out", "https://github.com/glpcc/PokerPy", "", "PokerPy", "github")
			li Сайты
				ol
					+mli("en", "out", "https://www.holdemresources.net", "holdemresources.net", "Есть бесплатные инструменты. Есть пробный период в 14 дней.", "")
					+mli("en", "out", "https://www.pokerstrategy.com", "pokerstrategy.com", "", "")
