extends ../layouts/code_layout.jade

block content

	h2.font-effect-shadow-multiple MDF и Alpha
	article.grid-container
		div.grid-x
			div(class="cell small-2")
			
			div(class="cell small-8")
				h4 Что значит показатель MDF?
				p MDF(минимальная частота защиты) - это показатель, который говорит о том, как часто вам нужно делать колл, чтобы руки с 0% эквити оппонента были безразличны между блефом и чеком.
				p MDF просто гарантирует, что ваш оппонент не сможет выгодно блефовать с любыми двумя картами. Вам нужно защищаться с минимальной частотой, чтобы не попасть под тотальный блеф.
				p MDF - это расчет риска/вознаграждения, направленный на то, чтобы сделать блефы оппонента 0EV.
				p Формула для минимальной частоты защиты проста:
				|\begin{equation}
				| \bbox[5px, border: 2px solid grey]{ MDF = 1 - \frac{R}{R+B}}  \\
				| \label{eq:MDF}
				|\end{equation}
				ul
					li \(R\) - cумма, которой вы рискуете при блефе
					li \(B\) - сумма, которую вы получите, если соперник сбросит
				h4 Что значит показатель Alpha(α)?
				p Alpha(α) показывает, как часто оппонент должен фолдить, чтобы ваши блефы с 0% эквити были хотя бы безубыточными.
				|\begin{equation}
				| \bbox[5px, border: 2px solid grey]{Alpha (α) = \frac{R}{R+B}}  \\
				| \label{eq:Alpha}
				|\end{equation}
				ul
					li \(R\) - cумма, которой вы рискуете при блефе
					li \(B\) - сумма, которую вы получите, если соперник сбросит
				|\begin{equation}
				| Alpha = 1 – MDF 
				|\end{equation}
				|\begin{equation}
				| MDF = 1 – Alpha
				| \label{eq:MDF_Alpha}
				|\end{equation}

				
				p Еще одна формула, которую вы можете использовать, учитывает размер ставки и банка. Эта формула не работает с повышением ставки, она работает только для начальной ставки.
				|\begin{equation}
				| MDF = \frac{pot}{bet+pot} \\	
				|\end{equation}
				|\begin{equation}
				| Alpha (α) = \frac{bet}{bet + pot} \\	
				|\end{equation}
				ul
					li \(pot\) - размер банка
					li \(bet\) - размер ставки
				br
				h4 Пример расчета №1
				div Вы поставили $60 в банк размером $100. Найдите Alpha (α) и MDF.

				div Риск(R) = $60 (Вы рискуете $60 на блефе).
				div Вознаграждение(B) = $100 (сумма, которую вы получите, если соперник сбросит).
				div По формуле \(\eqref{eq:Alpha}\), получаем
					|\begin{equation*}
					| Alpha (α) = \frac{$60}{$100 + $60} = 37,5\% \\	
					|\end{equation*}

				div Чтобы ваш блеф был безубыточным, оппонент должен фолдить не менее 37,5% случаев.
				div По формуле \(\eqref{eq:MDF_Alpha}\), получаем MDF = 1 - 37,5%, что составляет 62,5%. Таким образом, соперник должен защищать как минимум 62,5% своего диапазона, чтобы ваш блеф стал безубыточным. Если он защищается реже, ваш блеф будет прибыльным, а если он защищается чаще, ваш блеф будет убыточным.
				br
				h4 Пример расчета №2
				div Вы ставите $60 в банк размером $100, и ваш оппонент повышает до $200. Каковы ваше MDF и его Alpha?

				div Ваш оппонент рискнул $200, чтобы выиграть банк в размере ($100 + $60).

				div По формуле \(\eqref{eq:Alpha}\), получаем
					|\begin{equation*}
					| Alpha (α) = \frac{$200}{$200 + $160} = 55,5\% \\	
					|\end{equation*}
				div По формуле \(\eqref{eq:MDF_Alpha}\), получаем MDF = 1 - 55,5%, что составляет 44,5%. 

				div Таким образом, вам нужно защитить 44,5% своего диапазона ставок от повышения, чтобы не дать сопернику возможность выгодно блефовать с любыми двумя картами. И наоборот, сопернику нужно, чтобы вы сфолдили по крайней мере 55,5 % своего диапазона ставок, чтобы получить прибыльный чистый блеф.
				br
				h4 Расчеты ожидаемой стоимости
				div MDF и Alpha ищут только точку безубыточности. Мы можем рассчитать фактическую прибыльность чистого блефа, используя простую формулу ожидаемой стоимости. Это также дает нам возможность оценить диапазон прибыльности в зависимости от того, насколько широким будет колл.
				div Ожидаемая ценность чистого блефа может быть записана следующим образом:
					|\begin{equation}
					| \bbox[10px, border: 2px solid grey]{EV (Bluff) = (Fold\% \times Pot)–(Call\% \times Bet)} \\	
					| \label{eq:EV}
					|\end{equation} 
				ul
					li \(Pot\) - размер банка
					li \(Bet\) - размер ставки
					li \(Fold\%\) - фолд в %
					li \(Call\%\) - колл в %
				div Это работает, потому что банк - это то, сколько мы получаем, когда соперники фолдят, а наша ставка - то, сколько мы теряем, когда соперники коллируют. В этой формуле мы считаем, что наш блеф всегда проигрывает при колле.
				br
				h4 Пример расчета №3
				div Мы овербетим 125% банка с чистым блефом на ривере. Наш оппонент коллирует 40% своего диапазона. Для расчета будем считать, что банк составляет $100.
				div По формуле \(\eqref{eq:EV}\), получаем EV (блеф) = (60% x $100) - (40% x $125) = $10
				div Таким образом, EV этого блефа составляет $10, потому что наш оппонент оверфолдит!
				div Так как часто соперники должны фолдить, чтобы наш блеф стоил $0?
				div По формуле \(\eqref{eq:Alpha}\), получаем  Alpha = 125/225 = 55,5%
				div Другими словами, если соперники будут защищать 44,5% своего диапазона, этот блеф с овербетом будет безубыточным. Но поскольку в нашем примере соперник оверфолдит, он становится прибыльным!
				br
				h4 Ограничения вышеописанной модели MDF
				div <strong>Предполагается, что чек в позиции не имеет стоимости(EV), что в реальной игре часто не так.</strong> 
				br
				h4 Когда чек в позиции имеет стоимость(EV)
				div Когда у руки которую игрок хочет превратить в блеф есть стоимость(EV) при игре чеком, то у защищающегося задача сделать свой колл индиферентным(безразличным) не к 0, как в раньше, а к стоимости чека!
				br
				h4 Пример расчета №4
				div Соперник делает ставку в размере банка в позиции на ривере. Его блефы будут иметь 20% эквити в случае чека. Как широко вы должны защищаться, чтобы сделать его блефы безразличными?
				div Ваша цель - сделать EV блефа равным EV чека. Мы знаем, что EV чека составляет 20% банка.
				div EV блефа = 0,2 x (Pot) = (Fold% x Pot) - (Call% x Bet)
				div заменим Fold% = 1 - Call%, и Bet = Pot (т.к. ставка в размере банка)
					|\begin{equation*}
					| 0,2 \times Pot = ((1 - Call\%) \times Pot) - (Call\% \times Pot) \\
					|\end{equation*}
					|\begin{equation*}
					| 0,2 = \frac {((1 - Call\%) \times Pot) - (Call\% \times Pot)} {Pot} \\
					|\end{equation*}
					|\begin{equation*}
					| (1 - Call\%) - Call\% = 0,2\\
					|\end{equation*}
					|\begin{equation*}
					| Call\% = 0,4 = 40\% \\
					|\end{equation*}
				div Если бы это был блеф с 0% эквити, мы бы коллировали 50%. Но поскольку их блефы имеют ценность, мы можем перефолдить и защищать только 40% MDF. Другими словами, мы можем дать соперникам прибыльный блеф, потому что их блефы имели эквити, как чек.
				div Наша цель - сделать так, чтобы их BluffEV = CheckEV
				div Check EV = 20% Pot
				div Bluff EV = 20% Pot (если мы недозащищаемся)
				
				br
				h4 Защита с большей частотой, чем MDF
				br
				h4 Защита с меньшей частотой, чем MDF
				br
				h4 Ссылки по теме
				ol
					+mli("en", "out", "https://blog.gtowizard.com/mdf-alpha/", "blog.gtowizard.com", "MDF & Alpha", "icon")
					+mli("en", "out", "https://upswingpoker.com/minimum-defense-frequency-vs-pot-odds/", "upswingpoker.com", "Minimum Defense Frequency vs Pot Odds", "icon")
					+mli("en", "out", "https://upswingpoker.com/glossary/minimum-defense-frequency-mdf/", "upswingpoker.com", "определение MDF", "icon")
					+mli("en", "out", "https://www.pokercode.com/blog/mdf-in-poker", "pokercode.com", "MDF in poker", "icon")
					
