extends ../layouts/poker_layout.pug
	
block title
	title= site_title + " Omaha Hi/Lo"
	
block content
	h2.font-effect-shadow-multiple Omaha Hi/Lo
	article.grid-container
		div.grid-x
			div(class="cell small-6")
				ol
					+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/", "twoplustwo.com", "Forum", "")
					+mli("en", "out", "https://www.o8poker.com/index.php", "www.o8poker.com", "Omaha Hi/Lo", "site")
					+mli("en", "out", "https://www.omahaplanet.com/", "www.omahaplanet.com", "Omaha Hi and Omaha Hi/Lo", "site")
					+mli("en", "my", "Limit8.html", "", "Limit Omaha Hi/Lo. Cash and tournament.", "site")
					+mli("en", "my", "PotLimit8.html", "", "Pot Limit Omaha Hi/Lo. Cash and tournament.", "site")
					+mli("en", "my", "BigO.html", "", "BigO. Cash and tournament.", "site")
					
					li Статьи
						ol
							li Frank Jerome
								ol
									+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/flops-i-reprint-september-2012-a-1340406/", "Flops I", "reprint from September 2012", "")
									+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/flops-ii-reprint-october-2012-a-1340407/", "Flops II", "reprint from October 2012", "")
									+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/flops-iii-reprint-november-2012-a-1340408/", "Flops III", "reprint from November 2012", "")
									+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/flops-iv-reprint-december-2012-a-1340409/", "Flops IV", "reprint from December 2012", "")
									+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/blind-defense-101-article-written-december-2008-2-2-line-magazine-1161815/", "101", "Omaha-8 Blind Defense 101", "")
									+mli("en", "out", "https://forumserver.twoplustwo.com/44/omaha-8-a/buzz-o8-list-2-2-articles-links-threads-amp-archived-posts-etc-758301/", "list", "Buzz on O8: list of 2+2 articles + links to threads & archived posts, etc.", "")
							li Daniel Wolcott
								ol
									+mli("en", "out", "https://franknagaijr.blogspot.com/2009/04/going-deep-in-online-plo8-tournament.html", "PLO8 Tournament Article I", "", "")
									+mli("en", "out", "https://franknagaijr.blogspot.com/2009/06/article-2.html", "PLO8 Tournament Article II", "", "")
									+mli("en", "out", "https://franknagaijr.blogspot.com/2009/12/part-3.html", "PLO8 Tournament Article III", "", "")
							li PokerStrategy
								ol
									+mli("en", "out", "https://www.pokerstrategy.com/strategy/omaha-poker/plo-hi-lo-strategy-1/", "PLO8 Strategy I", "", "")
									+mli("en", "out", "https://www.pokerstrategy.com/strategy/omaha-poker/plo-hi-lo-strategy-2/", "PLO8 Strategy II", "", "")
									+mli("en", "out", "https://www.pokerstrategy.com/strategy/omaha-poker/plo-hi-lo-strategy-3/", "PLO8 Strategy III", "", "")
			div(class="cell small-6")
				img(src="omaha_hi_lo.jpeg" width=400)
			li Реплеи
				ol
					+mli("en", "out", "https://www.youtube.com/watch?v=gyi1Vkjiz_Q", "SCOOP 2019 | $2,100 NLO8 Event 16-H with shaundeeb/Old Time Gin/jutrack", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=vodTDjjP4A0", "SCOOP 2019 | $1,050 FLO8 Event 18-H with Lena900/RunGodLike/RuiNF", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=aDP80nK1Asc", "SCOOP 2019 | $2,100 HORSE Event 24-H with Naza114/nilsef/theNERDguy", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=CCsZy6W5_IY", "SCOOP 2019 | $1,050 PLO8 Event 33-H with shaundeeb/Perrymejsen/p0cket00", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=uJzR0lSIyWE", "SCOOP 2019 | $530 NLO8 Event 37-H: Final Table Replay", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=zXpSDeNlaOU", "SCOOP 2019 | $1,050 8-Game Event 41-H with Benny 'RunGodLike' Glaser", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=xE4j2-26Sls", "SCOOP 2019 | $1,050 HORSE Event 44-H: Final Table Replay", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=7sMmQmO8Dr0", "SCOOP 2019 | $530 PLO8 Event 48-H with Jerry 'Perrymejsen' Odeen", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=xE4j2-26Sls", "SCOOP 2019 | $1,050 HORSE Event 44-H: Final Table Replay", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=xE4j2-26Sls", "SCOOP 2019 | $1,050 HORSE Event 44-H: Final Table Replay", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=xE4j2-26Sls", "SCOOP 2019 | $1,050 HORSE Event 44-H: Final Table Replay", "", "youtube")
					+mli("en", "out", "https://www.youtube.com/watch?v=xE4j2-26Sls", "SCOOP 2019 | $1,050 HORSE Event 44-H: Final Table Replay", "", "youtube")



