extends ../layouts/poker_layout.pug

block content
	h2.font-effect-shadow-multiple Чарты открытия
	article.grid-container
		div.grid-x
			div(class="cell small-3")
			div(class="cell small-6")
				table.poker
					thead
						+poker_head("40-100 BB", "12,5%", "SB")
						tr
							th
								a(href="openraise_UTG_40_100bb.html") UTG
							th("colspan"=2)
								a(href="openraise_UTG1_40_100bb.html") UTG+1
							th("colspan"=2)
								a(href="openraise_UTG2_40_100bb.html") UTG+2
							th("colspan"=2)
								a(href="openraise_MP_40_100bb.html") MP/LJ
							th
								a(href="openraise_HJ_40_100bb.html") HJ
							th
								a(href="openraise_CO_40_100bb.html") CO
							th
								a(href="openraise_BU_40_100bb.html") BU
							th
								a(href="openraise_SB_40_100bb.html") SB
							th
							th
						tr
							th(colspan=13)  
					tbody
						+poker_tr('r1','AA','r1','AKs','r1',"AQs",'g1',"AJs",'g1',"ATs",'g1',"A9s",'g1',"A8s",'g1',"A7s",'g1',"A6s",'g1',"A5s",'g1',"A4s",'g1',"A3s",'g1',"A2s")
						+poker_tr('r1','AKo','r1','KK','r1',"KQs",'g1',"KJs",'g1',"KTs",'g1',"K9s",'g1',"K8s",'r2',"K7s",'r2',"K6s",'r2',"K5s",'r2',"K4s",'g2',"K3s",'g2',"K2s")
						+poker_tr('g1','AQo','g1','KQo','r1',"QQ",'g1',"QJs",'g1',"QTs",'g1',"Q9s",'g1',"Q8s",'r2',"Q7s",'r2',"Q6s",'r2',"Q5s",'r2',"Q4s",'g2',"Q3s",'g2',"Q2s")
						+poker_tr('g1','AJo','g1','KJo','r2',"QJo",'g1',"JJ",'g1',"JTs",'g1',"J9s",'r2',"J8s",'r2',"J7s",'b3',"J6s",'b3',"J5s",'b3',"J4s",'b3',"J3s",'b3',"J2s")
						+poker_tr('g1','ATo','r2','KTo','r2',"QTo",'r2',"JTo",'g1',"TT",'g1',"T9s",'g1',"T8s",'r2',"T7s",'r2',"T6s",'b3',"T5s",'b3',"T4s",'b3',"T3s",'b3',"T2s")
						+poker_tr('r2','A9o','r2','K9o','r2',"Q9o",'r2',"J9o",'r2',"T9o",'g1',"99",'g1',"98s",'r2',"97s",'r2',"96s",'g2',"95s",'b3',"94s",'b3',"93s",'b3',"92s")
						+poker_tr('r2','A8o','g2','K8o','g2',"Q8o",'g2',"J8o",'g2',"T8o",'g2',"98o",'g1',"88",'g1',"87s",'r2',"86s",'g2',"85s",'g2',"84s",'b3',"83s",'b3',"82s")
						+poker_tr('r2','A7o','b3','K7o','b3',"Q7o",'b3',"J7o",'b3',"T7o",'b3',"97o",'g2',"87o",'g1',"77",'r2',"76s",'r3',"75s",'r3',"74s",'g2',"73s",'b3',"72s")
						+poker_tr('r2','A6o','b3','K6o','b3',"Q6o",'b3',"J6o",'b3',"T6o",'b3',"96o",'b3',"86o",'b3',"76o",'g1',"66",'r2',"65s",'r3',"64s",'r3',"63s",'g2',"62s")
						+poker_tr('r2','A5o','b3','K5o','b3',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'b3',"65o",'g1',"55",'r3',"54s",'r3',"53s",'g2',"52s")
						+poker_tr('r2','A4o','b3','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'b3',"54o",'r2',"44",'r3',"43s",'b3',"42s")
						+poker_tr('r2','A3o','b3','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'r2',"33",'b3',"32s")
						+poker_tr('r2','A2o','b3','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'r2',"22")
			div(class="cell small-3")
				br
				br
				br
				br
				table.poker
					tr 
						td.r1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						td limp / 3bet
					tr
						td.r2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						td limp / call 
					tr
						td.r3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						td limp / 3bet bluff
					tr
						td.g1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						td open raise / call vs 3bet
					tr
						td.g2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						td open raise / fold vs 3bet
					tr
						td.b3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						td limp / fold vs 3bet
						
			img(src="openraising 100bb sb2.png")
