<ul class="tabs" data-tabs id="tabs2BB">
	<li class="tabs-title is-active"><a href="#2BBUTG" aria-selected="true">UTG</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBUTG1" href="#2BBUTG1">UTG+1</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBUTG2" href="#2BBUTG2">UTG+2</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBLoJack" href="#2BBLoJack">LoJack</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBHiJack" href="#2BBHiJack">HiJack</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBCutOff" href="#2BBCutOff">CutOff</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBButton" href="#2BBButton">Button</a></li>
	<li class="tabs-title"><a data-tabs-target="2BBSB" href="#2BBSB">SB</a></li>
</ul>
<div class="tabs-content" data-tabs-content="tabs2BB">
	div(class="tabs-panel is-active" id="2BBUTG")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "UTG")
				tr
					th(colspan=13) 71.3%, 22+ Kx+ Q2s+ Q4o+ J2s+ J7o+ T2s+ T6o+ <br>92s+ 96o+ 84s+ 86o+ 73s+ 75o+ 63s+ 65o 52s+ 54o 42s+ 
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'',"83s",'',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('g','A2o','g','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="2BBUTG1")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "UTG+1")
				tr
					th(colspan=13) 77.1%, 22+ Kx+ Q2s+ Q3o+ J2s+ J5o+ T2s+ T6o+ <br>92s+ 96o+ 82s+ 85o+ 73s+ 75o+ 62s+ 64o+ 52s+ 54o 42s+ 32s  
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'g',"83s",'g',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'g',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'g',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'g',"J5o",'',"T5o",'',"95o",'g',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'g',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','g',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'g',"32s")
				+poker_tr('g','A2o','g','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")
	
	div(class="tabs-panel" id="2BBUTG2")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "UTG+2")
				tr
					th(colspan=13) 78.6%, 22+ Qx+ J2s+ J4o+ T2s+ T6o+ 92s+ 96o+ <br>82s+ 85o+ 73s+ 75o+ 62s+ 64o+ 52s+ 54o 42s+
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'g',"83s",'g',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'g',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'g',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'g',"J5o",'',"T5o",'',"95o",'g',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'g',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'g',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','g',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('g','A2o','g','K2o','g',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="2BBLoJack")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "LoJack")
				tr
					th(colspan=13) 83.7%, 22+ Qx+ J2s+ J3o+ T2s+ T4o+ 92s+ 95o+ <br>82s+ 85o+ 72s+ 74o+ 62s+ 64o+ 52s+ 54o 42s+ 32s
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'g',"83s",'g',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'g',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'g',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'g',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'g',"J5o",'g',"T5o",'g',"95o",'g',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'g',"J4o",'g',"T4o",'',"94o",'',"84o",'g',"74o",'g',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','g',"Q3o",'g',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'g',"32s")
				+poker_tr('g','A2o','g','K2o','g',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="2BBHiJack")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "HiJack")
				tr
					th(colspan=13) 84.6%, 22+ Jx+ T2s+ T4o+ 92s+ 95o+ 82s+ 85o+ <br>72s+ 74o+ 62s+ 64o+ 52s+ 54o 42s+ 32s
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'g',"83s",'g',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'g',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'g',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'g',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'g',"J5o",'g',"T5o",'g',"95o",'g',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'g',"J4o",'g',"T4o",'',"94o",'',"84o",'g',"74o",'g',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','g',"Q3o",'g',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'g',"32s")
				+poker_tr('g','A2o','g','K2o','g',"Q2o",'g',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")


	div(class="tabs-panel" id="2BBCutOff")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "CutOff")
				tr
					th(colspan=13) 85.2%, 22+ Jx+ T2s+ T3o+ 92s+ 95o+ 82s+ 85o+ <br>72s+ 74o+ 62s+ 64o+ 52s+ 54o 42s+ 
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'g',"83s",'g',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'g',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'g',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'g',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'g',"J5o",'g',"T5o",'g',"95o",'g',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'g',"J4o",'g',"T4o",'',"94o",'',"84o",'g',"74o",'g',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','g',"Q3o",'g',"J3o",'g',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('g','A2o','g','K2o','g',"Q2o",'g',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="2BBButton")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "Button")
				tr
					th(colspan=13) 90.0%, 22+ Tx+ 92s+ 93o+ 82s+ 84o+ 72s+ 74o+ <br>62s+ 64o+ 52s+ 53o+ 42s+ 32s 
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'g',"J3s",'g',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'g',"T4s",'g',"T3s",'g',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'g',"94s",'g',"93s",'g',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'g',"84s",'g',"83s",'g',"82s")
				+poker_tr('g','A7o','g','K7o','g',"Q7o",'g',"J7o",'g',"T7o",'g',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'g',"73s",'g',"72s")
				+poker_tr('g','A6o','g','K6o','g',"Q6o",'g',"J6o",'g',"T6o",'g',"96o",'g',"86o",'g',"76o",'g',"66",'g',"65s",'g',"64s",'g',"63s",'g',"62s")
				+poker_tr('g','A5o','g','K5o','g',"Q5o",'g',"J5o",'g',"T5o",'g',"95o",'g',"85o",'g',"75o",'g',"65o",'g',"55",'g',"54s",'g',"53s",'g',"52s")
				+poker_tr('g','A4o','g','K4o','g',"Q4o",'g',"J4o",'g',"T4o",'g',"94o",'g',"84o",'g',"74o",'g',"64o",'g',"54o",'g',"44",'g',"43s",'g',"42s")
				+poker_tr('g','A3o','g','K3o','g',"Q3o",'g',"J3o",'g',"T3o",'g',"93o",'',"83o",'',"73o",'',"63o",'g',"53o",'',"43o",'g',"33",'g',"32s")
				+poker_tr('g','A2o','g','K2o','g',"Q2o",'g',"J2o",'g',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="2BBSB")
		table.poker
			thead
				+poker_head("2 BB", "12,5%", "SB")
				tr
					th(colspan=13) 100.0%, Any two

</div>