<ul class="tabs" data-tabs id="example-tabs">
	<li class="tabs-title is-active"><a href="#UTG" aria-selected="true">UTG</a></li>
	<li class="tabs-title"><a data-tabs-target="UTG1" href="#UTG1">UTG+1</a></li>
	<li class="tabs-title"><a data-tabs-target="UTG2" href="#UTG2">UTG+2</a></li>
	<li class="tabs-title"><a data-tabs-target="LoJack" href="#LoJack">LoJack</a></li>
	<li class="tabs-title"><a data-tabs-target="HiJack" href="#HiJack">HiJack</a></li>
	<li class="tabs-title"><a data-tabs-target="CutOff" href="#CutOff">CutOff</a></li>
	<li class="tabs-title"><a data-tabs-target="Button" href="#Button">Button</a></li>
	<li class="tabs-title"><a data-tabs-target="SB" href="#SB">SB</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
	div(class="tabs-panel is-active" id="UTG")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "UTG")
				tr
					th(colspan=13) 7.4%, TT+ ATs+ AJo+ KTs+ QJs
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'',"A9s",'',"A8s",'',"A7s",'',"A6s",'',"A5s",'',"A4s",'',"A3s",'',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'',"K9s",'',"K8s",'',"K7s",'',"K6s",'',"K5s",'',"K4s",'',"K3s",'',"K2s")
				+poker_tr('g','AQo','','KQo','g',"QQ",'g',"QJs",'',"QTs",'',"Q9s",'',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
				+poker_tr('g','AJo','','KJo','',"QJo",'g',"JJ",'',"JTs",'',"J9s",'',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
				+poker_tr('','ATo','','KTo','',"QTo",'',"JTo",'g',"TT",'',"T9s",'',"T8s",'',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'',"99",'',"98s",'',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'',"88",'',"87s",'',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'',"77",'',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
				+poker_tr('','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'',"66",'',"65s",'',"64s",'',"63s",'',"62s")
				+poker_tr('','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'',"55",'',"54s",'',"53s",'',"52s")
				+poker_tr('','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'',"44",'',"43s",'',"42s")
				+poker_tr('','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'',"33",'',"32s")
				+poker_tr('','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'',"22")

	div(class="tabs-panel" id="UTG1")
			table.poker
				thead
					+poker_head("20 BB", "12,5%", "UTG+1")
					tr
						th(colspan=13) 9.7%, 99+ ATs+ A5s AJo+ KTs+ KQo QTs+ JTs 
				tbody
					+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'',"A9s",'',"A8s",'',"A7s",'',"A6s",'g',"A5s",'',"A4s",'',"A3s",'',"A2s")
					+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'',"K9s",'',"K8s",'',"K7s",'',"K6s",'',"K5s",'',"K4s",'',"K3s",'',"K2s")
					+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'',"Q9s",'',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
					+poker_tr('g','AJo','','KJo','',"QJo",'g',"JJ",'g',"JTs",'',"J9s",'',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
					+poker_tr('','ATo','','KTo','',"QTo",'',"JTo",'g',"TT",'',"T9s",'',"T8s",'',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
					+poker_tr('','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'g',"99",'',"98s",'',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
					+poker_tr('','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'',"88",'',"87s",'',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
					+poker_tr('','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'',"77",'',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
					+poker_tr('','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'',"66",'',"65s",'',"64s",'',"63s",'',"62s")
					+poker_tr('','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'',"55",'',"54s",'',"53s",'',"52s")
					+poker_tr('','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'',"44",'',"43s",'',"42s")
					+poker_tr('','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'',"33",'',"32s")
					+poker_tr('','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'',"22")
	
	div(class="tabs-panel" id="UTG2")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "UTG+2")
				tr
					th(colspan=13) 11.3%, 44+ A9s+ A5s AJo+ KTs+ QTs+ JTs 
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'',"A8s",'',"A7s",'',"A6s",'g',"A5s",'',"A4s",'',"A3s",'',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'',"K9s",'',"K8s",'',"K7s",'',"K6s",'',"K5s",'',"K4s",'',"K3s",'',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'',"Q9s",'',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
				+poker_tr('g','AJo','','KJo','',"QJo",'g',"JJ",'g',"JTs",'',"J9s",'',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
				+poker_tr('','ATo','','KTo','',"QTo",'',"JTo",'g',"TT",'',"T9s",'',"T8s",'',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'g',"99",'',"98s",'',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'g',"88",'',"87s",'',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'g',"77",'',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
				+poker_tr('','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'g',"66",'',"65s",'',"64s",'',"63s",'',"62s")
				+poker_tr('','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'g',"55",'',"54s",'',"53s",'',"52s")
				+poker_tr('','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'g',"44",'',"43s",'',"42s")
				+poker_tr('','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'',"33",'',"32s")
				+poker_tr('','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'',"22")

	div(class="tabs-panel" id="LoJack")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "LoJack")
				tr
					th(colspan=13) 15.2%, 22+ A9s+ A5s ATo+ K9s+ KQo Q9s+ J9s+ T9s  
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'',"A8s",'',"A7s",'',"A6s",'g',"A5s",'',"A4s",'',"A3s",'',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'',"K8s",'',"K7s",'',"K6s",'',"K5s",'',"K4s",'',"K3s",'',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
				+poker_tr('g','AJo','','KJo','',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
				+poker_tr('g','ATo','','KTo','',"QTo",'',"JTo",'g',"TT",'g',"T9s",'',"T8s",'',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'g',"99",'',"98s",'',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'g',"88",'',"87s",'',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'g',"77",'',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
				+poker_tr('','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'g',"66",'',"65s",'',"64s",'',"63s",'',"62s")
				+poker_tr('','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'g',"55",'',"54s",'',"53s",'',"52s")
				+poker_tr('','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'g',"44",'',"43s",'',"42s")
				+poker_tr('','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="HiJack")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "HiJack")
				tr
					th(colspan=13) 17.6%, 22+ A8s+ A5s ATo+ K9s+ KJo+ Q9s+ QJo J9s+ T9s 98s
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'',"A7s",'',"A6s",'g',"A5s",'',"A4s",'',"A3s",'',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'',"K8s",'',"K7s",'',"K6s",'',"K5s",'',"K4s",'',"K3s",'',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
				+poker_tr('g','ATo','','KTo','',"QTo",'',"JTo",'g',"TT",'g',"T9s",'',"T8s",'',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'g',"99",'g',"98s",'',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'g',"88",'',"87s",'',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'g',"77",'',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
				+poker_tr('','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'g',"66",'',"65s",'',"64s",'',"63s",'',"62s")
				+poker_tr('','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'g',"55",'',"54s",'',"53s",'',"52s")
				+poker_tr('','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'g',"44",'',"43s",'',"42s")
				+poker_tr('','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")


	div(class="tabs-panel" id="CutOff")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "CutOff")
				tr
					th(colspan=13) 26.1%, 22+ A2s+ A8o+ K6s+ KTo+ Q8s+ QTo+ J8s+ JTo T8s+ 97s+ 87s 
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'',"K5s",'',"K4s",'',"K3s",'',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('g','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'g',"99",'g',"98s",'g',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('g','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'g',"88",'g',"87s",'',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'g',"77",'',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
				+poker_tr('','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'g',"66",'',"65s",'',"64s",'',"63s",'',"62s")
				+poker_tr('','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'g',"55",'',"54s",'',"53s",'',"52s")
				+poker_tr('','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'g',"44",'',"43s",'',"42s")
				+poker_tr('','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="Button")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "Button")
				tr
					th(colspan=13) 33.0%, 22+ Ax+ K5s+ KTo+ Q8s+ QTo+ J8s+ JTo T7s+ 97s+ 86s+ 76s 65s 
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'',"K4s",'',"K3s",'',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'',"Q7s",'',"Q6s",'',"Q5s",'',"Q4s",'',"Q3s",'',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'',"J7s",'',"J6s",'',"J5s",'',"J4s",'',"J3s",'',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'',"T6s",'',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('g','A9o','','K9o','',"Q9o",'',"J9o",'',"T9o",'g',"99",'g',"98s",'g',"97s",'',"96s",'',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('g','A8o','','K8o','',"Q8o",'',"J8o",'',"T8o",'',"98o",'g',"88",'g',"87s",'g',"86s",'',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('g','A7o','','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'',"87o",'g',"77",'g',"76s",'',"75s",'',"74s",'',"73s",'',"72s")
				+poker_tr('g','A6o','','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'g',"66",'g',"65s",'',"64s",'',"63s",'',"62s")
				+poker_tr('g','A5o','','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'g',"55",'',"54s",'',"53s",'',"52s")
				+poker_tr('g','A4o','','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'g',"44",'',"43s",'',"42s")
				+poker_tr('g','A3o','','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('g','A2o','','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

	div(class="tabs-panel" id="SB")
		table.poker
			thead
				+poker_head("20 BB", "12,5%", "SB")
				tr
					th(colspan=13) 54.4%, 22+ Kx+ Q2s+ Q8o+ J4s+ J8o+ T5s+ T8o+ 95s+ 98o 85s+ 87o 74s+ 64s+ 53s+
			tbody
				+poker_tr('g','AA','g','AKs','g',"AQs",'g',"AJs",'g',"ATs",'g',"A9s",'g',"A8s",'g',"A7s",'g',"A6s",'g',"A5s",'g',"A4s",'g',"A3s",'g',"A2s")
				+poker_tr('g','AKo','g','KK','g',"KQs",'g',"KJs",'g',"KTs",'g',"K9s",'g',"K8s",'g',"K7s",'g',"K6s",'g',"K5s",'g',"K4s",'g',"K3s",'g',"K2s")
				+poker_tr('g','AQo','g','KQo','g',"QQ",'g',"QJs",'g',"QTs",'g',"Q9s",'g',"Q8s",'g',"Q7s",'g',"Q6s",'g',"Q5s",'g',"Q4s",'g',"Q3s",'g',"Q2s")
				+poker_tr('g','AJo','g','KJo','g',"QJo",'g',"JJ",'g',"JTs",'g',"J9s",'g',"J8s",'g',"J7s",'g',"J6s",'g',"J5s",'g',"J4s",'',"J3s",'',"J2s")
				+poker_tr('g','ATo','g','KTo','g',"QTo",'g',"JTo",'g',"TT",'g',"T9s",'g',"T8s",'g',"T7s",'g',"T6s",'g',"T5s",'',"T4s",'',"T3s",'',"T2s")
				+poker_tr('g','A9o','g','K9o','g',"Q9o",'g',"J9o",'g',"T9o",'g',"99",'g',"98s",'g',"97s",'g',"96s",'g',"95s",'',"94s",'',"93s",'',"92s")
				+poker_tr('g','A8o','g','K8o','g',"Q8o",'g',"J8o",'g',"T8o",'g',"98o",'g',"88",'g',"87s",'g',"86s",'g',"85s",'',"84s",'',"83s",'',"82s")
				+poker_tr('g','A7o','g','K7o','',"Q7o",'',"J7o",'',"T7o",'',"97o",'g',"87o",'g',"77",'g',"76s",'g',"75s",'g',"74s",'',"73s",'',"72s")
				+poker_tr('g','A6o','g','K6o','',"Q6o",'',"J6o",'',"T6o",'',"96o",'',"86o",'',"76o",'g',"66",'g',"65s",'g',"64s",'',"63s",'',"62s")
				+poker_tr('g','A5o','g','K5o','',"Q5o",'',"J5o",'',"T5o",'',"95o",'',"85o",'',"75o",'',"65o",'g',"55",'g',"54s",'g',"53s",'',"52s")
				+poker_tr('g','A4o','g','K4o','',"Q4o",'',"J4o",'',"T4o",'',"94o",'',"84o",'',"74o",'',"64o",'',"54o",'g',"44",'',"43s",'',"42s")
				+poker_tr('g','A3o','g','K3o','',"Q3o",'',"J3o",'',"T3o",'',"93o",'',"83o",'',"73o",'',"63o",'',"53o",'',"43o",'g',"33",'',"32s")
				+poker_tr('g','A2o','g','K2o','',"Q2o",'',"J2o",'',"T2o",'',"92o",'',"82o",'',"72o",'',"62o",'',"52o",'',"42o",'',"32o",'g',"22")

</div>