extends ../layouts/html_layout.jade

block title
	title= site_title + " Работа с Pandas"

block scripts
	link(rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css")


block content
	div.row: div.large-12.columns: h1 Работа с Pandas
	div.row: div.large-12.columns
		p Основной <a href="http://pandas.pydata.org/"> официальный сайт pandas</a>. Официальная <a href="http://pandas.pydata.org/pandas-docs/stable/"> документация</a>. 
		p Основными структурами данных в pandas являются Series и DataFrame.
		h3 Полезные функции
		p Как правило нам нужно импортировать:
			pre.python: code
				| import pandas as pd
				| import numpy as np
				| import matplotlib.pyplot as plt
		h2 Примеры применения
			ol
				li
					a(href="begin_page_1.html") Пример. 
					| Считывание данных csv. Подготовка данных.
				li
					a(href="../trading/financial_python_example_1.html") Пример. 
					| Линейный график курса рубля.
				li
					a(href="../trading/financial_python_example_2.html") Пример. 
					| Различные стандартные отклонения для курса рубля.	

		p.
			For the Series object (let's call it s), pandas offers three types of addressing.
		ol 
			li s.iloc[] -- for integer position addressing;
			li s.loc[] -- for index label addressing; and
			li s.ix[] -- for a hybrid of integer position and label addressing.

			The pandas object also performs ix addressing directly.

		div Приведу пример.
		pre.python: code
			| import pandas as pd
			| import string
			| idx = [i for i in string.uppercase] # A, B, C .. Z
			| t = pd.Series(range(26), index=idx) # 0, 1, 2 .. 25			
			| #примеры
			| t[0]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> 0
			| t['A']&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> 0
			| t[['A','M']]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> [0, 12]
			| t['A':'D']&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> [0, 1, 2, 3]
			| t.iloc[25]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> 25
			| t.loc['Z']&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> 25
			| t.loc[['A','Z']]&nbsp;&nbsp;# --> [0, 25]
			| t.ix['A':'C']&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> [0, 1, 2]
			| t.ix[0:2]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# --> [0, 1]			

		h2 Ссылки по теме pandas
		ol
			li
				a(href="http://pandas.pydata.org/") Официальный сайт 
				| pandas и страничка 
				a(href="http://pandas.pydata.org/pandas-docs/stable/tutorials.html") уроков
			li Habr. 
				a(href="http://habrahabr.ru/post/196980/") Введение в анализ данных с помощью Pandas
			li
				a(href="http://vimeo.com/channels/pydata/videos") PyData video
			li Youtube.com 
				a(href="http://www.youtube.com/watch?v=eRpFC2CKvao&list=PLyBBc46Y6aAz54aOUgKXXyTcEmpMisAq3") Python Pandas Cookbook 
				| Alfred Essa 
			li ENG. 
				a(href="http://nbviewer.jupyter.org/github/twiecki/financial-analysis-python-tutorial/tree/master/") Финансовый анализ с pandas.


block footer
	script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
	script hljs.initHighlightingOnLoad();

		