extends ../../layouts/html_layout.jade

block title
	title= site_title + " AlexCTF2017. Разборы."

block content
	div.row: div.large-12.columns: h1 AlexCTF2017. C++ is awesome.
	div.row: div.large-12.columns
		p Задание. (100)
		p.text-justify They say C++ is complex, prove them wrong! File: <a href="re2">re2</a>
		p Решение.
		p.text-justify 
		| 