extends ../../layouts/html_layout.jade

block title
	title= site_title + " AlexCTF2017. Разборы."

block content
	div.row: div.large-12.columns: h1 AlexCTF2017. Catalyst system.
	div.row: div.large-12.columns
		p Задание. (150)
		p.text-justify CEO of catalyst systems decided to build his own log in system from scratch, he thought that it is so safe that no one can fool around with him! File: <a href="catalyst">catalyst</a>
		p Решение.
		p.text-justify 
		| Ре