extends ../../layouts/html_layout.jade

block title
	title= site_title + " AlexCTF2017. Разборы."

block content
	div.row: div.large-12.columns: h1 AlexCTF2017. unVM me.
	div.row: div.large-12.columns
		div Задание. (250)
		div.text-justify If I tell you what version of python I used .. where is the fun in that? File: <a href="unvm_me.pyc">unvm_me.pyc</a>
		div Перевод.
		div.text-justify Если я скажу использованную версию питона.. в чем тогда будет веселье?.
		div Решение.
		div.text-justify .