extends ../../layouts/html_layout.jade

block title
	title= site_title + " AlexCTF2017. Разборы."

block content
	div.row: div.large-12.columns: h1 AlexCTF2017. Many times secrets.
	div.row: div.large-12.columns
		div Задание. (100)
		div.text-justify This time Fady learned from his old mistake and decided to use onetime pad as his encryption technique, but he never knew why people call it one time pad! File: <a href="msg">msg</a>
		div Перевод.
		div.text-justify .
		div Решение.
		div.text-justify  .