extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 15 — En el hotel.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Hola, buenas tardes.
				div Quería saber si tienen habitaciones libres.
				div ¿Para qué fecha?
				div Desde el día dieciséis... hasta el veinte.
				div Solo nos quedan habitaciones dobles.
				div Una habitación doble es perfecto.
				div Es que es temporada alta...
				div Está bien, somos mi novia y yo, somos dos.
				div ¿La habitación tiene vistas?
				div Es un primero.
				div Ya. ¿Pero es exterior, por lo menos?
				div Es interior, pero es muy agradable.
				div ¿Es céntrico?
				div Es muy céntrico.
				div Bueno... ¿Y no hay manera de…,
				div no tiene usted una habitación en un piso superior?
				div Un tercero, por lo menos.
				div Está todo ocupado, lo siento.
				div Es que quiero pasar unos días románticos,
				div es un regalo que le hago a mi chica por su cumpleaños.
				div Le entiendo perfectamente.
				div Mire..., le llamo luego para confirmarlo,
				div tengo que pensarlo un poco. Buenas tardes.
				div ¿Con quién hablas?
				div Con nadie. Con mi madre.
				div ¿Te vas con ella a un hotel?
				div ¿Cómo dices?
				div Casi todos los fines de semana estamos con tu madre.
				div A este viaje no viene.
				div Además, está muy ocupada. No tiene tiempo.
				div Reserva una habitación para tres.
				div Te digo que no, que no viene.
				div Es para mi madre.
				div Ella no está tan ocupada.
				div ¿Quieres que duerma con mi suegra en la misma habitación?
				div Ella te quiere mucho.
				div Se lo decimos también a Félix, que está en crisis,
				div crisis sentimental.
				div Su mujer le deja, está muy triste.
				div Josefina se puede venir también.
				div No conoce Andalucía.
				div Muy bien. Pues... son trescientos, cuatrocientos,
				div unos doscientos cincuenta de gastos de alquiler del coche más los gastos de las comidas y cenas…
				div Salimos a unos seis mil ochocientos euros. ¡Tachán!
				div Barato me parece.
				div Que no, que nos vamos tú y yo solos.
				div Claro. ¿A Cádiz, a la playa?
				div Adonde tú quieras, amor mío...
