extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 28 — Paseando por Madrid.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Estamos llegando.
				div Estamos en Atocha. Me gustaría…
				div ¿Qué, mi amor?
				div Que no me mientas.
				div Estamos pasando por el Museo del Prado.
				div ¿Qué?
				div Digo, que ahí está el Museo del Prado.
				div Hay una exposición muy interesante.
				div ¿Dónde es la exposición?
				div En el Museo del Prado.
				div Cuadros, pintores italianos del Renacimiento.
				div A mi me gusta mucho la pinturaaaaa….
				div Está empezando una contracción.
				div Ya lo sé, anormal…
				div Háblame de algo, de cualquier cosa.
				div Pues, estamos entrando por la Gran Vía.
				div Hay muchos cines.
				div Bueno, en realidad casi todos son teatros.
				div ¿Qué te parece si vamos a ver un musical?
				div ¿Pariendo bajo la lluvia?
				div Respira, anda.
				div Ay, no me hagas reír, que me está doliendo.
				div Pues hay muchas obras de teatro, restaurantes,
				div galerías de arte, salas de concierto, iglesias...
				div Tiendas de ropa.
				div Hay muchas tiendas de ropa, en realidad.
				div Tenemos que salir.
				div Hace mucho que no salimos.
				div Me gustaría ir a cenar.
				div A un japonés. Y luego a un concierto.
				div Y pasar la noche dando botes.
				div Emborrachándonos.
				div Vamos ahora mismo si quieres, amor mío.
				div ¿Qué? Queda ya muy poco.
				div Queda ya muy poco, amor mío.
				div Queda ya muy poco.
				div ¡¿Dónde está el hospital?!
				div Ya estamos casi, mi vida.
				div Estoy conduciendo tan rápido como puedo.
				div ¿Qué me decías de un museo?
				div ¿Qué?
				div Una exposición de...
				div Una exposición de pintura del Renacimiento.
				div Me gusta la pintura contemporánea.
				div Pero no es…
				div es una exposición de pintura renacentista del siglo dieciséis, mi amor.
				div Ya estamos llegando.
				div Ya queda muy poco, aguanta, mi vida.
				div Sí.
