extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 30 — Nuestro dia a dia.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Tú crees que es simpático?
				div No lo sé.
				div Sonríe mucho. Aún sin motivo, él sonríe.
				div Desde luego no es egoísta.
				div Mira cómo da todo lo que tiene.
				div Da su chupete.
				div Pero es todo lo que tiene.
				div Y lo suele dar a menudo, es un tipo generoso.
				div Es impulsivo.
				div Por un lado, impulsivo.
				div Pero por otro, muy serio y muy sensato.
				div Ayer en el baño, acababa de lavarle el pelo
				div y se quedó mirando un rato el bote de champú.
				div Como diciendo: “Eh, esto es champú”.
				div Ah, he vuelto a llamar esta mañana al pediatra
				div y por fin me ha dicho una marca de\Ncrema hidratante para el enano.
				div ¿Y?
				div La he comprado, claro. Veintiún euros.
				div Ya puede hidratar bien.
				div Esta noche la probamos.
				div Tú le cortas las uñas, y yo le echo la crema.
				div Primero su baño con su gel especial,
				div después su ducha de agua tibia, su toalla,
				div y después su mamá le da crema hidratante,
				div le cortan las uñas... Es un faraón.
				div Vive bien, eso es verdad.
				div Tenemos que cortarle el pelo.
				div Le sale un poco raro.
				div Le sale más por un lado que por otro.
				div Cuando lo peina tu madre, se queda feísimo.
				div No critiques a nuestro hijo.
				div Estaba hablando de tu madre.
				div Acaba de dormirse.
				div Qué simpático es, ¿no?
				div Aún dormido, sigue pareciendo simpático.
				div Te quiero. Te quiero mucho.
				div Ponte a empujar el carrito.
				div Te digo que te quiero,
				div ¿y tú me contestas que me ponga a empujar el carrito?
				div ¿Te parece poco?
				div Anda, vamos.
