extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 25 — Nos vamos de viaje.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Te quedan pequeños.
				div Sandra.
				div Cuánto tiempo, ¿no?
				div Te veo…, te veo estupenda, ¿cómo estás?
				div Bueno, menos estupenda que tú.
				div Al final lo hiciste. ¿Vas a ser padre?
				div Y adelgazaste. Estás muy guapo.
				div Gracias. Tú estás igual que siempre.
				div Igual de guapa que siempre, quiero decir.
				div Bueno, recuérdame una cosa.
				div ¿Por qué rompimos? ¿Te dejé yo?
				div Es broma, perdóname.
				div Es que me da mucha envidia ver que tienes una mujer,
				div que vas a ser padre, que tienes una vida ordenada.
				div Bueno, a veces no es tan bonito como parece.
				div Yo el año pasado trabajé como modelo.
				div Y me fue bastante bien, gané una pequeña fortuna.
				div Pero, ¿sabes qué?
				div Que el dinero que se gana fácil, no se disfruta.
				div Me lo gasté todo en viajes absurdos.
				div Costa Rica, Hawai, Tailandia...
				div Comí en unos restaurantes...
				div ¿Horribles?
				div No, no, no, no... restaurantes maravillosos.
				div Pero tan exóticos y tan especiales que terminé un poco cansada.
				div Los vuelos de trece, de quince horas.
				div Y los hoteles, carísimos.
				div Me lo gasté todo en cosas que en realidad no se disfrutan.
				div Sí. No sé.
				div Todo el día en aeropuertos.
				div Perdieron mi maleta dos veces.
				div Es verdad que los hoteles eran hoteles de superlujo
				div y que aprendí a hacer surf, a montar en motos acuáticas,
				div que bailé y me emborraché como una adolescente.
				div Me lo pasé increíble. Pero después de todo, ¿qué?
				div ¿Qué queda de todo eso? Al final son experiencias vacías.
				div Porque tú te levantas todos los días con la misma mujer en la misma cama.
				div Y a mí eso me da mucha envidia.
				div Se te cayeron los zapatitos.
				div Sí.
				div El otro día me encontré con tu madre.
				div Siempre me dice que hicimos muy buena pareja tú y yo.
				div ¿Oye, por qué no nos tomamos una copa y seguimos hablando?
				div Que hace siglos que no te veo.
				div Es un poco tarde, no sé...
				div ¿Una copa dónde?
				div Hay un bar aquí cerca.
				div Después si quieres te vas a casa.
				div Si son solo veinte minutos.
				div Media hora como mucho.
				div Veinte minutos.
				div Una copa rápida, que no puedo liarme, que te conozco.
				div Me conociste. Ahora he cambiado.
				div ¡Anda ya!
