extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 24 — Buscando piso.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Dos habitaciones, techos altos, gran sala de estar,
				div grandes ventanas, trastero incluido en el precio.
				div Bien comunicado.
				div Si dice que está bien comunicado, es que está en las afueras.
				div Busca alguno más céntrico.
				div Gran oportunidad.
				div Bonito piso con baño, salón, garaje,
				div tres dormitorios, cocina amplia, interior.
				div Piso nuevo, céntrico.
				div ¿Cuánto cuesta?
				div Novecientos cincuenta. Pero tiene garaje.
				div Muy caro.
				div ¿Qué? ¿Qué pasa?
				div Quieres un piso grande, céntrico, exterior,
				div con vistas, luminoso, moderno, con terraza...
				div Y quieres pagar menos de lo que pagas ahora por un apartamento pequeño y sin ascensor.
				div Yo no he dicho nada de una terraza.
				div ¿Pero por qué hace falta un piso grande si los bebés son muy pequeños?
				div Un bebé necesita una cuna.
				div Eso sí.
				div Un armario, para su ropa y una estantería para sus juguetes.
				div Vais a salir a la calle.
				div Necesitáis un cochecito de bebé.
				div Una bañerita para lavarlo
				div y lavarlo en un baño grande con\Nsitio para poner sus cosas.
				div Ahora no tienes lavaplatos.
				div También te va a hacer falta.
				div Tampoco tienes microondas.
				div Necesitas un frigorífico grande para meter más comida.
				div Y una bicicleta estática para María.
				div Necesita hacer ejercicio después del parto.
				div ¿Después del parto?
				div Sí. Después de tener un bebé las mujeres se quedan fatal:
				div gordas, poco atractivas…
				div Ya.
				div Necesitas un piso más grande.
				div Dúplex recién reformado. 120 metros cuadrados.
				div Suelos de madera, dos habitaciones, dos baños, cuarto piso. Alquiler o compra.
				div ¿Cuánto?
				div Mil doscientos.
				div Increíble oportunidad, lujoso apartamento en el barrio de la letras,
				div tres habitaciones, dos baños, terraza, amueblado...
