extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 27 — El aspecto de la gente.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Tenía los ojos negros, intensos... Y llevaba bigote.
				div Era alto y fuerte.
				div No tan alto. Además, estaba gordo como una foca.
				div ¿O ese era el otro?
				div Había otro...
				div Sí, sí... eran dos.
				div El segundo llevaba una gorra y se quedó detrás...
				div ¿Qué está pasando?
				div Ayer entraron a robar en la academia.
				div ¿Cuándo?
				div Por la tarde.
				div Yo estaba dando clase y no me enteré de nada,
				div pero Josefina los vio entrar.
				div Tenía la nariz grande y los ojos negros.
				div ¿Te encuentras bien?
				div Más o menos.
				div Estoy un poco nerviosa, por eso he venido.
				div ¿Quién trabaja en ese aula?
				div Perdóname un momento.
				div ¿No vio usted nada extraño?
				div Bueno, yo es que recogía mis cosas hablando por teléfono y no me fijé mucho, la verdad.
				div Pero uno de los ordenadores que robaron era de ese aula.
				div ¿Y alguno de sus alumnos pudo ver algo?
				div Sí, sí.
				div ¿Qué estás haciendo aquí?
				div Pues... estoy un poco nerviosa. He venido...
				div Ayer vinieron dos tipos diciendo que arreglaban ordenadores
				div y se llevaron el del aula dos y el de mi despacho.
				div Sonriendo y todo, eh.
				div ¿Cómo no nos dimos cuenta?
				div Que no te des cuenta tú es normal.
				div Pero que no me dé cuenta yo...
				div Eso sí que me sorprende.
				div Hola Josefina.
				div Ay, hola preciosa, ¿qué estás haciendo aquí?
				div Pues precisamente de eso estaba hablando con Fernando.
				div Tengo una rabia espantosa, porque estoy notando...
				div ¡El grande, el que parecía un elefante, tenía un tatuaje! ¡Ja!
				div Bueno, pero tranquilícese, señora.
				div Ayer hacía calor, había mucha gente entrando y saliendo...
				div y el tipo se quitó la cazadora.
				div Por eso le vi el tatuaje.
				div Mi mujer también está embarazada. ¿Ocho meses?
				div Y medio.
				div ¿Y sigue trabajando aquí?
				div ¿Todavía no le han dado la baja?
				div No, no.. He venido buscando a mi chico porque me ha entrado un poco de miedo.
				div Estoy teniendo contracciones muy fuertes y…
				div Creo... creo que estoy de parto.
				div ¿Qué?
				div ¿Qué?
				div ¡Pues que creo que estoy de parto!
				div Tengo el coche aquí. ¡Os llevo al hospital!
