extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Эпизод 1. Знакомство.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица: 
			span.Julio Julio 
			span.Maria Maria 
		div.grid-x.grid-margin-x

			div.cell.large-6
				div.Maria Hola.
				div.Julio Hola.
				div.Maria ¿Cómo estás?
				div.Julio Bien.
				div.Maria Bueno, encantada. ¿Cómo te llamas?
				div.Julio Yo soy Julio.
				div.Maria Yo me llamo María.
				div.Julio Encantado. Perdona, pero yo me voy… al trabajo.
				div.Maria Vale.
				div.Julio Bueno, hasta luego.
				div.Maria Adiós.
			div.cell.large-6
				div Привет
				div Привет
				div Как дела?
				div Хорошо.
				div Ну, приятно было встретиться. А как тебя зовут?
				div Я Хулио.
				div Меня зовут Мария.
				div Приятно познакомиться. Извини, но я собираюсь... на работу.
				div Ладно.
				div Ладно, до скорого.
				div Пока.
		h3 Сцена 
			span.h3.subheader: strong 2
		div Действующие лица: 
			span.Julio Julio 
			span.Maria Maria 
			span.Fernando Fernando 
			span.Josefina Josefina 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Fernando Las aulas, mi despacho.
				div.Fernando Ella es Josefina, la secretaria.
				div.Josefina Hola, encantada. ¿Y tú cómo te llamas?
				div.Maria Me llamo María.
				div.Fernando Julio, os presento. Julio Fernández, profesor, María Torres, la nueva profesora.
				div.Maria ¿Cómo está usted? 
				span.Julio Encantado de conocerla.
				div.Maria Igualmente, encantada.
				div.Julio Qué bien, qué bien.
				div.Maria Sí.
				div.Josefina ¿Conoces a Julio?
				div.Julio No. ¿Conoce a Fernando, el director?
				div.Maria Sí, claro.
				div.Fernando Ya, claro.
				div.Julio Pues… muy bien, muy bien. ¿Qué tal la academia?
				div.Maria Bien, muy bien.
				div.Fernando Julio, ¿estás bien?
				div.Julio Claro, muy bien, muy bien.
				div.Maria Bueno, muchas gracias, Fernando, por el trabajo.
				div.Fernando De nada. Bienvenida a la academia Habla con Eñe.
			div.cell.large-6
				div.Fernando Классы, мой кабинет.
				div.Fernando Это Жозефина, секретарь.
				div.Josefina Привет! Рада встрече. Как тебя зовут?
				div.Maria Меня зовут Мария.
				div.Fernando Хулио. Хулио Фернандес, учитель, Мария Торрес, новый учитель.
				div .
				div.Maria Как у Вас дела?
				div.Julio Приятно познакомиться.
				div.Maria Мне тоже очень приятно.
				div.Julio Это хорошо, это хорошо.
				div.Maria Да
				div.Josefina Ты знаешь Хулио?
				div.Julio Нет. Ты знаешь Фернандо, директора?
				div.Maria Да, конечно.
				div.Fernando Да, конечно.
				div.Julio Ну… очень хорошо, очень хорошо. Как насчет академии?
				div Хорошо, очень хорошо.
				div.Fernando Хулио, ты в порядке?
				div.Julio Конечно, очень хорошо, очень хорошо.
				div.Maria Ну, большое спасибо, Фернандо, за работу.
				div.Fernando Пожалуйста. Добро пожаловать в академию.

