extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 06 — La casa. Дом.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица: 
			span.Fernando Fernando 
			span.Julio Julio 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¡Qué frío! Buenos días.
				div Buenos días.
				div Necesito café urgente, tengo mucho sueño.
				div y no puedo dormir.
				div Estoy nervioso.
				div ¿Por qué?
				div Mi…, bueno, la historia que tenemos María y yo.
				div Es una chica encantadora.
				div Es maravillosa, pero veo cómo entra en mi casa,
				div cómo deja su crema en el cuarto de baño,
				div cómo se olvida el bolso en la cocina.
				div Hay cosas encima de todas las sillas,
				div debajo de la cama.
				div Dentro del frigorífico tengo tres botellas de leche.
				div Yo sé que ella quiere una casa, un nido.
				div Bueno, pero eso no está mal. Es bonito.
				div No, pero, no es… No sé cómo decirlo.
				div Tú no quieres un nido.
				div Yo no puedo pensar en un nido.
				div Quiero fumar. Necesito fumar.
				div ¿Puedo fumar?
				div Aquí dentro no, pero puedes ir fuera.
				div ¿Puedes venir?
				div Es que, bueno…,
				div yo quiero también tomar un café.
				div Es un minuto, por favor.
				div ¿Tú puedes hablar con María?
				div ¿Yo qué?
				div Ella me necesita mucho, y yo a ella no.
				div Yo no quiero un compromiso.
				div Si está muy enamorada, si no puede vivir sin mí…,
				div eso puede ser terrible para ella.
				div Tú puedes explicarle que tengo una enfermedad
				div o inventar algo.
				div Pero, lleváis muy poco tiempo.
				div ¿Tú estás seguro de que te quiere tanto como dices?
				div Esas cosas un hombre las sabe.
				div Si tu estás seguro, yo no digo nada. Pero…
				div ¿Pero qué?
				div No, que si ella está tan enamorada...,
				div no sé qué hace con Paul.
				div ¿Quién es Paul?
				div Un alumno de primero. Un empresario inglés con mucho éxito...,
				div pero encantador.
				div Josefina dice que todas las chicas están como locas por él.
				div Buenos días.
				div Buenos días.
				div ...nos días.
				div Puede ser homosexual.
				div ¿Paul?
				div Sí.
				div Si Paul es homosexual, yo hablo con María.
