extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 14 — En el restaurante.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Estoy nerviosa, ¿no vamos muy rápido?
				div Quiero decir...
				div llevamos juntos tres meses, no es tanto tiempo…
				div Tienes que estar tranquila.
				div Mis padres son muy simpáticos, simpatiquísimos.
				div Chica... Bonita...
				div Mesa para cuatro. Esa, si puede ser.
				div ¿Qué?
				div Ésa es la mesa que nos gusta.
				div Vamos a cenar cuatro personas.
				div Somos cuatro personas que van a cenar.
				div Mamá.
				div María, estos son mis padres.
				div Mamá, papá…, ella es María.
				div Encantada.
				div Encantado de conocerte.
				div ¿Mamá?
				div Sí, claro... Yo también estoy encantada.
				div ¿Quieren algo de beber mientras miran el menú?
				div ¿Queréis vino?
				div Aquí hay un Rioja estupendo y no es muy caro.
				div Yo quiero agua.
				div Yo tampoco quiero vino, tengo el estómago...
				div Agua también.
				div Pero tú puedes pedir vino, si quieres.
				div No quizás... Mejor, una botella de agua.
				div ¿Agua para cuatro?
				div No, yo quiero una cerveza.
				div Dos cervezas.
				div ¿Qué sabes de Sandra?
				div Nada.
				div Su primera novia.
				div Una chica muy lista y muy guapa.
				div Guapísima.
				div Tú también eres guapísima.
				div De carne les recomiendo el cordero.
				div De pescado, la merluza.
				div Además de lo que hay en el menú,\Ntenemos también sopa, buenísima.
				div Paella, excelente, y calamares buenísimos.
				div ¿Van a tomar algo de postre?
				div Uff... Yo no, gracias.
				div ¿Quieres algo para compartir? ¿Una fruta?
				div Yo prefiero algo dulce.
				div Tenemos flan y tarta de chocolate casera.
				div Tarta de chocolate, ¡qué rica!
				div Muy bien, una tarta de chocolate.
				div ¿Café cortado?
				div Sí, aquí.
				div ¿Café solo?
				div Yo, aquí. Gracias.
				div ¿Café con leche?
				div Sandra es muy divertida.
				div Sandra es la chica que siempre anima una reunión.
				div ¡Qué tensión, qué desagradable!
				div Sí
				div No puedes tratar así a mi madre,
				div es una señora muy sensible.
				div ¿Te cuesta mucho ser amable?
