extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 21 — Hablamos de politica.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Lo primero, muchas gracias por venir.
				div Os hemos llamado porque... ¿Quieres decirlo tú?
				div No, no, prefiero que lo digas tú.
				div Bueno, tenemos algo importante que...
				div Vosotros sois las personas a las que más queremos en el mundo
				div y queremos anunciaros algo que...
				div ¡Ay! No hay derecho. Es increíble... Es que...
				div ¿Qué pasa?
				div Nada, que me he tropezado con un andamio en la calle.
				div ¡Ay! ¿Te has hecho daño?
				div De pronto todo son obras públicas...
				div Claro, como estamos en año de elecciones...
				div Es indignante. Se tiene que hacer algo con el Gobierno.
				div No se puede seguir así.
				div ¿Pero habéis escuchado al presidente?
				div España va bien.
				div Han vuelto a subir los impuestos, bueno, y ya llevan...
				div ¿Y dónde va el dinero? Porque a la sanidad no va.
				div Ni a la educación tampoco.
				div Con la excusa de la crisis nos han dejado sin nada.
				div Son una banda de ladrones...
				div ¿Y el rey?
				div ¿Pero le vas a echar la culpa al rey, que no ha hecho nada?
				div ¡Basta! ¡Ya está bien de política!
				div Queremos contaros algo.
				div Para nosotros sois las personas más importantes de nuestra vida,
				div sois lo que... ¡Fernando!
				div Perdón, es él...
				div ¡Papá!
				div Perdón.
				div Bueno, bueno... Se me ha olvidado el discurso.
				div ¿Pero sabéis dónde ha ido el dinero público?
				div Aquí hemos vivido por encima de nuestras posibilidades
				div y ahora toca no gastar en nada.
				div Y ya está bien, hombre.
				div ¡Chicos, por favor! ¡Chicos!
				div Mamá. ¿Puedes, aunque sea solo un minuto?
				div Criticamos mucho, pero aquí se vive bien.
				div Demasiado bien se vive en España...
				div ¡Ya no puedo más! ¡Que estoy embarazada!
				div ¡Me cago en la leche! Y estoy muy contenta.
				div Y por eso hemos organizado esta reunión tan bonita y tan especial.
				div ¡¿Estamos?!
				div Y ahora, a celebrar. ¿Quién quiere brindar?
