extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 23 — Una entrevista de trabajo.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Perdone, tengo una duda.
				div Perdona, pero ahora mismo estoy ocupada.
				div ¿Puedes volver más tarde?
				div Sí, claro.
				div Josefina
				div Perdona, pero no es un buen momento.
				div No me digas eso.
				div No me digas eso porque estoy muy nerviosa.
				div ¿Qué te pasa?
				div ¿Qué me pasa?
				div Por ejemplo, cuando me siento,
				div ya no llego a las mesas porque no me deja esta barriga gigante que tengo...
				div Y así... me choco con todo.
				div Con los alumnos, con los muebles.
				div Esta mañana, con el lavabo.
				div Y me canso; y no puedo respirar.
				div Hago pis cada cinco minutos,
				div se me hinchan los pies constantemente.
				div ¡No puedo fumar!
				div Pero tú no fumas...
				div ¿Y qué?
				div No puedo comer jamón ni tomarme una cerveza.
				div No puedo conducir ni puedo vestirme sola.
				div ¡Todo esto me pasa!
				div Toma. Respira dentro de la bolsa.
				div Gracias.
				div ¿Qué?
				div Que parezco un elefante.
				div Que nadie me va a contratar nunca más.
				div Fernando ya busca una profesora sustituta.
				div Nadie me va a contratar nunca más.
				div A ver. Siéntese.
				div Viene usted por la entrevista de trabajo.
				div ¿Nombre y apellidos?
				div María Amador Llanos.
				div ¿Dirección?
				div Calle del Pez número 5, 6º A.
				div ¿Nacionalidad?
				div Española.
				div ¿Estudios?
				div Licenciada en Filología Hispánica.
				div ¿Se considera una persona seria y responsable?
				div Mucho.
				div ¿Estado civil?
				div Soltera, de momento...
				div ¿Embarazada y soltera? Ah, no. Aquí no podemos contratarla.
				div Esta es una empresa seria de compraventa internacional.
				div Algunos de nuestros clientes son muy conservadores.
				div Pero déjenos su currículum por si surge alguna oportunidad.
				div Es solo la primera entrevista. No te desanimes.
				div Pero para la próxima vez, recuerda que siempre se dice: “estoy casada”.
				div ¿Nos tomamos un café?
				div Tómatelo tú, yo prefiero una tila. Gracias.
