extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 16 — En la ciudad.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Estás en la salida del metro?
				div Pues sigue esa misma calle para abajo,
				div dejas una farmacia a tu izquierda y en el primer cruce,
				div a la derecha.
				div No, no está muy lejos, está cerca.
				div Es el número treinta y uno.
				div Sí, te esperamos.
				div ¿Era Fernando?
				div Sí. Ya viene.
				div Estoy harto.
				div No puedo más, estoy agotado.
				div ¿Qué llevas en estas cajas?
				div ¿Piedras?
				div Mis libros de la universidad.
				div ¿Te los vas a leer otra vez?
				div A lo mejor sí.
				div Lo que no sé es si caben en mi casa.
				div Esto es lo último.
				div Bueno. Ya está.
				div ¿Me decís dónde puedo aparcar?
				div Sí. Bajas esta calle hasta el final y llegas a una rotonda.
				div Coges la segunda salida y en esa calle,
				div muy cerca, hay un parking.
				div ¿Qué hacen ahí mis mangas?
				div ¿Tus qué?
				div Eh... mis figuras manga.
				div No son juguetes.
				div ¿Y qué son?
				div Son... estatuillas de coleccionista.
				div ¿Podemos hablar un momento, por favor?
				div ¡Aquí, Fernando! ¡Fernando!
				div Llego tarde, ¿no? ¡Qué rabia!
				div No, no, todavía puedes ayudar a subir cajas.
				div Es el cuarto piso, puerta C.
				div María dice que las cajas tienen que estar cerradas.
				div Este es muy malo.
				div Este y este son prácticamente el mismo.
				div Este quiero leerlo yo, me lo quedo prestado.
				div Así sí.
				div La lámpara y los juguetes absurdos, fuera.
				div ¡Problema resuelto!
				div Seguro que algún niño los quiere.
				div Son juguetes.
				div No son...
				div No quiero discutir sobre esto otra vez.
				div Venga,
				div que quedan pocas cajas y mudanza terminada.
				div Si mis figuras de coleccionista no entran en casa, yo tampoco.
				div ¡Hala!
				div ¿Qué haces?
				div Hola Félix. Estoy aquí, sentado.
				div Cervezas, para celebrar la mudanza.
				div ¿No subes?
