extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Эпизод 2. Saludos. Приветствие.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица: 
			span.Julio Julio 
			span.Josefina Josefina 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Julio Josefina...
				div.Josefina Buenos días.
				div.Julio Buenos días.
				div.Julio Yo es que…
				div.Josefina ¿Cómo estás?
				div.Julio Bien, bien. Pero es María, la nueva profesora.
				div.Josefina Yo estoy ocupada.
				div.Julio Ya. ¿Muy ocupada?
				div.Josefina Muy ocupada.
				div.Julio Pero… Ya.
			div.cell.large-6
				div.Julio Жозефина...
				div.Josefina Доброе утро.
				div.Julio Доброе утро.
				div.Julio Я это…
				div.Josefina Как дела?
				div.Julio Хорошо, хорошо. Но эта Мария, новая учительница.
				div.Josefina Я сейчас занята.
				div.Julio Да. Слишком занята, да?
				div.Josefina Очень занята.
				div.Julio Но… Да.
		h3 Сцена 
			span.h3.subheader: strong 2
		div Действующие лица: 
			span.Maria Maria 
			span.Josefina Josefina 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Maria Josefina.
				div.Josefina Buenas tardes.
				div.Maria Buenas tardes.
				div.Maria Josefina, Julio es…
				div.Josefina ¿Cómo estás?
				div.Maria Un poco nerviosa, la verdad.
				div.Maria Julio está mal, está enfermo.
				div.Josefina Yo estoy enferma. Un poco enferma.
				div.Maria Ya. Bueno. Bueno, pues nada. Hasta luego. Adiós.
				div.Josefina Adiós.
			div.cell.large-6
				div.Maria Жозефина.
				div.Josefina Добрый день.
				div.Maria Добрый день.
				div.Maria Жозефина, Хулио это …
				div.Josefina Как дела?
				div.Maria Немного нервничаю, правда.
				div.Maria Хулио болен, ему нездоровится.
				div.Josefina Я больна. Немного больна.
				div.Maria Уже. Хорошо. Ну ничего. Увидимся позже. Пока.
				div.Josefina Пока.
		h3 Сцена 
			span.h3.subheader: strong 3
		div Действующие лица: 
			span.Fernando Fernando 
			span.Josefina Josefina 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Fernando Qué.
				div.Josefina Ay… buenas noches.
				div.Fernando ¿Cómo está María? Y cómo está Julio.
				div.Josefina María está nerviosa, y Julio está nervioso.
				div.Fernando Y tú, ¿cómo estás?
				div.Josefina Uf, cansada, muy cansada.
				div.Fernando ¿Mucho trabajo?
				div.Josefina Demasiado. Todos con problemas. Es muy cansado.
			div.cell.large-6
				div.Fernando Что.
				div.Josefina Ay… добрый вечер.
				div.Fernando Как Мария? А как Хулио?
				div.Josefina Мария нервничает, и Хулио нервничает.
				div.Fernando А как у тебя дела?
				div.Josefina Эх, устала, очень устала.
				div.Fernando Много работы?
				div.Josefina Слишком. Все с проблемами. Очень устала.


