extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 08 — Las horas.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Sí? Laura, Laura, ¿Cómo estás?
				div ¿Qué? No te oigo nada.
				div ¿Esta noche? ¿Quieres quedar esta noche?
				div Estoy en una fiesta, en mi oficina.
				div No sé, no sé si puedo.
				div ¿Puedes hablar más despacio?
				div Ahora estoy en una fiesta.
				div Más tarde sí, más tarde puede ser.
				div Entonces, quedamos en mi casa.
				div ¿A qué hora?
				div No, no, a las once no, mejor a las doce, por si...
				div claro, exactamente, exactamente.
				div Ja, ja, calla, calla. ¿Qué hora es ahora?
				div ¿Las ocho y media?
				div No, no, ahora mismo no, no puedo, no.
				div No, ahora mismo no puedo quedar.
				div Perdón
				div Claro, claro, claro.
				div Sí. Pues no sé, un cine, un restaurante.
				div Claro, pero es un poco pronto para eso, ¿no?
				div Sí, sí, sí, ya. Bueno.
				div Lo sé , lo sabes, sí, lo sabemos los dos.
				div Bueno, ahora te veo, ¿eh?
				div Te veo en veinte minutos.
				div Hasta ahora. Un beso.
				div Bueno, me voy, es un poco tarde.
				div Sí.
				div Pues...
				div Venga, vámonos.
				div ¿Cómo, tú y yo?
				div Ajá.
				div ¿A dónde?
				div A tomar una cerveza.
				div Pero…
				div ¿Qué?
				div No que…
				div Vámonos, sí.
