extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 10 — No tenemos asistenta.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Perdona, ¿qué haces?
				div Limpiar el polvo, la asistenta está enferma.
				div Lleva enferma una semana y hay que limpiar esto.
				div Yo te ayudo.
				div No tienes que molestarte.
				div No es molestia, te ayudo.
				div ¿Qué tengo que hacer?
				div Ah, pues puedes ordenar los armarios,
				div las estanterías.
				div También puedo pasar la aspiradora.
				div ¿Sabes pasar la aspiradora?
				div Claro, yo no soy machista,
				div los hombres también sabemos pasar la aspiradora.
				div Ahí está la aspiradora.
				div Ok
				div ¿Qué hacéis?
				div Limpiar un poco. Hoy no tenemos asistenta.
				div No puede venir en toda la semana, está enferma.
				div Déjame, lo hago yo.
				div Pero, ¿sabes pasar la aspiradora?
				div Tú friega, ordena o haz lo que tú quieras.
				div ¿Sabes cómo funciona?
				div Claro que sé cómo funciona,
				div lo que pasa es que esto no…, no funciona.
				div ¡Ja, aspiradoras! ¡Qué os parece!
				div ¡Ahí está, ahí está!
				div ¿Qué hacen?
				div Julio quiere a María.
				div María quiere a Julio,
				div pero Paul es más guapo.
				div Paul es inglés,
				div así que nadie sabe exactamente qué quiere él.
				div ¿Y qué limpian?
				div Van a dejar la academia muy muy limpia.
