extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 09 — Planes y obligaciones.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Buenos días.
				div Buenos días. Voy a preparar café.
				div ¿Quieres desayunar?
				div Ah… no tengo mucha hambre.
				div Pero es sábado.
				div Sí
				div Tengo sueño. ¿No tienes sueño?
				div Vamos a dormir un poquito más.
				div Tengo cosas que hacer.
				div Y esta noche, ¿quedamos para ir al cine?
				div Eh… no puedo. Tengo que pasear al perro de mi madre.
				div Ah. ¡Qué mujer tu madre!
				div Sí
				div ¿Y esta tarde?
				div ¿Vamos a pasear, a comprar cosas?
				div Mmm…, tengo que lavarme el pelo.
				div Entiendo, es importante tener el pelo limpio para pasear al perro.
				div ¿Y mañana?
				div Mañana es domingo.
				div ¿Tienes que hacer algo?
				div El domingo voy a quedar con unas amigas.
				div ¡Qué bien tener amigas!
				div ¿El lunes, el martes, el miércoles?
				div Tengo que trabajar.
				div ¿Por las noches?
				div Por las noches tengo que dormir.
				div El jueves voy a dar unas clases de baile flamenco.
				div Ah…, no.
				div El próximo fin de semana.
				div ¿Tienes que ir a la India en globo?
				div No, el próximo fin de semana estoy aquí,
				div pero tengo cosas que hacer.
				div ¿Qué cosas?
				div Cosas
				div Adiós
				div Hasta luego.
