extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 20 — Vamos a cocinar.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Tienes que pelar los tomates antes de cortarlos.
				div No dice eso.
				div Déjame ver...
				div Aquí.
				div Ah. Mira, mientras tú preparas una receta de lasaña,
				div yo preparo una de berenjenas con carne,
				div pasta y verduras.
				div ¿Y entonces?
				div Entonces...
				div pelo los tomates antes de cortarlos.
				div Exacto.
				div ¿Abro la ventana para ventilar un poco?
				div No, por favor, no abras.
				div Ventilamos mejor después de cocinar, que hace un frío horrible.
				div Pero no cortes la berenjena así.
				div Córtala en rodajas.
				div Mira, hervir la pasta en agua abundante.
				div Carne picada de ternera y cerdo.
				div Sal y pimienta.
				div Sofrito de cebolla, ajo y tomate.
				div Rodajas de berenjena.
				div Rodajas. Zanahoria, calabaza en tiras muy finas.
				div Estoy embarazada.
				div Aceite en la bandeja, precalentar a 200 grados...
				div ¿Sí?
				div ¿Después de la calabaza?
				div Aceite en una bandeja.
				div Antes del aceite.
				div ¿Lo del... lo del embarazo?
				div Voy a abrir la ventana porque me muero de calor...
				div ¡No me digas! ¡Me alegro mucho por ti!
				div Enhorabuena, felicidades María...
				div ¿Cómo estás?
				div Muerta de hambre.
				div Yo también.
				div Y muerta de sed.
				div ¿Cómo estás tú?
				div Cuando tú estás triste, yo también me pongo triste.
				div Si tu estás contenta, yo también me pongo contento.
				div Va a ser un lío enorme.
				div Si tú te metes en un lío, yo me meto en el lío también.
