extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 07 — Las profesiones.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Yo trabajo aquí, tú trabajas aquí y él trabaja aquí.
				div Está todo bien, de verdad. Yo estoy bien. Él está bien. Estamos todos bien.
				div Yo os veo… Si tu entras, él sale. Si él sube, tú bajas. No estáis bien.
				div De verdad, estamos bien. Puede parecer un poco raro, pero ya lo solucionamos.
				div Silencio. Hay una mujer.
				div No, no digas nada.
				div Calla, calla, calla, calla. Puede ser escritora.
				div No, no es escritora.
				div ¡Ah, no, no, no!
				div Pero… dependienta. ¿Trabaja en una tienda?
				div ¿O algo parecido a una tienda?
				div ¡Ah, no! ¡Ya lo sé! Es una actriz.
				div No es..., si es la que creo, es profesora.
				div ¿Pero qué dices?
				div ¿Qué?
				div Es María, la nueva.
				div No, no, no, no, no, no, no, no, eso no.
				div Sí
				div Tú no estás bien, estás muy mal.
				div Está todo bien.
				div Si tú estás tranquila, yo estoy tranquilo.
				div Él está tranquilo también.
				div Entonces estamos todos tranquilos. ¡Qué tranquilidad!
				div Bueno, hasta luego.
				div Hasta luego.
				div ¿Puedes?
				div Coge una carta.
				div ¡Silencio! Hay un hombre.
