extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 19 — Comprar regalos.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Julio?
				div Sí, soy yo.
				div ¿En qué día estamos?
				div Estamos a diez. ¡Once, estamos a once!
				div ¡Feliz aniversario!
				div ¡Ahí va, es verdad!
				div Quiero regalarte esto desde hace meses.
				div ¿Qué es?
				div Es de la tienda de ropa de la calle Soler.
				div Es elegante y muy bonito.
				div Mira, pruébatelo.
				div Si no te gusta, lo puedes devolver.
				div Aquí tienes el tique regalo.
				div Yo, en realidad, también quiero regalarte algo.
				div ¿Qué piensas?
				div ¿Puedes abrir la ventana, por favor?
				div Sí, claro.
				div Amor mío.
				div Soy yo.
				div Feliz aniversario.
				div Este es mi regalo.
				div ¿Puedes abrir la ventana, amor mío?
				div Hace frío, yo prefiero que no, la verdad.
				div Estamos en abril.
				div Sí.
				div A lo mejor lo tenemos en noviembre, ¿no es verdad?
				div Sí.
				div ¡Qué sorpresa, estoy muy contento!
				div ¿En serio?
				div En serio.
				div Habla con Fernando, con la academia,
				div y diles que te vas, que no puedes trabajar.
				div Pero yo no quiero dejar de trabajar.
				div Además, estamos a mitad de curso.
				div Siéntate con Fernando y habladlo,
				div discutidlo tranquilamente.
				div Pero tú no puedes seguir trabajando.
				div Yo soy el hombre de la casa, yo soy el que trae el dinero.
				div Tú me cocinas, lavas mi ropa,
				div me cuidas por las noches.
				div ¡Ah, qué felicidad! ¿No?
				div ¡María! María, soy yo, Julio.
				div Estoy aquí.
				div Sal, que tengo que enseñarte algo.
				div ¿Me quieres regalar algo?
				div Sí, ¿Cómo lo sabes?
				div ¿María? María, sal del baño, por favor.
