extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 04 — La familia. Семья.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица: 
			span.Maria Maria 
			span.Josefina Mama 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Josefina Entonces, ¿es un chico?
				div.Maria Sí mamá, es un chico.
				div.Josefina Ya.
				div.Josefina ¿Y es simpático?
				div.Maria Sí mamá, es simpático.
				div.Josefina ¿Y es un amigo?
				div.Maria Sí mamá es un amigo.
				div.Josefina ¿Y es muy amigo?
				div.Josefina ¿Es divertido?
				div.Maria ¡Mamá!
				div.Josefina ¿Qué?
				div.Maria Ya voy yo.
				div.Maria ¡Que voy yo!
				div.Josefina Sube sube, ya abro.
				div.Josefina Sube.
			div.cell.large-6
				div.Josefina Так это парень?
				div.Maria Да, мама это парень.
				div.Josefina Ya.
				div.Josefina И он милый?
				div.Maria Да, мама, он милый.
				div.Josefina И он - друг?
				div.Maria Да, мама - он друг.
				div.Josefina И он хороший друг?
				div.Josefina Веселый?
				div.Maria Мама!
				div.Josefina Что?
				div.Maria Я иду.
				div.Maria Я иду!
				div.Josefina Поднимайся, я открою.
				div.Josefina Поднимается.
		h3 Сцена 
			span.h3.subheader: strong 2
		div Действующие лица: 
			span.Maria Maria 
			span.Julio Julio 
			span.Josefina Mama 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Josefina Esta es mi madre, la abuela de María.
				div.Josefina Es así un poco…
				div.Josefina Bueno, es muy elegante, pero un poco gorda.
				div.Josefina Esta es María, de pequeña.
				div.Josefina En esta foto está muy, muy gorda.
				div.Josefina Muy, muy gorda.
				div.Julio Ahora es una chica muy delgada y muy guapa.
				div.Josefina Ahora sí, ahora es muy guapa y muy inteligente.
				div.Josefina Pero elegante no es. Es un desastre.
				div.Josefina ¡Ah! El tío Fermín. Él sí que es guapo, el guapo de la familia.
				div.Josefina Muy alto y muy fuerte.
				div.Josefina ¿Tú no eres muy alto, no?
				div.Julio No, la verdad es que no.
				div.Josefina Ya.
				div.Josefina ¿Y dónde vives?
				div.Julio ¿Yo? Vivo en la calle de los...
				div.Josefina Mi padre. Este es mi padre, un hombre maravilloso.
				div.Josefina Los chicos de ahora no son así, ¿eh?
				div.Julio ¿Qué?
				div.Josefina Los chicos de ahora no valen nada.
				div.Julio Pues no sé.
				div.Josefina ¡Mira, mira, Paula y María de pequeñas.
				div.Josefina Paula es la hermana de María, vive en Londres.
				div.Josefina ¡Un encanto de niña!
				div.Josefina Divertida, amable, sexy…
				div.Josefina María no es así.
			div.cell.large-6
				div.Josefina Это моя мама, бабушка Марии.
				div.Josefina Это немного так...
				div.Josefina Ну, она очень элегантная, но немного толстая.
				div.Josefina Это Мария, когда она была маленькой.
				div.Josefina Она очень, очень толстая на этой фотографии.
				div.Josefina Oчень, очень толстая.
				div.Julio Теперь она очень худая и очень красивая девушка.
				div.Josefina Теперь она очень красивая и очень умная.
				div.Josefina Но не элегантна. Это катастрофа.
				div.Josefina О! Дядя Фермин. Он действительно красив, красавчик в семье.
				div.Josefina Очень высокий и очень сильный.
				div.Josefina Ты не очень высокий, не так ли?
				div.Julio Нет, правда нет.
				div.Josefina Да.
				div.Josefina Так где ты живешь?
				div.Julio Я? Я живу на улице...
				div.Josefina Мой отец. Это мой отец, замечательный человек.
				div.Josefina Современные парни не такие, да?
				div.Julio Что?
				div.Josefina Мальчики в наши дни бесполезны.
				div.Julio Ну я не знаю.
				div.Josefina Смотри, смотри, Паула и Мария в детстве
				div.Josefina Паула — сестра Марии, она живет в Лондоне.
				div.Josefina Что за милая девушка!
				div.Josefina Веселая, добрая, сексуальная...
				div.Josefina Мария не такая.