extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 05 — Objetos y acciones cotidianas. Повседневные предметы и действия.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица: 
			span.Maria Maria 
			span.Julio Julio 
		div.grid-x.grid-margin-x
			div.cell.large-6
				div.Julio Esto son mis llaves que sirven para abrir la puerta.
				div.Maria Muy bien.
				div.Julio Muy bien.
				div.Julio Y esto son dos botellas de vino que sirven para estar contentos.
				div.Maria ¿Qué es esto?
				div.Julio Esto es un sofá que sirve para descansar.
				div.Julio Y eso es una televisión.
				div.Julio Y eso es un libro, y un vaso que sirve para beber.
				div.Julio Y ahí está la cocina, y ahí está el cuarto de baño.
				div.Julio Y esto…esto es una ventana que sirve para mirar la luna y las estrellas.
				div.Maria ¿Son estas tus llaves?
				div.Julio Las de la puerta de casa, sí.
				div.Maria Y ordenador, ¿hay un ordenador?
				div.Julio No, no hay un ordenador.
				div.Julio Perdóname, sí que hay un ordenador.
				div.Julio Eres una, eres...
			div.cell.large-6
				div.Julio Это мои ключи, которые используются, чтобы открыть дверь.
				div.Maria Очень хорошо.
				div.Julio Очень хорошо.
				div.Julio А это две бутылки вина, которые служат для счастья.
				div.Maria Что это?
				div.Julio Это диван, который используется для отдыха.
				div.Julio А это телевизор.
				div.Julio А это книга и стакан, из которого можно пить.
				div.Julio Там кухня, а там ванная.
				div.Julio А это... это окно, которое служит для просмотра луны и звезд.
				div.Maria Это твои ключи?
				div.Julio Те, что для входной двери, да.
				div.Maria А компьютер, там есть компьютер?
				div.Julio Нет, нет никакого компьютера.
				div.Julio Прости, тут есть компьютер.
				div.Julio Ты одна, ты...
		div Словарь:
		div.cell.large-12
				div la puerta 
					span.translate дверь. 
					a(href="https://www.collinsdictionary.com/dictionary/spanish-english/puerta") 
						i(class="fa-solid fa-book")
				div la llave 
					span.translate ключ. 
					a(href="https://www.collinsdictionary.com/dictionary/spanish-english/llave") 
						i(class="fa-solid fa-book")
				div el cuarto de baño 
					span.translate ванная комната. 
					a(href="https://www.collinsdictionary.com/dictionary/spanish-english/cuarto-de-baño")  
						i(class="fa-solid fa-book")
				div abrir 
					span.translate открывать. 
					a(href="https://www.collinsdictionary.com/dictionary/spanish-english/abrir") 
						i(class="fa-solid fa-book")
				div servir 
					span.translate служить. 
					a(href="https://www.collinsdictionary.com/dictionary/spanish-english/servir") 
						i(class="fa-solid fa-book")
