extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 12 — Que ropa te pones.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Te levantas, por favor?
				div Y vienes aquí, por favor.
				div ¿Cómo estás?
				div Bien.
				div ¿No me preguntas cómo estoy yo?
				div ¿Cómo estás, Julio?
				div Estoy mal, pero gracias por preguntar.
				div ¿Qué les parece Paul? ¿Les gusta?
				div ¿Les parece guapo?
				div Muy bien, es guapo, es verdad.
				div Gracias.
				div ¿Y yo? Yo no soy tan guapo, ¿verdad?
				div Paul tiene los ojos azules, y yo no.
				div Paul está fuerte.
				div Y yo, en cambio, no estoy tan fuerte.
				div Paul lleva una chaqueta negra, buena.
				div Yo, en cambio, llevo un jersey verde, barato.
				div Paul lleva corbata. Yo no tengo corbatas.
				div A Paul la ropa le queda muy bien.
				div A mí, en cambio, no me queda\Ntan bien la ropa.
				div Paul lleva unos zapatos modernos.
				div Yo en cambio llevo unas\Nzapatillas viejas y blancas.
				div ¿Alguien sabe decirme alguna\Ndiferencia más entre Paul y yo?
				div ¿Paul se afeita?
				div Exacto, muy bien.
				div Los verbos reflexivos son acciones\Ndirigidas a uno mismo.
				div Yo, por ejemplo, me voy a matar.
				div La gente por las mañanas\Nse ducha, se peina.
				div Vosotros os ducháis, os peináis.
				div Yo no, claro.
				div Los pronombres de los verbos reflexivos
				div y los pronombres del complemento\Nindirecto son los mismos.
				div Me gusta, me enamoro.
				div Te gusta, te enamoras.
				div Os gusta, os enamoráis.
				div Menos en la tercera persona.
				div No le gusta, no se enamora.
				div Porque si no le gusta,\N¿por qué se va a enamorar? ¿Eh?
				div ¿Qué pasa?
				div ¡Ven, ven!
				div ¡No!
