extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Эпизод 3. Nacionalidades.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица: 

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Bueno, buenas noches.
				div Buenas noches, Josefina.
				div Monedas. Monedas, por favor.
				div ¿De dónde eres?
				div ¿Cómo?
				div ¿De dónde eres? ¿De qué país?
				div ¡Ah! Yo soy Argelia.
				div No. “Yo soy de Argelia”. Eres argelina.
				div Chica, argelina. Chico, argelino.
				div Mira: alemán, alemana; portugués,
				div portuguesa; colombiano, colombiana.
				div Julio. Se dice argelina, ¿no? De Argelia, argelino.
				div O argelina, sí. Buenas noches.
				div Buenas noches.
				div Habla bastante bien español.
				div No hablo mucho, pero entiendo un poco.
				div El dinero.
				div ¿Habla usted francés? ¡Qué maravilla! Tres idiomas, ¿no? Árabe, francés y español.
				div El dinero.
				div ¿Qué dinero?
				div Yo no tengo. Un momento. ¡María, dinero!
				div Qué maravilla el norte de África, ¿no? ¡El Magreb!
				div Hola.
				div Espera, tengo monedas.
				div Aquí tiene.
			div.cell.large-6 



