extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 22 — Internet.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Es alto.
				div ¿Alto?
				div Tiene la pierna larga.
				div ¡De casi cuatro centímetros!
				div ¡Un gigante!
				div Y tiene cara de listo.
				div Francamente, yo prefiero una buena persona.
				div ¿Es que no hay ninguna persona inteligente y buena?
				div Algunos sí. Seguro que él va a ser muy inteligente y muy bueno.
				div Hola, buenos días. Vengo a arreglar el mundo,
				div ¿dónde puedo dejar mi currículum?
				div ¿Me puede dar una dirección de email?
				div Por supuesto.
				div Bueno guión muy bueno arroba inteligentes punto com.
				div ¿Guión medio o guión bajo?
				div Guión bajo
				div Buenas noches y bienvenidos a Hombres Ilustres.
				div ¿Es usted Leonardo González Amador?
				div Sí, soy yo.
				div Pero no me hables de usted, tutéame por favor.
				div ¿Eres el famoso artista, el pintor que acaba de exponer en Nueva York, París, Londres y Shangai?
				div No me gusta presumir.
				div Porque soy listo y rico, pero también humilde.
				div Sin duda eres el mejor,
				div el más interesante ser humano que ha nacido en este planeta.
				div Sí. Efectivamente, así soy yo.
				div Y quiero a mi madre por encima de todas las cosas.
				div Mira, le han escrito.
				div Estimado Leonardo González,
				div le escribo para comunicarle que acaba usted
				div de ganar el premio Nobel de Física de este año por su trabajo.
				div Le pedimos que, por favor,
				div no se lo comente a nadie, especialmente a su madre.
				div No podemos invitar a neuróticas a Estocolmo.
				div Necesitamos estar tranquilos.
				div Un saludo, Günter Stromheddensson.
				div No te rías de la madre de tu hijo.
				div Eres el peor marido del mundo.
				div Y tú la mejor mujer del mundo.
				div Y nuestro hijo, el mejor abogado.
				div El mejor escritor.
				div El mejor médico.
				div El mejor veterinario.
				div Ingeniero. Tiene un poco cara de ingeniero.
				div El mejor pianista. Tiene manos de pianista.
				div Chef.
				div Arqueólogo.
