extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 26 — Los estudios y los recuerdos.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div Yo quería hacer Filosofía,
				div pero mi padre decía que era una carrera sin salidas.
				div Es preciosa… la carrera de Filosofía.
				div Todas son bonitas a su manera. ¿No?
				div Derecho puede ser muy bonita.
				div Al final hice Arquitectura. Ya lo sabes.
				div Se me daba bien el dibujo, mi padre era arquitecto...
				div Pero me arrepentí en seguida.
				div Y todavía me arrepiento.
				div Pero te fue bien.
				div ¿No? ¿No estás contenta?
				div Es que lo peor que te puede pasar es arrepentirte de las cosas que no hiciste en su momento.
				div Y yo me arrepentí mucho de romper contigo.
				div Estábamos en el instituto, éramos jóvenes… No sé.
				div ¿Te acuerdas de cómo me ayudabas con la Literatura, con las Matemáticas?
				div Se te daba muy bien.
				div Siempre fuiste muy buena estudiante.
				div ¿En casa de mis padres, cómo aprovechábamos el tiempo?
				div Nos besábamos, de eso me acuerdo.
				div Parecía que estudiábamos,
				div pero nos lo pasábamos muy bien juntos.
				div Es que era verano, hacía calor…
				div Perdona, ha sonado el móvil.
				div No ha sonado el móvil.
				div No. Es por los nervios.
				div Es que, como mi chica está embarazada de ocho meses,
				div pues tengo que estar pendiente del móvil.
				div ¿Te acuerdas de la Selectividad?
				div Estudiábamos todo el día.
				div Y yo saqué un siete, que no está tan mal.
				div Yo un cinco y medio.
				div Ahora sí que ha sonado.
				div Que, no ha sonado nada.
				div Perdona, pero voy a llamar yo porque me preocupa un poco.
				div Amor mío, soy yo. Bien, bien...
				div Compré la ropita.
				div Sí, es que me he encontrado con un amigo.
				div Claro, voy para casa ya.
				div ¿Julio?
				div ¿Sandra? Esto es el baño de hombres.
				div Sal del váter. No hagas el idiota.
				div No pasa nada, es que estoy en un bar con mucho ruido.
				div Ahora voy para casa.
				div ¡Julio! ¡Déjame entrar!
				div Estoy hablando por teléfono, por favor...
				div No estás hablando con nadie.
				div ¡Que te veo por la rendija!
				div ¡Hazme el favor! ¡Abre la puerta!
				div Que no, que estabas muy loca en el instituto y estás muy loca ahora.
				div Tú y yo tuvimos una relación preciosa.
				div Éramos uña y carne, ¿qué nos pasó?
				div ¿Me querías entonces?
				div ¿Me quisiste alguna vez?
				div ¡Ah! ¡Seguridad! ¡Alguien!
