extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 18 — No me encuentro bien.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Has visto el nuevo jabón que han traído?
				div Es buenísimo y muy barato.
				div Solo cuesta cuatro con sesenta euros.
				div Hola
				div Buenos días. Dígame.
				div Estan ustedes antes que yo, ¿no?
				div No, por nosotras no se preocupe.
				div Dígame.
				div Yo quiero...
				div ¿No es usted la hija de Carmen?
				div Sí, sí.
				div Déle un beso muy fuerte a su madre.
				div De su parte.
				div Un encanto su madre.
				div Es la hija de Carmen.
				div ¡Carmen es tu madre! ¿Qué haces aquí?
				div Vivo cerca y… Bueno, no me siento muy bien.
				div ¡Uy, pobre! ¿Pero qué tienes?
				div ¿Un constipado?
				div Estoy un poco mareada, me cuesta respirar.
				div Eso es gripe. Yo estoy fatal.
				div ¿Sabes quién es esta?
				div Es María, la hija pequeña de Carmen.
				div Tu madre es un encanto.
				div ¿Y en qué le puedo ayudar?
				div Me duele mucho la cabeza.
				div Tienes la cara roja. ¿Fiebre?
				div Sí, es posible.
				div Puede ser gripe.
				div Es posible, sí. Estoy muy cansada.
				div Es normal. Te voy a dar paracetamol.
				div Un gramo al día y bebe mucha agua.
				div Es que, además…
				div Sí
				div Además…
				div Además.
				div Me duele un poco el estómago, también.
				div ¿Diarrea?
				div No, no, eso no, de momento no.
				div Pero entonces tienes que ir a ver a un médico.
				div Son dos cuarenta.
				div No, espere. Yo en realidad no quiero…
				div Lo único que necesito… Yo quiero…
				div Quiero una prueba de embarazo.
				div Claro, por supuesto.
				div ¡Cómo me alegro!
				div Además, estás estupenda.
				div Tienes un aspecto buenísimo.
				div Tu madre se va a llevar una alegría enorme.
				div ¿Sí o no?
				div Guapísima.
				div Pero ten cuidado con los mareos, ¿eh?
				div Pero es el principio, después ya pasa.
				div La tripita, ¡ay qué mona!
