extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 29 — Campo o ciudad.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¿Cómo está?
				div Está dormido.
				div Déjamelo, y tú descansa un poco.
				div Yo estoy bien, de verdad.
				div Entonces déjamelo porque soy su abuela.
				div ¿Dónde está mi nieto?
				div Qué rápido habéis aparcado.
				div Por no perder tiempo, Gustavo lo ha dejado en prohibido.
				div Déjamelo un poco… Porque me lo voy a comer.
				div Qué raro, ¿no?
				div Que para dar ternura, usemos siempre palabras salvajes.
				div Es muy español, creo yo.
				div Yo también lo quiero coger,
				div que todavía no lo conozco.
				div ¿María ha salido?
				div No. ¿Por qué?
				div Porque no la veo por ninguna parte.
				div ¿María? ¿María?
				div Aquí
				div ¿Por qué no nos vamos a vivir al campo?
				div A un pueblo pequeño, con animales y plantas
				div y árboles y bosques y vecinos con boina.
				div No podemos irnos a un pueblo para escapar de la familia.
				div ¿No podemos?
				div Es mucho más barato.
				div Y además el niño necesita el aire puro de las montañas.
				div Hay que tener paciencia.
				div ¿Por qué hay que tener paciencia?
				div Porque imagínate que, algún día, somos abuelos.
				div Ese día vamos a querer que nuestro hijo\Ntenga la misma paciencia con nosotros.
				div Venga, vamos.
				div No quiero más consejos.
				div Si es que ahora los jóvenes no están\Npreparados para afrontar nada, ¿eh?
				div Completamente de acuerdo:
				div mucho estudiar, mucho prepararse, ¿para qué?
				div A lo mejor no es mala idea.
				div ¿El qué?
				div Irnos a vivir al campo.
				div Podemos llevar una vida más sana.
				div Aquí en la ciudad hay mucha polución.
				div Y todo es industrial, hasta la comida.
				div Y un pueblo es más barato.
