extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 13 — En el mercado.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div ¡Julio!
				div ¿Cómo estás?
				div Muy bien, muy bien, muy bien.
				div No tienes muy buen aspecto.
				div Estoy enfermo.
				div Estoy enfermo, por eso\Nno voy a la academia.
				div Ya. Tienes que cuidarte.
				div Eso intento.
				div Vitamina C, es muy buena, buenísima.
				div Una cebolla.
				div Es…
				div Intento seguir una dieta mediterránea,\Nuna dieta sana para estar fuerte.
				div Ya.
				div Y una lata de atún.
				div Es importante comer pescado.
				div No soy vegetariano, no como mucha carne.\NMe gusta cuidarme.
				div Y seis tabletas de chocolate.
				div Es una oferta, son baratas.
				div Hay que saber dónde comprar.
				div Te recomiendo las manzanas.
				div Son baratas y son muy buenas.
				div ¿Cuántas quieres, un kilo?
				div Un kilo está bien. ¿Son caras?
				div No son caras, son baratas.
				div Naranjas, plátanos, algo de verdura.
				div Tienes que comer algo de verdura.
				div ¿Cuánto cuestan los tomates?
				div Dos con veinte el kilo.
				div Te vas a llevar un kilo de\Ntomates y una lechuga.
				div Te quiero.
				div Nos falta pasar por la carnicería:\Npollo, ternera, carne picada…
				div Te quiero.
				div ¿Dónde venden pescado fresco?
				div Quiero pasar mi vida contigo.
				div Es cursi, pero es la verdad.
				div ¿Por qué? No lo sé.
				div Para tener hijos, para discutir en IKEA.
				div ¿Cuánto tiempo? Pues no lo sé.
				div A lo mejor son diez minutos,
				div pero van a ser los diez mejores\Nminutos de mi vida.
				div Quiero ser el abuelo de tus nietos.
				div Y huevos y leche.
				div Y pan. El pan integral es el mejor.
				div Te quiero.
				div ¿Dónde venden pescado fresco?
				div Ahí hay una pescadería.
