extends ../layouts/html_layout.jade

block title
	title= site_title + ' Испанский язык' 

block content
	h2.text-center Испанский язык 
		span.h4.subheader видео
	article.grid-container
		h2 Capitulo 17 — Deportes y estados animicos.
		h3 Сцена 
			span.h3.subheader: strong 1
		div Действующие лица:

		div.grid-x.grid-margin-x
			div.cell.large-6
				div El álbum de fotos de la academia.
				div ¿Qué pasa?
				div Nada, nada.
				div Tienes ganas de organizarlo y me parece muy bien.
				div ¿Qué te pasa? ¿Estás aburrido?
				div No, no, no... En realidad sí estoy un poco aburrido.
				div ¿Estas fotos son las del año pasado?
				div No lo sé.
				div Julio triste, Julio cansado, Julio de mal humor.
				div Son fotos del año pasado.
				div Le viene bien salir con esa chica.
				div ¿María? Una suerte increíble.
				div Ahora Julio está mucho más alegre, más positivo.
				div María siempre está de buen humor.
				div Yo no sé por qué, pero así es.
				div Los dos... Los dos están felices.
				div Están felices juntos. Son una pareja feliz.
				div Sí que lo son.
				div Se divierten juntos, sonríen, tienen cosas en común.
				div Bueno, son profesores.
				div No, no, y más cosas.
				div Les gusta hacer deporte, por ejemplo.
				div A pocas chicas les gusta el fútbol.
				div Cada vez hay más chicas que ven fútbol.
				div ¿A ti te gusta mucho el fútbol?
				div Me gusta más el tenis.
				div A mí me encanta el tenis.
				div Me gusta verlo, pero tengo ganas de aprender a jugar.
				div Devolver la pelota...
				div Yo puedo enseñarte a jugar al tenis de mesa, al ping-pong.
				div ¡Ay! Hace mucho que no juego al ping-pong.
				div Lo echo de menos.
				div Poder estar con alguien, sencillamente, sin decirse nada.
				div ¡Ay! A mí me parece maravilloso.
				div Entenderse con un gesto, un detalle...
				div No hace falta decirse nada.
				div Qué envidia me dan.
				div Si tengo ganas de llorar y todo. ¡Ay!
				div Tener ganas de estar juntos, contarse cosas, confiar el uno en el otro...
				div Tengo mucha envidia de Julio y de María.
				div A mí también me dan envidia.
