extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script
		| var answers = [
		| /*01*/ "Doy", 
		| /*02*/ "va", 
		| /*03*/ "Da", 
		| /*04*/ "ponen", 
		| /*05*/ "Pongo", 
		| /*06*/ "hacen", 
		| /*07*/ "sabe", 
		| /*08*/ "huyen",
		| /*09*/ "Traduzco",
		|];

		include ../js/check_test.js

block content 
	// Aragones A1-B2 50.1
	h2.text-center Испанский язык
	article.grid-container
		div Задание. Дополните фразы подходящими глаголами из списка ниже в правильной форме:
		div ú é í ó á ñ ü ¿
		div Список:
		table(class="table-test")
			tbody
				tr
					td dar 
					td 
						span.translate давать
				tr
					td dar
					td
						span.translate давать
				tr
					td hacer
					td 
						span.translate делать
				tr
					td huir 
					td 
						span.translate бежать 
				tr 
					td ir
					td
						span.translate идти
				tr 
					td poner 
					td 
						span.translate помещать 
				tr 
					td poner 
					td 
						span.translate помещать 
				tr
					td saber
					td 
						span.translate знать, уметь
				tr
					td <s>saber</s>
					td 
						span.translate знать, уметь
				tr
					td traducir
					td 
						span.translate переводить 
		div Подсказка: все глаголы неправильные
		div Пример. Guillermo no <u>sabe</u> nadar. 
		ol
			li Soy profesor. 
				input(id = "question0")
				|&nbsp;clases de Filosofía.
			li Mi familia 
				input(id = "question1")
				|&nbsp;a Punta del Este todos los veranos.
			li Julia es profesora. 
				input(id = "question2")
				|&nbsp;clases de Biología.
			li Las cigüeñas 
				input(id = "question3")
				|&nbsp;sus nidos en lugares altos.
			li (yo) 
				input(id = "question4")
				|&nbsp;la radio cuando me despierto.
			li Mis padres 
				input(id = "question5")
				|&nbsp;un viaje todos los años.
			li Marta no 
				input(id = "question6")
				|&nbsp;esquiar.
			li La mayoría de animales 
				input(id = "question7")
				|&nbsp;cuando hay peligro.
			li Soy traductor. 
				input(id = "question8")
				|&nbsp;libros del francés al español.
		div
			input( class="button" onclick = "test()" value = "Проверить")
			input( class="button" onclick = "myclear()" value = "Очистить")
		div esquiar 
			span.translate горнолыжный спорт
