extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script(type = "text/javascript")
		| var answers = [	/*1*/ 	"la", 		/*2*/	"el", 		/*3*/	"los", 		/*4*/	"los", 		/*5*/	"los", 		/*6*/	"la", 		];
		include ../js/check_test.js

block content

	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		div Задание. Дополните <b>определенным</b> артиклем.:
		table(class="table-test")
			tbody
				tr 
					td ¿Qué tal
					td: input(id = "question0" value="")
					td vida?
				tr 
					td ¿Qué tal
					td: input(id = "question1" value="")
					td trabajo?
				tr 
					td ¿Qué tal
					td: input(id = "question2" value="")
					td hijos?
				tr 
					td ¿Qué tal
					td: input(id = "question3" value="")
					td padres?
				tr 
					td ¿Qué tal
					td: input(id = "question4" value="")
					td estudios?
				tr 
					td ¿Qué tal
					td: input( id = "question5" value="")
					td familia? 
				tr
					td(colspan=3) 
						input( class="button" onclick = "test()" value = "Проверить")
						input( class="button" onclick = "myclear()" value = "Очистить")
