body {
  font-family: 'Exo 2', 'Arimo', 'Roboto', sans-serif;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3{
	/*font-family: 'Neucha', cursive;*/
	text-align: center;
	font-family: 'Roboto', sans-serif;	
}
a {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
}

.auction{
	font-family: 'Roboto', sans-serif;
	/*font-size: 12px;*/
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border:2px solid black;
	margin-top: 5px;
}
.auction tr{
	height: 30px;
	margin: auto;
}
.auction td{
	margin: auto;
	border: 1px solid black;
}

.minitable {
	border-collapse: collapse;
	text-align: center;
	border:2px solid black;
	margin-top: 5px;
}
.minitable th {
	border: 1px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
}

.minitable td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

/*
a[href^="https"]::before {
  content: "\<i class="fas fa-external-link-alt"\>\<\/i\>";
}
*/
.simple{
	list-style-type: none;	
}

.bidding ul{
	list-style-type: circle;
}

.hand{
	border: 0px;
}

.hand tr{
	height: 35px;
}

.hand td{
	width: 20px;
}



.red_card{
	color: #e11;
}

.hcp{
	color: white;
	background-color: blue;
	border:1px solid black;
	margin: 5px;
}

.span1{
	color: white;
	background-color: #e11;
	border:1px solid black;
}

.span2{
	color: black;
	/*background-color: grey;*/
	border:1px solid black;
}

.span3{
	color: white;
	background-color: grey;
	border:1px solid black;
}

.cards_small {
	position: absolute;
	width:90px;
	height:135px;
	clip: rect(0px,20px,35px,0px); /* rect (top, right, bottom, left) */
}

.cards_big {
	position: absolute;
	width:90px;
	height:135px;
	clip: rect(0px,90px,35px,0px); /* rect (top, right, bottom, left) */
}


.avatar img {
	height: 30px; 
	width: 30px;
}
.list__tile__content
{
	/*background-color: blue;*/
	height: 42px;
}

.list__tile a{
	/*background-color: red;*/
	height: 42px;	
}
.list__tile--link {
	/*background-color: green;*/
	height: 42px;	
}
.list__tile--avatar {
	/*background-color: grey;*/
	height: 42px;
}

.list--two-line .list__tile {
	height: 42px;
}

.example{
	display: none;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ul { 
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ol>li{
display:block;
}

ol>li:before{
content:counters(item,".") ". ";
counter-increment:item
}
ol{
counter-reset:item
}

.pcard{
	width: 40px;
}
/*
<a class="list__tile list__tile--link list__tile--avatar">
<div class="list__tile__avatar">
<div class="avatar" style="height: 40px; width: 40px;"><img src="images/rutracker.ico"></div></div> <div class="list__tile__content"><div class="list__tile__title">rutracker</div> <div class="list__tile__sub-title caption"><span class="text--primary">rutracker.org</span></div></div></a>