extends ../layouts/html_layout.jade

block title
	title= site_title + " Спортивная стрельба. Ссылки"

block content
	div.row: div.large-12.columns: h1 Спортивная стрельба. Ссылки
	div.row: div.large-12.columns
		ol
			li Федерации, клубы
				ol
					li: a(href="http://ipsc.ru") Федерация практической стрельбы России
					li: a(href="http://ipsc-msk.ru/index.php") I.P.S.C. Москва
					li: a(href="http://ipsc-nw.spb.ru") I.P.S.C. Северо-Запад       
					li: a(href="http://www.tirspb.ru") Балтийский стрекловый центр
					li: a(href="http://www.fsc.su") Французский стрелковый клуб. г. Мытищи
					li: a(href="http://ipsc-club.spb.ru") I.P.S.C. клуб
					li: a(href="http://www.sporting-bars.ru") Спортивно-стрелковый клуб "Невский"

			li Инструментарий
				ol
					li 
						a(href="http://www.makeready.ru") MakeReady.ru 
						|- Система организации и анализа соревнований по стрельбе
					li: a(href="http://scoresheet.ru") Система проведения спортивных событий
