extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script
		include ../js/dic_base.js 
		
block content
	h2.text-center Испанский язык 
		span.h4.subheader словарь
	article.grid-container
		h3.text-center Море. Океан.
		div(id="myITable") 
block footer
	script
		include ../js/createITable.js
	script
		| tableInfoCreate("sea");