extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	h2.text-center Испанский язык
	article.grid-container
		h3 Словарь. К базовому курсу по историям
		h5 День 13.
		table(class="table-test")
			tbody
				tr 
					td mientras 
					td 
						span.translate в то время, как | пока | одновременно с
				tr
					td el sonido 
					td 
						span.translate звук | звучание 
				tr
					td agradable 
					td 
						span.translate приятный
				tr
					td tampoco 
					td 
						span.translate также не
				tr
					td porque 
					td 
						span.translate потому что
				tr
					td ¿Por qué? 
					td 
						span.translate Почему?
				tr
					td ayer 
					td 
						span.translate вчера
				tr
					td pienso que 
					td 
						span.translate думаю | по-моему | считаю
				