extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Глаголы - 1
		table(class="table-test")
			tbody
				tr 
					td бежать 
					td correr (vi) 
					td [ko'rer]
				tr 
					td бояться 
					td tener miedo 
					td [te'ner 'mjeðo]
				tr 
					td брать 
					td tomar (vt) 
					td [to'mar]
				tr 
					td быть (в настоящий момент) 
					td estar (vi) 
					td [es'tar]
				tr 
					td быть (всегда) 
					td ser (vi) 
					td [ser]
				tr 
					td видеть 
					td ver (vt) 
					td [ber]
				tr 
					td владеть 
					td poseer (vt) 
					td [pose'er]
				tr 
					td возражать 
					td objetar (vt) 
					td [oβχe'tar]
				tr 
					td входить (в комнату и т.п.) 
					td entrar (vi) 
					td [en'trar]
				tr 
					td выбирать 
					td escoger (vt) 
					td [esko'χer]
				tr 
					td выходить (из дома) 
					td salir (vi) 
					td [sa'lir]
				tr 
					td говорить (разговаривать) 
					td hablar (vi, vt) 
					td [a'βlʲar]
				tr 
					td готовить (обед) 
					td preparar (vt) 
					td [prepa'rar]
				tr 
					td давать 
					td dar (vt) 
					td [dar]
				tr 
					td делать 
					td hacer (vt) 
					td [a'θer]
				tr 
					td доверять 
					td confiar (vt) 
					td [koɱ'fjar]
				tr 
					td думать 
					td pensar (vi, vt) 
					td [pen'sar]
				tr 
					td жаловаться 
					td quejarse (vr) 
					td [ke'χarse]
				tr 
					td ждать 
					td esperar (vt) 
					td [espe'rar]
				tr 
					td забывать 
					td olvidar (vt) 
					td [olʲβi'ðar]
				tr 
					td завтракать 
					td desayunar (vi) 
					td [desaju'nar]
				tr 
					td заказывать 
					td pedir (vt) 
					td [pe'ðir]
				tr 
					td заканчивать 
					td acabar, terminar (vt) 
					td [aka'βar], [termi'nar]
				tr 
					td замечать (увидеть) 
					td percibir (vt) 
					td [perθi'βir]
				tr 
					td записывать 
					td tomar nota 
					td [to'mar 'nota]
				tr 
					td защищать (страну) 
					td defender (vt) 
					td [ðefen'der]
				tr 
					td звать (на помощь и т.п.) 
					td llamar (vt) 
					td [ja'mar]
				tr 
					td знать (кого-л.) 
					td conocer (vt) 
					td [kono'θer]
				tr 
					td знать (что-л.) 
					td saber (vt) 
					td [sa'βer]
				tr 
					td играть 
					td jugar (vi) 
					td [χu'ɣar]
				tr 
					td идти 
					td ir (vi) 
					td [ir]
				tr 
					td извинять 
					td disculpar (vt) 
					td [diskulʲ'par]
				tr 
					td изменить (поменять) 
					td cambiar (vt) 
					td [kam'bjar]
				tr 
					td изучать 
					td estudiar (vt) 
					td [estu'ðjar]
				tr 
					td иметь 
					td tener (vt) 
					td [te'ner]
				tr 
					td интересоваться 
					td interesarse (vr) 
					td [intere'sarse]
				tr 
					td информировать 
					td informar (vt) 
					td [iɱfor'mar]
				tr 
					td искать … 
					td buscar (vt) 
					td [bus'kar] 