extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Словарь. Цвета
		table(class="table-test")
			tbody
				tr 
					td цвет 
					td el color 
					td [ko'lor]
				tr 
					td оттенок 
					td el matiz 
					td [ma'tiθ]
				tr 
					td тон 
					td el tono 
					td ['tono]
				tr 
					td радуга 
					td el arco iris
					td ['arko 'iris]
				tr 
					td белый 
					td blanco (adj) 
					td ['blʲaŋko]
				tr 
					td чёрный 
					td negro (adj) 
					td ['neɣro]
				tr 
					td серый 
					td gris (adj) 
					td ['ɡris]
				tr 
					td зелёный 
					td verde (adj) 
					td ['berðe]
				tr 
					td жёлтый 
					td amarillo (adj) 
					td [ama'rijo]
				tr 
					td красный 
					td rojo (adj) 
					td ['roχo]
				tr 
					td синий 
					td azul (adj) 
					td [a'θulʲ]
				tr 
					td голубой 
					td azul claro (adj) 
					td [a'θulʲ 'klʲaro]
				tr 
					td розовый 
					td rosa (adj) 
					td ['rosa]
				tr 
					td оранжевый 
					td naranja (adj) 
					td [na'ranχa]
				tr 
					td фиолетовый 
					td violeta (adj) 
					td [bio'leta]
				tr 
					td коричневый 
					td marrón (adj) 
					td [ma'ron]
				tr 
					td золотой 
					td dorado (adj) 
					td [do'raðo]
				tr 
					td серебристый 
					td argentado (adj) 
					td [arχen'taðo]
				tr 
					td бежевый 
					td beige (adj) 
					td ['bejs]
				tr 
					td кремовый 
					td crema (adj) 
					td ['krema]
				tr 
					td бирюзовый 
					td turquesa (adj) 
					td [tur'kesa]
				tr 
					td вишнёвый 
					td rojo cereza (adj) 
					td ['roχo θe'reθa]
				tr 
					td лиловый 
					td lila (adj) 
					td ['lilʲa]
				tr 
					td малиновый 
					td carmesí (adj) 
					td [karme'si]
				tr 
					td светлый 
					td claro (adj) 
					td ['klʲaro]
				tr 
					td тёмный 
					td oscuro (adj) 
					td [os'kuro]
				tr 
					td яркий 
					td vivo (adj) 
					td ['biβo]
				tr 
					td цветной (карандаш) 
					td de color (adj) 
					td [de ko'lor]
				tr 
					td цветной (фильм) 
					td en colores (adj) 
					td [en ko'lores]
				tr 
					td чёрно-белый 
					td blanco y negro (adj) 
					td ['blʲaŋko i 'neɣro]
				tr 
					td одноцветный 
					td unicolor (adj) 
					td [uniko'lor]
				tr 
					td разноцветный 
					td multicolor (adj) 
					td [mulʲtiko'lor]
