extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script
		include ../js/dic_base.js
		
block content
	h2.text-center Испанский язык 
		span.h4.subheader тесты
	article.grid-container
		h3.text-center Тест. Море. Океан.
		div.text-center á é í ó ú ñ
		div(id="myQTable")

block footer
	script
		include ../js/createQTable.js
		| tableQCreate("sea")