extends ../layouts/html_layout.jade

block title
	title= site_title + " Испанский язык"
	script(type = "text/javascript")
		| var answers = [
		| /*01*/ "", 
		| /*02*/ "", 
		| /*03*/ "", 
		| /*04*/ "", 
		| /*05*/ "", 
		| /*06*/ "",
		| /*07*/ "", 
		| /*08*/ "", 
		| /*09*/ "", 
		| /*10*/ "", 
		| /*11*/ "", 
		| /*12*/ "",
		| /*13*/ "", 
		| /*14*/ "", 
		| /*15*/ "", 
		| /*16*/ "",
		| /*17*/ "", 
		| /*18*/ "", 
		| /*19*/ "", 
		| /*20*/ "", 
		| /*21*/ "", 
		| /*22*/ "", 
		| /*23*/ "", 
		| /*24*/ "", 
		| /*25*/ "", 
		| /*26*/ "", 
		| /*27*/ "", 
		| /*28*/ "", 
		| /*29*/ "", 
		| /*30*/ "", 
		| /*31*/ "", 
		| /*32*/ "", 
		| /*33*/ "", 
		| /*34*/ "", 
		| /*35*/ "", 
		| /*36*/ "", 
		| /*37*/ "", 
		| /*38*/ "", 
		| /*39*/ "", 
		| /*40*/ "", 
		| /*41*/ "", 
		| /*42*/ "", 
		| /*43*/ "", 
		| /*44*/ "", 
		| /*45*/ "", 
		| /*46*/ "", 
		| /*47*/ "", 
		| /*48*/ "", 
		| /*49*/ "", 
		| /*50*/ "", 
		|];
		include ../js/check_test.js 
		
block content
	div.row: div.large-12.columns: h2 Испанский язык
	div.row: div.large-12.columns
		h3 Тест. Цвета.
		table(class="table-test")
			tbody
				tr 
					td цвет 
					td el color 
				tr 
					td оттенок 
					td el matiz 
				tr 
					td тон 
					td el tono 
				tr 
					td радуга 
					td el arco iris
				tr 
					td белый 
					td blanco (adj) 
				tr 
					td чёрный 
					td negro (adj) 
				tr 
					td серый 
					td gris (adj) 
				tr 
					td зелёный 
					td verde (adj) 
				tr 
					td жёлтый 
					td amarillo (adj) 
				tr 
					td красный 
					td rojo (adj) 
				tr 
					td синий 
					td azul (adj) 
				tr 
					td голубой 
					td azul claro (adj) 
				tr 
					td розовый 
					td rosa (adj) 
				tr 
					td оранжевый 
					td naranja (adj) 
				tr 
					td фиолетовый 
					td violeta (adj) 
				tr 
					td коричневый 
					td marrón (adj) 
				tr 
					td золотой 
					td dorado (adj) 
				tr 
					td серебристый 
					td argentado (adj) 
				tr 
					td бежевый 
					td beige (adj) 
				tr 
					td кремовый 
					td crema (adj) 
				tr 
					td бирюзовый 
					td turquesa (adj) 
				tr 
					td вишнёвый 
					td rojo cereza (adj) 
				tr 
					td лиловый 
					td lila (adj) 
				tr 
					td малиновый 
					td carmesí (adj) 
				tr 
					td светлый 
					td claro (adj) 
				tr 
					td тёмный 
					td oscuro (adj) 
				tr 
					td яркий 
					td vivo (adj) 
				tr 
					td цветной (карандаш) 
					td de color (adj) 
				tr 
					td цветной (фильм) 
					td en colores (adj) 
				tr 
					td чёрно-белый 
					td blanco y negro (adj) 
				tr 
					td одноцветный 
					td unicolor (adj) 
				tr 
					td разноцветный 
					td multicolor (adj) 
